Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-09, with the labels that each got.

#4973 Test: Remove Leftover Statistics-Tab
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
Labels: bugfix, php

#4974 Test: Remove Leftover Statistics-Tab
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
Labels: bugfix, php

#4977 T&A, #33771: add JS lately
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/TestQuestionPool/classes/class.assOrderingHorizontalGUI.php
  Modules/TestQuestionPool/classes/class.assOrderingQuestion.php
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_orderinghorizontal_output.html
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_orderinghorizontal_preview.html
Labels: bugfix

#4985 T&A, 33936: set thumb_geometry on changing to picture-mode
  Modules/TestQuestionPool/classes/class.assOrderingQuestion.php
Labels: bugfix

#4988 GlobalScreen/NotificationCenter: Fix 404 error when closing contact request notification
  src/GlobalScreen/Client/Notifications.php
  tests/GlobalScreen/Notification/Collector/Renderer/StandardNotificationRendererTest.php
Labels: bugfix, php

#4879 Make Previous Answers appear in Test with Manually Selected Pax
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#4991 Fix Error on Incomplete Gap Combination
  Modules/TestQuestionPool/templates/default/cloze_gap_builder.js
Labels: bugfix, php

#4992 Fix Error on Incomplete Gap Combination
  Modules/TestQuestionPool/templates/default/cloze_gap_builder.js
Labels: bugfix, php

#4978 Forum: Apply rectors
  Modules/Forum/classes/Actions/class.ilForumAutoSaveAsyncDraftAction.php
  Modules/Forum/classes/CoPage/class.ilForumPageCommandForwarder.php
  Modules/Forum/classes/CoPage/class.ilForumPageGUI.php
  Modules/Forum/classes/GUI/class.ilForumThreadFormGUI.php
  Modules/Forum/classes/Notification/class.ilForumCronNotificationDataProvider.php
  Modules/Forum/classes/Notification/class.ilForumMailEventNotificationSender.php
  Modules/Forum/classes/Notification/class.ilForumNotification.php
  Modules/Forum/classes/Notification/class.ilForumNotificationCache.php
  Modules/Forum/classes/Notification/class.ilForumNotificationDataProvider.php
  Modules/Forum/classes/Notification/class.ilForumNotificationEventsFormGUI.php
  Modules/Forum/classes/Notification/class.ilForumNotificationTableGUI.php
  Modules/Forum/classes/Purifier/class.ilHtmlForumPostPurifier.php
  Modules/Forum/classes/Tasks/class.ilForumDerivedTaskProviderFactory.php
  Modules/Forum/classes/Tasks/class.ilForumDraftsDerivedTaskProvider.php
  Modules/Forum/classes/class.ilFileDataForum.php
  Modules/Forum/classes/class.ilFileDataForumDrafts.php
  Modules/Forum/classes/class.ilForum.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
  Modules/Forum/classes/class.ilForumAuthorInformation.php
  Modules/Forum/classes/class.ilForumAuthorInformationCache.php
  Modules/Forum/classes/class.ilForumCronNotification.php
  Modules/Forum/classes/class.ilForumDraftsHistory.php
  Modules/Forum/classes/class.ilForumDraftsTableGUI.php
  Modules/Forum/classes/class.ilForumExplorerGUI.php
  Modules/Forum/classes/class.ilForumExportGUI.php
  Modules/Forum/classes/class.ilForumExporter.php
  Modules/Forum/classes/class.ilForumImporter.php
  Modules/Forum/classes/class.ilForumLP.php
  Modules/Forum/classes/class.ilForumMailNotification.php
  Modules/Forum/classes/class.ilForumModerators.php
  Modules/Forum/classes/class.ilForumModeratorsGUI.php
  Modules/Forum/classes/class.ilForumPost.php
  Modules/Forum/classes/class.ilForumProperties.php
  Modules/Forum/classes/class.ilForumSettingsGUI.php
  Modules/Forum/classes/class.ilForumStatisticsTableGUI.php
  Modules/Forum/classes/class.ilForumThreadSettingsSessionStorage.php
  Modules/Forum/classes/class.ilForumTopic.php
  Modules/Forum/classes/class.ilForumTopicTableGUI.php
  Modules/Forum/classes/class.ilForumXMLParser.php
  Modules/Forum/classes/class.ilForumXMLWriter.php
  Modules/Forum/classes/class.ilObjForum.php
  Modules/Forum/classes/class.ilObjForumAccess.php
  Modules/Forum/classes/class.ilObjForumAdministrationGUI.php
  Modules/Forum/classes/class.ilObjForumGUI.php
  Modules/Forum/classes/class.ilObjForumListGUI.php
  Modules/Forum/test/ForumNotificationCacheTest.php
  Modules/Forum/test/bootstrap.php
  Modules/Forum/test/ilForumTopicTest.php
  Modules/Forum/test/ilModulesForumSuite.php
  Modules/Forum/test/ilObjForumAdministrationTest.php
Labels: improvement, php

#4981 Fix/0034118/8/remove file german
  libs/bower/bower.json
  libs/bower/bower_components/dropzone/.bower.json
  libs/bower/bower_components/dropzone/bower.json
  libs/bower/bower_components/dropzone/dist/basic.css
  libs/bower/bower_components/dropzone/dist/dropzone-amd-module.js
  libs/bower/bower_components/dropzone/dist/dropzone.css
  libs/bower/bower_components/dropzone/dist/dropzone.js
  libs/bower/bower_components/dropzone/dist/min/basic.min.css
  libs/bower/bower_components/dropzone/dist/min/dropzone-amd-module.min.js
  libs/bower/bower_components/dropzone/dist/min/dropzone.min.css
  libs/bower/bower_components/dropzone/dist/min/dropzone.min.js
  libs/bower/bower_components/dropzone/dist/readme.md
  node_modules/.package-lock.json
  node_modules/chokidar/node_modules/fsevents/LICENSE
  node_modules/chokidar/node_modules/fsevents/README.md
  node_modules/chokidar/node_modules/fsevents/fsevents.d.ts
  node_modules/chokidar/node_modules/fsevents/fsevents.js
  node_modules/chokidar/node_modules/fsevents/fsevents.node
  node_modules/chokidar/node_modules/fsevents/package.json
  node_modules/dropzone/.gitlab-ci.yml
  node_modules/dropzone/.tagconfig
  node_modules/dropzone/.travis.yml
  node_modules/dropzone/CHANGELOG.md
  node_modules/dropzone/CODE_OF_CONDUCT.md
  node_modules/dropzone/CONTRIBUTING.md
  node_modules/dropzone/LICENSE
  node_modules/dropzone/README.md
  node_modules/dropzone/bower.json
  node_modules/dropzone/dist/basic.css
  node_modules/dropzone/dist/dropzone-amd-module.js
  node_modules/dropzone/dist/dropzone.css
  node_modules/dropzone/dist/dropzone.js
  node_modules/dropzone/dist/min/basic.min.css
  node_modules/dropzone/dist/min/dropzone-amd-module.min.js
  node_modules/dropzone/dist/min/dropzone.min.css
  node_modules/dropzone/dist/min/dropzone.min.js
  node_modules/dropzone/package.json
  node_modules/dropzone/src/basic.scss
  node_modules/dropzone/src/dropzone.js
  node_modules/dropzone/src/dropzone.scss
  node_modules/dropzone/src/emitter.js
  node_modules/dropzone/src/options.js
  node_modules/dropzone/src/preview-template.html
  node_modules/dropzone/test/foo.html
  node_modules/dropzone/test/server/.packages
  node_modules/dropzone/test/server/pubspec.lock
  node_modules/dropzone/test/server/pubspec.yaml
  node_modules/dropzone/test/server/server.dart
  node_modules/dropzone/test/test-prebuilt.html
  node_modules/dropzone/test/test.html
  package-lock.json
  package.json
  src/UI/Implementation/Component/Input/Field/File.php
  src/UI/Implementation/Component/Input/Field/Renderer.php
  src/UI/templates/default/Input/file.less
  src/UI/templates/default/Input/tpl.file.html
  src/UI/templates/js/Input/Field/dynamic_inputs_renderer.js
  src/UI/templates/js/Input/Field/file.js
  templates/default/delos.css
  tests/UI/Component/Input/Field/FileInputTest.php
Labels: bugfix

#5004 Bugfix: Forum Notifications: too few arguments sprintf (release_8)
  lang/ilias_en.lang
Labels: bugfix

#5003 Bugfix: Forum Notifications: too few arguments sprintf (release_7)
  lang/ilias_en.lang
Labels: bugfix

#5002 Bugfix: Forum Notifications: too few arguments sprintf (trunk)
  lang/ilias_en.lang
Labels: bugfix

#4919 UI Key-Value Tree Node
  src/UI/Component/Tree/Node/Factory.php
  src/UI/Component/Tree/Node/KeyValue.php
  src/UI/Implementation/Component/Tree/Node/Factory.php
  src/UI/Implementation/Component/Tree/Node/KeyValue.php
  src/UI/Implementation/Component/Tree/Node/Renderer.php
  src/UI/ROADMAP.md
  src/UI/examples/Tree/Node/KeyValue/key_value.php
  src/UI/templates/default/Tree/tpl.node.html
  src/UI/templates/default/Tree/tree.less
  templates/default/delos.css
  tests/UI/Component/Tree/Node/KeyValueNodeTest.php
Labels: kitchen sink, improvement, php

#5012 Notifications: Add JS toast API. Fix Bugs 34363, 34224
  Services/Notifications/classes/Repository/ilNotificationOSDRepository.php
  Services/Notifications/classes/ToastsOfNotifications.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/ilNotificationOSDGUI.php
  Services/Notifications/templates/default/notifications.js
  Services/Notifications/templates/default/tpl.osd_notifications.js
Labels: bugfix, php, javascript

#5015 Fix Language Detection For WebDAV (#4998)
  Services/Language/classes/class.ilLanguageDetectorFactory.php
Labels: bugfix, php

#4980 Move dashboard menu item (trunk)
  Services/Administration/GlobalScreen/classes/AdministrationMainBarProvider.php
  Services/Dashboard/GlobalScreen/classes/PDMainBarProvider.php
Labels: improvement, php

#5028 Trunk DataSize: fix test for datasize
  tests/Data/DataSizeTest.php
Labels: improvement

#5011 Bugfix 31520 fix file upload error (ilias6)
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentMemberGUI.php
Labels: bugfix

#5009 Bugfix/0030763 iass store title and description in metadata
  Modules/IndividualAssessment/classes/class.ilObjIndividualAssessment.php
Labels: bugfix

#4901 Development Proposal: Text Handling
  docs/development/text-handling.md
Labels: improvement

#3064 Course/Certificate: Fix Mantis issue 29191
  Services/Tracking/classes/class.ilTrackingAppEventListener.php
  Services/Tracking/classes/status/class.ilLPStatusCollection.php
  Services/Tracking/service.xml
Labels: bugfix

#4840 Logging: Don't log to console for xhr request not sending `cmdMode` to prevent invalid JSON responses
  Services/Logging/classes/public/class.ilLoggerFactory.php
Labels: improvement, php

#5039 [HUN] 2022-09-20 Sorted
  lang/ilias_hu.lang
Labels: improvement

#5036 TA: 31983, add pending-methods to ilMatchingWizardInputGUI
  Modules/TestQuestionPool/classes/class.ilMatchingWizardInputGUI.php
Labels: bugfix, php

#5045 Test: Fix Synchronization of Questions
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, php

#5031 TA: 34475 cast points to float
  Modules/TestQuestionPool/classes/class.assFileUploadGUI.php
  Modules/TestQuestionPool/classes/class.assNumericGUI.php
  Modules/TestQuestionPool/classes/class.assOrderingHorizontalGUI.php
Labels: bugfix, php

#5023 Revert "Test: Remove iterable approach to find participants, use a ma…
  Modules/Test/classes/class.ilTestParticipantList.php
Labels: bugfix, php

#5024 Revert "Test: Remove iterable approach to find participants, use a ma…
  Modules/Test/classes/class.ilTestParticipantList.php
  Modules/Test/test/ilTestParticipantListTest.php
Labels: bugfix, php

#5050 Survey: Don't use typed properties in ILIAS 7.x
  Services/Survey/classes/class.SurveyImportParser.php
Labels: bugfix, php

#5052 Fix/8/personal and shared resources
  Modules/WorkspaceFolder/BackgroundTask/classes/class.ilCheckSumOfWorkspaceFileSizesJob.php
  Modules/WorkspaceFolder/BackgroundTask/classes/class.ilDownloadWorkspaceFolderBackgroundTask.php
  Modules/WorkspaceFolder/BackgroundTask/classes/class.ilSumOfWorkspaceFileSizesTooLargeInteraction.php
  Modules/WorkspaceFolder/classes/class.ilObjWorkspaceFolderGUI.php
  Services/BackgroundTasks/classes/Jobs/class.ilZipJob.php
  Services/BackgroundTasks/classes/UserInteractions/class.ilDownloadZipInteraction.php
Labels: bugfix

#5026 Orgu (Tree): fix cancelMove and delete-Whoops
  Modules/OrgUnit/classes/class.ilObjOrgUnitGUI.php
  Services/Tree/classes/class.ilTree.php
Labels: bugfix, php

#4997 Trim spaces from input mail
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: improvement, php

#4959 Rule Change for the usage of Standard Forms
  src/UI/Component/Input/Container/Form/Factory.php
Labels: kitchen sink

#5047 Form/DateDuration: Fix resetting optional date duration filter
  Services/Form/classes/class.ilDateDurationInputGUI.php
Labels: bugfix, php

#5044 OrgU: 34482, request handling in positions-form
  Modules/OrgUnit/classes/Positions/class.ilOrgUnitPositionGUI.php
Labels: bugfix, php

#5048 OrgU: 34562, edit/create authorities for positions
  Modules/OrgUnit/classes/Positions/Authorities/class.ilOrgUnitGenericMultiInputGUI.php
  Modules/OrgUnit/classes/Positions/class.ilOrgUnitPositionFormGUI.php
  Modules/OrgUnit/classes/Positions/class.ilOrgUnitPositionGUI.php
Labels: bugfix, php

#5059 fixed 34194: Failed test: Inhaltsbaustein einfügen
  Modules/ContentPage/classes/PageMetrics/PageMetricsService.php
Labels: bugfix, php

#5001 TA OrderingQuestion: 33524, show form after error
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
Labels: bugfix, php

#5055 Test: Fixing three Issues in Export of Test
  Modules/Test/classes/class.ilTestExportGUI.php
  Modules/Test/classes/class.ilTestResultsToXML.php
  Modules/Test/classes/tables/class.ilTestExportTableGUI.php
Labels: bugfix, php

#5042 Remove/Abandon "Settings Template" feature
  Modules/Course/classes/Objectives/class.ilLOEditorGUI.php
  Modules/Survey/classes/class.ilObjSurveyGUI.php
  Modules/Test/classes/class.ilObjAssessmentFolderGUI.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Modules/Test/classes/class.ilObjTestSettingsScoringResultsGUI.php
  Modules/Test/classes/class.ilTestSettingsGUI.php
  Modules/Test/classes/class.ilTestSettingsTemplateConfig.php
  Modules/Test/classes/class.ilTestTabsManager.php
  Modules/Test/test/ilTestSettingsTemplateConfigTest.php
  Services/Administration/classes/Setup/class.ilAdministrationDBUpdateSteps.php
  Services/Administration/classes/Setup/class.ilAdministrationSetupAgent.php
  Services/Administration/classes/class.SettingsTemplateGUIRequest.php
  Services/Administration/classes/class.ilSettingsTemplate.php
  Services/Administration/classes/class.ilSettingsTemplateConfig.php
  Services/Administration/classes/class.ilSettingsTemplateGUI.php
  Services/Administration/classes/class.ilSettingsTemplateTableGUI.php
  lang/ilias_ar.lang
  lang/ilias_bg.lang
  lang/ilias_cs.lang
  lang/ilias_da.lang
  lang/ilias_de.lang
  lang/ilias_el.lang
  lang/ilias_en.lang
  lang/ilias_es.lang
  lang/ilias_et.lang
  lang/ilias_fa.lang
  lang/ilias_fr.lang
  lang/ilias_hr.lang
  lang/ilias_hu.lang
  lang/ilias_it.lang
  lang/ilias_ja.lang
  lang/ilias_ka.lang
  lang/ilias_lt.lang
  lang/ilias_nl.lang
  lang/ilias_pl.lang
  lang/ilias_pt.lang
  lang/ilias_ro.lang
  lang/ilias_ru.lang
  lang/ilias_sk.lang
  lang/ilias_sl.lang
  lang/ilias_sq.lang
  lang/ilias_sr.lang
  lang/ilias_tr.lang
  lang/ilias_uk.lang
  lang/ilias_vi.lang
  lang/ilias_zh.lang
Labels: improvement, php

#5006 Fix Removal of < in KPrim-Question
  Modules/TestQuestionPool/classes/class.assKprimChoiceGUI.php
  Modules/TestQuestionPool/classes/class.ilKprimChoiceWizardInputGUI.php
Labels: bugfix, php

#5071 Test: Fix Removal of < in KPrim-Question
  Modules/TestQuestionPool/classes/class.assKprimChoiceGUI.php
  Modules/TestQuestionPool/classes/class.ilKprimChoiceWizardInputGUI.php
Labels: bugfix, php

#5058 Update Dependencies after Release v6.19
  composer.lock
Labels: technical board, dependencies

#5070 Update Dependencies after Release v7.14
  composer.lock
Labels: technical board, dependencies

#5074 Fix gap question points not saving
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
Labels: bugfix

#5073 TA: 33524, fill form after error
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  Modules/TestQuestionPool/classes/questions/class.ilAssOrderingElement.php
Labels: bugfix

#5072 TA: 33524, fill form after error
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  Modules/TestQuestionPool/classes/questions/class.ilAssOrderingElement.php
Labels: bugfix

#5066 Test: Fix Removal of "Pseudo-Tags" in Textsubset
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  Modules/TestQuestionPool/classes/class.assTextSubsetGUI.php
Labels: bugfix, php

#5065 Text: Fix Removal of "Pseudo-Tags" in Single Choice Question
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
Labels: bugfix, php

#5064 Test: Fix Removal of "Pseudo-Tags" in Essay-Question
  Modules/TestQuestionPool/classes/class.assTextQuestion.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
Labels: bugfix, php

#5062 Test: Fix Removal of "Pseudo-Tags" in Matching questions
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
Labels: bugfix, php

#5049 [FIX] 0034523: Failed test: Datei hochladen
  Services/Init/classes/Dependencies/InitUIFramework.php
  src/UI/Component/Closable.php
  src/UI/Component/Dropzone/File/File.php
  src/UI/Component/Dropzone/File/Wrapper.php
  src/UI/Component/Modal/Modal.php
  src/UI/Implementation/Component/Dropzone/File/Factory.php
  src/UI/Implementation/Component/Dropzone/File/Renderer.php
  src/UI/Implementation/Component/Dropzone/File/Wrapper.php
  src/UI/Implementation/Component/Modal/Modal.php
  src/UI/Implementation/Component/Modal/Renderer.php
  src/UI/templates/js/Dropzone/File/dropzone.js
  src/UI/templates/js/Input/Field/file.js
  tests/UI/Component/Dropzone/File/FileTestBase.php
Labels: bugfix

#5076 [FIX] PHP Deprecated: Implicit conversion from float YX to int loses…
  src/Data/DataSize.php
Labels: improvement

#5068 Move manual score done to own db table
  Modules/Test/Setup/class.ilTest8DBUpdateSteps.php
  Modules/Test/Setup/class.ilTestSetupAgent.php
  Modules/Test/Setup/ilManScoringSettingsToOwnDbTableMigration.php
  Modules/Test/classes/TestManScoringDoneHelper.php
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestScoringGUI.php
  Modules/Test/classes/class.ilTestService.php
Labels: bugfix, php

#5046 T&A: fix 31362
  Modules/TestQuestionPool/classes/class.ilAssQuestionHintRequestGUI.php
  Modules/TestQuestionPool/templates/default/tpl.il_tst_question_hints_kiosk_page.html
Labels: bugfix, php

#5085 Changes Language Variables in Test
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilTestExpressPageObjectGUI.php
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
  Modules/TestQuestionPool/classes/class.assLongMenuGUI.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Modules/TestQuestionPool/classes/import/qti12/class.assQuestionImport.php
  lang/ilias_ar.lang
  lang/ilias_bg.lang
  lang/ilias_cs.lang
  lang/ilias_da.lang
  lang/ilias_de.lang
  lang/ilias_el.lang
  lang/ilias_en.lang
  lang/ilias_es.lang
  lang/ilias_et.lang
  lang/ilias_fa.lang
  lang/ilias_fr.lang
  lang/ilias_hr.lang
  lang/ilias_hu.lang
  lang/ilias_it.lang
  lang/ilias_ja.lang
  lang/ilias_ka.lang
  lang/ilias_lt.lang
  lang/ilias_nl.lang
  lang/ilias_pl.lang
  lang/ilias_pt.lang
  lang/ilias_ro.lang
  lang/ilias_ru.lang
  lang/ilias_sk.lang
  lang/ilias_sl.lang
  lang/ilias_sq.lang
  lang/ilias_sr.lang
  lang/ilias_tr.lang
  lang/ilias_uk.lang
  lang/ilias_vi.lang
  lang/ilias_zh.lang
Labels: bugfix, php
