Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-10, with the labels that each got.

#5095 Test: Fix Javascript in LongMenu-Question-Player
  Modules/TestQuestionPool/classes/class.assLongMenuGUI.php
  Modules/TestQuestionPool/templates/default/longMenuQuestionPlayer.js
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_longmenu_question_output.html
Labels: bugfix, php

#5077 [FIX] Increased min-version of PHP-CS-Fixer library
  composer.json
  composer.lock
Labels: improvement

#5079 Bugfix 32371 Missing letter in lso_mail_dismiss_bod
  lang/ilias_de.lang
Labels: bugfix

#5078 partly fixed 34714: Failed test: HTML des Mediacasts ist valide
  src/UI/templates/default/Player/tpl.audio.html
  tests/UI/Component/Item/ItemTest.php
  tests/UI/Component/Player/PlayerAudioTest.php
Labels: bugfix, kitchen sink

#5096 Fix Link to Initial Test in LOC
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilObjTestListGUI.php
  Modules/Test/classes/class.ilTestQuestionRelatedObjectivesList.php
Labels: bugfix, php

#5089 This ports #5062, #5064, #5065 and #5066 to trunk
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assTextQuestion.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  Modules/TestQuestionPool/classes/class.assTextSubsetGUI.php
Labels: bugfix, php

#5088 This ports #5062, #5064, #5065 and #5066 to release_8
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assTextQuestion.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  Modules/TestQuestionPool/classes/class.assTextSubsetGUI.php
Labels: bugfix, php

#4872 LoginPage: Remove 'focus' JavaScript from login template
  Services/Init/templates/default/tpl.login.html
Labels: improvement, javascript

#5092 Fix Newlines in Longmenu-Text
  Modules/TestQuestionPool/classes/class.assLongMenuGUI.php
Labels: bugfix, php

#5054 Fix Saving Of Point After Enter
  Modules/TestQuestionPool/templates/default/longMenuQuestion.js
Labels: bugfix

#5051 Download of File in Test not possible
  Modules/Test/classes/CanAccessFileUploadAnswer.php
Labels: bugfix, php

#5107 Fix Problems With Using Previous Answers
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
  Modules/TestQuestionPool/classes/class.assErrorTextGUI.php
  Modules/TestQuestionPool/classes/class.assFileUploadGUI.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assImagemapQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assKprimChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assLongMenuGUI.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assNumericGUI.php
  Modules/TestQuestionPool/classes/class.assOrderingHorizontalGUI.php
  Modules/TestQuestionPool/classes/class.assOrderingQuestion.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assTextSubsetGUI.php
Labels: bugfix, php

#5106 Test: Fix Formula Question Presentation
  Modules/TestQuestionPool/classes/class.assFormulaQuestion.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
Labels: bugfix, php

#5101 fix 31362 part 2
  Modules/TestQuestionPool/templates/default/tpl.il_tst_question_hints_kiosk_page.html
Labels: bugfix

#5112 fixed changes made to sahslaunch modifier return
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#5105 possible fix for #34565 - LanguageAdministration: PHP error when trying to refresh languages (with local language files being installed)
  Services/Language/classes/class.ilObjLanguage.php
  Services/Language/classes/class.ilObjLanguageDBAccess.php
  Services/Language/classes/class.ilObjLanguageExt.php
Labels: bugfix, php

#5007 Bugfix 31495 FileInfo Error with no file
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentMemberGUI.php
Labels: bugfix

#5080 Bugfix 30706 Error commenting on a learning sequence
  Modules/LearningSequence/classes/class.ilObjLearningSequenceGUI.php
Labels: bugfix, php

#5082 Bugfix/0031782 start learning sequence is no primary button
  Modules/LearningSequence/classes/Player/class.ilObjLearningSequenceLearnerGUI.php
Labels: bugfix, php

#5084 bugfix 32905 add permanent link in IASS participants
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentMembersGUI.php
Labels: bugfix, php

#5123 Skill: Refactor deprecated update steps using Objectives
  Services/AccessControl/classes/Setup/class.ilAccessCustomRBACOperationAddedObjective.php
  Services/AccessControl/classes/Setup/class.ilAccessRBACOperationsAddedObjective.php
  Services/AccessControl/classes/Setup/class.ilAccessRBACStandardOperationsAddedObjective.php
  Services/AccessControl/classes/class.ilRbacReview.php
  Services/Object/classes/Setup/class.ilObjectNewTypeAddedObjective.php
  Services/Skill/classes/Setup/class.ilSkillAgent.php
  Services/Skill/classes/Setup/class.ilSkillDBUpdateSteps.php
  Services/Skill/classes/Setup/class.ilSkillSetupAgent.php
Labels: bugfix, improvement, php

#5129 Calendar: Make `ilDateList` iterator compatible with PHP 8.1
  Services/Calendar/classes/class.ilDateList.php
Labels: bugfix, php

#5125 UI: Make `ComponentEntries` iterator compatible with PHP 8.1
  src/UI/Implementation/Crawler/Entry/ComponentEntries.php
Labels: bugfix, kitchen sink, php

#5126 Setup: Make `ObjectiveIterator` iterator compatible with PHP 8.1
  src/Setup/ObjectiveIterator.php
Labels: bugfix, php

#5133 Test: Fix Missing Header on Checkbox Column
  Modules/Test/classes/tables/class.ilParticipantsTestResultsTableGUI.php
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#5131 BT 33885
  Modules/WebResource/classes/class.ilObjLinkResource.php
Labels: bugfix

#4946 Update italian language for module pwassist
  lang/ilias_it.lang
Labels: improvement

#5000 Prevent Invalidating Random Test
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigStateMessageHandler.php
Labels: bugfix, php

#5014 TA: 34182, set min-value for TextQuestion's maxchars
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
Labels: bugfix, php

#5108 Fix orderning of Question Export
  Modules/Test/classes/class.ilTestExport.php
Labels: bugfix, php

#5143 CoPage: Fix check for `res_node` (Mantis 34585)
  Services/COPage/classes/class.ilPCLoginPageElement.php
Labels: bugfix, php

#4956 BT 33890: Advanced Search
  Services/Conditions/classes/class.ilConditionService.php
  Services/Search/classes/Like/class.ilAbstractSearch.php
  Services/Search/classes/Lucene/class.ilLuceneAdvancedSearchFields.php
  Services/Search/classes/class.ilAdvancedSearch.php
  Services/Search/classes/class.ilAdvancedSearchGUI.php
  Services/Search/classes/class.ilSearchResult.php
  Services/Search/classes/class.ilTestSearch.php
Labels: bugfix, php

#4939 BT 33842
  Services/Object/classes/class.ilObjectListGUI.php
  Services/Search/classes/Lucene/class.ilLuceneSearchObjectListGUIFactory.php
  Services/Search/classes/class.ilSearchGUI.php
Labels: bugfix, php

#5145 [add] new line for hints with no point deduction
  Modules/TestQuestionPool/classes/class.ilAssQuestionHintRequestGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#5151 Blog: Fix using absent "List GUI" in header actions (Mantis 35238)
  Modules/Blog/classes/class.ilObjBlogGUI.php
Labels: bugfix, php

#5150 TA: 31983, add pending-methods to ilMatchingWizardInputGUI
  Modules/TestQuestionPool/classes/class.ilMatchingWizardInputGUI.php
Labels: bugfix, php

#5144 0035158: Keep online status
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix

#5132 Legacy-Table: Fix missing Header on Checkboxes
  Services/Table/classes/class.ilTable2GUI.php
  Services/Table/templates/default/tpl.table2.html
Labels: bugfix, php

#5156 fixed 35042: Failed test: View shared items
  Modules/File/classes/class.ilObjFileGUI.php
Labels: bugfix, php

#5163 SVG Files (.svg) for Milos Icon Set (version 26.10.2022)
  templates/default/images/icon_disq.svg
  templates/default/images/icon_orga.svg
  templates/default/images/icon_ques.svg
  templates/default/images/icon_sahs_offline.svg
  templates/default/images/icon_scat_off.svg
  templates/default/images/icon_sctp_off.svg
  templates/default/images/icon_sctr_off.svg
  templates/default/images/icon_skll_off.svg
  templates/default/images/icon_skrt.svg
  templates/default/images/icon_sktr_off.svg
  templates/default/images/icon_slm_offline.svg
  templates/default/images/icon_xlet.svg
Labels: bugfix

#4852 Fix https://mantis.ilias.de/view.php?id=33523 (ILIAS 8 & Trunk)
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestServiceGUI.php
  Modules/Test/test/ilTestServiceGUITest.php
Labels: bugfix, php

#5135 T&A: fix for 22409
  Modules/Test/classes/class.ilTestGradingMessageBuilder.php
Labels: bugfix, php

#5167 TA: 15673, save question after removing variables/results from questiontext
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
Labels: bugfix

#5137 TA: 34877, immutable assAnswerMatchingTerm
  Modules/TestQuestionPool/classes/class.assAnswerMatchingDefinition.php
  Modules/TestQuestionPool/classes/class.assAnswerMatchingPair.php
  Modules/TestQuestionPool/classes/class.assAnswerMatchingTerm.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestion.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilMatchingPairWizardInputGUI.php
  Modules/TestQuestionPool/classes/class.ilMatchingWizardInputGUI.php
  Modules/TestQuestionPool/classes/export/qti12/class.assMatchingQuestionExport.php
  Modules/TestQuestionPool/classes/feedback/class.ilAssMatchingQuestionFeedback.php
  Modules/TestQuestionPool/classes/forms/class.ilAssMatchingPairCorrectionsInputGUI.php
  Modules/TestQuestionPool/classes/import/qti12/class.assMatchingQuestionImport.php
  Modules/TestQuestionPool/test/assAnswerMatchingPairTest.php
  Modules/TestQuestionPool/test/assAnswerMatchingTermTest.php
Labels: bugfix, php

#5169 T&A 35100 review of scored answers causes error
  Modules/Test/classes/class.ilTestEvaluationGUI.php
  Modules/Test/classes/class.ilTestServiceGUI.php
  Modules/Test/classes/tables/class.ilTestPassOverviewTableGUI.php
Labels: bugfix, php
