Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-03, with the labels that each got.

#4089 UI/Mainbar: 30738, remove superflous param
  src/UI/templates/js/MainControls/dist/mainbar.js
  src/UI/templates/js/MainControls/src/mainbar.renderer.js
Labels: bugfix, kitchen sink, javascript

#4088 UI/Mainbar: 30738, dispatch resize-event on slate active/inactive
  src/UI/templates/js/MainControls/mainbar.js
Labels: bugfix, kitchen sink, javascript

#4091 Dashboard, add Alt Text to Icon
  Services/Dashboard/classes/class.ilDashboardGUI.php
Labels: bugfix, improvement

#4081 TA: 32078, use calculated image path for marked questions in list
  Modules/Test/classes/tables/class.ilListOfQuestionsTableGUI.php
Labels: bugfix

#3588 Draft PRIVACY.md for Modules/TestQuestionPool
  Modules/TestQuestionPool/PRIVACY.md
Labels: improvement

#4056 Fix logging for manual scoring and break on invalid form
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
Labels: bugfix, php

#4024 TA Fix, Table Reset Filter, see: 32026
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4096 fixed 0031907: Translation page should appear again in new window
  Services/UICore/classes/Screen/PageContentProvider.php
Labels: bugfix

#4093 UI Components, Slates in Main- and Metabar wrong aria attributes
  src/UI/templates/js/MainControls/dist/mainbar.js
  src/UI/templates/js/MainControls/metabar.js
  src/UI/templates/js/MainControls/src/mainbar.renderer.js
Labels: bugfix, kitchen sink, improvement

#4004 Clock: Introduce `PSR-20 Clock Service` as `src/Data` type
  src/DI/Container.php
  src/Data/Clock/ClockFactory.php
  src/Data/Clock/ClockFactoryImpl.php
  src/Data/Clock/ClockInterface.php
  src/Data/Clock/LocalClock.php
  src/Data/Clock/SystemClock.php
  src/Data/Clock/UtcClock.php
  src/Data/Factory.php
  src/Data/README.md
  src/Data/ROADMAP.md
  tests/Data/LocalClockTest.php
  tests/Data/SystemClockTest.php
  tests/Data/UtcClockTest.php
Labels: improvement, php

#4109 Remove trailing space
  setup/README.md
Labels: improvement

#4085 MyStaff: Pick fixes from `release_6`
  Services/MyStaff/classes/ListCourses/class.ilMStListCourses.php
  Services/MyStaff/classes/ShowUser/Courses/class.ilMStShowUserCoursesTableGUI.php
Labels: bugfix, php

#4116 Hotfix for duplicate entries in ctrl-structure.
  Services/UICore/classes/Setup/class.ilCtrlStructureReader.php
Labels: bugfix, php

#4126 Bug 0031494 fix
  Services/Language/classes/class.ilObjLanguageAccess.php
Labels: bugfix

#4127 MyStaff: Pick fixes from `release_6` (#4085)
  Services/MyStaff/classes/ListCourses/class.ilMStListCourses.php
  Services/MyStaff/classes/ShowUser/Courses/class.ilMStShowUserCoursesTableGUI.php
Labels: bugfix, php

#4117 Search: Revise translation
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#3575 Language: add hook to sort entries in language files
  CI/sort_langfile_entries.sh
  captainhook.json
  lang/ilias_ar.lang
  lang/ilias_bg.lang
  lang/ilias_cs.lang
  lang/ilias_da.lang
  lang/ilias_de.lang
  lang/ilias_el.lang
  lang/ilias_en.lang
  lang/ilias_es.lang
  lang/ilias_et.lang
  lang/ilias_fa.lang
  lang/ilias_fr.lang
  lang/ilias_hr.lang
  lang/ilias_hu.lang
  lang/ilias_it.lang
  lang/ilias_ja.lang
  lang/ilias_ka.lang
  lang/ilias_lt.lang
  lang/ilias_nl.lang
  lang/ilias_pl.lang
  lang/ilias_pt.lang
  lang/ilias_ro.lang
  lang/ilias_ru.lang
  lang/ilias_sk.lang
  lang/ilias_sq.lang
  lang/ilias_sr.lang
  lang/ilias_tr.lang
  lang/ilias_uk.lang
  lang/ilias_vi.lang
  lang/ilias_zh.lang
Labels: improvement

#4059 UI: Implementation of `Toast Container`
  src/UI/Component/Toast/Toast.php
  src/UI/Implementation/Component/Toast/Container.php
  src/UI/Implementation/Component/Toast/Factory.php
  src/UI/Implementation/Component/Toast/Renderer.php
  src/UI/Implementation/Component/Toast/Toast.php
  src/UI/examples/Toast/Container/base.php
  src/UI/examples/Toast/Container/with_multiple_toasts.php
  src/UI/examples/Toast/Container/with_toast.php
  src/UI/examples/Toast/Standard/base.php
  src/UI/examples/Toast/Standard/with_action.php
  src/UI/examples/Toast/Standard/with_additional_links.php
  src/UI/examples/Toast/Standard/with_description.php
  src/UI/examples/Toast/Standard/with_link_title.php
  src/UI/examples/Toast/Standard/with_long_description.php
  src/UI/templates/default/Toast/toast.less
  src/UI/templates/default/Toast/tpl.container.html
  src/UI/templates/default/Toast/tpl.toast.html
  src/UI/templates/js/Toast/toast.js
  templates/default/delos.css
  templates/default/less/variables.less
  tests/UI/Client/Toast/Standard/StandardToastTest.html
  tests/UI/Client/Toast/ToastTest.html
  tests/UI/Client/Toast/toast.test.js
  tests/UI/Component/Toast/ToastClientHtmlTest.php
  tests/UI/Component/Toast/ToastTest.php
Labels: kitchen sink, improvement, php

#4063 GlobalScreen/Layout: Add named location for displaying `Toasts`
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/UI/Component/Layout/Page/Factory.php
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Factory.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  src/UI/templates/js/Page/stdpage.js
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: improvement, php

#4140 Hotfix for duplicate ilCtrl structure entries
  Services/UICore/classes/class.ilCtrl.php
Labels: bugfix, php

#4084 TA: 32038, modal-form (in post-corrections)
  Modules/TestQuestionPool/templates/default/tpl.tst_corr_addanswermodal.html
Labels: bugfix, javascript

#4142 PHP 8: Code Review `UIComponent`
  Services/Skill/classes/class.ilSkillSelectorGUI.php
  Services/UIComponent/AdvancedSelectionList/classes/class.ilAdvancedSelectionListGUI.php
  Services/UIComponent/Button/classes/class.ilButtonBase.php
  Services/UIComponent/Button/classes/class.ilImageLinkButton.php
  Services/UIComponent/Button/classes/class.ilLinkButton.php
  Services/UIComponent/CharSelector/classes/class.ilCharSelectorGUI.php
  Services/UIComponent/CharSelector/classes/class.ilCharSelectorRadioGroupInputGUI.php
  Services/UIComponent/CharSelector/classes/ilCharSelectorConfig.php
  Services/UIComponent/CheckboxListOverlay/classes/class.ilCheckboxListOverlayGUI.php
  Services/UIComponent/Explorer/classes/class.ilExplorer.php
  Services/UIComponent/Explorer2/classes/class.ilExplorerBaseGUI.php
  Services/UIComponent/Explorer2/classes/class.ilExplorerSelectInputGUI.php
  Services/UIComponent/Explorer2/classes/class.ilTreeExplorerGUI.php
  Services/UIComponent/Glyph/classes/class.ilGlyphGUI.php
  Services/UIComponent/GroupedList/classes/class.ilGroupedListGUI.php
  Services/UIComponent/Lightbox/classes/class.ilLightboxGUI.php
  Services/UIComponent/Modal/classes/class.ilModalGUI.php
  Services/UIComponent/NestedList/classes/class.ilNestedList.php
  Services/UIComponent/Overlay/classes/class.ilOverlayGUI.php
  Services/UIComponent/Panel/classes/class.ilPanelGUI.php
  Services/UIComponent/ProgressBar/classes/class.ilProgressBar.php
  Services/UIComponent/SplitButton/classes/class.ilSplitButtonGUI.php
  Services/UIComponent/SyntaxHighlighter/classes/class.ilSyntaxHighlighter.php
  Services/UIComponent/Tabs/classes/class.ilTabsGUI.php
  Services/UIComponent/TextHighlighter/classes/class.ilTextHighlighterGUI.php
  Services/UIComponent/Toolbar/classes/class.ilToolbarGUI.php
  Services/UIComponent/Tooltip/classes/class.ilTooltipGUI.php
  Services/UIComponent/test/UIHookPluginGUITest.php
  Services/UIComponent/test/ilServicesUIComponentSuite.php
  Services/WebServices/ECS/classes/Mapping/class.ilECSNodeMappingCmsExplorer.php
  Services/WebServices/ECS/classes/Mapping/class.ilECSNodeMappingLocalExplorer.php
Labels: improvement, php

#4136 PHP 8: Code Review `Glossary`
  Modules/Glossary/Definition/class.ilGlossaryDefPage.php
  Modules/Glossary/Export/class.ilGlossaryDataSet.php
  Modules/Glossary/Export/class.ilGlossaryExporter.php
  Modules/Glossary/Presentation/class.ilGlossaryPresentationGUI.php
  Modules/Glossary/Presentation/class.ilPresentationListTableGUI.php
  Modules/Glossary/Term/class.ilGlossaryTerm.php
  Modules/Glossary/Term/class.ilGlossaryTermGUI.php
  Modules/Glossary/Term/class.ilTermListTableGUI.php
  Modules/Glossary/Term/class.ilTermQuickListTableGUI.php
  Modules/Glossary/Term/class.ilTermUsagesTableGUI.php
  Modules/Glossary/classes/class.ilECSGlossarySettings.php
  Modules/Glossary/classes/class.ilObjGlossary.php
  Modules/Glossary/classes/class.ilObjGlossaryAccess.php
  Modules/Glossary/classes/class.ilObjGlossaryGUI.php
  Modules/Glossary/classes/class.ilObjGlossarySubItemListGUI.php
  Modules/Glossary/test/GloPresentationGUIRequestTest.php
  Modules/Glossary/test/ilModulesGlossarySuite.php
Labels: improvement, php

#4145 PHP 8: Code Review `Component`
  Services/Component/classes/Settings/class.ilObjComponentSettings.php
  Services/Component/classes/Settings/class.ilObjComponentSettingsGUI.php
  Services/Component/classes/Settings/class.ilPluginsOverviewTable.php
  Services/Component/classes/Settings/class.ilPluginsOverviewTableFilterGUI.php
  Services/Component/classes/Setup/class.ilComponentActivatePluginsObjective.php
  Services/Component/classes/Setup/class.ilComponentBuildPluginInfoObjective.php
  Services/Component/classes/Setup/class.ilComponentDefinitionsStoredObjective.php
  Services/Component/classes/Setup/class.ilComponentInstallPluginObjective.php
  Services/Component/classes/Setup/class.ilComponentPluginAdminInitObjective.php
  Services/Component/classes/Setup/class.ilComponentRepositoryExistsObjective.php
  Services/Component/classes/Setup/class.ilComponentUpdatePluginObjective.php
  Services/Component/classes/Setup/class.ilIntroduceComponentArtifactDBUpdateSteps.php
  Services/Component/classes/Setup/class.ilPluginDefaultAgent.php
  Services/Component/classes/class.ilArtifactComponentRepository.php
  Services/Component/classes/class.ilComponentDefinitionReader.php
  Services/Component/classes/class.ilComponentRepository.php
  Services/Component/classes/class.ilComponentRepositoryWrite.php
  Services/Component/classes/class.ilPlugin.php
  Services/Component/classes/class.ilPluginAdmin.php
  Services/Component/classes/class.ilPluginConfigGUI.php
  Services/Component/classes/class.ilPluginDBUpdate.php
  Services/Component/classes/class.ilPluginLP.php
  Services/Component/classes/class.ilPluginReader.php
  Services/Component/classes/class.ilPluginStateDB.php
  Services/Component/classes/class.ilPluginStateDBOverIlDBInterface.php
  Services/Component/exceptions/class.ilPluginException.php
  Services/Component/test/Settings/ilPluginsOverviewTableTest.php
  Services/Component/test/Setup/ilComponentBuildPluginInfoObjectiveTest.php
  Services/Component/test/ilArtifactComponentRepositoryTest.php
  Services/Component/test/ilComponentDefinitionReaderTest.php
  Services/Component/test/ilComponentInfoTest.php
  Services/Component/test/ilPluginInfoTest.php
  Services/Component/test/ilPluginSlotInfoTest.php
  Services/Component/test/ilPluginStateDBOverIlDBInterfaceTest.php
Labels: improvement, php

#4100 Add background to focus
  Services/WebDAV/classes/mount_instructions/class.ilWebDAVMountInstructionsGUI.php
  src/UI/templates/default/Breadcrumbs/breadcrumbs.less
  src/UI/templates/default/Button/button.less
  src/UI/templates/default/Card/card.less
  src/UI/templates/default/Item/item.less
  src/UI/templates/default/MainControls/Slate/slate.less
  src/UI/templates/default/MainControls/mainbar.less
  templates/default/delos.css
  templates/default/delos.less
  templates/default/less/Services/Awareness/delos.less
  templates/default/less/Services/Calendar/delos.less
  templates/default/less/Services/Form/delos.less
  templates/default/less/Services/UIComponent/Tabs/delos.less
  templates/default/less/Services/UIComponent/Toolbar/delos.less
  templates/default/less/Services/WebDAV/delos.less
  templates/default/less/focus-mixin.less
  templates/default/less/variables.less
Labels: bugfix

#4135 Introduction of further less variables
  Modules/Cloud/templates/css/delos.less
  Services/COPage/css/content.less
  src/UI/templates/default/MainControls/Slate/slate.less
  src/UI/templates/default/Popover/popover.less
  templates/default/delos.css
  templates/default/delos.less
  templates/default/less/Modules/Blog/delos.less
  templates/default/less/Modules/Chatroom/delos.less
  templates/default/less/Modules/Course/delos.less
  templates/default/less/Modules/LTIConsumer/delos.less
  templates/default/less/Modules/LearningModule/delos.less
  templates/default/less/Modules/Poll/delos.less
  templates/default/less/Services/COPage/delos.less
  templates/default/less/Services/Calendar/delos.less
  templates/default/less/Services/Form/delos.less
  templates/default/less/Services/Like/delos.less
  templates/default/less/Services/MediaObjects/delos.less
  templates/default/less/Services/Navigation/delos.less
  templates/default/less/Services/OnScreenChat/delos.less
  templates/default/less/Services/Table/delos.less
  templates/default/less/Services/UIComponent/AdvancedSelectionList/delos.less
  templates/default/less/Services/UIComponent/Lightbox/delos.less
  templates/default/less/Services/User/delos.less
  templates/default/less/bootstrap-variables.less
Labels: improvement

#4144 PHP 8: Code Review `WebServices`
  Services/WebServices/Curl/classes/class.ilCurlConnection.php
  Services/WebServices/Curl/classes/class.ilCurlConnectionException.php
  Services/WebServices/RPC/classes/class.ilRPCServerSettings.php
  Services/WebServices/RPC/classes/class.ilRpcClient.php
  Services/WebServices/RPC/classes/class.ilRpcClientFactory.php
  Services/WebServices/RPC/classes/class.ilRpcIniFileWriter.php
  Services/WebServices/Rest/classes/class.ilRestFileStorage.php
  Services/WebServices/Rest/classes/class.ilRestServer.php
  Services/WebServices/SOAP/classes/class.ilAbstractSoapMethod.php
  Services/WebServices/SOAP/classes/class.ilSoapClient.php
  Services/WebServices/SOAP/classes/class.ilSoapHook.php
  Services/WebServices/SOAP/classes/ilSoapMethod.php
  Services/WebServices/SOAP/classes/ilWsdlType.php
  Services/WebServices/classes/class.ilCronEcsTaskScheduler.php
  Services/WebServices/test/ilRPCServerSettingsTest.php
  Services/WebServices/test/ilServicesWebServicesSuite.php
Labels: improvement, php

#4143 Update Dependencies after Release v6.16
  composer.lock
Labels: technical board, dependencies

#4114 Update Dependencies after Release v7.7
  composer.lock
Labels: technical board, dependencies

#4160 ilCtrl: namespace support for control-structure
  Services/UICore/classes/Iterator/class.ilCtrlDirectoryIterator.php
  Services/UICore/classes/Iterator/class.ilCtrlPluginIterator.php
  Services/UICore/classes/Structure/class.ilCtrlStructureReader.php
  Services/UICore/test/Data/ClassMaps/valid_class_map.php
  Services/UICore/test/Data/GUI/class.ilCtrlNamespacedTestGUI.php
  Services/UICore/test/Data/Structure/test_ctrl_structure.php
  Services/UICore/test/Iterator/ilCtrlDirectoryIteratorTest.php
  Services/UICore/test/Iterator/ilCtrlIteratorSuite.php
  Services/UICore/test/Iterator/ilCtrlPluginIteratorTest.php
  Services/UICore/test/Structure/ilCtrlStructureReaderTest.php
Labels: improvement, php

#4171 TestQuesitonPool: Update PRIVACY.md
  Modules/TestQuestionPool/PRIVACY.md
Labels: improvement

#4168 PHP 8: Review `PrivacySecurity`
  Services/PrivacySecurity/classes/Setup/class.ilPrivacySecurityConfigStoredObjective.php
  Services/PrivacySecurity/classes/Setup/class.ilPrivacySecuritySetupAgent.php
  Services/PrivacySecurity/classes/Setup/class.ilPrivacySecuritySetupConfig.php
  Services/PrivacySecurity/classes/class.ilExportFieldsInfo.php
  Services/PrivacySecurity/classes/class.ilObjPrivacySecurityAccess.php
  Services/PrivacySecurity/classes/class.ilObjPrivacySecurityGUI.php
  Services/PrivacySecurity/classes/class.ilPrivacySettings.php
  Services/PrivacySecurity/classes/class.ilRobotSettings.php
  Services/PrivacySecurity/classes/class.ilSecuritySettings.php
  Services/PrivacySecurity/classes/class.ilSecuritySettingsChecker.php
Labels: improvement, php

#4150 PHP 8: Code Review `SurveyQuestionPool`
  Modules/SurveyQuestionPool/Categories/class.SurveyCategories.php
  Modules/SurveyQuestionPool/Categories/class.ilCategoryWizardInputGUI.php
  Modules/SurveyQuestionPool/Categories/class.ilSurveyCategory.php
  Modules/SurveyQuestionPool/Editing/class.EditingGUIRequest.php
  Modules/SurveyQuestionPool/Export/class.ilSurveyQuestionpoolExport.php
  Modules/SurveyQuestionPool/Material/class.ilMaterialExplorer.php
  Modules/SurveyQuestionPool/Phrases/class.ilSurveyPhrases.php
  Modules/SurveyQuestionPool/Phrases/class.ilSurveyPhrasesGUI.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMatrixQuestion.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMatrixQuestionEvaluation.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMatrixQuestionGUI.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMetricQuestion.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMetricQuestionEvaluation.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMetricQuestionGUI.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMultipleChoiceQuestion.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMultipleChoiceQuestionEvaluation.php
  Modules/SurveyQuestionPool/Questions/class.SurveyMultipleChoiceQuestionGUI.php
  Modules/SurveyQuestionPool/Questions/class.SurveyQuestion.php
  Modules/SurveyQuestionPool/Questions/class.SurveyQuestionEvaluation.php
  Modules/SurveyQuestionPool/Questions/class.SurveyQuestionGUI.php
  Modules/SurveyQuestionPool/Questions/class.SurveySingleChoiceQuestion.php
  Modules/SurveyQuestionPool/Questions/class.SurveySingleChoiceQuestionEvaluation.php
  Modules/SurveyQuestionPool/Questions/class.SurveySingleChoiceQuestionGUI.php
  Modules/SurveyQuestionPool/Questions/class.SurveyTextQuestion.php
  Modules/SurveyQuestionPool/Questions/class.SurveyTextQuestionEvaluation.php
  Modules/SurveyQuestionPool/Questions/class.SurveyTextQuestionGUI.php
  Modules/SurveyQuestionPool/Questions/class.ilSurveyQuestionsTableGUI.php
  Modules/SurveyQuestionPool/classes/class.ilMatrixRowWizardInputGUI.php
  Modules/SurveyQuestionPool/classes/class.ilObjSurveyQuestionPool.php
  Modules/SurveyQuestionPool/classes/class.ilObjSurveyQuestionPoolGUI.php
  Modules/SurveyQuestionPool/classes/class.ilSurveySyncTableGUI.php
  Modules/SurveyQuestionPool/test/SplEditingGUIRequestTest.php
  Modules/SurveyQuestionPool/test/ilModulesSurveyQuestionPoolSuite.php
Labels: improvement, php

#3740 Notification System » Toasts » Notification Center
  Modules/Chatroom/GlobalScreen/ChatInvitationNotificationProvider.php
  Modules/Chatroom/README.md
  Modules/Chatroom/classes/admingui/class.ilChatroomAdminViewGUI.php
  Modules/Chatroom/classes/class.ilChatroom.php
  Modules/Chatroom/classes/class.ilChatroomAdmin.php
  Modules/Chatroom/classes/class.ilChatroomFormFactory.php
  Modules/Chatroom/docu/images/view-clientsettings_enable_osd_de.PNG
  Modules/Chatroom/docu/images/view-clientsettings_enable_osd_en.PNG
  Services/Awareness/classes/class.WidgetManager.php
  Services/Badge/GlobalScreen/BadgeNotificationProvider.php
  Services/Badge/classes/class.ilBadgeHandler.php
  Services/Contact/BuddySystem/classes/class.ilBuddySystemNotification.php
  Services/Init/classes/class.ilInitialisation.php
  Services/Notifications/README.md
  Services/Notifications/ROADMAP.md
  Services/Notifications/classes/Form/ilNotificationAdminSettingsFormGUI.php
  Services/Notifications/classes/Provider/NotificationMainBarProvider.php
  Services/Notifications/classes/Setup/ilNotificationUpdateAgent.php
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
  Services/Notifications/classes/class.ilNotificationAdminSettingsForm.php
  Services/Notifications/classes/class.ilNotificationConfig.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/class.ilNotificationOSDGUI.php
  Services/Notifications/classes/class.ilNotificationOSDHandler.php
  Services/Notifications/classes/class.ilObjNotificationAdmin.php
  Services/Notifications/classes/class.ilObjNotificationAdminAccess.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
  Services/Notifications/docu/images/settings_enable_osd_en.png
  Services/Notifications/service.xml
  Services/Notifications/templates/default/notifications.js
  Services/Notifications/templates/default/tpl.osd_notifications.js
  Services/User/Settings/classes/class.ilUserPrivacySettingsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/GlobalScreen/Client/Notifications.php
  src/GlobalScreen/Scope/MetaBar/Collector/Renderer/NotificationCenterRenderer.php
  src/GlobalScreen/Scope/Notification/Collector/MainNotificationCollector.php
  src/UI/Component/Symbol/Icon/Standard.php
  src/UI/Implementation/Component/Item/Renderer.php
  src/UI/Implementation/Component/Symbol/Icon/Standard.php
  src/UI/templates/js/Toast/toast.js
  templates/default/delos.css
  templates/default/delos.less
  templates/default/images/icon_nota.svg
  templates/default/images/outlined/icon_nota.svg
  tests/GlobalScreen/Notification/Collector/MainNotificationCollectorTest.php
Labels: improvement

#4180 Review/services cron
  Services/Cron/classes/Setup/class.ilCronDefinitionProcessor.php
  Services/Cron/classes/class.ilCronJob.php
  Services/Cron/classes/class.ilCronJobResult.php
  Services/Cron/classes/class.ilCronManagerGUI.php
  Services/Cron/classes/class.ilCronManagerImpl.php
  Services/Cron/classes/class.ilCronManagerTableFilterMediator.php
  Services/Cron/classes/class.ilCronStartUp.php
  Services/Cron/exceptions/class.ilCronException.php
  Services/Cron/test/CronJobEntityTest.php
Labels: php

#4163 PHP 8: Review `Feeds`
  Services/Feeds/classes/class.ilFeedItem.php
  Services/Feeds/classes/class.ilFeedWriter.php
  Services/Feeds/classes/class.ilObjectFeedWriter.php
  Services/Feeds/classes/class.ilUserFeedWriter.php
  Services/Feeds/test/FeedItemTest.php
  Services/Feeds/test/ilServicesFeedsSuite.php
Labels: improvement, php

#4182 PHP8: Code Review Badges
  Services/Badge/classes/class.ilBadgeGUIRequest.php
  Services/Badge/classes/class.ilBadgeUserTableGUI.php
  Services/Badge/classes/class.ilFSStorageBadge.php
  Services/Badge/classes/class.ilFSStorageBadgeImageTemplate.php
  Services/Badge/classes/class.ilObjBadgeAdministrationGUI.php
  Services/Badge/test/BadgeManagementSessionRepositoryTest.php
  Services/Badge/test/ilServicesBadgeSuite.php
Labels: improvement, php

#4181 PHP 8: Review `Taxonomy`
  Services/Taxonomy/GlobalScreen/classes/class.ilTaxonomyGSToolProvider.php
  Services/Taxonomy/classes/class.ilObjTaxonomy.php
  Services/Taxonomy/classes/class.ilObjTaxonomyAdministration.php
  Services/Taxonomy/classes/class.ilObjTaxonomyAdministrationAccess.php
  Services/Taxonomy/classes/class.ilObjTaxonomyAdministrationGUI.php
  Services/Taxonomy/classes/class.ilObjTaxonomyGUI.php
  Services/Taxonomy/classes/class.ilTaxAssignInputGUI.php
  Services/Taxonomy/classes/class.ilTaxAssignedItemsTableGUI.php
  Services/Taxonomy/classes/class.ilTaxMDGUI.php
  Services/Taxonomy/classes/class.ilTaxNodeAssignment.php
  Services/Taxonomy/classes/class.ilTaxSelectInputGUI.php
  Services/Taxonomy/classes/class.ilTaxonomyAdministrationRepositoryTableGUI.php
  Services/Taxonomy/classes/class.ilTaxonomyClassificationProvider.php
  Services/Taxonomy/classes/class.ilTaxonomyDataSet.php
  Services/Taxonomy/classes/class.ilTaxonomyExplorerGUI.php
  Services/Taxonomy/classes/class.ilTaxonomyExporter.php
  Services/Taxonomy/classes/class.ilTaxonomyImporter.php
  Services/Taxonomy/classes/class.ilTaxonomyListTableGUI.php
  Services/Taxonomy/classes/class.ilTaxonomyNode.php
  Services/Taxonomy/classes/class.ilTaxonomyTableGUI.php
  Services/Taxonomy/classes/class.ilTaxonomyTree.php
  Services/Taxonomy/exceptions/class.ilTaxonomyException.php
  Services/Taxonomy/interfaces/interface.ilTaxAssignedItemInfo.php
  Services/Taxonomy/test/Assignment/TaxAssignmentTest.php
  Services/Taxonomy/test/ilServicesTaxonomySuite.php
Labels: improvement, php

#4184 PHP8: Code Review Services/History
  Services/History/test/HistCompareTest.php
  Services/History/test/ilServicesHistorySuite.php
Labels: improvement, php

#4191 PHP 8: Code Review `HTMLLearningModule`
  Modules/HTMLLearningModule/classes/class.ilHTMLLearningModuleDataSet.php
  Modules/HTMLLearningModule/classes/class.ilHTMLLearningModuleLP.php
  Modules/HTMLLearningModule/classes/class.ilObjFileBasedLM.php
  Modules/HTMLLearningModule/classes/class.ilObjFileBasedLMAccess.php
  Modules/HTMLLearningModule/classes/class.ilObjFileBasedLMGUI.php
  Modules/HTMLLearningModule/test/HTMLLearningModuleStandardGUIRequestTest.php
  Modules/HTMLLearningModule/test/ilModulesHTMLLearningModuleSuite.php
Labels: improvement, php

#4193 PHP 8: Code Review `Help`
  Services/Help/GlobalScreen/classes/class.ilHelpGSToolProvider.php
  Services/Help/GlobalScreen/classes/class.ilHelpMetaBarProvider.php
  Services/Help/GlobalScreen/classes/class.ilHelpViewLayoutProvider.php
  Services/Help/GlobalScreen/classes/trait.ilHelpDisplayed.php
  Services/Help/classes/class.ilHelp.php
  Services/Help/classes/class.ilHelpDataSet.php
  Services/Help/classes/class.ilHelpExporter.php
  Services/Help/classes/class.ilHelpGUI.php
  Services/Help/classes/class.ilHelpMapping.php
  Services/Help/classes/class.ilHelpModuleTableGUI.php
  Services/Help/classes/class.ilObjHelpSettings.php
  Services/Help/classes/class.ilObjHelpSettingsGUI.php
  Services/Help/test/HelpStandardGUIRequestTest.php
  Services/Help/test/ilServicesHelpSuite.php
Labels: improvement, php

#4161 PHP 8: Code Review `Membership`
  Modules/Group/classes/class.ilGroupRegistrationGUI.php
  Services/Membership/GlobalScreen/classes/class.MembershipMainBarProvider.php
  Services/Membership/classes/Cron/class.ilMembershipCronMinMembers.php
  Services/Membership/classes/Cron/class.ilMembershipCronNotifications.php
  Services/Membership/classes/Cron/class.ilMembershipCronNotificationsData.php
  Services/Membership/classes/Export/class.ilMemberExport.php
  Services/Membership/classes/Export/class.ilMemberExportFileTableGUI.php
  Services/Membership/classes/Export/class.ilMemberExportGUI.php
  Services/Membership/classes/Export/class.ilMemberExportSettingsGUI.php
  Services/Membership/classes/class.ilAttendanceList.php
  Services/Membership/classes/class.ilMemberAgreement.php
  Services/Membership/classes/class.ilMemberAgreementGUI.php
  Services/Membership/classes/class.ilMembershipAdministrationGUI.php
  Services/Membership/classes/class.ilMembershipGUI.php
  Services/Membership/classes/class.ilMembershipMailGUI.php
  Services/Membership/classes/class.ilMembershipNotifications.php
  Services/Membership/classes/class.ilMembershipOverviewGUI.php
  Services/Membership/classes/class.ilMembershipRegistrationCodeUtils.php
  Services/Membership/classes/class.ilMembershipRegistrationSettingsGUI.php
  Services/Membership/classes/class.ilObjectCustomUserFieldHistory.php
  Services/Membership/classes/class.ilObjectCustomUserFieldsGUI.php
  Services/Membership/classes/class.ilObjectCustomUserFieldsTableGUI.php
  Services/Membership/classes/class.ilParticipant.php
  Services/Membership/classes/class.ilParticipants.php
  Services/Membership/classes/class.ilParticipantsTableGUI.php
  Services/Membership/classes/class.ilRegistrationGUI.php
  Services/Membership/classes/class.ilSubscriberTableGUI.php
  Services/Membership/classes/class.ilWaitingList.php
  Services/Membership/classes/class.ilWaitingListTableGUI.php
  Services/Membership/exceptions/class.ilMembershipRegistrationException.php
  Services/Membership/test/ilServicesMembershipSuite.php
  Services/Membership/test/ilWaitingListTest.php
Labels: improvement, php

#4175 `Refinery`: Apply `PSR-2 +X` code style
  src/Refinery/KeyValueAccess.php
  src/Refinery/KindlyTo/Transformation/DictionaryTransformation.php
  tests/Refinery/Container/Transformation/MapValuesTest.php
  tests/Refinery/KindlyTo/Transformation/TupleTransformationTest.php
  tests/Refinery/Numeric/Validation/IsNumericConstraintTest.php
Labels: bugfix

#4197 PHP 8: Code Review `Context`
  Services/Context/classes/class.ilContext.php
  Services/Context/test/ilContextTest.php
  Services/Context/test/ilServicesContextSuite.php
Labels: improvement, php

#4048 Feature/8/lom keywords in header
  Services/MetaData/classes/GlobalScreen/class.ilMDKeywordExposer.php
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaContent.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaData/MetaDataCollection.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaData/MetaDatum.php
  src/GlobalScreen/Scope/Layout/README.md
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/GlobalScreen/Scope/Layout/MediaTest.php
  tests/GlobalScreen/Scope/Layout/MetaDataTest.php
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: improvement, php

#4200 PHP 8: Code Review `MediaPool`
  Modules/MediaPool/Clipboard/class.ilClipboardTableGUI.php
  Modules/MediaPool/Clipboard/class.ilEditClipboardGUI.php
  Modules/MediaPool/classes/class.StandardGUIRequest.php
  Modules/MediaPool/classes/class.ilMediaPoolAppEventListener.php
  Modules/MediaPool/classes/class.ilMediaPoolDataSet.php
  Modules/MediaPool/classes/class.ilMediaPoolImportConfig.php
  Modules/MediaPool/classes/class.ilMediaPoolImportGUI.php
  Modules/MediaPool/classes/class.ilMediaPoolItem.php
  Modules/MediaPool/classes/class.ilMediaPoolPage.php
  Modules/MediaPool/classes/class.ilMediaPoolPageUsagesTableGUI.php
  Modules/MediaPool/classes/class.ilMediaPoolTableGUI.php
  Modules/MediaPool/classes/class.ilObjMediaPool.php
  Modules/MediaPool/classes/class.ilObjMediaPoolGUI.php
  Modules/MediaPool/classes/class.ilObjMediaPoolSubItemListGUI.php
  Modules/MediaPool/classes/class.ilUploadDirFilesTableGUI.php
  Modules/MediaPool/test/MepClipboardSessionRepositoryTest.php
  Modules/MediaPool/test/ilModulesMediaPoolSuite.php
Labels: improvement, php

#4202 PHP 8: Code Review `Navigation`
  Services/Navigation/classes/class.NavigationSessionRepository.php
  Services/Navigation/classes/class.ilNavigationHistory.php
  Services/Navigation/classes/class.ilNavigationHistoryGUI.php
  Services/Navigation/test/NavigationSessionRepositoryTest.php
  Services/Navigation/test/ilServicesNavigationSuite.php
Labels: improvement, php

#4204 PHP 8: Code Review `Navigation` Part II
  Services/Navigation/classes/class.ilNavigationHistory.php
  Services/Navigation/classes/class.ilNavigationHistoryGUI.php
Labels: improvement, php

#4203 PHP 8: Code Review `Multilingualism`
  Services/Multilingualism/classes/class.ilMultilingualism.php
  Services/Multilingualism/classes/class.ilMultilingualismGUI.php
  Services/Multilingualism/classes/class.ilMultilingualismTableGUI.php
  Services/Multilingualism/test/MultilingualismStandardGUIRequestTest.php
  Services/Multilingualism/test/ilServicesMultilingualismSuite.php
Labels: improvement, php

#4206 Help, Fix MetaBar Provider for Links
  Services/Help/GlobalScreen/classes/class.ilHelpMetaBarProvider.php
Labels: bugfix

#4208 PHP8: Code Review `Services/Accordion`
  Services/Accordion/classes/class.ilAccordionGUI.php
Labels: php

#4207 PHP8: Code Review `Services/Locator`
  Services/Locator/classes/class.ilLocatorGUI.php
Labels: php

#4209 Php8 Review Modules/Wiki
  Modules/Wiki/classes/class.ilWikiPageTemplateGUI.php
Labels: improvement, php

#4211 PHP 8: Code Review `Wiki` Part II
  Modules/Wiki/PrintView/class.WikiPrintViewProviderGUI.php
  Modules/Wiki/classes/class.ilObjWiki.php
  Modules/Wiki/classes/class.ilObjWikiGUI.php
  Modules/Wiki/classes/class.ilObjWikiSettingsGUI.php
  Modules/Wiki/classes/class.ilWikiImportantPagesBlockGUI.php
  Modules/Wiki/classes/class.ilWikiPageGUI.php
  Modules/Wiki/classes/class.ilWikiStat.php
  Modules/Wiki/classes/class.ilWikiUtil.php
  Modules/Wiki/libs/Sanitizer.php
  Modules/Wiki/test/WikiUtilTest.php
Labels: improvement, php

#4090 BT-28630: Added Screen-ID to To-Do GUI
  Services/Tasks/DerivedTasks/classes/class.ilDerivedTasksGUI.php
Labels: bugfix

#4212 PHP 8: Code Review `Wiki` Part III
  Modules/Wiki/Editing/class.EditingGUIRequest.php
  Modules/Wiki/Export/WikiHtmlExport.php
  Modules/Wiki/PrintView/class.WikiPrintViewProviderGUI.php
  Modules/Wiki/classes/class.ilECSWikiSettings.php
  Modules/Wiki/classes/class.ilObjWiki.php
  Modules/Wiki/classes/class.ilObjWikiAccess.php
  Modules/Wiki/classes/class.ilObjWikiGUI.php
  Modules/Wiki/classes/class.ilObjWikiListGUI.php
  Modules/Wiki/classes/class.ilObjWikiSearchResultTableGUI.php
  Modules/Wiki/classes/class.ilObjWikiSettings.php
  Modules/Wiki/classes/class.ilObjWikiSubItemListGUI.php
  Modules/Wiki/classes/class.ilPCAMDPageList.php
  Modules/Wiki/classes/class.ilPCAMDPageListGUI.php
  Modules/Wiki/classes/class.ilWikiDataSet.php
  Modules/Wiki/classes/class.ilWikiExporter.php
  Modules/Wiki/classes/class.ilWikiFunctionsBlockGUI.php
  Modules/Wiki/classes/class.ilWikiHandlerGUI.php
  Modules/Wiki/classes/class.ilWikiImportantPagesBlockGUI.php
  Modules/Wiki/classes/class.ilWikiNewsRendererGUI.php
  Modules/Wiki/classes/class.ilWikiPage.php
  Modules/Wiki/classes/class.ilWikiPageGUI.php
  Modules/Wiki/classes/class.ilWikiPageTemplate.php
  Modules/Wiki/classes/class.ilWikiPageTemplateGUI.php
  Modules/Wiki/classes/class.ilWikiPagesTableGUI.php
  Modules/Wiki/classes/class.ilWikiStat.php
  Modules/Wiki/classes/class.ilWikiStatGUI.php
  Modules/Wiki/classes/class.ilWikiUtil.php
  Modules/Wiki/libs/Sanitizer.php
Labels: improvement

#4216 PHP 8: Code Review `jQuery` Part II
  Services/jQuery/classes/class.iljQueryUtil.php
  Services/jQuery/test/PathTest.php
  Services/jQuery/test/ilServicesjQuerySuite.php
Labels: improvement, php

#4217 Php8 Review Services/ADT
  Services/ADT/classes/ActiveRecord/class.ilADTActiveRecordByType.php
  Services/ADT/classes/ActiveRecord/class.ilADTActiveRecordWrapper.php
  Services/ADT/classes/Bridges/class.ilADTFormBridge.php
  Services/ADT/classes/Bridges/class.ilADTMultiDBBridge.php
  Services/ADT/classes/Bridges/class.ilADTSearchBridge.php
  Services/ADT/classes/Types/Boolean/class.ilADTBooleanFormBridge.php
  Services/ADT/classes/Types/Date/class.ilADTDateFormBridge.php
  Services/ADT/classes/Types/Date/class.ilADTDateSearchBridgeRange.php
  Services/ADT/classes/Types/DateTime/class.ilADTDateTimeSearchBridgeRange.php
  Services/ADT/classes/Types/DateTime/class.ilADTDateTimeSearchBridgeSingle.php
  Services/ADT/classes/Types/Enum/class.ilADTEnumDefinition.php
  Services/ADT/classes/Types/Enum/class.ilADTEnumFormBridge.php
  Services/ADT/classes/Types/ExternalLink/class.ilADTExternalLinkFormBridge.php
  Services/ADT/classes/Types/ExternalLink/class.ilADTExternalLinkSearchBridgeSingle.php
  Services/ADT/classes/Types/Float/class.ilADTFloatPresentationBridge.php
  Services/ADT/classes/Types/Group/class.ilADTGroupFormBridge.php
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedText.php
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedTextDBBridge.php
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedTextDefinition.php
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedTextFormBridge.php
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedTextPresentationBridge.php
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedTextSearchBridgeSingle.php
  Services/ADT/classes/Types/Location/class.ilADTLocationPresentationBridge.php
  Services/ADT/classes/Types/Location/class.ilADTLocationSearchBridgeSingle.php
  Services/ADT/classes/Types/MultiEnum/class.ilADTMultiEnumFormBridge.php
  Services/ADT/classes/Types/Text/class.ilADTTextFormBridge.php
  Services/ADT/classes/Types/Text/class.ilADTTextSearchBridgeSingle.php
  Services/ADT/classes/_Example/class.ilADTTestGUI.php
  Services/ADT/classes/class.ilADTFactory.php
Labels: improvement, php

#4195 PHP 8: Code Review `Poll`
  Modules/Poll/classes/class.ilObjPoll.php
  Modules/Poll/classes/class.ilObjPollAccess.php
  Modules/Poll/classes/class.ilObjPollGUI.php
  Modules/Poll/classes/class.ilPollAnswerTableGUI.php
  Modules/Poll/classes/class.ilPollBlock.php
  Modules/Poll/classes/class.ilPollBlockGUI.php
  Modules/Poll/classes/class.ilPollDataSet.php
  Modules/Poll/classes/class.ilPollImporter.php
  Modules/Poll/classes/class.ilPollUserTableGUI.php
Labels: improvement, php

#4198 PHP8: Code Review `Search`
  Services/Search/classes/Form/class.ilLuceneQueryInputGUI.php
  Services/Search/classes/Like/class.ilAbstractSearch.php
  Services/Search/classes/Like/class.ilLikeAdvancedSearch.php
  Services/Search/classes/Like/class.ilLikeExerciseSearch.php
  Services/Search/classes/Like/class.ilLikeForumSearch.php
  Services/Search/classes/Like/class.ilLikeGlossaryDefinitionSearch.php
  Services/Search/classes/Like/class.ilLikeLMContentSearch.php
  Services/Search/classes/Like/class.ilLikeMediaPoolSearch.php
  Services/Search/classes/Like/class.ilLikeMetaDataSearch.php
  Services/Search/classes/Like/class.ilLikeTestSearch.php
  Services/Search/classes/Like/class.ilLikeUserDefinedFieldSearch.php
  Services/Search/classes/Like/class.ilLikeUserMultiFieldSearch.php
  Services/Search/classes/Like/class.ilLikeUserOrgUnitSearch.php
  Services/Search/classes/Like/class.ilLikeUserSearch.php
  Services/Search/classes/Like/class.ilLikeWebresourceSearch.php
  Services/Search/classes/Like/class.ilLikeWikiContentSearch.php
  Services/Search/classes/Lucene/class.ilLuceneAdvancedSearchFields.php
  Services/Search/classes/Lucene/class.ilLuceneAdvancedSearchGUI.php
  Services/Search/classes/Lucene/class.ilLuceneAdvancedSearchSettings.php
  Services/Search/classes/Lucene/class.ilLucenePathFilter.php
  Services/Search/classes/Lucene/class.ilLuceneQueryParser.php
  Services/Search/classes/Lucene/class.ilLuceneSearchGUI.php
  Services/Search/classes/Lucene/class.ilLuceneSearcher.php
  Services/Search/classes/Lucene/class.ilLuceneSubItemListGUIFactory.php
  Services/Search/classes/Lucene/class.ilLuceneUserSearchGUI.php
  Services/Search/classes/class.ilAdvancedSearch.php
  Services/Search/classes/class.ilAdvancedSearchGUI.php
  Services/Search/classes/class.ilMainMenuSearchGUI.php
  Services/Search/classes/class.ilObjSearchSettingsGUI.php
  Services/Search/classes/class.ilObjectSearch.php
  Services/Search/classes/class.ilQueryParser.php
  Services/Search/classes/class.ilRepositoryObjectDetailSearch.php
  Services/Search/classes/class.ilRepositoryObjectSearchBlockGUI.php
  Services/Search/classes/class.ilRepositorySearchGUI.php
  Services/Search/classes/class.ilRepositoryUserResultTableGUI.php
  Services/Search/classes/class.ilSearchAutoComplete.php
  Services/Search/classes/class.ilSearchBaseGUI.php
  Services/Search/classes/class.ilSearchCommandQueue.php
  Services/Search/classes/class.ilSearchControllerGUI.php
  Services/Search/classes/class.ilSearchGUI.php
  Services/Search/classes/class.ilSearchResult.php
  Services/Search/classes/class.ilSearchResultPresentation.php
  Services/Search/classes/class.ilSearchRootSelector.php
  Services/Search/classes/class.ilSearchSettings.php
  Services/Search/classes/class.ilUserFilterGUI.php
  Services/Search/classes/class.ilUserSearchCache.php
  Services/Search/classes/class.ilUserSearchFilter.php
  Services/Search/classes/class.ilUserSearchOptions.php
  Services/Search/test/ilSearchLuceneQueryParserTest.php
  Services/Search/test/ilServicesSearchSuite.php
Labels: improvement, php

#4139 fixed 0032023: Lucene does not search in files
  Modules/File/LuceneObjectDefinition.xml
Labels: bugfix

#4141 GlobalCache: add named objective to flush all caches
  Services/GlobalCache/classes/Setup/class.ilGlobalCacheAllFlushedObjective.php
  Services/GlobalCache/classes/Setup/class.ilGlobalCacheSetupAgent.php
Labels: improvement, php

#4233 bug 0032318
  Services/Language/classes/Setup/class.ilSetupLanguage.php
Labels: bugfix

#4199 PHP8: Code Review `src/Filesystem`
  src/Filesystem/DTO/Metadata.php
  src/Filesystem/Decorator/FilesystemWhitelistDecorator.php
  src/Filesystem/Decorator/ReadOnlyDecorator.php
  src/Filesystem/Definitions/Definitions.php
  src/Filesystem/Definitions/SuffixDefinitions.php
  src/Filesystem/FilesystemFacade.php
  src/Filesystem/FilesystemsAware.php
  src/Filesystem/FilesystemsImpl.php
  src/Filesystem/Provider/Configuration/LocalConfig.php
  src/Filesystem/Provider/FlySystem/FlySystemDirectoryAccess.php
  src/Filesystem/Provider/FlySystem/FlySystemFileAccess.php
  src/Filesystem/Provider/FlySystem/FlySystemFileStreamAccess.php
  src/Filesystem/Provider/FlySystem/FlySystemLocalFilesystemFactory.php
  src/Filesystem/Provider/FlySystem/Util.php
  src/Filesystem/Security/Sanitizing/FilenameSanitizerImpl.php
  src/Filesystem/Stream/Stream.php
  src/Filesystem/Stream/Streams.php
  src/Filesystem/Util/LegacyPathHelper.php
  src/Filesystem/Util/PHPStreamFunctions.php
Labels: improvement, php

#4214 PHP 8: Code Review `src/FileUpload`
  src/FileUpload/Processor/BlacklistExtensionPreProcessor.php
  src/FileUpload/ScalarTypeCheckAware.php
Labels: improvement, php

#4218 PHP 8: Code Review `src/ResourceStorage`
  src/ResourceStorage/Consumer/AbsolutePathConsumer.php
  src/ResourceStorage/Consumer/BaseConsumer.php
  src/ResourceStorage/Consumer/ConsumerFactory.php
  src/ResourceStorage/Consumer/Consumers.php
  src/ResourceStorage/Consumer/DownloadConsumer.php
  src/ResourceStorage/Consumer/FileStreamConsumer.php
  src/ResourceStorage/Consumer/GetRevisionTrait.php
  src/ResourceStorage/Consumer/InlineConsumer.php
  src/ResourceStorage/Consumer/SrcConsumer.php
  src/ResourceStorage/Consumer/StreamConsumer.php
  src/ResourceStorage/Identification/ResourceIdentification.php
  src/ResourceStorage/Information/FileInformation.php
  src/ResourceStorage/Information/Information.php
  src/ResourceStorage/Information/Repository/InformationRepository.php
  src/ResourceStorage/Lock/LockHandlerResult.php
  src/ResourceStorage/Lock/LockHandlerResultilDB.php
  src/ResourceStorage/Lock/LockHandlerilDB.php
  src/ResourceStorage/Manager/Manager.php
  src/ResourceStorage/Policy/FileNamePolicyException.php
  src/ResourceStorage/Policy/FileNamePolicyStack.php
  src/ResourceStorage/Policy/NoneFileNamePolicy.php
  src/ResourceStorage/Policy/WhiteAndBlacklistedFileNamePolicy.php
  src/ResourceStorage/Preloader/PreloadableRepository.php
  src/ResourceStorage/Resource/InfoResolver/AbstractInfoResolver.php
  src/ResourceStorage/Resource/InfoResolver/ClonedRevisionInfoResolver.php
  src/ResourceStorage/Resource/Repository/ResourceRepository.php
  src/ResourceStorage/Resource/ResourceBuilder.php
  src/ResourceStorage/Resource/StorableFileResource.php
  src/ResourceStorage/Resource/StorableResource.php
  src/ResourceStorage/Revision/CloneRevision.php
  src/ResourceStorage/Revision/FileRevision.php
  src/ResourceStorage/Revision/FileStreamRevision.php
  src/ResourceStorage/Revision/NonMatchingIdentificationException.php
  src/ResourceStorage/Revision/NullRevision.php
  src/ResourceStorage/Revision/Repository/RevisionRepository.php
  src/ResourceStorage/Revision/Revision.php
  src/ResourceStorage/Revision/RevisionCollection.php
  src/ResourceStorage/Revision/RevisionExistsException.php
  src/ResourceStorage/Revision/UploadedFileRevision.php
  src/ResourceStorage/Services.php
  src/ResourceStorage/Stakeholder/AbstractResourceStakeholder.php
  src/ResourceStorage/StorageHandler/FileSystemBased/AbstractFileSystemStorageHandler.php
  src/ResourceStorage/StorageHandler/FileSystemBased/FileSystemStorageHandler.php
  src/ResourceStorage/StorageHandler/FileSystemBased/MaxNestingFileSystemStorageHandler.php
  src/ResourceStorage/StorageHandler/Migrator.php
  src/ResourceStorage/StorageHandler/PathGenerator/MaxNestingPathGenerator.php
  src/ResourceStorage/StorageHandler/PathGenerator/UUIDBasedPathGenerator.php
Labels: improvement, php

#4236 Allow blank linkes in PHPDoc comments.
  docs/development/code-style-configs/php-storm.xml
  src/UI/Component/Input/Field/Factory.php
Labels: improvement

#4242 restore delete chat settings validation
  Services/User/Settings/classes/class.ilUserPrivacySettingsGUI.php
Labels: bugfix

#4179 Fix mantis 30739
  Modules/TestQuestionPool/classes/class.assLongMenu.php
Labels: bugfix, php

#4178 Test&Assessment: fix for 27679
  Modules/Test/classes/class.ilTestAccess.php
Labels: bugfix, php

#4165 TA 31132, kindly transform points to float
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#4152 T&A Fix: Manual scoring table not sorted alphabetically
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
  Modules/Test/classes/tables/class.ilTestManScoringParticipantsBySelectedQuestionAndPassTableGUI.php
Labels: bugfix, php

#4147 fix mantis #2506
  Modules/Test/js/ilTestPlayerQuestionEditControl.js
Labels: bugfix

#4146 fix for 26215
  Modules/TestQuestionPool/classes/class.assClozeGap.php
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
Labels: bugfix, php

#4112 Fix erratic scroll behaviour when editing gap question
  Modules/TestQuestionPool/templates/default/cloze_gap_builder.js
Labels: bugfix, javascript

#4243 InfoScreen: PHP8 review
  Services/InfoScreen/classes/class.StandardGUIRequest.php
  Services/InfoScreen/classes/class.ilInfoScreenGUI.php
  Services/InfoScreen/test/InfoScreenStandardGUIRequestTest.php
Labels: improvement, php

#4240 PHP 8: Code Review `Link`
  Services/Link/classes/class.ilIntLinkRepItemExplorerGUI.php
  Services/Link/classes/class.ilInternalLink.php
  Services/Link/classes/class.ilInternalLinkGUI.php
  Services/Link/classes/class.ilLink.php
  Services/Link/classes/class.ilLinkTargetObjectExplorerGUI.php
  Services/Link/test/LinkStandardGUIRequestTest.php
  Services/Link/test/ilServicesLinkSuite.php
Labels: improvement, php

#4235 PHP8 review rating
  Services/Rating/classes/class.ilRating.php
Labels: improvement, php

#4228 PHP8: Code Review `ILIAS Page Editor`
  Services/COPage/DOM/class.ilDomDocument.php
  Services/COPage/Editor/Components/Paragraph/class.ParagraphResponseFactory.php
  Services/COPage/Editor/Components/Table/class.TableCommandActionHandler.php
  Services/COPage/Editor/Server/class.Server.php
  Services/COPage/Editor/Server/class.UIWrapper.php
  Services/COPage/Layout/classes/class.ilPageLayout.php
  Services/COPage/classes/class.ilCOPageHTMLExport.php
  Services/COPage/classes/class.ilMediaAliasItem.php
  Services/COPage/classes/class.ilPCBlog.php
  Services/COPage/classes/class.ilPCFileItemGUI.php
  Services/COPage/classes/class.ilPCFileListGUI.php
  Services/COPage/classes/class.ilPCMapGUI.php
  Services/COPage/classes/class.ilPCMediaObjectGUI.php
  Services/COPage/classes/class.ilPCParagraph.php
  Services/COPage/classes/class.ilPCParagraphGUI.php
  Services/COPage/classes/class.ilPCPlaceHolderGUI.php
  Services/COPage/classes/class.ilPCPlugged.php
  Services/COPage/classes/class.ilPCQuestion.php
  Services/COPage/classes/class.ilPCQuestionGUI.php
  Services/COPage/classes/class.ilPageComponentPluginExporter.php
  Services/COPage/classes/class.ilPageComponentPluginImporter.php
  Services/COPage/classes/class.ilPageConfig.php
  Services/COPage/classes/class.ilPageContentGUI.php
  Services/COPage/classes/class.ilPageObject.php
  Services/COPage/classes/class.ilPageObjectGUI.php
Labels: improvement, php

#4230 php8 code review tagging
  Services/Tagging/GlobalScreen/classes/TaggingMainBarProvider.php
  Services/Tagging/classes/class.ilObjTaggingSettings.php
  Services/Tagging/classes/class.ilObjTaggingSettingsAccess.php
  Services/Tagging/classes/class.ilObjTaggingSettingsGUI.php
  Services/Tagging/classes/class.ilTagging.php
  Services/Tagging/classes/class.ilTaggingAppEventListener.php
  Services/Tagging/classes/class.ilTaggingClassificationProvider.php
  Services/Tagging/classes/class.ilTaggingGUI.php
  Services/Tagging/classes/class.ilTaggingSlateContentGUI.php
  Services/Tagging/classes/class.ilUserForTagTableGUI.php
  Services/Tagging/test/ilServicesTaggingSuite.php
Labels: php

#4227 PHP8: Code Review `User Service`
  Services/User/Actions/Contexts/classes/class.ilUserActionContextFactory.php
  Services/User/Actions/classes/class.ilUserActionCollection.php
  Services/User/Actions/classes/class.ilUserActionProviderFactory.php
  Services/User/Gallery/interfaces/interface.ilUsersGalleryUserCollection.php
  Services/User/Profile/classes/class.ilPersonalProfileGUI.php
  Services/User/ProfilePrompt/classes/class.ilProfilePromptSettings.php
  Services/User/Settings/classes/class.ilUserPrivacySettingsGUI.php
  Services/User/classes/Badges/class.ilUserProfileBadge.php
  Services/User/classes/Badges/class.ilUserProfileBadgeGUI.php
  Services/User/classes/class.ilAccountCode.php
  Services/User/classes/class.ilAccountCodesGUI.php
  Services/User/classes/class.ilLocalUser.php
  Services/User/classes/class.ilObjUser.php
  Services/User/classes/class.ilObjUserFolder.php
  Services/User/classes/class.ilObjUserFolderAccess.php
  Services/User/classes/class.ilObjUserFolderGUI.php
  Services/User/classes/class.ilObjUserGUI.php
  Services/User/classes/class.ilPublicUserProfileGUI.php
  Services/User/classes/class.ilRoleAssignmentTableGUI.php
  Services/User/classes/class.ilUDFClaimingPlugin.php
  Services/User/classes/class.ilUserAutoComplete.php
  Services/User/classes/class.ilUserAvatarResolver.php
  Services/User/classes/class.ilUserCronCheckAccounts.php
  Services/User/classes/class.ilUserDataSet.php
  Services/User/classes/class.ilUserDefinedFields.php
  Services/User/classes/class.ilUserExportFileTableGUI.php
  Services/User/classes/class.ilUserFieldSettingsTableGUI.php
  Services/User/classes/class.ilUserFormSettings.php
  Services/User/classes/class.ilUserImportParser.php
  Services/User/classes/class.ilUserLPTableGUI.php
  Services/User/classes/class.ilUserProfile.php
  Services/User/classes/class.ilUserQuery.php
  Services/User/classes/class.ilUserRoleStartingPointTableGUI.php
  Services/User/classes/class.ilUserStartingPointGUI.php
  Services/User/classes/class.ilUserTableGUI.php
  Services/User/classes/class.ilUserUtil.php
  Services/User/classes/class.ilUserXMLWriter.php
  Services/User/classes/class.ilvCard.php
  Services/User/test/ilServicesUserSuite.php
  Services/User/test/ilUserBaseTest.php
Labels: improvement, php

#4250 Hotfix: Remove HTML in plain text E-Mails
  Services/Mail/classes/class.ilMimeMail.php
Labels: bugfix, php

#4251 Hotfix: Remove HTML in plain text E-Mails (trunk)
  Services/Mail/classes/class.ilMimeMail.php
Labels: bugfix, php

#4226 PHP8: Code Review `Badges`
  Modules/Course/classes/class.ilCourseBadgeProvider.php
  Services/Badge/GlobalScreen/BadgeMainBarProvider.php
  Services/Badge/GlobalScreen/BadgeNotificationProvider.php
  Services/Badge/LearningHistory/classes/class.ilBadgeLearningHistoryProvider.php
  Services/Badge/classes/class.ilBadge.php
  Services/Badge/classes/class.ilBadgeAppEventListener.php
  Services/Badge/classes/class.ilBadgeAssignment.php
  Services/Badge/classes/class.ilBadgeBackpack.php
  Services/Badge/classes/class.ilBadgeGUIRequest.php
  Services/Badge/classes/class.ilBadgeHandler.php
  Services/Badge/classes/class.ilBadgeImageTemplate.php
  Services/Badge/classes/class.ilBadgeManagementGUI.php
  Services/Badge/classes/class.ilBadgePersonalTableGUI.php
  Services/Badge/classes/class.ilBadgeProfileGUI.php
  Services/Badge/classes/class.ilBadgeRenderer.php
  Services/Badge/classes/class.ilBadgeTableGUI.php
  Services/Badge/classes/class.ilBadgeTypesTableGUI.php
  Services/Badge/classes/class.ilBadgeUserTableGUI.php
  Services/Badge/classes/class.ilBadgeWAC.php
  Services/Badge/classes/class.ilObjBadgeAdministrationGUI.php
  Services/Badge/classes/class.ilObjectBadgeTableGUI.php
  Services/Badge/interfaces/interface.ilBadgeType.php
  Services/User/classes/class.ilUserBadgeProvider.php
Labels: improvement, php

#4224 PHP 8: Code Review `Survey` Part II
  Modules/Survey/Participants/class.StatusManager.php
  Modules/Survey/Skills/class.ilSurveySkillExplorer.php
  Modules/Survey/Skills/class.ilSurveySkillThresholdsTableGUI.php
  Modules/Survey/classes/class.ilObjSurvey.php
  Modules/SurveyQuestionPool/Export/class.ilSurveyQuestionPoolExporter.php
  Modules/SurveyQuestionPool/Questions/class.SurveyQuestion.php
  Modules/SurveyQuestionPool/Questions/class.SurveyTextQuestion.php
  Services/Survey/classes/class.SurveyImportParser.php
Labels: improvement, php

#4219 PHP8: Code Review `Modules/ItemGroup`
  Modules/ItemGroup/classes/class.ilObjItemGroup.php
  Modules/ItemGroup/classes/class.ilObjItemGroupGUI.php
Labels: php
