Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-04, with the labels that each got.

#4257 PHP 8: Code Review `AdvancedEditing`
  Services/AdvancedEditing/classes/class.ilObjAdvancedEditing.php
  Services/AdvancedEditing/classes/class.ilObjAdvancedEditingGUI.php
  Services/AdvancedEditing/test/AdveStandardGUIRequestTest.php
  Services/AdvancedEditing/test/ilServicesAdvancedEditingSuite.php
Labels: improvement, php

#4259 Saml: PHP8 review
  Services/Saml/classes/class.ilSamlAuthFactory.php
  Services/Saml/classes/class.ilSamlIdp.php
  Services/Saml/classes/class.ilSamlIdpSelectionTableGUI.php
  Services/Saml/classes/class.ilSamlSettingsGUI.php
Labels: improvement, php

#4244 Remove trailing whitespace (cherry-picked from #4109)
  setup/README.md
Labels: bugfix

#3630 Setup: add metric collector for db update steps
  Modules/StudyProgramme/classes/Setup/ilStudyProgrammeUpdateAgent.php
  Modules/TestQuestionPool/Setup/class.ilTestQuestionPoolSetupAgent.php
  Services/COPage/classes/Setup/class.Agent.php
  Services/Database/classes/Setup/class.ilDBStepReader.php
  Services/Database/classes/Setup/class.ilDBStepReaderExistsObjective.php
  Services/Database/classes/Setup/class.ilDatabaseUpdateStepsExecutedObjective.php
  Services/Database/classes/Setup/class.ilDatabaseUpdateStepsMetricsCollectedObjective.php
  Services/Database/test/Setup/ilDBStepReaderTest.php
  Services/Database/test/Setup/ilDatabaseSetupSuite.php
  Services/Database/test/Setup/ilDatabaseUpdateStepsExecutedObjectiveTest.php
  Services/Database/test/Setup/ilDatabaseUpdateStepsMetricsCollectedObjectiveTest.php
  docs/development/database-updates.md
Labels: improvement

#4269 fix potential undefined vars
  Modules/Chatroom/GlobalScreen/ChatInvitationNotificationProvider.php
Labels: bugfix

#4264 Form: PHP8 review
  Services/Form/classes/class.ilAdvSelectInputGUI.php
  Services/Form/classes/class.ilAlphabetInputGUI.php
  Services/Form/classes/class.ilBirthdayInputGUI.php
  Services/Form/classes/class.ilCSSRectInputGUI.php
  Services/Form/classes/class.ilCheckboxGroupInputGUI.php
  Services/Form/classes/class.ilCheckboxInputGUI.php
  Services/Form/classes/class.ilCheckboxOption.php
  Services/Form/classes/class.ilColorPickerInputGUI.php
  Services/Form/classes/class.ilCombinationInputGUI.php
  Services/Form/classes/class.ilCountrySelectInputGUI.php
  Services/Form/classes/class.ilCustomInputGUI.php
  Services/Form/classes/class.ilDateDurationInputGUI.php
  Services/Form/classes/class.ilDateTimeInputGUI.php
  Services/Form/classes/class.ilDragDropFileInputGUI.php
  Services/Form/classes/class.ilDurationInputGUI.php
  Services/Form/classes/class.ilEMailInputGUI.php
  Services/Form/classes/class.ilFileInputGUI.php
  Services/Form/classes/class.ilFileStandardDropzoneInputGUI.php
  Services/Form/classes/class.ilFileWizardInputGUI.php
  Services/Form/classes/class.ilFormGUI.php
  Services/Form/classes/class.ilFormPropertyDispatchGUI.php
  Services/Form/classes/class.ilFormPropertyGUI.php
  Services/Form/classes/class.ilFormSectionHeaderGUI.php
  Services/Form/classes/class.ilFormulaInputGUI.php
  Services/Form/classes/class.ilHiddenInputGUI.php
  Services/Form/classes/class.ilHierarchyFormGUI.php
  Services/Form/classes/class.ilImageFileInputGUI.php
  Services/Form/classes/class.ilLinkInputGUI.php
  Services/Form/classes/class.ilLocationInputGUI.php
  Services/Form/classes/class.ilMultiSelectInputGUI.php
  Services/Form/classes/class.ilNestedListInputGUI.php
  Services/Form/classes/class.ilNonEditableValueGUI.php
  Services/Form/classes/class.ilNumberInputGUI.php
  Services/Form/classes/class.ilPasswordInputGUI.php
  Services/Form/classes/class.ilPropertyFormGUI.php
  Services/Form/classes/class.ilRadioGroupInputGUI.php
  Services/Form/classes/class.ilRadioOption.php
  Services/Form/classes/class.ilRegExpInputGUI.php
  Services/Form/classes/class.ilRepositorySelector2InputGUI.php
  Services/Form/classes/class.ilRepositorySelectorInputGUI.php
  Services/Form/classes/class.ilRoleAutoCompleteInputGUI.php
  Services/Form/classes/class.ilSelectBuilderInputGUI.php
  Services/Form/classes/class.ilSelectInputGUI.php
  Services/Form/classes/class.ilSubEnabledFormPropertyGUI.php
  Services/Form/classes/class.ilTextAreaInputGUI.php
  Services/Form/classes/class.ilTextInputGUI.php
  Services/Form/classes/class.ilTextWizardInputGUI.php
  Services/Form/classes/class.ilUriInputGUI.php
  Services/Form/classes/class.ilUserLoginInputGUI.php
  Services/Form/exceptions/class.ilFormException.php
  Services/Form/interfaces/interface.ilFormValuesManipulator.php
  Services/Form/interfaces/interface.ilMultiValuesItem.php
  Services/Form/test/FormGUITest.php
Labels: improvement, php

#4262 EventHandling: PHP8 review
  Services/EventHandling/classes/Setup/class.ilEventDefinitionProcessor.php
  Services/EventHandling/classes/class.ilAppEventHandler.php
  Services/EventHandling/classes/class.ilEventHandlingAppEventListener.php
  Services/EventHandling/classes/class.ilEventHandlingTestException.php
  Services/EventHandling/classes/class.ilEventHookPlugin.php
  Services/EventHandling/interfaces/interface.ilAppEventListener.php
  Services/EventHandling/test/EventTest.php
Labels: improvement, php

#4274 EventHandler: Improve logging of parameters
  Services/EventHandling/classes/class.ilAppEventHandler.php
Labels: improvement

#4270 Empty Table Heading in TA Results screen
  Modules/Test/classes/tables/class.ilParticipantsTestResultsTableGUI.php
Labels: bugfix

#4267 Empty Heading on Infoscreen of Text and Survey
  Modules/Survey/classes/class.ilObjSurveyGUI.php
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix

#4260 CopyWizard: PHP8 review
  Services/CopyWizard/classes/class.ilCopyWizardOptions.php
  Services/CopyWizard/test/ilCopyWizardOptionsTest.php
Labels: improvement, php

#4223 PHP 8: Code Review `SystemCheck`
  Services/SystemCheck/classes/Setup/class.ilSystemCheckDefinitionProcessor.php
  Services/SystemCheck/classes/class.ilObjSystemCheck.php
  Services/SystemCheck/classes/class.ilObjSystemCheckGUI.php
  Services/SystemCheck/classes/class.ilSCComponentTaskFactory.php
  Services/SystemCheck/classes/class.ilSCComponentTaskGUI.php
  Services/SystemCheck/classes/class.ilSCCronTrash.php
  Services/SystemCheck/classes/class.ilSCGroup.php
  Services/SystemCheck/classes/class.ilSCGroups.php
  Services/SystemCheck/classes/class.ilSCTask.php
  Services/SystemCheck/classes/class.ilSCTaskTableGUI.php
  Services/SystemCheck/classes/class.ilSCTasks.php
  Services/SystemCheck/classes/class.ilSystemCheckTrash.php
Labels: improvement, php

#4283 Php 8: Code Review Statistics and Learning Progress
  Services/Tracking/classes/class.ilChangeEvent.php
  Services/Tracking/classes/class.ilLPCronObjectStatistics.php
  Services/Tracking/classes/class.ilLPObjSettings.php
  Services/Tracking/classes/class.ilLPStatusFactory.php
  Services/Tracking/classes/class.ilLPXmlWriter.php
  Services/Tracking/classes/class.ilLearningProgressBaseGUI.php
  Services/Tracking/classes/class.ilObjUserTracking.php
  Services/Tracking/classes/class.ilObjUserTrackingGUI.php
  Services/Tracking/classes/class.ilTrQuery.php
  Services/Tracking/classes/collection/class.ilLPCollectionOfLMChapters.php
  Services/Tracking/classes/collection/class.ilLPCollectionOfRepositoryObjects.php
  Services/Tracking/classes/collection/class.ilLPCollectionOfSCOs.php
  Services/Tracking/classes/learning_history/class.ilTrackingLearningHistoryProvider.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsDailyTableGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsLPTableGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilLPCollectionSettingsTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilLPListOfProgressGUI.php
  Services/Tracking/classes/repository_statistics/class.ilLPProgressTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrMatrixTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrObjectUsersPropsTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrSummaryTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrUserObjectsPropsTableGUI.php
  Services/Tracking/classes/status/class.ilLPStatusCollection.php
  Services/Tracking/classes/status/class.ilLPStatusCollectionMobs.php
  Services/Tracking/classes/status/class.ilLPStatusExerciseReturned.php
  Services/Tracking/classes/status/class.ilLPStatusManual.php
  Services/Tracking/classes/status/class.ilLPStatusObjectives.php
  Services/Tracking/classes/status/class.ilLPStatusSCORM.php
  Services/Tracking/classes/status/class.ilLPStatusTestPassed.php
  Services/Tracking/classes/status/class.ilLPStatusTypicalLearningTime.php
  Services/Tracking/test/ilServicesTrackingSuite.php
Labels: improvement, php

#4132 ILIAS6: UI Components, fix of responsive Logo Issue, see: #32016
  Services/Style/classes/Setup/class.ilStyleReplaceResponsiveLogoObjective.php
  Services/Style/classes/Setup/class.ilStyleSetupAgent.php
  composer.json
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/Collector/MainLayoutCollector.php
  src/GlobalScreen/Scope/Layout/ModificationHandler.php
  src/GlobalScreen/Scope/Layout/Provider/AbstractModificationProvider.php
  src/GlobalScreen/Scope/Layout/Provider/ModificationProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/DecoratedPagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/PagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/StandardPagePartProvider.php
  src/UI/Component/Layout/Page/Factory.php
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix, php

#4129 ILIAS7: UI Components, fix of responsive Logo Issue, see: #32016
  Services/Style/classes/Setup/class.ilStyleReplaceResponsiveLogoObjective.php
  Services/Style/classes/Setup/class.ilStyleSetupAgent.php
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/Collector/MainLayoutCollector.php
  src/GlobalScreen/Scope/Layout/ModificationHandler.php
  src/GlobalScreen/Scope/Layout/Provider/AbstractModificationProvider.php
  src/GlobalScreen/Scope/Layout/Provider/ModificationProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/DecoratedPagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/PagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/StandardPagePartProvider.php
  src/UI/Component/Layout/Page/Factory.php
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix, php

#4276 PHP 8: Code Review `soap`
  Modules/OrgUnit/classes/Webservices/SOAP/Base.php
  Services/BackgroundTasks/classes/class.ilSoapBackgroundTasksAdministration.php
  Services/WebServices/SOAP/classes/class.ilAbstractSoapMethod.php
  Services/WebServices/SOAP/classes/class.ilSoapHookPlugin.php
  Services/WebServices/SOAP/classes/ilSoapMethod.php
  webservice/soap/classes/class.ilCopyWizardSettingsXMLParser.php
  webservice/soap/classes/class.ilNusoapUserAdministrationAdapter.php
  webservice/soap/classes/class.ilObjectXMLException.php
  webservice/soap/classes/class.ilObjectXMLParser.php
  webservice/soap/classes/class.ilObjectXMLWriter.php
  webservice/soap/classes/class.ilSoapAdministration.php
  webservice/soap/classes/class.ilSoapCourseAdministration.php
  webservice/soap/classes/class.ilSoapDataCollectionAdministration.php
  webservice/soap/classes/class.ilSoapExerciseAdministration.php
  webservice/soap/classes/class.ilSoapFileAdministration.php
  webservice/soap/classes/class.ilSoapGLOStructureReader.php
  webservice/soap/classes/class.ilSoapGLOTermDefinitionStructureObject.php
  webservice/soap/classes/class.ilSoapGroupAdministration.php
  webservice/soap/classes/class.ilSoapInstallationInfoXMLWriter.php
  webservice/soap/classes/class.ilSoapLMStructureReader.php
  webservice/soap/classes/class.ilSoapLearningProgressAdministration.php
  webservice/soap/classes/class.ilSoapMailXmlParser.php
  webservice/soap/classes/class.ilSoapObjectAdministration.php
  webservice/soap/classes/class.ilSoapRBACAdministration.php
  webservice/soap/classes/class.ilSoapRepositoryStructureObject.php
  webservice/soap/classes/class.ilSoapRoleObjectXMLWriter.php
  webservice/soap/classes/class.ilSoapSCORMAdministration.php
  webservice/soap/classes/class.ilSoapStructureObject.php
  webservice/soap/classes/class.ilSoapStructureObjectAdministration.php
  webservice/soap/classes/class.ilSoapStructureObjectFactory.php
  webservice/soap/classes/class.ilSoapStructureObjectXMLWriter.php
  webservice/soap/classes/class.ilSoapStructureReader.php
  webservice/soap/classes/class.ilSoapTestAdministration.php
  webservice/soap/classes/class.ilSoapUserAdministration.php
  webservice/soap/classes/class.ilSoapUserAdministrationAdapter.php
  webservice/soap/classes/class.ilSoapUtils.php
  webservice/soap/classes/class.ilSoapWebLinkAdministration.php
  webservice/soap/classes/class.ilXMLResultSet.php
  webservice/soap/classes/class.ilXMLResultSetParser.php
  webservice/soap/classes/class.ilXMLResultSetRow.php
  webservice/soap/classes/class.ilXMLResultSetWriter.php
  webservice/soap/include/inc.soap_functions.php
  webservice/soap/lib/ReleaseInfo.php
  webservice/soap/nusoapserver.php
  webservice/soap/server.php
Labels: improvement, php

#4131 UI Components, fix of responsive Logo Issue, see: #32016
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/Collector/MainLayoutCollector.php
  src/GlobalScreen/Scope/Layout/ModificationHandler.php
  src/GlobalScreen/Scope/Layout/Provider/AbstractModificationProvider.php
  src/GlobalScreen/Scope/Layout/Provider/ModificationProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/DecoratedPagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/PagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/StandardPagePartProvider.php
  src/UI/Component/Layout/Page/Factory.php
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Factory.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/examples/Layout/Page/Standard/ui.php
  src/UI/examples/MainControls/Footer/footer.php
  src/UI/examples/MainControls/Footer/footer_with_modals.php
  src/UI/examples/MainControls/MetaBar/base_metabar.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix, php

#4295 Review: `Services/Membership`
  Modules/Course/classes/class.ilCourseMembershipGUI.php
  Modules/Group/classes/class.ilGroupMembershipGUI.php
  Modules/LearningSequence/classes/Members/class.ilLearningSequenceMembershipGUI.php
  Modules/Session/classes/class.ilSessionMembershipGUI.php
  Services/Form/classes/class.ilSelectInputGUI.php
  Services/Membership/GlobalScreen/classes/class.MembershipMainBarProvider.php
  Services/Membership/classes/Cron/class.ilMembershipCronMinMembers.php
  Services/Membership/classes/Cron/class.ilMembershipCronNotifications.php
  Services/Membership/classes/Cron/class.ilMembershipCronNotificationsData.php
  Services/Membership/classes/Export/class.ilMemberExport.php
  Services/Membership/classes/Export/class.ilMemberExportFileTableGUI.php
  Services/Membership/classes/Export/class.ilMemberExportGUI.php
  Services/Membership/classes/Export/class.ilMemberExportSettingsGUI.php
  Services/Membership/classes/class.ilAttendanceList.php
  Services/Membership/classes/class.ilMemberAgreement.php
  Services/Membership/classes/class.ilMemberAgreementGUI.php
  Services/Membership/classes/class.ilMembershipAdministrationGUI.php
  Services/Membership/classes/class.ilMembershipGUI.php
  Services/Membership/classes/class.ilMembershipMailGUI.php
  Services/Membership/classes/class.ilMembershipNotifications.php
  Services/Membership/classes/class.ilMembershipOverviewGUI.php
  Services/Membership/classes/class.ilMembershipRegistrationCodeUtils.php
  Services/Membership/classes/class.ilMembershipRegistrationSettings.php
  Services/Membership/classes/class.ilMembershipRegistrationSettingsGUI.php
  Services/Membership/classes/class.ilObjectCustomUserFieldHistory.php
  Services/Membership/classes/class.ilObjectCustomUserFieldsGUI.php
  Services/Membership/classes/class.ilObjectCustomUserFieldsTableGUI.php
  Services/Membership/classes/class.ilParticipant.php
  Services/Membership/classes/class.ilParticipantTableGUI.php
  Services/Membership/classes/class.ilParticipants.php
  Services/Membership/classes/class.ilRegistrationGUI.php
  Services/Membership/classes/class.ilSubscriberTableGUI.php
  Services/Membership/classes/class.ilWaitingList.php
  Services/Membership/classes/class.ilWaitingListTableGUI.php
  Services/Membership/exceptions/class.ilMembershipRegistrationException.php
  Services/Membership/interfaces/interface.ilMembershipRegistrationCodes.php
  Services/Membership/test/ilServicesMembershipSuite.php
  Services/Membership/test/ilWaitingListTest.php
Labels: improvement, php

#4281 Dashboard: Sort by alphabet
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsViewGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockSelectedItemsViewGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewSettings.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockConstants.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#4285 PHP 8 Code Review Services Cache
  Services/Cache/classes/class.ilCache.php
  Services/Cache/test/ilCacheTest.php
  Services/Rating/classes/class.ilRating.php
  Services/Rating/classes/class.ilRatingCategory.php
  Services/Rating/classes/class.ilRatingCategoryGUI.php
  Services/Rating/classes/class.ilRatingDataSet.php
  Services/Rating/classes/class.ilRatingExporter.php
  Services/Rating/classes/class.ilRatingGUI.php
  Services/Rating/test/RatingCategoryTest.php
Labels: improvement, php

#4287 PHP 8 Code Review Like
  Services/Like/classes/class.ilLikeData.php
  Services/Like/classes/class.ilLikeGUI.php
  Services/Like/test/LikeStandardGUIRequestTest.php
Labels: improvement, php

#4290 PHP 8 Code Review Services Classification
  Services/Classification/classes/class.ilClassificationBlockGUI.php
  Services/Classification/classes/class.ilClassificationProvider.php
  Services/Classification/test/ClassificationSessionRepositoryTest.php
Labels: improvement, php

#4237 PHP 8: Code Review `Language`
  Services/Language/classes/Setup/class.ilLanguageMetricsCollectedObjective.php
  Services/Language/classes/Setup/class.ilLanguageObjective.php
  Services/Language/classes/Setup/class.ilLanguageSetupConfig.php
  Services/Language/classes/Setup/class.ilLanguagesUpdatedObjective.php
  Services/Language/classes/Setup/class.ilPluginLanguageUpdatedObjective.php
  Services/Language/classes/Setup/class.ilSetupLanguage.php
  Services/Language/classes/class.ilCachedLanguage.php
  Services/Language/classes/class.ilLangDeprecated.php
  Services/Language/classes/class.ilLanguage.php
  Services/Language/classes/class.ilLanguageDetection.php
  Services/Language/classes/class.ilLanguageDetectorFactory.php
  Services/Language/classes/class.ilLanguageExtTableGUI.php
  Services/Language/classes/class.ilLanguageFactory.php
  Services/Language/classes/class.ilLanguageFile.php
  Services/Language/classes/class.ilLanguageTableGUI.php
  Services/Language/classes/class.ilObjLanguage.php
  Services/Language/classes/class.ilObjLanguageAccess.php
  Services/Language/classes/class.ilObjLanguageExt.php
  Services/Language/classes/class.ilObjLanguageExtGUI.php
  Services/Language/classes/class.ilObjLanguageFolder.php
  Services/Language/classes/class.ilObjLanguageFolderGUI.php
  Services/Language/classes/class.ilPluginLanguage.php
  Services/Language/interfaces/interface.ilLanguageDetector.php
  Services/Language/test/bootstrap.php
  Services/Language/test/ilLanguageBaseTest.php
  Services/Language/test/ilServicesLanguageSuite.php
  Services/Language/test/ilSetupLanguageTest.php
  tests/Refinery/TestCase.php
  tests/UI/Base.php
Labels: improvement, php

#4303 PHP 8 Code Review MediaObjects
  Services/MediaObjects/Creation/class.CreationGUIRequest.php
  Services/MediaObjects/Creation/class.ilMediaCreationGUI.php
  Services/MediaObjects/ImageMap/class.ImageMapEditSessionRepository.php
  Services/MediaObjects/ImageMap/class.ImageMapGUIRequest.php
  Services/MediaObjects/ImageMap/class.ImageMapManager.php
  Services/MediaObjects/ImageMap/class.ilImageMapTableGUI.php
  Services/MediaObjects/ImageMap/class.ilMapArea.php
  Services/MediaObjects/SubTitles/class.SubtitlesGUIRequest.php
  Services/MediaObjects/SubTitles/class.ilMobMultiSrtConfirmationTable2GUI.php
  Services/MediaObjects/SubTitles/class.ilMobMultiSrtUpload.php
  Services/MediaObjects/SubTitles/class.ilMobSubtitleTableGUI.php
  Services/MediaObjects/SubTitles/class.ilMultiSrtConfirmationTable2GUI.php
  Services/MediaObjects/classes/class.ilExternalMediaAnalyzer.php
  Services/MediaObjects/classes/class.ilFFmpeg.php
  Services/MediaObjects/classes/class.ilMediaAnalyzer.php
  Services/MediaObjects/classes/class.ilMediaImageUtil.php
  Services/MediaObjects/classes/class.ilMediaItem.php
  Services/MediaObjects/classes/class.ilMediaObjectDataSet.php
  Services/MediaObjects/classes/class.ilMediaObjectUsagesTableGUI.php
  Services/MediaObjects/classes/class.ilMediaObjectsExporter.php
  Services/MediaObjects/classes/class.ilObjMediaObject.php
  Services/MediaObjects/classes/class.ilObjMediaObjectAccess.php
  Services/MediaObjects/classes/class.ilObjMediaObjectGUI.php
  Services/MediaObjects/classes/class.ilPlayerUtil.php
  Services/MediaObjects/interfaces/interface.ilMobMultiSrtInt.php
  Services/MediaObjects/test/ImageMapEditSessionRepositoryTest.php
  Services/MediaObjects/test/ilServicesMediaObjectsSuite.php
Labels: improvement, php

#4304 PHP 8 Code Review Services Chart
  Services/Chart/classes/class.ilChartData.php
  Services/Chart/classes/class.ilChartDataBars.php
  Services/Chart/classes/class.ilChartDataSpider.php
  Services/Chart/classes/class.ilChartGrid.php
  Services/Chart/classes/class.ilChartLegend.php
  Services/Chart/test/ChartDataLinesTest.php
Labels: improvement, php

#4166 TA 32027, re-enable key-checking on numeric input
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
  Services/Form/classes/class.ilNumberInputGUI.php
  Services/Form/js/Form.js
  Services/Form/templates/default/tpl.prop_number.html
Labels: bugfix, php

#4254 TA 32027, optionally use client side checking on numeric inputs
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
  Services/Form/classes/class.ilNumberInputGUI.php
  Services/Form/js/Form.js
  Services/Form/templates/default/tpl.prop_number.html
Labels: bugfix

#4280 QTI PHP 8 improvements
  Services/QTI/classes/class.ilQTIAssessment.php
  Services/QTI/classes/class.ilQTIAssessmentcontrol.php
  Services/QTI/classes/class.ilQTIConditionvar.php
  Services/QTI/classes/class.ilQTIDecvar.php
  Services/QTI/classes/class.ilQTIDisplayfeedback.php
  Services/QTI/classes/class.ilQTIFlow.php
  Services/QTI/classes/class.ilQTIFlowMat.php
  Services/QTI/classes/class.ilQTIItem.php
  Services/QTI/classes/class.ilQTIItemfeedback.php
  Services/QTI/classes/class.ilQTIMatapplet.php
  Services/QTI/classes/class.ilQTIMaterial.php
  Services/QTI/classes/class.ilQTIMatimage.php
  Services/QTI/classes/class.ilQTIMattext.php
  Services/QTI/classes/class.ilQTIObjectives.php
  Services/QTI/classes/class.ilQTIOutcomes.php
  Services/QTI/classes/class.ilQTIParser.php
  Services/QTI/classes/class.ilQTIPresentation.php
  Services/QTI/classes/class.ilQTIPresentationMaterial.php
  Services/QTI/classes/class.ilQTIRenderChoice.php
  Services/QTI/classes/class.ilQTIRenderFib.php
  Services/QTI/classes/class.ilQTIRenderHotspot.php
  Services/QTI/classes/class.ilQTIRespcondition.php
  Services/QTI/classes/class.ilQTIResponse.php
  Services/QTI/classes/class.ilQTIResponseLabel.php
  Services/QTI/classes/class.ilQTIResponseVar.php
  Services/QTI/classes/class.ilQTIResprocessing.php
  Services/QTI/classes/class.ilQTISection.php
  Services/QTI/classes/class.ilQTISetvar.php
  Services/QTI/classes/class.ilQtiMatImageSecurity.php
  Services/QTI/interfaces/interface.ilQTIFlowMatAware.php
  Services/QTI/interfaces/interface.ilQTIMaterialAware.php
  Services/QTI/interfaces/interface.ilQTIPresentationMaterialAware.php
  Services/QTI/test/ilQTIAssessmentcontrolTest.php
  Services/QTI/test/ilQTIDecvarTest.php
  Services/QTI/test/ilQTIFlowTest.php
  Services/QTI/test/ilQTIItemfeedbackTest.php
  Services/QTI/test/ilQTIMaterialTest.php
  Services/QTI/test/ilQTIMattextTest.php
  Services/QTI/test/ilQTIRenderFibTest.php
  Services/QTI/test/ilQTIRespconditionTest.php
  Services/QTI/test/ilQTIResponseLabelTest.php
  Services/QTI/test/ilQTIResponseTest.php
  Services/QTI/test/ilQTIResponseVarTest.php
  Services/QTI/test/ilQTISetvarTest.php
Labels: improvement, php

#4307 PHP 8 Code Review Awareness
  Services/Awareness/Administration/class.ilObjAwarenessAdministrationGUI.php
  Services/Awareness/GlobalScreen/classes/class.ilAwarenessMetaBarProvider.php
  Services/Awareness/Service/class.InternalDomainService.php
  Services/Awareness/User/class.Collection.php
  Services/Awareness/User/class.Collector.php
  Services/Awareness/User/class.ProviderFactory.php
  Services/Awareness/classes/class.AdminManager.php
  Services/Awareness/classes/class.Counter.php
  Services/Awareness/classes/class.StandardGUIRequest.php
  Services/Awareness/classes/class.WidgetManager.php
  Services/Awareness/classes/class.ilAwarenessGUI.php
  Services/Awareness/test/AwarenessSessionRepositoryTest.php
  Services/Awareness/test/ilServicesAwarenessSuite.php
Labels: improvement, php

#4313 src/Refinery: PHP8 review
  src/Refinery/ByTrying.php
  src/Refinery/Constraint.php
  src/Refinery/ConstraintViolationException.php
  src/Refinery/Container/AddLabels.php
  src/Refinery/Container/Group.php
  src/Refinery/Container/MapValues.php
  src/Refinery/Custom/Constraint.php
  src/Refinery/Custom/Transformation.php
  src/Refinery/DateTime/ChangeTimezone.php
  src/Refinery/DeriveApplyToFromTransform.php
  src/Refinery/DeriveInvokeFromTransform.php
  src/Refinery/DeriveTransformFromApplyTo.php
  src/Refinery/Factory.php
  src/Refinery/IdentityTransformation.php
  src/Refinery/In/Parallel.php
  src/Refinery/Integer/GreaterThan.php
  src/Refinery/Integer/GreaterThanOrEqual.php
  src/Refinery/Integer/Group.php
  src/Refinery/Integer/LessThan.php
  src/Refinery/Integer/LessThanOrEqual.php
  src/Refinery/IsNull.php
  src/Refinery/KeyValueAccess.php
  src/Refinery/KindlyTo/Group.php
  src/Refinery/KindlyTo/Transformation/DateTimeTransformation.php
  src/Refinery/KindlyTo/Transformation/ListTransformation.php
  src/Refinery/Logical/Group.php
  src/Refinery/Logical/LogicalOr.php
  src/Refinery/Logical/Not.php
  src/Refinery/Logical/Parallel.php
  src/Refinery/Logical/Sequential.php
  src/Refinery/Numeric/Group.php
  src/Refinery/Numeric/IsNumeric.php
  src/Refinery/Password/Group.php
  src/Refinery/Password/HasLowerChars.php
  src/Refinery/Password/HasMinLength.php
  src/Refinery/Password/HasNumbers.php
  src/Refinery/Password/HasSpecialChars.php
  src/Refinery/Password/HasUpperChars.php
  src/Refinery/ProblemBuilder.php
  src/Refinery/Random/Transformation/ShuffleTransformation.php
  src/Refinery/String/EstimatedReadingTime.php
  src/Refinery/String/Group.php
  src/Refinery/String/HasMaxLength.php
  src/Refinery/String/HasMinLength.php
  src/Refinery/String/MakeClickable.php
  src/Refinery/String/SplitString.php
  src/Refinery/String/StripTags.php
  src/Refinery/To/Transformation/BooleanTransformation.php
  src/Refinery/To/Transformation/DateTimeTransformation.php
  src/Refinery/To/Transformation/DictionaryTransformation.php
  src/Refinery/To/Transformation/FloatTransformation.php
  src/Refinery/To/Transformation/IntegerTransformation.php
  src/Refinery/To/Transformation/ListTransformation.php
  src/Refinery/To/Transformation/NewMethodTransformation.php
  src/Refinery/To/Transformation/NewObjectTransformation.php
  src/Refinery/To/Transformation/RecordTransformation.php
  src/Refinery/To/Transformation/StringTransformation.php
  src/Refinery/To/Transformation/TupleTransformation.php
  src/Refinery/Transformation.php
Labels: improvement, php

#3955 add md privacy: initial version
  Services/MetaData/Privacy.md
Labels: improvement

#4309 PHP 8 Code Review PersonalWorkspace
  Services/PersonalWorkspace/Administration/classes/class.ilObjPersonalWorkspaceSettingsGUI.php
  Services/PersonalWorkspace/classes/class.ilPersonalWorkspaceGUI.php
  Services/PersonalWorkspace/classes/class.ilSingleUserShareGUI.php
  Services/PersonalWorkspace/classes/class.ilWorkspaceAccessHandler.php
  Services/PersonalWorkspace/classes/class.ilWorkspaceAccessTableGUI.php
  Services/PersonalWorkspace/classes/class.ilWorkspaceExplorerGUI.php
  Services/PersonalWorkspace/classes/class.ilWorkspaceShareTableGUI.php
  Services/PersonalWorkspace/classes/class.ilWorkspaceTree.php
  Services/PersonalWorkspace/test/PWspStandardGUIRequestTest.php
  Services/PersonalWorkspace/test/ilServicesPersonalWorkspaceSuite.php
Labels: improvement, php

#4317 PHP 8 Code Review Learning Module ILIAS
  Modules/LearningModule/Editing/GlobalScreen/classes/class.ilLMEditGSToolProvider.php
  Modules/LearningModule/Editing/class.EditingGUIRequest.php
  Modules/LearningModule/Editing/class.ilLMEditorGUI.php
  Modules/LearningModule/Export/class.LMHtmlExport.php
  Modules/LearningModule/Presentation/class.PresentationGUIRequest.php
  Modules/LearningModule/Presentation/class.ilLMMenuRendererGUI.php
  Modules/LearningModule/Presentation/class.ilLMNavigationStatus.php
  Modules/LearningModule/Presentation/class.ilLMPresentationGUI.php
  Modules/LearningModule/Presentation/class.ilLMPresentationLinker.php
  Modules/LearningModule/Presentation/class.ilLMTOCExplorerGUI.php
  Modules/LearningModule/classes/class.ilChapterHierarchyFormGUI.php
  Modules/LearningModule/classes/class.ilContObjParser.php
  Modules/LearningModule/classes/class.ilEditClipboard.php
  Modules/LearningModule/classes/class.ilLMEditShortTitlesGUI.php
  Modules/LearningModule/classes/class.ilLMEditorExplorerGUI.php
  Modules/LearningModule/classes/class.ilLMMailNotification.php
  Modules/LearningModule/classes/class.ilLMMenuObjectSelector.php
  Modules/LearningModule/classes/class.ilLMObject.php
  Modules/LearningModule/classes/class.ilLMObjectGUI.php
  Modules/LearningModule/classes/class.ilLMPageObject.php
  Modules/LearningModule/classes/class.ilLMPageObjectGUI.php
  Modules/LearningModule/classes/class.ilLMTree.php
  Modules/LearningModule/classes/class.ilLearningModuleKioskModeView.php
  Modules/LearningModule/classes/class.ilLearningModuleLP.php
  Modules/LearningModule/classes/class.ilObjContentObject.php
  Modules/LearningModule/classes/class.ilObjContentObjectAccess.php
  Modules/LearningModule/classes/class.ilObjContentObjectGUI.php
  Modules/LearningModule/classes/class.ilObjLearningModuleGUI.php
  Modules/LearningModule/classes/class.ilObjLearningModuleListGUI.php
  Modules/LearningModule/classes/class.ilObjLearningModuleSubItemListGUI.php
  Modules/LearningModule/classes/class.ilObjLearningResourcesSettingsGUI.php
  Modules/LearningModule/classes/class.ilStructureObject.php
  Modules/LearningModule/classes/class.ilStructureObjectGUI.php
  Modules/LearningModule/test/LMEditingGUIRequestTest.php
  Modules/LearningModule/test/ilModulesLearningModuleSuite.php
Labels: improvement, php

#4062 PRG: 32100 delete assignments and progresses on objDelete
  Modules/StudyProgramme/classes/class.ilObjStudyProgramme.php
  Modules/StudyProgramme/classes/model/Assignments/class.ilStudyProgrammeAssignmentDBRepository.php
  Modules/StudyProgramme/classes/model/Progress/class.ilStudyProgrammeProgressDBRepository.php
Labels: bugfix, php

#4324 PHP 8 Review: `Verification`
  Services/Verification/classes/Certificate/class.ilCertificateVerificationObject.php
  Services/Verification/classes/class.ilVerificationObject.php
  Services/Verification/classes/class.ilVerificationStorageFile.php
  Services/Verification/test/CertificateVerificationClassMapTest.php
  Services/Verification/test/ilServicesVerificationSuite.php
Labels: improvement, php

#4322 PHP 8 Review: `LearningHistory`
  Services/LearningHistory/Administration/classes/class.ilObjLearningHistorySettingsGUI.php
  Services/LearningHistory/classes/Provider/LearningHistoryMainBarProvider.php
  Services/LearningHistory/classes/class.ilFirstLoginLearningHistoryProvider.php
  Services/LearningHistory/classes/class.ilLearningHistoryEntryCollector.php
  Services/LearningHistory/classes/class.ilLearningHistoryGUI.php
  Services/LearningHistory/classes/class.ilLearningHistoryProviderFactory.php
  Services/LearningHistory/classes/class.ilLearningHistoryService.php
  Services/LearningHistory/classes/class.ilLearningHistoryTimelineItem.php
  Services/LearningHistory/classes/class.ilPCLearningHistory.php
  Services/LearningHistory/test/LearningHistoryStandardGUIRequestTest.php
  Services/LearningHistory/test/ilServicesLearningHistorySuite.php
Labels: improvement, php

#4325 PHP 8 Review: `Notes`
  Services/Notes/Administration/classes/class.ilObjCommentsSettingsGUI.php
  Services/Notes/Administration/classes/class.ilObjNotesSettingsGUI.php
  Services/Notes/Export/class.ExportHelperGUI.php
  Services/Notes/Export/class.UserImageExporter.php
  Services/Notes/Export/class.ilNotesDataSet.php
  Services/Notes/GlobalScreen/classes/NotesMainBarProvider.php
  Services/Notes/classes/class.ilNote.php
  Services/Notes/classes/class.ilNoteGUI.php
  Services/Notes/classes/class.ilPDNotesGUI.php
  Services/Notes/test/NotesSessionRepositoryTest.php
  Services/Notes/test/ilServicesNotesSuite.php
Labels: improvement, php

#4331 Review `Services\Style\System`
  Services/Style/System/classes/Documentation/class.ilSystemStyleDocumentationGUI.php
  Services/Style/System/classes/Icons/class.ilSystemStyleIconColor.php
  Services/Style/System/classes/Icons/class.ilSystemStyleIconColorSet.php
  Services/Style/System/classes/Icons/class.ilSystemStyleIconFolder.php
  Services/Style/System/classes/Icons/class.ilSystemStyleIconsGUI.php
  Services/Style/System/classes/Less/class.ilSystemStyleLessGUI.php
  Services/Style/System/classes/Less/class.ilSystemStyleLessVariable.php
  Services/Style/System/classes/Overview/class.ilSystemStyleDeleteGUI.php
  Services/Style/System/classes/Overview/class.ilSystemStyleOverviewGUI.php
  Services/Style/System/classes/Settings/class.ilSubStyleAssignmentGUI.php
  Services/Style/System/classes/Settings/class.ilSysStyleCatAssignmentTableGUI.php
  Services/Style/System/classes/Settings/class.ilSystemStyleSettingsGUI.php
  Services/Style/System/classes/Style/class.ilSkin.php
  Services/Style/System/classes/Style/class.ilSkinStyle.php
  Services/Style/System/classes/Style/class.ilSkinStyleContainer.php
  Services/Style/System/classes/Utilities/class.ilFileSystemHelper.php
  Services/Style/System/classes/Utilities/class.ilSystemStyleMessageStack.php
  Services/Style/System/classes/class.ilStyleDefinition.php
  Services/Style/System/classes/class.ilSystemStyleHTMLExport.php
  Services/Style/System/classes/class.ilSystemStyleMainGUI.php
  Services/Style/System/classes/class.ilSystemStyleSettings.php
  Services/Style/System/test/Provider/KSDocumentationTreeRecursionTest.php
  Services/Style/System/test/Provider/SystemStylesGlobalScreenToolProviderTest.php
  Services/Style/System/test/Style/ilSkinStyleTest.php
  Services/Style/System/test/Utilities/ilSystemStyleMessageStackTest.php
Labels: improvement, php

#4261 Fix Tab-Focus in Exercise File Upload
  templates/default/delos.css
  templates/default/less/Services/Form/delos.less
Labels: bugfix

#4137 Make Chaining of `Renderer`s possible
  src/UI/Implementation/DefaultRenderer.php
  src/UI/Renderer.php
  tests/UI/Renderer/AbstractRendererTest.php
  tests/UI/Renderer/DefaultRendererTest.php
Labels: kitchen sink, improvement, php

#4293 Review `Modules/WebResource`
  Modules/WebResource/classes/class.ilLinkResourceHandlerGUI.php
  Modules/WebResource/classes/class.ilLinkResourceItems.php
  Modules/WebResource/classes/class.ilLinkResourceList.php
  Modules/WebResource/classes/class.ilObjLinkResource.php
  Modules/WebResource/classes/class.ilObjLinkResourceAccess.php
  Modules/WebResource/classes/class.ilObjLinkResourceGUI.php
  Modules/WebResource/classes/class.ilObjLinkResourceListGUI.php
  Modules/WebResource/classes/class.ilObjLinkResourceSubItemListGUI.php
  Modules/WebResource/classes/class.ilObjWebResourceAdministration.php
  Modules/WebResource/classes/class.ilObjWebResourceAdministrationAccess.php
  Modules/WebResource/classes/class.ilObjWebResourceAdministrationGUI.php
  Modules/WebResource/classes/class.ilParameterAppender.php
  Modules/WebResource/classes/class.ilWebLinkXmlParser.php
  Modules/WebResource/classes/class.ilWebLinkXmlParserException.php
  Modules/WebResource/classes/class.ilWebLinkXmlWriter.php
  Modules/WebResource/classes/class.ilWebResourceEditableLinkTableGUI.php
  Modules/WebResource/classes/class.ilWebResourceExporter.php
  Modules/WebResource/classes/class.ilWebResourceImporter.php
  Modules/WebResource/classes/class.ilWebResourceLinkTableGUI.php
  Modules/WebResource/test/ilModulesWebResourceSuite.php
  Modules/WebResource/test/ilWebResourceParameterAppenderTest.php
Labels: improvement, php

#4334 Review `Services/Table`
  Services/Table/classes/class.TableGUIRequest.php
  Services/Table/classes/class.ilTable2GUI.php
  Services/Table/classes/class.ilTablePropertiesStorage.php
  Services/Table/classes/trait.ilTableCommandHelper.php
  Services/Table/test/TableGUIRequestTest.php
  Services/Table/test/ilServicesTableSuite.php
Labels: improvement, php

#4336 Review `Modules/MediaCast`
  Modules/MediaCast/classes/class.StandardGUIRequest.php
  Modules/MediaCast/classes/class.ilMediaCastDataSet.php
  Modules/MediaCast/classes/class.ilObjMediaCast.php
  Modules/MediaCast/classes/class.ilObjMediaCastGUI.php
  Modules/MediaCast/classes/class.ilObjMediaCastSettingsGUI.php
  Modules/MediaCast/test/MediaCastStandardGUIRequestTest.php
  Modules/MediaCast/test/ilModulesMediaCastSuite.php
Labels: improvement, php

#4338 Review: `Services/PermanentLink`
  Services/PermanentLink/classes/class.ilPermanentLinkGUI.php
  Services/PermanentLink/test/PermanentLinkGUITest.php
  Services/PermanentLink/test/ilServicesPermanentLinkSuite.php
Labels: improvement, php

#4341 Review: `Services/YUI`
  Services/YUI/classes/class.ilYuiUtil.php
  Services/YUI/test/YUITest.php
  Services/YUI/test/ilServicesYUISuite.php
Labels: improvement, php

#4340 Review: `Services/Imprint`
  Services/Imprint/classes/class.ilImprintGUI.php
  Services/Imprint/test/ImprintStandardGUIRequestTest.php
  Services/Imprint/test/ilServicesImprintSuite.php
Labels: improvement, php

#4288 Services/Utilities: PHP8 review
  Services/Utilities/classes/Setup/class.ilUtilitiesConfigStoredObjective.php
  Services/Utilities/classes/Setup/class.ilUtilitiesMetricsCollectedObjective.php
  Services/Utilities/classes/Setup/class.ilUtilitiesSetupAgent.php
  Services/Utilities/classes/Setup/class.ilUtilitiesSetupConfig.php
  Services/Utilities/classes/class.ilArrayUtil.php
  Services/Utilities/classes/class.ilLegacyFormElementsUtil.php
  Services/Utilities/classes/class.ilShellUtil.php
  Services/Utilities/classes/class.ilStr.php
  Services/Utilities/classes/class.ilUtil.php
  Services/Utilities/test/ilMimeTypeTest.php
  Services/Utilities/test/ilServicesUtilitiesSuite.php
  Services/Utilities/test/ilUtilsPreventTest.php
Labels: improvement, php

#4342 Review: `Services/Exceptions`
  Services/Exceptions/classes/class.ilDelegatingHandler.php
  Services/Exceptions/classes/class.ilException.php
  Services/Exceptions/classes/class.ilPlainTextHandler.php
  Services/Exceptions/classes/class.ilTestingHandler.php
Labels: improvement, php

#4308 PHP 8 Code Review AdvancedMetaData
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecord.php
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordExportFiles.php
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordGUI.php
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordImportFiles.php
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordObjectOrderings.php
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordParser.php
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordTableGUI.php
  Services/AdvancedMetaData/classes/Translation/class.ilAdvancedMDFieldTranslations.php
  Services/AdvancedMetaData/classes/Translation/class.ilAdvancedMDRecordLanguageTableGUI.php
  Services/AdvancedMetaData/classes/Translation/class.ilAdvancedMDRecordTranslations.php
  Services/AdvancedMetaData/classes/Translation/class.ilAdvancedMDTranslationGUI.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionDate.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionDateTime.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionGroupBased.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionInteger.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionInternalLink.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionSelect.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionSelectMulti.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionText.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDFieldDefinition.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDLikeSearch.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDParser.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDSearch.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDSettingsGUI.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDSubstitution.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDValueParser.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDValues.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMetaDataExporter.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMetaDataImporter.php
  Services/AdvancedMetaData/test/ilServicesAdvancedMetaDataSuite.php
  Services/AdvancedMetaData/test/record/ilAdvancedMDRecordObjectOrderingsTest.php
Labels: improvement, php

#4222 Implemented LOM in headers
  Services/MetaData/classes/GlobalScreen/class.ilMDKeywordExposer.php
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaContent.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaData/MetaDataCollection.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaData/MetaDatum.php
  src/GlobalScreen/Scope/Layout/README.md
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/GlobalScreen/Scope/Layout/MediaTest.php
  tests/GlobalScreen/Scope/Layout/MetaDataTest.php
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix, php

#4221 Implemented LOM in headers
  Services/MetaData/classes/GlobalScreen/class.ilMDKeywordExposer.php
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaContent.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaData/MetaDataCollection.php
  src/GlobalScreen/Scope/Layout/MetaContent/MetaData/MetaDatum.php
  src/GlobalScreen/Scope/Layout/README.md
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/GlobalScreen/Scope/Layout/MediaTest.php
  tests/GlobalScreen/Scope/Layout/MetaDataTest.php
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix, php

#4220 Restore page scroll on mobile #26915
  src/UI/templates/default/Layout/standardpage.less
  src/UI/templates/js/Page/stdpage.js
  templates/default/delos.css
  templates/default/delos.less
Labels: bugfix

#4353 ILIAS8 Review Services/Export
  Services/Export/classes/class.ilExportFileInfo.php
  Services/Export/classes/class.ilExportSelectionTableGUI.php
  Services/Export/classes/class.ilExportTableGUI.php
  Services/Export/classes/class.ilImport.php
Labels: improvement, php

#4330 Review `Services/VirusScanner`
  Services/VirusScanner/classes/Setup/class.ilVirusScannerConfigStoredObjective.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerMetricsCollectedObjective.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerSetupAgent.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerSetupConfig.php
  Services/VirusScanner/classes/class.ilVirusScanner.php
  Services/VirusScanner/classes/class.ilVirusScannerAntiVir.php
  Services/VirusScanner/classes/class.ilVirusScannerClamAV.php
  Services/VirusScanner/classes/class.ilVirusScannerFactory.php
  Services/VirusScanner/classes/class.ilVirusScannerICapClient.php
  Services/VirusScanner/classes/class.ilVirusScannerICapRemote.php
  Services/VirusScanner/classes/class.ilVirusScannerICapRemoteAvClient.php
  Services/VirusScanner/classes/class.ilVirusScannerPreProcessor.php
  Services/VirusScanner/classes/class.ilVirusScannerSophos.php
Labels: improvement, php

#4365 Certificate: Get rid of `ilSaxParser` dependency
  Services/Certificate/classes/File/Template/XLS/class.ilXlsFoParser.php
  Services/Certificate/classes/File/Template/XLS/class.ilXmlChecker.php
  Services/Certificate/test/ilXlsFoParserTest.php
Labels: improvement

#4373 Removal of Services/JSON
  Modules/Cloud/classes/class.ilCloudPluginCreateFolderGUI.php
  Modules/Cloud/classes/class.ilCloudPluginDeleteGUI.php
  Modules/Cloud/classes/class.ilCloudPluginFileTreeGUI.php
  Modules/Cloud/classes/class.ilCloudPluginUploadGUI.php
  Modules/Cloud/classes/class.ilObjCloudGUI.php
  Modules/Wiki/classes/class.ilObjWikiGUI.php
  Modules/Wiki/classes/class.ilWikiPageGUI.php
  Services/AccessControl/classes/class.ilRoleAutoComplete.php
  Services/Accordion/classes/class.ilAccordionGUI.php
  Services/COPage/classes/class.ilPageQuestionProcessor.php
  Services/FileUpload/classes/class.ilFileUploadGUI.php
  Services/Form/classes/class.ilPropertyFormGUI.php
  Services/JSON/classes/class.ilJsonUtil.php
  Services/JSON/maintenance.json
  Services/Language/classes/class.ilLanguage.php
  Services/MetaData/classes/class.ilMDEditorGUI.php
  Services/News/classes/class.ilNewsTimelineGUI.php
  Services/Preview/classes/class.ilPreviewGUI.php
  Services/Registration/classes/class.ilAccountRegistrationGUI.php
  Services/Search/classes/class.ilRepositorySearchGUI.php
  Services/Search/classes/class.ilSearchAutoComplete.php
  Services/UIComponent/AdvancedSelectionList/classes/class.ilAdvancedSelectionListGUI.php
  Services/UIComponent/Overlay/classes/class.ilOverlayGUI.php
  Services/User/classes/class.ilPublicUserProfileGUI.php
  Services/User/classes/class.ilUserAutoComplete.php
Labels: improvement, php

#4372 Review of Services/Html
  Services/Html/classes/class.ilHtmlPurifierComposite.php
Labels: improvement, php

#4363 Review of Service/Notification
  Services/Notification/classes/class.ilNotification.php
  Services/Notification/classes/class.ilNotificationAppEventListener.php
  Services/Notification/classes/class.ilObjNotificationSettingsGUI.php
  Services/Notification/classes/class.ilSystemNotification.php
  Services/Notification/test/NotificationTest.php
  Services/Notification/test/ilServicesNotificationSuite.php
Labels: improvement, php

#4379 Revome root uses for strict warning policy
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/class.ilObjNotificationAdmin.php
  Services/Notifications/classes/class.ilObjNotificationAdminAccess.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
Labels: bugfix, php

#4367 Setup AccessControl: fix values for array_filter
  Services/AccessControl/classes/Setup/class.ilAccessInitialPermissionGuidelineAppliedObjective.php
Labels: bugfix, php

#4375 Review of Service/Registration
  Services/Registration/classes/class.ilAccountRegistrationGUI.php
  Services/Registration/classes/class.ilAccountRegistrationMail.php
  Services/Registration/classes/class.ilRegistrationCode.php
  Services/Registration/classes/class.ilRegistrationCodesTableGUI.php
  Services/Registration/classes/class.ilRegistrationEmailRoleAssignments.php
  Services/Registration/classes/class.ilRegistrationMailNotification.php
  Services/Registration/classes/class.ilRegistrationMimeMailNotification.php
  Services/Registration/classes/class.ilRegistrationRoleAccessLimitations.php
  Services/Registration/classes/class.ilRegistrationSettings.php
  Services/Registration/classes/class.ilRegistrationSettingsGUI.php
  Services/Registration/exceptions/class.ilRegConfirmationLinkExpiredException.php
  Services/Registration/exceptions/class.ilRegistrationException.php
  Services/Registration/exceptions/class.ilRegistrationHashNotFoundException.php
  Services/Registration/test/ilRegistrationSettingsTest.php
  Services/Registration/test/ilServicesRegistrationSuite.php
Labels: improvement, php

#4382 PHP 8: Code Review `Administration`
  Services/Administration/GlobalScreen/classes/AdministrationMainBarProvider.php
  Services/Administration/GlobalScreen/classes/class.ilAdminGSToolProvider.php
  Services/Administration/classes/Setup/class.ilSettingsFactoryExistsObjective.php
  Services/Administration/classes/class.AdminGUIRequest.php
  Services/Administration/classes/class.MemorySetting.php
  Services/Administration/classes/class.SettingsTemplateGUIRequest.php
  Services/Administration/classes/class.ilAdministrationCommandGUI.php
  Services/Administration/classes/class.ilAdministrationExplorerGUI.php
  Services/Administration/classes/class.ilAdministrationGUI.php
  Services/Administration/classes/class.ilAdministrationSettingsFormHandler.php
  Services/Administration/classes/class.ilGitInformation.php
  Services/Administration/classes/class.ilObjExternalToolsSettings.php
  Services/Administration/classes/class.ilObjExternalToolsSettingsAccess.php
  Services/Administration/classes/class.ilObjExternalToolsSettingsGUI.php
  Services/Administration/classes/class.ilObjRecoveryFolder.php
  Services/Administration/classes/class.ilObjRecoveryFolderAccess.php
  Services/Administration/classes/class.ilObjRecoveryFolderGUI.php
  Services/Administration/classes/class.ilObjRecoveryFolderListGUI.php
  Services/Administration/classes/class.ilSetting.php
  Services/Administration/classes/class.ilSettingsFactory.php
  Services/Administration/classes/class.ilSettingsTemplate.php
  Services/Administration/classes/class.ilSettingsTemplateConfig.php
  Services/Administration/classes/class.ilSettingsTemplateGUI.php
  Services/Administration/classes/class.ilSettingsTemplateTableGUI.php
  Services/Administration/interfaces/interface.Setting.php
  Services/Administration/interfaces/interface.ilAdministrationCommandHandling.php
  Services/Administration/interfaces/interface.ilVersionControlInformation.php
  Services/Administration/test/AdminGUIRequestTest.php
  Services/Administration/test/ilServicesAdministrationSuite.php
Labels: improvement, php

#4388 PHP 8: Code Review `News`
  Services/News/Timeline/classes/class.ilTimelineGUI.php
  Services/News/classes/Provider/NewsMainBarProvider.php
  Services/News/classes/class.ilNewsCache.php
  Services/News/classes/class.ilNewsData.php
  Services/News/classes/class.ilNewsDataSet.php
  Services/News/classes/class.ilNewsExporter.php
  Services/News/classes/class.ilNewsForContextBlockGUI.php
  Services/News/classes/class.ilNewsForContextTableGUI.php
  Services/News/classes/class.ilNewsItem.php
  Services/News/classes/class.ilNewsItemGUI.php
  Services/News/classes/class.ilNewsRendererFactory.php
  Services/News/classes/class.ilNewsTimelineGUI.php
  Services/News/classes/class.ilNewsTimelineItemGUI.php
  Services/News/classes/class.ilObjNewsSettingsGUI.php
  Services/News/classes/class.ilPDNewsBlockGUI.php
  Services/News/classes/class.ilPDNewsGUI.php
  Services/News/classes/class.ilPDNewsTableGUI.php
  Services/News/classes/class.ilRSSButtonGUI.php
  Services/News/test/NewsContextTest.php
  Services/News/test/ilServicesNewsSuite.php
Labels: improvement, php

#4378 Review of Modules/Blog
  Modules/Blog/Administration/class.ilObjBlogAdministrationGUI.php
  Modules/Blog/Exercise/class.ilBlogExerciseGUI.php
  Modules/Blog/Export/BlogHtmlExport.php
  Modules/Blog/Export/class.ilBlogDataSet.php
  Modules/Blog/Export/class.ilBlogExporter.php
  Modules/Blog/Posting/class.ilBlogPosting.php
  Modules/Blog/Posting/class.ilBlogPostingGUI.php
  Modules/Blog/PrintView/class.BlogPrintViewProviderGUI.php
  Modules/Blog/classes/class.ilBlogNewsRendererGUI.php
  Modules/Blog/classes/class.ilFSStorageBlog.php
  Modules/Blog/classes/class.ilObjBlog.php
  Modules/Blog/classes/class.ilObjBlogAccess.php
  Modules/Blog/classes/class.ilObjBlogGUI.php
  Modules/Blog/classes/class.ilObjBlogListGUI.php
Labels: bugfix, improvement, php

#4371 Learning History PHP8 Review
  Services/LearningHistory/classes/class.ilLearningHistoryGUI.php
  Services/LearningHistory/classes/class.ilLearningHistoryService.php
  Services/LearningHistory/classes/class.ilPCLearningHistory.php
  Services/LearningHistory/interfaces/class.ilAbstractLearningHistoryProvider.php
Labels: improvement, php

#4380 Review of Modules/Portfolio
  Modules/Portfolio/Access/class.ilPortfolioAccessHandler.php
  Modules/Portfolio/Administration/class.PortfolioRoleAssignmentManager.php
  Modules/Portfolio/Administration/class.ilObjPortfolioAdministrationGUI.php
  Modules/Portfolio/Administration/class.ilPortfolioRoleAssignmentGUI.php
  Modules/Portfolio/Administration/class.ilPortfolioRoleAssignmentTableGUI.php
  Modules/Portfolio/Exercise/class.ilPortfolioExerciseGUI.php
  Modules/Portfolio/Export/PortfolioHtmlExport.php
  Modules/Portfolio/Export/class.ilPortfolioDataSet.php
  Modules/Portfolio/Page/class.ilPCAMDForm.php
  Modules/Portfolio/Page/class.ilPCAMDFormGUI.php
  Modules/Portfolio/Page/class.ilPCConsultationHours.php
  Modules/Portfolio/Page/class.ilPCConsultationHoursGUI.php
  Modules/Portfolio/Page/class.ilPortfolioPage.php
  Modules/Portfolio/Page/class.ilPortfolioPageAction.php
  Modules/Portfolio/Page/class.ilPortfolioPageGUI.php
  Modules/Portfolio/Page/class.ilPortfolioPageTableGUI.php
  Modules/Portfolio/PrintView/class.PortfolioPrintViewProviderGUI.php
  Modules/Portfolio/Template/class.ilObjPortfolioTemplate.php
  Modules/Portfolio/Template/class.ilObjPortfolioTemplateAccess.php
  Modules/Portfolio/Template/class.ilObjPortfolioTemplateGUI.php
  Modules/Portfolio/Template/class.ilPortfolioTemplatePageGUI.php
  Modules/Portfolio/classes/Provider/PortfolioMainBarProvider.php
  Modules/Portfolio/classes/class.StandardGUIRequest.php
  Modules/Portfolio/classes/class.ilObjPortfolio.php
  Modules/Portfolio/classes/class.ilObjPortfolioBase.php
  Modules/Portfolio/classes/class.ilObjPortfolioBaseGUI.php
  Modules/Portfolio/classes/class.ilObjPortfolioGUI.php
  Modules/Portfolio/classes/class.ilPortfolioAppEventListener.php
  Modules/Portfolio/classes/class.ilPortfolioDeclarationOfAuthorship.php
  Modules/Portfolio/classes/class.ilPortfolioRepositoryGUI.php
Labels: bugfix, improvement, php

#4387 Review of Service/MathJax
  Services/MathJax/classes/class.ilMathJax.php
  Services/MathJax/classes/class.ilMathJaxConfigSettingsRepository.php
  Services/MathJax/classes/class.ilMathJaxFactory.php
  Services/MathJax/classes/class.ilMathJaxImage.php
  Services/MathJax/classes/class.ilMathJaxServer.php
  Services/MathJax/classes/class.ilMathJaxSettingsGUI.php
Labels: improvement, php

#3794 Privacy.md für Access Control
  Services/AccessControl/PRIVACY.md
Labels: improvement

#4271 A11y Actions Menu is not available by keyboard, see #32257
  Services/UIComponent/AdvancedSelectionList/classes/class.ilAdvancedSelectionListGUI.php
  Services/UIComponent/AdvancedSelectionList/templates/default/tpl.adv_selection_list.html
Labels: bugfix

#4370 ILIAS8 Review Services/Accessibility 2
  Services/Accessibility/classes/Criteria/class.ilAccessibilityDocumentCriterionAssignment.php
  Services/Accessibility/classes/Criteria/class.ilAccessibilityDocumentCriterionAssignmentConstraint.php
  Services/Accessibility/classes/Document/class.ilAccessibilityDocument.php
  Services/Accessibility/classes/Document/class.ilAccessibilityDocumentFormGUI.php
  Services/Accessibility/classes/Document/class.ilAccessibilityDocumentGUI.php
  Services/Accessibility/classes/Document/class.ilAccessibilityDocumentTableGUI.php
Labels: improvement, php

#4366 Notifications: Switch to objective based approach for administration …
  Services/Notifications/classes/Setup/ilNotificationUpdateAgent.php
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
Labels: improvement

#4400 Database: Make offset optional in interface
  Services/Database/interfaces/interface.ilDBInterface.php
Labels: improvement, php

#4398 KS: Item with Lead Avatar
  src/UI/Component/Item/Factory.php
  src/UI/Component/Item/Standard.php
  src/UI/Implementation/Component/Item/Renderer.php
  src/UI/Implementation/Component/Item/Standard.php
  src/UI/examples/Item/Standard/with_lead_avatar.php
  tests/UI/Component/Item/ItemTest.php
Labels: kitchen sink, jour fixe

#4402 PHP 8: Code Review `Conditions`
  Services/Conditions/classes/class.ilCondition.php
  Services/Conditions/classes/class.ilConditionFactory.php
  Services/Conditions/classes/class.ilConditionHandler.php
  Services/Conditions/classes/class.ilConditionHandlerGUI.php
  Services/Conditions/classes/class.ilConditionHandlerTableGUI.php
  Services/Conditions/classes/class.ilConditionObjectAdapter.php
  Services/Conditions/classes/class.ilConditionOperatorFactory.php
  Services/Conditions/classes/class.ilConditionSelector.php
  Services/Conditions/classes/class.ilConditionService.php
  Services/Conditions/classes/class.ilConditionSet.php
  Services/Conditions/classes/class.ilConditionTarget.php
  Services/Conditions/classes/class.ilConditionTrigger.php
  Services/Conditions/classes/class.ilConditionUtil.php
  Services/Conditions/interfaces/interface.ilConditionControllerInterface.php
  Services/Conditions/interfaces/interface.ilConditionHandling.php
  Services/Conditions/interfaces/interface.ilConditionObjectAdapterInterface.php
  Services/Conditions/test/ilConditionsTest.php
  Services/Conditions/test/ilServicesConditionsSuite.php
Labels: improvement, php

#4408 PHP8: Code Review `Services/Tree`
  Services/Tree/classes/Setup/class.ilTreeAdminNodeAddedObjective.php
  Services/Tree/classes/SystemCheck/class.ilSCTreeDumpTask.php
  Services/Tree/classes/SystemCheck/class.ilSCTreeTasks.php
  Services/Tree/classes/class.ilMaterializedPathTree.php
  Services/Tree/classes/class.ilNestedSetTree.php
  Services/Tree/classes/class.ilTree.php
  Services/Tree/classes/class.ilTreeTrashQueries.php
  Services/Tree/test/ilRepositoryTreeTest.php
  Services/Tree/test/ilServicesTreeSuite.php
  Services/Tree/test/ilTreeTest.php
Labels: improvement, php

#4415 BuddySystem: Add usability fixed regarding filter and states (Mantis …
  Services/Contact/BuddySystem/classes/class.ilBuddySystemGUI.php
  Services/Contact/BuddySystem/classes/class.ilBuddySystemLinkButton.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilAbstractBuddySystemRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemIgnoredRequestRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemLinkedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemRequestedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemUnlinkedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/class.ilBuddySystemRelationStateFactory.php
  Services/Contact/BuddySystem/classes/tables/class.ilBuddySystemRelationsTableGUI.php
  Services/Contact/BuddySystem/interfaces/interface.ilBuddySystemRelationStateTableFilterMapper.php
  Services/Contact/classes/Provider/ContactMainBarProvider.php
  Services/Contact/classes/Provider/ContactNotificationProvider.php
  Services/Contact/classes/class.ilContactGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#4416 BuddySystem: Add usability fixed regarding filter and states (Mantis …
  Services/Contact/BuddySystem/classes/class.ilBuddySystemGUI.php
  Services/Contact/BuddySystem/classes/class.ilBuddySystemLinkButton.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilAbstractBuddySystemRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemIgnoredRequestRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemLinkedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemRequestedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemUnlinkedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/class.ilBuddySystemRelationStateFactory.php
  Services/Contact/BuddySystem/classes/tables/class.ilBuddySystemRelationsTableGUI.php
  Services/Contact/BuddySystem/interfaces/interface.ilBuddySystemRelationStateTableFilterMapper.php
  Services/Contact/classes/Provider/ContactMainBarProvider.php
  Services/Contact/classes/Provider/ContactNotificationProvider.php
  Services/Contact/classes/class.ilContactGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#4418 BuddySystem: Add usability fixed regarding filter and states (Mantis …
  Services/Contact/BuddySystem/classes/class.ilBuddySystemGUI.php
  Services/Contact/BuddySystem/classes/class.ilBuddySystemLinkButton.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilAbstractBuddySystemRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemIgnoredRequestRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemLinkedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemRequestedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/TableFilterMapper/class.ilBuddySystemUnlinkedRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/classes/states/class.ilBuddySystemRelationStateFactory.php
  Services/Contact/BuddySystem/classes/tables/class.ilBuddySystemRelationsTableGUI.php
  Services/Contact/BuddySystem/interfaces/interface.ilBuddySystemRelationStateTableFilterMapper.php
  Services/Contact/BuddySystem/test/states/ilBuddySystemStateFactoryTest.php
  Services/Contact/classes/Provider/ContactMainBarProvider.php
  Services/Contact/classes/Provider/ContactNotificationProvider.php
  Services/Contact/classes/class.ilContactGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#4248 PHP 8: Code Review `Authentication`
  Services/Authentication/classes/Cookie/class.ilCookie.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontend.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsApache.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsHTTP.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsSoap.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendFactory.php
  Services/Authentication/classes/Provider/class.ilAuthProvider.php
  Services/Authentication/classes/Provider/class.ilAuthProviderDatabase.php
  Services/Authentication/classes/Provider/class.ilAuthProviderFactory.php
  Services/Authentication/classes/class.ilAuthFactory.php
  Services/Authentication/classes/class.ilAuthLoginPageEditorGUI.php
  Services/Authentication/classes/class.ilAuthLoginPageEditorSettings.php
  Services/Authentication/classes/class.ilAuthLoginPageEditorTableGUI.php
  Services/Authentication/classes/class.ilAuthModeDetermination.php
  Services/Authentication/classes/class.ilAuthPlugin.php
  Services/Authentication/classes/class.ilAuthSession.php
  Services/Authentication/classes/class.ilAuthStatus.php
  Services/Authentication/classes/class.ilAuthUtils.php
  Services/Authentication/classes/class.ilObjAuthSettings.php
  Services/Authentication/classes/class.ilObjAuthSettingsGUI.php
  Services/Authentication/classes/class.ilSession.php
  Services/Authentication/classes/class.ilSessionControl.php
  Services/Authentication/classes/class.ilSessionDBHandler.php
  Services/Authentication/classes/class.ilSessionIStorage.php
  Services/Authentication/classes/class.ilSessionStatistics.php
  Services/Authentication/classes/class.ilSessionStatisticsGUI.php
  Services/Authentication/test/ilServicesAuthenticationSuite.php
  Services/Authentication/test/ilSessionTest.php
  Services/Saml/classes/class.ilAuthProviderSaml.php
Labels: improvement, php

#4421 fix bug #32431 : Update process makes all language variables broken
  Services/Language/classes/Setup/class.ilSetupLanguage.php
Labels: bugfix

#4412 PHP8: Code Review `Services/Randomization`
  Services/Randomization/classes/class.ilRandom.php
  Services/Randomization/test/ilRandomTest.php
Labels: improvement, php

#4426 fix missing method call
  Services/Calendar/classes/class.ilCalendarUtil.php
Labels: improvement, php

#4249 TA, minor changes in handling requests (MultipleChoice)
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  Modules/TestQuestionPool/classes/class.ilMultipleChoiceWizardInputGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Modules/TestQuestionPool/classes/class.ilSingleChoiceWizardInputGUI.php
Labels: improvement

#4369 Simplify settings form test
  Modules/Test/classes/class.ilDynamicTestQuestionChangeListener.php
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestDynamicQuestionSetConfigGUI.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Modules/Test/classes/class.ilParticipantsTestResultsGUI.php
  Modules/Test/classes/class.ilTestExportFactory.php
  Modules/Test/classes/class.ilTestExpressPageObjectGUI.php
  Modules/Test/classes/class.ilTestPlayerDynamicQuestionSetGUI.php
  Modules/Test/classes/class.ilTestPlayerFactory.php
  Modules/Test/classes/class.ilTestQuestionSetConfigFactory.php
  Modules/Test/classes/class.ilTestSequenceFactory.php
  Modules/Test/classes/class.ilTestSessionFactory.php
  Modules/Test/classes/class.ilTestSettingsTemplateConfig.php
  Modules/Test/classes/class.ilTestSkillAdministrationGUI.php
  Modules/Test/classes/class.ilTestTabsManager.php
  Modules/Test/classes/toolbars/class.ilTestInfoScreenToolbarGUI.php
  Modules/Test/test/ilDynamicTestQuestionChangeListenerTest.php
  Modules/Test/test/ilTestExportFactoryTest.php
  Modules/Test/test/ilTestPlayerDynamicQuestionSetGUITest.php
  Modules/Test/test/ilTestPlayerFactoryTest.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPool.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Modules/TestQuestionPool/interfaces/interface.ilQuestionChangeListener.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#4425 Fix Removal of Options in Long Menu Questions
  Modules/TestQuestionPool/templates/default/longMenuQuestion.js
Labels: bugfix

#4321 T&A: Fix for 31579: check mode before displaying a filter for tests/questi…
  Modules/Test/classes/tables/class.ilTestQuestionBrowserTableGUI.php
Labels: bugfix, php

#4335 TA: 13917, option 'passDeletion' dependent on 'resultsAccessEnabled'
  Modules/Test/classes/class.ilObjTestSettingsScoringResultsGUI.php
Labels: bugfix, php

#4427 Update Dependencies after Release v7.8
  composer.lock
Labels: technical board, dependencies

#4410 PHP8: Code Review `Competence Management`
  Modules/Test/classes/class.ilTestPersonalSkillsGUI.php
  Services/Skill/GlobalScreen/classes/class.ilSkillGSToolProvider.php
  Services/Skill/Profile/class.ilSkillProfile.php
  Services/Skill/Profile/class.ilSkillProfileCompletionManager.php
  Services/Skill/Profile/class.ilSkillProfileCompletionRepository.php
  Services/Skill/Profile/class.ilSkillProfileGUI.php
  Services/Skill/Resources/class.ilSkillResources.php
  Services/Skill/Resources/class.ilSkillResourcesManager.php
  Services/Skill/Service/classes/class.SkillAdminGUIRequest.php
  Services/Skill/Service/classes/class.SkillGUIRequest.php
  Services/Skill/Service/classes/class.SkillPersonalGUIRequest.php
  Services/Skill/Service/classes/class.SkillTreeService.php
  Services/Skill/Service/classes/class.SkillUIService.php
  Services/Skill/Tree/class.SkillTreeTableGUI.php
  Services/Skill/Tree/class.ilGlobalSkillTree.php
  Services/Skill/Tree/class.ilGlobalVirtualSkillTree.php
  Services/Skill/Tree/class.ilObjSkillTreeGUI.php
  Services/Skill/Tree/class.ilSkillTemplateTreeExplorerGUI.php
  Services/Skill/Tree/class.ilSkillTree.php
  Services/Skill/Tree/class.ilSkillTreeNode.php
  Services/Skill/Tree/class.ilSkillTreeNodeGUI.php
  Services/Skill/Tree/class.ilVirtualSkillTree.php
  Services/Skill/Tree/class.ilVirtualSkillTreeExplorerGUI.php
  Services/Skill/classes/Provider/SkillMainBarProvider.php
  Services/Skill/classes/Setup/class.ilSkillDBUpdateSteps.php
  Services/Skill/classes/class.ilBasicSkill.php
  Services/Skill/classes/class.ilBasicSkillGUI.php
  Services/Skill/classes/class.ilBasicSkillLevelDBRepository.php
  Services/Skill/classes/class.ilBasicSkillTemplateGUI.php
  Services/Skill/classes/class.ilBasicSkillTreeDBRepository.php
  Services/Skill/classes/class.ilBasicSkillUserLevelDBRepository.php
  Services/Skill/classes/class.ilObjSkillManagementGUI.php
  Services/Skill/classes/class.ilPersonalSkill.php
  Services/Skill/classes/class.ilPersonalSkillExplorerGUI.php
  Services/Skill/classes/class.ilPersonalSkillsGUI.php
  Services/Skill/classes/class.ilSkillDataSet.php
  Services/Skill/classes/class.ilSkillExportConfig.php
  Services/Skill/classes/class.ilSkillSelectorGUI.php
  Services/Skill/classes/class.ilSkillTemplateReferenceGUI.php
  Services/Skill/classes/class.ilSkillUsage.php
  Services/Skill/interfaces/interface.ilBasicSkillUserLevelRepository.php
  Services/Skill/interfaces/interface.ilSkillUsageInfo.php
Labels: improvement, php

#4404 Migration: PHP8 improvements
  Services/Migration/DBUpdate_3136/classes/class.ilDBUpdate3136.php
  Services/Migration/DBUpdate_3560/classes/class.ilDBUpdateNewObjectType.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Annotation.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Base.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Classification.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Contribute.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Creator.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Description.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Educational.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Entity.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Format.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295General.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Identifier.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Identifier_.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Keyword.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Language.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295LanguageElement.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295LanguageItem.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Lifecycle.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Location.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295MetaMetadata.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295OrComposite.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Relation.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Requirement.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Rights.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295SaxParser.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Taxon.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295TaxonPath.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295Technical.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295TypicalAgeRange.php
  Services/Migration/DBUpdate_5295/classes/class.ilMD5295XMLParser.php
  Services/Migration/test/ilServicesMigrationSuite.php
  setup/sql/dbupdate_05.php
Labels: improvement

#4436 Tests, Include DS_Store in possible List of Files in Root folder
  tests/App/RootFolderTest.php
Labels: improvement

#4432 Add Roadmap to Test
  Modules/Test/ROADMAP.md
Labels: improvement

#4439 Adding folders and files needed for Eclipse
  tests/App/RootFolderTest.php
Labels: improvement

#4438 Updating Execution of PHPUnit
  CI/PHPUnit/phpunit.xml
  CI/PHPUnit/run_tests.sh
Labels: jour fixe, technical board

#4272 Review services `Services/Init`
  Services/Init/classes/Dependencies/InitComponentService.php
  Services/Init/classes/Dependencies/InitHttpServices.php
  Services/Init/classes/Dependencies/InitUIFramework.php
  Services/Init/classes/Provider/StartUpMetaBarProvider.php
  Services/Init/classes/StartupSequence/StartUpSequenceDispatcher.php
  Services/Init/classes/class.ilErrorHandling.php
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
  Services/Init/classes/class.ilPublicSectionSettings.php
  Services/Init/classes/class.ilStartUpGUI.php
  Services/Init/classes/class.ilias.php
  Services/Init/test/InitHttpServicesTest.php
  Services/Init/test/InitUIFrameworkTest.php
Labels: improvement, php

#4424 Review `Services/LTI`
  Services/LTI/classes/Consumer/class.ilObjectConsumerTableGUI.php
  Services/LTI/classes/InternalProvider/class.ilAuthFrontendCredentialsLTI.php
  Services/LTI/classes/InternalProvider/class.ilAuthProviderLTI.php
  Services/LTI/classes/InternalProvider/class.ilLTIProviderObjectSetting.php
  Services/LTI/classes/InternalProvider/class.ilLTIToolProvider.php
  Services/LTI/classes/class.ilGlobalTemplate.php
  Services/LTI/classes/class.ilLTIAppEventListener.php
  Services/LTI/classes/class.ilLTICronOutcomeService.php
  Services/LTI/classes/class.ilLTIDataConnector.php
  Services/LTI/classes/class.ilLTIRouterGUI.php
  Services/LTI/classes/class.ilLTIViewGUI.php
  Services/LTI/classes/class.ilObjLTIAdministration.php
  Services/LTI/classes/class.ilObjLTIAdministrationGUI.php
  Services/LTI/src/HTTPMessage.php
  Services/LTI/src/Profile/Item.php
  Services/LTI/src/ToolProvider/ConsumerNonce.php
  Services/LTI/src/ToolProvider/Context.php
  Services/LTI/src/ToolProvider/DataConnector/DataConnector.php
  Services/LTI/src/ToolProvider/OAuthDataStore.php
  Services/LTI/src/ToolProvider/Outcome.php
  Services/LTI/src/ToolProvider/ResourceLink.php
  Services/LTI/src/ToolProvider/ResourceLinkShareKey.php
  Services/LTI/src/ToolProvider/Service/Membership.php
  Services/LTI/src/ToolProvider/Service/Service.php
  Services/LTI/src/ToolProvider/Service/ToolSettings.php
  Services/LTI/src/ToolProvider/ToolConsumer.php
  Services/LTI/src/ToolProvider/ToolProvider.php
  Services/LTI/src/ToolProvider/ToolProxy.php
  Services/LTI/src/ToolProvider/User.php
Labels: improvement, php

#4419 Review `Modules/LtiConsumer`
  Modules/LTIConsumer/classes/Certificate/class.ilCertificateSettingsLTIConsumerFormRepository.php
  Modules/LTIConsumer/classes/Certificate/class.ilLTIConsumerPlaceholderDescription.php
  Modules/LTIConsumer/classes/Certificate/class.ilLTIConsumerPlaceholderValues.php
  Modules/LTIConsumer/classes/Verification/class.ilLTIConsumerVerificationTableGUI.php
  Modules/LTIConsumer/classes/Verification/class.ilObjLTIConsumerVerificationAccess.php
  Modules/LTIConsumer/classes/Verification/class.ilObjLTIConsumerVerificationGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumeProvider.php
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderIcon.php
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderList.php
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderSettingsGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerAccess.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerAdministrationGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerDataService.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerEmbeddedContentGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerLP.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerLaunch.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerProviderSelectionFormTableGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerProviderTableGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerProviderUsageTableGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerResult.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerResultService.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerScoringGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerScoringTableGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerSettingsFormGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerSettingsGUI.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerXapiStatementsGUI.php
  Modules/LTIConsumer/classes/class.ilObjLTIConsumer.php
  Modules/LTIConsumer/classes/class.ilObjLTIConsumerAccess.php
  Modules/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
  Modules/LTIConsumer/classes/class.ilObjLTIConsumerListGUI.php
  Modules/LTIConsumer/result.php
  Modules/LTIConsumer/src/OAuth.php
  Modules/LTIConsumer/src/TrivialOAuthDataStore.php
  Modules/LTIConsumer/test/ilModulesLTIConsumerSuite.php
Labels: improvement, php

#4430 8 ecs authmodes
  Modules/RemoteCategory/classes/class.ilObjRemoteCategoryListGUI.php
  Services/WebServices/ECS/classes/Consent/class.ilECSParticipantConsents.php
  Services/WebServices/ECS/classes/Consent/class.ilECSUserConsent.php
  Services/WebServices/ECS/classes/Consent/class.ilECSUserConsentModalGUI.php
  Services/WebServices/ECS/classes/Consent/class.ilECSUserConsents.php
  Services/WebServices/ECS/classes/Setup/ilECSUpdateSteps8.php
  Services/WebServices/ECS/classes/class.ilAuthProviderECS.php
  Services/WebServices/ECS/classes/class.ilECSAppEventListener.php
  Services/WebServices/ECS/classes/class.ilECSParticipantSetting.php
  Services/WebServices/ECS/classes/class.ilECSParticipantSettingsGUI.php
  Services/WebServices/ECS/classes/class.ilECSRemoteUserRepository.php
  Services/WebServices/ECS/classes/class.ilECSUser.php
  Services/WebServices/ECS/classes/class.ilRemoteObjectBaseGUI.php
  Services/WebServices/ECS/classes/class.ilRemoteObjectBaseListGUI.php
  Services/WebServices/classes/Setup/class.ilWebServicesSetupAgent.php
  Services/WebServices/service.xml
  templates/default/less/Services/Container/delos.less
Labels: php

#4431 ecs: course mapping (auth modes)
  Services/WebServices/ECS/classes/Mapping/class.ilECSMappingUtils.php
Labels: php

#3899 ilTree: Add type cast
  Services/Tree/classes/class.ilTree.php
Labels: bugfix

#4138 PHP 8: Code Review `Metadata`
  Services/MetaData/OerHarvester/classes/class.ilOerHarvester.php
  Services/MetaData/OerHarvester/classes/class.ilOerHarvesterObjectStatus.php
  Services/MetaData/OerHarvester/classes/class.ilOerHarvesterSettings.php
  Services/MetaData/classes/class.ilCronOerHarvester.php
  Services/MetaData/classes/class.ilMD.php
  Services/MetaData/classes/class.ilMDAnnotation.php
  Services/MetaData/classes/class.ilMDBase.php
  Services/MetaData/classes/class.ilMDClassification.php
  Services/MetaData/classes/class.ilMDContribute.php
  Services/MetaData/classes/class.ilMDCopyrightSelectionEntry.php
  Services/MetaData/classes/class.ilMDCopyrightSelectionGUI.php
  Services/MetaData/classes/class.ilMDCopyrightTableGUI.php
  Services/MetaData/classes/class.ilMDCopyrightUsageGUI.php
  Services/MetaData/classes/class.ilMDCopyrightUsageTableGUI.php
  Services/MetaData/classes/class.ilMDCreator.php
  Services/MetaData/classes/class.ilMDDescription.php
  Services/MetaData/classes/class.ilMDEditorGUI.php
  Services/MetaData/classes/class.ilMDEducational.php
  Services/MetaData/classes/class.ilMDEntity.php
  Services/MetaData/classes/class.ilMDFormat.php
  Services/MetaData/classes/class.ilMDGeneral.php
  Services/MetaData/classes/class.ilMDIdentifier.php
  Services/MetaData/classes/class.ilMDIdentifier_.php
  Services/MetaData/classes/class.ilMDKeyword.php
  Services/MetaData/classes/class.ilMDLanguage.php
  Services/MetaData/classes/class.ilMDLanguageElement.php
  Services/MetaData/classes/class.ilMDLanguageItem.php
  Services/MetaData/classes/class.ilMDLifecycle.php
  Services/MetaData/classes/class.ilMDLocation.php
  Services/MetaData/classes/class.ilMDMetaMetadata.php
  Services/MetaData/classes/class.ilMDOrComposite.php
  Services/MetaData/classes/class.ilMDRelation.php
  Services/MetaData/classes/class.ilMDRequirement.php
  Services/MetaData/classes/class.ilMDRights.php
  Services/MetaData/classes/class.ilMDSaxParser.php
  Services/MetaData/classes/class.ilMDSearch.php
  Services/MetaData/classes/class.ilMDSettings.php
  Services/MetaData/classes/class.ilMDTaxon.php
  Services/MetaData/classes/class.ilMDTaxonPath.php
  Services/MetaData/classes/class.ilMDTechnical.php
  Services/MetaData/classes/class.ilMDTypicalAgeRange.php
  Services/MetaData/classes/class.ilMDUtilSelect.php
  Services/MetaData/classes/class.ilMDUtils.php
  Services/MetaData/classes/class.ilMDXMLCopier.php
  Services/MetaData/classes/class.ilMetaDataExporter.php
  Services/MetaData/classes/class.ilMetaDataImporter.php
  Services/MetaData/classes/class.ilObjMDSettings.php
  Services/MetaData/classes/class.ilObjMDSettingsGUI.php
  Services/MetaData/classes/class.ilTypicalLearningTimeInputGUI.php
  Services/MetaData/test/ilMDTest.php
  Services/MetaData/test/ilServicesMetaDataSuite.php
Labels: improvement, php

#4434 Fix/8/tests failing
  Services/VirusScanner/classes/class.ilVirusScannerFactory.php
  src/Refinery/String/MakeClickable.php
  tests/App/RootFolderTest.php
Labels: improvement

#4444 XmlHandling: Reset global error handling state
  Modules/CmiXapi/classes/class.ilCmiXapiImporter.php
  Modules/Course/classes/Objectives/class.ilLOXmlParser.php
  Services/AccessControl/classes/class.ilRoleXmlImporter.php
  Services/COPage/classes/class.ilPCParagraph.php
  Services/COPage/test/PCParagraphTest.php
  Services/Container/Export/class.ilContainerImporter.php
  Services/DidacticTemplate/classes/class.ilDidacticTemplateImport.php
Labels: improvement
