Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-02, with the labels that each got.

#3948 Setup, 31934: check on config flag when adding cached components
  Services/GlobalCache/classes/Setup/class.ilGlobalCacheSetupAgent.php
Labels: bugfix

#3989 Data-URI support for ILIAS 6
  src/GlobalScreen/Scope/Layout/MetaContent/Media/AbstractMediaWithPath.php
Labels: bugfix, improvement

#3966 Setup/Component: Fix wrong instance constructions (Mantis 31955, 3…
  Modules/Test/test/tables/ilAssessmentFolderLogAdministrationTableGUITest.php
  Modules/Test/test/tables/ilAssessmentFolderLogTableGUITest.php
  Modules/Test/test/tables/ilEvaluationAllTableGUITest.php
  Modules/Test/test/tables/ilListOfQuestionsTableGUITest.php
  Modules/Test/test/tables/ilMarkSchemaTableGUITest.php
  Modules/Test/test/tables/ilParticipantsTestResultsTableGUITest.php
  Modules/Test/test/tables/ilResultsByQuestionTableGUITest.php
  Modules/Test/test/tables/ilTestAggregatedResultsTableGUITest.php
  Modules/Test/test/tables/ilTestAverageReachedPointsTableGUITest.php
  Modules/Test/test/tables/ilTestDetailedEvaluationStatisticsTableGUITest.php
  Modules/Test/test/tables/ilTestDynamicQuestionSetStatisticTableGUITest.php
  Modules/Test/test/tables/ilTestExportTableGUITest.php
  Modules/Test/test/tables/ilTestHistoryTableGUITest.php
  Modules/Test/test/tables/ilTestInviteGroupsTableGUITest.php
  Modules/Test/test/tables/ilTestInviteRolesTableGUITest.php
  Modules/Test/test/tables/ilTestInviteUsersTableGUITest.php
  Modules/Test/test/tables/ilTestManScoringParticipantsBySelectedQuestionAndPassTableGUITest.php
  Modules/Test/test/tables/ilTestManScoringParticipantsTableGUITest.php
  Modules/Test/test/tables/ilTestParticipantsTableGUITest.php
  Modules/Test/test/tables/ilTestPassDetailsOverviewTableGUITest.php
  Modules/Test/test/tables/ilTestPassManualScoringOverviewTableGUITest.php
  Modules/Test/test/tables/ilTestPassOverviewTableGUITest.php
  Modules/Test/test/tables/ilTestPersonalDefaultSettingsTableGUITest.php
  Modules/Test/test/tables/ilTestQuestionBrowserTableGUITest.php
  Modules/Test/test/tables/ilTestQuestionsTableGUITest.php
  Modules/Test/test/tables/ilTestRandomQuestionSelectionTableGUITest.php
  Modules/Test/test/tables/ilTestRandomQuestionSetNonAvailablePoolsTableGUITest.php
  Modules/Test/test/tables/ilTestRandomQuestionSetSourcePoolDefinitionListTableGUITest.php
  Modules/Test/test/tables/ilTestSkillLevelThresholdsTableGUITest.php
  Modules/Test/test/tables/ilTestTopListTableGUITest.php
  Modules/Test/test/tables/ilTestVerificationTableGUITest.php
  Modules/Test/test/tables/ilTimingOverviewTableGUITest.php
  Services/Component/classes/Setup/class.ilComponentFactoryExists.php
  Services/Component/classes/Setup/class.ilComponentPluginAdminInitObjective.php
  Services/Component/classes/class.ilComponentFactory.php
  Services/Component/classes/class.ilPlugin.php
  Services/Component/classes/class.ilPluginAdmin.php
  Services/Component/test/ilArtifactComponentRepositoryTest.php
  Services/Component/test/ilPluginSlotInfoTest.php
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#3988 Rename duplicated language variable.
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/Refinery/Random/Transformation/ShuffleTransformation.php
Labels: bugfix

#3894 StudyProgramme: fix whoops for adding zero users
  Modules/StudyProgramme/classes/class.ilStudyProgrammeRepositorySearchGUI.php
Labels: bugfix

#3861 OrgU, #31204: sort nav-tree by title
  Modules/OrgUnit/classes/Provider/OrgUnitToolProvider.php
Labels: bugfix

#3930 Setup: 31915 avoid abort setup on failure
  src/Setup/CLI/IOWrapper.php
  src/Setup/CLI/ObjectiveHelper.php
  src/Setup/ObjectiveIterator.php
  tests/Setup/ObjectiveIteratorTest.php
Labels: bugfix

#3991 Curl fix parseHeader
  Services/WebServices/Curl/classes/class.ilCurlConnection.php
Labels: bugfix, php

#3979 PRG_REFERENCE improvements to PHP8
  Modules/StudyProgrammeReference/classes/class.ilObjStudyProgrammeReference.php
  Modules/StudyProgrammeReference/classes/class.ilObjStudyProgrammeReferenceAccess.php
  Modules/StudyProgrammeReference/classes/class.ilObjStudyProgrammeReferenceGUI.php
  Modules/StudyProgrammeReference/classes/class.ilObjStudyProgrammeReferenceListGUI.php
Labels: improvement, php

#3982 IASS improvements to PHP8 2
  Modules/IndividualAssessment/ROADMAP.md
  Modules/IndividualAssessment/classes/FileStorage/class.ilIndividualAssessmentFileStorage.php
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentDIC.php
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentDataSet.php
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentMemberGUI.php
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentMembersGUI.php
  Modules/IndividualAssessment/classes/class.ilObjIndividualAssessmentGUI.php
  Modules/IndividualAssessment/classes/class.ilObjIndividualAssessmentListGUI.php
  Modules/IndividualAssessment/test/AccessControl/ilIndividualAssessmentAccessHandlerTest.php
  Modules/IndividualAssessment/test/Members/ilIndividualAssessmentMemberTest.php
  Modules/IndividualAssessment/test/Members/ilIndividualAssessmentMembersTest.php
Labels: improvement, php

#3950 Update Dependencies after Release v7.6
  composer.lock
Labels: technical board, dependencies

#3994 Update Dependencies after Release v6.15
  composer.lock
Labels: technical board, dependencies

#3932 BT-31422: fixed duplicate ids in calendar week gui
  Services/Calendar/classes/class.ilCalendarWeekGUI.php
Labels: bugfix

#3941 BT-31672: made search dropdowns keyboard accessible
  Services/Search/js/Search.js
  Services/Search/templates/default/tpl.search.html
Labels: bugfix, javascript

#3764 BT-30292: Removed https setting option from privacy security
  Modules/SystemFolder/classes/class.ilObjSystemFolderGUI.php
  Services/Administration/classes/class.ilAdministrationSettingsFormHandler.php
Labels: bugfix

#3876 BT-31667: Added missing descriptor of hidden breadcrumb headline
  Services/Tree/classes/class.ilPathGUI.php
Labels: bugfix

#3938 BT-31423: Added rowgroup to calendar day and week table headers
  Services/Calendar/templates/default/tpl.day_view.html
  Services/Calendar/templates/default/tpl.week_view.html
Labels: bugfix

#3769 Fix Glossary Print Presentation
  Modules/Glossary/Presentation/class.ilGlossaryPresentationGUI.php
Labels: bugfix

#3770 switch to collectOnce
  Services/Help/classes/class.ilHelpGUI.php
Labels: improvement

#3995 UI/PresentationTable: optional fields for rows
  src/UI/Implementation/Component/Table/PresentationRow.php
  src/UI/Implementation/Component/Table/Renderer.php
  src/UI/templates/default/Table/table.less
  src/UI/templates/default/Table/tpl.presentationrow.html
  templates/default/delos.css
  tests/UI/Base.php
  tests/UI/Component/Table/PresentationTest.php
Labels: kitchen sink, improvement, php

#4005 Fix Mime Type Detection for stream
  src/ResourceStorage/Resource/InfoResolver/StreamInfoResolver.php
Labels: improvement, php

#3972 Remove type bug in STR Utils
  Services/Utilities/classes/class.ilStr.php
Labels: bugfix, php

#3992 Session: fix error giving an int as setting-default
  Services/Authentication/classes/class.ilSession.php
Labels: bugfix, php

#4018 TinyMCE: Fix paths issues in `imgupload` plugin
  node_modules/.package-lock.json
  node_modules/tinymce/plugins/ilimgupload/imgupload.php
  package-lock.json
Labels: bugfix, dependencies, php

#4010 fix for 31592: check if value for divider is too big
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionVariable.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4019 Proposed fix for #30357
  Modules/Test/classes/class.ilTestEvaluationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4006 BT-31816: Changed h3 to h2 for table titles from table2gui
  Services/Table/templates/default/tpl.table2.html
Labels: bugfix

#3895 A11Y/LegacyUI/Table: Fix empty target attributes of form (Mantis 31825)
  Services/Table/templates/default/tpl.table.html
  Services/Table/templates/default/tpl.table2.html
Labels: bugfix

#4007 BT-31828: Added postvar to disabled inputs
  Services/Form/classes/class.ilRadioGroupInputGUI.php
  Services/Form/classes/class.ilSelectInputGUI.php
  Services/Form/classes/class.ilTextAreaInputGUI.php
  Services/Form/classes/class.ilTextInputGUI.php
Labels: bugfix, php

#4012 Component: improvements to PHP8
  Services/Component/classes/Settings/class.ilObjComponentSettingsGUI.php
  Services/Component/classes/Setup/class.ilComponentActivatePluginsObjective.php
  Services/Component/classes/Setup/class.ilComponentDefinitionsStoredObjective.php
  Services/Component/classes/Setup/class.ilComponentInfoDefinitionProcessor.php
  Services/Component/classes/Setup/class.ilComponentInstallPluginObjective.php
  Services/Component/classes/Setup/class.ilComponentUpdatePluginObjective.php
  Services/Component/classes/Setup/class.ilComponentsSetupAgent.php
  Services/Component/classes/class.ilComponentInfo.php
  Services/Component/classes/class.ilPlugin.php
  Services/Component/classes/class.ilPluginConfigGUI.php
  Services/Component/classes/class.ilPluginLP.php
  Services/Component/classes/class.ilPluginReader.php
  Services/Component/test/Settings/ilPluginsOverviewTableTest.php
  Services/Component/test/Setup/ilComponentBuildPluginInfoObjectiveTest.php
  Services/Component/test/Setup/ilComponentDefinitionInfoProcessorTest.php
  Services/Component/test/ilComponentInfoTest.php
  Services/Component/test/ilPluginInfoTest.php
  Services/Component/test/ilPluginSlotInfoTest.php
  Services/Component/test/ilPluginStateDBOverIlDBInterfaceTest.php
Labels: improvement, php

#3977 PRG improvements to PHP8 2
  Modules/StudyProgramme/classes/class.ilObjStudyProgramme.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeAdmin.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeAutoCategoriesGUI.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeAutoMembershipsGUI.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeGUI.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeIndividualPlanGUI.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeSettingsGUI.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeTreeExplorerGUI.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeTreeGUI.php
  Modules/StudyProgramme/classes/class.ilPDStudyProgrammeExpandableListGUI.php
  Modules/StudyProgramme/classes/class.ilPDStudyProgrammeSimpleListGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeAcknowledgeCompletedCoursesTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeAutoCategoriesTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeChangeDeadlineGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeChangeExpireDateGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDIC.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDashboardViewGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeExpandableProgressListGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeIndividualPlanProgressListGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMailMemberSearchGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMailMemberSearchTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMailTemplateContext.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMembersTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeRepositorySearchGUI.php
  Modules/StudyProgramme/classes/helpers/class.ilAsyncContainerSelectionExplorer.php
  Modules/StudyProgramme/classes/helpers/class.ilAsyncPropertyFormGUI.php
  Modules/StudyProgramme/classes/model/Types/class.ilStudyProgrammeType.php
  Modules/StudyProgramme/classes/model/Types/class.ilStudyProgrammeTypeDBRepository.php
  Modules/StudyProgramme/classes/types/class.ilStudyProgrammeTypeAdvancedMetaDataFormGUI.php
  Modules/StudyProgramme/classes/types/class.ilStudyProgrammeTypeCustomIconsFormGUI.php
  Modules/StudyProgramme/classes/types/class.ilStudyProgrammeTypeGUI.php
  Modules/StudyProgramme/classes/types/class.ilStudyProgrammeTypeTableGUI.php
  Modules/StudyProgramme/test/cron/ilStudyProgrammeCronAboutToExpireTest.php
  Modules/StudyProgramme/test/cron/ilStudyProgrammeCronRiskyToFailTest.php
  Modules/StudyProgramme/test/helpers/ilStudyProgrammeGUIMessagesTest.php
  Modules/StudyProgramme/test/ilObjStudyProgrammeCacheTest.php
  Modules/StudyProgramme/test/ilStudyProgrammeProgressCalculationsTest.php
  Modules/StudyProgramme/test/model/AutoCategories/ilStudyProgrammeAutoCategoryTest.php
  Modules/StudyProgramme/test/model/AutoMemberships/ilStudyProgrammeAutoMembershipsSourceTest.php
  Modules/StudyProgramme/test/model/Progress/ilStudyProgrammeProgressTest.php
  src/Refinery/Container/Group.php
  src/Refinery/Container/MapValues.php
  tests/Refinery/Container/Transformation/MapValuesTest.php
Labels: improvement, php

#3671 Feature/toast implementation
  Services/Init/classes/Dependencies/InitUIFramework.php
  src/UI/Component/Toast/Toast.php
  src/UI/Implementation/Component/Toast/Factory.php
  src/UI/Implementation/Component/Toast/Renderer.php
  src/UI/Implementation/Component/Toast/Toast.php
  src/UI/Implementation/Factory.php
  src/UI/examples/Toast/Standard/base.php
  src/UI/examples/Toast/Standard/with_action.php
  src/UI/examples/Toast/Standard/with_additional_links.php
  src/UI/examples/Toast/Standard/with_description.php
  src/UI/examples/Toast/Standard/with_link_title.php
  src/UI/examples/Toast/Standard/with_long_description.php
  src/UI/templates/default/Toast/toast.less
  src/UI/templates/default/Toast/tpl.toast.html
  src/UI/templates/js/Toast/toast.js
  templates/default/delos.css
  templates/default/delos.less
  templates/default/less/variables.less
  tests/UI/Client/Toast/Standard/StandardToastTest.html
  tests/UI/Client/Toast/Standard/standard.test.js
Labels: kitchen sink, improvement

#4030 Fix logic if no clientId parameter is available
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#4028 Reduce Memory usage of StreamInfoResolver
  src/ResourceStorage/Resource/InfoResolver/StreamInfoResolver.php
Labels: improvement, php

#4031 Fix issue is no HTTP_COOKIE key is available in $_SERVER
  Services/Logging/classes/error/class.ilLoggingErrorFileStorage.php
Labels: bugfix, php

#3993 Fix escaping of \\
  Services/MathJax/classes/class.ilMathJax.php
Labels: bugfix, php

#4054 6 mail 32069
  Services/Mail/classes/Form/class.ilIncomingMailInputGUI.php
Labels: bugfix, php

#4055 Trunk mail 32069
  Services/Mail/classes/Form/class.ilIncomingMailInputGUI.php
Labels: bugfix, php

#3983 PRG: skip update for LPcompleted event
  Modules/StudyProgramme/classes/class.ilObjStudyProgramme.php
Labels: bugfix, php

#3986 LS: PHP8 improvements 2
  Modules/LearningSequence/RAODMAP.md
  Modules/LearningSequence/classes/Content/class.ilObjLearningSequenceContentGUI.php
  Modules/LearningSequence/classes/Content/class.ilObjLearningSequenceContentTableGUI.php
  Modules/LearningSequence/classes/GlobalSettings/ilLSGlobalSettingsDB.php
  Modules/LearningSequence/classes/Members/class.ilLearningSequenceMembershipGUI.php
  Modules/LearningSequence/classes/Members/class.ilLearningSequenceMembershipMailNotification.php
  Modules/LearningSequence/classes/Members/class.ilLearningSequenceParticipants.php
  Modules/LearningSequence/classes/Members/class.ilLearningSequenceRoles.php
  Modules/LearningSequence/classes/Player/LSControlBuilder.php
  Modules/LearningSequence/classes/Player/LSLocatorBuilder.php
  Modules/LearningSequence/classes/Player/class.ilLSStateDB.php
  Modules/LearningSequence/classes/Player/class.ilLegacyKioskModeView.php
  Modules/LearningSequence/classes/Player/class.ilObjLearningSequenceLPPollingGUI.php
  Modules/LearningSequence/classes/Player/class.ilObjLearningSequenceLearnerGUI.php
  Modules/LearningSequence/classes/Settings/class.ilLearningSequenceSettings.php
  Modules/LearningSequence/classes/Settings/class.ilObjLearningSequenceSettingsGUI.php
  Modules/LearningSequence/classes/Xml/class.ilLearningSequenceXMLParser.php
  Modules/LearningSequence/classes/Xml/class.ilLearningSequenceXMLWriter.php
  Modules/LearningSequence/classes/class.ilLSLocalDI.php
  Modules/LearningSequence/classes/class.ilLearningSequenceImporter.php
  Modules/LearningSequence/classes/class.ilObjLearningSequence.php
  Modules/LearningSequence/classes/class.ilObjLearningSequenceAdminGUI.php
  Modules/LearningSequence/classes/class.ilObjLearningSequenceGUI.php
Labels: improvement, php

#3905 UI/Layout: Breadcrumbs in Content
  src/UI/templates/default/Breadcrumbs/breadcrumbs.less
  src/UI/templates/default/Layout/standardpage.less
  src/UI/templates/default/Layout/tpl.standardpage.html
  templates/default/delos.css
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: kitchen sink, improvement

#4036 MyStaff: Improve performance when listing courses of user
  Services/MyStaff/classes/ShowUser/Courses/class.ilMStShowUserCoursesTableGUI.php
Labels: improvement, php

#4035 MyStaff: Fix filter when listing courses for user
  Services/MyStaff/classes/ListCourses/class.ilMStListCourses.php
Labels: bugfix, php

#4046 MyStaff: Fix query when determining courses of user(s)
  Services/MyStaff/classes/ListCourses/class.ilMStListCourses.php
Labels: bugfix

#3768 MyStaff: Cache access checks for 'MyStaff' / Don't allow access on lo…
  Services/MainMenu/classes/Provider/StandardTopItemsProvider.php
  Services/MyStaff/classes/Provider/StaffMainBarProvider.php
  Services/MyStaff/classes/class.ilMyStaffCachedAccessDecorator.php
  Services/User/classes/class.ilUserUtil.php
Labels: bugfix

#3595 orgUnit Fix mantis bug 31304: Filter a Staff's enrollments
  Services/MyStaff/classes/ShowUser/Courses/class.ilMStShowUserCourses.php
Labels: bugfix

#3113 Allows custom positions to be imported.
  Modules/OrgUnit/classes/SimpleUserImport/class.ilOrgUnitSimpleUserImport.php
Labels: improvement

#2778 orgu: get title from plugin lang if context is a plugin
  Modules/OrgUnit/classes/Positions/Permissions/class.ilOrgUnitDefaultPermissionFormGUI.php
  Modules/OrgUnit/classes/Positions/Permissions/class.ilOrgUnitDefaultPermissionGUI.php
Labels: improvement

#2769 orgu: #28535 add an activatable permission check for collection of or…
  Modules/OrgUnit/classes/Provider/OrgUnitToolProvider.php
  Modules/OrgUnit/classes/class.ilOrgUnitExplorerGUI.php
Labels: bugfix

#4065 fix typo in dashboard mainbard provider
  Services/Dashboard/GlobalScreen/classes/PDMainBarProvider.php
Labels: bugfix, php

#4069 Fix issue that headers must contain 2 parts
  Services/WebServices/Curl/classes/class.ilCurlConnection.php
Labels: bugfix, php

#4050 User/AccessControl: Fix wrong type in permanentlink (Mantis 32075)
  Services/User/classes/class.ilRoleAssignmentTableGUI.php
Labels: bugfix, php

#4060 BT-23546: Added character suffix to max length in metadata fields
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionText.php
Labels: bugfix

#4039 Docs: Add new security group member
  docs/development/security.md
Labels: improvement

#4070 Certificate: Fix cloning templates (Mantis 32127)
  Services/Certificate/classes/Template/Action/Clone/class.ilCertificateCloneAction.php
  Services/Certificate/test/ilCertificateCloneActionTest.php
Labels: bugfix, php

#4075 Bugfix 0032114
  templates/default/delos.css
  templates/default/less/Services/Calendar/bootstrap-datetimepicker.less
  templates/default/less/Services/Form/delos.less
  templates/default/less/variables.less
Labels: bugfix

#4074 Bugfix 0031766
  templates/default/delos.css
  templates/default/less/Services/Awareness/delos.less
Labels: bugfix

#4042 Fix test question page command forwarder (trunk)
  Modules/Test/classes/class.ilAssQuestionPageCommandForwarder.php
Labels: bugfix, php

#4043 Fix test question page command forwarder (release_7)
  Modules/Test/classes/class.ilAssQuestionPageCommandForwarder.php
Labels: bugfix, php

#4044 Fix test question page command forwarder (release_6)
  Modules/Test/classes/class.ilAssQuestionPageCommandForwarder.php
Labels: bugfix, php

#4045 Fix test question page command forwarder (release_5-4)
  Modules/Test/classes/class.ilAssQuestionPageCommandForwarder.php
Labels: bugfix, php

#4027 TA: 21997, do not (auto)save over max passes.
  Modules/Test/classes/class.ilTestOutputGUI.php
Labels: bugfix, php

#4052 Test: Lock question synchronisation from pool for random test set con…
  Modules/Test/classes/class.ilCronFinishUnfinishedTestPasses.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilTestEvaluationGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestProcessLockFileStorage.php
  Modules/Test/classes/class.ilTestProcessLocker.php
  Modules/Test/classes/class.ilTestProcessLockerDb.php
  Modules/Test/classes/class.ilTestProcessLockerFactory.php
  Modules/Test/classes/class.ilTestProcessLockerFile.php
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigStateMessageHandler.php
Labels: bugfix, php

#4067 [FIX] 0031865: Online Help Main Menu Tooltips are missing (was: Place…
  src/UI/Implementation/Component/Symbol/Icon/Renderer.php
  src/UI/templates/default/Symbol/tpl.icon.html
  tests/UI/Component/Symbol/Icon/IconTest.php
Labels: bugfix, kitchen sink, php

#4080 added minimal lucene object definition
  Modules/CmiXapi/LuceneObjectDefinition.xml
Labels: bugfix

#4064 Fix Internal Links Modal in Table of Page Editor.
  Services/COPage/classes/class.ilPCTableGUI.php
Labels: bugfix, php

#4078 BT-28791: Added Screen-IDs to orgu user and course list
  Services/MyStaff/classes/ListCourses/class.ilMStListCoursesGUI.php
  Services/MyStaff/classes/ListUsers/class.ilMStListUsersGUI.php
Labels: bugfix

#2742 orgu: #28434 create confirmation and deassign for recursive br…
  Modules/OrgUnit/classes/ARHelper/BaseCommands.php
  Modules/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitRecursiveUserAssignmentTableGUI.php
  Modules/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitUserAssignmentGUI.php
  Modules/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitUserAssignmentQueries.php
Labels: bugfix

#4021 MyStaff: new code style
  Services/MyStaff/classes/ListCertificates/class.ilMStListCertificates.php
  Services/MyStaff/classes/ListCertificates/class.ilMStListCertificatesGUI.php
  Services/MyStaff/classes/ListCertificates/class.ilMStListCertificatesTableGUI.php
  Services/MyStaff/classes/ListCompetences/Skills/class.ilMStListCompetencesSkill.php
  Services/MyStaff/classes/ListCompetences/Skills/class.ilMStListCompetencesSkills.php
  Services/MyStaff/classes/ListCompetences/Skills/class.ilMStListCompetencesSkillsGUI.php
  Services/MyStaff/classes/ListCompetences/Skills/class.ilMStListCompetencesSkillsTableGUI.php
  Services/MyStaff/classes/ListCompetences/class.ilMStListCompetencesGUI.php
  Services/MyStaff/classes/ListCourses/class.ilMStListCourse.php
  Services/MyStaff/classes/ListCourses/class.ilMStListCourses.php
  Services/MyStaff/classes/ListCourses/class.ilMStListCoursesGUI.php
  Services/MyStaff/classes/ListCourses/class.ilMStListCoursesTableGUI.php
  Services/MyStaff/classes/ListUsers/class.ilMStListUser.php
  Services/MyStaff/classes/ListUsers/class.ilMStListUsers.php
  Services/MyStaff/classes/ListUsers/class.ilMStListUsersGUI.php
  Services/MyStaff/classes/ListUsers/class.ilMStListUsersTableGUI.php
  Services/MyStaff/classes/Provider/StaffMainBarProvider.php
  Services/MyStaff/classes/ShowUser/Competences/class.ilMStShowUserCompetencesGUI.php
  Services/MyStaff/classes/ShowUser/Courses/class.ilMStShowUserCourses.php
  Services/MyStaff/classes/ShowUser/Courses/class.ilMStShowUserCoursesGUI.php
  Services/MyStaff/classes/ShowUser/Courses/class.ilMStShowUserCoursesTableGUI.php
  Services/MyStaff/classes/ShowUser/class.ilMStShowUserGUI.php
  Services/MyStaff/classes/class.ilMyStaffAccess.php
  Services/MyStaff/classes/class.ilMyStaffGUI.php
  Services/MyStaff/maintenance.json
  Services/MyStaff/templates/default/tpl.list_courses_row.html
  Services/MyStaff/templates/default/tpl.list_skills_row.html
  Services/MyStaff/templates/default/tpl.list_user_courses_row.html
  Services/MyStaff/templates/default/tpl.list_users_row.html
Labels: improvement, php

#4020 CloudObject: new code style
  Modules/Cloud/classes/class.ilCloudConnector.php
  Modules/Cloud/classes/class.ilCloudFileNode.php
  Modules/Cloud/classes/class.ilCloudFileTree.php
  Modules/Cloud/classes/class.ilCloudGroupedListGUI.php
  Modules/Cloud/classes/class.ilCloudHookPlugin.php
  Modules/Cloud/classes/class.ilCloudPlugin.php
  Modules/Cloud/classes/class.ilCloudPluginActionListGUI.php
  Modules/Cloud/classes/class.ilCloudPluginConfig.php
  Modules/Cloud/classes/class.ilCloudPluginConfigGUI.php
  Modules/Cloud/classes/class.ilCloudPluginCreateFolderGUI.php
  Modules/Cloud/classes/class.ilCloudPluginCreationGUI.php
  Modules/Cloud/classes/class.ilCloudPluginDeleteGUI.php
  Modules/Cloud/classes/class.ilCloudPluginFileTreeGUI.php
  Modules/Cloud/classes/class.ilCloudPluginGUI.php
  Modules/Cloud/classes/class.ilCloudPluginHeaderActionGUI.php
  Modules/Cloud/classes/class.ilCloudPluginInfoScreenGUI.php
  Modules/Cloud/classes/class.ilCloudPluginInitGUI.php
  Modules/Cloud/classes/class.ilCloudPluginItemCreationListGUI.php
  Modules/Cloud/classes/class.ilCloudPluginListGUI.php
  Modules/Cloud/classes/class.ilCloudPluginService.php
  Modules/Cloud/classes/class.ilCloudPluginSettingsGUI.php
  Modules/Cloud/classes/class.ilCloudPluginUploadGUI.php
  Modules/Cloud/classes/class.ilCloudUtil.php
  Modules/Cloud/classes/class.ilObjCloud.php
  Modules/Cloud/classes/class.ilObjCloudAccess.php
  Modules/Cloud/classes/class.ilObjCloudGUI.php
  Modules/Cloud/classes/class.ilObjCloudListGUI.php
  Modules/Cloud/exceptions/class.ilCloudException.php
  Modules/Cloud/exceptions/class.ilCloudPluginConfigException.php
  Modules/Cloud/js/ilCloudFileList.js
  Modules/Cloud/js/jquery.address.js
  Modules/Cloud/maintenance.json
  Modules/Cloud/templates/css/delos.css
  Modules/Cloud/templates/css/delos.less
  Modules/Cloud/templates/default/tpl.cloud_file_tree.html
Labels: improvement, php
