Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-08, with the labels that each got.

#4812 Mail: Refactor 0030825: Replace Mail Mandaten
  Services/Mail/README.md
  Services/Mail/classes/Setup/class.ilMailDatabaseUpdateSteps.php
  Services/Mail/classes/class.ilAccountMail.php
  Services/Mail/classes/class.ilMail.php
  Services/Mail/classes/class.ilMailFormPlaceholdersPropertyGUI.php
  Services/Mail/classes/class.ilMailTemplateContext.php
  Services/Mail/classes/class.ilObjMailGUI.php
  Services/Mail/test/ilMailTemplateContextTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4878 Update Dependencies after Release v7.12
  composer.lock
Labels: technical board, dependencies

#4883 UI item shy button alignment 33324
  src/UI/templates/default/Item/item.less
  templates/default/delos.css
  templates/default/delos.css.map
Labels: bugfix, kitchen sink

#4891 Mail: Remove Leftovers Mandanten from Mail (trunk)
  Services/User/classes/class.ilObjUserFolderGUI.php
  Services/User/templates/default/tpl.usrf_new_account_mail.html
Labels: bugfix, improvement

#4893 Mail: Remove Leftovers Mandanten from Mail (release_8)
  Services/User/classes/class.ilObjUserFolderGUI.php
  Services/User/templates/default/tpl.usrf_new_account_mail.html
Labels: bugfix, php

#4890 BF 0033595: section-input-header should use @il-font-weight-bold
  src/UI/templates/default/Input/input.less
  templates/default/delos.css
Labels: bugfix, improvement

#4807 EmployeeTalk: possible fix for db update steps
  Modules/EmployeeTalk/classes/Setup/class.ilEmployeeTalkDBUpdateSteps.php
Labels: bugfix, improvement

#4898 Proposal/9/support db versions
  docs/configuration/install.md
Labels: roadmap

#4873 T&A: fix for 31161
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/TestQuestionPool/classes/class.assFileUploadGUI.php
Labels: bugfix, php

#4880 Set Pass Deletion Allowed when Copying
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, php

#4575 fixed #29983: Test run of user is already shown as finished but user …
  Modules/Test/classes/class.ilTestEvaluationData.php
  Modules/Test/classes/class.ilTestEvaluationUserData.php
  Modules/Test/classes/class.ilTestExport.php
  Modules/Test/classes/class.ilTestParticipantList.php
  Modules/Test/classes/tables/class.ilParticipantsTestResultsTableGUI.php
  Modules/Test/templates/default/tpl.il_as_tst_scorings_row.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4900 Fix/9/failing setup
  Modules/EmployeeTalk/classes/Setup/class.ilEmployeeTalkDBUpdateSteps.php
  Modules/EmployeeTalk/classes/Setup/class.ilEmployeeTalkSetupAgent.php
  Services/Database/classes/PDO/class.ilDBPdo.php
  Services/Tree/classes/Setup/class.ilTreeAdminNodeAddedObjective.php
  Services/Tree/classes/class.ilTree.php
Labels: bugfix

#4903 Forum: Fix notification event settings
  Modules/Forum/classes/Notification/class.ilForumNotificationEventsFormGUI.php
  Modules/Forum/classes/class.ilForumNotificationTableGUI.php
  Modules/Forum/classes/class.ilForumSettingsGUI.php
  Modules/Forum/classes/class.ilObjForumGUI.php
  Modules/Forum/js/ilFrmEvents.js
  templates/default/delos.css
Labels: bugfix, improvement, php

#4914 Fix Invalid Question Type
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4875 Test: Remove iterable approach to find participants, use a map instead
  Modules/Test/classes/class.ilTestParticipantList.php
Labels: bugfix, improvement, php

#4904 Changed design of openid login
  Services/OpenIdConnect/templates/default/tpl.login_element.html
Labels: improvement

#4013 Deprecation of Legacy-UIComponents-Service
  Services/UIComponent/AdvancedSelectionList/classes/class.ilAdvancedSelectionListGUI.php
  Services/UIComponent/Button/classes/class.ilButton.php
  Services/UIComponent/Button/classes/class.ilButtonBase.php
  Services/UIComponent/Button/classes/class.ilImageLinkButton.php
  Services/UIComponent/Button/classes/class.ilJsLinkButton.php
  Services/UIComponent/Button/classes/class.ilLinkButton.php
  Services/UIComponent/Button/classes/class.ilSubmitButton.php
  Services/UIComponent/CheckboxListOverlay/classes/class.ilCheckboxListOverlayGUI.php
  Services/UIComponent/Confirmation/class.ilConfirmationGUI.php
  Services/UIComponent/Confirmation/class.ilConfirmationTableGUI.php
  Services/UIComponent/Explorer/classes/class.ilExplorer.php
  Services/UIComponent/Explorer2/classes/class.ilExplorerBaseGUI.php
  Services/UIComponent/Explorer2/classes/class.ilExplorerSelectInputGUI.php
  Services/UIComponent/Explorer2/classes/class.ilTreeExplorerGUI.php
  Services/UIComponent/Glyph/classes/class.ilGlyphGUI.php
  Services/UIComponent/GroupedList/classes/class.ilGroupedListGUI.php
  Services/UIComponent/Lightbox/classes/class.ilLightboxGUI.php
  Services/UIComponent/Modal/classes/class.ilModalGUI.php
  Services/UIComponent/NestedList/classes/class.ilNestedList.php
  Services/UIComponent/Overlay/classes/class.ilOverlayGUI.php
  Services/UIComponent/Panel/classes/class.ilPanelGUI.php
  Services/UIComponent/ProgressBar/classes/class.ilProgressBar.php
  Services/UIComponent/README.md
  Services/UIComponent/ROADMAP.md
  Services/UIComponent/SplitButton/classes/class.ilButtonToSplitButtonMenuItemAdapter.php
  Services/UIComponent/SplitButton/classes/class.ilSplitButtonGUI.php
  Services/UIComponent/SplitButton/classes/class.ilSplitButtonItemDivider.php
  Services/UIComponent/SplitButton/classes/class.ilUiLinkToSplitButtonMenuItemAdapter.php
  Services/UIComponent/SyntaxHighlighter/classes/class.ilSyntaxHighlighter.php
  Services/UIComponent/Tabs/classes/class.ilTabsGUI.php
  Services/UIComponent/TextHighlighter/classes/class.ilTextHighlighterGUI.php
  Services/UIComponent/Toolbar/classes/class.ilToolbarGUI.php
  Services/UIComponent/Tooltip/classes/class.ilTooltipGUI.php
Labels: technical board

#4895 fix array types in object definition
  Services/Object/classes/class.ilObjectDefinition.php
Labels: bugfix

#4014 Deprecation of Services/Table
  Services/Table/ROADMAP.md
  Services/Table/classes/class.TableGUIRequest.php
  Services/Table/classes/class.ilTable2GUI.php
  Services/Table/classes/class.ilTableGUI.php
  Services/Table/classes/class.ilTableTemplatesStorage.php
  Services/Table/interfaces/interface.ilTableFilterItem.php
Labels: technical board

#4906 Remove Write Access to $_REQUEST
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#4816 Move Statistics Tab to Preview
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/tables/class.ilQuestionBrowserTableGUI.php
Labels: bugfix, improvement, php

#4917 Move Statistics Tab to Preview
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/tables/class.ilQuestionBrowserTableGUI.php
Labels: bugfix, php

#4913 Test: Bugfix 0033693: Finishing Time cannot be changed after the start of the test (release_7)
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4911 Test: Bugfix 0033693: Finishing Time cannot be changed after the start of the test (release_8)
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Services/Form/classes/class.ilDurationInputGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#4910 Test: Bugfix 0033693: Finishing Time cannot be changed after the start of the test (trunk)
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Services/Form/classes/class.ilDurationInputGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#4887 Fix update errors in DB-Steps
  Services/Database/classes/PDO/Manager/class.ilDBPdoManager.php
  Services/Database/classes/PDO/Reverse/class.ilDBPdoReverse.php
  Services/Database/classes/PDO/class.ilDBPdo.php
  Services/Database/classes/class.ilDBAnalyzer.php
  Services/Database/classes/class.ilDBUpdate.php
Labels: bugfix, php

#4915 Services/Exception: shorten testing error handler
  Services/Exceptions/classes/class.ilTestingHandler.php
Labels: improvement

#4922 TA OrderingQuestion: 33524, show form after error
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
Labels: bugfix, php

#4896 New Learning Progress Icons for Release 7
  Modules/Course/classes/class.ilCourseParticipantsTableGUI.php
  Modules/Course/templates/default/tpl.show_participants_row.html
  Modules/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  Modules/Exercise/classes/class.ilExAssignmentGUI.php
  Modules/Exercise/classes/class.ilExAssignmentMemberStatus.php
  Modules/Exercise/classes/class.ilExGradesTableGUI.php
  Modules/Exercise/classes/class.ilObjExerciseGUI.php
  Modules/Exercise/templates/default/tpl.assignment_head.html
  Modules/Exercise/templates/default/tpl.exc_grades_row.html
  Modules/Group/classes/class.ilGroupParticipantsTableGUI.php
  Modules/Group/templates/default/tpl.show_participants_row.html
  Modules/LearningModule/classes/class.ilLMExplorerGUI.php
  Modules/LearningModule/classes/class.ilLMTracker.php
  Modules/LearningSequence/classes/Player/class.ilLSTOCGUI.php
  Modules/Portfolio/classes/class.ilPortfolioPageGUI.php
  Modules/Portfolio/templates/default/tpl.pc_my_courses.html
  Modules/Scorm2004/classes/class.ilSCORM2004TrackingItemsTableGUI.php
  Modules/ScormAicc/classes/class.ilSCORMTrackingItemsTableGUI.php
  Modules/Wiki/classes/class.ilWikiContributorsTableGUI.php
  Modules/Wiki/templates/default/tpl.table_row_contributors.html
  Services/Container/templates/default/tpl.container_list_item.html
  Services/MyStaff/classes/class.ilMyStaffGUI.php
  Services/Tracking/classes/class.ilLPStatus.php
  Services/Tracking/classes/class.ilLPTableBaseGUI.php
  Services/Tracking/classes/class.ilLearningProgressBaseGUI.php
  Services/Tracking/classes/class.ilLearningProgressGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsLPTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilLPListOfObjectsGUI.php
  Services/Tracking/classes/repository_statistics/class.ilLPProgressTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrSummaryTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrUserObjectsPropsTableGUI.php
  Services/Tracking/classes/status/class.ilLPStatusIcons.php
  Services/Tracking/templates/default/tpl.lp_legend.html
  Services/Tracking/templates/default/tpl.lp_progress_list_row.html
  Services/Tracking/test/ilLPStatusIconsTest.php
  src/UI/templates/default/Symbol/icon.less
  templates/default/delos.css
  templates/default/images/learning_progress/completed.svg
  templates/default/images/learning_progress/failed.svg
  templates/default/images/learning_progress/in_progress.svg
  templates/default/images/learning_progress/not_attempted.svg
  templates/default/images/learning_progress/short/asset.svg
  templates/default/images/learning_progress/short/completed.svg
  templates/default/images/learning_progress/short/failed.svg
  templates/default/images/learning_progress/short/in_progress.svg
  templates/default/images/learning_progress/short/not_attempted.svg
  templates/default/images/learning_progress/short/running.svg
Labels: bugfix, improvement

#4920 Mantis: 33582
  Modules/TestQuestionPool/classes/import/qti12/class.assOrderingQuestionImport.php
  Modules/TestQuestionPool/classes/questions/class.ilAssOrderingElement.php
Labels: bugfix, php

#4793 Fix maximum levenshtein distance
  Modules/TestQuestionPool/classes/class.assClozeTest.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assTextQuestion.php
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  src/Refinery/String/Group.php
  src/Refinery/String/Levenshtein.php
  src/Refinery/String/Transformation/LevenshteinTransformation.php
  tests/Refinery/String/LevenshteinTest.php
Labels: bugfix, php

#4514 Refinery: Remove test using float array key (PHP 8.1 / ILIAS 9 only)
  tests/Refinery/KindlyTo/Transformation/DictionaryTransformationTest.php
Labels: improvement, php

#4811 Remove permanent link input field of footer
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/UI/Implementation/Component/MainControls/Renderer.php
  src/UI/templates/default/MainControls/tpl.footer.html
  src/UI/templates/js/MainControls/footer.js
  tests/UI/Component/MainControls/FooterTest.php
Labels: kitchen sink, improvement, php, javascript

#4894 WebLink Refactoring
  Modules/WebResource/classes/Exceptions/class.ilWebLinkDatabaseRepositoryException.php
  Modules/WebResource/classes/Exceptions/class.ilWebLinkParameterException.php
  Modules/WebResource/classes/Exceptions/class.ilWebLinkXmlParserException.php
  Modules/WebResource/classes/Item/class.ilWebLinkBaseItem.php
  Modules/WebResource/classes/Item/class.ilWebLinkBaseItemsContainer.php
  Modules/WebResource/classes/Item/class.ilWebLinkDraftItem.php
  Modules/WebResource/classes/Item/class.ilWebLinkDraftItemsContainer.php
  Modules/WebResource/classes/Item/class.ilWebLinkItem.php
  Modules/WebResource/classes/Item/class.ilWebLinkItemExternal.php
  Modules/WebResource/classes/Item/class.ilWebLinkItemInternal.php
  Modules/WebResource/classes/Item/class.ilWebLinkItemsContainer.php
  Modules/WebResource/classes/List/class.ilWebLinkBaseList.php
  Modules/WebResource/classes/List/class.ilWebLinkDraftList.php
  Modules/WebResource/classes/List/class.ilWebLinkList.php
  Modules/WebResource/classes/Parameter/class.ilWebLinkBaseParameter.php
  Modules/WebResource/classes/Parameter/class.ilWebLinkDraftParameter.php
  Modules/WebResource/classes/Parameter/class.ilWebLinkParameter.php
  Modules/WebResource/classes/Repository/class.ilWebLinkDatabaseRepository.php
  Modules/WebResource/classes/Repository/interface.ilWebLinkRepository.php
  Modules/WebResource/classes/class.ilLinkResourceItems.php
  Modules/WebResource/classes/class.ilLinkResourceList.php
  Modules/WebResource/classes/class.ilObjLinkResource.php
  Modules/WebResource/classes/class.ilObjLinkResourceAccess.php
  Modules/WebResource/classes/class.ilObjLinkResourceGUI.php
  Modules/WebResource/classes/class.ilObjLinkResourceListGUI.php
  Modules/WebResource/classes/class.ilObjLinkResourceSubItemListGUI.php
  Modules/WebResource/classes/class.ilParameterAppender.php
  Modules/WebResource/classes/class.ilWebLinkXmlParser.php
  Modules/WebResource/classes/class.ilWebResourceEditableLinkTableGUI.php
  Modules/WebResource/classes/class.ilWebResourceImporter.php
  Modules/WebResource/classes/class.ilWebResourceLinkTableGUI.php
  Modules/WebResource/test/ilModulesWebResourceSuite.php
  Modules/WebResource/test/ilWebResourceDatabaseRepositoryTest.php
  Modules/WebResource/test/ilWebResourceItemExternalTest.php
  Modules/WebResource/test/ilWebResourceItemInternalTest.php
  Modules/WebResource/test/ilWebResourceItemTest.php
  Modules/WebResource/test/ilWebResourceItemsContainerTest.php
  Modules/WebResource/test/ilWebResourceParameterAppenderTest.php
  Modules/WebResource/test/ilWebResourceParameterTest.php
  Services/Form/classes/class.ilLinkInputGUI.php
  xml/ilias_weblinks_8.dtd
Labels: improvement, php

#3626 User/Registration: 30799, delete registration hash on user->update()
  Services/User/classes/class.ilObjUser.php
Labels: bugfix

#4933 possible fix for mantis #33828
  Services/Tracking/classes/class.ilLearningProgressBaseGUI.php
Labels: bugfix

#3641 ILIAS 9: Metadata for ContentPage
  Modules/ContentPage/LuceneObjectDefinition.xml
  Modules/ContentPage/classes/class.ilContentPageDataSet.php
  Modules/ContentPage/classes/class.ilContentPageExporter.php
  Modules/ContentPage/classes/class.ilObjContentPage.php
  Modules/ContentPage/classes/class.ilObjContentPageGUI.php
  Modules/ContentPage/interfaces/interface.ilContentPageObjectConstants.php
Labels: improvement, php

#4102 TA 28356, Export/Import Solution Hints
  Modules/TestQuestionPool/classes/class.assErrorText.php
  Modules/TestQuestionPool/classes/class.assFileUpload.php
  Modules/TestQuestionPool/classes/class.assFlashQuestion.php
  Modules/TestQuestionPool/classes/class.assOrderingHorizontal.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Modules/TestQuestionPool/classes/export/qti12/class.assClozeTestExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assErrorTextExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assFileUploadExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assFlashQuestionExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assFormulaQuestionExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assImagemapQuestionExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assJavaAppletExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assKprimChoiceExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assLongMenuExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assMatchingQuestionExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assMultipleChoiceExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assNumericExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assOrderingHorizontalExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assOrderingQuestionExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assQuestionExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assSingleChoiceExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assTextQuestionExport.php
  Modules/TestQuestionPool/classes/export/qti12/class.assTextSubsetExport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assQuestionImport.php
  Services/QTI/classes/class.ilQTIParser.php
Labels: bugfix

#4927 Update Cloze Question to Allow Curly Braces
  Modules/TestQuestionPool/classes/class.assClozeGap.php
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
  Modules/TestQuestionPool/templates/default/cloze_gap_builder.js
Labels: bugfix, php

#4909 Update Cloze Question to Allow Curly Braces
  Modules/TestQuestionPool/classes/class.assClozeGap.php
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
  Modules/TestQuestionPool/templates/default/cloze_gap_builder.js
Labels: bugfix, php

#4907 Fix setGapSize always requiring int
  Modules/TestQuestionPool/classes/class.assClozeGap.php
  Modules/TestQuestionPool/classes/class.assClozeTest.php
  Modules/TestQuestionPool/classes/import/qti12/class.assClozeTestImport.php
Labels: bugfix, php

#4937 TestQuestionPool: Remove unused JS library
  Modules/TestQuestionPool/js/toolman/cookies.js
  Modules/TestQuestionPool/js/toolman/coordinates.js
  Modules/TestQuestionPool/js/toolman/core.js
  Modules/TestQuestionPool/js/toolman/css.js
  Modules/TestQuestionPool/js/toolman/drag.js
  Modules/TestQuestionPool/js/toolman/dragsort.js
  Modules/TestQuestionPool/js/toolman/events.js
Labels: improvement, javascript

#4938 TestQuestionPool: Allow more than 9 long menu gaps
  Modules/Scorm2004/scripts/questions/question_handling.js
Labels: bugfix, javascript

#4940 Fix for 33852
  Services/Tracking/classes/repository_statistics/class.ilTrUserObjectsPropsTableGUI.php
Labels: bugfix

#4935 TA Roadmap: repo-strategy
  Modules/Test/ROADMAP.md
Labels: roadmap

#4951 RoleTemplates: Bugfix 0033906 (ILIAS7): Updating internal templates no longer updates title
  Services/AccessControl/classes/class.ilObjRoleTemplateGUI.php
Labels: bugfix, php

#4954 RoleTemplates: Bugfix 0033906 (ILIAS8): Updating internal templates no longer updates title
  Services/AccessControl/classes/class.ilObjRoleTemplateGUI.php
Labels: bugfix, php

#4953 RoleTemplates: Bugfix 0033906 (trunk): Updating internal templates no longer updates title
  Services/AccessControl/classes/class.ilObjRoleTemplateGUI.php
Labels: bugfix, php

#4930 Composer/CaptainHook: Install the `Cptn` when using `Composer`
  composer.json
  composer.lock
Labels: improvement, dependencies

#3515 fix for 31090: slow SessionOverviewTableGUI
  Modules/Session/classes/class.ilEventParticipants.php
  Modules/Session/classes/class.ilSessionOverviewTableGUI.php
Labels: bugfix, improvement

#4945 T&A fix 33685
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
Labels: bugfix, php

#4587 T&A, refining "suggested solutions" / GUI: "Content for Recapitulation"
  Modules/TestQuestionPool/classes/class.assFlashQuestion.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilQuestionPoolDIC.php
  Modules/TestQuestionPool/classes/import/qti12/class.assClozeTestImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assErrorTextImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assFileUploadImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assFlashQuestionImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assFormulaQuestionImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assImagemapQuestionImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assKprimChoiceImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assLongMenuImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assMatchingQuestionImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assMultipleChoiceImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assNumericImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assOrderingHorizontalImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assOrderingQuestionImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assQuestionImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assSingleChoiceImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assTextQuestionImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assTextSubsetImport.php
  Modules/TestQuestionPool/classes/questions/SuggestedSolutions/assQuestionSuggestedSolution.php
  Modules/TestQuestionPool/classes/questions/SuggestedSolutions/assQuestionSuggestedSolutionsDatabaseRepository.php
  Modules/TestQuestionPool/classes/questions/SuggestedSolutions/assSuggestedSolutionFile.php
  Modules/TestQuestionPool/classes/questions/SuggestedSolutions/assSuggestedSolutionLink.php
  Modules/TestQuestionPool/classes/questions/SuggestedSolutions/assSuggestedSolutionText.php
  Modules/TestQuestionPool/test/assQuestionSuggestedSolutionTest.php
  Modules/TestQuestionPool/test/ilModulesTestQuestionPoolSuite.php
Labels: improvement

#3541 User: Only try to show global role selections if there are elements t…
  Services/User/classes/class.ilObjUserFolderGUI.php
Labels: bugfix, php

#3537 User: Fix preselection of local roles when importing user XML
  Services/User/classes/class.ilObjUserFolderGUI.php
Labels: bugfix, php

#4533 Docs: update coding style
  docs/development/coding-style.md
Labels: improvement

#4968 Setup/PrivacySecurity: Fix handling of missing config
  Services/PrivacySecurity/classes/Setup/class.ilPrivacySecuritySetupAgent.php
Labels: bugfix, php

#4868 Fix for uninitialized "root" variable
  docs/configuration/secure.md
Labels: improvement

#4955 System Styles Roadmap
  templates/Roadmap.md
Labels: roadmap

#4971 Updated Ramsey/UUID dependency
  composer.json
  composer.lock
Labels: improvement

#4972 fix #34075: Failed test: Video-Player per Tabbing verlassen
  src/UI/templates/default/Player/player.less
  templates/default/delos.css
Labels: bugfix, kitchen sink

#4958 Icon large in shared resources
  Services/PersonalWorkspace/classes/class.ilWorkspaceShareTableGUI.php
  Services/PersonalWorkspace/templates/default/tpl.shared_row.html
Labels: bugfix, improvement

#4912 Fix Profile Backlink in COPage
  Services/COPage/classes/class.ilPageObjectGUI.php
Labels: bugfix, php
