Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-05, with the labels that each got.

#4450 LanguageService: PHP8 improvements
  Services/Language/classes/Setup/class.ilPluginLanguageUpdatedObjective.php
  Services/Language/classes/Setup/class.ilSetupLanguage.php
  Services/Language/classes/class.ilLanguage.php
  Services/Language/classes/class.ilLanguageExtTableGUI.php
  Services/Language/classes/class.ilObjLanguageAccess.php
  Services/Language/classes/class.ilObjLanguageExtGUI.php
  Services/Language/classes/class.ilObjLanguageFolderGUI.php
Labels: improvement, php

#4461 fix bug 32536: Language: OutOfBoundsException
  Services/Language/classes/class.ilObjLanguageAccess.php
Labels: bugfix

#4463 Typo in #intprecision_info improved
  lang/ilias_de.lang
Labels: improvement

#4464 PHPUnit: Add section about test execution order and reproducibility
  tests/README.md
Labels: improvement

#4467 fixed typo and updated position of the admin entry
  Services/Notifications/classes/Provider/NotificationMainBarProvider.php
  Services/Notifications/test/notifications/ilNotificationOSDTest.php
  lang/ilias_en.lang
  tests/UI/Component/Item/ItemNotificationClientHtmlTest.php
Labels: bugfix

#4435 Bugfix/repository pattern
  docs/development/repository-pattern.md
Labels: improvement, php

#4462 Composer: Add phpstan as development dependency
  CI/PHPStan/constants.php
  CI/PHPStan/phpstan.neon
  CI/PHPStan/run_check.sh
  composer.json
  composer.lock
  docs/development/static_code_analysis.md
Labels: improvement

#4453 Object: Rename button label in 'copy' creation form (Mantis 32248)
  Services/Object/classes/class.ilObjectCopyGUI.php
Labels: bugfix

#4332 Review `\Services\Logging`
  Services/Logging/classes/Setup/class.ilLoggingConfigStoredObjective.php
  Services/Logging/classes/class.ilLog.php
  Services/Logging/classes/class.ilLogComponentLevels.php
  Services/Logging/classes/class.ilLogComponentTableGUI.php
  Services/Logging/classes/class.ilLogger.php
  Services/Logging/classes/class.ilLoggingDBSettings.php
  Services/Logging/classes/class.ilLoggingSetupSettings.php
  Services/Logging/classes/class.ilObjLoggingSettings.php
  Services/Logging/classes/class.ilObjLoggingSettingsGUI.php
  Services/Logging/classes/error/class.ilLoggerCronCleanErrorFiles.php
  Services/Logging/classes/error/class.ilLoggingErrorSettings.php
  Services/Logging/classes/public/class.ilLoggerFactory.php
Labels: improvement, php

#4468 moved notification node to communication
  Services/Administration/GlobalScreen/classes/AdministrationMainBarProvider.php
  Services/Notifications/classes/Provider/NotificationMainBarProvider.php
Labels: bugfix, php

#4312 proposed fix for 31263: falsche Rückmeldung bei mehreren Durchläufen
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix

#4457 TestQuestionPool: Add SQL indexes for cloze question
  setup/sql/7_hotfixes.php
Labels: bugfix, php

#4456 TestQuestionPool: Add SQL indexes for cloze question
  Modules/TestQuestionPool/Setup/class.ilTestQuestionPool80DBUpdateSteps.php
Labels: bugfix, php

#4484 T&A fix for 32522
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionVariable.php
Labels: bugfix, php

#4478 PHP 8: Enhance PHP types in global test administration
  Modules/Test/classes/class.ilObjAssessmentFolder.php
  Modules/Test/classes/class.ilObjAssessmentFolderAccess.php
  Modules/Test/classes/class.ilObjAssessmentFolderGUI.php
  Modules/Test/classes/tables/class.ilAssessmentFolderLogAdministrationTableGUI.php
  Modules/Test/classes/tables/class.ilAssessmentFolderLogTableGUI.php
  Modules/Test/test/tables/ilAssessmentFolderLogAdministrationTableGUITest.php
  Modules/Test/test/tables/ilAssessmentFolderLogTableGUITest.php
  Modules/TestQuestionPool/classes/class.assTextQuestion.php
Labels: improvement, php

#4389 UI Components, Global Screen: Fix favicon.ico not shown, see #29414
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/DecoratedPagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/PagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/StandardPagePartProvider.php
  src/UI/Component/Layout/Page/Factory.php
  src/UI/Component/Layout/Page/Standard.php
  src/UI/Implementation/Component/Layout/Page/Factory.php
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/Implementation/Component/Layout/Page/Standard.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  templates/default/images/favicon.ico
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix, improvement

#4492 Fix checking for url not empty
  Services/WebServices/Curl/classes/class.ilCurlConnection.php
Labels: bugfix, php

#4225 PHP 8: Code Review `Registration`
  Services/Registration/classes/class.ilAccountRegistrationGUI.php
  Services/Registration/classes/class.ilAccountRegistrationMail.php
  Services/Registration/classes/class.ilRegistrationCode.php
  Services/Registration/classes/class.ilRegistrationCodesTableGUI.php
  Services/Registration/classes/class.ilRegistrationMailNotification.php
  Services/Registration/classes/class.ilRegistrationRoleAccessLimitations.php
  Services/Registration/classes/class.ilRegistrationRoleAssignments.php
  Services/Registration/classes/class.ilRegistrationSettings.php
  Services/Registration/classes/class.ilRegistrationSettingsGUI.php
  Services/Registration/test/ilRegistrationSettingsTest.php
  Services/Registration/test/ilServicesRegistrationSuite.php
Labels: improvement, php

#4173 PHP 8: Code Review `OpenIDConnect`
  Services/Init/classes/class.ilStartUpGUI.php
  Services/OpenIdConnect/classes/class.ilAuthFrontendCredentialsOpenIdConnect.php
  Services/OpenIdConnect/classes/class.ilAuthProviderOpenIdConnect.php
  Services/OpenIdConnect/classes/class.ilOpenIdConnectAppEventListener.php
  Services/OpenIdConnect/classes/class.ilOpenIdConnectSettings.php
  Services/OpenIdConnect/classes/class.ilOpenIdConnectSettingsGUI.php
  Services/OpenIdConnect/classes/class.ilOpenIdConnectUserSync.php
  composer.json
  openidconnect.php
Labels: improvement, php

#4172 PHP 8: Code Review `SOAPAuth`
  Services/SOAPAuth/README.md
  Services/SOAPAuth/classes/class.ilAuthProviderSoap.php
  Services/SOAPAuth/classes/class.ilSOAPAuth.php
  Services/SOAPAuth/examples/class.ilSoapDummyAuthServer.php
  Services/SOAPAuth/examples/dummy_client.php
  Services/SOAPAuth/examples/dummy_server.php
  Services/SOAPAuth/maintenance.json
Labels: improvement, php

#4500 restore sql compatibility
  Services/Dashboard/classes/Setup/ilDashboardUpdateSteps.php
Labels: bugfix, php

#4499 restore sql compatibility
  setup/sql/7_hotfixes.php
Labels: bugfix, php

#4496 Remove Personal Desktop Sidebar sorting from dashboard
  Modules/Course/classes/class.ilCourseContentGUI.php
  Services/Block/classes/class.ilBlockSetting.php
  Services/Block/classes/class.ilColumnGUI.php
  Services/Container/classes/class.ilContainerGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  Services/Dashboard/classes/class.ilPersonalDesktopSettingsRepository.php
  setup/sql/6_hotfixes.php
Labels: bugfix, php

#4487 bottom safe area inset for mainbar on mobile 32458
  src/UI/templates/default/Layout/standardpage.less
  templates/default/delos.css
  templates/default/less/variables.less
Labels: bugfix

#4504 [7] - `Uhr` fehlt für die Zeitangabe in Tests mit Zeitbegrenzung
  lang/ilias_de.lang
Labels: improvement

#4495 Bugfix0032606: .il_InfoScreenProperty should use @il-text-light-color
  templates/default/delos.css
  templates/default/less/Services/InfoScreen/delos.less
Labels: bugfix

#4501 Remove deprecated header from PD and replace missing header for memberships
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
  Services/Membership/classes/class.ilMembershipOverviewGUI.php
Labels: bugfix, php

#4503 Remove deprecated header from PD and replace missing header for memberships in ILIAS8
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
  Services/Membership/classes/class.ilMembershipOverviewGUI.php
Labels: bugfix, php

#4509 Review `Services/Migration`
  Services/Migration/DBUpdate_3136/classes/class.ilDBUpdate3136.php
  Services/Migration/DBUpdate_3560/classes/class.ilDBUpdateNewObjectType.php
  Services/Migration/test/ilServicesMigrationSuite.php
Labels: improvement, php

#4155 PHP 8: Code Review `Services/DidacticTemplate`
  Services/DidacticTemplate/classes/Action/class.ilDidacticTemplateAction.php
  Services/DidacticTemplate/classes/Action/class.ilDidacticTemplateActionFactory.php
  Services/DidacticTemplate/classes/Action/class.ilDidacticTemplateBlockRoleAction.php
  Services/DidacticTemplate/classes/Action/class.ilDidacticTemplateLocalPolicyAction.php
  Services/DidacticTemplate/classes/Action/class.ilDidacticTemplateLocalRoleAction.php
  Services/DidacticTemplate/classes/Icon/class.ilDidacticTemplateIconFactory.php
  Services/DidacticTemplate/classes/Icon/class.ilDidacticTemplateIconHandler.php
  Services/DidacticTemplate/classes/Pattern/class.ilDidacticTemplateExcludeFilterPattern.php
  Services/DidacticTemplate/classes/Pattern/class.ilDidacticTemplateFilterPattern.php
  Services/DidacticTemplate/classes/Pattern/class.ilDidacticTemplateFilterPatternFactory.php
  Services/DidacticTemplate/classes/Pattern/class.ilDidacticTemplateIncludeFilterPattern.php
  Services/DidacticTemplate/classes/Setting/class.ilDidacticTemplateObjSettings.php
  Services/DidacticTemplate/classes/Setting/class.ilDidacticTemplateSetting.php
  Services/DidacticTemplate/classes/Setting/class.ilDidacticTemplateSettings.php
  Services/DidacticTemplate/classes/Setting/class.ilDidacticTemplateSettingsGUI.php
  Services/DidacticTemplate/classes/Setting/class.ilDidacticTemplateSettingsTableFilter.php
  Services/DidacticTemplate/classes/Setting/class.ilDidacticTemplateSettingsTableGUI.php
  Services/DidacticTemplate/classes/class.ilDidacticTemplateCopier.php
  Services/DidacticTemplate/classes/class.ilDidacticTemplateGUI.php
  Services/DidacticTemplate/classes/class.ilDidacticTemplateImport.php
  Services/DidacticTemplate/classes/class.ilDidacticTemplateUtils.php
  Services/DidacticTemplate/classes/class.ilDidacticTemplateXmlWriter.php
  Services/DidacticTemplate/classes/class.ilObjObjectTemplateAdministration.php
  Services/DidacticTemplate/classes/class.ilObjObjectTemplateAdministrationGUI.php
  Services/DidacticTemplate/test/ilDidacticTemplatePatternTest.php
  Services/DidacticTemplate/test/ilServicesDidacticTemplateSuite.php
Labels: improvement, php

#4518 Bibliographic: Fix default value for `$limit` parameter (PHP 8.1 / ILIAS 9)
  Modules/Bibliographic/classes/FileReader/BibTex/class.ilBiblTexFileReader.php
Labels: improvement, php

#4523 Composer: Fix outdated lock file
  composer.lock
Labels: improvement, dependencies, php

#4522 TestQuestionPool: Fix `strlen` usage for non strings (PHP 8.1 / ILIAS 9)
  Modules/TestQuestionPool/classes/class.assKprimChoice.php
Labels: improvement, php

#4519 Test: Replace `strftime` usage with `date` (PHP 8.1 / ILIAS 9)
  Modules/Test/classes/class.ilTestSession.php
Labels: improvement, php

#4505 TA goto, fix redirect
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4512 TA Bugfix for 32629
  Modules/Test/classes/tables/class.ilListOfQuestionsTableGUI.php
Labels: bugfix, php

#4491 #27113: Scoring by Question allows manual scoring of unanswered quest…
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
  Modules/Test/classes/tables/class.ilTestManScoringParticipantsBySelectedQuestionAndPassTableGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4532 ilCtrl: Fixed appendage of empty URL parameters and empty command & -classes
  Services/UICore/classes/class.ilCtrl.php
  Services/UICore/classes/class.ilCtrlContext.php
  Services/UICore/interfaces/interface.ilCtrlContextInterface.php
  Services/UICore/interfaces/interface.ilCtrlInterface.php
Labels: bugfix, php

#4521 A11Y Documents: Use correct return type declaration for `jsonSerialize` (PHP 8.1 / ILIAS 9)
  Services/Accessibility/classes/Criteria/class.ilAccessibilityCriterionConfig.php
Labels: improvement, php

#4534 UI: remove completed ROADMAP entry about file inputs
  src/UI/ROADMAP.md
Labels: improvement

#3751 JS, MainmenuSearch: #31567, add JS separately
  Services/Search/classes/class.ilMainMenuSearchGUI.php
  Services/Search/js/SearchMainMenu.js
  Services/Search/templates/default/tpl.main_menu_search.html
Labels: bugfix

#4529 Database: link update/migration-readme in docs
  Services/Database/README.md
  docs/development/database-updates.md
Labels: improvement

#4537 LTI: fix syntax
  Services/LTI/classes/class.ilLTIRouterGUI.php
Labels: bugfix, php

#4528 0020916: missing function split() in /webservice/soap/lib/nusoap.php
  webservice/soap/lib/nusoap.php
Labels: bugfix, php

#4527 ilServer: Fix missing form action
  Modules/SystemFolder/classes/class.ilObjSystemFolderGUI.php
Labels: bugfix, php

#4540 Fix one case where an access to an undefined variable can occure
  Services/Notifications/classes/ilNotificationDatabaseHandler.php
Labels: bugfix, php

#4344 ILIAS8 Review Services/AuthApache
  Services/AuthApache/classes/class.ilAuthProviderApache.php
Labels: improvement, php

#4189 Add PluginRender to unify UI Handling
  src/UI/Implementation/Render/DecoratedRenderer.php
  tests/UI/Base.php
  tests/UI/Renderer/DecoratedRendererTest.php
Labels: improvement

#4552 Refinery/ReadingTimeTrafo: Handle unsupported entities when parsing X(HTML) documents
  src/Refinery/String/EstimatedReadingTime.php
  tests/Refinery/String/EstimatedReadingTimeTest.php
Labels: bugfix, php

#4561 Add Heading for Actions Column in Pax-Table
  Modules/Course/classes/class.ilCourseParticipantsTableGUI.php
  Modules/Group/classes/class.ilGroupParticipantsTableGUI.php
  templates/default/delos.css
  templates/default/less/Services/Membership/delos.less
Labels: bugfix, php

#4563 Fix 28308: Bibliographic link resolver
  Modules/Bibliographic/classes/Admin/Library/class.ilBiblLibraryPresentationGUI.php
Labels: bugfix, php

#4551 Pass over rendered HTML to use in an uihook plugin for replacements (RTEGlobalTemplate)
  Services/RTE/classes/class.ilRTEGlobalTemplate.php
Labels: improvement

#4557 Revert condition switch in language translation of notifications
  Services/Notifications/classes/ilNotificationDatabaseHandler.php
Labels: bugfix, php

#4562 Test/TestQuestionPool: Remove warnings during review
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestDynamicQuestionSetFilterSelection.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestScoring.php
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
  Modules/Test/classes/class.ilTestToplistGUI.php
  Modules/Test/classes/tables/class.ilTestManScoringParticipantsBySelectedQuestionAndPassTableGUI.php
  Modules/Test/test/confirmations/ilTestPassDeletionConfirmationGUITest.php
  Modules/Test/test/ilTestParticipantsTimeExtensionGUITest.php
  Modules/Test/test/ilTestResultHeaderLabelBuilderTest.php
  Modules/Test/test/ilTestTabsManagerTest.php
  Modules/TestQuestionPool/Setup/class.ilTestQuestionPoolSetupAgent.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestion.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilQuestionPoolSkillAdministrationGUI.php
  Modules/TestQuestionPool/classes/class.ilQuestionpoolExport.php
Labels: improvement, php

#4565 prevalidate array acccess calls in notifications
  Services/Notifications/classes/Model/ilNotificationConfig.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
  Services/Notifications/classes/ilNotificationSettingsTable.php
  Services/Notifications/classes/ilNotificationSystem.php
Labels: bugfix, php

#4526 UI Components, fix alt text of bulky buttons and images, see: #30308
  Services/Init/classes/Dependencies/InitUIFramework.php
  Services/User/classes/class.ilUserAvatarResolver.php
  src/UI/Component/Button/Factory.php
  src/UI/Component/Link/Factory.php
  src/UI/Component/Symbol/Avatar/Avatar.php
  src/UI/Component/Symbol/Factory.php
  src/UI/Component/Symbol/Icon/Factory.php
  src/UI/Component/Symbol/Icon/Icon.php
  src/UI/Component/Symbol/Symbol.php
  src/UI/Factory.php
  src/UI/Implementation/Component/Link/Renderer.php
  src/UI/Implementation/Component/Symbol/Avatar/Avatar.php
  src/UI/Implementation/Component/Symbol/Avatar/Renderer.php
  src/UI/Implementation/Component/Symbol/Glyph/ButtonContextRenderer.php
  src/UI/Implementation/Component/Symbol/Glyph/Glyph.php
  src/UI/Implementation/Component/Symbol/Glyph/Renderer.php
  src/UI/Implementation/Component/Symbol/Icon/ButtonContextRenderer.php
  src/UI/Implementation/Component/Symbol/Icon/IconRendererFactory.php
  src/UI/Implementation/Component/Symbol/Icon/Renderer.php
  src/UI/Implementation/Render/FSLoader.php
  src/UI/templates/default/Symbol/tpl.glyph.context_btn.html
  src/UI/templates/default/Symbol/tpl.icon.html
  tests/UI/Base.php
  tests/UI/Client/Item/Notification/NotificationItemTest.html
  tests/UI/Component/Button/BulkyButtonTest.php
  tests/UI/Component/Input/Container/Filter/StandardFilterTest.php
  tests/UI/Component/Input/Field/FileInputTest.php
  tests/UI/Component/Item/ItemNotificationTest.php
  tests/UI/Component/Link/BulkyLinkTest.php
  tests/UI/Component/MainControls/MainBarTest.php
  tests/UI/Component/MainControls/MetaBarTest.php
  tests/UI/Component/MainControls/Slate/DrilldownSlateTest.php
  tests/UI/Component/MainControls/Slate/NotificationSlateTest.php
  tests/UI/Component/Menu/Drilldown/drilldown_test.html
  tests/UI/Component/Symbol/Avatar/AvatarTest.php
  tests/UI/Renderer/ComponentRendererFSLoaderTest.php
Labels: bugfix

#4567 UI: allow null as false for checkbox input (#29645)
  src/UI/Implementation/Component/Input/Field/Checkbox.php
  tests/UI/Component/Input/Field/CheckboxInputTest.php
Labels: bugfix, improvement

#4556 Fix #32226: added hotfix for vanishing favourites main-menu item.
  setup/sql/7_hotfixes.php
Labels: bugfix, php

#4485 Fix link
  src/GlobalScreen/Scope/Tool/README.md
Labels: improvement

#4428 Fix 0031516: Profile Picture Broken
  Services/User/classes/class.ilUserAvatarResolver.php
Labels: bugfix

#3890 Implemented copyright checker for new and modified files
  .github/workflows/checks.yml
  CI/Copyright-Checker/copyright-checker.sh
  CI/Import/Functions.sh
Labels: improvement

#4349 Fix MimeType recognition for Office 2003 and newer
  src/ResourceStorage/Resource/InfoResolver/StreamInfoResolver.php
Labels: bugfix, php

#4531 UI/LSO: 30048, add LSOS to the standard icons
  src/UI/Component/Symbol/Icon/Standard.php
  src/UI/Implementation/Component/Symbol/Icon/Standard.php
  templates/default/images/outlined/icon_lsos.svg
Labels: bugfix

#4576 [FIX] #32720: missing return statement in ilGlobalPageTemplate::touchBlock()
  Services/UICore/classes/class.ilGlobalPageTemplate.php
Labels: bugfix, php

#4574 Fix using wrong alternative for ilUtil:sendFailure()
  Modules/TestQuestionPool/classes/class.assFormulaQuestionVariable.php
Labels: bugfix

#4578 Tweak 0032532: Change of Default View Settings
  Modules/Forum/classes/class.ilForumSettingsGUI.php
  lang/ilias_de.lang
Labels: bugfix, improvement, php

#4586 Tweak 0032705: Labels und Frage im Modal
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement

#4579 Tweak 0032705: Labels und Frage im Modal
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement

#4465 unified dashboard visibilities with common repository visibilities
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsProvider.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockSelectedItemsProvider.php
  Services/Repository/RecommendedContent/classes/class.ilDashboardRecommendedContentGUI.php
Labels: bugfix, php

#4515 Math: Fix `null` used in `preg_match` (PHP 8.1 / ILIAS 9)
  Services/Math/classes/class.EvalMath.php
Labels: improvement, php

#4597 [FIX] 0032472: Plugin-Icons sollten über Skin anapssbar sein
  Services/Component/classes/class.ilPlugin.php
Labels: bugfix, php

#4608 fixed bug 32774: Item with Lead Avatar and Progress Meter Broken
  src/UI/Implementation/Component/Item/Renderer.php
Labels: bugfix, php

#4609 Corrected typo in ilias_en.lang
  lang/ilias_en.lang
Labels: improvement

#4590 fix bug #32739: Error when trying to open translation tool from footer
  Services/Language/classes/class.ilObjLanguageAccess.php
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#4595 Setup: prevent config file in webroot (#30236)
  src/Setup/CLI/HasConfigReader.php
Labels: bugfix, php
