Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-07, with the labels that each got.

#4688 introduces singularity for target notification types
  Services/Awareness/classes/class.WidgetManager.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepository.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepositoryInterface.php
  Services/Notifications/classes/ilNotificationOSDHandler.php
  Services/Notifications/test/bootstrap.php
  Services/Notifications/test/ilNotificationsBaseTest.php
  Services/Notifications/test/ilServicesNotificationsSuite.php
  Services/Notifications/test/notifications/ilNotificationOSDTest.php
Labels: bugfix, php

#4713 ilCtrl: Clone structure to prevent temporary parameters are copied fo…
  Services/UICore/classes/class.ilCtrl.php
Labels: bugfix, php

#4712 Mantis 33242, 33090, 33230, 33233, 33236
  Modules/Course/classes/class.ilObjCourseGUI.php
  Modules/Group/classes/class.ilGroupMembershipGUI.php
  Modules/Group/classes/class.ilObjGroupGUI.php
  Services/AccessControl/classes/class.ilObjectRolePermissionTableGUI.php
  Services/AccessControl/classes/class.ilObjectRoleTemplateOptionsTableGUI.php
  Services/AccessControl/classes/class.ilObjectRoleTemplatePermissionTableGUI.php
  Services/Membership/classes/class.ilAttendanceList.php
  Services/Membership/classes/class.ilMembershipGUI.php
  Services/Membership/classes/class.ilSubscriberTableGUI.php
Labels: bugfix, php

#4640 Object: move fallback to _SESSION to another place (#32831)
  Services/Object/classes/class.ilObjectCopyGUI.php
Labels: bugfix, php

#4705 T&A: fix 31400 remove Char-Selector from manual feedback modal
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
Labels: bugfix, php

#4720 fixed 33153, 33206 and 33252
  Modules/Session/classes/class.ilEventParticipants.php
  Modules/Session/classes/class.ilObjSession.php
  Modules/Session/classes/class.ilSessionMaterialsTableGUI.php
  Modules/Session/classes/class.ilSessionMembershipGUI.php
  Modules/Session/classes/class.ilSessionParticipantsTableGUI.php
  Services/AccessControl/classes/class.ilObjectPermissionStatusGUI.php
  Services/Authentication/classes/class.ilSessionStatisticsGUI.php
  Services/Tracking/classes/class.ilLPTableBaseGUI.php
  Services/Tracking/classes/class.ilLearningProgressGUI.php
  Services/Tracking/classes/class.ilTrQuery.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsDailyTableGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsLPTableGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsTableGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsTypesTableGUI.php
Labels: bugfix, php

#4611 Fix inconsistency in Value für Division of Int in Formula Question
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionVariable.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#4703 T&A fix 22130
  Modules/Test/classes/class.ilTestExport.php
  Modules/Test/classes/tables/class.ilEvaluationAllTableGUI.php
Labels: bugfix, php

#4701 Fixes Shown Preview Page when Locking is Enabled
  Modules/TestQuestionPool/classes/class.ilAssQuestionPageGUI.php
Labels: bugfix, php

#4698 WAC performance fix for assessment
  Modules/Test/classes/CanAccessFileUploadAnswer.php
  Modules/Test/test/CanAccessFileUploadAnswerTest.php
Labels: bugfix, php

#4728 Forum: Bugfix Moving threads not working
  Modules/Forum/classes/class.ilForumAppEventListener.php
  Modules/Forum/classes/class.ilForumMoveTopicsExplorer.php
  Modules/Forum/classes/class.ilObjForumGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4729 fixes 33258, 33322 and 33338
  Services/AccessControl/classes/class.ilObjRole.php
  Services/AccessControl/classes/class.ilObjRoleFolderGUI.php
  Services/AccessControl/classes/class.ilRoleAdoptPermissionTableGUI.php
  Services/AccessControl/classes/class.ilRoleTableGUI.php
  Services/Membership/classes/class.ilMembershipGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsTypesTableGUI.php
Labels: bugfix, php

#4730 [FIX] #33328: ilCtrl::getParentReturn()
  Services/UICore/classes/class.ilCtrl.php
Labels: bugfix, php

#4732 [FIX] #33356: ilCtrl allows '0' as a query-parameter.
  Services/UICore/classes/class.ilCtrl.php
Labels: bugfix, php

#4530 T&A - 13917 addendum: move setting's position in form
  Modules/Test/classes/class.ilObjTestSettingsScoringResultsGUI.php
Labels: bugfix, improvement

#4584 T&A, 32059: show specific hints in essay-question
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionFeedbackEditingGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/class.ilEssayKeywordWizardInputGUI.php
Labels: bugfix

#4733 Replace data with a_set
  Modules/Test/classes/tables/class.ilEvaluationAllTableGUI.php
Labels: bugfix, php

#4736 Fixed bug 33210: LanguageAdministration: User is redirected to dashboard
  Services/Language/classes/class.ilObjLanguageFolderGUI.php
Labels: bugfix, php

#4735 Forum: Refactor 0030928: Remove obsolete move Draft events
  Modules/Forum/classes/class.ilForum.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
  Modules/Forum/classes/class.ilForumPostDraft.php
Labels: bugfix, php

#4742 Fixed bug #33289: ILIAS 7 XSS in erweiterter Sprachverwaltung
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#4741 Fix for https://mantis.ilias.de/view.php?id=33093
  Services/LDAP/classes/class.ilLDAPServer.php
Labels: bugfix

#4753 PrivacySecurity: Fix broken unit tests
  Services/PrivacySecurity/test/ilPrivacySettingsTest.php
Labels: bugfix, php

#4751 Fixes a few more access issues in ADT and Calendar
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedText.php
  Services/ADT/classes/Types/LocalizedText/class.ilADTLocalizedTextFormBridge.php
  Services/Calendar/classes/class.ilCalendarVisibility.php
Labels: bugfix

#4754 NPM: Update TinyMCE
  node_modules/.package-lock.json
  node_modules/tinymce/package.json
  node_modules/tinymce/plugins/latex/latex.php
  package-lock.json
  package.json
Labels: bugfix, php

#4743 Test: Refactor 0028385: Plausibilitätsprüfung Tests
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4744 Test: Refactor 0028385: Plausibilitätsprüfung Tests
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4752 Fix https://mantis.ilias.de/view.php?id=33078
  Services/Dashboard/classes/class.ilDashboardGUI.php
Labels: bugfix, php

#4738 Fix for https://mantis.ilias.de/view.php?id=32439
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  Services/RTE/templates/default/tpl.usereditor.js
Labels: bugfix

#4737 Fix for https://mantis.ilias.de/view.php?id=32439
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  Services/RTE/templates/default/tpl.usereditor.js
Labels: bugfix

#4749 T&A: use short form of grade in test results table (Mantis #31209) (release_6)
  Modules/Test/classes/class.ilTestParticipantList.php
Labels: bugfix, php

#4748 T&A: use short form of grade in test results table (Mantis #31209) (release_7)
  Modules/Test/classes/class.ilTestParticipantList.php
Labels: bugfix, php

#4747 T&A: use short form of grade in test results table (Mantis #31209) (trunk)
  Modules/Test/classes/class.ilTestParticipantList.php
Labels: bugfix, php

#4628 fix headings, add corrections and dots
  Services/Skill/PRIVACY.md
Labels: improvement

#4734 ErrorHandling: Hide sensitive data (Mantis 32888) and cleanup code
  Services/Exceptions/classes/class.ilDelegatingHandler.php
  Services/Exceptions/classes/class.ilPlainTextHandler.php
  Services/Init/classes/class.ilErrorHandling.php
Labels: bugfix, technical board, php

#4707 User: Fix role handling in user import (ILIAS 7)
  Services/User/classes/class.ilObjUserFolderGUI.php
Labels: bugfix, php

#4718 Object/Setup: use ilDB from environment instead of global DIC
  Services/Object/classes/class.ilObject.php
  Services/Tree/classes/Setup/class.ilTreeAdminNodeAddedObjective.php
Labels: bugfix, php

#4759 fixed bug #33092: Pre8 Translation Link
  Services/Language/classes/class.ilObjLanguageAccess.php
Labels: bugfix, php

#4760 fixed bug #32906: Pre8: Editing languages in Administration
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#4762 fixed bug #32906
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#4764 fixed bug: check if compared language has no entry
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#4758 fixes 21972 by adding adding didactic templates to session settings (trunk)
  Modules/Session/classes/class.ilObjSessionGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4666 Added documentation for ui plugin exchange methods for ILIAS 7
  docs/development/code-examples/ui-exchange/00_base_classes/ExamplePlugin.php
  docs/development/code-examples/ui-exchange/00_base_classes/ExampleRenderer.php
  docs/development/ui-plugin-manipulations.md
Labels: improvement

#4667 Added documentation for ui plugin exchange methods for ILIAS 8
  docs/development/code-examples/ui-exchange/00_base_classes/ExamplePlugin.php
  docs/development/code-examples/ui-exchange/00_base_classes/ExampleRenderer.php
  docs/development/ui-plugin-manipulations.md
Labels: improvement

#4731 Fix Empty Headings in Results Table
  Modules/TestQuestionPool/classes/class.ilAssQuestionPageGUI.php
Labels: bugfix, php

#4683 Backport of fixes for Mime-Type Recognition to ILIAS 7
  src/ResourceStorage/Resource/InfoResolver/StreamInfoResolver.php
Labels: bugfix, php

#4682 Fix length for Mime Type Recognition
  src/ResourceStorage/Resource/InfoResolver/StreamInfoResolver.php
Labels: bugfix, php

#4770 Test: Fix table filter (Mantis 33298)
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/tables/class.ilTestQuestionBrowserTableGUI.php
  Modules/Test/test/tables/ilTestQuestionBrowserTableGUITest.php
  Services/Form/classes/class.ilRepositorySelectorInputGUI.php
Labels: bugfix, php

#4774 Test: Fix question deletion (Mantis 33293)
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestDynamicQuestionSetConfig.php
  Modules/Test/classes/class.ilTestCorrectionsGUI.php
  Modules/Test/classes/class.ilTestFixedQuestionSetConfig.php
  Modules/Test/classes/class.ilTestQuestionSetConfig.php
  Modules/Test/classes/class.ilTestRandomQuestionSetConfig.php
  Modules/TestQuestionPool/classes/class.assLongMenu.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#4777 Test: Fix start of anonymous test (Mantis 33292)
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestOutputGUI.php
  Modules/Test/classes/class.ilTestSession.php
Labels: bugfix, php

#4781 TestQPL: Fix field size of file upload question (Mantis 33118)
  Modules/TestQuestionPool/classes/class.assFileUpload.php
  Modules/TestQuestionPool/classes/class.assFileUploadGUI.php
  Modules/TestQuestionPool/classes/import/qti12/class.assFileUploadImport.php
Labels: bugfix, php

#4805 Fix writing to Globals
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#4800 Fix Question Placement after Creation
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix

#4791 Dashboard Administration: Save form without write right
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
Labels: bugfix, php

#4794 Dashboard Administration: Save form without write right (ILIAS 6)
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
Labels: bugfix, php

#4795 Dashboard Administration: Save form without write right (trunk)
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
Labels: bugfix, php

#4017 TA OrderingQ: 25351, separate editing and nesting
  Modules/TestQuestionPool/classes/class.assOrderingQuestion.php
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilAssNestedOrderingElementsInputGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilAssOrderingQuestionAuthoringFormGUI.php
  Modules/TestQuestionPool/classes/questions/OrderingQuestion/assOrderingQuestionDatabaseRepository.php
  Modules/TestQuestionPool/classes/questions/class.ilAssOrderingElement.php
  Modules/TestQuestionPool/classes/questions/class.ilAssOrderingElementList.php
  Modules/TestQuestionPool/test/assOrderingQuestionTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4820 Removed remnants of link validation from WebResources
  Modules/WebResource/classes/Setup/class.ilWebResourceDropValidSteps.php
  Modules/WebResource/classes/Setup/class.ilWebResourceSetupAgent.php
  Modules/WebResource/classes/class.ilLinkResourceItems.php
  Modules/WebResource/classes/class.ilObjLinkResourceAccess.php
  Modules/WebResource/classes/class.ilObjLinkResourceGUI.php
  Modules/WebResource/classes/class.ilWebLinkXmlParser.php
  Modules/WebResource/classes/class.ilWebResourceEditableLinkTableGUI.php
  Modules/WebResource/templates/default/tpl.webr_editable_link_row.html
  lang/ilias_en.lang
Labels: bugfix, improvement

#4819 Test/TestQpl: Fix creating order question with (nested) terms/images (Mantis 33313)
  Modules/TestQuestionPool/classes/class.assOrderingQuestion.php
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilAssOrderingFormValuesObjectsConverter.php
  Modules/TestQuestionPool/classes/forms/class.ilAssOrderingTextsInputGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilIdentifiedMultiValuesInputGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilMultipleImagesFileSubmissionDataCompletion.php
  Modules/TestQuestionPool/classes/forms/class.ilMultipleImagesInputGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilMultipleTextsInputGUI.php
  Modules/TestQuestionPool/classes/import/qti12/class.assOrderingQuestionImport.php
  Modules/TestQuestionPool/classes/questions/class.ilAssOrderingElement.php
  Modules/TestQuestionPool/classes/questions/class.ilAssOrderingElementList.php
  Services/Form/js/ServiceFormMultiTextInputInit.js
Labels: bugfix, php, javascript

#4802 fixed bug #33492: Pre8: Editing language entries on test8 throws "Undefined array key …"
  Services/Language/classes/class.ilObjLanguageExt.php
Labels: bugfix, php

#4768 Fix few more issues in export and MetaData
  Services/ADT/classes/Types/Integer/class.ilADTIntegerFormBridge.php
  Services/Export/classes/class.ilExport.php
  Services/MetaData/classes/class.ilMDTechnical.php
Labels: bugfix, php

#4826 Test: Fix working time
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix, php

#4829 Test: Fix accessing undefined keys in ilObjTest::getTestResult
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, php

#4818 Test/TestQpl: Fix accessing undefined array key when reindexing quest…
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestFixedQuestionSetConfig.php
  Modules/Test/classes/class.ilTestReindexedSequencePositionMap.php
  Modules/Test/classes/class.ilTestSequenceFixedQuestionSet.php
  Modules/Test/test/ilTestReindexedSequencePositionMapTest.php
  Modules/TestQuestionPool/classes/feedback/class.ilAssMultiOptionQuestionFeedback.php
Labels: bugfix, php

#4806 Test/TestQPL: Fix PHP 8 unit issues / Eliminate Super Global Usage
  Modules/TestQuestionPool/Service/class.InternalRequestService.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionUnit.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionUnitCategory.php
  Modules/TestQuestionPool/classes/class.ilGlobalUnitConfigurationGUI.php
  Modules/TestQuestionPool/classes/class.ilLocalUnitConfigurationGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Modules/TestQuestionPool/classes/class.ilUnitConfigurationGUI.php
  Modules/TestQuestionPool/classes/class.ilUnitConfigurationRepository.php
Labels: bugfix, improvement, php

#4726 Forum: Feature 0029875: Course/Group title in subject of forum mail notifications (release_7)
  Modules/Forum/classes/Notification/class.ilForumMailEventNotificationSender.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
  Modules/Forum/classes/class.ilForumCronNotification.php
  Modules/Forum/classes/class.ilForumCronNotificationDataProvider.php
  Modules/Forum/classes/class.ilForumMailNotification.php
  Modules/Forum/classes/class.ilObjForumNotificationDataProvider.php
  Modules/Forum/interfaces/interface.ilForumNotificationMailData.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#4763 WorkflowEngine: Bugfix 0029585: Remove action menu for users with only read access
  Services/WorkflowEngine/classes/administration/class.ilWorkflowEngineDefinitionsTableGUI.php
Labels: bugfix, php

#4809 Readd Missing Function and Streamline Questions-Tab in Trunk
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#4788 TestQPL: Fix MC and SC image upload (Mantis 33334)
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
Labels: bugfix, php

#4300 src/TestQuestionPool: PHP8 review
  Modules/TestQuestionPool/classes/class.assAnswerBinaryState.php
Labels: improvement, php

#4827 Update Dependencies after Release v7.11
  composer.lock
Labels: technical board, dependencies

#4828 Update Dependencies after Release v6.18
  composer.lock
Labels: technical board, dependencies

#4833 fixed unit test due to new ilLink dependency
  Services/MainMenu/test/ilServicesMainMenuTest.php
Labels: bugfix

#4835 fixed bug #33520: Pre8: Admin > Languages > Deutsch: Three tabs throw "Undefined array key "…"
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#3984 Certificate: Add PRIVACY.md
  Services/Certificate/PRIVACY.md
Labels: improvement

#4831 TestQPL: Fix PHP 7.4 issue (Mantis 33522)
  Modules/TestQuestionPool/classes/questions/OrderingQuestion/assOrderingQuestionDatabaseRepository.php
Labels: bugfix, php

#4815 First part of fix for https://mantis.ilias.de/view.php?id=33391
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4817 First part of fix for https://mantis.ilias.de/view.php?id=33391
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4801 Test Assessment Design Tickets (trunk) - PR collection of Mantis #32213 #32215 #32214 #32184
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/templates/default/ta_split.css
  Modules/Test/templates/default/tpl.il_as_tst_list_of_questions_short.html
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  templates/default/delos.css
  templates/default/delos.css.map
  templates/default/less/Modules/Test/delos.less
  templates/default/less/Modules/Test/legacy.less
  templates/default/less/variables.less
Labels: bugfix

#4792 Test Assessment Design Tickets - PR collection of Mantis #32213 #32215 #32214 #32184
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/templates/default/ta_split.css
  Modules/Test/templates/default/tpl.il_as_tst_list_of_questions_short.html
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  templates/default/delos.css
  templates/default/less/Modules/Test/delos.less
  templates/default/less/Modules/Test/legacy.less
  templates/default/less/variables.less
Labels: bugfix, php

#4765 Test&Assesments: Bugfix 0029602: removed options from t&a administration units with missing access rights
  Modules/TestQuestionPool/classes/tables/class.ilUnitCategoryTableGUI.php
Labels: bugfix, php

#4739 Introduction of new LP icons
  Modules/Course/classes/Objectives/class.ilCourseObjectiveListGUI.php
  Modules/Course/classes/class.ilCourseParticipantsTableGUI.php
  Modules/Course/templates/default/tpl.show_participants_row.html
  Modules/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  Modules/Exercise/Assignment/class.ilExAssignmentGUI.php
  Modules/Exercise/Assignment/class.ilExAssignmentMemberStatus.php
  Modules/Exercise/classes/class.ilExGradesTableGUI.php
  Modules/Exercise/classes/class.ilObjExerciseGUI.php
  Modules/Exercise/templates/default/tpl.assignment_head.html
  Modules/Exercise/templates/default/tpl.exc_grades_row.html
  Modules/Forum/classes/class.ilForumStatisticsTableGUI.php
  Modules/Forum/templates/default/tpl.statistics_table_row.html
  Modules/Group/classes/class.ilGroupParticipantsTableGUI.php
  Modules/Group/templates/default/tpl.show_participants_row.html
  Modules/LearningModule/classes/class.ilLMExplorerGUI.php
  Modules/LearningModule/classes/class.ilLMTracker.php
  Modules/LearningSequence/classes/Player/class.ilLSTOCGUI.php
  Modules/Portfolio/Page/class.ilPortfolioPageGUI.php
  Modules/Portfolio/templates/default/tpl.pc_my_courses.html
  Modules/Scorm2004/classes/class.ilSCORM2004TrackingItemsTableGUI.php
  Modules/ScormAicc/classes/class.ilSCORMTrackingItemsTableGUI.php
  Modules/Wiki/classes/class.ilWikiContributorsTableGUI.php
  Modules/Wiki/templates/default/tpl.table_row_contributors.html
  Services/Container/templates/default/tpl.container_list_item.html
  Services/MyStaff/classes/class.ilMyStaffGUI.php
  Services/Tracking/classes/class.ilLPStatus.php
  Services/Tracking/classes/class.ilLPTableBaseGUI.php
  Services/Tracking/classes/class.ilLearningProgressBaseGUI.php
  Services/Tracking/classes/class.ilLearningProgressGUI.php
  Services/Tracking/classes/object_statistics/class.ilLPObjectStatisticsLPTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilLPListOfObjectsGUI.php
  Services/Tracking/classes/repository_statistics/class.ilLPProgressTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrSummaryTableGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrUserObjectsPropsTableGUI.php
  Services/Tracking/classes/status/class.ilLPStatusIcons.php
  Services/Tracking/templates/default/tpl.lp_icon_img.html
  Services/Tracking/templates/default/tpl.lp_legend.html
  Services/Tracking/templates/default/tpl.lp_progress_list_row.html
  Services/Tracking/test/ilLPStatusIconsTest.php
  templates/default/delos.css
  templates/default/delos.less
  templates/default/images/learning_progress/completed.svg
  templates/default/images/learning_progress/failed.svg
  templates/default/images/learning_progress/in_progress.svg
  templates/default/images/learning_progress/not_attempted.svg
  templates/default/images/learning_progress/short/asset.svg
  templates/default/images/learning_progress/short/completed.svg
  templates/default/images/learning_progress/short/failed.svg
  templates/default/images/learning_progress/short/in_progress.svg
  templates/default/images/learning_progress/short/not_attempted.svg
  templates/default/images/learning_progress/short/running.svg
Labels: bugfix, php

#4810 [FIX] 0025664: Double click on Appointment Title
  src/UI/templates/js/Modal/modal.js
Labels: bugfix

#4834 Deprecate SOAP::distributeMails
  webservice/soap/classes/class.ilNusoapUserAdministrationAdapter.php
  webservice/soap/classes/class.ilSoapUtils.php
  webservice/soap/include/inc.soap_functions.php
Labels: improvement, php

#4841 Remove setquestiontabs from all question types trunk
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
  Modules/TestQuestionPool/classes/class.assErrorTextGUI.php
  Modules/TestQuestionPool/classes/class.assFileUploadGUI.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assImagemapQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assLongMenuGUI.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assNumericGUI.php
  Modules/TestQuestionPool/classes/class.assOrderingHorizontalGUI.php
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assTextSubsetGUI.php
Labels: improvement, php

#4846 TestQPL: Fix preview session (Mantis 33536)
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewSession.php
Labels: bugfix, php

#4790 bugfix: change datatypes for metrics 'port' and 'weight'
  Services/GlobalCache/classes/Setup/class.ilGlobalCacheMetricsCollectedObjective.php
Labels: bugfix, php

#4847 TestQPL: Don't modify $_POST in hotspot qst (Mantis 33489)
  Modules/TestQuestionPool/classes/class.assImagemapQuestionGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilImagemapFileInputGUI.php
Labels: bugfix, php

#4848 TestQPL: Fix accessing undefined array keys in MC qst (Mantis 33334)
  Modules/TestQuestionPool/classes/class.ilMultipleChoiceWizardInputGUI.php
Labels: bugfix, php

#4849 Test: Fix editing question pool definitions (Mantis 33529)
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
  Modules/Test/classes/forms/class.ilTestRandomQuestionSetPoolDefinitionFormGUI.php
Labels: bugfix, php

#4850 Test: Fix manual scoring
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
  Modules/Test/classes/class.ilTestScoringGUI.php
  Modules/Test/classes/class.ilTestServiceGUI.php
Labels: bugfix, php

#4851 Fix https://mantis.ilias.de/view.php?id=33523
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestServiceGUI.php
Labels: bugfix, php

#4853 Allow floats as point deduction in Hints
  Modules/TestQuestionPool/classes/class.ilAssQuestionHint.php
Labels: bugfix, php

#4804 Fix Question Placement after Creation
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#4839 fix active tab in PD settings for ILIAS 8
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
Labels: bugfix, php

#4838 fix active tab in PD settings for ILIAS 7
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
Labels: bugfix, php

#4837 fix active tab in PD settings
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
Labels: bugfix, php

#4824 Setup: Fix determination of plugin agents
  src/Setup/ImplementationOfAgentFinder.php
Labels: bugfix, php

#4780 Allows custom positions to be imported. (#3113)
  Modules/OrgUnit/classes/SimpleUserImport/class.ilOrgUnitSimpleUserImport.php
Labels: bugfix, php

#4755 Page Layout: Sticky Breadcrumb Bar #32935
  src/UI/templates/default/Layout/standardpage.less
  src/UI/templates/default/Layout/tpl.standardpage.html
  src/UI/templates/default/MainControls/mode_info.less
  templates/default/delos.css
  templates/default/tpl.page_content.html
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix

#4859 Fix https://mantis.ilias.de/view.php?id=33523
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestServiceGUI.php
Labels: bugfix, php

#4863 #33552: setup now recognizes objectives that halt the program.
  src/Setup/CLI/ObjectiveHelper.php
Labels: bugfix, php

#4750 UI item: move property key & value to same col
  src/UI/templates/default/Item/item.less
  src/UI/templates/default/Item/tpl.item_notification.html
  src/UI/templates/default/Item/tpl.item_standard.html
  templates/default/delos.css
  tests/UI/Component/Item/ItemNotificationTest.php
  tests/UI/Component/Item/ItemTest.php
Labels: bugfix

#4860 TestQPL: Fix external id (Mantis 33466)
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#4861 Fix https://mantis.ilias.de/view.php?id=33551
  Modules/Test/classes/class.ilObjTestSettingsScoringResultsGUI.php
Labels: bugfix, php

#4864 Fix creation of questions from test in pool
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4862 TestQPL: Fix feedback (Mantis 33299)
  Modules/TestQuestionPool/classes/feedback/class.ilAssQuestionFeedback.php
Labels: bugfix, php

#4867 introducing font weight variables
  src/UI/templates/default/Breadcrumbs/breadcrumbs.less
  src/UI/templates/default/Card/card.less
  src/UI/templates/default/Chart/chart.less
  src/UI/templates/default/Dropdown/dropdown.less
  src/UI/templates/default/Input/input.less
  src/UI/templates/default/Input/tag.less
  src/UI/templates/default/Item/item.less
  src/UI/templates/default/Layout/standardpage.less
  src/UI/templates/default/Listing/workflow.less
  src/UI/templates/default/MainControls/mainbar.less
  src/UI/templates/default/Panel/panel.less
  src/UI/templates/default/Popover/popover.less
  src/UI/templates/default/Symbol/icon.less
  src/UI/templates/default/Table/table.less
  src/UI/templates/default/ViewControl/viewcontrol.less
  templates/default/delos.css
  templates/default/delos.less
  templates/default/less/Modules/DataCollection/delos.less
  templates/default/less/Modules/Forum/delos.less
  templates/default/less/Modules/Survey/delos.less
  templates/default/less/Modules/Test/delos.less
  templates/default/less/Services/Block/delos.less
  templates/default/less/Services/Calendar/bootstrap-datetimepicker.less
  templates/default/less/Services/Calendar/delos.less
  templates/default/less/Services/Container/delos.less
  templates/default/less/Services/Help/delos.less
  templates/default/less/Services/Mail/delos.less
  templates/default/less/Services/Preview/delos.less
  templates/default/less/Services/Search/delos.less
  templates/default/less/Services/Style/delos.less
  templates/default/less/Services/Table/delos.less
  templates/default/less/Services/UIComponent/AdvancedSelectionList/delos.less
  templates/default/less/Services/UIComponent/Explorer2/delos.less
  templates/default/less/Services/User/delos.less
  templates/default/less/bootstrap/code.less
  templates/default/less/bootstrap/forms.less
  templates/default/less/variables.less
Labels: bugfix, improvement

#4869 centered login form
  templates/default/delos.css
  templates/default/less/Services/Init/delos.less
Labels: bugfix

#4630 Fix issue with competences in Cloze Question
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/ilAssLacCompositeEvaluator.php
Labels: bugfix, php

#4871 TestQPL: Fix lifecycle (ILIAS and LOM, Mantis 33466)
  Modules/TestQuestionPool/classes/questions/class.ilAssQuestionLifecycle.php
  Modules/TestQuestionPool/classes/questions/class.ilAssQuestionLomLifecycle.php
Labels: bugfix, php

#4874 BR 0033580: Padding Tagcloud
  templates/default/delos.css
  templates/default/less/Services/Tags/delos.less
Labels: bugfix
