Repository ILIAS-eLearning/ILIAS, pull requests merged in 2022-06, with the labels that each got.

#4596 Sm var access sm null coalescing
  Services/AccessControl/classes/class.ilAccess.php
  Services/Export/classes/class.ilExportGUI.php
  Services/LDAP/classes/class.ilLDAPRoleGroupMapping.php
  Services/Logging/classes/class.ilLog.php
  Services/MetaData/classes/class.ilMDEntity.php
  Services/MetaData/classes/class.ilMDRights.php
  Services/User/Profile/classes/class.ilPersonalProfileGUI.php
  Services/User/Profile/classes/class.ilPersonalProfileMode.php
  Services/User/Settings/classes/class.ilPersonalSettingsGUI.php
  Services/User/Settings/classes/class.ilUserPrivacySettingsGUI.php
  Services/User/classes/class.ilObjUser.php
  Services/User/classes/class.ilObjUserFolderGUI.php
  Services/WebServices/ECS/classes/class.ilECSAppEventListener.php
Labels: bugfix

#4622 Dashboard: Take SAHS display options into account
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#4638 LSO: Fix lost characters during XML import
  Modules/LearningSequence/classes/Xml/class.ilLearningSequenceXMLParser.php
Labels: bugfix, php

#4617 WAC check for assessment
  Modules/Test/classes/CanAccessFileUploadAnswer.php
  Modules/Test/classes/class.ilObjTestAccess.php
  Modules/Test/module.xml
  Modules/Test/test/CanAccessFileUploadAnswerTest.php
  Modules/Test/test/ilModulesTestSuite.php
Labels: bugfix, php

#4618 Add WAC check for assessment (trunk)
  Modules/Test/classes/CanAccessFileUploadAnswer.php
  Modules/Test/classes/class.ilObjTestAccess.php
  Modules/Test/module.xml
  Modules/Test/test/CanAccessFileUploadAnswerTest.php
  Modules/Test/test/ilModulesTestSuite.php
Labels: bugfix, php

#4642 Fix Broken Action-Menu
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
Labels: bugfix, php

#4643 T&A 32824, check permissions on and active-status of parent test on edit
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionFeedbackEditingGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4636 Fix https://mantis.ilias.de/view.php?id=32824
  Modules/Test/classes/class.ilAssQuestionPageCommandForwarder.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionFeedbackEditingGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix

#4620 TA 25418, float and round percentages for marks
  Modules/Test/classes/class.assMarkSchema.php
Labels: bugfix, php

#4619 TA MatchingQuestion: 27633, max field size 800 instead of 200
  Modules/TestQuestionPool/classes/class.ilMatchingWizardInputGUI.php
Labels: bugfix, php

#4583 T&A, JS inits for ClozeQuestions
  Modules/TestQuestionPool/classes/Form/class.ilClozeGapInputBuilderGUI.php
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/templates/default/cloze_gap_builder.js
  Modules/TestQuestionPool/templates/default/tpl.il_as_cloze_gap_builder.html
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_cloze_gap_button_code.html
Labels: improvement, javascript

#4606 8/bugfix/mc question charcounter
  Modules/TestQuestionPool/classes/class.assAnswerMultipleResponseImage.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/templates/default/tpl.charcounter.html
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_mc_mr_output.html
Labels: bugfix

#4605 Fixed char counter init for text question
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/templates/default/tpl.charcounter.html
Labels: bugfix

#4553 T&A: fix 30658
  Modules/TestQuestionPool/classes/class.assLongMenuGUI.php
Labels: bugfix, php

#4494 PHPStan: Add docs and infrastructure for local configuration
  .gitignore
  docs/development/static_code_analysis.md
  tests/App/RootFolderTest.php
Labels: improvement, php

#4654 Fix 32824 trunk
  Modules/Test/classes/class.ilAssQuestionPageCommandForwarder.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionFeedbackEditingGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4520 `ilStr`: Don't pass null as `$offset` parameter anymore (PHP 8.1 / ILIAS 9)
  Services/Utilities/classes/class.ilStr.php
Labels: improvement, php

#4568 Added documentation for ui plugin exchange methods
  docs/development/code-examples/ui-exchange/00_base_classes/ExamplePlugin.php
  docs/development/code-examples/ui-exchange/00_base_classes/ExampleRenderer.php
  docs/development/ui-plugin-manipulations.md
Labels: kitchen sink, improvement

#4663 Fix undefined array pos_cens_date
  Modules/Forum/classes/class.ilForumPost.php
Labels: bugfix, php

#4662 Fix wrong type in taggingGUI
  Services/Tagging/classes/class.ilTaggingGUI.php
Labels: bugfix, php

#4646 Forms/Autocomplete: separation and late init of JS-parts
  Services/Form/classes/class.ilTextInputGUI.php
  Services/Form/templates/default/tpl.prop_text_autocomplete.js
  Services/Form/templates/default/tpl.prop_textinput.html
Labels: bugfix

#4641 Mediacast: Remove old file upload on file update of a mediacast item
  Modules/MediaCast/classes/class.ilObjMediaCastGUI.php
Labels: bugfix, php

#4560 [FIX] 0032241: Cookies for each video might lead to HTTP 431
  Modules/MediaCast/classes/class.ilObjMediaCastGUI.php
Labels: bugfix, php

#4589 Container: make the GUI base class respect that sub object does not support page editor
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeGUI.php
  Services/Container/classes/class.ilContainerGUI.php
Labels: bugfix

#3970 fixed item group expansion error
  Services/Container/classes/class.ilContainerBlockPropertiesStorageGUI.php
  Services/Container/classes/class.ilContainerContentGUI.php
  Services/Container/service.xml
Labels: bugfix, php

#4661 Fix clickthrough issues on PHP8
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Modules/Test/classes/class.ilTestParticipantsGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#4655 More fixes for edit question
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
Labels: bugfix, php

#4604 8/bugfix/matching question javascript
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_matching_output.html
Labels: bugfix

#4674 ContentPage: Tweak 00328235: Remove Action Menu from ContentPage Editor
  Modules/ContentPage/classes/class.ilObjContentPageGUI.php
Labels: bugfix, php

#4651 Filter courses and groups on "right to leave" in unsubscribe multiple view for ILIAS 8
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
Labels: bugfix

#4677 Fix `target=_blank` for dashboard items
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#4679 Fix target=_blank for dashboard items trunk
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#4664 Fix typo
  Services/Search/templates/default/tpl.lucene_activation_row.html
Labels: bugfix

#4681 Add missing lang-var to
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#4615 TA 26290, block forms if pool-sync is currently in place
  Modules/Test/classes/class.ilTestRandomQuestionSetConfig.php
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#4614 Test: `passed` column for the `getTestResults` soap call
  Modules/Test/classes/class.ilObjTest.php
  webservice/soap/classes/class.ilSoapTestAdministration.php
Labels: bugfix, php

#4687 Fixes notifications title
  Services/Notifications/classes/Model/ilNotificationConfig.php
Labels: bugfix, php

#4686 AccessControl: fix wrong call of fetchAssoc
  Services/AccessControl/classes/Setup/class.ilAccessRBACOperationClonedObjective.php
Labels: bugfix, php

#4693 [FIX] #32925: ilGLobalPageTemplate::setVariable() type-cast
  Services/UICore/classes/class.ilGlobalPageTemplate.php
Labels: bugfix, php

#4694 Container: read needs to respect target_id = null (#33052)
  Services/ContainerReference/classes/class.ilContainerReference.php
Labels: bugfix

#4697 Fix issue with hints
  Modules/TestQuestionPool/classes/class.ilAssQuestionHintPageObjectCommandForwarder.php
Labels: bugfix

#4692 Fix more Globals in test
  Modules/Test/classes/class.ilAssQuestionPageCommandForwarder.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilTestParticipantList.php
  Modules/Test/classes/class.ilTestParticipantsGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/TestQuestionPool/classes/class.assFileUpload.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
Labels: bugfix, php

#4665 UI/Drilldown: 32724, add jsdom and fix tests
  package.json
  tests/UI/Client/Menu/Drilldown/drilldown.test.js
Labels: bugfix

#4588 Setup: show nic status and id in status command
  setup/classes/class.ilSetupMetricsCollectedObjective.php
Labels: improvement

#4691 Implemented check if install works on daily schedule
  .github/workflows/install-check-release_7.yml
  .github/workflows/install-check-trunk.yml
  CI/install-check/ilias-ci-config.json
Labels: technical board

#4359 Fix 32387
  Modules/Test/Setup/class.ilTest8DBUpdateSteps.php
  Modules/Test/Setup/class.ilTestSetupAgent.php
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilObjTestSettingsScoringResultsGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestSettingsTemplateConfig.php
  Modules/Test/classes/inc.AssessmentConstants.php
  Modules/TestQuestionPool/classes/class.assKprimChoice.php
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4607 UI Components, Standard Page, remove maximum-scale, see #32772
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix, kitchen sink

#4625 Fix reassignemt Cron for Study programms
  Modules/StudyProgramme/classes/class.ilObjStudyProgramme.php
  Modules/StudyProgramme/classes/class.ilPrgRestartAssignmentsCronJob.php
Labels: bugfix

#4702 [FIX] #33094: decreased priority of baseclasses
  Services/UICore/classes/Path/class.ilCtrlSingleClassPath.php
  Services/UICore/test/Data/GUI/class.ilCtrlBaseClass2TestGUI.php
  Services/UICore/test/Data/GUI/class.ilCtrlCommandClass1TestGUI.php
  Services/UICore/test/Data/Structure/test_ctrl_structure.php
  Services/UICore/test/Paths/ilCtrlSingleClassPathTest.php
Labels: bugfix, php
