Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-06, with the labels that each got.

#5953 Update Dependencies after Release v7.22
  composer.lock
Labels: technical board, dependencies

#5952 Fixes the Updatestep 102
  setup/sql/7_hotfixes.php
Labels: bugfix

#5859 LSO: 37231, add factory/renderer to content gui
  Modules/LearningSequence/classes/Content/class.ilObjLearningSequenceContentGUI.php
  Modules/LearningSequence/classes/class.ilObjLearningSequenceGUI.php
Labels: improvement, php

#5896 Setup: Revised Github installation Workflow for PHP 7.4/8.0
  .github/workflows/install-check-release_8-7.4.yml
  .github/workflows/install-check-release_8-8.0.yml
Labels: improvement

#5899 Setup: Added Github installation Workflow for PHP 7.3/7.4
  .github/workflows/install-check-release_7-7.3.yml
  .github/workflows/install-check-release_7-7.4.yml
  CI/install-check/ilias-ci-config.json
Labels: improvement

#5961 LUI: replace legacy buttons
  Services/Language/classes/class.ilObjLanguageFolderGUI.php
Labels: improvement, php

#5959 Membership: Show default role as default when adding users via search
  Services/Membership/classes/class.ilMembershipGUI.php
  Services/Search/classes/class.ilRepositorySearchGUI.php
Labels: bugfix, php

#5969 Search: Context Sensitive Search - Suggestions from ILIAS (11578)
  Services/Search/classes/class.ilMainMenuSearchGUI.php
  Services/Search/templates/default/tpl.main_menu_search.html
Labels: bugfix, php

#5979 Chat / OSC: Abandon emoticons
  Modules/Chatroom/README.md
  Modules/Chatroom/classes/Setup/UpdateSteps.php
  Modules/Chatroom/classes/admingui/class.ilChatroomAdminSmileyGUI.php
  Modules/Chatroom/classes/admingui/class.ilChatroomAdminSmiliesGUI.php
  Modules/Chatroom/classes/admingui/class.ilChatroomAdminViewGUI.php
  Modules/Chatroom/classes/class.ilChatroomFormFactory.php
  Modules/Chatroom/classes/class.ilChatroomInstaller.php
  Modules/Chatroom/classes/class.ilChatroomServerSettings.php
  Modules/Chatroom/classes/class.ilChatroomSmilies.php
  Modules/Chatroom/classes/class.ilChatroomSmiliesCurrentSmileyFormElement.php
  Modules/Chatroom/classes/class.ilChatroomSmiliesGUI.php
  Modules/Chatroom/classes/class.ilChatroomSmiliesTableGUI.php
  Modules/Chatroom/classes/class.ilChatroomTabGUIFactory.php
  Modules/Chatroom/classes/class.ilObjChatroomAccess.php
  Modules/Chatroom/classes/gui/class.ilChatroomViewGUI.php
  Modules/Chatroom/js/chat.js
  Modules/Chatroom/js/iliaschat.jquery.js
  Modules/Chatroom/templates/default/style.css
  Modules/Chatroom/templates/default/tpl.chatroom_edit_smilies.html
  Modules/Chatroom/templates/default/tpl.chatroom_smiley_line.html
  Modules/Chatroom/templates/default/tpl.chatroom_smiley_list_row.html
  Modules/Chatroom/test/class.ilChatroomServerSettingsTest.php
  Services/OnScreenChat/classes/class.ilOnScreenChatGUI.php
  Services/OnScreenChat/js/onscreenchat.js
  Services/OnScreenChat/templates/default/tpl.chat-window.html
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/070-components/legacy/Services/_component_onscreenchat.scss
  templates/default/delos.css
  templates/default/images/emoticons/icon_angry.gif
  templates/default/images/emoticons/icon_away.gif
  templates/default/images/emoticons/icon_cool.gif
  templates/default/images/emoticons/icon_eek.gif
  templates/default/images/emoticons/icon_flush.gif
  templates/default/images/emoticons/icon_idea.gif
  templates/default/images/emoticons/icon_invite.gif
  templates/default/images/emoticons/icon_kick.gif
  templates/default/images/emoticons/icon_laugh.gif
  templates/default/images/emoticons/icon_moderator.gif
  templates/default/images/emoticons/icon_sad.gif
  templates/default/images/emoticons/icon_shocked.gif
  templates/default/images/emoticons/icon_smile.gif
  templates/default/images/emoticons/icon_thumbdown.gif
  templates/default/images/emoticons/icon_thumbup.gif
  templates/default/images/emoticons/icon_tongue.gif
  templates/default/images/emoticons/icon_wink.gif
Labels: improvement, php, javascript

#5960 UI Components: Improved Mode Info Example
  src/UI/examples/MainControls/ModeInfo/modeinfo.php
Labels: bugfix, improvement

#5986 UI/Metabar: 33346, do not close metabar slates when there is no 'next focus'
  src/UI/templates/js/MainControls/metabar.js
Labels: bugfix

#5990 UI Bugfix #0037466: Standard Listing Panel ui bugfix
  src/UI/templates/default/Panel/tpl.listing_standard.html
  tests/UI/Component/Panel/PanelListingTest.php
Labels: bugfix

#5136 ilCtrl: introducing new best-practises
  Services/UICore/best-practises.md
Labels: improvement

#5980 User: Remove Account Code Classes
  Services/Init/classes/class.ilStartUpGUI.php
  Services/Registration/classes/class.ilRegistrationCode.php
  Services/User/classes/class.ilAccountCode.php
  Services/User/classes/class.ilAccountCodesGUI.php
  Services/User/classes/class.ilAccountCodesTableGUI.php
  Services/User/classes/class.ilObjUserFolderGUI.php
Labels: improvement, php

#5787 [FEATURE] UI: allow additional inputs for file-dropzones.
  src/UI/Component/Dropzone/File/Factory.php
  src/UI/Implementation/Component/Dropzone/File/Factory.php
  src/UI/Implementation/Component/Dropzone/File/File.php
  src/UI/Implementation/Component/Dropzone/File/Standard.php
  src/UI/Implementation/Component/Dropzone/File/Wrapper.php
  src/UI/examples/Dropzone/File/Standard/with_additional_input.php
  src/UI/examples/Dropzone/File/Wrapper/with_additional_input.php
  tests/UI/Component/Dropzone/File/FileTestBase.php
  tests/UI/Component/Dropzone/File/StandardTest.php
  tests/UI/Component/Dropzone/File/WrapperTest.php
Labels: kitchen sink, improvement, php

#5970 [FIX] CI: fixed arrow-function spacing for PHP-CS-Fixer.
  CI/PHP-CS-Fixer/code-format.php_cs
Labels: improvement

#6006 Repository: Überschüssige Panel-Überschrift in Einstellungen des Magazins (24285)
  Modules/RootFolder/classes/class.ilObjRootFolderGUI.php
Labels: bugfix, php

#5995 [FIX] 0037125: Sorting of content in container objects does not work
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix

#6008 Nullable modifications in learning sequence
  Modules/LearningSequence/classes/GlobalScreen/class.ilLSViewLayoutProvider.php
Labels: bugfix, php

#6010 clarify show_mail_settings_info for 37426
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5951 UI: Allow dedicated names for inputs in a filter
  src/UI/Implementation/Component/Input/Container/Filter/Filter.php
  tests/UI/Component/Input/Container/Filter/StandardFilterTest.php
Labels: kitchen sink, improvement

#5983 LegacyUI/AdvancedSelectionList: Fix array access
  Services/UIComponent/AdvancedSelectionList/classes/class.ilAdvancedSelectionListGUI.php
Labels: bugfix, php

#5905 [FEATURE] updated JavaScript code-style
  .eslintrc.json
  .mocharc.json
  CI/Copyright-Checker/copyright-checker.sh
  CI/Copyright-Checker/copyright.js
  CI/Copyright-Checker/preserveCopyright.js
  captainhook.json
  docs/development/README.md
  docs/development/code-examples/js-bundling/bundle/dist/bundle.js
  docs/development/code-examples/js-bundling/bundle/dist/bundle.min.js
  docs/development/code-examples/js-bundling/bundle/rollup.config.js
  docs/development/code-examples/js-bundling/bundle/src/Component1.js
  docs/development/code-examples/js-bundling/bundle/src/Component2.js
  docs/development/code-examples/js-bundling/bundle/src/index.js
  docs/development/code-examples/js-bundling/bundling-example.html
  docs/development/code-examples/js-unit-test/src/Component.js
  docs/development/code-examples/js-unit-test/src/MathMod.js
  docs/development/code-examples/js-unit-test/test/Component.js
  docs/development/code-style-configs/php-storm.xml
  docs/development/js-bundling.md
  docs/development/js-coding-style.md
  docs/development/js-libraries.md
  docs/development/js-testing.md
  docs/development/js/bundling-example/bundling-example.html
  docs/development/js/bundling-example/component1/dist/component1.js
  docs/development/js/bundling-example/component1/dist/component1.min.js
  docs/development/js/bundling-example/component1/rollup.config.js
  docs/development/js/bundling-example/component1/src/component-submodule1.js
  docs/development/js/bundling-example/component1/src/component-submodule2.js
  docs/development/js/bundling-example/component1/src/component1.js
  docs/development/js/bundling-example/component2/component2.js
  docs/development/js/bundling-example/component3/component3.js
  docs/development/js/bundling-example/core/il.js
  docs/development/js/js-bundling.md
  docs/development/js/js-coding-style.md
  docs/development/js/js-modules.md
  docs/development/js/js-unit-test-example/src/component.js
  docs/development/js/js-unit-test-example/src/math.js
  docs/development/js/js-unit-test-example/test/component.test.js
  docs/development/js/js-unit-test.md
  docs/development/js/third-party-libs-npm.md
  docs/development/php-coding-style.md
  libs/README.md
  package-lock.json
  package.json
  tests/App/RootFolderTest.php
  tests/mocha.config.js
Labels: improvement, javascript

#5967 OrgU/LUI: remove ilAdvandedSelectionListGUI, ilLinkButton
  Modules/OrgUnit/classes/ARHelper/DropdownBuilder.php
  Modules/OrgUnit/classes/LocalUser/class.ilLocalUserGUI.php
  Modules/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitRecursiveUserAssignmentTableGUI.php
  Modules/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitUserAssignmentTableGUI.php
  Modules/OrgUnit/classes/Positions/class.ilOrgUnitPositionGUI.php
  Modules/OrgUnit/classes/Positions/class.ilOrgUnitPositionTableGUI.php
  Modules/OrgUnit/classes/SimpleImport/class.ilOrgUnitSimpleImportGUI.php
  Modules/OrgUnit/classes/Staff/class.ilOrgUnitOtherRolesTableGUI.php
  Modules/OrgUnit/classes/Staff/class.ilOrgUnitStaffGUI.php
  Modules/OrgUnit/classes/Staff/class.ilOrgUnitStaffTableGUI.php
  Modules/OrgUnit/classes/Types/class.ilOrgUnitTypeGUI.php
  Modules/OrgUnit/classes/Types/class.ilOrgUnitTypeTableGUI.php
  Modules/OrgUnit/classes/class.ilObjOrgUnitGUI.php
  Modules/OrgUnit/classes/class.ilOrgUnitExportGUI.php
  Modules/OrgUnit/classes/class.ilOrgUnitLocalDIC.php
  Services/Search/classes/Lucene/class.ilLuceneSearchResult.php
Labels: improvement

#5996 T&A 0032158 mark scheme deletion confusion
  Modules/Test/classes/class.ilMarkSchemaGUI.php
Labels: bugfix, php

#5994 T&A Bugfix #0037334: Invalid Question UI
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
  Modules/Test/templates/default/tpl.il_as_tst_questions_row.html
  lang/ilias_en.lang
Labels: bugfix, php

#5838 fixed 32216: Object translation of titles are not considered when exp…
  Modules/LearningModule/classes/class.ilLearningModuleExporter.php
  Modules/MediaPool/classes/class.ilMediaPoolExporter.php
  Services/Object/classes/class.ilObjectDataSet.php
Labels: bugfix, php

#5344 T&A 0016123 fix deletion of mc answer also deletes corresponding feedback
  Modules/TestQuestionPool/classes/class.assAnswerBinaryStateImage.php
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoice.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.ilMultipleChoiceWizardInputGUI.php
  Modules/TestQuestionPool/classes/class.ilSingleChoiceWizardInputGUI.php
  Modules/TestQuestionPool/templates/default/multiplechoicewizard.js
  Modules/TestQuestionPool/templates/default/singlechoicewizard.js
  Modules/TestQuestionPool/templates/default/tpl.prop_multiplechoicewizardinput.html
  Modules/TestQuestionPool/templates/default/tpl.prop_singlechoicewizardinput.html
Labels: bugfix, php

#6036 Filter courses and groups on last admin in unsubscribe multiple view
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
Labels: bugfix, php

#6040 Update Dependencies after Release v8.3
  composer.lock
Labels: technical board, dependencies

#6034 Update Dependencies after Release v7.23
  composer.lock
Labels: technical board, dependencies

#6045 fixed 25128: Type filter missing in random test export
  Modules/Test/classes/class.ilObjTestXMLParser.php
  Modules/Test/classes/class.ilTestExportRandomQuestionSet.php
  Modules/Test/classes/class.ilTestRandomQuestionSetSourcePoolDefinition.php
Labels: bugfix, php

#6017 Plugins/Repository: Fix PHP type when consuming permanent link target
  Services/Repository/PluginSlot/class.ilObjectPluginGUI.php
Labels: bugfix, php

#6012 Membership: Show default role as default when adding users via search for R7 (26025)
  Services/Membership/classes/class.ilMembershipGUI.php
  Services/Search/classes/class.ilRepositorySearchGUI.php
Labels: bugfix, php

#6028 Container: Clipboard obstructs sorting (25083)
  Services/Container/classes/class.ilContainerGUI.php
Labels: bugfix, php

#6000 Course: activate dormant participantHasPassedCourse event
  Modules/Course/module.xml
Labels: bugfix, jour fixe, php

#6007 Calendar: prevent adding appointments to web calendars (11272)
  Services/Calendar/classes/class.ilCalendarCategories.php
Labels: bugfix, php

#5992 Tracking: Learning Progress - Summary (missing explanation / legend) (19414)
  Services/Tracking/classes/repository_statistics/class.ilLPListOfObjectsGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrSummaryTableGUI.php
Labels: bugfix, php

#5991 Tracking: Learning Progress - Summary (missing explanation / legend) (19414) for R7
  Services/Tracking/classes/repository_statistics/class.ilLPListOfObjectsGUI.php
  Services/Tracking/classes/repository_statistics/class.ilTrSummaryTableGUI.php
Labels: bugfix, php

#5984 Search: Context Sensitive Search - Suggestions from ILIAS (11578) for R8
  Services/Search/classes/class.ilMainMenuSearchGUI.php
  Services/Search/classes/class.ilSearchAutoComplete.php
  Services/Search/classes/class.ilSearchGUI.php
  Services/Search/js/SearchMainMenu.js
  Services/Search/templates/default/tpl.main_menu_search.html
Labels: bugfix, php

#5965 Group: Generate member list: No last access data shown (26257)
  Modules/Group/classes/class.ilGroupMembershipGUI.php
  Services/Membership/classes/class.ilMembershipGUI.php
Labels: bugfix, php

#6048 Membership: Printing list of participants in courses not possible (30617)
  Services/Membership/classes/class.ilAttendanceList.php
Labels: bugfix, php

#5887 Changed lang var used for column title for Contributors
  Modules/Wiki/classes/class.ilWikiContributorsTableGUI.php
Labels: improvement

#6053 Startup: Remove `Client List` related code
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#6054 Startup: Remove `ClientList` code
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#6052 Auth: Add cron job to destroy expire sessions
  Services/Authentication/classes/Cron/class.ilAuthDestroyExpiredSessionsCron.php
  Services/Authentication/classes/class.ilSession.php
  Services/Authentication/service.xml
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#6051 Auth: Fix presentation of form without elements
  Services/Authentication/classes/class.ilObjAuthSettingsGUI.php
Labels: bugfix, php

#5209 trunk styles: add scripts to gather style files to push them into a separated repo
  .github/workflows/style-to-repo_trunk.yml
  CI/Style-To-Repo/README.md
  CI/Style-To-Repo/build-and-deploy.sh
  CI/Style-To-Repo/build.sh
  CI/Style-To-Repo/cleanup.sh
  CI/Style-To-Repo/deploy.sh
Labels: improvement

#6035 Auth: Fix displaying invalid code form
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, improvement

#6014 [FIX] remove funky whitespaces, zero joiner and soft hyphens
  src/FileUpload/Processor/FilenameSanitizerPreProcessor.php
  src/Filesystem/Security/Sanitizing/FilenameSanitizerImpl.php
  src/Filesystem/Util.php
  tests/FileUpload/Processor/FilenameOverridePreProcessorTest.php
  tests/Filesystem/Util/FilenameSanitizing.php
Labels: bugfix

#6067 addresses mantis bugreport 37262
  Services/Search/classes/class.ilRepositorySearchGUI.php
Labels: bugfix, php

#5938 UI: URL abstraction for PHP and JS
  src/UI/URLBuilder.php
  src/UI/URLBuilderToken.php
  src/UI/templates/js/Core/dist/ui.js
  src/UI/templates/js/Core/src/core.URLBuilder.js
  src/UI/templates/js/Core/src/core.URLBuilderToken.js
  src/UI/templates/js/Core/src/core.js
  tests/UI/Client/URLBuilder.test.js
  tests/UI/Client/URLBuilderToken.test.js
  tests/UI/URLBuilderTest.php
  tests/UI/URLBuilderTokenTest.php
Labels: improvement, php, javascript

#5890 Dashboard: Remove ilAdvancedSelectionListGUI and ilSubmitButton
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
Labels: improvement, php

#6075 Folder: Sorting in folder for creation date fails (31126)
  Modules/Folder/classes/class.ilObjFolder.php
Labels: bugfix, php

#6084 TA: patch for #37560
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
Labels: bugfix

#5971 Component: Docu of Directories and Namespaceing
  .gitignore
  docs/development/components-and-directories.md
Labels: improvement

#6079 mantis ticket 37075
  Modules/Course/classes/class.ilObjCourse.php
  Modules/Group/classes/class.ilObjGroup.php
Labels: bugfix, php

#6069 mantis ticket 36625
  Modules/Session/classes/class.ilSessionOverviewGUI.php
Labels: bugfix, php

#6066 Calendar: Creating an appointment without edit calendar permission confused (25350)
  Services/Calendar/classes/class.ilCalendarBlockGUI.php
Labels: bugfix, php

#6065 Calendar: Creating an appointment without edit calendar permission confused for R7 (25350)
  Services/Calendar/classes/class.ilCalendarBlockGUI.php
Labels: bugfix, php

#5997 Membership: allow checking whether user may mail to members of course, group or session (22764)
  Services/Membership/classes/class.ilParticipants.php
Labels: bugfix, php

#6047 IASS: Add centralized online status
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentSettingsGUI.php
  Modules/IndividualAssessment/classes/class.ilObjIndividualAssessmentListGUI.php
  Modules/IndividualAssessment/module.xml
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#6089 [Mantis #37524] Ignore JavaScript links in URLs in TestPlayer
  Modules/Test/js/ilTestPlayerQuestionEditControl.js
Labels: bugfix, javascript

#6080 T&A Bugfix #0034340: OrderQuestion switch Keep Form Values
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
Labels: bugfix, php

#5982 T&A Bugfix: SCWizardInputGUI checkInput broken
  Modules/TestQuestionPool/classes/class.ilSingleChoiceWizardInputGUI.php
Labels: bugfix, php

#6021 T&A Bugfix #0037463: Ordering Question (vertical): Answer Picutre Error
  Services/Form/classes/class.ilMultipleImagesAdditionalIndexLevelRemover.php
Labels: bugfix, php
