Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-03, with the labels that each got.

#5457 TA, 36269: write points for matchingPairs during question corrections
  Modules/TestQuestionPool/classes/class.assMatchingQuestion.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
Labels: bugfix

#5109 T&A: Feature: New option for excel export of ILIAS test statistics
  Modules/Test/classes/class.ilCSVTestExport.php
  Modules/Test/classes/class.ilExcelTestExport.php
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestEvaluationData.php
  Modules/Test/classes/class.ilTestEvaluationGUI.php
  Modules/Test/classes/class.ilTestExport.php
  Modules/Test/classes/class.ilTestExportAbstract.php
  Modules/Test/test/ilTestEvaluationDataTest.php
  Modules/TestQuestionPool/classes/class.assClozeTest.php
  Modules/TestQuestionPool/classes/class.assErrorText.php
  Modules/TestQuestionPool/classes/class.assFileUpload.php
  Modules/TestQuestionPool/classes/class.assFlashQuestion.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestion.php
  Modules/TestQuestionPool/classes/class.assImagemapQuestion.php
  Modules/TestQuestionPool/classes/class.assKprimChoice.php
  Modules/TestQuestionPool/classes/class.assLongMenu.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestion.php
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  Modules/TestQuestionPool/classes/class.assNumeric.php
  Modules/TestQuestionPool/classes/class.assOrderingHorizontal.php
  Modules/TestQuestionPool/classes/class.assOrderingQuestion.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assSingleChoice.php
  Modules/TestQuestionPool/classes/class.assTextQuestion.php
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#5630 LUI/Badges: Replace ilAdvancedSelectionListGUI with KS Dropdown
  Services/Badge/classes/class.ilBadgePersonalTableGUI.php
  Services/Badge/classes/class.ilBadgeTableGUI.php
Labels: improvement, php

#5625 Possible Fix for Missing Info-Box After E-Mail-Confirmation
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix

#5611 Refinery: Prevent parser tests from failing when Xdebug is enabled (>=PHP8.1)
  tests/Data/LanguageTagTest.php
  tests/Refinery/Parser/ABNF/BrickTest.php
  tests/Refinery/Parser/ABNF/PrimitivesTest.php
Labels: improvement, php

#5610 Footer goto link: Use plain link instead of button with JS
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/UI/Implementation/Component/MainControls/Renderer.php
  templates/default/070-components/UI-framework/MainControls/_ui-component_footer.scss
  tests/UI/Component/MainControls/FooterTest.php
Labels: kitchen sink, improvement, php

#5594 OrgU: Fix for Mantis #36709 (release_8)
  Modules/OrgUnit/classes/Positions/Authorities/class.ilOrgUnitGenericMultiInputGUI.php
  Modules/OrgUnit/classes/Positions/class.ilOrgUnitPositionFormGUI.php
  Modules/OrgUnit/js/generic_multi_line_input.js
Labels: bugfix

#5596 OrgU: Fix for Mantis #36709 (trunk)
  Modules/OrgUnit/classes/Positions/Authorities/class.ilOrgUnitGenericMultiInputGUI.php
  Modules/OrgUnit/js/generic_multi_line_input.js
Labels: bugfix

#5578 OrgU: Added ROADMAP.md
  Modules/OrgUnit/ROADMAP.md
Labels: improvement

#5541 Setup-README: typo in internal link
  setup/README.md
Labels: improvement

#5516 Implemented HumanReadable DataSize in __toString
  src/Data/DataSize.php
  tests/Data/DataSizeTest.php
Labels: improvement

#5507 [fix] jump to question list
  templates/default/070-components/legacy/Modules/_component_test.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: bugfix

#5524 TA: Vertical drag and drop design and preview rendering
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilAssNestedOrderingElementsInputGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilMultipleNestedOrderingElementsInputGUI.php
  Services/Form/templates/default/tpl.prop_nested_ordering_js.html
  Services/Form/templates/default/tpl.prop_nested_ordering_list.html
  templates/default/070-components/legacy/Modules/_component_test.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: bugfix, php

#5629 Fix #36866: getObjectsForOwner() needs to be static
  Services/Object/classes/class.ilObjectFactory.php
Labels: bugfix, php

#5619 UI: OptionalGroup Set `$null_value_was_explicitly_set` correctly in `withInput`
  src/UI/Implementation/Component/Input/Field/OptionalGroup.php
Labels: bugfix, php

#5633 Services/Component: Ignore dot files and non-directories in plugin scan
  Services/Component/classes/Setup/class.ilComponentBuildPluginInfoObjective.php
  Services/Component/test/Setup/ilComponentBuildPluginInfoObjectiveTest.php
Labels: bugfix

#5556 Bugfix for Mantis 25698
  Services/Table/classes/class.ilTable2GUI.php
Labels: bugfix, php

#5618 UI, Form: 25041, unit tests
  src/UI/Implementation/Component/Input/Container/Form/Form.php
  src/UI/Implementation/Component/Input/Container/Form/Renderer.php
  src/UI/Implementation/Component/Input/Field/Group.php
  src/UI/examples/Input/Container/Form/Standard/with_required_input.php
  src/UI/templates/default/Input/tpl.standard.html
  tests/UI/Component/Input/Container/Form/FormTest.php
  tests/UI/Component/Input/Container/Form/StandardFormTest.php
  tests/UI/Component/Input/Field/GroupInputTest.php
Labels: kitchen sink, improvement, php

#5419 Raise error after session logout for TRUNK
  Services/Dashboard/classes/class.ilDashboardGUI.php
Labels: improvement, php

#5417 Raise error after session logout
  Services/Dashboard/classes/class.ilDashboardGUI.php
Labels: improvement, php

#5634 LSO: 36591/28896, copy post conditions
  Modules/LearningSequence/classes/PostConditions/class.ilLSPostCondition.php
  Modules/LearningSequence/classes/class.ilLSEventHandler.php
  Modules/LearningSequence/classes/class.ilLearningSequenceAppEventListener.php
Labels: bugfix

#5642 Fixed bug #34657: Updating an ILIAS 7.13 installation takes a long time in step 'Install/Update languages'
  Services/Language/classes/Setup/class.ilSetupLanguage.php
  Services/Language/classes/class.ilLanguage.php
  Services/Language/classes/class.ilObjLanguage.php
  Services/Language/classes/ilObjLanguageDBAccess.php
Labels: bugfix, php

#5644 [FIX] DataSize can lead to segmentation fault in PHP
  src/Data/DataSize.php
  tests/Data/DataSizeTest.php
Labels: improvement

#5643 [FIX] DataSize can lead to segmentation fault in PHP 8.1.16
  src/Data/DataSize.php
  tests/Data/DataSizeTest.php
Labels: improvement

#5456 Bugfix 36306: pass size in correct format to ilMapGUI
  Services/ADT/classes/Types/Location/class.ilADTLocationPresentationBridge.php
  Services/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordGUI.php
  Services/Object/classes/class.ilObjectMetaDataBlockGUI.php
Labels: bugfix

#5479 Feature/7/privacy mds for file
  Modules/File/PRIVACY.md
  src/FileUpload/PRIVACY.md
  src/Filesystem/PRIVACY.md
  src/ResourceStorage/PRIVACY.md
Labels: improvement

#5648 Services/Badge: Apply PHP Rector 8.1 transformations
  Services/Badge/GlobalScreen/BadgeNotificationProvider.php
  Services/Badge/GlobalScreen/BadgeToastProvider.php
  Services/Badge/classes/Setup/class.ilBadgeDefinitionProcessor.php
  Services/Badge/classes/class.ilBadge.php
  Services/Badge/classes/class.ilBadgeAssignment.php
  Services/Badge/classes/class.ilBadgeBackpack.php
  Services/Badge/classes/class.ilBadgeHandler.php
  Services/Badge/classes/class.ilBadgeImageTemplate.php
  Services/Badge/classes/class.ilBadgeImageTemplateTableGUI.php
  Services/Badge/classes/class.ilBadgeManagementGUI.php
  Services/Badge/classes/class.ilBadgeManagementSessionRepository.php
  Services/Badge/classes/class.ilBadgePersonalTableGUI.php
  Services/Badge/classes/class.ilBadgeProfileGUI.php
  Services/Badge/classes/class.ilBadgeTableGUI.php
  Services/Badge/classes/class.ilBadgeUserTableGUI.php
  Services/Badge/classes/class.ilObjectBadgeTableGUI.php
Labels: improvement, php

#5599 Portfolio: fix copying of AdvMD when creating from template (36565)
  Modules/Portfolio/Page/class.ilPCAMDForm.php
  Modules/Portfolio/classes/class.ilObjPortfolioBase.php
Labels: bugfix

#5623 [FIX] 0036800: Permissions in question pool is wrong
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewToolbarGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix

#5637 #29983 Adjust choice of best pass in test results export
  Modules/Test/classes/class.ilTestEvaluationUserData.php
Labels: bugfix

#5652 0034862: Notification about deleted threads with not approved postings
  Modules/Forum/classes/class.ilForum.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
Labels: bugfix, php

#5653 0034862: Notification about deleted threads with not approved postings
  Modules/Forum/classes/class.ilForum.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
Labels: bugfix, php

#5654 0034862: Notification about deleted threads with not approved postings
  Modules/Forum/classes/class.ilForum.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
Labels: bugfix, php

#5632 Test: Improve migration of manual scoring status
  Modules/Test/Setup/ilManScoringSettingsToOwnDbTableMigration.php
Labels: improvement, php

#5593 Updated Rector to latest version
  CI/Rector/README.md
  CI/Rector/basic_rector.php
  CI/Rector/code_quality.php
  CI/Rector/ilias_9.php
  CI/Rector/language_level.php
  CI/Rector/php8_rector.php
  composer.json
  composer.lock
Labels: improvement

#5650 [FIX] 0036499: Failed test: Abbruch des Hochladens
  src/UI/templates/js/Input/Field/file.js
Labels: bugfix, php

#5647 possible fix for bug #36884
  webservice/soap/lib/nusoap.php
Labels: bugfix

#5613 MainMenu Administration Custom Sub Item Form: `role_based_visibility` (trunk)
  Services/MainMenu/classes/Administration/class.ilMMSubitemFormGUI.php
Labels: bugfix, php

#5612 MainMenu Administration Custom Sub Item Form: `role_based_visibility`
  Services/MainMenu/classes/Administration/class.ilMMSubitemFormGUI.php
Labels: bugfix, php

#5663 T&A Bugfix #0036907: Reset Pool Sync Broken
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
Labels: bugfix, php

#5661 Lightbox Dark Scheme and Indicators on top
  src/UI/Component/Modal/Factory.php
  src/UI/Component/Modal/Lightbox.php
  src/UI/Implementation/Component/Modal/Lightbox.php
  src/UI/Implementation/Component/Modal/Renderer.php
  src/UI/templates/default/Modal/tpl.lightbox.html
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Component/Modal/LightboxTest.php
Labels: improvement

#5671 Composer: Add patch for symfony/http-kernel
  composer.json
  libs/composer/patches/symfony_httpkernel.patch
Labels: bugfix, dependencies, php

#5669 Notifications: Upgrade to PHP 8.1
  Services/Notifications/ROADMAP.md
  Services/Notifications/classes/Model/OSD/ilOSDNotificationObject.php
  Services/Notifications/classes/Model/ilNotificationConfig.php
  Services/Notifications/classes/Model/ilNotificationLink.php
  Services/Notifications/classes/Model/ilNotificationObject.php
  Services/Notifications/classes/Model/ilNotificationParameter.php
  Services/Notifications/classes/Provider/NotificationCenterProvider.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepository.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepositoryInterface.php
  Services/Notifications/classes/Service/Service.php
  Services/Notifications/classes/Setup/ilNotificationSetupHelper.php
  Services/Notifications/classes/Setup/ilNotificationUpdateAgent.php
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/class.ilObjNotificationAdmin.php
  Services/Notifications/classes/class.ilObjNotificationAdminAccess.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
  Services/Notifications/classes/ilNotificationDatabaseHandler.php
  Services/Notifications/classes/ilNotificationHandler.php
  Services/Notifications/classes/ilNotificationMailHandler.php
  Services/Notifications/classes/ilNotificationOSDGUI.php
  Services/Notifications/classes/ilNotificationOSDHandler.php
  Services/Notifications/classes/ilNotificationSettingsTable.php
  Services/Notifications/classes/ilNotificationSystem.php
  Services/Notifications/classes/ilNotificationUserIterator.php
  Services/Notifications/test/bootstrap.php
  Services/Notifications/test/ilNotificationsBaseTest.php
  Services/Notifications/test/ilServicesNotificationsSuite.php
  Services/Notifications/test/notifications/ilNotificationOSDTest.php
  Services/Table/classes/class.ilTable2GUI.php
Labels: improvement, php

#5679 Components: Add parameter to links and verify request
  Services/Component/classes/Settings/class.ilObjComponentSettingsGUI.php
Labels: bugfix, php

#5683 [ilias8][patch][forum] Fix calling isDir for ALL forum files
  Modules/Forum/classes/class.ilFileDataForum.php
Labels: improvement, php

#5686 fixed bug #36934: Updating languages via setup fails
  Services/Language/classes/Setup/class.ilSetupLanguage.php
Labels: bugfix, php

#5690 T&A: fixes 36939
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolSettingsGeneralGUI.php
Labels: bugfix, php

#5678 PDFGen: Fix Remote Host Access Not Supported
  Services/PDFGeneration/classes/renderer/tcpdf/class.ilTCPDFRenderer.php
Labels: bugfix, php

#5691 Course: Fix Creation of Test from LOK
  Modules/Course/classes/Objectives/class.ilLOEditorGUI.php
Labels: bugfix, php

#5703 Fix declare strict types
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationConfigStoredObjective.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationDefinitionProcessor.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationMetricsCollectedObjective.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationSetupAgent.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationSetupConfig.php
  Services/PDFGeneration/classes/class.ilObjPDFGeneration.php
  Services/PDFGeneration/classes/class.ilObjPDFGenerationAccess.php
  Services/PDFGeneration/classes/class.ilObjPDFGenerationGUI.php
  Services/PDFGeneration/classes/class.ilPDFCompInstaller.php
  Services/PDFGeneration/classes/class.ilPDFGenerationConstants.php
  Services/PDFGeneration/classes/class.ilPDFGenerationJob.php
  Services/PDFGeneration/classes/class.ilPDFGenerationRequest.php
  Services/PDFGeneration/classes/class.ilPDFGeneratorUtils.php
  Services/PDFGeneration/classes/class.ilPDFRendererPlugin.php
  Services/PDFGeneration/classes/factory/class.ilHtmlToPdfTransformerFactory.php
  Services/PDFGeneration/classes/renderer/tcpdf/class.ilTCPDFRenderer.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfig.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfigFormGUI.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfRenderer.php
  Services/PDFGeneration/interfaces/interface.ilPDFRenderer.php
  Services/PDFGeneration/interfaces/interface.ilRendererConfig.php
  Services/PDFGeneration/test/bootstrap.php
  Services/PDFGeneration/test/ilPdfGeneratorConstantsTest.php
  Services/PDFGeneration/test/ilServicesPDFGenerationSuite.php
  Services/PDFGeneration/test/ilWkhtmlToPdfConfigTest.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerConfigStoredObjective.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerSetupAgent.php
  Services/VirusScanner/classes/class.ilVirusScanner.php
  Services/VirusScanner/classes/class.ilVirusScannerClamAV.php
  Services/VirusScanner/classes/class.ilVirusScannerICapClient.php
  Services/VirusScanner/classes/class.ilVirusScannerICapRemote.php
  Services/VirusScanner/classes/class.ilVirusScannerICapRemoteAvClient.php
  Services/VirusScanner/classes/class.ilVirusScannerSophos.php
  Services/VirusScanner/test/VirusScannerBaseTest.php
  Services/VirusScanner/test/VirusScannerFactoryTest.php
  Services/VirusScanner/test/bootstrap.php
  Services/VirusScanner/test/ilServicesVirusScannerSuite.php
Labels: improvement

#5704 Fix declare strict types ILIAS 8
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationConfigStoredObjective.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationDefinitionProcessor.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationMetricsCollectedObjective.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationSetupAgent.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationSetupConfig.php
  Services/PDFGeneration/classes/class.ilObjPDFGeneration.php
  Services/PDFGeneration/classes/class.ilObjPDFGenerationAccess.php
  Services/PDFGeneration/classes/class.ilObjPDFGenerationGUI.php
  Services/PDFGeneration/classes/class.ilPDFCompInstaller.php
  Services/PDFGeneration/classes/class.ilPDFGenerationConstants.php
  Services/PDFGeneration/classes/class.ilPDFGenerationJob.php
  Services/PDFGeneration/classes/class.ilPDFGenerationRequest.php
  Services/PDFGeneration/classes/class.ilPDFGeneratorUtils.php
  Services/PDFGeneration/classes/class.ilPDFRendererPlugin.php
  Services/PDFGeneration/classes/factory/class.ilHtmlToPdfTransformerFactory.php
  Services/PDFGeneration/classes/renderer/tcpdf/class.ilTCPDFRenderer.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfig.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfigFormGUI.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfRenderer.php
  Services/PDFGeneration/interfaces/interface.ilPDFRenderer.php
  Services/PDFGeneration/interfaces/interface.ilRendererConfig.php
  Services/PDFGeneration/test/bootstrap.php
  Services/PDFGeneration/test/ilPdfGeneratorConstantsTest.php
  Services/PDFGeneration/test/ilServicesPDFGenerationSuite.php
  Services/PDFGeneration/test/ilWkhtmlToPdfConfigTest.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerConfigStoredObjective.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerMetricsCollectedObjective.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerSetupAgent.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerSetupConfig.php
  Services/VirusScanner/classes/class.ilVirusScanner.php
  Services/VirusScanner/classes/class.ilVirusScannerAntiVir.php
  Services/VirusScanner/classes/class.ilVirusScannerClamAV.php
  Services/VirusScanner/classes/class.ilVirusScannerFactory.php
  Services/VirusScanner/classes/class.ilVirusScannerICapClient.php
  Services/VirusScanner/classes/class.ilVirusScannerICapRemote.php
  Services/VirusScanner/classes/class.ilVirusScannerICapRemoteAvClient.php
  Services/VirusScanner/classes/class.ilVirusScannerPreProcessor.php
  Services/VirusScanner/classes/class.ilVirusScannerSophos.php
  Services/VirusScanner/test/VirusScannerBaseTest.php
  Services/VirusScanner/test/VirusScannerFactoryTest.php
  Services/VirusScanner/test/bootstrap.php
  Services/VirusScanner/test/ilServicesVirusScannerSuite.php
Labels: improvement

#5676 WorkflowEngine: Modify files to be PSR-12 compliant (declare/license)
  Services/WorkflowEngine/Service/class.InternalRequestService.php
  Services/WorkflowEngine/Service/class.InternalService.php
  Services/WorkflowEngine/Service/class.Service.php
  Services/WorkflowEngine/classes/activities/class.ilEventRaisingActivity.php
  Services/WorkflowEngine/classes/activities/class.ilLoggingActivity.php
  Services/WorkflowEngine/classes/activities/class.ilScriptActivity.php
  Services/WorkflowEngine/classes/activities/class.ilSendMailActivity.php
  Services/WorkflowEngine/classes/activities/class.ilSettingActivity.php
  Services/WorkflowEngine/classes/activities/class.ilStaticMethodCallActivity.php
  Services/WorkflowEngine/classes/activities/class.ilStopWorkflowActivity.php
  Services/WorkflowEngine/classes/activities/class.ilWorkflowEngineMailNotification.php
  Services/WorkflowEngine/classes/class.ilComplexGatewayPlugin.php
  Services/WorkflowEngine/classes/class.ilObjWorkflowEngineAccess.php
  Services/WorkflowEngine/classes/class.ilWorkflowCron.php
  Services/WorkflowEngine/exceptions/ilWorkflowEngineException.php
  Services/WorkflowEngine/exceptions/ilWorkflowFilesystemException.php
  Services/WorkflowEngine/exceptions/ilWorkflowInvalidArgumentException.php
  Services/WorkflowEngine/exceptions/ilWorkflowObjectStateException.php
  Services/WorkflowEngine/interfaces/ilActivity.php
  Services/WorkflowEngine/interfaces/ilDetector.php
  Services/WorkflowEngine/interfaces/ilEmitter.php
  Services/WorkflowEngine/interfaces/ilExternalDetector.php
  Services/WorkflowEngine/interfaces/ilExtractor.php
  Services/WorkflowEngine/interfaces/ilNode.php
  Services/WorkflowEngine/interfaces/ilWorkflow.php
  Services/WorkflowEngine/interfaces/ilWorkflowEngineElement.php
  Services/WorkflowEngine/test/bootstrap.php
  Services/WorkflowEngine/test/ilServicesWorkflowEngineSuite.php
  Services/WorkflowEngine/test/ilWorkflowEngineBaseTest.php
  Services/WorkflowEngine/test/workflows/ilBaseWorkflowTest.php
Labels: bugfix, php

#5598 0036462: Failed test: Abschlusstest beginnen, unterbrechen und wieder…
  Modules/Course/classes/Objectives/class.ilLOUserResults.php
  Modules/Test/classes/class.ilTestLP.php
  Modules/Test/classes/class.ilTestLearningObjectivesStatusGUI.php
  Services/Container/Content/class.ilContainerObjectiveGUI.php
Labels: bugfix

#5454 Bugfix 34349: generate course member list from user gallery
  Services/Membership/classes/class.ilAttendanceList.php
  Services/Membership/classes/class.ilMembershipGUI.php
Labels: bugfix

#5649 Migrate DCL files from File-Objects to direct Access
  Modules/DataCollection/classes/Content/class.ilDclRecordListGUI.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordModel.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclDatatype.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileFieldModel.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileFieldRepresentation.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileRecordFieldModel.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileRecordPresentation.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileRecordQueryObject.php
  Modules/DataCollection/classes/Fields/File/trait.ilDclFileFieldHelper.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadFieldModel.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordRepresentation.php
  Modules/DataCollection/classes/Fields/NReference/class.ilDclNReferenceRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldModel.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldRepresentation.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldFactory.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps9.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionSetupAgent.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionStorageMigration.php
  Modules/DataCollection/classes/Table/class.ilDclTable.php
  Modules/DataCollection/classes/class.ilDataCollectionDataSet.php
  Modules/DataCollection/classes/class.ilDataCollectionExporter.php
  Modules/DataCollection/classes/class.ilDataCollectionStakeholder.php
  Services/ResourceStorage/classes/Setup/class.ilResourceStorageMigrationHelper.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5680 DataCollection: Cherry-pick fix for Mantis 28852
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceRecordFieldModel.php
Labels: bugfix, php

#5710 [FIX] Survey: surveys are now in the repository context (GS).
  Modules/Survey/classes/class.ilObjSurveyGUI.php
Labels: bugfix, php

#5715 Fixed local lang installation
  Services/Language/classes/class.ilObjLanguageDBAccess.php
Labels: bugfix, php

#4929 Remove permanent link input field of footer ILIAS8
  src/UI/Implementation/Component/MainControls/Renderer.php
  src/UI/templates/default/MainControls/footer.less
  src/UI/templates/default/MainControls/tpl.footer.html
  src/UI/templates/js/MainControls/footer.js
  templates/default/delos.css
  tests/UI/Component/MainControls/FooterTest.php
Labels: kitchen sink, improvement, php, javascript

#5207 UI Key-Value Interruptive Item
  Modules/Bibliographic/classes/FieldFilter/class.ilBiblFieldFilterGUI.php
  Services/AdministrativeNotification/classes/class.ilADNNotificationTableGUI.php
  Services/MainMenu/classes/Administration/class.ilMMSubItemTableGUI.php
  Services/MainMenu/classes/Administration/class.ilMMTopItemTableGUI.php
  src/UI/Component/Modal/Factory.php
  src/UI/Component/Modal/Interruptive.php
  src/UI/Component/Modal/InterruptiveItem/Factory.php
  src/UI/Component/Modal/InterruptiveItem/InterruptiveItem.php
  src/UI/Component/Modal/InterruptiveItem/KeyValue.php
  src/UI/Component/Modal/InterruptiveItem/Standard.php
  src/UI/Implementation/Component/Modal/Factory.php
  src/UI/Implementation/Component/Modal/Interruptive.php
  src/UI/Implementation/Component/Modal/InterruptiveItem/Factory.php
  src/UI/Implementation/Component/Modal/InterruptiveItem/InterruptiveItem.php
  src/UI/Implementation/Component/Modal/InterruptiveItem/KeyValue.php
  src/UI/Implementation/Component/Modal/InterruptiveItem/Renderer.php
  src/UI/Implementation/Component/Modal/InterruptiveItem/Standard.php
  src/UI/Implementation/Component/Modal/Renderer.php
  src/UI/examples/Modal/Interruptive/show_modal_on_button_click.php
  src/UI/examples/Modal/Interruptive/show_modal_on_button_click_async_rendered.php
  src/UI/examples/Modal/InterruptiveItem/KeyValue/base.php
  src/UI/examples/Modal/InterruptiveItem/Standard/base.php
  src/UI/templates/default/Modal/tpl.interruptive.html
  src/UI/templates/default/Modal/tpl.keyValueInterruptiveItem.html
  src/UI/templates/default/Modal/tpl.standardInterruptiveItem.html
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Component/Modal/InterruptiveItem/InterruptiveItemFactoryTest.php
  tests/UI/Component/Modal/InterruptiveItem/InterruptiveItemTest.php
  tests/UI/Component/Modal/InterruptiveItem/KeyValueInterruptiveItemTest.php
  tests/UI/Component/Modal/InterruptiveItem/StandardInterruptiveItemTest.php
  tests/UI/Component/Modal/InterruptiveTest.php
Labels: kitchen sink, improvement

#5716 fixed local lang installation for setup aswell
  Services/Language/classes/Setup/class.ilSetupLanguage.php
Labels: improvement, php

#5666 ilUtil::makeClickable: Open links in new tabs
  Services/Utilities/classes/class.ilUtil.php
  Services/Utilities/test/ilServicesUtilitiesSuite.php
  Services/Utilities/test/ilUtilTest.php
  Services/Utilities/test/ilUtilsPreventTest.php
  src/Refinery/String/MakeClickable.php
  tests/Refinery/String/MakeClickableTest.php
Labels: bugfix, php

#5724 T&A Added missing lang var
  lang/ilias_en.lang
Labels: improvement

#5708 Update Dependencies after Release v7.19
  composer.json
  composer.lock
  libs/composer/patches/symfony_httpkernel.patch
Labels: dependencies, php

#5707 Update Dependencies after Release v6.22
  composer.json
  composer.lock
Labels: dependencies, php

#5689 [FEATURE] UI: introduced league/commonmark as dependency.
  composer.json
  composer.lock
Labels: improvement, php

#5636 T&A #32195: Specific Feedback for Each Answer provided: Not necessa…
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  Modules/Test/templates/default/tpl.tst_player_response_modal.html
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/templates/default/tpl.qpl_question_preview.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#5709 News/Cron: Makes handling of aggr. membership report more robust
  Services/Membership/classes/class.ilMembershipCronNotifications.php
Labels: bugfix, php

#5657 Fix crs to course typo
  Modules/Course/classes/class.ilObjCourse.php
Labels: improvement

#5684 T&A 0036799 Akkordion content printed
  templates/default/delos.css
  templates/default/less/print.less
Labels: bugfix

#5723 [FIX] UI: OptionalGroup now is only required if explicitly set.
  src/UI/Implementation/Component/Input/Field/OptionalGroup.php
  src/UI/Implementation/Component/Input/Field/Renderer.php
  src/UI/examples/Input/Field/OptionalGroup/with_required_sub_inputs.php
  tests/UI/Component/Input/Field/OptionalGroupInputTest.php
Labels: bugfix, kitchen sink, php

#5738 Refactored Notifications to match GS Refactorement
  Services/Notifications/classes/Provider/NotificationToastProvider.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepository.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
  Services/Notifications/classes/ilNotificationHandler.php
  Services/Notifications/classes/ilNotificationOSDHandler.php
  Services/Notifications/classes/ilNotificationSystem.php
  Services/Notifications/templates/default/notifications.js
  Services/Notifications/test/notifications/ilNotificationOSDTest.php
  Services/User/classes/class.ilPublicUserProfileGUI.php
Labels: bugfix, php

#5740 Refactored Notifications to match GS Refactorement for TRUNK
  Services/Notifications/classes/Provider/NotificationToastProvider.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepository.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
  Services/Notifications/classes/ilNotificationHandler.php
  Services/Notifications/classes/ilNotificationOSDHandler.php
  Services/Notifications/classes/ilNotificationSystem.php
  Services/Notifications/templates/default/notifications.js
  Services/Notifications/test/notifications/ilNotificationOSDTest.php
  Services/User/classes/class.ilPublicUserProfileGUI.php
Labels: bugfix, php

#5745 Toasts: Prevent link action duplications
  Services/Notifications/classes/Provider/NotificationToastProvider.php
Labels: bugfix, php

#5746 Toasts: Prevent link action duplications for TRUNK
  Services/Notifications/classes/Provider/NotificationToastProvider.php
Labels: bugfix, php

#5730 Add Who is online Toast provider and removed notifcations
  Services/Awareness/classes/Provider/AwarenessToastProvider.php
  Services/Awareness/classes/class.WidgetManager.php
Labels: improvement, php

#5748 fixed bug #37037: Language/Setup: Updating the installation removes plugin translations
  Services/Language/classes/Setup/class.ilSetupLanguage.php
  Services/Language/classes/class.ilObjLanguageDBAccess.php
Labels: bugfix, php

#5749 Add Who is online Toast provider and removed notifcations
  Services/Awareness/classes/Provider/AwarenessToastProvider.php
  Services/Awareness/classes/class.WidgetManager.php
Labels: improvement, php

#5750 Change date filter translations
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5751 changed date filter translations
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5665 Object: Refactor AutoRating
  Modules/File/classes/Processors/class.ilObjFileAbstractProcessor.php
  Modules/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
  Modules/Wiki/classes/class.ilObjWikiGUI.php
  Services/Object/classes/class.ilObject.php
  Services/Object/classes/class.ilObject2GUI.php
  Services/Object/classes/class.ilObjectGUI.php
Labels: bugfix

#5758 User: Fix user language in `ilCronDeleteInactiveUserReminderMailNotif…
  Services/User/classes/class.ilCronDeleteInactiveUserReminderMailNotification.php
Labels: bugfix, php
