Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-12, with the labels that each got.

#6692 StudyProgramme: fix internal links in custom md (28060)
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeGUI.php
Labels: bugfix, php

#6679 Bugfix: 0039089: Forum migration "forum.ilForumDraftsFilesMigration"
  components/ILIAS/Forum/classes/Setup/Migrations/class.ilForumDraftsFilesMigration.php
  components/ILIAS/Forum/classes/Setup/Migrations/class.ilForumPostingFilesMigration.php
Labels: bugfix, php

#6678 Bugfix: 0039089: Forum migration "forum.ilForumDraftsFilesMigration" …
  Modules/Forum/classes/Setup/Migrations/class.ilForumDraftsFilesMigration.php
  Modules/Forum/classes/Setup/Migrations/class.ilForumPostingFilesMigration.php
Labels: bugfix, php

#6704 T&A Bugfix: ilObjTestSettingsMainGUI missing parameter
  components/ILIAS/Test/classes/class.ilObjTestGUI.php
Labels: improvement

#6588 Fix/0038592/9/export certificate
  Services/Certificate/classes/Helper/ilCertificateUtilHelper.php
  Services/Certificate/classes/Template/Action/Export/class.ilCertificateTemplateExportAction.php
  Services/Certificate/test/ilCertificateBackgroundImageUploadTest.php
  Services/Certificate/test/ilCertificateLearningHistoryProviderTest.php
  Services/Certificate/test/ilCertificatePdfActionTest.php
  Services/Certificate/test/ilCertificateTemplateDeleteActionTest.php
  Services/Certificate/test/ilCertificateTemplateExportActionTest.php
  Services/Certificate/test/ilCertificateTemplateImportActionTest.php
  Services/Certificate/test/ilCertificateTemplatePreviewActionTest.php
  Services/Certificate/test/ilCoursePlaceholderValuesTest.php
  Services/Certificate/test/ilDefaultPlaceholderValuesTest.php
  Services/Certificate/test/ilExercisePlaceHolderValuesTest.php
  Services/Certificate/test/ilScormPlaceholderValuesTest.php
  Services/Certificate/test/ilTestPlaceHolderValuesTest.php
  Services/Certificate/test/ilXlsFoParserTest.php
Labels: bugfix

#6703 Notifications: Add logging
  Services/Notifications/classes/Service/Service.php
  Services/Notifications/classes/ilNotificationSystem.php
  Services/Notifications/service.xml
Labels: improvement, php

#6707 Notifications: Add logging for TRUNK
  components/ILIAS/Notifications/classes/Service/Service.php
  components/ILIAS/Notifications/classes/ilNotificationSystem.php
  components/ILIAS/Notifications/service.xml
Labels: improvement, php

#6700 UI: adjust form footer cmd button's position. (#38928)
  templates/default/070-components/legacy/Services/_component_form.scss
  templates/default/delos.css
Labels: bugfix

#6708 Restore mail notification setting
  Services/Notifications/ROADMAP.md
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
Labels: bugfix, php

#6715 Init: 38903, check for parameter
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#6719 Fix flipped CI roles
  CI/PHPStan/constants.php
Labels: bugfix, php

#6548 Services/Contact: Readd inviteToChat method (ILIAS 10)
  components/ILIAS/Chatroom/classes/class.ilChatroom.php
  components/ILIAS/Chatroom/js/iliaschat.jquery.js
  components/ILIAS/Chatroom/tests/class.ilObjChatroomAccessTest.php
  components/ILIAS/Contact/BuddySystem/classes/tables/class.ilBuddySystemRelationsTableGUI.php
  components/ILIAS/Contact/classes/class.ilContactGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#6732 Fix typo in DataCollection fth check
  Modules/DataCollection/classes/Fields/class.ilDclFieldFactory.php
Labels: bugfix, php

#6536 Services/DataProtection: Add missing lang var. Add missing check. (trunk)
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#6533 Services/LegalDocuments: Handle old & invalid criterion data (trunk)
  components/ILIAS/LegalDocuments/classes/Condition/Definitions/UserLanguageDefinition.php
Labels: bugfix, php

#6531 Services/LegalDocuments: Fix wrong name for Wiring::hasPublicPage
  components/ILIAS/LegalDocuments/classes/Setup/UpdateSteps.php
  components/ILIAS/LegalDocuments/classes/Wiring.php
Labels: bugfix, php

#6743 Calendar: Fix accessing undefined array key
  Services/Calendar/classes/class.ilCalendarRemoteAccessHandler.php
Labels: bugfix, php

#6401 BOOK: adjust deletion of booking objects. (#21705)
  Modules/BookingManager/Objects/class.ilBookingObject.php
  Modules/BookingManager/Objects/class.ilBookingObjectGUI.php
  Modules/BookingManager/Reservations/class.ilBookingReservationDBRepository.php
Labels: bugfix

#6713 UI: add padding to PageEditor's Content Legend. (#38580)
  templates/default/070-components/legacy/Services/_component_copage.scss
  templates/default/delos.css
Labels: bugfix

#6716 UI: change height of Subform to avoid overlapping items and add missi…
  Services/Form/js/Form.js
  Services/Form/templates/default/tpl.property_form.html
Labels: bugfix

#6778 Remove link to unpublished profiles
  Services/Contact/BuddySystem/classes/class.ilBuddySystemNotification.php
Labels: bugfix, php

#6779 Remove link to unpublished profiles for TRUNK
  components/ILIAS/Contact/BuddySystem/classes/class.ilBuddySystemNotification.php
Labels: bugfix, php

#6722 Release_9: Fix new lines in written text causing mail to be malformed
  Modules/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordModel.php
  Modules/DataCollection/classes/class.ilObjDataCollection.php
Labels: bugfix, php

#6681 LSO: add missing lang-vars for editor
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#6631 #38956 fix error on new scorm1.2 version upload
  Modules/ScormAicc/classes/class.ilObjSCORMLearningModuleGUI.php
Labels: bugfix

#6690 OrgUnit: fix internal links in custom md (24875)
  Modules/OrgUnit/classes/class.ilObjOrgUnitGUI.php
Labels: bugfix, php

#6789 Update Dependencies after Release v7.27
  composer.lock
Labels: technical board, dependencies

#6783 Maps: 39144, check for input
  Services/Form/classes/class.ilLocationInputGUI.php
Labels: bugfix

#6750 LegalDocuments: Add default radio option
  Services/DataProtection/classes/class.ilObjDataProtectionGUI.php
  Services/LegalDocuments/classes/Administration.php
  Services/LegalDocuments/classes/Condition/Definitions/RoleDefinition.php
  Services/LegalDocuments/classes/Condition/Definitions/UserLanguageDefinition.php
  Services/LegalDocuments/classes/DefaultMappings.php
  Services/LegalDocuments/classes/Provide/ProvideDocument.php
  Services/LegalDocuments/classes/SelectionMap.php
  Services/LegalDocuments/classes/SlotConstructor.php
  Services/LegalDocuments/classes/UseSlot.php
  Services/LegalDocuments/classes/Wiring.php
  Services/LegalDocuments/test/Condition/Definitions/RoleDefinitionTest.php
  Services/LegalDocuments/test/DefaultMappingsTest.php
  Services/LegalDocuments/test/Provide/ProvideDocumentTest.php
  Services/LegalDocuments/test/SlotConstructorTest.php
  Services/LegalDocuments/test/WiringTest.php
Labels: bugfix, php

#6751 LegalDocuments: Add default radio option
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  components/ILIAS/LegalDocuments/classes/Administration.php
  components/ILIAS/LegalDocuments/classes/Condition/Definitions/RoleDefinition.php
  components/ILIAS/LegalDocuments/classes/DefaultMappings.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvideDocument.php
  components/ILIAS/LegalDocuments/classes/SelectionMap.php
  components/ILIAS/LegalDocuments/classes/SlotConstructor.php
  components/ILIAS/LegalDocuments/classes/UseSlot.php
  components/ILIAS/LegalDocuments/classes/Wiring.php
  components/ILIAS/LegalDocuments/tests/Condition/Definitions/RoleDefinitionTest.php
  components/ILIAS/LegalDocuments/tests/DefaultMappingsTest.php
  components/ILIAS/LegalDocuments/tests/Provide/ProvideDocumentTest.php
  components/ILIAS/LegalDocuments/tests/SlotConstructorTest.php
  components/ILIAS/LegalDocuments/tests/WiringTest.php
Labels: bugfix, php

#6793 ilias mantis ticket 35566
  Services/Calendar/classes/class.ilCalendarPresentationGUI.php
Labels: bugfix, php

#6782 Calendar: display consultation hours in repository in additional block (37245)
  Services/Block/classes/class.ilColumnGUI.php
  Services/Calendar/classes/ConsultationHours/class.ilConsultationHourUtils.php
  Services/Calendar/classes/class.ilCalendarBlockGUI.php
  Services/Calendar/classes/class.ilConsultationHoursCalendarBlockGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#6794 ilias mantis ticket 38783
  Services/Calendar/classes/class.ilCalendarCategoryGUI.php
Labels: bugfix, php

#6798 UI: Fix Substr on MB-String
  src/UI/Implementation/Component/Symbol/Avatar/Letter.php
Labels: bugfix, kitchen sink, php

#6792 mantis ticket 38904
  Modules/Exercise/InstructionFile/InstructionFileManager.php
  Services/Calendar/classes/BackgroundTasks/class.ilCalendarCopyFilesToTempDirectoryJob.php
  Services/Calendar/classes/BackgroundTasks/class.ilCalendarRessourceStorageCopyDefinition.php
  Services/Calendar/classes/BackgroundTasks/class.ilDownloadFilesBackgroundTask.php
  Services/Calendar/classes/FileHandler/class.ilAppointmentExerciseFileHandler.php
  Services/Calendar/classes/FileHandler/class.ilFileProperty.php
Labels: bugfix, php

#6802 2023-12-15 sorted hun version
  lang/ilias_hu.lang
Labels: improvement

#6717 Init: 39263, re-init refinery with user to pass correct language setings
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix

#6806 ilias mantis ticket 39461
  Services/Export/classes/ImportHandler/File/XML/Export/class.ilHandler.php
Labels: bugfix, php

#6810 ilias mantis ticket 38904 adjustments
  Services/Calendar/classes/BackgroundTasks/class.ilCalendarCopyFilesToTempDirectoryJob.php
  Services/Calendar/classes/BackgroundTasks/class.ilCalendarRessourceStorageCopyDefinition.php
  Services/Calendar/classes/BackgroundTasks/class.ilDownloadFilesBackgroundTask.php
  Services/Calendar/classes/FileHandler/class.ilFileProperty.php
Labels: bugfix, php

#6830 UI: validate HTML (move ids for date- and duration input, remove placeholder-attribute)
  Modules/Test/test/ScoreSettingsTest.php
  src/UI/Implementation/Component/Input/Field/Renderer.php
  src/UI/templates/default/Input/tpl.datetime.html
  tests/UI/Component/Input/Field/DurationInputTest.php
Labels: bugfix, kitchen sink

#6834 0029409: Failed test: Datei zur Kursinfo hinzufügen
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#6839 0039146: Failed test
  Services/Membership/classes/class.ilMembershipGUI.php
Labels: bugfix, php

#6844 9/UI/print no general display block 39256
  templates/default/070-components/UI-framework/Layout/_ui-component_standardpage.scss
  templates/default/delos.css
Labels: bugfix
