Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-08, with the labels that each got.

#6095 Object: Fix Error Propagation
  Modules/Folder/classes/class.ilObjFolderGUI.php
  Modules/HTMLLearningModule/classes/class.ilObjFileBasedLMGUI.php
  Modules/LearningModule/classes/class.ilObjContentObjectGUI.php
  Modules/SurveyQuestionPool/classes/class.ilObjSurveyQuestionPoolGUI.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Services/Object/classes/class.ilObjectGUI.php
Labels: bugfix

#6159 Course: Remove Setting of Online Status
  Modules/Course/classes/class.ilObjCourse.php
Labels: improvement

#5932 Fix sending header instead of requesting return headers in return body
  Services/WebServices/RPC/classes/class.ilRpcClient.php
Labels: bugfix, php

#6202 Certificate: Fix FO to XHTML transformation if `font-size` is used
  Services/Certificate/xml/fo2xhtml.xsl
Labels: bugfix

#5781 Chatroom: Revamp Repository Chat (ILIAS 9)
  Modules/Chatroom/classes/AccessBridge.php
  Modules/Chatroom/classes/class.ilChatroomAdmin.php
  Modules/Chatroom/classes/class.ilObjChatroomGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomViewGUI.php
  Modules/Chatroom/js/chat.js
  Modules/Chatroom/js/iliaschat.jquery.js
  Modules/Chatroom/templates/default/tpl.chatroom.html
  Modules/Chatroom/templates/default/tpl.chatroom_send_message_form.html
  Services/Object/classes/class.ilObjectGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/070-components/legacy/Modules/_component_chatroom.scss
  templates/default/delos.css
Labels: improvement, php, javascript

#6203 T&A: fix for 37202
  Modules/Test/classes/class.ilObjTestAccess.php
Labels: bugfix, php

#6190 T&A Bugfix #0037651: No question pool selected when deleting from Test
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#6194 TA Bug 37663
  Modules/Test/classes/class.ilTestExportGUI.php
Labels: bugfix

#6191 Docu: Added Skill Service How-To
  Services/Skill/use-skill-service.md
Labels: documentation

#6155 0037633: T&A Administration Crash when "Activate Manual Scoring for" all questions are deactivated
  Modules/Test/classes/class.ilObjAssessmentFolderGUI.php
Labels: bugfix, php

#6204 Trunk: T&A - Fix int value used as parameter in ilRadioOption obj creation
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: improvement

#6186 Re-Added ImageMagick as dependency since T&A uses it
  docs/configuration/install.md
Labels: improvement, documentation

#6207 Database: Fix Uninitialized Variable in ilDatabaseUpdateObjective
  Services/Database/classes/Setup/class.ilDatabaseUpdatedObjective.php
Labels: bugfix, php

#6172 T&A Feature #0018295: Modal needed finish Test
  Modules/Test/classes/class.ilTestNavigationToolbarGUI.php
  Modules/Test/classes/class.ilTestOutputGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestServiceGUI.php
  Modules/Test/classes/tables/class.ilListOfQuestionsTableGUI.php
  Modules/Test/js/ilTestPlayerQuestionEditControl.js
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#6218 fix mantis bug #37702: Placeholders get lost along with HTML tags in langvars
  Services/Language/README.md
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#5526 Poll Improvements
  Modules/Poll/README.md
  Modules/Poll/classes/BlockGUI/Answers/class.ilPollAnswersHandler.php
  Modules/Poll/classes/BlockGUI/Answers/class.ilPollAnswersRenderer.php
  Modules/Poll/classes/BlockGUI/Results/class.ilPollResultsHandler.php
  Modules/Poll/classes/BlockGUI/Results/class.ilPollResultsRenderer.php
  Modules/Poll/classes/BlockGUI/class.ilPollBlockGUI.php
  Modules/Poll/classes/BlockGUI/class.ilPollCommentsHandler.php
  Modules/Poll/classes/BlockGUI/class.ilPollContentRenderer.php
  Modules/Poll/classes/BlockGUI/class.ilPollStateInfo.php
  Modules/Poll/classes/class.ilObjPoll.php
  Modules/Poll/classes/class.ilObjPollAccess.php
  Modules/Poll/classes/class.ilObjPollGUI.php
  Modules/Poll/classes/class.ilPollAnswerTableGUI.php
  Modules/Poll/classes/class.ilPollBlock.php
  Modules/Poll/classes/class.ilPollBlockGUI.php
  Modules/Poll/classes/class.ilPollUserTableGUI.php
  Modules/Poll/templates/default/tpl.block.html
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/070-components/legacy/Modules/_component_poll.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: improvement

#6125 PRG: filter user by permissions if 'mail to assigned user' is calle…
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDIC.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMailMemberSearchGUI.php
Labels: bugfix

#6227 Object: fix import
  Services/Object/classes/class.ilObjectGUI.php
Labels: bugfix, php

#6220 T&A Bugfix #0037650: Title of question pools are not updated in Tests
  Modules/Test/classes/class.ilTestRandomQuestionSetSourcePoolDefinitionList.php
Labels: bugfix

#6223 T&A Feature #0028788: Test Export Manual Feedback Hint
  Modules/Test/classes/class.ilTestExportGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#6102 ilStartUpGUI / TOS: Valid logout URL (trunk)
  Services/Init/classes/class.ilStartUpGUI.php
  Services/TermsOfService/classes/class.ilTermsOfServiceWithdrawalGUIHelper.php
  Services/User/classes/Provider/UserMetaBarProvider.php
Labels: bugfix, php

#6101 ilStartUpGUI / TOS: Valid logout URL
  Services/Init/classes/class.ilStartUpGUI.php
  Services/TermsOfService/classes/class.ilTermsOfServiceWithdrawalGUIHelper.php
  Services/User/classes/Provider/UserMetaBarProvider.php
Labels: bugfix, php

#6237 T&A Bugfix errors in ilObjTestGUI
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilTestExpressPageObjectGUI.php
Labels: improvement

#6112 UI/DataTable: async actions with tokens from URLBuilder
  src/UI/Component/Table/Action/Action.php
  src/UI/Component/Table/Action/Factory.php
  src/UI/Component/Table/Factory.php
  src/UI/Implementation/Component/Table/Action/Action.php
  src/UI/Implementation/Component/Table/Action/Factory.php
  src/UI/Implementation/Component/Table/Data.php
  src/UI/Implementation/Component/Table/Renderer.php
  src/UI/ROADMAP.md
  src/UI/URLBuilder.php
  src/UI/URLBuilderToken.php
  src/UI/examples/Table/Action/Multi/base.php
  src/UI/examples/Table/Action/Single/base.php
  src/UI/examples/Table/Action/Standard/base.php
  src/UI/examples/Table/Data/base.php
  src/UI/examples/Table/Data/with_actions.php
  src/UI/templates/default/Table/tpl.datatable.html
  src/UI/templates/js/Core/dist/core.js
  src/UI/templates/js/Core/src/core.URLBuilder.js
  src/UI/templates/js/Table/dist/datatable.js
  src/UI/templates/js/Table/dist/presentationtable.js
  src/UI/templates/js/Table/dist/table.min.js
  src/UI/templates/js/Table/rollup.config.js
  src/UI/templates/js/Table/src/Params.js
  src/UI/templates/js/Table/src/datatable.class.js
  src/UI/templates/js/Table/src/datatable.factory.js
  src/UI/templates/js/Table/src/datatable.js
  src/UI/templates/js/Table/src/table.js
  tests/UI/Client/Table/Data/data.table.test.js
  tests/UI/Client/URLBuilder.test.js
  tests/UI/Component/Table/Action/ActionFactoryTest.php
  tests/UI/Component/Table/Action/ActionTest.php
  tests/UI/Component/Table/DataRendererTest.php
  tests/UI/Component/Table/DataTest.php
  tests/UI/URLBuilderTest.php
Labels: kitchen sink, improvement

#6240 [trunk] Introducing ilDBInterface::primaryExistsByFields to check if a specific primary key exists in database
  Services/Database/classes/PDO/class.ilDBPdo.php
  Services/Database/interfaces/interface.ilDBInterface.php
Labels: improvement

#6239 [release_8] Introducing ilDBInterface::primaryExistsByFields to check if a specific primary key exists in database
  Services/Database/classes/PDO/class.ilDBPdo.php
  Services/Database/interfaces/interface.ilDBInterface.php
Labels: improvement

#6238 [release_7] Introducing ilDBInterface::primaryExistsByFields to check if a specific primary key exists in database
  Services/Database/classes/PDO/class.ilDBPdo.php
  Services/Database/interfaces/interface.ilDBInterface.php
Labels: improvement

#6234 LSO: include check if lso abstract or extro image exists. If not do n…
  Modules/LearningSequence/classes/Settings/class.ilLearningSequenceFilesystem.php
Labels: bugfix, php

#6149 UI/Init: Add autocomplete="off" for password fields
  Services/Init/classes/class.ilStartUpGUI.php
  src/UI/Component/Input/Field/Factory.php
  src/UI/templates/default/Input/tpl.password.html
  tests/UI/Component/Input/Field/PasswordInputTest.php
Labels: improvement

#6200 UI KS Feature: ViewControl Mode moved to the right side
  src/UI/Implementation/Component/ViewControl/Renderer.php
  src/UI/templates/default/Panel/tpl.listing_standard.html
  src/UI/templates/default/Panel/tpl.secondary.html
  src/UI/templates/default/Panel/tpl.standard.html
  templates/default/070-components/UI-framework/Panel/_ui-component_panel.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Component/Panel/PanelListingTest.php
  tests/UI/Component/Panel/PanelSecondaryLegacyTest.php
  tests/UI/Component/Panel/PanelSecondaryListingTest.php
  tests/UI/Component/Panel/PanelTest.php
Labels: kitchen sink, improvement, php

#6232 Session: fix import of material assignment (25992)
  Modules/Session/classes/class.ilSessionDataSet.php
Labels: bugfix, php

#6251 [FIX] 0031534: Identical Page Titles
  Services/UICore/classes/Screen/PageContentProvider.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: bugfix

#6246 Dash Bugfix: Fix lng of dash blocks outside of dashboard
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: bugfix, php

#6249 Group: fix import/export of News, Map, admission link
  Modules/Group/classes/class.ilGroupXMLParser.php
  Modules/Group/classes/class.ilGroupXMLWriter.php
  xml/ilias_grp_7.dtd
Labels: bugfix, php

#6228 Course: expand export/import (24733)
  Modules/Course/classes/class.ilCourseXMLParser.php
  Modules/Course/classes/class.ilCourseXMLWriter.php
  xml/ilias_crs_7.dtd
Labels: bugfix, php

#6256 [FIX] 0025388: Group and Course XML parser ignore empty spaces in ContainerSetting element
  Modules/Group/classes/class.ilGroupXMLParser.php
Labels: bugfix

#6258 9/legacy-UI header image repo page title 37668
  templates/default/070-components/legacy/_component_headline.scss
  templates/default/delos.css
Labels: improvement

#6253 9/UI/counter fix badge 37673
  templates/default/070-components/UI-framework/Counter/_ui-component_counter.scss
  templates/default/delos.css
Labels: bugfix

#6254 Tests & Notices 8.2
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilTestEvaluationUserData.php
  Modules/Test/test/ilObjTestGUITest.php
  Modules/Test/test/ilObjTestSettingsScoringResultsGUITest.php
  Modules/Test/test/ilTestBaseTestCase.php
  Modules/Test/test/tables/ilTestParticipantsTableGUITest.php
  Modules/TestQuestionPool/test/assQuestionSuggestedSolutionTest.php
Labels: bugfix, php

#6263 LegacyUI/SplitButton: Fix padding of buttons in split button
  templates/default/delos.css
  templates/default/delos.less
  templates/default/less/Services/UIComponent/SplitButton/delos.less
Labels: bugfix, php

#6266 [FIX] 0037785: Search does not show the correct suggestions
  Services/Search/classes/class.ilQueryParser.php
Labels: bugfix

#6255 Soap response timeout in setup config
  Services/WebServices/SOAP/classes/class.ilSoapClient.php
  Services/WebServices/classes/Setup/class.ilWebServicesConfigStoredObjective.php
  Services/WebServices/classes/Setup/class.ilWebServicesSetupAgent.php
  Services/WebServices/classes/Setup/class.ilWebServicesSetupConfig.php
Labels: improvement, php

#6081 T&A 0016123 Fix Multiple issues related to linking answers and feedback
  Modules/TestQuestionPool/classes/class.assAnswerMultipleResponseImage.php
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoice.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.ilMultipleChoiceWizardInputGUI.php
  Modules/TestQuestionPool/classes/class.ilSingleChoiceWizardInputGUI.php
Labels: bugfix, php

#5810 UI: Entity Representation
  Services/Init/classes/Dependencies/InitUIFramework.php
  src/UI/Component/Entity/Entity.php
  src/UI/Component/Entity/Factory.php
  src/UI/Component/Entity/Standard.php
  src/UI/Component/Listing/Entity/DataRetrieval.php
  src/UI/Component/Listing/Entity/EntityListing.php
  src/UI/Component/Listing/Entity/Factory.php
  src/UI/Component/Listing/Entity/Mapping.php
  src/UI/Component/Listing/Entity/RecordToEntity.php
  src/UI/Component/Listing/Entity/Standard.php
  src/UI/Component/Listing/Factory.php
  src/UI/Component/Listing/Property.php
  src/UI/Factory.php
  src/UI/Implementation/Component/Entity/Entity.php
  src/UI/Implementation/Component/Entity/Factory.php
  src/UI/Implementation/Component/Entity/Renderer.php
  src/UI/Implementation/Component/Entity/Standard.php
  src/UI/Implementation/Component/Listing/Entity/EntityListing.php
  src/UI/Implementation/Component/Listing/Entity/Factory.php
  src/UI/Implementation/Component/Listing/Entity/Renderer.php
  src/UI/Implementation/Component/Listing/Entity/Standard.php
  src/UI/Implementation/Component/Listing/Factory.php
  src/UI/Implementation/Component/Listing/Listing.php
  src/UI/Implementation/Component/Listing/Property.php
  src/UI/Implementation/Component/Listing/Renderer.php
  src/UI/Implementation/Factory.php
  src/UI/examples/Entity/Standard/base.php
  src/UI/examples/Entity/Standard/semantic_groups.php
  src/UI/examples/Listing/Entity/Standard/base.php
  src/UI/examples/Listing/Property/base.php
  src/UI/templates/default/Entity/tpl.entity.html
  src/UI/templates/default/Listing/tpl.entitylisting.html
  src/UI/templates/default/Listing/tpl.propertylisting.html
  templates/default/070-components/UI-framework/Entity/_ui-component_entity.scss
  templates/default/070-components/UI-framework/Listing/_ui-component_entitylisting.scss
  templates/default/070-components/UI-framework/Listing/_ui-component_properties.scss
  templates/default/070-components/_index.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Base.php
  tests/UI/Component/Entity/EntityTest.php
  tests/UI/Component/Listing/Entity/EntityListingTest.php
  tests/UI/Component/Listing/ListingFactoryTest.php
  tests/UI/Component/Listing/ListingTest.php
  tests/UI/Component/Listing/Property/PropertyListingTest.php
  tests/UI/MainFactoryTest.php
Labels: kitchen sink, improvement, php

#6245 Bulky Dropzone
  Services/ResourceStorage/classes/Collections/View/UploadBuilder.php
  src/UI/Component/Dropzone/File/Standard.php
  src/UI/Implementation/Component/Dropzone/File/Renderer.php
  src/UI/Implementation/Component/Dropzone/File/Standard.php
  src/UI/templates/default/Dropzone/tpl.dropzone.html
  templates/default/010-settings/legacy-settings/_legacy-settings_dropzone.scss
  templates/default/070-components/UI-framework/Dropzone/_ui-component_dropzone.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Component/Dropzone/File/StandardTest.php
Labels: jour fixe, improvement

#6269 [FIX] 0037812: Identical Page Title for Subtabs
  Services/UICore/classes/Screen/PageContentProvider.php
Labels: bugfix

#6272 Test: Fix datetime handling with start/end
  Modules/Test/classes/MainSettings/ilObjTestSettingsAccess.php
Labels: bugfix, php

#6275 Test: Fix availability datetime handling
  Modules/Test/classes/MainSettings/class.ilObjTestSettingsMainGUI.php
Labels: bugfix, php

#5929 T&A Bugfix #0031276: Cannot add copied questions
  Modules/Test/Service/class.InternalRequestService.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/tables/class.ilTestQuestionBrowserTableGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionList.php
Labels: bugfix, php

#6267 DC refactor SelectInputGUI Switcher to Dropdown for LUI
  Modules/DataCollection/classes/Content/class.ilDclRecordListGUI.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldListGUI.php
  Modules/DataCollection/classes/Helpers/class.ilDclSwitcher.php
  Modules/DataCollection/classes/Table/class.ilDclTableEditGUI.php
  Modules/DataCollection/classes/TableView/class.ilDclTableViewGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#6280 LDAP: Switch from `ilAdvancedSelectionListGUI` to `UI/Dropdown`
  Services/LDAP/classes/class.ilLDAPServerTableGUI.php
Labels: improvement, php

#5964 Feature/9/irss exc instruction files
  Modules/Exercise/Assignment/class.ilExAssignment.php
  Modules/Exercise/Assignment/class.ilExAssignmentEditorGUI.php
  Modules/Exercise/Assignment/class.ilExAssignmentGUI.php
  Modules/Exercise/classes/Setup/class.Agent.php
  Modules/Exercise/classes/Setup/class.ilExerciseDBUpdateSteps.php
  Modules/Exercise/classes/Setup/class.ilExerciseInstructionFilesMigration.php
  Modules/Exercise/classes/Stakeholder/class.ilExcInstructionFilesStakeholder.php
  Modules/Exercise/classes/class.ilFSWebStorageExercise.php
Labels: improvement, php

#6283 UI/Launcher: #37835, form needs target-url
  src/UI/Implementation/Component/Launcher/Inline.php
  src/UI/examples/Launcher/Inline/with_fields.php
  tests/UI/Component/Launcher/LauncherInlineTest.php
Labels: bugfix, kitchen sink, php

#5801 Dashboard (ILIAS 9): Feature: Global Sorting for Dashboard Sections
  Services/Block/classes/class.ilColumnGUI.php
  Services/Dashboard/Administration/classes/class.ilDashboardSortationTableGUI.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  Services/Dashboard/Block/classes/class.ilMembershipBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashboardSidePanelSettingsRepository.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewSettings.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  Services/Dashboard/templates/default/tpl.dashboard_sortation_row.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#5804 Dashboard (ILIAS 9): Feature: KS-ViewControls for Dashboard Sections
  Services/Block/classes/class.ilBlockGUI.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: improvement, php

#6224 Remove legacy type safety check
  Services/Membership/classes/class.ilParticipants.php
Labels: improvement, php

#6278 Test: Fix scoring datetime handling
  Modules/Test/classes/ScoreReporting/class.ilObjTestScoreSettingsDatabaseRepository.php
  Modules/Test/classes/ScoreReporting/ilObjTestSettingsResultSummary.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilObjTestSettingsScoringResultsGUI.php
  Modules/Test/test/ScoreSettingsTest.php
  Modules/Test/test/ilObjTestSettingsScoringResultsGUITest.php
Labels: bugfix, php

#6289 Fix 37848: Remove return type
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceRecordRepresentation.php
Labels: bugfix
