Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-01, with the labels that each got.

#5313 T&A: fix for 35424
  Modules/Test/classes/class.ilTestOutputGUI.php
Labels: bugfix

#5349 Cron: Fix schedule check for weekly schedules
  Services/Cron/classes/class.ilCronJob.php
  Services/Cron/test/CronJobScheduleTest.php
Labels: bugfix, php

#5336 WFLE: Fix PHP8 issues
  Services/WorkflowEngine/Service/class.InternalRequestService.php
  Services/WorkflowEngine/classes/activities/class.ilSendMailActivity.php
  Services/WorkflowEngine/classes/activities/class.ilWorkflowEngineMailNotification.php
  Services/WorkflowEngine/classes/administration/class.ilWorkflowArmerGUI.php
  Services/WorkflowEngine/classes/administration/class.ilWorkflowDefinitionRepository.php
  Services/WorkflowEngine/classes/administration/class.ilWorkflowEngineDefinitionsGUI.php
  Services/WorkflowEngine/classes/administration/class.ilWorkflowEngineDefinitionsTableGUI.php
  Services/WorkflowEngine/classes/workflows/class.ilBaseWorkflow.php
Labels: bugfix, php

#5348 Fix for Mantis 0036029
  Modules/DataCollection/classes/Fields/class.ilDclFieldListGUI.php
  Modules/DataCollection/classes/Table/class.ilDclTableListGUI.php
  Modules/DataCollection/classes/TableView/class.ilDclTableViewGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#4881 Fix priority of mail settings between global and usersettings
  Services/Mail/classes/class.ilMailOptions.php
  Services/Mail/test/ilMailOptionsTest.php
Labels: improvement, php

#5354 Administration: Fix default view for `General Settings`
  Modules/SystemFolder/classes/class.ilObjSystemFolderGUI.php
Labels: bugfix, php

#5359 SystemCheck: Fix PHP types in cron task
  Services/SystemCheck/classes/class.ilSCCronTrash.php
Labels: bugfix, php

#5357 Tracking: Fix access on undefined key in object statistics job
  Services/Tracking/classes/class.ilLPCronObjectStatistics.php
Labels: bugfix, php

#5356 Logging: Fix wrong PHP types in job configuration
  Services/Logging/classes/error/class.ilLoggerCronCleanErrorFiles.php
Labels: bugfix, php

#5350 Link/User Registration: Fix permanent link building
  Services/Link/classes/class.ilLink.php
Labels: bugfix, php

#5343 Auth/Registration: Fixe registration role access (Mantis 34987/34255)
  Services/Registration/classes/class.ilRegistrationRoleAccessLimitations.php
  Services/Registration/classes/class.ilRegistrationSettingsGUI.php
Labels: bugfix, php

#5332 OpenIDConnect: Catch exception and print error
  Services/OpenIdConnect/classes/class.ilOpenIdConnectSettingsGUI.php
Labels: bugfix, php

#5331 LDAP: Fix PHP WARNING if login auth. failed (Mantis 35053)
  Services/LDAP/classes/class.ilLDAPQuery.php
Labels: bugfix, php

#5329 Auth: Fix missing includes for SOAPAuth
  Services/SOAPAuth/classes/class.ilAuthProviderSoap.php
  Services/SOAPAuth/classes/class.ilSOAPAuth.php
  Services/SOAPAuth/examples/dummy_client.php
Labels: bugfix, php

#4798 bugfix: passed 'rule_id' MUST be of type int
  Services/LDAP/classes/class.ilLDAPRoleAssignmentRules.php
Labels: bugfix, php

#3915 User/Registration: Fix determination of access limit timestamp (Manti…
  Services/Registration/classes/class.ilAccountRegistrationGUI.php
Labels: bugfix, php

#5155 Bugfix 0031264 data collection: the visibility-setting of the fields isn't copied
  Modules/DataCollection/classes/TableView/class.ilDclTableViewFieldSetting.php
Labels: bugfix

#4767 Makes some DataCollections with comments work
  Modules/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
Labels: bugfix

#5364 Chatroom: Update socket.io
  Modules/Chatroom/chat/node_modules/.package-lock.json
  Modules/Chatroom/chat/node_modules/@types/cors/README.md
  Modules/Chatroom/chat/node_modules/@types/cors/index.d.ts
  Modules/Chatroom/chat/node_modules/@types/cors/package.json
  Modules/Chatroom/chat/node_modules/@types/node/README.md
  Modules/Chatroom/chat/node_modules/@types/node/child_process.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/crypto.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/diagnostics_channel.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/http.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/https.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/index.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/package.json
  Modules/Chatroom/chat/node_modules/@types/node/test.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/timers/promises.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/child_process.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/crypto.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/diagnostics_channel.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/http.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/https.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/test.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/timers/promises.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/util.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/util.d.ts
  Modules/Chatroom/chat/node_modules/engine.io/README.md
  Modules/Chatroom/chat/node_modules/engine.io/build/parser-v3/index.js
  Modules/Chatroom/chat/node_modules/engine.io/build/server.js
  Modules/Chatroom/chat/node_modules/engine.io/package.json
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.esm.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.esm.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.msgpack.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.msgpack.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/package.json
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.esm.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.esm.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.msgpack.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.msgpack.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/package.json
  Modules/Chatroom/chat/package-lock.json
  Modules/Chatroom/chat/package.json
Labels: bugfix, javascript

#5363 Chatroom: Update socket.io
  Modules/Chatroom/chat/node_modules/.package-lock.json
  Modules/Chatroom/chat/node_modules/@types/cors/README.md
  Modules/Chatroom/chat/node_modules/@types/cors/index.d.ts
  Modules/Chatroom/chat/node_modules/@types/cors/package.json
  Modules/Chatroom/chat/node_modules/@types/node/README.md
  Modules/Chatroom/chat/node_modules/@types/node/child_process.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/crypto.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/diagnostics_channel.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/http.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/https.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/index.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/package.json
  Modules/Chatroom/chat/node_modules/@types/node/test.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/timers/promises.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/child_process.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/crypto.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/diagnostics_channel.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/http.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/https.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/test.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/timers/promises.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/util.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/util.d.ts
  Modules/Chatroom/chat/node_modules/engine.io/README.md
  Modules/Chatroom/chat/node_modules/engine.io/build/parser-v3/index.js
  Modules/Chatroom/chat/node_modules/engine.io/build/server.js
  Modules/Chatroom/chat/node_modules/engine.io/package.json
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.esm.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.esm.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.msgpack.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.msgpack.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/package.json
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.esm.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.esm.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.msgpack.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.msgpack.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/package.json
  Modules/Chatroom/chat/package-lock.json
  Modules/Chatroom/chat/package.json
Labels: bugfix, javascript

#5365 Chatroom: Update socket.io
  Modules/Chatroom/chat/node_modules/.package-lock.json
  Modules/Chatroom/chat/node_modules/@types/cors/README.md
  Modules/Chatroom/chat/node_modules/@types/cors/index.d.ts
  Modules/Chatroom/chat/node_modules/@types/cors/package.json
  Modules/Chatroom/chat/node_modules/@types/node/README.md
  Modules/Chatroom/chat/node_modules/@types/node/child_process.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/crypto.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/diagnostics_channel.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/http.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/https.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/index.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/package.json
  Modules/Chatroom/chat/node_modules/@types/node/test.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/timers/promises.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/child_process.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/crypto.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/diagnostics_channel.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/http.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/https.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/test.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/timers/promises.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/ts4.8/util.d.ts
  Modules/Chatroom/chat/node_modules/@types/node/util.d.ts
  Modules/Chatroom/chat/node_modules/engine.io/README.md
  Modules/Chatroom/chat/node_modules/engine.io/build/parser-v3/index.js
  Modules/Chatroom/chat/node_modules/engine.io/build/server.js
  Modules/Chatroom/chat/node_modules/engine.io/package.json
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.esm.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.esm.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.msgpack.min.js
  Modules/Chatroom/chat/node_modules/socket.io-client/dist/socket.io.msgpack.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io-client/package.json
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.esm.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.esm.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.msgpack.min.js
  Modules/Chatroom/chat/node_modules/socket.io/client-dist/socket.io.msgpack.min.js.map
  Modules/Chatroom/chat/node_modules/socket.io/package.json
  Modules/Chatroom/chat/package-lock.json
  Modules/Chatroom/chat/package.json
Labels: bugfix, javascript

#4549 Pass over rendered HTML to use in an uihook plugin for replacements (DataCollectionGlobalTemplate)
  Modules/DataCollection/classes/class.ilDataCollectionGlobalTemplate.php
Labels: improvement

#4882 Fix issue when copying DCL with MultiReference
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceRecordFieldModel.php
Labels: bugfix, php

#5324 T&A Bugfix #0035907: Failed test: Fragenziehung aus Fragenpools mit instabiler Selektion
  Services/MediaObjects/classes/class.ilObjMediaObject.php
  Services/Taxonomy/classes/class.ilObjTaxonomy.php
Labels: bugfix, php

#5374 Exercise: Fix file handling
  Modules/Exercise/Assignment/class.ilExAssignment.php
  Modules/Exercise/Assignment/class.ilExAssignmentFileSystemGUI.php
  Modules/Exercise/Service/classes/class.GUIRequest.php
  Modules/Exercise/classes/class.ilExerciseManagementGUI.php
Labels: bugfix, php

#5369 Group: Fix wrong type for `max_members`
  Modules/Group/classes/class.ilGroupXMLParser.php
Labels: bugfix, php

#5360 Container: Handle `ref_id` being `null` and access check in deletion …
  Modules/CourseReference/classes/class.ilObjCourseReferenceAccess.php
  Services/ContainerReference/classes/class.ilContainerReference.php
Labels: bugfix, php

#5370 Preconditions: Fix wrong PHP type (float != int)
  Services/Conditions/classes/class.ilConditionHandlerGUI.php
Labels: bugfix, php

#5371 MetaData: Fix accessing undefined property
  Services/MetaData/classes/class.ilMDUtilSelect.php
Labels: bugfix, php

#5372 AccessControl: Check if description is given in "adopt permission" table
  Services/AccessControl/classes/class.ilRoleAdoptPermissionTableGUI.php
Labels: bugfix, php

#5373 Search: Fix passing wrong PHP type as ID to search result entry
  Services/Search/classes/class.ilUserDefinedFieldSearch.php
Labels: bugfix, php

#5376 Search: Fix search filter handling
  Services/Search/classes/class.ilSearchGUI.php
Labels: bugfix, php

#5312 Bugfix Metadata & ADT (4)
  Modules/MediaPool/classes/class.ilObjMediaPool.php
  Modules/Portfolio/Page/class.ilPCAMDForm.php
  Modules/Portfolio/classes/class.ilObjPortfolio.php
  Modules/Portfolio/classes/class.ilObjPortfolioBase.php
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionSelect.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDSettingsGUI.php
Labels: bugfix

#5317 Bugfix 20932: info text for scope setting in advanced metadata
  Services/AdvancedMetaData/classes/class.ilAdvancedMDSettingsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#5309 Bugfix 35452 et al.: filter out invalid users from an objects participants in Tracking
  Services/Tracking/classes/class.ilTrQuery.php
Labels: bugfix

#5320 Bugfix 32161: fix post handling of multi select inputs in adv md
  Services/ADT/classes/Types/MultiEnum/class.ilADTMultiEnumFormBridge.php
Labels: bugfix

#5288 Bugfix Metadata & ADT (3)
  Services/ADT/classes/Types/ExternalLink/class.ilADTExternalLink.php
  Services/ADT/classes/Types/ExternalLink/class.ilADTExternalLinkPresentationBridge.php
  Services/ADT/classes/Types/ExternalLink/class.ilADTExternalLinkSearchBridgeSingle.php
  Services/ADT/classes/Types/InternalLink/class.ilADTInternalLink.php
  Services/ADT/classes/Types/InternalLink/class.ilADTInternalLinkSearchBridgeSingle.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDFieldTableGUI.php
  Services/MetaData/classes/class.ilMDCopyrightUsageTableGUI.php
Labels: bugfix

#5353 T&A Bugfix #0035951: OrgUnit Permissions Check skipped
  Modules/OrgUnit/classes/Positions/Permissions/class.ilOrgUnitDefaultPermissionFormGUI.php
  Modules/OrgUnit/classes/Positions/Permissions/class.ilOrgUnitPermission.php
  Modules/OrgUnit/classes/Positions/Permissions/class.ilOrgUnitPermissionQueries.php
  Modules/OrgUnit/classes/class.ilOrgUnitPositionAccess.php
  Services/User/classes/class.ilObjUserFolderGUI.php
  Services/User/classes/class.ilUserImportParser.php
Labels: bugfix, php

#5355 SCORM: Fix PHP types in mail template context
  Modules/ScormAicc/classes/class.ilScormMailTemplateLPContext.php
Labels: bugfix, php

#5394 Improve argument passing when calling PHPStan
  CI/PHPStan/run_check.sh
Labels: improvement

#4123 User/Registration: Check for existing login only when form is valid
  Services/Registration/classes/class.ilAccountRegistrationGUI.php
Labels: bugfix, php

#5396 Fix Mantis issue 35685 and follow-up issue with wrong types in LAC condition parsing
  Modules/Test/ROADMAP.md
  Modules/Test/classes/class.ilTestSkillEvaluation.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionSkillAssignmentsGUI.php
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/Exception/ilAssLacCompositeBuilderException.php
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/ilAssLacCompositeBuilder.php
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/ilAssLacConditionParser.php
Labels: bugfix, php

#5400 CI: Upgrade `phpstan/phpstan`
  composer.json
  composer.lock
Labels: improvement, dependencies

#5402 CI: Upgrade `phpstan/phpstan`
  composer.json
  composer.lock
Labels: improvement, dependencies

#4517 Registration: Fix missing default value when using `stripslashes` (PHP 8.1 / ILIAS 9)
  Services/Registration/classes/class.ilRegistrationSettings.php
  Services/Registration/test/ilRegistrationSettingsTest.php
Labels: improvement, php

#5403 LDAP: Change default value for `$controls` to support PHP 7.4
  Services/LDAP/classes/class.ilLDAPQuery.php
Labels: bugfix

#4905 Hides Action Row on RecordListTables where no Action is possible.
  Modules/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  Modules/DataCollection/templates/default/tpl.record_list_row.html
Labels: bugfix, php

#5057 [FIX] removed duplicate showMessageForm() call.
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, php

#5401 CI: improve argument passing when calling PHPUnit
  CI/PHPUnit/run_tests.sh
  CI/PHPUnit/run_tests_with_reporting.sh
Labels: improvement

#5406 remove favourites check from custom gui for ILIAS 8
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockListGUIFactory.php
Labels: bugfix, php

#5404 remove favourites check from custom gui
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockListGUIFactory.php
Labels: bugfix, php

#5405 remove favourites check from custom gui for ILIAS6
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockListGUIFactory.php
Labels: bugfix, php

#5393 TA: 36161, remove info message
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix, php

#5351 User/OpenIDConnect: Fix authentication
  Services/OpenIdConnect/classes/class.ilAuthProviderOpenIdConnect.php
  Services/OpenIdConnect/classes/class.ilOpenIdConnectUserSync.php
  Services/User/classes/class.ilUserImportParser.php
Labels: bugfix, php

#5382 CharSelector/Test: Fix `ilCtrl` issue
  Services/UIComponent/CharSelector/classes/class.ilCharSelectorGUI.php
Labels: bugfix, php

#5341 CharSelector: Ensure correct types
  Services/UIComponent/CharSelector/classes/ilCharSelectorConfig.php
Labels: bugfix, php

#5392 User: Fix wrong sorting of `context` when listing role assignments
  Services/User/classes/class.ilObjUserGUI.php
  Services/User/classes/class.ilRoleAssignmentTableGUI.php
Labels: bugfix, php

#5367 User: Fix accessing undefined array key
  Services/User/classes/class.ilUserDefinedData.php
Labels: bugfix, php

#5388 AdvancedMetadata: Fix latitude and longitude types
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionLocation.php
Labels: bugfix, php

#5398 Conditions: Fix type for number input
  Services/Conditions/classes/class.ilConditionHandlerGUI.php
Labels: bugfix, php

#5387 Course: Fix input handling for `limit`
  Modules/Course/classes/Objectives/class.ilCourseObjectivesGUI.php
Labels: bugfix, php

#5415 Bugfix 36197: properly check permissions in systems check
  Services/Object/classes/class.ilObjectOwnershipManagementGUI.php
  Services/Object/classes/class.ilObjectOwnershipManagementTableGUI.php
  Services/SystemCheck/classes/class.ilObjSystemCheckGUI.php
Labels: bugfix

#5412 Bugfix 35957: fix array access in ilTabsGUI
  Services/UIComponent/Tabs/classes/class.ilTabsGUI.php
Labels: bugfix

#5386 Course: Fix undefined array key access timings cron reminder
  Modules/Course/classes/class.ilTimingsCronReminder.php
Labels: bugfix, php

#5384 Course: Fix accessing undefined array key on course registration
  Services/Membership/classes/class.ilRegistrationGUI.php
Labels: bugfix, php

#5380 Metadata: Fix reading property on `null`
  Services/MetaData/classes/class.ilMDCopyrightSelectionEntry.php
Labels: bugfix, php

#5379 Tracking: Fix PHP types
  Services/Object/classes/class.ilObjectLP.php
Labels: bugfix, php

#5383 Object/Copy: Fix accessing undefined array key
  Services/Object/classes/class.ilObjectCopyGUI.php
Labels: bugfix, php

#5368 User: Fix accessing undefined array key
  Services/User/classes/class.ilObjUserFolder.php
Labels: bugfix, php

#5395 Miscellaneous small assessment improvements
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestSkillEvaluation.php
  Modules/Test/classes/class.ilTestSkillEvaluationGUI.php
  Modules/Test/classes/class.ilTestTabsManager.php
  Modules/TestQuestionPool/classes/class.assClozeTest.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestion.php
  Modules/TestQuestionPool/classes/class.assImagemapQuestion.php
  Modules/TestQuestionPool/classes/class.assMatchingQuestion.php
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  Modules/TestQuestionPool/classes/class.assNumeric.php
  Modules/TestQuestionPool/classes/class.assOrderingHorizontal.php
  Modules/TestQuestionPool/classes/class.assOrderingQuestion.php
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionSkillAssignmentsGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilAssQuestionSkillAssignmentPropertyFormGUI.php
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/ilAssLacConditionParser.php
Labels: bugfix, improvement, php

#5429 T&A: fix for 35577
  Modules/Test/classes/class.ilTestTabsManager.php
Labels: bugfix

#5293 Bugfix 28976 for R7
  Services/User/classes/class.ilCustomUserFieldsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#5423 Refactoring and add logging to SelectedItem Dashboard presentation for ILIAS 8
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
Labels: improvement, php

#5424 Refactoring and add logging to SelectedItem Dashboard presentation for TRUNK
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
Labels: improvement, php

#5318 Docu: updated Input-doc to refer to Refinery and current SotA
  docs/development/input-processing.md
Labels: improvement

#5346 Port must be an integer value instead of a string
  setup/README.md
Labels: improvement

#5358 OrgUnits: Fix access on undefined key in path storage job
  Modules/OrgUnit/classes/PathStorage/class.ilOrgUnitPathStorage.php
Labels: bugfix, php

#5377 PRG: 36149, certificate link on dashboard, some cleaning
  Modules/StudyProgramme/classes/class.ilPrgInvalidateExpiredProgressesCronJob.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDashboardViewGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeUserTable.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#5408 PRG: CertificatePlaceholders by longest validity and latest completion
  Modules/StudyProgramme/test/ilModulesStudyProgrammeSuite.php
  Modules/StudyProgramme/test/ilObjStudyProgrammeCertificateTest.php
  Modules/StudyProgramme/test/ilStudyProgrammeProgressCalculationsTest.php
  Modules/StudyProgramme/test/model/Assignments/ilStudyProgrammeProgressIdTest.php
  Modules/StudyProgramme/test/model/Assignments/ilStudyProgrammeProgressTreeTest.php
  Services/Certificate/classes/Placeholder/Values/class.ilStudyProgrammePlaceholderValues.php
Labels: bugfix, php

#5420 make more "defined" checks in ilInitialisation
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#5307 T&A Bugfix #0016771: Error when trying to add hint to question from within a test with Ilias Editor
  Modules/TestQuestionPool/classes/class.ilAssQuestionHintGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionHintPageObjectCommandForwarder.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionHintsTableGUI.php
Labels: bugfix

#5455 ASL: 36304, render asynch ActionList
  Services/UIComponent/AdvancedSelectionList/classes/class.ilAdvancedSelectionListGUI.php
Labels: bugfix

#5447 Bugfix 33434: type fixes in member export
  Services/Membership/classes/Export/class.ilMemberExport.php
  Services/Membership/classes/Export/class.ilMemberExportGUI.php
Labels: bugfix

#5468 My staff/test cases
  Services/MyStaff/classes/class.ilMyStaffAccess.php
Labels: improvement

#5462 [FIX] 0036074: Activation of the option "Save confirmation" => add upload entry
  Modules/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordFieldModel.php
  Modules/DataCollection/classes/Helpers/class.ilDclPropertyFormGUI.php
  Services/Form/classes/class.ilFileInputGUI.php
Labels: bugfix, php

#5378 PRG: langvars
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDIC.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5449 [FIX] make test more robust in macOS
  Services/Component/test/Setup/ilComponentBuildPluginInfoObjectiveTest.php
Labels: improvement, php

#5459 Bugfix AdvMD: properly present custom metadata values in Mediapool and Calendar
  Services/AdvancedMetaData/classes/class.ilAdvancedMDRecordGUI.php
Labels: bugfix

#5478 Fix for #35542: Using Manual Scoring on unanswered questions changes …
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
  Modules/Test/classes/class.ilTestScoringGUI.php
Labels: bugfix, php

#5469 Fix T&A Mantis #36295
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
Labels: bugfix

#5110 0029975 failed test online status
  Modules/Test/classes/class.ilTestImporter.php
  Modules/TestQuestionPool/classes/class.ilTestQuestionPoolImporter.php
  Services/Container/classes/class.ilContainerImporter.php
Labels: bugfix, php

#5474 PRG: 36391, hide settings subtab if orgu-positions are globally disabled
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDIC.php
  Modules/StudyProgramme/classes/helpers/ilPRGPermissionsHelper.php
Labels: bugfix

#5489 Reduce minimum size of bar charts
  src/UI/Implementation/Component/Chart/Bar/Renderer.php
  src/UI/examples/Chart/Bar/Horizontal/custom.php
  tests/UI/Component/Chart/Bar/ChartBarTest.php
Labels: kitchen sink, improvement

#5497 Bugfix 33434: array access fixes in member export
  Services/Membership/classes/Export/class.ilMemberExport.php
Labels: bugfix

#5496 Bugfix 36389: deleting member export files in courses and groups
  Modules/Course/classes/class.ilFSStorageCourse.php
  Modules/Group/classes/class.ilFSStorageGroup.php
  Services/Membership/classes/Export/class.ilMemberExportGUI.php
Labels: bugfix

#5503 Scoring and Results en_lang Adaption
  lang/ilias_en.lang
Labels: improvement

#5504 Scoring and Results en_lang Adaption
  lang/ilias_en.lang
Labels: improvement

#5458 Fixed Initialization of Anonymous User
  Services/Authentication/classes/class.ilAuthSession.php
  Services/Init/classes/class.ilInitialisation.php
  Services/Style/System/classes/class.ilStyleDefinition.php
Labels: bugfix, php

#5098 Fix for 34788
  Services/MyStaff/classes/class.ilMyStaffGUI.php
Labels: bugfix

#5494 Trunk: Fix missing array key exists check
  Modules/Test/classes/class.ilTestSequenceFactory.php
Labels: bugfix

#5485 T&A Bugfix #0036271: MC Exceeding Time limit Eror
  Modules/TestQuestionPool/classes/class.assQuestion.php
  Modules/TestQuestionPool/classes/class.assSingleChoice.php
Labels: bugfix

#5463 Bugfix 36294: show updated number of required preconditions in ObjectList and InfoScreen
  Services/InfoScreen/classes/class.ilInfoScreenGUI.php
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix
