Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-04, with the labels that each got.

#5757 RootFolder: Change Function For Icon
  Modules/RootFolder/classes/class.ilObjRootFolderGUI.php
  Services/Object/classes/class.ilObjectGUI.php
Labels: improvement, php

#5761 fixed issues with test import
  Modules/Test/classes/class.ilTestResultsImportParser.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#5760 #37025 don't show instant response
  Modules/Test/classes/class.ilTestOutputGUI.php
  Modules/Test/classes/class.ilTestPlayerDynamicQuestionSetGUI.php
Labels: bugfix, php

#5743 T&A: fix for #31918
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix, php

#5719 T&A: fixes #36855
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestScoringGUI.php
Labels: bugfix, php

#5764 T&A Bugfix #0037023: Import Test Ident undefined
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#5763 T&A Bugfix #0037082: Cloze Question Error Identical Scoring
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
Labels: bugfix, php

#5765 [HUN] 2023-04-03
  lang/ilias_hu.lang
Labels: improvement

#5778 Badge: Add link to parent object in badge modal (ILIAS 7)
  Services/Badge/classes/class.ilBadgeRenderer.php
Labels: bugfix, php

#5777 Badge: Add link to parent object in badge modal
  Services/Badge/classes/class.ilBadgeRenderer.php
Labels: bugfix, php

#5776 fixed settings and maintain gui in language handling
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#5785 [FIX] UI: fixed invalid character in core.Tooltip.js on line 15.
  src/UI/templates/js/Core/dist/ui.js
  src/UI/templates/js/Core/src/core.Tooltip.js
  src/UI/templates/js/Core/src/core.js
Labels: bugfix, kitchen sink, javascript

#5784 UI: Reinstate the CSS of Key-Value Tree Nodes
  src/UI/examples/Tree/Expandable/expandable_async_repo.php
  src/UI/examples/Tree/Node/Bylined/bylined.php
  src/UI/examples/Tree/Node/KeyValue/key_value.php
  src/UI/templates/default/Tree/tpl.node.html
  src/UI/templates/default/Tree/tpl.tree.html
  src/UI/templates/default/Tree/tree.less
  src/UI/templates/js/Tree/tree.js
  templates/default/070-components/UI-framework/Tree/_ui-component_tree.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Component/Tree/ExpandableTreeTest.php
  tests/UI/Component/Tree/Node/BylineNodeTest.php
  tests/UI/Component/Tree/Node/KeyValueNodeTest.php
  tests/UI/Component/Tree/Node/SimpleNodeTest.php
Labels: kitchen sink

#5775 [FEATURE] LUI: Refactoring of MainMenu, Bibliographic, AdministrativeNotification
  Modules/Bibliographic/classes/Admin/Library/class.ilBiblLibraryGUI.php
  Modules/Bibliographic/classes/Admin/Library/class.ilBiblLibraryPresentationGUI.php
  Modules/Bibliographic/classes/Admin/Library/class.ilBiblLibraryTableGUI.php
  Modules/Bibliographic/classes/Entry/class.ilBiblEntryDetailPresentationGUI.php
  Modules/Bibliographic/classes/Entry/class.ilBiblEntryTableGUI.php
  Modules/Bibliographic/classes/Field/class.ilBiblAdminFieldTableGUI.php
  Modules/Bibliographic/classes/FieldFilter/class.ilBiblFieldFilterFactory.php
  Modules/Bibliographic/classes/FieldFilter/class.ilBiblFieldFilterFormGUI.php
  Modules/Bibliographic/classes/class.ilObjBibliographicGUI.php
  Modules/File/classes/Icons/IconListingUI.php
  Modules/File/classes/Versions/class.ilFileVersionsGUI.php
  Modules/File/classes/Versions/class.ilFileVersionsTableGUI.php
  Modules/File/classes/class.ilObjFile.php
  Modules/File/classes/class.ilObjFileComponentBuilder.php
  Modules/File/classes/class.ilObjFileGUI.php
  Services/AdministrativeNotification/classes/class.ilADNNotificationGUI.php
  Services/AuthShibboleth/classes/class.ilAuthShibbolethSettingsGUI.php
  Services/MainMenu/classes/Administration/class.ilMMSubItemGUI.php
  Services/MainMenu/classes/Administration/class.ilMMTopItemGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#5774 Implement a notifcation indentification for future deletion handles for TRUNK
  Modules/Chatroom/classes/class.ilChatroom.php
  Services/Badge/classes/class.ilBadgeHandler.php
  Services/Contact/BuddySystem/classes/class.ilBuddySystemNotification.php
  Services/Notifications/README.md
  Services/Notifications/classes/Identification/NotificationIdentification.php
  Services/Notifications/classes/Model/OSD/ilOSDNotificationObject.php
  Services/Notifications/classes/Model/ilNotificationConfig.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepository.php
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
  Services/Notifications/classes/ilNotificationOSDHandler.php
  Services/Notifications/classes/ilNotificationSystem.php
Labels: improvement, php

#5755 Object: Remove ilObjectServiceInterface
  Modules/Survey/Editing/Service/class.GUIService.php
  Modules/Survey/Evaluation/Service/class.GUIService.php
  Modules/Survey/Execution/Service/class.GUIService.php
  Modules/Survey/PrintView/Service/class.GUIService.php
  Modules/Survey/Service/class.InternalGUIService.php
  Modules/Survey/Settings/class.SettingsFormGUI.php
  Modules/Survey/Settings/class.UIFactory.php
  Services/Object/Service/classes/class.ilObjectService.php
  Services/Object/Service/interfaces/interface.ilObjectServiceInterface.php
  Services/Repository/Service/trait.GlobalDICGUIServices.php
Labels: improvement, php

#5768 Feature/7/privacy mds for background tasks and bibliographic
  Modules/Bibliographic/PRIVACY.md
  src/BackgroundTasks/PRIVACY.md
Labels: improvement

#5660 Feature/7/privacy mds for administrative notifications global screen and global cache
  Services/AdministrativeNotification/PRIVACY.md
  Services/GlobalCache/PRIVACY.md
  src/GlobalScreen/PRIVACY.md
Labels: improvement

#5742 UI: Typos and other corrections for README.md
  src/UI/README.md
Labels: kitchen sink, improvement

#5789 FileInput: Allow Multiple FileUploads in Form
  src/UI/templates/js/Input/Field/file.js
Labels: kitchen sink, improvement

#5771 User: Use argon2id hashes if supported (ILIAS 9)
  Services/User/classes/Setup/class.ilUserDB90.php
  Services/User/classes/class.ilUserPasswordEncoderFactory.php
  Services/User/classes/class.ilUserPasswordManager.php
  Services/User/test/ilObjUserPasswordTest.php
Labels: improvement, php

#5779 T&A Bugfix #0036503 Empty Instant Feedback
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/feedback/class.ilAssQuestionFeedback.php
Labels: bugfix, php

#5802 TA/FormulaQustion: 36791, validate range min < max
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
Labels: bugfix, php

#5767 Setup Migrate-Command: malformed example message
  src/Setup/CLI/MigrateCommand.php
Labels: bugfix

#5732 UI docs ITCSS proposal wording, link to guide
  src/UI/docu/sass-itcss-concepts.md
  templates/Guidelines_SCSS-Coding.md
Labels: improvement

#5800 Services/Logging: Add PSR-3 README. Add `$context` parameter for `ilLogger`
  Modules/Test/test/tables/ilTestVerificationTableGUITest.php
  Services/Component/classes/Setup/class.ilComponentActivatePluginsObjective.php
  Services/Component/classes/Setup/class.ilComponentInstallPluginObjective.php
  Services/Component/classes/Setup/class.ilComponentUpdatePluginObjective.php
  Services/Cron/classes/Setup/class.ilCronDefinitionProcessor.php
  Services/Language/classes/Setup/class.ilPluginLanguageUpdatedObjective.php
  Services/Logging/README.md
  Services/Logging/classes/NullLogger.php
  Services/Logging/classes/class.ilLogger.php
  Services/Logging/classes/extensions/class.ilLineFormatter.php
  Services/Logging/classes/public/class.ilLoggerFactory.php
Labels: improvement, php

#5796 Logging: Respect HTTP header and disable console logging for JSON req…
  Services/Logging/classes/public/class.ilLoggerFactory.php
Labels: bugfix, php

#5675 Memberships: Fix recipient selection for subscribers
  Services/Membership/classes/class.ilMembershipGUI.php
  Services/Membership/classes/class.ilWaitingListTableGUI.php
Labels: bugfix, php

#5809 T&A Bugfix #0036331: MC-Question: undefined thumb_size
  Modules/TestQuestionPool/classes/class.assKprimChoice.php
  Modules/TestQuestionPool/classes/class.assKprimChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoice.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/import/qti12/class.assKprimChoiceImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assSingleChoiceImport.php
Labels: bugfix, php

#4610 T&A, 0018463: rudimentary fix of archive export (with enabled anonymity)
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestArchiveService.php
  Modules/Test/classes/class.ilTestArchiver.php
  Modules/Test/classes/class.ilTestExport.php
  Modules/Test/classes/class.ilTestExportGUI.php
  Modules/Test/classes/class.ilTestPDFGenerator.php
  Modules/Test/classes/class.ilTestServiceGUI.php
  Modules/Test/classes/class.ilTestSessionFactory.php
  Modules/Test/classes/tables/class.ilTestExportTableGUI.php
  Services/Xml/classes/class.ilXmlWriter.php
Labels: bugfix, php

#5828 Bugfix Forum: Fix Update Steps
  Modules/Forum/classes/Setup/class.ilForumDatabaseUpdateSteps.php
Labels: bugfix, php

#5817 PDFGeneration: Remove `phantomjs`, and with it the setup agent
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationConfigStoredObjective.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationMetricsCollectedObjective.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationSetupAgent.php
  Services/PDFGeneration/classes/Setup/class.ilPDFGenerationSetupConfig.php
  setup/README.md
Labels: bugfix, php

#5818 VirusScanner: Add/Adjust config values to setup status
  Services/Init/classes/class.ilInitialisation.php
  Services/VirusScanner/classes/Setup/class.ilVirusScannerMetricsCollectedObjective.php
Labels: bugfix, php

#5739 Implement a notifcation indentification for future deletion handles
  Modules/Chatroom/classes/class.ilChatroom.php
  Services/Badge/classes/class.ilBadgeHandler.php
  Services/Contact/BuddySystem/classes/class.ilBuddySystemNotification.php
  Services/Notifications/README.md
  Services/Notifications/classes/Identification/NotificationIdentification.php
  Services/Notifications/classes/Model/OSD/ilOSDNotificationObject.php
  Services/Notifications/classes/Model/ilNotificationConfig.php
  Services/Notifications/classes/Repository/ilNotificationOSDRepository.php
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
  Services/Notifications/classes/ilNotificationOSDHandler.php
  Services/Notifications/classes/ilNotificationSystem.php
Labels: bugfix, php

#5711 UI: Add an optional name to Input/Field and Input/Form
  src/UI/Component/Input/Container/Form/Form.php
  src/UI/Component/Input/Field/Input.php
  src/UI/Implementation/Component/Dropzone/File/File.php
  src/UI/Implementation/Component/Input/Container/Form/Form.php
  src/UI/Implementation/Component/Input/Container/Form/Renderer.php
  src/UI/Implementation/Component/Input/Field/Duration.php
  src/UI/Implementation/Component/Input/Field/Group.php
  src/UI/Implementation/Component/Input/Field/HasDynamicInputsBase.php
  src/UI/Implementation/Component/Input/Field/Input.php
  src/UI/Implementation/Component/Input/Field/Link.php
  src/UI/Implementation/Component/Input/FormInputNameSource.php
  src/UI/Implementation/Component/Modal/RoundTrip.php
  src/UI/examples/Input/Container/Form/Standard/with_dedicated_name.php
  src/UI/examples/Input/Field/with_dedicated_name.php
  src/UI/examples/Input/Field/with_dedicated_name_and_path.php
  src/UI/templates/default/Input/tpl.standard.html
  tests/UI/Component/Input/Container/Filter/FilterTest.php
  tests/UI/Component/Input/Container/Filter/StandardFilterTest.php
  tests/UI/Component/Input/Container/Form/FormTest.php
  tests/UI/Component/Input/Container/Form/NoSubmitFormTest.php
  tests/UI/Component/Input/Container/Form/StandardFormTest.php
  tests/UI/Component/Input/DynamicInputsNameSourceTest.php
  tests/UI/Component/Input/Field/FileInputTest.php
  tests/UI/Component/Input/Field/HasDynamicInputsBaseTest.php
  tests/UI/Component/Input/Field/InputTest.php
  tests/UI/Component/Input/Field/LinkInputTest.php
  tests/UI/Component/Input/FormInputNameSourceTest.php
Labels: kitchen sink, improvement, php

#5727 UI presentation table - fix overlap of box and header into action btn
  src/UI/templates/default/Table/table.less
  src/UI/templates/default/Table/tpl.presentationrow.html
  templates/default/delos.css
Labels: bugfix, kitchen sink

#5783 [FEATURE] CI: improved copyright-checker
  CI/Copyright-Checker/copyright-checker.sh
  CI/Import/Functions.sh
Labels: improvement

#5815 Test: Check host of navigation URL
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix, php

#5741 UI/Input/Field/Duration: allow same dates for start and end
  src/UI/Implementation/Component/Input/Field/Duration.php
Labels: kitchen sink, improvement, php

#5772 UI: Fix Representation of Minutes in JS
  src/UI/Implementation/Component/Input/Field/Renderer.php
Labels: kitchen sink, improvement, php

#5832 T&A 0037170 Processing the feedback of an Ordering Question (Vertical) in the question pool leads to errors
  Modules/TestQuestionPool/classes/class.ilAssQuestionFeedbackEditingGUI.php
Labels: bugfix, php

#5803 UI, JS: import and inject global 'il' namespace
  src/UI/templates/js/Core/dist/ui.js
  src/UI/templates/js/Core/rollup.config.js
  src/UI/templates/js/Core/src/core.js
Labels: kitchen sink, improvement, javascript

#5837 T&A Bugfix #0037195, #0037196, #0025514: Enter non-numeric points
  Modules/TestQuestionPool/classes/class.assFormulaQuestionResult.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilMatchingPairWizardInputGUI.php
Labels: bugfix, php

#5792 Test: fix statistics tab selecting wrong pass (37163)
  Modules/Test/classes/class.ilTestEvaluationUserData.php
Labels: bugfix, php

#5152 [FEATURE] UI: Markdown Input
  Services/UI/classes/class.ilUIMarkdownPreviewGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/UI/Component/Input/Field/Factory.php
  src/UI/Component/Input/Field/Markdown.php
  src/UI/Component/Input/Field/MarkdownRenderer.php
  src/UI/Component/Symbol/Glyph/Factory.php
  src/UI/Component/Symbol/Glyph/Glyph.php
  src/UI/Implementation/Component/Input/Field/Factory.php
  src/UI/Implementation/Component/Input/Field/Markdown.php
  src/UI/Implementation/Component/Input/Field/Renderer.php
  src/UI/Implementation/Component/Symbol/Glyph/Factory.php
  src/UI/Implementation/Component/Symbol/Glyph/Glyph.php
  src/UI/examples/Input/Field/Markdown/base.php
  src/UI/examples/Input/Field/Markdown/with_limits.php
  src/UI/examples/Symbol/Glyph/Bold/bold.php
  src/UI/examples/Symbol/Glyph/Header/header.php
  src/UI/examples/Symbol/Glyph/Italic/italic.php
  src/UI/examples/Symbol/Glyph/Link/link.php
  src/UI/templates/default/Input/tpl.markdown.html
  src/UI/templates/default/Input/tpl.textarea.html
  src/UI/templates/default/Symbol/tpl.glyph.html
  src/UI/templates/js/Input/Field/dist/input.factory.min.js
  src/UI/templates/js/Input/Field/rollup.config.js
  src/UI/templates/js/Input/Field/src/Markdown/markdown.class.js
  src/UI/templates/js/Input/Field/src/Markdown/markdown.factory.js
  src/UI/templates/js/Input/Field/src/Markdown/preview.renderer.js
  src/UI/templates/js/Input/Field/src/Textarea/textarea.class.js
  src/UI/templates/js/Input/Field/src/Textarea/textarea.factory.js
  src/UI/templates/js/Input/Field/src/input.factory.js
  src/UI/templates/js/Input/Field/textarea.js
  templates/default/070-components/UI-framework/Input/_ui-component_input.scss
  templates/default/070-components/UI-framework/Input/_ui-component_markdown.scss
  templates/default/070-components/UI-framework/Input/_ui-component_textarea.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Client/Input/Field/markdown.test.js
  tests/UI/Client/Input/Field/textarea.test.js
  tests/UI/Component/Input/Field/MarkdownTest.php
  tests/UI/Component/Input/Field/TextareaTest.php
  tests/UI/Component/Symbol/Glyph/GlyphTest.php
Labels: kitchen sink, improvement, php, javascript

#5827 Update Readme and Roadmap of notifications
  Services/Notifications/README.md
  Services/Notifications/ROADMAP.md
  Services/Notifications/docu/images/settings_enable_osd_en.png
Labels: improvement

#5831 Update Readme and Roadmap of notifications for TRUNK
  Services/Notifications/README.md
  Services/Notifications/ROADMAP.md
  Services/Notifications/docu/images/settings_enable_osd_en.png
Labels: improvement

#5718 Setup: Make classmap retrieval more robust (`ImplementationOfInterfac…
  src/Setup/ImplementationOfInterfaceFinder.php
Labels: improvement, php

#4634 Update maintenance files
  Modules/RemoteCategory/maintenance.json
  Modules/RemoteCourse/maintenance.json
  Modules/RemoteFile/maintenance.json
  Modules/RemoteGlossary/maintenance.json
  Modules/RemoteGroup/maintenance.json
  Modules/RemoteLearningModule/maintenance.json
  Modules/RemoteTest/maintenance.json
  Modules/RemoteWiki/maintenance.json
  Services/AuthApache/maintenance.json
  Services/LDAP/maintenance.json
  Services/OpenIdConnect/maintenance.json
  Services/Registration/maintenance.json
Labels: improvement

#5848 Fix #37224: Add missing parenthesis
  Services/User/classes/class.ilObjUser.php
Labels: bugfix, php

#5849 fixed #37182: Language/Setup: Commit b974a79e2a109a36532c2a33d86e6c5a201513c8 is missing in `release_8`
  Services/Language/classes/Setup/class.ilSetupLanguage.php
Labels: bugfix, php

#5841 SystemInfos first paragraph
  templates/default/070-components/UI-framework/MainControls/_ui-component_system_info.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: improvement

#5842 add default selection prop type
  Modules/DataCollection/classes/Fields/Selection/class.ilDclSelectionFieldRepresentation.php
Labels: bugfix, improvement, php

#5851 T&A: fix for 37076
  Modules/Test/classes/class.ilTestTabsManager.php
Labels: bugfix, php

#5820 T&A Bugfix #0037193: Cannot start a test with mark schema passed from 0%
  Modules/Test/classes/class.ilObjTestAccess.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#5480 T&A Bugfix #0036461: Empty Feedback Error
  Modules/Test/classes/class.ilTestGradingMessageBuilder.php
Labels: bugfix, php

#5798 TinyMCE/Logging: Use appropriate HTTP header when requesting JSON
  Services/RTE/templates/default/tpl.tinymce.js
  Services/RTE/templates/default/tpl.tinymce_frm_post.js
Labels: bugfix, javascript

#5797 TinyMCE/Logging: Use appropriate HTTP header when requesting JSON
  Services/RTE/templates/default/tpl.tinymce.js
  Services/RTE/templates/default/tpl.tinymce_frm_post.js
Labels: bugfix, javascript

#5795 TinyMCE/Logging: Use appropriate HTTP header when requesting JSON
  Services/RTE/templates/default/tpl.tinymce.js
  Services/RTE/templates/default/tpl.tinymce_frm_post.js
Labels: bugfix, javascript

#5833 UI KS Feature: Standard Listing Panel gets ViewControls
  src/UI/Component/Panel/Listing/Standard.php
  src/UI/Implementation/Component/Panel/Listing/Listing.php
  src/UI/Implementation/Component/Panel/Listing/Renderer.php
  src/UI/Implementation/Component/Panel/Listing/Standard.php
  src/UI/Implementation/Component/Panel/Standard.php
  src/UI/templates/default/Panel/tpl.listing_standard.html
  tests/UI/Component/Panel/PanelListingTest.php
Labels: kitchen sink, improvement

#5812 OrgU: Fix for Mantis #37184
  Modules/OrgUnit/classes/class.ilOrgUnitPositionAccess.php
Labels: bugfix, php

#5822 OrgU: Fix for Mantis #37176
  Modules/OrgUnit/classes/Webservices/SOAP/Base.php
Labels: bugfix

#5850 OrgU: Bugfix in User Assignment
  Modules/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitUserAssignmentGUI.php
Labels: bugfix

#5861 Services/Repository: fix #36091
  Services/Repository/PluginSlot/class.ilRepositoryObjectPlugin.php
Labels: bugfix, php
