Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-05, with the labels that each got.

#5840 MarkdownFormattingToHTML
  src/Refinery/String/Group.php
  src/Refinery/String/MarkdownFormattingToHTML.php
  tests/Refinery/String/MarkdownFormattingToHTMLTest.php
Labels: improvement

#5646 Forum: Add global `default_view` option (ILIAS 9 Feature)
  Modules/Forum/classes/class.ilObjForum.php
  Modules/Forum/classes/class.ilObjForumAdministrationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#5867 Init: Don't rely on `$_REQUEST`
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#5868 Init: Don't rely on `$_REQUEST`
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#5869 Init: Don't rely on `$_REQUEST`
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#5864 Assistance: Add alternative approach for link param
  Services/Password/classes/class.ilPasswordUtils.php
  include/inc.pwassist_session_handler.php
Labels: bugfix, php

#5865 Assistance: Add alternative approach for link param
  include/inc.pwassist_session_handler.php
Labels: bugfix, php

#5866 Assistance: Add alternative approach for link param
  include/inc.pwassist_session_handler.php
Labels: bugfix, php

#5726 Moved existing ilGlobalCache usages to new Service
  Services/GlobalCache/classes/Apc/class.ilApc.php
  Services/GlobalCache/classes/Memcache/class.ilMemcache.php
  Services/GlobalCache/classes/Memcache/class.ilMemcacheServer.php
  Services/GlobalCache/classes/Settings/class.ilGlobalCacheSettings.php
  Services/GlobalCache/classes/Shm/class.ilShm.php
  Services/GlobalCache/classes/Static/class.ilStaticCache.php
  Services/GlobalCache/classes/class.ilGlobalCache.php
  Services/GlobalCache/classes/class.ilGlobalCacheService.php
  Services/GlobalCache/classes/class.ilGlobalCacheServiceInterface.php
  Services/GlobalCache/templates/default/tpl.memcache_servers.html
  Services/GlobalCache/test/ilServicesGlobalCacheSuite.php
  Services/GlobalCache/test/ilServicesGlobalCacheTest.php
  Services/Language/classes/class.ilCachedLanguage.php
  Services/Language/classes/class.ilPluginLanguage.php
  Services/Object/classes/class.ilCachedObjectDefinition.php
  Services/Object/classes/class.ilObjectDefinition.php
  Services/UICore/classes/Cache/BlockCache.php
  Services/UICore/classes/Cache/TemplateCache.php
  Services/UICore/classes/Cache/VariableCache.php
  Services/UICore/lib/html-it/IT.php
  tests/UI/Renderer/ilIndependentTemplate.php
Labels: improvement

#4854 Untranslated role title in header of the role GUI
  Services/AccessControl/classes/class.ilObjRole.php
  Services/AccessControl/classes/class.ilObjRoleTemplate.php
Labels: bugfix, php

#5311 Abandon Item Analysis Export for Pure Single Choice Tests
  Modules/Test/classes/ScoreReporting/ilObjTestSettingsResultDetails.php
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/test/ScoreSettingsTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5872 update guzzlehttp/guzzle to ^7.4
  composer.json
  composer.lock
Labels: jour fixe, technical board, dependencies

#5877 Assistance: Add alternative approach for link param
  Services/Password/classes/class.ilPasswordUtils.php
  include/inc.pwassist_session_handler.php
Labels: bugfix, php

#5853 invalid return value for new memcache node
  Services/GlobalCache/classes/class.ilMemcacheNodesRepository.php
Labels: improvement

#5883 Session: clean up removal of files (31608)
  Modules/Session/classes/Setup/class.ilSessionDBUpdateSteps9.php
  Modules/Session/classes/class.ilObjSession.php
  Modules/Session/classes/class.ilObjSessionGUI.php
  Modules/Session/classes/class.ilSessionFile.php
  Modules/Session/classes/class.ilSessionFileTableGUI.php
Labels: bugfix, php

#5882 Session: avoid accessing unused db table event_files (31608)
  Modules/Session/classes/class.ilObjSession.php
Labels: bugfix, php

#5836 T&A Bugfix #0037191: Errors in Formula Question
  Modules/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionResult.php
Labels: bugfix, php

#5888 User: Support PHP Unit 10 without deprecation warnings
  Services/User/test/ilObjUserPasswordTest.php
Labels: bugfix, php

#5852 Update composer.lock after release v8.1
  composer.lock
Labels: technical board, dependencies

#5892 Setup: Fix Github installation workflow (#37261)
  .github/workflows/install-check-trunk.yml
  CI/install-check/ilias-ci-config.json
Labels: bugfix

#5881 Update Dependencies after Release v7.21
  composer.lock
Labels: technical board, dependencies

#5894 Mt 35147 ilias7
  Modules/WebResource/classes/class.ilParameterAppender.php
Labels: bugfix, php

#5900 Mantis Bugreport 35147 DBUpdate
  Modules/WebResource/classes/Setup/class.ilWebResourceDropValidSteps.php
Labels: bugfix, php

#5901 fixed 31419: fix broken layout with image maps
  src/UI/templates/default/Layout/standardpage.less
Labels: bugfix

#5902 T&A Bugfix #0037248: Test Results Link Broken
  Modules/Test/classes/tables/class.ilParticipantsTestResultsTableGUI.php
Labels: bugfix, php

#5898 TA fix Cloze and Longmenu Question Form Issues
  Modules/TestQuestionPool/templates/default/clozeQuestionGapBuilder.js
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_longmenu_question_gap.html
Labels: bugfix

#5907 [FIX] 0037288: ilDatabaseException nach Upgrade auf ILIAS 8.1
  Modules/Forum/classes/class.ilObjForum.php
Labels: bugfix

#5911 [FIX] 0037295: Error after login: ILIAS\ResourceStorage\Flavour\Flavours::get()
  Services/User/Avatar/classes/class.ilUserAvatarResolver.php
Labels: bugfix

#5910 Fix #36081: Antworten mit Umlauten für "Begriffe benennen"
  Modules/Scorm2004/scripts/questions/question_handling.js
Labels: bugfix

#5912 Fix7 36081 text subset in lm postfix
  Modules/Scorm2004/scripts/questions/question_handling.js
Labels: bugfix

#5854 (7x) Migration: adapt notification about remaining steps
  src/Setup/Objective/MigrationObjective.php
Labels: improvement

#5856 (trunk) Migration: adapt notification about remaining steps
  src/Setup/Objective/MigrationObjective.php
Labels: improvement

#5862 [FIX] CI: applied PSR-12 standard for union-types and bitwise operator `|`
  CI/PHP-CS-Fixer/code-format.php_cs
  docs/development/code-style-configs/php-storm.xml
Labels: improvement

#5879 Docu for Help Topics
  src/UI/docu/help-topics.md
Labels: improvement

#5878 update guzzlehttp/guzzle to ^7.4
  composer.json
  composer.lock
Labels: technical board, dependencies

#5918 T&A: Bugfix #31232: Question Pool Permalink not working for only visible roles
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#5923 T&A: Bugfix #36142: Type error when direct Importing an XML file when TinyMCE Image is included in original question
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Services/QTI/classes/class.ilQTIParser.php
Labels: bugfix, php

#5922 Modules/Test: WAC path for question images (ILIAS7)
  Modules/Test/classes/AccessFileUploadAnswer.php
  Modules/Test/classes/AccessQuestionImage.php
  Modules/Test/classes/Incident.php
  Modules/Test/classes/Readable.php
  Modules/Test/classes/SimpleAccess.php
  Modules/Test/classes/class.ilObjTestAccess.php
  Modules/Test/test/AccessFileUploadAnswerTest.php
  Modules/Test/test/AccessQuestionImageTest.php
  Modules/Test/test/IncidentTest.php
  Modules/Test/test/ReadableTest.php
  Modules/Test/test/ilModulesTestSuite.php
Labels: bugfix, improvement, php

#5920 Modules/Test: WAC path for question images (ILIAS8)
  Modules/Test/classes/AccessFileUploadAnswer.php
  Modules/Test/classes/AccessQuestionImage.php
  Modules/Test/classes/Incident.php
  Modules/Test/classes/Readable.php
  Modules/Test/classes/SimpleAccess.php
  Modules/Test/classes/class.ilObjTestAccess.php
  Modules/Test/test/AccessFileUploadAnswerTest.php
  Modules/Test/test/AccessQuestionImageTest.php
  Modules/Test/test/IncidentTest.php
  Modules/Test/test/ReadableTest.php
Labels: bugfix, improvement, php

#5921 Modules/Test: WAC path for question images (trunk)
  Modules/Test/classes/AccessFileUploadAnswer.php
  Modules/Test/classes/AccessQuestionImage.php
  Modules/Test/classes/Incident.php
  Modules/Test/classes/Readable.php
  Modules/Test/classes/SimpleAccess.php
  Modules/Test/classes/class.ilObjTestAccess.php
  Modules/Test/test/AccessFileUploadAnswerTest.php
  Modules/Test/test/AccessQuestionImageTest.php
  Modules/Test/test/IncidentTest.php
  Modules/Test/test/ReadableTest.php
Labels: bugfix, improvement, php

#5875 Docs: Improve CSP suggestion
  docs/configuration/secure.md
Labels: improvement, technical board

#5924 T&A 0036944: Mark Schema: 'Official Form'
  Modules/Test/classes/tables/class.ilMarkSchemaTableGUI.php
Labels: bugfix, php

#5917 T&A: Bugfix #0026063: Matching Question Draggable Terms Text Position
  Modules/TestQuestionPool/templates/default/test_javascript.css
Labels: bugfix, php

#5926 Update Dependencies after Release v8.2
  composer.lock
Labels: technical board, dependencies

#5934 Init: Add help screen ids
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
  Services/Init/classes/class.ilStartUpGUI.php
Labels: improvement, php

#5940 Test: Fix Wrong Link to Statistics in Pool 37226
  Modules/TestQuestionPool/classes/tables/class.ilQuestionBrowserTableGUI.php
Labels: bugfix

#5946 User/Session: Allow Longer Session Ids
  Modules/DataCollection/classes/Helpers/class.ilDclPropertyFormGUI.php
  Services/User/classes/class.ilObjUserFolderGUI.php
  setup/sql/7_hotfixes.php
Labels: bugfix, php

#5949 css word-break in workflow listing, fixes long titles in learning sequence toc - mantis 37291
  src/UI/templates/default/Listing/workflow.less
  templates/default/delos.css
Labels: bugfix
