Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-07, with the labels that each got.

#6049 T&A Bugfix #0024740: Fatal Error Message during Test Run
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#6082 Docu: Added User Data How-To
  Services/User/handle-user-data.md
Labels: documentation

#5799 ECS: Allow to Add ECS to Kitchensink-Forms
  Services/WebServices/ECS/classes/class.ilECSObjectSettings.php
  Services/WebServices/ECS/classes/class.ilECSSettingsGUI.php
Labels: improvement, php

#6003 T&A Bugfix #0037462: non-numerical mark scheme percentage
  Modules/Test/classes/class.ilMarkSchemaGUI.php
  Modules/Test/classes/tables/class.ilMarkSchemaTableGUI.php
Labels: bugfix, php

#6020 Auth: Update timestamp when resetting password
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, php

#6027 0032014: Option to create new Favorites missing
  Modules/Course/classes/class.ilObjCourseAdministrationGUI.php
  Modules/Group/classes/class.ilObjGroupAdministrationGUI.php
  Services/Administration/classes/class.ilAdministrationSettingsFormHandler.php
  Services/Membership/GlobalScreen/classes/class.MembershipMainBarProvider.php
  Services/Membership/classes/class.ilMembershipAdministrationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#6061 Mt 32014 release 8
  Modules/Course/classes/class.ilObjCourseAdministrationGUI.php
  Modules/Group/classes/class.ilObjGroupAdministrationGUI.php
  Services/Administration/classes/class.ilAdministrationSettingsFormHandler.php
  Services/Membership/GlobalScreen/classes/class.MembershipMainBarProvider.php
  Services/Membership/classes/class.ilMembershipAdministrationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#5839 Metadata: Fix several metadata issues
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionText.php
  Services/AdvancedMetaData/classes/class.ilAdvancedMDClaimingPlugin.php
Labels: bugfix, php

#5166 [PROPOSAL] CI: integrate node.js and automated js testing.
  .github/workflows/checks.yml
Labels: improvement

#5813 MD: move MD administration towards KS
  Services/MetaData/classes/Settings/Copyright/Usage/class.ilMDCopyrightUsageGUI.php
  Services/MetaData/classes/Settings/Copyright/Usage/class.ilMDCopyrightUsageTableGUI.php
  Services/MetaData/classes/Settings/Copyright/class.ilMDCopyrightSelectionEntry.php
  Services/MetaData/classes/Settings/Copyright/class.ilMDCopyrightSelectionGUI.php
  Services/MetaData/classes/Settings/Copyright/class.ilMDCopyrightTableGUI.php
  Services/MetaData/classes/Settings/Service/class.ilMDSettingsAccessService.php
  Services/MetaData/classes/Settings/Service/class.ilMDSettingsModalService.php
  Services/MetaData/classes/Settings/class.ilMDSettings.php
  Services/MetaData/classes/Settings/class.ilObjMDSettings.php
  Services/MetaData/classes/Settings/class.ilObjMDSettingsAccess.php
  Services/MetaData/classes/Settings/class.ilObjMDSettingsGUI.php
  Services/MetaData/classes/class.ilMDCopyrightSelectionGUI.php
  Services/MetaData/classes/class.ilMDCopyrightTableGUI.php
  Services/MetaData/classes/class.ilMDSettings.php
  Services/MetaData/classes/class.ilObjMDSettings.php
  Services/MetaData/classes/class.ilObjMDSettingsAccess.php
  Services/MetaData/classes/class.ilObjMDSettingsGUI.php
  Services/MetaData/templates/default/tpl.settings.html
  Services/MetaData/templates/default/tpl.show_copyright_row.html
Labels: improvement, php

#4149 Add info messages for favourites and membership settings
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#4125 Authentication: Use `SameSite` cookie attribute
  Services/Http/classes/class.ilHTTPS.php
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
  Services/Utilities/classes/class.ilUtil.php
Labels: bugfix, php

#6093 Abandon Special Character Selector
  Modules/Test/Setup/class.ilTest9DBUpdateSteps.php
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestQuestionNavigationGUI.php
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  Modules/Test/test/ilTestQuestionNavigationGUITest.php
  Services/Administration/classes/Setup/class.ilAdministrationDBUpdateSteps.php
  Services/AdvancedEditing/classes/class.ilObjAdvancedEditingGUI.php
  Services/Form/classes/class.ilPropertyFormGUI.php
  Services/Form/templates/default/tpl.property_form.html
  Services/UIComponent/CharSelector/classes/class.ilCharSelectorGUI.php
  Services/UIComponent/CharSelector/classes/class.ilCharSelectorRadioGroupInputGUI.php
  Services/UIComponent/CharSelector/classes/ilCharSelectorConfig.php
  Services/UIComponent/CharSelector/js/ilCharSelector.js
  Services/UIComponent/CharSelector/templates/default/char_selector_style.css
  Services/UIComponent/CharSelector/templates/default/images/icon_omega_test.svg
  Services/UIComponent/CharSelector/templates/default/tpl.char_selector_custom_info.html
  Services/UIComponent/CharSelector/templates/default/tpl.char_selector_panel.html
  Services/UIComponent/service.xml
  Services/User/Settings/classes/class.ilPersonalSettingsGUI.php
  Services/User/classes/Setup/class.ilUserDB90.php
  Services/User/classes/class.ilUserDataSet.php
  lang/ilias_ar.lang
  lang/ilias_bg.lang
  lang/ilias_cs.lang
  lang/ilias_da.lang
  lang/ilias_de.lang
  lang/ilias_el.lang
  lang/ilias_en.lang
  lang/ilias_es.lang
  lang/ilias_et.lang
  lang/ilias_fa.lang
  lang/ilias_fr.lang
  lang/ilias_hr.lang
  lang/ilias_hu.lang
  lang/ilias_it.lang
  lang/ilias_ja.lang
  lang/ilias_ka.lang
  lang/ilias_lt.lang
  lang/ilias_nl.lang
  lang/ilias_pl.lang
  lang/ilias_pt.lang
  lang/ilias_ro.lang
  lang/ilias_ru.lang
  lang/ilias_sk.lang
  lang/ilias_sl.lang
  lang/ilias_sq.lang
  lang/ilias_sr.lang
  lang/ilias_tr.lang
  lang/ilias_uk.lang
  lang/ilias_vi.lang
  lang/ilias_zh.lang
  setup/sql/ilias3.sql
Labels: improvement

#6110 File: Fix `testAppendStream` test
  Modules/File/test/ilModulesFileTest.php
Labels: bugfix, php

#6113 [FIX] UI: JavaScript global `il` namespace
  src/UI/Implementation/Render/AbstractComponentRenderer.php
  src/UI/templates/default/Layout/tpl.standardpage.html
  src/UI/templates/js/Core/dist/core.js
  src/UI/templates/js/Core/dist/ui.js
  src/UI/templates/js/Core/rollup.config.js
  src/UI/templates/js/Core/src/core.js
  tests/UI/Component/Layout/Page/StandardPageTest.php
Labels: kitchen sink, improvement, javascript

#6018 Auth: Fix row selector
  Services/Authentication/classes/class.ilAuthLoginPageEditorTableGUI.php
Labels: bugfix, php

#4446 replaced some superglobals in Services/Init
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
Labels: improvement, php

#6115 35003 - Missing 'Comments', 'Notes' and 'Set Tags' actions in …
  Modules/IndividualAssessment/classes/class.ilObjIndividualAssessmentGUI.php
  Modules/IndividualAssessment/classes/class.ilObjIndividualAssessmentListGUI.php
Labels: bugfix

#6117 TA: Corrected syntax typo class=0"form-control text-right"
  Modules/TestQuestionPool/templates/default/tpl.prop_singlechoicewizardinput.html
Labels: bugfix

#6104 `Services/User`: `ilSetting` wrong argument type (ILIAS8)
  Services/User/Profile/classes/class.ilPersonalProfileGUI.php
Labels: bugfix, php

#6103 `Services/User`: `ilSetting` wrong argument type (trunk)
  Services/User/Profile/classes/class.ilPersonalProfileGUI.php
Labels: bugfix, php

#6033 LSO: Use centralized online status and replace legacy form for settings
  Modules/LearningSequence/classes/Settings/class.ilObjLearningSequenceSettingsGUI.php
  Modules/LearningSequence/classes/class.ilDashboardLearningSequenceGUI.php
  Modules/LearningSequence/classes/class.ilObjLearningSequence.php
  Modules/LearningSequence/classes/class.ilObjLearningSequenceAccess.php
  Modules/LearningSequence/classes/class.ilObjLearningSequenceGUI.php
  Modules/LearningSequence/classes/class.ilObjLearningSequenceListGUI.php
  Modules/LearningSequence/module.xml
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#5721 Init: Remove unused variable assignment
  Services/Init/classes/class.ilInitialisation.php
Labels: improvement, php

#5999 UI inline launcher button design
  src/UI/templates/default/Launcher/tpl.launcher_inline.html
  templates/default/070-components/UI-framework/Launcher/_ui-component_launcher.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: improvement

#6127 8/UI dropdown equal btn and link padding 37506
  src/UI/templates/default/Dropdown/dropdown.less
  templates/default/delos.css
Labels: kitchen sink

#6096 9/UI Modal Carousel slide image & close btn 37484
  templates/default/050-layout/_layout_responsive-img.scss
  templates/default/060-elements/_elements_input.scss
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/070-components/_index.scss
  templates/default/070-components/legacy/_component_carousel.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: kitchen sink, improvement

#6106 9/UI/item media object layout 37599
  templates/default/070-components/_index.scss
  templates/default/070-components/legacy/_component_media-object.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: bugfix

#6133 Init/Auth/OpenIDConnect: Don't set `SameSite` param for `PHPSESSID`
  Services/Http/classes/class.ilHTTPS.php
Labels: bugfix, php

#6124 TA fix for 37028
  Modules/TestQuestionPool/classes/class.assErrorTextGUI.php
Labels: bugfix, php

#6126 TA fix for 37031
  Modules/TestQuestionPool/classes/class.assErrorTextGUI.php
  Modules/TestQuestionPool/test/assErrorTextGUITest.php
Labels: bugfix, php

#6135 Mantis Ticket 29772
  Modules/Course/classes/class.ilCourseObjectiveMaterialAssignmentTableGUI.php
  Modules/Course/classes/class.ilCourseObjectiveMaterials.php
  Modules/Course/classes/class.ilCourseObjectivesGUI.php
  Modules/Course/templates/default/tpl.crs_objective_list_materials_row.html
Labels: bugfix, php

#6138 Mantis Ticket 29772, small fix, removes set limit of table
  Modules/Course/classes/class.ilCourseObjectiveMaterialAssignmentTableGUI.php
Labels: bugfix, php

#6088 PasswordAssistance: Add access checks (handle them gracefully) re-int…
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, php

#5950 Test: Avoid data loss when changing password mid-test
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestSession.php
  Modules/Test/test/ilTestSessionTest.php
Labels: bugfix

#5759 Add intl as dependency
  docs/configuration/install.md
Labels: bugfix, php

#6128 Refinery: Fix `mb_convert_encoding` in `EstimatedReadingTime`
  src/Refinery/String/EstimatedReadingTime.php
Labels: improvement, php

#6107 UI: buttons are labeled, not named or captioned
  Modules/File/classes/class.ilObjFileGUI.php
  Modules/File/classes/class.ilObjFileUploadDropzone.php
  Modules/IndividualAssessment/classes/class.ilIndividualAssessmentMemberGUI.php
  Services/Authentication/classes/class.ilObjAuthSettingsGUI.php
  Services/Repository/Service/Form/class.FormAdapterGUI.php
  Services/Repository/Service/Modal/class.ModalAdapterGUI.php
  Services/Style/System/classes/Less/class.ilSystemStyleLessGUI.php
  src/UI/Component/Input/Container/Form/Factory.php
  src/UI/Component/Input/Container/Form/Standard.php
  src/UI/Implementation/Component/Dropzone/File/File.php
  src/UI/Implementation/Component/Input/Container/Form/Renderer.php
  src/UI/Implementation/Component/Input/Container/Form/Standard.php
  src/UI/Implementation/Component/Modal/Renderer.php
  src/UI/Implementation/Component/Modal/RoundTrip.php
  tests/UI/Component/Input/Container/Form/StandardFormTest.php
Labels: improvement

#5786 Auth: Fix OpenIDConnect activation status icon
  Services/Authentication/classes/class.ilObjAuthSettingsGUI.php
Labels: bugfix, php

#6162 Fix mb37641: An error occurred while exporting the language file
  Services/Language/classes/class.ilLanguageFile.php
Labels: bugfix

#5939 Calendar: Fix handling of incoming date in `ilDateTimeInputGUI`
  Services/Form/classes/class.ilDateTimeInputGUI.php
Labels: bugfix, php

#6060 [FIX] object creation-screen also works for plugins now.
  Services/Repository/PluginSlot/class.ilObjectPluginGUI.php
Labels: bugfix

#6105 Docu: Added Tabs How-To
  Services/UIComponent/Tabs/handle-tabbed-menues.md
Labels: documentation

#6144 Docu: Added Taxonomy How-To
  Services/Taxonomy/use-taxonomies.md
Labels: documentation

#6157 Fix type save saving of dashboard settings
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewSettings.php
Labels: bugfix, php

#6171 fix_37646 allow to add maps to content pages
  Modules/ContentPage/classes/class.ilContentPagePageConfig.php
Labels: improvement, php

#6169 Bugfix: 38630 Forum Download of attachments ZIP file for drafts not p…
  Modules/Forum/classes/Files/class.ilFileDataForumDraftsRCImplementation.php
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#6170 Bugfix: 0037009: Threads-Tab wird nicht als aktiv angezeigt, wenn man…
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#4364 fixed 0026682: Apache Auth does not sync user data unless login is al…
  Services/LDAP/classes/class.ilLDAPUserSynchronisation.php
Labels: bugfix

#6160 T&A Bugfix #0027927: Finishing test in dashboard by admin brakes the „Anonymity“ of the test
  Modules/Test/classes/class.ilTestParticipantData.php
Labels: bugfix, php

#6167 PRG: add single user actions to prg members table GUI. (#29335)
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMembersTableGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#4941 Dashboard (ILIAS 9): Feature: Global Dashboard Settings of Presentation and Sortation for all Dashboard Sections
  Modules/LearningSequence/classes/class.ilDashboardLearningSequenceGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDIC.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDashboardViewGUI.php
  Services/Block/classes/class.ilBlockGUI.php
  Services/Block/classes/class.ilColumnGUI.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  Services/Dashboard/Administration/js/SortationUserInputHandler.js
  Services/Dashboard/Block/classes/BlockDTO.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/Block/classes/class.ilMembershipBlockGUI.php
  Services/Dashboard/Block/classes/class.ilSelectedItemsBlockGUI.php
  Services/Dashboard/Block/js/ReplaceModalContent.js
  Services/Dashboard/ItemsBlock/classes/class.ilDashboardSidePanelSettingsRepository.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDMembershipBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockListGUIFactory.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsViewGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockSelectedItemsViewGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewSettings.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockConstants.php
  Services/Dashboard/ROADMAP.md
  Services/Dashboard/classes/Setup/ilDashboardUpdateSteps.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  Services/Dashboard/templates/default/tpl.remove_multiple_modal_id_wrapper.html
  Services/JavaScript/js/Basic.js
  Services/Mail/classes/class.ilPDMailBlockGUI.php
  Services/Membership/classes/class.ilMembershipOverviewGUI.php
  Services/Object/classes/class.ilObjectActivation.php
  Services/Repository/Favourites/classes/class.ilFavouritesListGUI.php
  Services/Repository/GlobalScreen/classes/RepositoryMainBarProvider.php
  Services/Repository/RecommendedContent/classes/class.ilDashboardRecommendedContentGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#6179 TA: Changed miss leading Byline and Label back to original text
  lang/ilias_en.lang
Labels: improvement

#6178 Remove unused code with potentially high impact on performance (ILIAS 7)
  Services/Membership/classes/class.ilParticipantsTableGUI.php
Labels: improvement, php

#6023 Auth: Show correct view when submitting invalid password form
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, php

#6068 mode-info: improvements to responsiveness and html-template-structure
  src/UI/templates/default/MainControls/tpl.mode_info.html
  templates/default/010-settings/_settings_borders.scss
  templates/default/030-tools/_tool_multi-line-cap.scss
  templates/default/070-components/UI-framework/MainControls/_ui-component_mode_info.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Component/MainControls/ModeInfoTest.php
Labels: improvement

#6141 Course: issue certificates based on passed status, if lp is deactivated globally (26314)
  Modules/Course/README.md
  Modules/Course/classes/class.ilCourseAppEventListener.php
Labels: bugfix, php

#6024 Init: Remove PEAR error handler
  Services/Init/classes/class.ilErrorHandling.php
  Services/Init/classes/class.ilInitialisation.php
  libs/ilias/Init/PEAR/PEAR.php
  libs/ilias/Init/PEAR/PEAR/FixPHP5PEARWarnings.php
Labels: improvement, php

#6185 Fix 0037685: updateRunInformation for running cron jobs
  Services/Cron/classes/class.ilCronJobRepositoryImpl.php
Labels: bugfix, php

#6032 loosing check for sql query ends
  Services/Database/classes/Setup/class.ilDatabasePopulatedObjective.php
Labels: bugfix, php

#6187 Fix ref_id fetching for contact request notfication
  Modules/Chatroom/classes/class.ilChatroom.php
Labels: bugfix, php

#6152 [FIX] renamed proposed directory to artifacts
  docs/development/components-and-directories.md
Labels: improvement

#6189 Fix 0037690: Cast string to int for calendar consultation
  Services/Calendar/classes/ConsultationHours/class.ilConsultationHourAppointments.php
Labels: bugfix

#6161 LSO: add possibility to add LSO to favourites. (#36632)
  Modules/LearningSequence/classes/class.ilObjLearningSequenceListGUI.php
Labels: bugfix

#6150 ModeInfo/UI Demo: fix example for modeinfo
  src/UI/Implementation/Component/Layout/Page/Renderer.php
  src/UI/examples/Layout/Page/Standard/ui.php
  src/UI/examples/Layout/Page/Standard/ui_mainbar.php
  src/UI/examples/MainControls/Footer/footer.php
  src/UI/examples/MainControls/Footer/footer_with_modals.php
  src/UI/examples/MainControls/MainBar/mainbar.php
  src/UI/examples/MainControls/MetaBar/base_metabar.php
  src/UI/examples/MainControls/ModeInfo/modeinfo.php
  tests/UI/Examples/ExamplesTest.php
Labels: improvement

#6134 Group: Changing the title of a group in setting doesnt change the title in Metadata (30761)
  Modules/Group/classes/class.ilObjGroup.php
Labels: bugfix, php

#6173 Add ext modules in composer.json (ext-zip;ext-imagick)
  composer.json
Labels: improvement

#6182 Update Dependencies after Release v7.24
  composer.lock
Labels: technical board, dependencies

#6196 Update Dependencies after Release v8.4
  composer.lock
Labels: technical board, dependencies

#5418 Auth/SAML: Store used auth_mode explicitly and move SAML logout to ev…
  Services/Init/classes/class.ilStartUpGUI.php
  Services/OpenIdConnect/classes/class.ilAuthProviderOpenIdConnect.php
  Services/SOAPAuth/classes/class.ilAuthProviderSoap.php
  Services/Saml/classes/class.ilAuthProviderSaml.php
  Services/Saml/classes/class.ilSamlAppEventListener.php
  Services/Saml/classes/class.ilSimpleSAMLphpWrapper.php
  Services/Saml/lib/saml2-logout.php
  Services/Saml/service.xml
  Services/User/Settings/classes/class.ilPersonalSettingsGUI.php
  Services/User/classes/class.ilForcedUserPasswordChangeStartUpStep.php
Labels: improvement, php
