Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-09, with the labels that each got.

#6292 Form: FileUpload Should Preserve Files
  Services/Form/classes/class.ilPropertyFormGUI.php
Labels: bugfix

#6229 SOAP: Fix plugins not working in ILIAS 8
  webservice/soap/include/inc.soap_functions.php
Labels: bugfix, php

#6291 Course & Group: small performance improvements for members view
  Modules/Course/classes/class.ilCourseParticipantsTableGUI.php
  Modules/Course/classes/class.ilObjCourseGUI.php
  Modules/Group/classes/class.ilGroupParticipantsTableGUI.php
  Modules/Group/classes/class.ilObjGroupGUI.php
Labels: bugfix, php

#6294 0037852: bugfix - Typed property ilDclBaseRecordModel::$last_edit_by must not be accessed before initialization
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordModel.php
Labels: bugfix, php

#6293 Test: Don't use $this in static context
  Modules/Test/classes/class.ilObjTestAccess.php
Labels: bugfix, php

#6286 Dashboard Bugfix: Favourites Action in all Dashboard Blocks
  Modules/LearningSequence/classes/class.ilDashboardLearningSequenceGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDashboardViewGUI.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/Block/classes/class.ilMembershipBlockGUI.php
  Services/Dashboard/Block/classes/class.ilSelectedItemsBlockGUI.php
  Services/Object/classes/class.ilObjectListGUI.php
  Services/Repository/RecommendedContent/classes/class.ilDashboardRecommendedContentGUI.php
  lang/ilias_de.lang
Labels: bugfix, php

#6306 Fix OIDC logout and set flow to code mode
  Services/OpenIdConnect/classes/class.ilAuthProviderOpenIdConnect.php
Labels: bugfix, php

#6304 Update security.md
  docs/development/security.md
Labels: documentation

#6313 DC, Active Record, fix of #37935
  Services/ActiveRecord/Fields/class.arField.php
Labels: bugfix

#6277 Setup: fix #37755, add component.factory to DIC
  Services/Component/classes/Setup/class.ilComponentActivatePluginsObjective.php
  Services/Component/classes/Setup/class.ilComponentInstallPluginObjective.php
  Services/Component/classes/Setup/class.ilComponentUpdatePluginObjective.php
  Services/Language/classes/Setup/class.ilPluginLanguageUpdatedObjective.php
Labels: bugfix, php

#6316 Update Dependencies after Release v7.25
  composer.lock
Labels: technical board, dependencies

#6308 LDAP: Fix auth. mode determination
  Services/Authentication/classes/class.ilAuthModeDetermination.php
  Services/LDAP/classes/class.ilLDAPServer.php
Labels: bugfix, php

#6319 Update Dependencies after Release v8.5
  composer.lock
Labels: technical board, dependencies

#6328 Fix 37969: Broken LDAP Pagination
  Services/LDAP/classes/class.ilLDAPResult.php
Labels: bugfix, php

#6330 Utilities: Fix min pwd length > max pwd length
  Services/Utilities/classes/class.ilUtil.php
Labels: bugfix, php

#6323 [FIX] allow finder to find classes in src as well
  src/Setup/AbstractOfFinder.php
Labels: improvement

#6131 Authentication: Add SQL index to improve session statistics performance
  Services/Authentication/classes/Setup/class.ilAuthenticationDatabaseUpdateSteps8.php
  Services/Authentication/classes/Setup/class.ilAuthenticationSetupAgent.php
Labels: improvement

#6268 Fix 0036953: SOAP method copyObjects returns no ref_ids for long requests
  Services/Container/classes/class.ilContainer.php
Labels: bugfix, php

#6197 Block Refactor: ilColumnGUI Block naming
  Services/Block/classes/class.ilColumnGUI.php
Labels: improvement

#6299 Dashboard Bugfix: wrong parameter call in blocks
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: improvement

#6337 Setup/Data: Fix minor version compare
  src/Data/Version.php
  tests/Data/VersionTest.php
Labels: bugfix, php

#6340 Update security.md
  docs/development/security.md
Labels: documentation

#6346 Fixed deprecation warnings during unittest
  Services/Language/test/ilLanguageSetupAgentTest.php
  Services/Language/test/ilServicesLanguageSuite.php
  tests/Language/Setup/ilLanguageSetupAgentTest.php
Labels: php

#6250 UI KS Fix&Feature: Panel ViewControls Placement + Examples
  src/UI/examples/Panel/Listing/Standard/with_all_view_controls.php
  src/UI/examples/Panel/Secondary/Legacy/with_all_view_controls.php
  src/UI/examples/Panel/Secondary/Listing/with_all_view_controls.php
  src/UI/examples/Panel/Standard/with_all_view_controls.php
  src/UI/templates/default/Panel/tpl.listing_standard.html
  src/UI/templates/default/Panel/tpl.secondary.html
  src/UI/templates/default/Panel/tpl.standard.html
  tests/UI/Component/Panel/PanelTest.php
Labels: improvement

#6343 CMPS: adjust global for logger regarding ilComponentUpdatePlugin…
  Services/Component/classes/Setup/class.ilComponentUpdatePluginObjective.php
Labels: bugfix

#5963 UI Data Table - Mobile View
  src/UI/Implementation/Component/Table/Renderer.php
  src/UI/templates/default/Table/tpl.datacell.html
  templates/default/070-components/UI-framework/Table/_ui-component_table.scss
  templates/default/delos.css
  templates/default/delos.css.map
  tests/UI/Component/Table/DataRendererTest.php
Labels: improvement

#6350 Flush old notifications with incompatible serial objects for TRUNK
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
Labels: bugfix, php

#6349 Flush old notifications with incompatible serial objects
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
Labels: bugfix, php

#6336 Exercise: fixed 0037976: Der Menüpunkt "Abgaben und Noten" wirft einen Fehler
  Modules/Exercise/Submission/class.ilExerciseSubmissionTableGUI.php
Labels: bugfix, php

#6358 Cron: Raise exception if message length exceeds character limit
  Services/Cron/classes/class.ilCronJobResult.php
Labels: bugfix, php

#6359 Form: fix start and end labels of duration input (36124)
  Services/Form/classes/class.ilDateDurationInputGUI.php
Labels: bugfix, php

#5897 [FIX] UI: fixed access before initialization error in Table\Presentation
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/UI/Implementation/Component/Table/Presentation.php
  src/UI/Implementation/Component/Table/Renderer.php
  src/UI/examples/Table/Data/without_data.php
  src/UI/examples/Table/Presentation/without_data.php
  src/UI/templates/default/Table/tpl.datacell.html
  src/UI/templates/default/Table/tpl.presentationrow_empty.html
  tests/UI/Component/Table/DataRendererTest.php
  tests/UI/Component/Table/PresentationTest.php
Labels: kitchen sink, improvement, php

#6305 0037842: Fix OIDC Logout and remove implicit workflow
  Services/OpenIdConnect/classes/class.ilAuthProviderOpenIdConnect.php
Labels: bugfix, php

#6274 UI: DataTable #37493, make action-ids optional
  src/UI/Implementation/Component/Table/Renderer.php
  src/UI/examples/Table/Action/Standard/base.php
Labels: bugfix

#6143 Docu: Added Learning Progress How-To
  Services/Tracking/handle-learning-progress.md
Labels: documentation

#6136 Docu: Added Export/Import How-To
  Services/Export/handle-export-and-import.md
Labels: documentation

#6132 Docu: Added Time Zones How-To
  Services/Calendar/handle-dates-in-different-time-zones.md
Labels: documentation

#6361 T&A Bugfix #0038032: Essay Question Character Count Special chars
  Modules/TestQuestionPool/templates/default/tpl.charcounter.html
Labels: bugfix

#6345 T&A Bugfix 0038004: Aufruf von Fragenpools nicht möglich
  Modules/TestQuestionPool/classes/tables/class.ilQuestionBrowserTableGUI.php
Labels: bugfix

#6352 T&A Bugfix #0037817: Ordering Question (vertical): Upload does not update form
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
Labels: bugfix

#6318 UI/Metabar: engage/disengage more-button
  src/UI/Implementation/Component/MainControls/Renderer.php
  src/UI/Implementation/Component/MainControls/Slate/Renderer.php
  src/UI/templates/js/MainControls/dist/maincontrols.min.js
  src/UI/templates/js/MainControls/metabar.js
  src/UI/templates/js/MainControls/rollup.config.js
  src/UI/templates/js/MainControls/slate.js
  src/UI/templates/js/MainControls/src/maincontrols.js
  src/UI/templates/js/MainControls/src/metabar.class.js
  src/UI/templates/js/MainControls/src/metabar.factory.js
  src/UI/templates/js/MainControls/src/slate.class.js
Labels: kitchen sink, improvement, javascript

#6363 Container: fix sorting of sessions in resource lists (27063)
  Services/Container/classes/class.ilContainerContentGUI.php
Labels: bugfix, php

#6364 ContainerReference: fix empty title on creation (32383)
  Services/ContainerReference/ROADMAP.md
  Services/ContainerReference/classes/class.ilContainerReferenceGUI.php
Labels: bugfix, php

#6369 core: 0037940: fix downloadFile-Links
  Modules/LearningModule/Presentation/class.ilLMPresentationLinker.php
Labels: bugfix
