Repository ILIAS-eLearning/ILIAS, pull requests merged in 2023-02, with the labels that each got.

#5121 fix js error on initial toast load
  Modules/Chatroom/GlobalScreen/ChatInvitationNotificationProvider.php
  Services/GlobalScreen/classes/Setup/class.ilGlobalScreenBuildProviderMapObjective.php
  Services/GlobalScreen/classes/class.ilGSProviderFactory.php
  Services/Notifications/classes/ToastsOfNotifications.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/ilNotificationOSDGUI.php
  Services/Notifications/classes/ilNotificationOSDHandler.php
  Services/Notifications/templates/default/notifications.js
  Services/Notifications/templates/default/tpl.osd_notifications.js
  Services/Notifications/test/notifications/ilNotificationOSDTest.php
  src/GlobalScreen/Collector/CollectorFactory.php
  src/GlobalScreen/Provider/PluginProviderCollection.php
  src/GlobalScreen/Provider/ProviderCollection.php
  src/GlobalScreen/Scope/Layout/Builder/StandardPageBuilder.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/DecoratedPagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/PagePartProvider.php
  src/GlobalScreen/Scope/Layout/Provider/PagePart/StandardPagePartProvider.php
  src/GlobalScreen/Scope/Toast/Collector/ToastCollector.php
  src/GlobalScreen/Scope/Toast/Provider/AbstractToastPluginProvider.php
  src/GlobalScreen/Scope/Toast/Provider/AbstractToastProvider.php
  src/GlobalScreen/Scope/Toast/Provider/ToastProvider.php
  src/GlobalScreen/Scope/Toast/README.md
  src/GlobalScreen/Scope/Toast/ToastServices.php
  src/GlobalScreen/Services.php
  tests/GlobalScreen/Toast/BaseToastSetUp.php
  tests/GlobalScreen/Toast/Collector/ToastCollectorTest.php
  tests/GlobalScreen/Toast/Provider/DummyToastProviderTest.php
  tests/GlobalScreen/Toast/ToastServicesTest.php
Labels: bugfix, improvement, php

#5513 Fix check if week wraps year to only trigger at new year
  Services/Cron/classes/class.ilCronJob.php
Labels: bugfix

#5452 Bugfix 33725: only assign object type to adv md record when necessary
  Modules/Portfolio/classes/class.ilObjPortfolioBase.php
Labels: bugfix

#5265 TA: 34411, prevent whoops on re-submitting after failed checkInput
  Modules/TestQuestionPool/classes/forms/class.ilMultipleImagesInputGUI.php
Labels: bugfix

#5512 EmployeeTalk: fix icons
  Modules/EmployeeTalk/classes/Provider/MyStaffListEntryProvider.php
  Modules/EmployeeTalk/classes/Talk/class.ilEmployeeTalkMyStaffListGUI.php
  Modules/OrgUnit/classes/Provider/OrgUnitMainBarProvider.php
  src/UI/Component/Symbol/Icon/Standard.php
  src/UI/Implementation/Component/Symbol/Icon/Standard.php
  templates/default/images/icon_etal.svg
Labels: bugfix

#4926 TA: Vertical drag and drop order question design 33651
  Modules/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilAssNestedOrderingElementsInputGUI.php
  Services/Form/classes/class.ilMultipleNestedOrderingElementsInputGUI.php
  Services/Form/templates/default/tpl.prop_nested_ordering_js.html
  Services/Form/templates/default/tpl.prop_nested_ordering_list.html
  templates/default/delos.css
  templates/default/delos.css.map
  templates/default/less/Modules/Test/delos.less
Labels: bugfix

#5527 [FIX] 0036105: mob- and fileupload field data type - ILIAS don`t save the input
  Modules/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextFieldModel.php
  Services/FileServices/classes/class.ilFileUtils.php
  Services/Form/classes/class.ilPropertyFormGUI.php
Labels: bugfix

#5530 [FIX] checks must not update composer dependecies
  .github/workflows/checks.yml
Labels: improvement

#5529 [FIX] 0036605: Updating ILIAS without MathJax config not possible
  Services/MathJax/classes/Setup/class.ilMathJaxConfigCheckedObjective.php
Labels: bugfix

#5506 Bugfix 0036354 text subset question with levenshtein distance is broken
  Modules/TestQuestionPool/classes/class.assTextQuestion.php
  Modules/TestQuestionPool/classes/class.assTextSubset.php
  src/Refinery/String/Transformation/LevenshteinTransformation.php
  tests/Refinery/String/LevenshteinTest.php
Labels: bugfix

#5495 T&A Bugfix #0036331: SC-Question: Trying so save question in "Multi Line Answers" mode leads to fatal
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
Labels: bugfix

#5492 T&A Bugfix #0036270: Fatal error when trying to save MC Question
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
Labels: bugfix

#5484 T&A: fix for 36265
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Modules/Test/classes/class.ilTestTabsManager.php
Labels: bugfix, php

#5482 T&A Bugfix #0036228: Test Settings Template Negative Points Error
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix

#5509 Small improvements with bylines requested by our english language expert Chris
  Services/Container/classes/class.ilContainerGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5510 Small improvements with bylines requested by our english language expert Chris - release_8
  Services/Container/classes/class.ilContainerGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#5537 fix mail adress read with globale settings set
  Services/Mail/classes/class.ilMailOptions.php
  Services/Mail/test/ilMailOptionsTest.php
Labels: bugfix, php

#5542 fix mail adress read with globale settings set for TRUNK
  Services/Mail/classes/class.ilMailOptions.php
  Services/Mail/test/ilMailOptionsTest.php
Labels: bugfix

#5551 Bugfix Mantis: 30453
  Modules/DataCollection/classes/Content/class.ilDclRecordListGUI.php
  Modules/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
Labels: bugfix

#5544 [FIX] UI: required file inputs will work now.
  src/UI/Implementation/Component/Input/Field/File.php
Labels: bugfix, kitchen sink, php

#5502 Mail, 36487: encode and space ILIAS_URL's client id.
  Services/Mail/classes/class.ilMailTemplateContext.php
Labels: bugfix, php

#5314 Add Chat toast provider for GS
  Modules/Chatroom/GlobalScreen/ChatInvitationToastProvider.php
Labels: improvement, php

#5520 Add Badge toast provider for GS
  Services/Badge/GlobalScreen/BadgeToastProvider.php
Labels: improvement, php

#5521 Add Contact toast provider for GS
  Services/Contact/classes/Provider/ContactToastProvider.php
Labels: improvement, php

#5550 T&A Bugfix #0036135: QP Sync Test not buildable skip
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
Labels: bugfix, php

#5545 T&A Bugfix #0036614: MC Preview Error undefined index Post Request
  Modules/TestQuestionPool/classes/class.assSingleChoice.php
Labels: bugfix, php

#5540 Trunk: Add showing error message when test was already finished
  Modules/Test/classes/class.ilTestOutputGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#5539 Release 8: Add showing error message when test was already finished
  Modules/Test/classes/class.ilTestOutputGUI.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#5277 On Screen Chat: Alt+Newline ILIAS 7
  Services/OnScreenChat/js/onscreenchat.js
  Services/OnScreenChat/templates/default/tpl.chat-window.html
  templates/default/delos.css
  templates/default/less/Services/OnScreenChat/delos.less
Labels: bugfix, improvement, javascript

#5487 On Screen Chat: Alt+Newline trunk
  Services/OnScreenChat/js/onscreenchat.js
  Services/OnScreenChat/templates/default/tpl.chat-window.html
  templates/default/070-components/legacy/Services/_component_onscreenchat.scss
  templates/default/delos.css
Labels: bugfix, improvement, javascript

#5567 Chatroom: providing some more defaults for client settings
  Modules/Chatroom/classes/class.ilChatroomAdmin.php
Labels: bugfix, php

#5568 Drop PHP 8.0 support
  .github/workflows/checks.yml
  README.md
  Services/User/test/ilObjUserPasswordTest.php
  composer.json
  composer.lock
  docs/configuration/install.md
  docs/development/refactorings.md
  setup/classes/class.ilSetupAgent.php
Labels: improvement

#5576 Docs: Adding new member to security.md (release_8)
  docs/development/security.md
Labels: improvement

#5577 Docs: Adding new member to security.md (release_7)
  docs/development/security.md
Labels: improvement

#5575 Docs: Adding new member to security.md (trunk)
  docs/development/security.md
Labels: improvement

#5582 Bugfix 0036747: Moderator shown as 'anonym' if draft is saved
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#5580 PHP 8.1 - some fixes
  Modules/SystemFolder/classes/class.ilAccessibilitySupportContacts.php
  Modules/SystemFolder/classes/class.ilSystemSupportContacts.php
  Services/Authentication/classes/class.ilSessionDBHandler.php
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
  Services/User/classes/class.ilObjUser.php
  Services/User/classes/class.ilUserProfile.php
  Services/Utilities/classes/class.ilArrayUtil.php
  Services/Utilities/classes/class.ilUtil.php
  src/GlobalScreen/Client/ClientSettings.php
Labels: bugfix, php

#5583 [ECS] Fix TypeError on deleting ECS
  Services/WebServices/ECS/classes/class.ilECSSettingsGUI.php
Labels: improvement

#5570 EmployeeTalk: failing DBUpdateStep 4
  Modules/OrgUnit/classes/Positions/Operation/class.ilOrgUnitOperationContextDBRepository.php
Labels: bugfix, php

#5589 Staff: Fixes for Certificates view
  Services/Certificate/classes/API/Filter/UserDataFilter.php
  Services/Certificate/classes/API/Repository/UserDataRepository.php
  Services/MyStaff/classes/ListCertificates/class.ilMStListCertificates.php
  Services/MyStaff/classes/ListCertificates/class.ilMStListCertificatesTableGUI.php
Labels: bugfix, php

#5362 Hiding patches folder and .github folder from the public using htaccess.
  .htaccess
Labels: improvement

#5572 T&A Fixes #36548, #36641, #36649 Error Texts related issues
  Modules/TestQuestionPool/classes/class.assErrorText.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#5573 Fix PHP error for "Create Question" when a question plugin is active
  Modules/TestQuestionPool/classes/class.ilAssQuestionTypeOrderer.php
Labels: bugfix, php

#5600 T&A Bugfix #0036135: QP Sync Test not buildable skip (Part 2)
  Modules/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
Labels: bugfix

#5602 36311: Failed test: Enable/disable Staff View
  Modules/OrgUnit/classes/Settings/class.ilOrgUnitGlobalSettingsGUI.php
Labels: bugfix, php

#5592 SCSS Container, Row, Form Padding Fix (caused horizontal page scrollbar)
  Modules/Blog/templates/default/tpl.blog_embedded.html
  Modules/Chatroom/templates/default/tpl.chatroom.html
  Modules/StudyProgramme/templates/default/tpl.acknowledge_completed_courses.html
  Modules/Survey/templates/default/tpl.il_svy_svy_evaluation.html
  Modules/TestQuestionPool/templates/default/tpl.il_as_cloze_gap_builder.html
  Modules/TestQuestionPool/templates/default/tpl.il_as_qpl_longmenu_question_gap.html
  Modules/TestQuestionPool/test/Jasmine/spec/javascripts/fixtures/longMenuQuestion.html
  Modules/Wiki/templates/default/tpl.table_row_contributors.html
  Services/COPage/templates/default/tpl.paragraph_edit.html
  Services/Classification/templates/default/tpl.classification_object_list.html
  Services/Container/templates/default/tpl.container_list_block.html
  Services/Form/templates/default/tpl.property_form.html
  Services/InfoScreen/templates/default/tpl.infoscreen.html
  Services/Init/templates/default/tpl.login_form_shibboleth.html
  Services/Link/templates/default/tpl.link_help_asynch.html
  Services/OnScreenChat/templates/default/tpl.chat-add-user.html
  Services/OpenIdConnect/templates/default/tpl.login_element.html
  Services/Saml/templates/default/tpl.login_form_saml.html
  templates/default/020-dependencies/modifications/bootstrap-3-scss/stylesheets/bootstrap/_forms.scss
  templates/default/020-dependencies/modifications/bootstrap-3-scss/stylesheets/bootstrap/_grid.scss
  templates/default/020-dependencies/modifications/bootstrap-3-scss/stylesheets/bootstrap/_variables.scss
  templates/default/050-layout/_index.scss
  templates/default/050-layout/_layout_breakpoints.scss
  templates/default/050-layout/_layout_container.scss
  templates/default/050-layout/_layout_grid.scss
  templates/default/050-layout/basics/_layout_spacing-variables.scss
  templates/default/070-components/legacy/Services/UIComponent/_component_tabs.scss
  templates/default/070-components/legacy/_component_delostable.scss
  templates/default/070-components/legacy/_component_headline.scss
  templates/default/delos.css
  templates/default/delos.css.map
  templates/default/tpl.adm_content.html
  templates/default/tpl.page_content.html
Labels: bugfix, improvement

#5601 Refactored notifications and adapted async fetchter onto new collector
  Modules/Chatroom/GlobalScreen/ChatInvitationToastProvider.php
  Services/Badge/GlobalScreen/BadgeToastProvider.php
  Services/Contact/classes/Provider/ContactToastProvider.php
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
  Services/Notifications/classes/ToastsOfNotifications.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
  Services/Notifications/classes/ilNotificationOSDGUI.php
  Services/Notifications/templates/default/notifications.js
  Services/User/Settings/classes/class.ilUserPrivacySettingsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/GlobalScreen/Scope/Toast/Provider/AbstractToastProvider.php
  src/GlobalScreen/Scope/Toast/README.md
  src/UI/Implementation/Component/Toast/Toast.php
Labels: improvement, php, javascript

#5609 Refactored notifications and adapted async fetchter onto new collector for TRUNK
  Modules/Chatroom/GlobalScreen/ChatInvitationToastProvider.php
  Services/Badge/GlobalScreen/BadgeToastProvider.php
  Services/Contact/classes/Provider/ContactToastProvider.php
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
  Services/Notifications/classes/ToastsOfNotifications.php
  Services/Notifications/classes/class.ilNotificationGUI.php
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
  Services/Notifications/classes/ilNotificationOSDGUI.php
  Services/Notifications/templates/default/notifications.js
  Services/User/Settings/classes/class.ilUserPrivacySettingsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/GlobalScreen/Scope/Toast/Provider/AbstractToastProvider.php
  src/GlobalScreen/Scope/Toast/README.md
  src/UI/Implementation/Component/Toast/Toast.php
Labels: improvement, php, javascript

#5615 remove setting use from update for TRUNK
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
Labels: bugfix, php

#5614 remove setting use from update
  Services/Notifications/classes/Setup/ilNotificationUpdateSteps.php
Labels: bugfix, php

#5547 [FIX] 0035819: Customizing custom style css data strong cached
  Services/Init/classes/class.ilInitialisation.php
  Services/Utilities/classes/class.ilUtil.php
Labels: bugfix, jour fixe

#5390 Init: Don't report deprecations (if `DEVMODE` is disabled / ILIAS >= 7.x)
  Services/Init/classes/class.ilInitialisation.php
Labels: improvement, php

#5391 Init: Don't report deprecations except for `DEVMODE` (ILIAS 7 only)
  Services/Init/classes/class.ilInitialisation.php
Labels: improvement, php

#5617 Fix undefined array key in `ilObjectAccess::canBeDelivered` (trunk)
  Services/Object/classes/class.ilObjectAccess.php
Labels: bugfix, php

#5571 casting arg #1 of str_pad() to 'string'
  Services/Object/classes/class.ilObjectDefinition.php
Labels: bugfix, php

#5557 User: Fix `time_limit_unlimited` handling
  Services/User/classes/class.ilObjUserGUI.php
Labels: bugfix, php

#5586 User: Don't display link to mail system without access
  Services/User/classes/class.ilPublicUserProfileGUI.php
Labels: bugfix, php

#5587 User: Don't display link to mail system without access
  Services/User/classes/class.ilPublicUserProfileGUI.php
Labels: bugfix, php

#5588 User: Don't display link to mail system without access
  Services/User/classes/class.ilPublicUserProfileGUI.php
Labels: bugfix, php

#5626 32716: Certificate cannot be downloaded at Organization/Staff List
  Services/Certificate/classes/User/class.ilUserCertificateGUI.php
Labels: bugfix, php

#5279 IRSS: Migration of Profile-Pictures
  Services/User/Avatar/classes/Flavours/class.ilUserProfilePictureDefinition.php
  Services/User/Avatar/classes/Flavours/class.ilUserProfilePictureMachine.php
  Services/User/Avatar/classes/class.ilUserAvatarResolver.php
  Services/User/Avatar/classes/class.ilUserProfilePictureStakeholder.php
  Services/User/Profile/classes/class.ilPersonalProfileGUI.php
  Services/User/classes/Setup/class.ilUserDB90.php
  Services/User/classes/Setup/class.ilUserProfilePictureMigration.php
  Services/User/classes/Setup/class.ilUserSetupAgent.php
  Services/User/classes/class.ilObjUser.php
  Services/User/classes/class.ilObjUserGUI.php
  Services/User/classes/class.ilPublicUserProfileGUI.php
  Services/User/classes/class.ilUserAvatarResolver.php
Labels: improvement, php

#5624 User/Gallery: Fix PHP 8.1 issues (+ 'boyscouting')
  Services/User/Gallery/classes/class.ilAbstractUsersGalleryCollectionProvider.php
  Services/User/Gallery/classes/class.ilUsersGalleryGUI.php
  Services/User/Gallery/classes/class.ilUsersGalleryGroup.php
  Services/User/Gallery/classes/class.ilUsersGalleryParticipants.php
  Services/User/Gallery/classes/class.ilUsersGallerySortedUserGroup.php
  Services/User/Gallery/classes/class.ilUsersGalleryUserImpl.php
Labels: improvement, php
