Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-05, with the labels that each got.

#7459 UI Component, ViewControl rollback to state before DataTable 41298
  src/UI/templates/default/Button/button.less
  src/UI/templates/default/Panel/panel.less
  src/UI/templates/default/Panel/tpl.secondary.html
  src/UI/templates/default/Panel/tpl.standard.html
  src/UI/templates/default/Table/table.less
  src/UI/templates/default/ViewControl/tpl.mode.html
  src/UI/templates/default/ViewControl/tpl.pagination.html
  src/UI/templates/default/ViewControl/tpl.section.html
  src/UI/templates/default/ViewControl/tpl.sortation.html
  src/UI/templates/default/ViewControl/viewcontrol.less
  templates/default/delos.css
  templates/default/delos.less
  templates/default/less/variables.less
  tests/UI/Component/Panel/PanelSecondaryLegacyTest.php
  tests/UI/Component/Panel/PanelSecondaryListingTest.php
  tests/UI/Component/Panel/PanelTest.php
  tests/UI/Component/ViewControl/PaginationTest.php
  tests/UI/Component/ViewControl/SortationTest.php
  tests/UI/Component/ViewControl/ViewControlTest.php
Labels: bugfix, kitchen sink

#7450 T&A: 41152, Fixed division by zero exception in assFormulaQuestionResult::convertDecimalToCoprimeFraction()
  Modules/TestQuestionPool/classes/class.assFormulaQuestionResult.php
Labels: bugfix

#7437 Remove mailing lists on user deletion
  Services/Contact/classes/class.ilContactAppEventListener.php
  Services/Contact/classes/class.ilMailingLists.php
Labels: bugfix, php

#7456 Update Dependencies after Release v9.0
  composer.lock
Labels: technical board, dependencies

#7467 Fix license header for Dashboard Service
  Services/Dashboard/Access/class.DashboardAccess.php
  Services/Dashboard/Achievements/classes/class.ilAchievements.php
  Services/Dashboard/Achievements/classes/class.ilAchievementsGUI.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettings.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsAccess.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashObjectsTableGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashObjectsTableRenderer.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashboardSidePanelSettingsRepository.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDMembershipBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemBlockMembershipsDTO.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGroup.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockListGUIFactory.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsObjectDatabaseRepository.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsProvider.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsViewGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockSelectedItemsProvider.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewGUI.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockConstants.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockMembershipsObjectRepository.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockProvider.php
  Services/Dashboard/classes/Setup/ilDashboardUpdateAgent.php
  Services/Dashboard/classes/Setup/ilDashboardUpdateSteps.php
  Services/Dashboard/classes/class.ilDashboardContentBlockGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  Services/Dashboard/classes/class.ilPersonalDesktopSettingsRepository.php
  Services/Dashboard/interfaces/interface.ilDesktopItemHandling.php
  Services/Dashboard/test/DashboardViewSettingsTest.php
  Services/Dashboard/test/ilServicesDashboardSuite.php
Labels: improvement, documentation

#7465 Remove withConsecutive calls from various components
  components/ILIAS/Authentication/tests/ilSessionTest.php
  components/ILIAS/Badge/tests/BadgeParentTest.php
  components/ILIAS/Badge/tests/PresentationHeaderTest.php
  components/ILIAS/Badge/tests/TileTest.php
  components/ILIAS/Certificate/tests/ilCertificateCourseLearningProgressEvaluationTest.php
  components/ILIAS/Certificate/tests/ilCertificateLearningHistoryProviderTest.php
  components/ILIAS/Certificate/tests/ilCertificateTemplateRepositoryTest.php
  components/ILIAS/Certificate/tests/ilPageFormatsTest.php
  components/ILIAS/Cron/tests/CronJobManagerTest.php
  components/ILIAS/DataProtection/tests/ConsumerTest.php
  components/ILIAS/Forum/tests/ilForumNotificationTest.php
  components/ILIAS/LegalDocuments/tests/AdministrationTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/BlocksTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/ShowOnLoginPageTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/MarshalTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/UITest.php
  components/ILIAS/LegalDocuments/tests/Provide/ProvideDocumentTest.php
  components/ILIAS/LegalDocuments/tests/Provide/ProvidePublicPageTest.php
  components/ILIAS/LegalDocuments/tests/ProvideTest.php
  components/ILIAS/Mail/tests/ilMailTest.php
  components/ILIAS/OnScreenChat/tests/SubscriberRepositoryTest.php
  components/ILIAS/TermsOfService/tests/UserSettingsTest.php
Labels: bugfix, improvement, php

#7478 Fix license header for Password Service
  Services/Password/classes/class.ilBasePasswordEncoder.php
  Services/Password/classes/class.ilPasswordUtils.php
  Services/Password/classes/encoders/class.ilBcryptPasswordEncoder.php
  Services/Password/classes/encoders/class.ilBcryptPhpPasswordEncoder.php
  Services/Password/classes/encoders/class.ilMd5PasswordEncoder.php
  Services/Password/exceptions/class.ilPasswordException.php
  Services/Password/interfaces/interface.ilPasswordEncoder.php
  Services/Password/test/bootstrap.php
  Services/Password/test/encoders/ilBcryptPasswordEncoderTest.php
  Services/Password/test/encoders/ilBcryptPhpPasswordEncoderTest.php
  Services/Password/test/encoders/ilMd5PasswordEncoderTest.php
  Services/Password/test/ilPasswordBaseTest.php
  Services/Password/test/ilServicesPasswordSuite.php
Labels: improvement, documentation

#7477 Fix license header for SAML Service
  Services/Saml/classes/class.ilAuthFrontendCredentialsSaml.php
  Services/Saml/classes/class.ilAuthProviderSaml.php
  Services/Saml/classes/class.ilSamlAuthFactory.php
  Services/Saml/classes/class.ilSamlIdp.php
  Services/Saml/classes/class.ilSamlIdpSelectionTableGUI.php
  Services/Saml/classes/class.ilSamlIdpTableGUI.php
  Services/Saml/classes/class.ilSamlIdpXmlMetadataErrorFormatter.php
  Services/Saml/classes/class.ilSamlIdpXmlMetadataParser.php
  Services/Saml/classes/class.ilSamlMappedUserAttributeValueParser.php
  Services/Saml/classes/class.ilSamlSettings.php
  Services/Saml/classes/class.ilSamlSettingsGUI.php
  Services/Saml/classes/class.ilSimpleSAMLphpConfigTemplateHandler.php
  Services/Saml/classes/class.ilSimpleSAMLphpWrapper.php
  Services/Saml/classes/class.ilSimpleSAMLphplIdpDiscovery.php
  Services/Saml/classes/form/class.ilSamlIdpMetadataInputGUI.php
  Services/Saml/classes/form/class.ilSamlIdpMetadataPurifier.php
  Services/Saml/exceptions/class.ilSamlException.php
  Services/Saml/interfaces/interface.ilSamlAuth.php
  Services/Saml/interfaces/interface.ilSamlIdpDiscovery.php
  Services/Saml/test/bootstrap.php
  Services/Saml/test/ilSamlIdpXmlMetadataParserTest.php
  Services/Saml/test/ilSamlMappedUserAttributeValueParserTest.php
Labels: improvement, documentation

#7472 Fix license header for ContentPage Module
  Modules/ContentPage/classes/GlobalSettings/Settings.php
  Modules/ContentPage/classes/GlobalSettings/Storage.php
  Modules/ContentPage/classes/GlobalSettings/StorageImpl.php
  Modules/ContentPage/classes/PageMetrics/Command/GetPageMetricsCommand.php
  Modules/ContentPage/classes/PageMetrics/Command/StorePageMetricsCommand.php
  Modules/ContentPage/classes/PageMetrics/CouldNotFindPageMetrics.php
  Modules/ContentPage/classes/PageMetrics/Entity/PageMetrics.php
  Modules/ContentPage/classes/PageMetrics/Event/PageUpdatedEvent.php
  Modules/ContentPage/classes/PageMetrics/PageMetricsRepository.php
  Modules/ContentPage/classes/PageMetrics/PageMetricsRepositoryImpl.php
  Modules/ContentPage/classes/PageMetrics/PageMetricsService.php
  Modules/ContentPage/classes/PageMetrics/ValueObject/PageReadingTime.php
  Modules/ContentPage/classes/Setup/class.ilContentPageSetupAgent.php
  Modules/ContentPage/classes/Setup/class.ilContentPageUpdateSteps.php
  Modules/ContentPage/classes/class.ilContentPageDataSet.php
  Modules/ContentPage/classes/class.ilContentPageExporter.php
  Modules/ContentPage/classes/class.ilContentPageImporter.php
  Modules/ContentPage/classes/class.ilContentPageKioskModeView.php
  Modules/ContentPage/classes/class.ilContentPageLP.php
  Modules/ContentPage/classes/class.ilContentPagePage.php
  Modules/ContentPage/classes/class.ilContentPagePageCollector.php
  Modules/ContentPage/classes/class.ilContentPagePageCommandForwarder.php
  Modules/ContentPage/classes/class.ilContentPagePageConfig.php
  Modules/ContentPage/classes/class.ilContentPagePageGUI.php
  Modules/ContentPage/classes/class.ilObjContentPage.php
  Modules/ContentPage/classes/class.ilObjContentPageAccess.php
  Modules/ContentPage/classes/class.ilObjContentPageAdministration.php
  Modules/ContentPage/classes/class.ilObjContentPageAdministrationAccess.php
  Modules/ContentPage/classes/class.ilObjContentPageAdministrationGUI.php
  Modules/ContentPage/classes/class.ilObjContentPageGUI.php
  Modules/ContentPage/classes/class.ilObjContentPageListGUI.php
  Modules/ContentPage/interfaces/interface.ilContentPageObjectConstants.php
  Modules/ContentPage/test/GlobalSettingsStorageTest.php
  Modules/ContentPage/test/PageMetricsTest.php
  Modules/ContentPage/test/PageReadingTimeTest.php
  Modules/ContentPage/test/bootstrap.php
  Modules/ContentPage/test/ilModulesContentPageSuite.php
Labels: improvement, documentation

#7471 Fix license header for Chatroom Module
  Modules/Chatroom/GlobalScreen/ChatInvitationNotificationProvider.php
  Modules/Chatroom/classes/Provider/ChatMainBarProvider.php
  Modules/Chatroom/classes/Setup/class.ilChatroomMetricsCollectedObjective.php
  Modules/Chatroom/classes/Setup/class.ilChatroomServerConfigStoredObjective.php
  Modules/Chatroom/classes/Setup/class.ilChatroomSetupAgent.php
  Modules/Chatroom/classes/Setup/class.ilChatroomSetupConfig.php
  Modules/Chatroom/classes/admingui/class.ilChatroomAdminSmileyGUI.php
  Modules/Chatroom/classes/admingui/class.ilChatroomAdminSmiliesGUI.php
  Modules/Chatroom/classes/admingui/class.ilChatroomAdminViewGUI.php
  Modules/Chatroom/classes/class.ilBannedUsersTableGUI.php
  Modules/Chatroom/classes/class.ilChatroomAdmin.php
  Modules/Chatroom/classes/class.ilChatroomAuthInputGUI.php
  Modules/Chatroom/classes/class.ilChatroomConfigFileHandler.php
  Modules/Chatroom/classes/class.ilChatroomExporter.php
  Modules/Chatroom/classes/class.ilChatroomFormFactory.php
  Modules/Chatroom/classes/class.ilChatroomGUIHandler.php
  Modules/Chatroom/classes/class.ilChatroomImporter.php
  Modules/Chatroom/classes/class.ilChatroomInstaller.php
  Modules/Chatroom/classes/class.ilChatroomObjectDefinition.php
  Modules/Chatroom/classes/class.ilChatroomObjectGUI.php
  Modules/Chatroom/classes/class.ilChatroomServerConnector.php
  Modules/Chatroom/classes/class.ilChatroomServerSettings.php
  Modules/Chatroom/classes/class.ilChatroomSmilies.php
  Modules/Chatroom/classes/class.ilChatroomSmiliesCurrentSmileyFormElement.php
  Modules/Chatroom/classes/class.ilChatroomSmiliesGUI.php
  Modules/Chatroom/classes/class.ilChatroomSmiliesTableGUI.php
  Modules/Chatroom/classes/class.ilChatroomTabGUIFactory.php
  Modules/Chatroom/classes/class.ilChatroomUser.php
  Modules/Chatroom/classes/class.ilChatroomXMLParser.php
  Modules/Chatroom/classes/class.ilChatroomXMLWriter.php
  Modules/Chatroom/classes/class.ilObjChatroom.php
  Modules/Chatroom/classes/class.ilObjChatroomAccess.php
  Modules/Chatroom/classes/class.ilObjChatroomAdmin.php
  Modules/Chatroom/classes/class.ilObjChatroomAdminAccess.php
  Modules/Chatroom/classes/class.ilObjChatroomAdminGUI.php
  Modules/Chatroom/classes/class.ilObjChatroomGUI.php
  Modules/Chatroom/classes/class.ilObjChatroomListGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomBanGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomClearGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomCreateGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomHistoryGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomInfoGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomInviteUsersToPrivateRoomGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomKickGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomPollGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomPrivateRoomGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomSettingsGUI.php
  Modules/Chatroom/classes/gui/class.ilChatroomViewGUI.php
  Modules/Chatroom/test/bootstrap.php
  Modules/Chatroom/test/class.ilChatroomAbstractTaskTest.php
  Modules/Chatroom/test/class.ilChatroomAbstractTest.php
  Modules/Chatroom/test/class.ilChatroomServerSettingsTest.php
  Modules/Chatroom/test/class.ilChatroomUserTest.php
  Modules/Chatroom/test/class.ilObjChatroomAccessTest.php
  Modules/Chatroom/test/class.ilObjChatroomAdminAccessTest.php
  Modules/Chatroom/test/class.ilObjChatroomTest.php
  Modules/Chatroom/test/ilModulesChatroomSuite.php
Labels: improvement, documentation

#7479 Fix license header for Badge Service
  Services/Badge/GlobalScreen/BadgeMainBarProvider.php
  Services/Badge/GlobalScreen/BadgeNotificationProvider.php
  Services/Badge/classes/Setup/class.ilBadgeDefinitionProcessor.php
  Services/Badge/classes/class.ilBadgeManagementSessionRepository.php
  Services/Badge/test/BadgeManagementSessionRepositoryTest.php
  Services/Badge/test/ilServicesBadgeSuite.php
Labels: improvement, documentation

#7480 Fix license header for Environment Service
  Services/Environment/classes/class.ilRuntime.php
  Services/Environment/test/RunTimeTest.php
  Services/Environment/test/bootstrap.php
  Services/Environment/test/ilServicesEnvironmentSuite.php
Labels: improvement, documentation

#7481 Fix license header for HTML Service
  Services/Html/classes/class.ilHtmlDomNodeIterator.php
  Services/Html/classes/class.ilHtmlPurifierAbstractLibWrapper.php
  Services/Html/classes/class.ilHtmlPurifierComposite.php
  Services/Html/classes/class.ilHtmlPurifierFactory.php
  Services/Html/exceptions/class.ilHtmlException.php
  Services/Html/exceptions/class.ilHtmlPurifierNotFoundException.php
  Services/Html/interfaces/interface.ilHtmlPurifierInterface.php
  Services/Html/test/bootstrap.php
  Services/Html/test/ilHtmlDomNodeIteratorTest.php
  Services/Html/test/ilHtmlPurifierCompositeTest.php
  Services/Html/test/ilHtmlPurifierLibWrapperTest.php
  Services/Html/test/ilServicesHtmlSuite.php
Labels: improvement, documentation

#7484 Fix license header for Cron Service
  Services/Cron/classes/Setup/class.ilCronDefinitionProcessor.php
  Services/Cron/classes/class.ilCronHookPlugin.php
  Services/Cron/classes/class.ilCronJobEntities.php
  Services/Cron/classes/class.ilCronJobEntity.php
  Services/Cron/classes/class.ilCronJobResult.php
  Services/Cron/classes/class.ilCronManagerGUI.php
  Services/Cron/classes/class.ilCronManagerTableFilterMediator.php
  Services/Cron/classes/class.ilCronManagerTableGUI.php
  Services/Cron/classes/class.ilCronServicesImpl.php
  Services/Cron/classes/class.ilCronStartUp.php
  Services/Cron/classes/class.ilStrictCliCronManager.php
  Services/Cron/exceptions/class.ilCronException.php
  Services/Cron/interfaces/interface.ilCronJobCollection.php
  Services/Cron/interfaces/interface.ilCronJobProvider.php
  Services/Cron/interfaces/interface.ilCronManager.php
  Services/Cron/interfaces/interface.ilCronServices.php
  Services/Cron/test/CronJobEntityTest.php
  Services/Cron/test/CronJobScheduleTest.php
  Services/Cron/test/bootstrap.php
  Services/Cron/test/ilServicesCronSuite.php
Labels: improvement, documentation

#7482 Fix license header for OnScreenChat Service
  Services/OnScreenChat/classes/DTO/ConversationDto.php
  Services/OnScreenChat/classes/DTO/MessageDto.php
  Services/OnScreenChat/classes/Provider/OnScreenChatProvider.php
  Services/OnScreenChat/classes/Repository/Conversation.php
  Services/OnScreenChat/classes/Repository/Subscriber.php
  Services/OnScreenChat/classes/class.ilOnScreenChatAppEventListener.php
  Services/OnScreenChat/classes/class.ilOnScreenChatGUI.php
  Services/OnScreenChat/classes/class.ilOnScreenChatUserUserAutoComplete.php
  Services/OnScreenChat/test/ConversationRepositoryTest.php
  Services/OnScreenChat/test/SubscriberRepositoryTest.php
  Services/OnScreenChat/test/bootstrap.php
  Services/OnScreenChat/test/ilOnScreenChatBaseTest.php
  Services/OnScreenChat/test/ilServicesOnScreenChatSuite.php
Labels: improvement, documentation

#7386 Database: Revert behaviour of ilDBPdo::executeMultiple() to documented functionality
  Services/Database/classes/PDO/class.ilDBPdo.php
  Services/Database/interfaces/interface.ilDBPdoInterface.php
Labels: php

#7329 Fix mantis #40577
  Modules/ScormAicc/classes/SCORM/class.ilSCORMPresentationGUI.php
  Modules/ScormAicc/templates/default/tpl.sahs_pres_frameset_js.html
  Modules/ScormAicc/templates/default/tpl.sahs_pres_frameset_js_debug.html
  Modules/ScormAicc/templates/default/tpl.sahs_pres_frameset_js_debug_one_page.html
  Modules/ScormAicc/templates/default/tpl.sahs_pres_frameset_js_one_page.html
Labels: bugfix, php

#7414 ILIAS 10: Add Unique Certificate ID for Certificate Editor
  components/ILIAS/Certificate/Overview/CertificateOverviewTable.php
  components/ILIAS/Certificate/PRIVACY.md
  components/ILIAS/Certificate/README.md
  components/ILIAS/Certificate/classes/Placeholder/Description/class.ilDefaultPlaceholderDescription.php
  components/ILIAS/Certificate/classes/Placeholder/Values/class.ilDefaultPlaceholderValues.php
  components/ILIAS/Certificate/classes/Setup/Migration/CertificateIdMigration.php
  components/ILIAS/Certificate/classes/Setup/class.ilCertificatSetupAgent.php
  components/ILIAS/Certificate/classes/Setup/class.ilCertificateDatabaseUpdateSteps.php
  components/ILIAS/Certificate/classes/User/class.ilUserCertificate.php
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateRepository.php
  components/ILIAS/Certificate/classes/ValueObject/CertificateId.php
  components/ILIAS/Certificate/classes/class.ilCertificateCron.php
  components/ILIAS/Certificate/classes/class.ilObjCertificateSettingsGUI.php
  components/ILIAS/Certificate/tests/ilCertificateLearningHistoryProviderTest.php
  components/ILIAS/Certificate/tests/ilCertificateTemplatePreviewActionTest.php
  components/ILIAS/Certificate/tests/ilDefaultPlaceholderDescriptionTest.php
  components/ILIAS/Certificate/tests/ilDefaultPlaceholderValuesTest.php
  components/ILIAS/Certificate/tests/ilExercisePlaceholderDescriptionTest.php
  components/ILIAS/Certificate/tests/ilPdfGeneratorTest.php
  components/ILIAS/Certificate/tests/ilTestPlaceholderDescriptionTest.php
  components/ILIAS/Certificate/tests/ilUserCertificateRepositoryTest.php
  components/ILIAS/Certificate/tests/ilUserCertificateTest.php
  components/ILIAS/ScormAicc/tests/ilScormPlaceholderDescriptionTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#7487 Fix for stale question entries
  Modules/Course/classes/Objectives/class.ilCourseObjectiveResult.php
Labels: bugfix, php

#7489 Certificate: Fix overview table in wrong folder
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
Labels: improvement, php

#7282 Forum: Fix content style import
  Modules/Forum/classes/class.ilForumImporter.php
  Modules/Forum/classes/class.ilForumXMLParser.php
  Modules/Forum/classes/class.ilForumXMLWriter.php
  xml/SchemaValidation/ilias_frm_8.xsd
  xml/SchemaValidation/ilias_frm_9.xsd
Labels: bugfix, php

#7284 ContentPage: Fix content style import
  Modules/ContentPage/classes/class.ilContentPageDataSet.php
  Modules/ContentPage/classes/class.ilContentPageImporter.php
  xml/SchemaValidation/ilias_copa_9.xsd
Labels: bugfix, php

#7434 fix objective results when tests use fractional point values
  Modules/Course/classes/Objectives/class.ilCourseObjectiveQuestion.php
  Modules/Course/classes/Objectives/class.ilCourseObjectiveResult.php
  Modules/Course/classes/Objectives/class.ilLOTestQuestionAdapter.php
  Modules/Course/classes/Objectives/class.ilLOTestRun.php
Labels: bugfix, php

#6776 fixed 0036882: Undefined variable: type in /var/www/html/ilias/webser…
  webservice/soap/include/inc.soap_functions.php
Labels: bugfix, php

#7486 DBMS: Proposed Version range für MySQL/MariaDB
  docs/configuration/install.md
Labels: dependencies, documentation

#7510 Trunk: Sort certificate overview table using DB query instead of in code
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateRepository.php
Labels: improvement, php

#7371 User: Add goto link for the login page (ILIAS 10)
  components/ILIAS/Authentication/classes/StaticUrlHandler.php
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: improvement, php

#7509 User/UDF: Don't provide NULL values for consumers
  Services/User/classes/class.ilUserDefinedData.php
Labels: bugfix, php

#7454 UI: Fix In-Accessible Second Level Items Drilldown
  templates/default/070-components/UI-framework/Menu/_ui-component_drilldown.scss
  templates/default/delos.css
  templates/default/delos.css.map
Labels: kitchen sink, improvement

#7514 Update Dependencies after Release v8.11
  composer.lock
Labels: technical board, dependencies

#7350 Transform all properties of symbols that are publicly accessible
  src/UI/Implementation/Component/Symbol/Avatar/Renderer.php
  src/UI/Implementation/Component/Symbol/Icon/Renderer.php
  src/UI/Implementation/Render/AbstractComponentRenderer.php
  tests/UI/Component/Symbol/Avatar/AvatarTest.php
  tests/UI/Component/Symbol/Icon/IconTest.php
Labels: kitchen sink, improvement, php

#7512 Trash: Reformat output of title and description
  Services/Repository/Trash/class.ilRepositoryTrashGUI.php
  Services/Repository/Trash/class.ilTrashTableGUI.php
Labels: bugfix

#7521 UI: fix backwards compatibility for Data/Table backport
  src/UI/Implementation/Component/Input/Field/Checkbox.php
  src/UI/Implementation/Component/Input/Field/DateTime.php
  src/UI/Implementation/Component/Input/Field/Duration.php
  src/UI/Implementation/Component/Input/Field/File.php
  src/UI/Implementation/Component/Input/Field/Group.php
  src/UI/Implementation/Component/Input/Field/Hidden.php
  src/UI/Implementation/Component/Input/Field/Link.php
  src/UI/Implementation/Component/Input/Field/MultiSelect.php
  src/UI/Implementation/Component/Input/Field/Numeric.php
  src/UI/Implementation/Component/Input/Field/OptionalGroup.php
  src/UI/Implementation/Component/Input/Field/Password.php
  src/UI/Implementation/Component/Input/Field/Radio.php
  src/UI/Implementation/Component/Input/Field/Select.php
  src/UI/Implementation/Component/Input/Field/SwitchableGroup.php
  src/UI/Implementation/Component/Input/Field/Tag.php
  src/UI/Implementation/Component/Input/Field/Text.php
  src/UI/Implementation/Component/Input/Field/Textarea.php
  src/UI/Implementation/Component/Input/Field/Url.php
  src/UI/Implementation/Component/Input/Group.php
  src/UI/Implementation/Component/Input/Input.php
  src/UI/Implementation/Component/Input/ViewControl/FieldSelection.php
  src/UI/Implementation/Component/Input/ViewControl/Group.php
  src/UI/Implementation/Component/Input/ViewControl/GroupDecorator.php
Labels: kitchen sink, improvement, php

#7526 [FIX] UI: revert input type hints for backwards compatibility.
  src/UI/Component/Input/Container/Form/FormInput.php
  src/UI/Component/Input/Field/DateTime.php
  src/UI/Component/Input/Field/HasDynamicInputs.php
  src/UI/Implementation/Component/Input/Field/Checkbox.php
  src/UI/Implementation/Component/Input/Field/DateTime.php
  src/UI/Implementation/Component/Input/Field/FormInput.php
  src/UI/Implementation/Component/Input/Field/Group.php
  src/UI/Implementation/Component/Input/Field/HasDynamicInputsBase.php
  src/UI/Implementation/Component/Input/Field/Input.php
  src/UI/Implementation/Component/Input/Field/OptionalGroup.php
  src/UI/Implementation/Component/Input/Field/Password.php
  src/UI/Implementation/Component/Input/Field/Radio.php
  src/UI/Implementation/Component/Input/Field/SwitchableGroup.php
  src/UI/Implementation/Component/Input/Field/Tag.php
  src/UI/Implementation/Component/Input/Group.php
  src/UI/Implementation/Component/Input/Input.php
  src/UI/Implementation/Component/Input/InputInternal.php
Labels: kitchen sink, improvement, php

#7515 Mantis #14367 - fix local user role assignments within org unit
  Modules/OrgUnit/classes/LocalUser/class.ilLocalUserGUI.php
Labels: bugfix, php

#7528 TestQuestionPool: Ensure proper use of `unserialize`
  Modules/TestQuestionPool/classes/import/qti12/class.assErrorTextImport.php
  Modules/TestQuestionPool/classes/import/qti12/class.assTextQuestionImport.php
Labels: bugfix, php

#7527 Data: fix Meta/Tag::toHtml (#40110)
  src/Data/Meta/Html/OpenGraph/Tag.php
  src/Data/Meta/Html/UserDefined.php
Labels: bugfix

#7519 [Forum] Remove ilObjForum::_deleteUser call from ilObjUser
  Modules/Forum/classes/class.ilForumAppEventListener.php
  Services/User/classes/class.ilObjUser.php
Labels: improvement, php

#7064 Init/ErrorHandling/SOAP: Use `SOAP` error handler ALWAYS in SOAP context
  Services/Exceptions/classes/class.ilSoapExceptionHandler.php
  Services/Init/classes/class.ilErrorHandling.php
Labels: improvement, php

#7529 Authentication: Prevent type casting of composed authentication modes
  Services/Authentication/classes/class.ilAuthUtils.php
Labels: bugfix, php

#7511 41202: Fix missing tableview_id option parameter in DataCollection
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Rating/class.ilDclRatingRecordRepresentation.php
Labels: bugfix

#7494 ErrorHandling: Check for `tpl` existence
  Services/Init/classes/class.ilErrorHandling.php
Labels: bugfix, php

#7538 TA 41390, hide user name in anon mode
  Modules/Test/classes/class.ilTestEvaluationGUI.php
Labels: bugfix

#7483 Fix license header for Authentication Service
  Services/Authentication/classes/Cookie/class.ilCookie.php
  Services/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserAttributeMapping.php
  Services/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserAttributeMappingRule.php
  Services/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserCreationAttributeMappingFilter.php
  Services/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserUpdateAttributeMappingFilter.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontend.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCLI.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCredentials.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsApache.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsHTTP.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsSoap.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendFactory.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendHTTP.php
  Services/Authentication/classes/Frontend/class.ilAuthFrontendWS.php
  Services/Authentication/classes/Frontend/class.ilAuthStandardFormFrontend.php
  Services/Authentication/classes/Provider/class.ilAuthProvider.php
  Services/Authentication/classes/Provider/class.ilAuthProviderDatabase.php
  Services/Authentication/classes/Provider/class.ilAuthProviderFactory.php
  Services/Authentication/classes/class.ilAuthFactory.php
  Services/Authentication/classes/class.ilAuthLoginPageEditorGUI.php
  Services/Authentication/classes/class.ilAuthLoginPageEditorSettings.php
  Services/Authentication/classes/class.ilAuthModeDetermination.php
  Services/Authentication/classes/class.ilAuthPlugin.php
  Services/Authentication/classes/class.ilAuthSession.php
  Services/Authentication/classes/class.ilAuthStatus.php
  Services/Authentication/classes/class.ilLoginPage.php
  Services/Authentication/classes/class.ilLoginPageConfig.php
  Services/Authentication/classes/class.ilLoginPageGUI.php
  Services/Authentication/classes/class.ilObjAuthSettings.php
  Services/Authentication/classes/class.ilObjAuthSettingsAccess.php
  Services/Authentication/classes/class.ilObjAuthSettingsListGUI.php
  Services/Authentication/classes/class.ilSessionControl.php
  Services/Authentication/classes/class.ilSessionDBHandler.php
  Services/Authentication/classes/class.ilSessionIStorage.php
  Services/Authentication/classes/class.ilSessionReminder.php
  Services/Authentication/classes/class.ilSessionReminderCheck.php
  Services/Authentication/classes/class.ilSessionReminderGUI.php
  Services/Authentication/classes/class.ilSessionStatistics.php
  Services/Authentication/classes/class.ilSessionStatisticsGUI.php
  Services/Authentication/interfaces/interface.ilAuthCredentials.php
  Services/Authentication/interfaces/interface.ilAuthDefinition.php
  Services/Authentication/interfaces/interface.ilAuthFrontendInterface.php
  Services/Authentication/interfaces/interface.ilAuthProviderAccountMigrationInterface.php
  Services/Authentication/interfaces/interface.ilAuthProviderInterface.php
  Services/Authentication/test/ilServicesAuthenticationSuite.php
  Services/Authentication/test/ilSessionTest.php
Labels: improvement, documentation

#7362 Auth: Fix Max Idle Time Readout
  Services/Authentication/classes/class.ilSession.php
Labels: bugfix, php

#7190 Init/PasswordAssistance: Trim form values (< ILIAS 9.x)
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, improvement

#7189 Init/PasswordAssistance: Trim form values
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, improvement

#7522 Preload GUI Data for Dashboard
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: bugfix, php

#7541 ErrorHandling: Check for `tpl` existence
  Services/Init/classes/class.ilErrorHandling.php
Labels: bugfix, php

#7542 Authentication: Use PHP core randomizer
  components/ILIAS/Authentication/classes/class.ilSession.php
Labels: improvement, php

#7543 Init: Use PHP core randomizer
  components/ILIAS/Init/classes/class.ilErrorHandling.php
Labels: improvement, php

#7547 Certificate Bugfix: UserLanugage undefined as a result of #7435
  Services/Certificate/classes/Placeholder/Values/class.ilDefaultPlaceholderValues.php
Labels: bugfix, php

#7555 41398: Fix mail template loaded from wrong directory
  Services/Mail/README.md
  Services/Mail/classes/class.ilMimeMail.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php, documentation

#7554 41413: Fix trying to assign string value to int|null property
  Modules/File/classes/class.ilFileXMLParser.php
Labels: bugfix, php

#7464 fixes mantis 39202
  webservice/soap/classes/class.ilSoapAdministration.php
  webservice/soap/classes/class.ilSoapInstallationInfoXMLWriter.php
Labels: bugfix

#7463 fixes mantis 39202
  webservice/soap/classes/class.ilSoapAdministration.php
  webservice/soap/classes/class.ilSoapInstallationInfoXMLWriter.php
Labels: bugfix

#7558 Prevent division error on 0 max points
  Modules/Test/classes/class.ilTestEvaluationGUI.php
Labels: bugfix, php

#7436 ComponentsRevision: fix WAC
  components/ILIAS/Init/resources/.htaccess
  components/ILIAS/WebAccessChecker/classes/class.ilWACPath.php
  components/ILIAS/WebAccessChecker/resources/wac.php
Labels: bugfix, php

#7546 T&A: Mantisticket 41352, Release 8
  Modules/TestQuestionPool/classes/class.assFileUpload.php
Labels: bugfix, php

#7550 T&A: Mantisticket 41352, Release 9 and Trunk
  Modules/TestQuestionPool/classes/class.assFileUpload.php
Labels: bugfix, php

#7552 T&A: Mantisticket 41373, Release 9
  Modules/Test/classes/tables/class.ilTestSkillLevelThresholdsTableGUI.php
Labels: bugfix, php

#7520 New Authorities for Administration Component
  docs/development/maintenance.md
Labels: documentation, authorities

#7569 Restructure pdf service config gui
  Services/PDFGeneration/classes/class.ilPDFGenerationConstants.php
  Services/PDFGeneration/classes/class.ilPDFGenerationRequest.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfig.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfigFormGUI.php
  Services/PDFGeneration/test/ilWkhtmlToPdfConfigTest.php
Labels: bugfix

#7447 Accessibility: Fix updating documents
  Services/Accessibility/classes/Document/class.ilAccessibilityDocumentFormGUI.php
Labels: bugfix, php

#6314 `Refinery`: Transformation for escaping html/css/js
  components/ILIAS/Refinery/README.md
  components/ILIAS/Refinery/src/Encode/Group.php
  components/ILIAS/Refinery/src/Encode/Transformation/HTMLAttributeValue.php
  components/ILIAS/Refinery/src/Encode/Transformation/HTMLSpecialCharsAsEntities.php
  components/ILIAS/Refinery/src/Encode/Transformation/Json.php
  components/ILIAS/Refinery/src/Encode/Transformation/URL.php
  components/ILIAS/Refinery/src/Factory.php
  components/ILIAS/Refinery/tests/Encode/GroupTest.php
  components/ILIAS/Refinery/tests/Encode/Transformation/HTMLAttributeValueTest.php
  components/ILIAS/Refinery/tests/Encode/Transformation/HTMLSpecialCharsAsEntitiesTest.php
  components/ILIAS/Refinery/tests/Encode/Transformation/JsonTest.php
  components/ILIAS/Refinery/tests/Encode/Transformation/ProvideUTF8CodepointRange.php
  components/ILIAS/Refinery/tests/Encode/Transformation/URLTest.php
  components/ILIAS/Refinery/tests/FactoryTest.php
Labels: improvement, php

#7370 Update Password Form in UserService to KS Components (ILIAS 10)
  components/ILIAS/Authentication/classes/Password/class.LocalUserPasswordEncoderFactory.php
  components/ILIAS/Authentication/classes/Password/class.LocalUserPasswordManager.php
  components/ILIAS/Authentication/classes/Password/class.LocalUserPasswordSettingsGUI.php
  components/ILIAS/Authentication/classes/Provider/class.ilAuthProviderDatabase.php
  components/ILIAS/Authentication/tests/LocalUserPasswordTest.php
  components/ILIAS/Authentication/tests/ilServicesAuthenticationSuite.php
  components/ILIAS/News/classes/class.ilPDNewsBlockGUI.php
  components/ILIAS/User/classes/Settings/class.ilPersonalSettingsGUI.php
  components/ILIAS/User/classes/class.UserGUIRequest.php
  components/ILIAS/User/classes/class.ilObjUser.php
  components/ILIAS/User/classes/class.ilObjUserFolderGUI.php
Labels: improvement

#7570 Add esscaping for Certificate ObjectSpecificPH
  Services/Certificate/classes/Placeholder/Values/class.ilObjectCustomUserFieldsPlaceholderValues.php
Labels: bugfix, php

#7574 Update Dependencies after Release v8.12
  composer.lock
Labels: technical board, dependencies

#7557 T&A: fixes 40641
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#7488 UI, ViewControls/DataTable: 41310, add nullControl to reserve input name
  src/UI/Component/Input/ViewControl/Factory.php
  src/UI/Component/Input/ViewControl/NullControl.php
  src/UI/Implementation/Component/Input/ViewControl/Factory.php
  src/UI/Implementation/Component/Input/ViewControl/NullControl.php
  src/UI/Implementation/Component/Input/ViewControl/Renderer.php
  src/UI/Implementation/Component/Table/Data.php
  src/UI/examples/Input/ViewControl/NullControl/base.php
  tests/UI/Component/Input/ViewControl/ViewControlNullTest.php
  tests/UI/Component/Table/DataViewControlsTest.php
Labels: bugfix

#7560 [FIX] 0041418: Setup routine does not verify required PHP version
  setup/classes/class.ilSetupAgent.php
  src/Setup/Condition/ExternalConditionObjective.php
  src/Setup/Condition/PHPVersionCondition.php
  tests/Setup/Condition/ExternalConditionObjectiveTest.php
Labels: bugfix, php

#7270 LegacyForm/ilHierarchyFormGUI: Use UI/KS glyphs
  components/ILIAS/Form/classes/class.ilHierarchyFormGUI.php
Labels: improvement, php

#7267 LegacyForm/FileWizard: Use UI/KS glyphs
  components/ILIAS/Form/classes/class.ilFileWizardInputGUI.php
  components/ILIAS/Form/resources/filewizard.js
  components/ILIAS/Form/templates/default/tpl.prop_filewizardinput.html
Labels: improvement, php, javascript

#7579 UI/OrderingTable: #41445, table's footer row should not be draggable
  components/ILIAS/UI/resources/js/Table/dist/table.min.js
  components/ILIAS/UI/resources/js/Table/src/orderingtable.class.js
Labels: bugfix, php

#7582 [FIX] supported PHP versions in ILIAS 10
  components/ILIAS/setup_/classes/class.ilCommonSetupAgent.php
Labels: bugfix, php

#7183 LegalDocuments: Lang vars for anonymous (trunk)
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/Agreement.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/UI.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/AgreementTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#7182 LegalDocuments: Lang vars for anonymous (9)
  Services/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/Agreement.php
  Services/LegalDocuments/classes/ConsumerToolbox/UI.php
  Services/LegalDocuments/test/ConsumerToolbox/ConsumerSlots/AgreementTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#7181 TermsOfService: Lang vars for anonymous
  Services/Init/classes/class.ilStartUpGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php
