Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-06, with the labels that each got.

#7592 Setup: fix skip command while using update or install command. (#41410)
  src/Setup/CLI/HasAgent.php
Labels: bugfix, php

#7593 Fixed authority for DataCollection
  docs/development/maintenance.md
Labels: improvement, documentation, authorities

#7595 Certificate Overview Table: Fix empty string returned instead of table column name
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateRepository.php
Labels: bugfix, php

#7581 [FIX] 0041428: _isFileInline function does not exist anmyore
  Services/Calendar/classes/AppointmentPresentation/class.ilAppointmentPresentationSessionGUI.php
Labels: bugfix, php

#7562 Poll/Block: Ensure proper input/output handling
  Modules/Poll/classes/class.ilPollBlockGUI.php
  Modules/Poll/classes/class.ilPollDataSet.php
  Services/Block/classes/class.ilBlockGUI.php
Labels: bugfix, php

#7600 Bugfix table action for detaching forum moderators
  components/ILIAS/Forum/classes/Moderation/ForumModeratorsTable.php
Labels: bugfix, improvement

#7571 Add missing shy button prerender in title
  src/UI/Implementation/Component/Card/Renderer.php
  tests/UI/Component/Card/CardTest.php
Labels: bugfix, kitchen sink, php

#7561 Timings/Activation: Properly transform object title in legacy form title
  Services/Object/classes/class.ilObjectActivationGUI.php
Labels: bugfix, php

#7604 T&A: 41152, Fix call to undefined method getTestId in ilTestAccess
  components/ILIAS/Test/classes/class.ilTestAccess.php
Labels: bugfix

#7583 UI, ViewControls/DataTable: 41310, group of nullcontrols to reserve both input names of pagination
  src/UI/Implementation/Component/Input/ViewControl/NullControl.php
  src/UI/Implementation/Component/Table/Data.php
  src/UI/examples/Input/ViewControl/NullControl/base.php
  tests/UI/Component/Input/ViewControl/ViewControlGroupTest.php
  tests/UI/Component/Input/ViewControl/ViewControlNullTest.php
  tests/UI/Component/Table/DataViewControlsTest.php
Labels: kitchen sink, improvement, php

#7612 [Docu] DevTutorial: Text Interaction
  docs/development/devguide/tutorial/01-community/01-interaction.md
Labels: documentation

#7615 Add pre-values to fullfill requirement in datacollection
  Modules/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
Labels: bugfix, php

#7623 Fix Mantis #41303: Installation of languages throws an fatal error sometimes base of the undeterministic order of setup steps
  components/ILIAS/Language/classes/Setup/class.ilLanguagesInstalledAndUpdatedObjective.php
  components/ILIAS/Language/classes/Setup/class.ilSetupLanguage.php
Labels: bugfix, php

#7626 fix undefined array key for some nodes
  Services/Object/classes/class.ilObjectActivation.php
  Services/Object/classes/class.ilObjectDefinition.php
Labels: improvement

#7603 Course: Fix Title
  Modules/Course/classes/Timings/class.ilTimingsManageTableGUI.php
Labels: bugfix, php

#7580 Calendar: set correct category mode when ref id is set (26706)
  Services/Calendar/classes/class.ilCalendarPresentationGUI.php
Labels: bugfix, php

#7628 DataCollection: Fix import of reference with multi selection
  Modules/DataCollection/classes/class.ilDataCollectionDataSet.php
Labels: bugfix, php

#7632 DataCollection: Separate different link detail props
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobFieldModel.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobRecordRepresentation.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps80.php
Labels: bugfix, php

#7641 DataCollection: Download files with their filename
  Modules/DataCollection/classes/Content/class.ilDclRecordListGUI.php
Labels: bugfix, php

#7602 [Docu] Install ILIAS: Removed language section
  docs/configuration/install.md
Labels: documentation

#7610 Forum Bugfix: ForumDraftsTable fix DataTable expects DateTimeImmutable
  components/ILIAS/Forum/classes/Drafts/ForumDraftsTable.php
Labels: bugfix, php

#7568 Improvement of UI arrows
  components/ILIAS/UI/docs/ilias-arrows.md
Labels: improvement, documentation

#7643 DataCollection: Clean table-parameter in queries
  Modules/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextRecordRepresentation.php
  Modules/DataCollection/classes/Table/class.ilDclTable.php
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix, improvement, php

#7644 DataCollection: Clean table-parameter in queries for ILIAS 9
  Modules/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextRecordRepresentation.php
  Modules/DataCollection/classes/Table/class.ilDclTable.php
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix

#7645 DataCollection: Clean table-parameter in queries for TRUNK
  components/ILIAS/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  components/ILIAS/DataCollection/classes/Fields/Base/class.ilDclBaseRecordRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Reference/class.ilDclReferenceRecordRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextRecordRepresentation.php
  components/ILIAS/DataCollection/classes/Table/class.ilDclTable.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix

#7218 Change language variables for the data table bulk actions and modal
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/UI/Implementation/Component/Table/Renderer.php
Labels: improvement

#7539 WebDAV: Handover Authorities to Fabian Schmid
  docs/development/maintenance.md
Labels: jour fixe, technical board, documentation, authorities

#7590 IMPR: allow setting internal links via page editor. (#37724)
  Services/Imprint/classes/class.ilImprintConfig.php
Labels: bugfix, improvement, php, Looking for Shepherd

#7413 CourseLinks in Favourites lead to php8 error
  Modules/CourseReference/classes/class.ilObjCourseReferenceListGUI.php
Labels: bugfix

#5693 Memberships: Prevent integrity constraint issues
  Modules/Course/classes/class.ilCourseParticipants.php
  Services/Membership/classes/class.ilParticipant.php
  Services/Membership/classes/class.ilParticipants.php
Labels: improvement, php

#7640 ilUIPluginRouterGUI: Fix class paths handling
  components/ILIAS/UIComponent/classes/class.ilUIPluginRouterGUI.php
Labels: bugfix, php

#7197 Test: Get rid of super global variable usage in `ilTestScoringByQuest…
  Modules/Test/classes/class.ilTestScoringByQuestionsGUI.php
Labels: improvement, php

#7551 T&A: Mantisticket 41369, Release 9
  Modules/Test/classes/TestScreen/class.ilTestScreenGUI.php
  Modules/Test/classes/toolbars/class.ilTestInfoScreenToolbarGUI.php
Labels: bugfix, php

#7393 TA: 41167, show number of requested hints in detailed results
  Modules/Test/classes/Results/class.ilQuestionResult.php
  Modules/Test/classes/Results/class.ilTestPassResultsTable.php
  Modules/Test/classes/Results/class.ilTestResultsFactory.php
  Modules/Test/test/TestResultsQuestionResultsTest.php
Labels: bugfix

#7505 T&A: 41172, Fixed none working filtering in Test Participants with or without Answers
  Modules/Test/classes/class.ilTestParticipantsGUI.php
Labels: bugfix, php

#7565 T&A 41349 Fix TypeError when trying to access question pool skills tab
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#7589 Container: Fix accessing undefined array key in `ItemSetManager`
  Services/Container/Content/class.ItemSetManager.php
Labels: bugfix, php

#7444 T&A: Fixes 0041214: Error message for malicious svg in File Upload Question
  components/ILIAS/TestQuestionPool/classes/class.assFileUpload.php
Labels: bugfix

#7441 Fixes 0041214: Error message for malicious svg in File Upload Question
  Modules/TestQuestionPool/classes/class.assFileUpload.php
Labels: bugfix

#7650 DataCollection: Fix permanent links
  Modules/DataCollection/classes/Content/class.ilDclRecordListGUI.php
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix, php

#7499 Logging: Fix PHP type error when rendering tables during error handling
  Services/Logging/classes/error/class.ilLoggingErrorFileStorage.php
Labels: bugfix, php

#7652 CertificateOverview: Use user date format for table date column
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
Labels: improvement, php

#7553 T&A: Mantisticket 41383, Release 9
  Modules/Course/classes/class.ilObjCourseGUI.php
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#7620 T&A 0028645 file upload ilias 9 fix
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestArchiveService.php
  Modules/Test/classes/class.ilTestArchiver.php
Labels: bugfix, php

#7160 T&A 0028645 File Upload Answers missing in Archive Export
  Modules/Test/classes/class.ilTestArchiveService.php
  Modules/Test/classes/class.ilTestArchiver.php
Labels: bugfix

#7653 CertificateOverview: Define numberOfRows on table based on user preference
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
Labels: improvement, php

#7622 CI: Check the code style of files in PRs, don't try to fix it
  CI/PHP-CS-Fixer/run_check.sh
Labels: improvement

#7659 DataCollection: fix import of complex structures
  Modules/DataCollection/classes/class.ilDataCollectionDataSet.php
Labels: bugfix, improvement, php

#7662 [FIX] CI: use correct import paths
  scripts/Copyright-Checker/copyright-checker.sh
  scripts/Special-Char-Checker/special-char-checker.sh
  scripts/sort_langfile_entries.sh
Labels: bugfix, Looking for Shepherd

#7611 User Bugfix: Initial Password set for new Users bugs out because of error in PasswordSettings
  components/ILIAS/Authentication/classes/Password/class.ilLocalUserPasswordSettingsGUI.php
  components/ILIAS/Authentication/classes/class.ilForcedUserPasswordChangeStartUpStep.php
  components/ILIAS/User/classes/Settings/class.ilPersonalSettingsGUI.php
Labels: bugfix, php

#7667 Repository/Session: include session date in last visited (36691)
  Modules/Session/classes/class.ilObjSessionGUI.php
  Services/Navigation/classes/class.ilNavigationHistory.php
Labels: bugfix, php

#7663 CI/DOCS: Fix more `CI/` paths
  components/ILIAS/UI/README.md
  components/ILIAS/WOPI/resources/js/rollup.config.js
  docs/development/code-examples/js-bundling/bundle/rollup.config.js
  docs/development/git-hooks.md
  docs/development/inspection-configs/php-storm-php-inspections.xml
  docs/development/js-bundling.md
  docs/development/php-coding-style.md
  docs/development/refactorings.md
  docs/development/review.md
  docs/development/static_code_analysis.md
  docs/development/unit-test-usage.md
  scripts/Import/Variables.sh
  scripts/PHPStan/README.md
  scripts/PHPStan/phpstan.neon
  scripts/Rector/README.md
  scripts/Rector/ilUtils/README.md
  scripts/Style-To-Repo/build-and-deploy.sh
  scripts/Style-To-Repo/build.sh
  scripts/Style-To-Repo/cleanup.sh
  scripts/Style-To-Repo/deploy.sh
  scripts/results/report-results.sh
Labels: javascript, documentation, Looking for Shepherd

#7566 UI/Link: add withDisabled to Link
  components/ILIAS/LearningSequence/tests/LSLocatorBuilderTest.php
  components/ILIAS/UI/src/Component/Link/Link.php
  components/ILIAS/UI/src/Implementation/Component/Link/Link.php
  components/ILIAS/UI/src/Implementation/Component/Link/Renderer.php
  components/ILIAS/UI/src/examples/Link/Bulky/with_disabled.php
  components/ILIAS/UI/src/examples/Link/Standard/with_disabled.php
  components/ILIAS/UI/src/templates/default/Link/tpl.bulky.html
  components/ILIAS/UI/src/templates/default/Link/tpl.standard.html
  components/ILIAS/UI/tests/Component/Link/BulkyLinkTest.php
  components/ILIAS/UI/tests/Component/Link/LinkTest.php
  templates/default/070-components/UI-framework/Link/_ui-component_link.scss
  templates/default/delos.css
Labels: kitchen sink, improvement, php

#7664 User: Fix Resetting Login Attempts
  Services/Authentication/classes/Frontend/class.ilAuthFrontend.php
  Services/User/classes/class.ilObjUser.php
  Services/User/classes/class.ilObjUserFolderGUI.php
  Services/User/classes/class.ilObjUserGUI.php
Labels: bugfix, php

#7673 Update Dependencies after Release v9.2
  composer.lock
Labels: technical board, dependencies

#7688 DataCollection: Remove legacy pagination and button on single views
  components/ILIAS/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  components/ILIAS/DataCollection/templates/default/tpl.record_view.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#7680 Change image paths to https://files.ilias.de/images/arrows
  components/ILIAS/UI/docs/ilias-arrows.md
Labels: kitchen sink, improvement, documentation

#7695 PDF: Prepare strings before execution
  Services/PDFGeneration/classes/class.ilObjPDFGenerationGUI.php
  Services/PDFGeneration/classes/class.ilPDFGenerationConstants.php
  Services/PDFGeneration/classes/class.ilPDFGenerationRequest.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfig.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfConfigFormGUI.php
  Services/PDFGeneration/classes/renderer/wkhtmltopdf/class.ilWkhtmlToPdfRenderer.php
  Services/PDFGeneration/test/ilWkhtmlToPdfConfigTest.php
Labels: bugfix, php

#7594 T&A, 39127: copy/delete comments along with the question
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#7701 Chatroom: Update socket.io libs to v4.7.5
  Modules/Chatroom/chat/package-lock.json
  Modules/Chatroom/chat/package.json
Labels: dependencies, javascript

#7692 Search: add LSO and all remote objects to search results (38957, 37813)
  Services/Search/classes/Like/class.ilAbstractSearch.php
Labels: bugfix, php

#7694 Search: build the list of allowed types from object definition (37813, 38957)
  components/ILIAS/Search/classes/Like/class.ilAbstractSearch.php
Labels: bugfix, php

#7588 T&A, 40076: do not create FeedbackPages by calling the form
  Modules/TestQuestionPool/classes/class.ilAssQuestionFeedbackEditingGUI.php
  Modules/TestQuestionPool/classes/feedback/class.ilAssQuestionFeedback.php
Labels: bugfix, php

#7708 [Docu] Fixed Links in PRIVACY.mds
  components/ILIAS/AdministrativeNotification/PRIVACY.md
  components/ILIAS/BookingManager/PRIVACY.md
  components/ILIAS/Exercise/PRIVACY.md
  components/ILIAS/File/PRIVACY.md
  components/ILIAS/Glossary/PRIVACY.md
  components/ILIAS/Help/PRIVACY.md
  components/ILIAS/InfoScreen/PRIVACY.md
  components/ILIAS/ItemGroup/PRIVACY.md
  components/ILIAS/MediaCast/PRIVACY.md
  components/ILIAS/Portfolio/PRIVACY.md
  components/ILIAS/Repository/PRIVACY.md
  components/ILIAS/TestQuestionPool/PRIVACY.md
Labels: documentation

#7707 T&A 41483: Fix generic title of modal when correcting cloze question
  Modules/TestQuestionPool/classes/tables/class.ilAnswerFrequencyStatisticTableGUI.php
Labels: bugfix

#7699 41582: Fix uninitialized array key access in booking process gui
  Modules/BookingManager/BookingProcess/class.ilBookingProcessGUI.php
Labels: bugfix, php

#7711 Update Dependencies after Release v8.13
  composer.lock
Labels: technical board, dependencies

#7720 Init: Fix opening a permanent link from a wiki leads to error message
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#7718 37734: Wiki notifications are sent too often
  Modules/Wiki/classes/class.ilWikiUtil.php
  Services/Notification/classes/class.ilNotification.php
Labels: bugfix
