Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-12, with the labels that each got.

#8339 T&A 41683/41684: remove superglobal access in question actions
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#8585 DataCollection: add screenIDs
  Modules/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldEditGUI.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldListGUI.php
  Modules/DataCollection/classes/Table/class.ilDclTableEditGUI.php
  Modules/DataCollection/classes/Table/class.ilDclTableListGUI.php
  Modules/DataCollection/classes/TableView/class.ilDclTableViewEditGUI.php
  Modules/DataCollection/classes/TableView/class.ilDclTableViewGUI.php
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix, improvement, php

#8537 Use linkify-element in ilExtLink (ILIAS 11)
  components/ILIAS/Chatroom/classes/gui/class.ilChatroomHistoryGUI.php
  components/ILIAS/Chatroom/classes/gui/class.ilChatroomViewGUI.php
  components/ILIAS/Link/Link.php
  components/ILIAS/Link/classes/class.ilLinkifyUtil.php
  components/ILIAS/Link/resources/ilExtLink.js
  components/ILIAS/OnScreenChat/classes/class.ilOnScreenChatGUI.php
Labels: bugfix, improvement, javascript

#8536 Use linkify-element in ilExtLink
  components/ILIAS/Chatroom/classes/gui/class.ilChatroomHistoryGUI.php
  components/ILIAS/Chatroom/classes/gui/class.ilChatroomViewGUI.php
  components/ILIAS/Link/Link.php
  components/ILIAS/Link/classes/class.ilLinkifyUtil.php
  components/ILIAS/Link/resources/ilExtLink.js
  components/ILIAS/OnScreenChat/classes/class.ilOnScreenChatGUI.php
Labels: bugfix, improvement, javascript

#8489 42733: Update CAS use instructions in settings GUI
  Services/CAS/classes/class.ilCASSettingsGUI.php
  lang/ilias_da.lang
  lang/ilias_de.lang
  lang/ilias_en.lang
  lang/ilias_es.lang
  lang/ilias_fr.lang
  lang/ilias_it.lang
  lang/ilias_nl.lang
  lang/ilias_pt.lang
  lang/ilias_ro.lang
  lang/ilias_sv.lang
Labels: bugfix

#8589 DataCollection: add missing detailed view screen id
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix, improvement, php

#8595 DataCollection: fix dynamic properties
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceRecordFieldModel.php
  Modules/DataCollection/classes/Helpers/class.ilDclCache.php
Labels: bugfix, improvement, php

#8445 [FIX] UI: set form-level error on `Container\Container::withRequest()`.
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Container.php
Labels: kitchen sink, improvement, php

#8419 LSO: 42702 call showSummary on InfoScreenGUI
  components/ILIAS/LearningSequence/classes/class.ilObjLearningSequenceGUI.php
Labels: bugfix

#8336 [Bugfix 42501]ORGU: use multi byte strlng for comparing the actual middle lengths a…
  Modules/OrgUnit/classes/PathStorage/class.ilOrgUnitPathStorage.php
Labels: bugfix, php

#8397 LegalDocuments: Use updated footer api to provide links & modals (ILIAS 11)
  components/ILIAS/DataProtection/classes/Consumer.php
  components/ILIAS/LegalDocuments/classes/Conductor.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/ModifyFooter.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Slot.php
  components/ILIAS/LegalDocuments/classes/GlobalScreen/FooterProvider.php
  components/ILIAS/LegalDocuments/tests/ConductorTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/ModifyFooterTest.php
  components/ILIAS/TermsOfService/classes/Consumer.php
  components/ILIAS/UICore/classes/Screen/PageContentProvider.php
Labels: bugfix, php

#8396 LegalDocuments: Use updated footer api to provide links & modals
  components/ILIAS/DataProtection/classes/Consumer.php
  components/ILIAS/LegalDocuments/classes/Conductor.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/ModifyFooter.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Slot.php
  components/ILIAS/LegalDocuments/classes/GlobalScreen/FooterProvider.php
  components/ILIAS/LegalDocuments/tests/ConductorTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/ModifyFooterTest.php
  components/ILIAS/TermsOfService/classes/Consumer.php
  components/ILIAS/UICore/classes/Screen/PageContentProvider.php
Labels: bugfix, php

#8398 LegalDocuments: Add ldoc footer links for anonymous user
  Services/DataProtection/classes/Consumer.php
  Services/LegalDocuments/classes/Conductor.php
  Services/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/ModifyFooter.php
  Services/LegalDocuments/classes/ConsumerToolbox/Slot.php
  Services/LegalDocuments/test/ConductorTest.php
  Services/LegalDocuments/test/ConsumerToolbox/ConsumerSlots/ModifyFooterTest.php
  Services/TermsOfService/classes/Consumer.php
Labels: bugfix, php

#8480 Auth/Administration: Use UI/KS forms in settings screen
  components/ILIAS/Authentication/classes/class.ilObjAuthSettingsGUI.php
  components/ILIAS/Authentication/templates/default/tpl.auth_general.html
  components/ILIAS/Authentication/templates/default/tpl.auth_login_messages.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8599 [FIX] Add Buttons and Modals separately to Footer
  components/ILIAS/GlobalScreen/src/Scope/Footer/Collector/Renderer/FooterRendererFactory.php
  components/ILIAS/GlobalScreen/src/Scope/Footer/Collector/Renderer/ModalItemRenderer.php
  components/ILIAS/GlobalScreen_/classes/UI/Footer/Entries/EntriesRepositoryDB.php
  components/ILIAS/UI/src/Component/MainControls/Footer.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/Footer.php
  components/ILIAS/UI/tests/Component/MainControls/FooterTest.php
Labels: bugfix

#8598 DataCollection: secure broken ref fields against copy and sort
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldModel.php
  Modules/DataCollection/classes/Table/class.ilDclTable.php
Labels: improvement, php

#8330 8 PRG, 42157: Acknowledge all courses, remove legacy GUI
  Modules/StudyProgramme/classes/class.ilObjStudyProgramme.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeAcknowledgeCompletedCoursesTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDIC.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMembersTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeUserTable.php
  Modules/StudyProgramme/classes/ilStudyProgrammeUserTableRow.php
  Modules/StudyProgramme/templates/default/tpl.acknowledge_completed_courses.html
  Modules/StudyProgramme/templates/default/tpl.acknowledge_completed_courses_row.html
Labels: bugfix, php

#8326 PRG: 42557, completion_by should reference course directly
  Modules/StudyProgramme/classes/class.ilObjStudyProgramme.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeAcknowledgeCompletedCoursesTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMembersTableGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeUserTable.php
Labels: bugfix, php

#8192 8/UI/learning-sequence-kiosk footer-position 42025
  Modules/LearningSequence/templates/default/tpl.kioskpage.html
Labels: bugfix

#8522 Dashboard: refactor modals for multi manage
  Modules/LearningSequence/classes/class.ilDashboardLearningSequenceGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDashboardViewGUI.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/Block/classes/class.ilMembershipBlockGUI.php
  Services/Dashboard/Block/classes/class.ilSelectedItemsBlockGUI.php
  Services/Dashboard/Block/js/ReplaceModalContent.js
  Services/Dashboard/Block/js/modal-confirmation.js
  Services/Dashboard/Favourites/classes/class.ilFavouritesListGUI.php
  Services/Dashboard/GlobalScreen/classes/DashboardLayoutProvider.php
  Services/Repository/RecommendedContent/classes/class.ilDashboardRecommendedContentGUI.php
Labels: bugfix, improvement, php, javascript

#8604 DataCollection: Fix cast of ref property
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldModel.php
Labels: bugfix, php

#8609 Fix 2 typos in the readme
  docs/development/README.md
Labels: documentation

#8610 Correct a missing linebreak
  docs/development/README.md
Labels: documentation

#8614 Change lang var into german
  lang/ilias_de.lang
Labels: bugfix

#8618 LTI: Authentication check for registering new LTI providers and HTML escaping
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderList.php
  Modules/LTIConsumer/ltiregstart.php
Labels: bugfix, php

#8619 LTI: Authentication check for registering new LTI providers and HTML escaping
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderList.php
  Modules/LTIConsumer/ltiregstart.php
Labels: bugfix, php

#8620 LTI: Authentication check for registering new LTI providers and HTML escaping
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderList.php
  components/ILIAS/LTIConsumer/ltiregstart.php
Labels: bugfix, php

#8555 Fix functionality and accessibility for expand/collapse behaviour in UI Filter
  components/ILIAS/UI/resources/js/Input/Container/dist/filter.js
  components/ILIAS/UI/resources/js/Input/Container/src/filter.main.js
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Filter/Renderer.php
  components/ILIAS/UI/src/templates/default/Input/tpl.standard_filter.html
  components/ILIAS/UI/tests/Component/Input/Container/Filter/StandardFilterTest.php
  templates/default/070-components/UI-framework/Input/_ui-component_filter.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink, improvement, javascript

#8621 LTI: Authentication check for registering new LTI providers and HTML escaping
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderList.php
  components/ILIAS/LTIConsumer/ltiregstart.php
Labels: bugfix, php

#8628 Mail: Hide BCC in internal messages (ILIAS 8)
  Services/Mail/classes/class.ilMail.php
Labels: bugfix, php

#8629 Mail: Hide BCC in internal messages (ILIAS >= 9)
  Services/Mail/classes/class.ilMail.php
Labels: bugfix, php

#8412 T&A Bugfix #0042396: Fix Test Scoring Settings for Import/Export
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/test/ilObjTestTest.php
Labels: bugfix, php

#8584 User Bugfix #0043016: Fix Soap User prefs check rejecting imported values
  Services/User/classes/class.ilUserImportParser.php
Labels: bugfix, php

#7498 Footer: Copy permalink to clipboard
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/UI/Implementation/Component/MainControls/Renderer.php
  src/UI/templates/default/MainControls/tpl.footer.html
  src/UI/templates/js/MainControls/dist/footer.min.js
  src/UI/templates/js/MainControls/rollup.config.js
  src/UI/templates/js/MainControls/src/footer.js
  src/UI/templates/js/MainControls/src/footer/permalink.js
  templates/default/070-components/UI-framework/MainControls/_ui-component_footer.scss
  templates/default/delos.css
  tests/UI/Client/MainControls/permalink.test.js
  tests/UI/Component/MainControls/FooterTest.php
Labels: kitchen sink, improvement, php

#7491 Legal Documents: Use Kitchen Sink UI-Table
  components/ILIAS/LegalDocuments/classes/Administration.php
  components/ILIAS/LegalDocuments/classes/AdministrationEditLinks.php
  components/ILIAS/LegalDocuments/classes/EditLinks.php
  components/ILIAS/LegalDocuments/classes/Legacy/Table.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvideDocument.php
  components/ILIAS/LegalDocuments/classes/Table/DocumentTable.php
  components/ILIAS/LegalDocuments/classes/Table/EditableDocumentTable.php
  components/ILIAS/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
  components/ILIAS/LegalDocuments/templates/default/legacy-table-row.html
  components/ILIAS/LegalDocuments/tests/AdministrationEditLinksTest.php
  components/ILIAS/LegalDocuments/tests/AdministrationTest.php
  components/ILIAS/LegalDocuments/tests/Provide/ProvideDocumentTest.php
  components/ILIAS/LegalDocuments/tests/Table/DocumentTableTest.php
  components/ILIAS/LegalDocuments/tests/Table/EditableDocumentTableTest.php
Labels: improvement, php

#8635 DataCollection: fix CO back handling with locked editing
  Modules/DataCollection/classes/CreateView/class.ilDclCreateViewDefinitionGUI.php
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewDefinitionGUI.php
  Modules/DataCollection/classes/EditView/class.ilDclEditViewDefinitionGUI.php
Labels: bugfix, php

#8644 OrgU: 42998, ctrl-structure for tabs when called from ilAdministratioGUI
  components/ILIAS/OrgUnit/classes/class.ilObjOrgUnitGUI.php
Labels: bugfix

#8640 Dashboard: Refactor class header
  Services/Dashboard/Access/class.DashboardAccess.php
  Services/Dashboard/Achievements/classes/class.ilAchievements.php
  Services/Dashboard/Achievements/classes/class.ilAchievementsGUI.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettings.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsAccess.php
  Services/Dashboard/GlobalScreen/classes/DashboardLayoutProvider.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashObjectsTableGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashObjectsTableRenderer.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashboardSidePanelSettingsRepository.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDMembershipBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGroup.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsProvider.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockSelectedItemsViewGUI.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockProvider.php
  Services/Dashboard/classes/class.ilDashboardContentBlockGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  Services/Dashboard/classes/class.ilPersonalDesktopSettingsRepository.php
  Services/Dashboard/interfaces/interface.ilDesktopItemHandling.php
Labels: improvement, documentation

#8649 DataCollection: Refactoring name presentation of fields in lists
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldModel.php
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Plugin/class.ilDclPluginFieldModel.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldEditGUI.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldFactory.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldListTableGUI.php
Labels: improvement, php

#8655 Chatroom: Fix status message toggle url
  components/ILIAS/Chatroom/resources/js/dist/Chatroom.min.js
  components/ILIAS/Chatroom/resources/js/src/run.js
Labels: bugfix, javascript

#8656 Chatroom: Fix status message toggle url (ILIAS 11)
  components/ILIAS/Chatroom/resources/js/dist/Chatroom.min.js
  components/ILIAS/Chatroom/resources/js/src/run.js
Labels: bugfix, javascript

#8654 LegalDocuments: Fix unit tests for DocumentTable
  components/ILIAS/LegalDocuments/classes/Table/DocumentTable.php
  components/ILIAS/LegalDocuments/tests/Provide/ProvideDocumentTest.php
  components/ILIAS/LegalDocuments/tests/Table/DocumentTableTest.php
Labels: bugfix, php

#8641 Dashboard: remove option to manage recommended content
  Services/Repository/RecommendedContent/classes/class.ilDashboardRecommendedContentGUI.php
Labels: bugfix, php

#8657 Fix root path of AbstractOfFinder and plugins path of ImplementationOfAgentFinder
  components/ILIAS/Setup/src/AbstractOfFinder.php
  components/ILIAS/Setup/src/ImplementationOfAgentFinder.php
Labels: bugfix

#7857 Block: Preserve block title on slice
  Services/Block/classes/class.ilBlockGUI.php
Labels: bugfix, php, Looking for Shepherd

#8673 Chat & OSC: Fix Modals
  components/ILIAS/Chatroom/resources/js/dist/Chatroom.min.js
  components/ILIAS/Chatroom/resources/js/src/createConfirmation.js
  components/ILIAS/Chatroom/resources/js/src/inviteUserToRoom.js
  components/ILIAS/OnScreenChat/classes/class.ilOnScreenChatGUI.php
Labels: bugfix, javascript

#8674 Chat & OSC: Fix Modals (ILIAS 11)
  components/ILIAS/Chatroom/resources/js/dist/Chatroom.min.js
  components/ILIAS/Chatroom/resources/js/src/createConfirmation.js
  components/ILIAS/Chatroom/resources/js/src/inviteUserToRoom.js
  components/ILIAS/OnScreenChat/classes/class.ilOnScreenChatGUI.php
Labels: bugfix, javascript

#8678 Dashboard: refactor recommended content modal for multi manage
  Services/Repository/RecommendedContent/classes/class.ilDashboardRecommendedContentGUI.php
Labels: bugfix, improvement, php

#8671 T&A: Fix Question Hints.
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionHintGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionHintsGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#8685 LTI: Added permissions checking and HTML escaping
  Modules/LTIConsumer/classes/class.ilLTIConsumerAdministrationGUI.php
  Modules/LTIConsumer/classes/class.ilObjLTIConsumer.php
  Modules/LTIConsumer/ltiregstart.php
Labels: bugfix, php

#8686 LTI: Added permissions checking and HTML escaping
  Modules/LTIConsumer/classes/class.ilLTIConsumeProvider.php
  Modules/LTIConsumer/classes/class.ilLTIConsumerAdministrationGUI.php
  Modules/LTIConsumer/classes/class.ilObjLTIConsumer.php
  Modules/LTIConsumer/ltiregstart.php
Labels: bugfix, php

#8500 VirusScanner: Merge component directories
  components/ILIAS/VirusScanner/classes/Setup/class.ilVirusScannerConfigStoredObjective.php
  components/ILIAS/VirusScanner/classes/Setup/class.ilVirusScannerMetricsCollectedObjective.php
  components/ILIAS/VirusScanner/classes/Setup/class.ilVirusScannerSetupAgent.php
  components/ILIAS/VirusScanner/classes/Setup/class.ilVirusScannerSetupConfig.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScanner.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerAntiVir.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerClamAV.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerFactory.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerICapClient.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerICapRemote.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerICapRemoteAvClient.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerPreProcessor.php
  components/ILIAS/VirusScanner/classes/class.ilVirusScannerSophos.php
  components/ILIAS/VirusScanner/maintenance.json
  components/ILIAS/VirusScanner/phpunit.xml
  components/ILIAS/VirusScanner/tests/VirusScannerBaseTestCase.php
  components/ILIAS/VirusScanner/tests/VirusScannerFactoryTest.php
  components/ILIAS/VirusScanner/tests/VirusScannerPreProcessorTestTBD.php
  components/ILIAS/VirusScanner/tests/bootstrap.php
  components/ILIAS/VirusScanner_/tests/VirusScannerBaseTestCase.php
Labels: bugfix, php

#8688 Bugfix badges for ILIAS 10
  components/ILIAS/Badge/tests/TileTest.php
Labels: bugfix, php

#8684 Tracking/Forum: use KS form in lp settings
  components/ILIAS/Forum/classes/class.ilForumLP.php
  components/ILIAS/ILIASObject/classes/class.ilObjectLP.php
  components/ILIAS/Tracking/classes/repository_statistics/class.ilLPListOfSettingsGUI.php
Labels: kitchen sink, improvement, php

#8689 LearningProgress: Improve documented `array` types/shapes
  components/ILIAS/ILIASObject/classes/class.ilObjectLP.php
Labels: improvement, php

#8645 UI/AudioPlayer: show controls, remove background
  components/ILIAS/UI/src/templates/default/Player/tpl.audio.html
  components/ILIAS/UI/src/templates/default/Player/tpl.video.html
  components/ILIAS/UI/tests/Component/Item/ItemTest.php
  components/ILIAS/UI/tests/Component/Player/PlayerAudioTest.php
  components/ILIAS/UI/tests/Component/Player/PlayerVideoTest.php
  templates/default/070-components/UI-framework/Player/_ui-component_player.scss
  templates/default/delos.css
Labels: bugfix

#8477 CSS/Maps: 42840, restore missing styling for OpenLayersMap and adjust…
  components/ILIAS/Maps/classes/class.ilOpenLayersMapGUI.php
  components/ILIAS/Maps/images/mm_20_blue.png
  components/ILIAS/Maps/images/mm_20_shadow.png
  components/ILIAS/Maps/js/src/ServiceOpenLayers.js
  components/ILIAS/Maps/resources/ServiceOpenLayers.js
  components/ILIAS/Maps/templates/default/tpl.google_map.js
  components/ILIAS/UI/resources/images/standard/icon_mapm.svg
  templates/default/070-components/_index.scss
  templates/default/070-components/legacy/Services/_component_openlayers.scss
  templates/default/delos.css
Labels: bugfix

#8697 PRG: 38422, have ObjectListGUI create CommandLink
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgrammeListGUI.php
Labels: bugfix

#8444 [FIX] UI: Align `Container\Form` renderers
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Form.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/FormRendererFactory.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/FormWithoutSubmitButtonsContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Standard.php
  components/ILIAS/UI/src/templates/default/Input/tpl.without_submit_buttons.html
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormWithoutSubmitButtonsTest.php
Labels: kitchen sink, improvement, php

#8703 CSS: Small Addition to Avoid Dragging Subelements
  templates/default/070-components/legacy/Modules/_component_test_legacy.scss
  templates/default/delos.css
Labels: improvement

#8532 LegacyForm: Fix Error on Big File
  components/ILIAS/Form/classes/class.ilFileInputGUI.php
  components/ILIAS/Form/classes/class.ilImageFileInputGUI.php
  components/ILIAS/Form/resources/Form.js
  components/ILIAS/Form/templates/default/tpl.prop_file.html
  components/ILIAS/Form/templates/default/tpl.prop_image_file.html
  components/ILIAS/Test/tests/ilTestBaseTestCaseTrait.php
  components/ILIAS/TestQuestionPool/classes/class.ilKprimChoiceWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilMatchingWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilMultipleChoiceWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilSingleChoiceWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilImagemapFileInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilMultipleImagesInputGUI.php
  components/ILIAS/TestQuestionPool/templates/default/tpl.il_as_qpl_longmenu_question_gap.html
  components/ILIAS/TestQuestionPool/templates/default/tpl.prop_imagemap_file.html
  components/ILIAS/TestQuestionPool/templates/default/tpl.prop_kprimchoicewizardinput.html
  components/ILIAS/TestQuestionPool/templates/default/tpl.prop_matchingwizardinput.html
  components/ILIAS/TestQuestionPool/templates/default/tpl.prop_multi_image_inp.html
  components/ILIAS/TestQuestionPool/templates/default/tpl.prop_multiplechoicewizardinput.html
  components/ILIAS/TestQuestionPool/templates/default/tpl.prop_singlechoicewizardinput.html
  components/ILIAS/TestQuestionPool/tests/ilAssMultipleChoiceCorrectionsInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilAssOrderingImagesInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilAssSingleChoiceCorrectionsInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilEssayKeywordWizardInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilHtmlImageMapFileInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilImagemapCorrectionsInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilImagemapFileInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilKprimChoiceCorrectionsInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilKprimChoiceWizardInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilMatchingWizardInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilMultipleChoiceWizardInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilMultipleImagesInputGUITest.php
  components/ILIAS/TestQuestionPool/tests/ilSingleChoiceWizardInputGUITest.php
Labels: bugfix

#8603 T&A 41608 Fix invalid array key access for string value in test default settings
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#8663 T&A: Fix Info-Page Form Tags
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#8672 T&A: Fix skill lac legend
  components/ILIAS/TestQuestionPool/TestQuestionPool.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssQuestionSkillAssignmentPropertyFormGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilTagInputGUI.php
  components/ILIAS/TestQuestionPool/classes/questions/LogicalAnswerCompare/class.ilAssLacLegendGUI.php
  components/ILIAS/TestQuestionPool/resources/css/bootstrap-tagsinput_2015_25_03.css
  components/ILIAS/TestQuestionPool/resources/css/lac_legend.css
Labels: bugfix, php

#8690 T&A Fix redirect issue when accessing tests from favorites.
  Modules/Test/classes/class.ilObjTestAccess.php
  Modules/Test/classes/class.ilObjTestListGUI.php
Labels: bugfix, php

#8692 Fix redirect issue when accessing tests from favorites
  components/ILIAS/Test/classes/class.ilObjTestAccess.php
  components/ILIAS/Test/classes/class.ilObjTestListGUI.php
Labels: bugfix, php

#8712 HTML escaping
  Modules/LTIConsumer/classes/class.ilLTIConsumerSettingsFormGUI.php
Labels: bugfix, php

#8713 HTML escaping
  Modules/LTIConsumer/classes/class.ilLTIConsumerSettingsFormGUI.php
Labels: bugfix, php

#8714 HTML escaping
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerSettingsFormGUI.php
Labels: bugfix, php

#8715 HTML escaping
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerSettingsFormGUI.php
Labels: bugfix, php

#7777 T&A 41611: Fix regex for gaps in cloze questions in learning modules
  Modules/Scorm2004/scripts/questions/question_handling.js
Labels: bugfix

#8716 Change URL of Test-System
  docs/configuration/install.md
Labels: documentation

#8717 Datacollection: Fix Filter and Sortation
  Modules/DataCollection/classes/Content/class.ilDclRecordListGUI.php
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordModel.php
  Modules/DataCollection/classes/Table/class.ilDclTable.php
Labels: bugfix, php

#8704 42276 - SCORM HTTP context
  Services/Context/classes/class.ilContextScorm.php
Labels: bugfix, php

#8724 DataCollection: fix record pagination handling
  components/ILIAS/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
Labels: bugfix, improvement, php

#8722 T&A 43151: Fixes not being able to choose no answer in multiple choice question check
  components/ILIAS/TestQuestionPool/classes/class.assMultipleChoice.php
Labels: bugfix

#8721 T&A 43131: Adds fix for vanishing formula question result and wrong reached points calculation
  components/ILIAS/TestQuestionPool/classes/class.assFormulaQuestion.php
Labels: bugfix

#8694 Update Dependencies after Release v8.17
  composer.lock
Labels: technical board, dependencies

#8534 TinyMCE: Remove abandoned plugin leftovers
  components/ILIAS/RTE/classes/class.ilRTE.php
  components/ILIAS/RTE/classes/class.ilTinyMCE.php
Labels: bugfix, php

#8729 Certificate: Set Default Bday Format il_CAL_DATE
  components/ILIAS/Certificate/classes/Placeholder/Values/class.ilDefaultPlaceholderValues.php
Labels: bugfix, php

#8733 T&A 43168/43170: fix: 'Argument 2 ($points) must be of type float, string given'
  components/ILIAS/TestQuestionPool/classes/class.assTextQuestion.php
  components/ILIAS/TestQuestionPool/classes/class.assTextQuestionGUI.php
Labels: bugfix, php

#8739 Chatroom: Bump express to v4.21.2 (ILIAS 10)
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: dependencies, javascript

#8738 Saml: Bump simplesaml to v2.0.15
  composer.json
  composer.lock
Labels: php

#8147 BackgroundTasks: Use "Fire & Forget" approach when starting workers as…
  components/ILIAS/BackgroundTasks/src/Implementation/TaskManager/AsyncTaskManager.php
  components/ILIAS/BackgroundTasks_/classes/class.ilSoapBackgroundTasksAdministration.php
Labels: improvement, php

#8225 File: fix creation of metadata (42065)
  components/ILIAS/File/classes/trait.ilObjFileMetadata.php
Labels: bugfix, php

#8693 WAC 42662: fix file not found handling
  components/ILIAS/WebAccessChecker/class.ilWACException.php
  components/ILIAS/WebAccessChecker/classes/class.ilWACPath.php
  components/ILIAS/WebAccessChecker/classes/class.ilWebAccessChecker.php
  components/ILIAS/WebAccessChecker/classes/class.ilWebAccessCheckerDelivery.php
Labels: bugfix

#8123 Background Tasks: Async background tasks fail silently if soap client return false
  src/BackgroundTasks/Implementation/TaskManager/AsyncTaskManager.php
Labels: bugfix, php

#8234 [FIX] 0042349: UI Tooltips (via Topics) won't shown on slate-triggerers in MainBar
  components/ILIAS/UI/src/Component/MainControls/Slate/Slate.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/Slate/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/Slate/Slate.php
Labels: bugfix, kitchen sink

#8702 IASS: 42932, adjust language variable for 'iass_filter_failed'.
  lang/ilias_de.lang
Labels: bugfix

#8701 IASS: 42933, remove duplicated colon from IASS Members GUI.
  components/ILIAS/IndividualAssessment/classes/class.ilIndividualAssessmentMembersTableGUI.php
Labels: bugfix

#8740 Setup: Change documentation for objectives and migrations
  components/ILIAS/Setup/README.md
Labels: improvement

#8745 Chatroom: Add missing typecast for JS timestamps (ms) (ILIAS 11)
  components/ILIAS/Chatroom/classes/class.ilChatroom.php
Labels: bugfix, php

#8743 Chatroom: Add missing typecast for JS timestamps (ms) (ILIAS 9)
  Modules/Chatroom/classes/class.ilChatroom.php
Labels: bugfix, php

#8744 Chatroom: Add missing typecast for JS timestamps (ms) (ILIAS 10)
  components/ILIAS/Chatroom/classes/class.ilChatroom.php
Labels: bugfix, php

#8742 Chatroom: Add missing typecast for JS timestamps (ms)
  Modules/Chatroom/classes/class.ilChatroom.php
Labels: bugfix, php

#8732 T&A 43220: fix Excel Export by adding file extension
  components/ILIAS/Test/src/ExportImport/ResultsExportExcel.php
Labels: bugfix, php

#8748 42276 - SCORM HTTP context
  components/ILIAS/Context/classes/class.ilContextScorm.php
Labels: bugfix, php

#8750 DataCollection: Fix settings and presentation of fields
  Modules/DataCollection/classes/Fields/Formula/class.ilDclFormulaFieldModel.php
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextRecordRepresentation.php
  Modules/DataCollection/classes/Table/class.ilDclTable.php
  Modules/DataCollection/classes/class.ilObjDataCollection.php
  Modules/DataCollection/templates/default/tpl.tableview_create_view.html
  Modules/DataCollection/templates/default/tpl.tableview_edit_view.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#8755 [FIX] GS: use legacy initialisation adapter for endpoints.
  components/ILIAS/GlobalScreen/resources/callback_handler.php
  components/ILIAS/GlobalScreen/resources/gs_content.php
  components/ILIAS/GlobalScreen/resources/notify.php
  components/ILIAS/GlobalScreen/src/Client/CallbackHandler.php
Labels: improvement, php

#8758 DataCollection: Fix filter for formula-sensitive titles
  Modules/DataCollection/classes/Table/class.ilDclTable.php
Labels: bugfix, php

#8762 DataCollection: fix typo
  lang/ilias_de.lang
Labels: bugfix

#8766 43275 - SCORM-2004 module import
  components/ILIAS/Scorm2004/classes/adlparser/SeqTreeBuilder.php
  components/ILIAS/Scorm2004/classes/ilSCORM13Package.php
Labels: bugfix, php

#8768 Export: ilias mantis issue 42590, Button and Dropdown Labels
  components/ILIAS/Blog/classes/class.ilBlogExportOptionHTML.php
  components/ILIAS/Blog/classes/class.ilBlogExportOptionHTMLWithComments.php
  components/ILIAS/Export/classes/class.ilExportExportOptionXML.php
  components/ILIAS/Export/classes/class.ilExportGUI.php
  components/ILIAS/Forum/classes/class.ilForumExportOptionHTML.php
  components/ILIAS/Glossary/classes/class.ilGlossaryExportOptionHTML.php
  components/ILIAS/HTMLLearningModule/classes/class.ilHTLMExportOptionHTML.php
  components/ILIAS/LearningModule/classes/class.ilLearningModuleExportOptionHTML.php
  components/ILIAS/LearningModule/classes/class.ilLearningModuleExportOptionXML.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolExportOptionXMLMaster.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolExportOptionXMLMasterNoMedia.php
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportOptionXLS.php
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportOptionXML.php
  components/ILIAS/Test/classes/class.ilTestExportOptionARC.php
  components/ILIAS/Test/classes/class.ilTestExportOptionXML.php
  components/ILIAS/Test/classes/class.ilTestExportOptionXMLRES.php
  components/ILIAS/TestQuestionPool/classes/class.ilTestQuestionPoolExportOptionXML.php
  components/ILIAS/Wiki/classes/class.ilWikiExportOptionHTML.php
  components/ILIAS/Wiki/classes/class.ilWikiExportOptionHTMLWithComments.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8767 PRG: 43301, mail: use specific dic to keep context
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
Labels: bugfix

#8771 Export: mantis ilias 42881
  components/ILIAS/Export/classes/ExportHandler/Info/Export/Component/Handler.php
  components/ILIAS/Export/classes/class.ilXmlExporter.php
  components/ILIAS/Style/classes/class.ilStyleExporter.php
Labels: bugfix, php

#8770 Export: mantis ilias 42781
  components/ILIAS/Export/classes/class.ilImportExportFactory.php
Labels: bugfix, php

#8774 [FIX] #42795 UI: fix rollup config for input fields bundle.
  components/ILIAS/UI/resources/js/Input/Field/dist/input.factory.min.js
  components/ILIAS/UI/resources/js/Input/Field/rollup.config.js
  components/ILIAS/UI/resources/js/Input/Field/src/input.factory.js
Labels: bugfix, kitchen sink

#8699 UI: 43025 add padding to .c-form.c-form-horizontal if parent is a acc…
  templates/default/070-components/legacy/Services/_component_accordion.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#8700 UI: 43109, align dropdown with title in secondary panels.
  templates/default/070-components/UI-framework/Panel/_ui-component_panel.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#8705 UI/Player: 43176, fix tests/attributes
  components/ILIAS/UI/src/templates/default/Player/tpl.audio.html
  components/ILIAS/UI/src/templates/default/Player/tpl.video.html
  components/ILIAS/UI/tests/Component/Item/ItemTest.php
  components/ILIAS/UI/tests/Component/Player/PlayerAudioTest.php
  components/ILIAS/UI/tests/Component/Player/PlayerVideoTest.php
Labels: bugfix, kitchen sink

#8728 CSS: Fix Hidden Border on Drilldown Left
  templates/default/070-components/UI-framework/Menu/_ui-component_drilldown.scss
  templates/default/delos.css
Labels: bugfix
