Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-08, with the labels that each got.

#7310 WAC/Init: Provide a possible fix for Mantis 39817
  Modules/CmiXapi/classes/XapiProxy/DataService.php
  Services/Init/classes/class.ilInitialisation.php
  Services/WebAccessChecker/classes/class.ilWebAccessChecker.php
Labels: bugfix, php

#7871 Update Dependencies after Release v9.3
  composer.lock
Labels: technical board, dependencies

#7885 Repository: switch to LOM API
  components/ILIAS/Repository/GlobalScreen/classes/RepositoryOpenGraphExposer.php
  components/ILIAS/Repository/Service/trait.GlobalDICDomainServices.php
Labels: improvement, php

#7879 COPage: switch to LOM API
  components/ILIAS/COPage/PC/FileList/class.ilPCFileListGUI.php
  components/ILIAS/COPage/PC/Paragraph/class.ilPCParagraph.php
  components/ILIAS/COPage/PC/Table/class.ilPCTableGUI.php
  components/ILIAS/COPage/classes/class.ilPageContentGUI.php
  components/ILIAS/COPage/classes/class.ilPageObject.php
Labels: improvement, php

#7657 LDAP: Handle internal PHP errors in `ilLDAPQuery`
  Services/LDAP/classes/class.ilLDAPQuery.php
  Services/LDAP/classes/class.ilLDAPResult.php
Labels: bugfix, php

#7842 Mail Bugfix: Class "ILIAS\Services\Mail\ilMailUserFieldChangeListener" not found
  components/ILIAS/Mail/classes/class.ilMailUserFieldChangeListener.php
Labels: bugfix, php

#7875 Forum Bugfix #0041805: German view control in Forum thread: "Nach Beiträge sortieren"
  lang/ilias_de.lang
Labels: bugfix

#7849 Registration: Fix Unable to access Registration Codes
  Services/Registration/classes/class.ilRegistrationCodesTableGUI.php
Labels: bugfix, php

#7836 Fix skin path in html exports
  Services/Style/System/classes/class.ilSystemStyleHTMLExport.php
Labels: improvement

#7847 UI: disable displaying divider label in sub-menu lists if placed in m…
  src/UI/templates/default/Divider/divider.less
  src/UI/templates/default/Menu/drilldown.less
  templates/default/delos.css
Labels: bugfix

#7848 UI: disable displaying divider label in sub-menu lists if placed in m…
  templates/default/070-components/UI-framework/Divider/_ui-component_divider.scss
  templates/default/070-components/UI-framework/Menu/_ui-component_drilldown.scss
  templates/default/delos.css
Labels: bugfix

#7878 ContentPage: switch to LOM API
  components/ILIAS/ContentPage/classes/class.ilObjContentPageGUI.php
Labels: improvement, php

#7846 File: Prevent calling of undefined constants
  Modules/File/classes/class.ilObjFileStakeholder.php
Labels: bugfix, improvement, php

#7890 DataCollection: Catch old permalinks
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix, php

#7884 Multilingualism: switch to LOM API
  components/ILIAS/Multilingualism/classes/class.ilMultilingualismGUI.php
  components/ILIAS/Multilingualism/classes/class.ilMultilingualismTableGUI.php
Labels: improvement, php

#7525 Abandon Session Mode «Load-Dependent Session Settings»
  components/ILIAS/Authentication/classes/Setup/AbandonLoadDependantSessionDatabaseUpdateObjective.php
  components/ILIAS/Authentication/classes/class.ilSession.php
  components/ILIAS/Authentication/classes/class.ilSessionControl.php
  components/ILIAS/Authentication/classes/class.ilSessionReminder.php
  components/ILIAS/Authentication/classes/class.ilSessionStatistics.php
  components/ILIAS/Authentication/classes/class.ilSessionStatisticsGUI.php
  components/ILIAS/Authentication/service.xml
  components/ILIAS/Authentication/templates/default/tpl.session_statistics_center.html
  components/ILIAS/Authentication/templates/default/tpl.session_statistics_left.html
  components/ILIAS/Authentication/tests/ilSessionTest.php
  components/ILIAS/LDAP/tests/ilLDAPServerTest.php
  components/ILIAS/Scorm2004/classes/class.ilSCORM13PlayerGUI.php
  components/ILIAS/ScormAicc/classes/SCORM/class.ilObjSCORMInitData.php
  components/ILIAS/User/classes/class.ilObjUserFolderGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#6072 Registration: Prevent multiple assignments for same domain (ILIAS >= 8.x)
  Services/Registration/classes/class.ilRegistrationSettingsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#7894 Add withMaxPaginationButtons to thread overview pagination
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, improvement

#7891 MediaObjects: switch to LOM API
  components/ILIAS/MediaObjects/Creation/class.ilMediaCreationGUI.php
  components/ILIAS/MediaObjects/Metadata/class.MetadataManager.php
  components/ILIAS/MediaObjects/Service/class.InternalDomainService.php
  components/ILIAS/MediaObjects/SubTitles/class.ilMobMultiSrtUpload.php
  components/ILIAS/MediaObjects/classes/class.ilObjMediaObject.php
  components/ILIAS/MediaObjects/classes/class.ilObjMediaObjectGUI.php
Labels: improvement, php

#7806 9/Learning-Sequence push footer down 41463
  Modules/LearningSequence/templates/default/tpl.kioskpage.html
  templates/default/070-components/UI-framework/MainControls/_ui-component_mode_info.scss
  templates/default/delos.css
Labels: bugfix

#7889 Object: switch to LOM API
  components/ILIAS/ILIASObject/classes/Properties/class.ilObjectProperties.php
  components/ILIAS/ILIASObject/classes/Properties/class.ilObjectPropertiesAgregator.php
  components/ILIAS/ILIASObject/classes/Translation/class.ilObjectTranslation2TableGUI.php
  components/ILIAS/ILIASObject/classes/Translation/class.ilObjectTranslationGUI.php
  components/ILIAS/ILIASObject/classes/Translation/class.ilObjectTranslationTableGUI.php
  components/ILIAS/ILIASObject/classes/class.ilObject.php
  components/ILIAS/ILIASObject/classes/class.ilObjectGUI.php
  components/ILIAS/ILIASObject/classes/class.ilObjectMetaDataGUI.php
  components/ILIAS/ILIASObject/classes/ilObjectDIC.php
  components/ILIAS/WebDAV/tests/dav/ilDAVContainerTest.php
Labels: improvement, php

#7898 DataCollection: Escape JSON filter on import
  Modules/DataCollection/classes/class.ilDataCollectionDataSet.php
Labels: bugfix, php

#7903 DataCollection: Refactor cast properties on image upload field
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobRecordFieldModel.php
Labels: bugfix, improvement, php

#7896 T&A 41725: Fix Test Results "Access From" Minutes default to number of selected month
  Modules/Test/classes/ScoreReporting/ilObjTestSettingsResultSummary.php
Labels: bugfix

#7905 Registration: Fix translation in `MessageBox > Failure` after failed …
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#7601 Registration: Stretch request duration
  components/ILIAS/PrivacySecurity/classes/Setup/class.ilPrivacySecurityConfigStoredObjective.php
  components/ILIAS/PrivacySecurity/classes/Setup/class.ilPrivacySecuritySetupAgent.php
  components/ILIAS/PrivacySecurity/classes/Setup/class.ilPrivacySecuritySetupConfig.php
  components/ILIAS/Registration/classes/class.ilAccountRegistrationGUI.php
  components/ILIAS/setup_/README.md
Labels: bugfix, php

#7910 41874: Cron.php does not work (anymore) when account has IP restriction.
  Services/Authentication/classes/Frontend/class.ilAuthFrontendCLI.php
Labels: bugfix

#7913 Object: Fix default command target for SAHS list items
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#7915 Object: Fix default command target for SAHS list items for TRUNK
  components/ILIAS/ILIASObject/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#7914 Object: Fix default command target for SAHS list items for ILIAS 9
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#7921 Fix bug #41891
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix

#7919 Calendar/Mail: Use (more or less) unique filenames for "ics" mail att…
  Services/Calendar/classes/class.ilCalendarMailNotification.php
Labels: bugfix, php

#7917 Group: remove usages of ilMDUtils
  components/ILIAS/Group/classes/class.ilObjGroupGUI.php
Labels: improvement, php

#7895 implements import of iCal exclusions
  Services/Calendar/classes/iCal/class.ilICalParser.php
Labels: bugfix, php

#7827 Mail: Remove legacy migration for mail templates
  components/ILIAS/Mail/classes/Setup/Migration/class.ilUpdateMailTemplatesForMustache.php
  components/ILIAS/Mail/classes/Setup/class.ilMailSetupAgent.php
Labels: improvement, php

#7883 MainMenu: switch to LOM API
  components/ILIAS/MainMenu/classes/Administration/class.ilMMItemTranslationGUI.php
Labels: improvement, php

#7877 Bibliographic: switch to LOM API
  components/ILIAS/Bibliographic/classes/Translation/class.ilBiblTranslationGUI.php
Labels: improvement, php

#7933 Remove falsely added NPM package `linkify`
  package-lock.json
  package.json
Labels: dependencies, javascript

#7938 DataCollection: Fix file inputs on confirmation
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordFieldModel.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileRecordFieldModel.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobRecordFieldModel.php
Labels: bugfix, php

#7336 Chatroom: Drop upload table. Remove deleted user from ban table
  components/ILIAS/Chatroom/classes/CleanUpBans.php
  components/ILIAS/Chatroom/classes/Setup/UpdateSteps.php
  components/ILIAS/Chatroom/classes/class.ilChatroom.php
  components/ILIAS/Chatroom/classes/class.ilChatroomAppEventListener.php
  components/ILIAS/Chatroom/module.xml
Labels: improvement, php

#7916 Course: switch to LOM API
  components/ILIAS/Course/classes/class.ilCourseContentGUI.php
  components/ILIAS/Course/classes/class.ilECSCourseSettings.php
  components/ILIAS/Course/classes/class.ilObjCourseGUI.php
Labels: improvement, php

#7912 Weblink: switch to LOM API, export LOM as tail dependency
  components/ILIAS/WebResource/classes/class.ilObjLinkResource.php
  components/ILIAS/WebResource/classes/class.ilObjLinkResourceGUI.php
  components/ILIAS/WebResource/classes/class.ilWebLinkXmlParser.php
  components/ILIAS/WebResource/classes/class.ilWebLinkXmlWriter.php
  components/ILIAS/WebResource/classes/class.ilWebResourceExporter.php
  components/ILIAS/WebResource/classes/class.ilWebResourceImporter.php
Labels: improvement, php

#7887 Tracking: switch to LOM API
  components/ILIAS/Tracking/classes/class.ilLPStatus.php
  components/ILIAS/Tracking/classes/class.ilLPStatusWrapper.php
  components/ILIAS/Tracking/classes/class.ilLearningProgressBaseGUI.php
  components/ILIAS/Tracking/classes/collection/class.ilLPCollectionOfLMChapters.php
  components/ILIAS/Tracking/classes/repository_statistics/class.ilLPListOfObjectsGUI.php
  components/ILIAS/Tracking/classes/repository_statistics/class.ilLPListOfProgressGUI.php
  components/ILIAS/Tracking/classes/repository_statistics/class.ilLPListOfSettingsGUI.php
  components/ILIAS/Tracking/classes/status/class.ilLPStatusCollection.php
  components/ILIAS/Tracking/classes/status/class.ilLPStatusCollectionTLT.php
  components/ILIAS/Tracking/classes/status/class.ilLPStatusTypicalLearningTime.php
Labels: improvement, php

#7876 T&A: fix type of parameter of method roundtrip in interface ILIAS\UI\Component\Modal\Factory
  components/ILIAS/UI/src/Component/Modal/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Modal/Factory.php
Labels: improvement, php

#7949 DataCollection: Refactor max links stripping
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextRecordRepresentation.php
Labels: bugfix, improvement, php

#7948 Chatroom: Remove unused dependency node-mysql
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: dependencies, javascript

#7947 LegalDocuments: Add public api for tos and dpro (ILIAS 9)
  Services/DataProtection/README.md
  Services/DataProtection/classes/Consumer.php
  Services/DataProtection/test/ConsumerTest.php
  Services/LegalDocuments/README.md
  Services/LegalDocuments/classes/ConsumerSlots/PublicApi.php
  Services/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/Agreement.php
  Services/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/PublicApi.php
  Services/LegalDocuments/classes/ConsumerToolbox/User.php
  Services/LegalDocuments/classes/LazyProvide.php
  Services/LegalDocuments/classes/Provide.php
  Services/LegalDocuments/classes/UseSlot.php
  Services/LegalDocuments/classes/Wiring.php
  Services/LegalDocuments/test/ConsumerToolbox/ConsumerSlots/AgreementTest.php
  Services/LegalDocuments/test/ConsumerToolbox/ConsumerSlots/PublicApiTest.php
  Services/LegalDocuments/test/ConsumerToolbox/UserTest.php
  Services/LegalDocuments/test/ContainerMock.php
  Services/LegalDocuments/test/LazyProvideTest.php
  Services/LegalDocuments/test/ProvideTest.php
  Services/LegalDocuments/test/WiringTest.php
  Services/TermsOfService/README.md
  Services/TermsOfService/classes/Consumer.php
  Services/TermsOfService/test/ConsumerTest.php
Labels: improvement, php

#7946 LegalDocuments: Add public api for tos and dpro
  components/ILIAS/DataProtection/README.md
  components/ILIAS/DataProtection/classes/Consumer.php
  components/ILIAS/DataProtection/tests/ConsumerTest.php
  components/ILIAS/LegalDocuments/README.md
  components/ILIAS/LegalDocuments/classes/ConsumerSlots/PublicApi.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/Agreement.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/PublicApi.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/User.php
  components/ILIAS/LegalDocuments/classes/LazyProvide.php
  components/ILIAS/LegalDocuments/classes/Provide.php
  components/ILIAS/LegalDocuments/classes/UseSlot.php
  components/ILIAS/LegalDocuments/classes/Wiring.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/AgreementTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/PublicApiTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/UserTest.php
  components/ILIAS/LegalDocuments/tests/ContainerMock.php
  components/ILIAS/LegalDocuments/tests/LazyProvideTest.php
  components/ILIAS/LegalDocuments/tests/ProvideTest.php
  components/ILIAS/LegalDocuments/tests/WiringTest.php
  components/ILIAS/TermsOfService/README.md
  components/ILIAS/TermsOfService/classes/Consumer.php
  components/ILIAS/TermsOfService/tests/ConsumerTest.php
Labels: improvement, php

#7745 UI/DataTable (8): #38099, pass additional parameters
  src/UI/Implementation/Component/Table/Data.php
  src/UI/Implementation/Component/Table/Renderer.php
Labels: bugfix

#7929 Tree/PathGUI: Properly handle HTML attributes
  components/ILIAS/Tree/classes/class.ilPathGUI.php
Labels: bugfix, php

#7909 Glossary: switch to LOM API
  components/ILIAS/Glossary/Export/class.ilGlossaryExporter.php
  components/ILIAS/Glossary/Metadata/class.MetadataManager.php
  components/ILIAS/Glossary/Service/class.InternalDomainService.php
  components/ILIAS/Glossary/Term/class.ilGlossaryTerm.php
  components/ILIAS/Glossary/Term/class.ilGlossaryTermGUI.php
  components/ILIAS/Glossary/Term/class.ilTermDefinitionBulkCreationGUI.php
  components/ILIAS/Glossary/classes/class.ilObjGlossary.php
  components/ILIAS/Glossary/classes/class.ilObjGlossaryGUI.php
Labels: improvement, php

#7955 [FIX] start only one PHP-CS-Fixer run in GitHub actions
  scripts/PHP-CS-Fixer/run_check.sh
Labels: improvement, Looking for Shepherd

#7956 Auth/SAML: Fix wrong arg during account migration
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#7959 TOS & DPRO: Enable soap api check (ILIAS 9)
  Services/DataProtection/classes/Consumer.php
  Services/DataProtection/test/ConsumerTest.php
  Services/TermsOfService/classes/Consumer.php
  Services/TermsOfService/test/ConsumerTest.php
Labels: php

#7958 TOS & DPRO: Enable soap api check
  components/ILIAS/DataProtection/classes/Consumer.php
  components/ILIAS/DataProtection/tests/ConsumerTest.php
  components/ILIAS/TermsOfService/classes/Consumer.php
  components/ILIAS/TermsOfService/tests/ConsumerTest.php
Labels: php

#7943 Auth/Reg/ApacheAuth/OIDC/SAML: Fix endpoint scripts (exc. `ilCtrlInte…
  components/ILIAS/Authentication/resources/sessioncheck.php
  components/ILIAS/Init/resources/error.php
  components/ILIAS/Init/resources/ilias.php
  components/ILIAS/Init/resources/index.php
  components/ILIAS/Init/resources/login.php
  components/ILIAS/Init/resources/logout.php
  components/ILIAS/Init/resources/pwassist.php
  components/ILIAS/Init/resources/register.php
  components/ILIAS/Init/resources/sso/index.php
  components/ILIAS/OpenIdConnect/resources/openidconnect.php
  components/ILIAS/Registration/resources/confirmReg.php
  components/ILIAS/Saml/Saml.php
  components/ILIAS/Saml/resources/metadata.php
  components/ILIAS/Saml/resources/module.php
  components/ILIAS/Saml/resources/saml.php
  components/ILIAS/Saml/resources/saml1-acs.php
  components/ILIAS/Saml/resources/saml2-acs.php
  components/ILIAS/Saml/resources/saml2-logout.php
Labels: bugfix, php

#7960 CS Fixer: Prevent multiple filenames to be given as 1 argument
  scripts/PHP-CS-Fixer/run_check.sh
Labels: bugfix

#7469 [FEATURE] UI: simplify component renderers
  components/ILIAS/UI/README.md
  components/ILIAS/UI/src/Implementation/Component/Breadcrumbs/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Button/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Card/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Chart/Bar/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Chart/ProgressMeter/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Chart/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Counter/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Deck/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Divider/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Dropdown/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Dropzone/File/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Entity/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Image/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Filter/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/ViewControl/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/FilterContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/ViewControl/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Item/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Launcher/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Layout/Alignment/Horizontal/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Layout/Alignment/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Layout/Page/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Legacy/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Link/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Listing/CharacteristicValue/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Listing/Entity/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Listing/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Listing/Workflow/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/Slate/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Menu/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/MessageBox/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Modal/InterruptiveItem/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Modal/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Panel/Listing/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Panel/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Panel/Secondary/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Player/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Popover/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Avatar/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Icon/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Table/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Toast/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Tree/Node/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Tree/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/ViewControl/Renderer.php
  components/ILIAS/UI/src/Implementation/Render/AbstractComponentRenderer.php
  components/ILIAS/UI/src/Implementation/Render/ComponentRenderer.php
  components/ILIAS/UI/tests/Component/Symbol/Glyph/GlyphTest.php
  components/ILIAS/UI/tests/Renderer/AbstractRendererTest.php
Labels: kitchen sink, improvement, php

#7964 DataCollection: restore dataset use
  Modules/DataCollection/classes/class.ilDataCollectionExporter.php
Labels: bugfix, php

#7954 [FIX] use `\ILIAS\Language\Language` instead of `\ilLanguage`
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Duration.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/File.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Group.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/HasDynamicInputsBase.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Link.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/SwitchableGroup.php
  components/ILIAS/UI/src/Implementation/Component/Input/Group.php
  components/ILIAS/UI/src/Implementation/Component/Input/ViewControl/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Input/ViewControl/Group.php
  components/ILIAS/UI/src/Implementation/Component/Table/Column/Boolean.php
  components/ILIAS/UI/src/Implementation/Component/Table/Column/Column.php
  components/ILIAS/UI/src/Implementation/Component/Table/Column/Date.php
  components/ILIAS/UI/src/Implementation/Component/Table/Column/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Table/Column/TimeSpan.php
  components/ILIAS/UI/src/Implementation/Render/AbstractComponentRenderer.php
  components/ILIAS/UI/src/Implementation/Render/DefaultRendererFactory.php
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/FilterFactoryTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/FilterInputTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/FilterTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/StandardFilterTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormFactoryTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/NoSubmitFormTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/StandardFormTest.php
  components/ILIAS/UI/tests/Component/Input/Container/ViewControl/ViewControlContainerTest.php
  components/ILIAS/UI/tests/Component/Input/Field/CheckboxInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/DateTimeInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/DurationInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/FieldFactoryTest.php
  components/ILIAS/UI/tests/Component/Input/Field/FileInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/GroupInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/HasDynamicInputsBaseTest.php
  components/ILIAS/UI/tests/Component/Input/Field/HiddenInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/InputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/LinkInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/MultiSelectInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/OptionalGroupInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/PasswordInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/RadioInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/RatingInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/SelectInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/SwitchableGroupInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/TagInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/TextInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/TextareaTest.php
  components/ILIAS/UI/tests/Component/Input/Field/UrlInputTest.php
  components/ILIAS/UI/tests/Component/Input/ViewControl/ViewControlTestBase.php
  components/ILIAS/UI/tests/Component/Launcher/LauncherInlineTest.php
  components/ILIAS/UI/tests/Component/MainControls/Slate/DrilldownSlateTest.php
  components/ILIAS/UI/tests/Component/Menu/Drilldown/DrilldownTest.php
  components/ILIAS/UI/tests/Component/Table/Column/ColumnFactoryTest.php
  components/ILIAS/UI/tests/Component/Table/Column/ColumnTest.php
  components/ILIAS/UI/tests/Component/Table/TableTestBase.php
  components/ILIAS/UI/tests/Renderer/AbstractRendererTest.php
  components/ILIAS/UI/tests/Renderer/ComponentRendererFSLoaderTest.php
  components/ILIAS/UI/tests/Renderer/TestComponent.php
  components/ILIAS/UI/tests/UITestHelper.php
Labels: kitchen sink, improvement, php

#7306 UIComponent: Render File Upload: Show Max nr of files and upload size
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/src/templates/default/Input/tpl.file.html
  components/ILIAS/UI/tests/Component/Input/Field/FileInputTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: kitchen sink, improvement, php

#7963 OSC: Move HTML escaping from DB to frontend
  components/ILIAS/Chatroom/chat/SocketTasks/ConversationMessage.js
  components/ILIAS/OnScreenChat/classes/Setup/Agent.php
  components/ILIAS/OnScreenChat/classes/Setup/UpdateSteps.php
  components/ILIAS/OnScreenChat/resources/onscreenchat.js
Labels: improvement, php

#7970 Changes to the install.md suggested by Christian Suessenguth
  docs/configuration/install.md
Labels: improvement, documentation

#7691 Fix 41541: 'Enter' key in number filter input field collapses the fil…
  src/UI/templates/js/Input/Container/dist/filter.js
  src/UI/templates/js/Input/Container/src/filter.main.js
Labels: bugfix, kitchen sink

#7715 UI, DataTable: do not order for one record
  components/ILIAS/UI/src/Implementation/Component/Table/Data.php
  components/ILIAS/UI/src/Implementation/Component/Table/TableViewControlOrdering.php
  components/ILIAS/UI/src/examples/Table/Data/base.php
  components/ILIAS/UI/tests/Component/Table/DataViewControlsTest.php
Labels: bugfix

#7968 Fix usage of deprecated/removed ilCtrl::setCmd() for authentication component
  components/ILIAS/Init/ROADMAP.md
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
  components/ILIAS/Init/resources/login.php
  components/ILIAS/Init/resources/logout.php
  components/ILIAS/Init/resources/pwassist.php
  components/ILIAS/Init/resources/register.php
  components/ILIAS/Init/resources/sso/index.php
  components/ILIAS/OpenIdConnect/resources/openidconnect.php
  components/ILIAS/Registration/resources/confirmReg.php
  components/ILIAS/Saml/resources/saml.php
Labels: bugfix, php

#7988 Course: Fix default value in LO course
  Modules/Course/classes/Objectives/class.ilLOEditorGUI.php
Labels: bugfix, php

#7638 Bugfix table multi action for using 'ALL OBJECTS'
  components/ILIAS/Contact/classes/class.ilMailMemberSearchGUI.php
  components/ILIAS/Contact/classes/class.ilMailingListsGUI.php
Labels: bugfix, php

#7935 Fix rollup config for Bar Chart JS
  src/UI/templates/js/Chart/Bar/dist/bar.js
  src/UI/templates/js/Chart/Bar/rollup.config.js
  src/UI/templates/js/Chart/Bar/src/bar.horizontal.js
  src/UI/templates/js/Chart/Bar/src/bar.vertical.js
Labels: bugfix, kitchen sink

#7944 UI/Dropdown: 41831 open DD to left if there is too little space
  components/ILIAS/UI/resources/js/Dropdown/dist/dropdown.js
  components/ILIAS/UI/resources/js/Dropdown/src/Dropdown.js
  templates/default/070-components/UI-framework/Dropdown/_ui-component_dropdown.scss
  templates/default/delos.css
Labels: bugfix

#7972 UI: Render Actions in Reporting Panel
  components/ILIAS/UI/src/Implementation/Component/Panel/Renderer.php
  components/ILIAS/UI/src/templates/default/Panel/tpl.report.html
  components/ILIAS/UI/tests/Component/Panel/PanelTest.php
Labels: kitchen sink, improvement

#7904 Init/PasswordAssistance: Fix lost `cmd` when submitting a new password
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, php

#7996 Chatroom: Add missing NPM dependency: express
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: dependencies, javascript

#7164 0040628: Course Links require Read Access to Target Course
  Modules/CategoryReference/classes/class.ilObjCategoryReferenceGUI.php
  Modules/CourseReference/classes/class.ilObjCourseReferenceGUI.php
  Services/ContainerReference/classes/class.ilContainerReferenceGUI.php
  Services/Repository/classes/class.ilRepositorySelectorExplorerGUI.php
Labels: bugfix, improvement, php

#7893 T&A 41706: Fix title max length inconsistency
  Modules/LearningModule/classes/class.ilObjContentObjectGUI.php
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolSettingsGeneralGUI.php
Labels: bugfix

#7922 T&A 41894: Fix duplicated toolbar issue withihn question pool
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix

#7670 [FIX] ActiveRecord: PHP 8 dynamic properties
  Services/ActiveRecord/class.ActiveRecord.php
Labels: improvement, php
