Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-04, with the labels that each got.

#7261 9/UI/ta 40639 auto save msgbox
  Modules/Test/ROADMAP.md
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  templates/default/010-settings/_index.scss
  templates/default/010-settings/_settings_shadows.scss
  templates/default/070-components/UI-framework/MainControls/_ui-component_mode_info.scss
  templates/default/070-components/legacy/Modules/_component_test_legacy.scss
  templates/default/delos.css
Labels: bugfix

#7116 SOAP/Init: Fix support for SOAP plugins (at least partly)
  Services/Init/classes/class.ilInitialisation.php
  Services/WebServices/SOAP/classes/class.ilAbstractSoapMethod.php
  webservice/soap/classes/class.ilSoapAdministration.php
Labels: bugfix, php

#7230 UI: remove padding of forms if form is set in a modal. (#40675)
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/delos.css
Labels: bugfix

#7287 Trunk: bump "express" library in Modules/Chatroom/chat to 4.19.2
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: bugfix, javascript

#7291 UI: adjust rendering cases of the required text above formulars. (#40…
  Services/Form/classes/class.ilPropertyFormGUI.php
Labels: bugfix

#7293 GroupReference: Fix PHP error in `\ilObjGroupReferenceAccess::_checkAccess`
  Modules/GroupReference/classes/class.ilObjGroupReferenceAccess.php
Labels: bugfix, php

#7276 Test: Add permanent link for question tab
  Modules/Test/classes/class.ilObjTestGUI.php
  goto.php
Labels: bugfix, php

#7278 QuestionPool: Add permanent link for question tab
  Modules/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
Labels: bugfix, php

#7299 Cleanup code in Dashboard via Inspections
  Services/Dashboard/Achievements/classes/class.ilAchievementsGUI.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/GlobalScreen/classes/DashboardLayoutProvider.php
  Services/Dashboard/classes/class.ilPersonalDesktopSettingsRepository.php
  Services/Dashboard/test/DashboardViewSettingsTest.php
Labels: improvement, php

#7301 Apply single quotes and short arrays in dashboard
  Services/Dashboard/Access/class.DashboardAccess.php
  Services/Dashboard/Achievements/classes/class.ilAchievements.php
  Services/Dashboard/Achievements/classes/class.ilAchievementsGUI.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettings.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/Block/classes/class.ilMembershipBlockGUI.php
  Services/Dashboard/Block/classes/class.ilSelectedItemsBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashObjectsTableGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashObjectsTableRenderer.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashboardSidePanelSettingsRepository.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGroup.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsObjectDatabaseRepository.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsProvider.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockSelectedItemsProvider.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockViewSettings.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockConstants.php
  Services/Dashboard/ItemsBlock/interfaces/interface.ilPDSelectedItemsBlockProvider.php
  Services/Dashboard/classes/Setup/ilDashboardUpdateSteps.php
  Services/Dashboard/classes/class.ilDashboardContentBlockGUI.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  Services/Dashboard/classes/class.ilPersonalDesktopSettingsRepository.php
  Services/Dashboard/test/ilServicesDashboardSuite.php
Labels: improvement, php

#7295 LegalDocuments: Change permission exceptions to `$ilErr->raiseError`
  Services/DataProtection/classes/class.ilObjDataProtectionGUI.php
  Services/LegalDocuments/classes/Administration.php
Labels: bugfix, php

#7296 LegalDocuments: Change permission exceptions to `$ilErr->raiseError` (trunk)
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  components/ILIAS/LegalDocuments/classes/Administration.php
Labels: bugfix, php

#7304 fix wrong quotation in Dashboard
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsObjectDatabaseRepository.php
Labels: bugfix, php

#7294 9 sess 5 4 xsd adjustment
  xml/SchemaValidation/ilias_sess_5_4.xsd
Labels: bugfix, php

#7248 LP: 40895, key error for failed_users_num
  Services/Tracking/classes/status/class.ilLPStatusCollection.php
Labels: bugfix

#7308 Replace strings with constants in Dashboard
  Services/Dashboard/Access/class.DashboardAccess.php
  Services/Dashboard/Achievements/classes/class.ilAchievements.php
  Services/Dashboard/Achievements/classes/class.ilAchievementsGUI.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockMembershipsObjectDatabaseRepository.php
  Services/Dashboard/classes/Setup/ilDashboardUpdateSteps.php
  Services/Dashboard/classes/class.ilDashboardGUI.php
  Services/Dashboard/test/ilServicesDashboardSuite.php
Labels: improvement, php

#7292 9/UI/listing restore previous design 40050
  templates/default/070-components/legacy/Modules/_component_test.scss
  templates/default/delos.css
Labels: bugfix

#7303 Release_9: T&A - 39559 - Fix answerwizardinput not finding + / - / up / down buttons
  Modules/TestQuestionPool/templates/default/answerwizardinput.js
Labels: bugfix, javascript

#7314 Release_9: T&A - 41001 - Fix array access on null value
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/Expressions/ilAssLacNumberOfResultExpression.php
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/Expressions/ilAssLacNumericResultExpression.php
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/Expressions/ilAssLacStringResultExpression.php
Labels: bugfix, php

#7312 Test: Don't pass null when adding mark steps from db
  Modules/Test/classes/class.assMarkSchema.php
Labels: bugfix, php

#7199 Test: Get rid of super global variable usage in `ilParticipantsTestRe…
  Modules/Test/classes/class.ilParticipantsTestResultsGUI.php
Labels: improvement, php

#7283 T&A Bugfix #40277: Password Retention Issue - Unexpected Behavior with Repeated Test Access
  Modules/Test/classes/TestScreen/class.ilTestScreenGUI.php
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#7273 T&A: 40958, translate question type in results table
  Modules/Test/classes/Results/class.ilTestPassResultsTable.php
Labels: bugfix

#7320 Fix post fetch of unsubscribed ids
  Services/Dashboard/ItemsBlock/classes/class.ilPDSelectedItemsBlockGUI.php
Labels: bugfix, php

#7288 PRG: 40943, fix html-template for statusinfo
  Modules/StudyProgramme/templates/default/tpl.statusinformation.html
Labels: bugfix

#7275 PRG: 40988, DateFormat in PRGMails
  Modules/StudyProgramme/classes/class.ilStudyProgrammeMailTemplateContext.php
Labels: bugfix, php

#7195 T&A Bugfix #0039801: Btn Gap_Combine too small
  Modules/TestQuestionPool/templates/default/clozeQuestionGapBuilder.js
Labels: bugfix

#7194 T&A Bugfix #0040787: Ordering Question (vertical): Saving Error Picture Mode without uploading
  Modules/TestQuestionPool/classes/forms/class.ilMultipleImagesAdditionalIndexLevelRemover.php
  Services/Form/classes/class.ilPropertyFormGUI.php
Labels: bugfix

#7162 T&A 0039340 Type safety for Author
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix

#7328 Fix thread Id typo in forum post delete
  Modules/Forum/classes/class.ilForum.php
Labels: bugfix, php

#7325 Fix deletion of sub post in Forum when thread is deleted
  Modules/Forum/classes/class.ilForum.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
Labels: bugfix, php

#7330 Component: Avoid redundant event handling on plugin update
  Services/Component/classes/class.ilPlugin.php
Labels: bugfix, php

#7335 40595: Bugfix for test settings
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, improvement, php

#7331 Chatroom: JS Dependency Winston v3 update
  components/ILIAS/Chatroom/chat/Bootstrap/SetupEnvironment.js
Labels: improvement, javascript

#7186 Align data options between global user management and local user mananagement
  Services/User/classes/class.ilUserTableGUI.php
Labels: improvement, php

#7337 Badge: Show error message on badge image upload error
  Services/Badge/classes/class.ilBadge.php
  Services/Badge/classes/class.ilBadgeManagementGUI.php
  Services/Badge/classes/ilBadgeException.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#7351 ilBadge: Fix BadgeException class file name
  Services/Badge/classes/BadgeException.php
Labels: bugfix, php

#7353 LegalDocuments: Add history tab user admin check
  Services/LegalDocuments/classes/Administration.php
  Services/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
Labels: bugfix, php

#7354 LegalDocuments: Add history tab user admin check (trunk)
  components/ILIAS/LegalDocuments/classes/Administration.php
  components/ILIAS/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
Labels: bugfix, php

#7346 [FIX] #39532,#39260 UI: distinguish example post urls.
  src/UI/examples/Dropzone/File/Standard/base.php
  src/UI/examples/Dropzone/File/Standard/bulky.php
  src/UI/examples/Dropzone/File/Standard/with_additional_input.php
  src/UI/examples/Dropzone/File/Wrapper/base.php
  src/UI/examples/Dropzone/File/Wrapper/with_additional_input.php
  src/UI/examples/Dropzone/File/Wrapper/with_clear_button.php
Labels: bugfix, kitchen sink, php

#7357 MetaData/Copyright: Handle null values when reading from database
  Services/MetaData/classes/class.ilMDCopyrightSelectionEntry.php
Labels: bugfix, php

#7358 News: Fix accessing an undefined array key
  Services/News/classes/class.ilPDNewsGUI.php
Labels: bugfix, php

#7262 #40939: Fixing learning modules check for Anchor link to fix.
  Modules/LearningModule/Presentation/class.ilLMPresentationLinker.php
  Modules/LearningModule/classes/class.ilLMPageObjectGUI.php
  Services/Help/classes/class.ilHelpGUI.php
Labels: bugfix, php

#7277 TA: Changed lang because of Mantis 39458
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#7340 Fix 41003: Failed test: # Input: Container→Filter→Standard validieren
  src/UI/templates/default/Input/tpl.standard_filter.html
  tests/UI/Component/Input/Container/Filter/StandardFilterTest.php
Labels: bugfix, kitchen sink

#7359 Authorities: Add company suffix for Databay employees for `Authority to (De-)Assign Authorities`
  docs/development/maintenance.md
Labels: documentation

#7366 Fix wrong on screen message color
  Services/Tree/classes/SystemCheck/class.ilSCTreeTasksGUI.php
Labels: bugfix

#6917 T&A Bugfix #0039805: Create export result file empty
  Modules/Test/classes/class.ilExcelTestExport.php
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilTestExport.php
Labels: bugfix

#6602 Favourites Bugfix #0038792: Configure Button in Favourites shows empty page
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/Block/classes/class.ilSelectedItemsBlockGUI.php
  Services/Dashboard/Favourites/classes/class.ilFavouritesDBRepository.php
  Services/Dashboard/Favourites/classes/class.ilFavouritesListGUI.php
  Services/Dashboard/Favourites/classes/class.ilFavouritesManager.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#7175 UI form best practices for hiding inputs - research paper
  src/UI/docu/UI-forms_best-practices-for-hiding-inputs-in-complex-forms.md
Labels: documentation

#6981 bugfix #39505: TypeError in SelfRegistration with reg-code & local roles
  Services/Registration/classes/class.ilAccountRegistrationGUI.php
Labels: bugfix, php

#7334 DataCollection: Ensure `int` when checking for object existence
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordRepresentation.php
Labels: bugfix, php

#7347 [FIX] #38079 UI: update Field\Image description
  src/UI/Component/Input/Field/Factory.php
Labels: bugfix, kitchen sink, php

#7321 T&A: 40740, Made reachedPoints getter return float instead of int
  Modules/Test/classes/class.ilTestEvaluationData.php
  Modules/Test/classes/class.ilTestEvaluationPassData.php
  Modules/Test/test/ilTestEvaluationUserDataTest.php
Labels: bugfix

#7380 [FIX] #41133 UI: file input clear queue
  src/UI/templates/js/Input/Field/file.js
Labels: bugfix, kitchen sink, javascript

#7381 [FIX] #40739 Style: fix custom goto-link targets
  Services/Style/System/classes/class.ilStyleDefinition.php
Labels: bugfix, php

#7352 [FIX] #39474 UI: remove duplicate ids from message boxes
  src/UI/templates/default/MessageBox/tpl.messagebox.html
  tests/UI/Component/Launcher/LauncherInlineTest.php
  tests/UI/Component/MessageBox/MessageBoxTest.php
Labels: bugfix, kitchen sink, php

#7361 set ids to ui tables
  components/ILIAS/Chatroom/classes/Bans/BannedUsersTable.php
  components/ILIAS/Chatroom/classes/gui/class.ilChatroomBanGUI.php
  components/ILIAS/Contact/classes/MailingLists/MailingListsMembersTable.php
  components/ILIAS/Contact/classes/MailingLists/MailingListsTable.php
  components/ILIAS/Contact/classes/MemberSearch/MailMemberSearchTable.php
  components/ILIAS/Contact/classes/class.ilMailMemberSearchGUI.php
  components/ILIAS/Forum/classes/Moderation/ForumModeratorsTable.php
  components/ILIAS/Forum/classes/Statistics/ForumStatisticsTable.php
  components/ILIAS/Mail/classes/Attachments/MailAttachmentTableGUI.php
  components/ILIAS/Saml/classes/class.ilSamlIdpTableGUI.php
Labels: bugfix, improvement, php

#7396 [FIX] casting export value
  Modules/DataCollection/classes/Fields/IliasReference/class.ilDclIliasReferenceRecordFieldModel.php
Labels: bugfix

#7397 [FIX] 0041147: missing dropzones for files in list-view
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix

#7193 Test: Get rid of super global variable usage in administration
  Modules/Test/classes/class.ilObjAssessmentFolderGUI.php
Labels: improvement, php

#7348 Test: Merge PR 7199 from ILIAS 8
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilParticipantsTestResultsGUI.php
  Modules/Test/classes/class.ilTestArchiver.php
  Modules/Test/classes/class.ilTestResultsGUI.php
  Modules/Test/test/ilParticipantsTestResultsGUITest.php
  Modules/Test/test/ilTestResultsGUITest.php
Labels: bugfix, php

#7402 T&A Bugfix: Missing lng variable TestStatisticsExport
  Modules/Test/classes/class.ilExcelTestExport.php
Labels: bugfix, improvement

#7388 Release 8: Fix missing type cast
  Modules/Group/classes/class.ilGroupXMLParser.php
Labels: bugfix, php

#7155 Mantis 40783 - Group Type Hint Update
  webservice/soap/include/inc.soap_functions.php
Labels: bugfix

#7355 CSS, Templates Authority Change
  docs/development/maintenance.md
Labels: authorities

#7411 [FIX] add public and node_module to ignored files
  .gitignore
Labels: improvement

#7407 T&A 41186: Fix missing solutionhint points after test import
  Services/QTI/classes/class.ilQTIParser.php
Labels: bugfix

#7240 CoPage/Test: Prevent JS error caused by `ilPCQuestion` when displayin…
  Services/COPage/PC/Question/class.ilPCQuestion.php
Labels: bugfix

#7205 Survey: Potential fix for wrong PDFs in tutor results email
  Modules/Survey/classes/class.ilObjSurvey.php
Labels: bugfix, php

#7412 Component: Fix REGEXP not Including Dash
  components/ILIAS/Component/src/Resource/PublicAssetManager.php
Labels: bugfix

#7239 REP: remove content of alt attributes for icons in...
  Services/Repository/GlobalScreen/classes/RepositoryMainBarProvider.php
Labels: improvement

#7343 IASS: fix displaying specific tabs if orgu positions are set. (#40684)
  Modules/IndividualAssessment/classes/AccessControl/class.ilIndividualAssessmentAccessHandler.php
  Modules/IndividualAssessment/classes/class.ilObjIndividualAssessmentGUI.php
  Modules/IndividualAssessment/interfaces/AccessControl/interface.IndividualAssessmentAccessHandler.php
Labels: bugfix, php

#7280 PRG: 41004, sort by completeness and validity for status info
  Modules/StudyProgramme/classes/PageEditor/ilPRGActionNoteBuilder.php
  Modules/StudyProgramme/classes/PageEditor/ilPRGStatusInfoBuilder.php
  Modules/StudyProgramme/classes/model/Assignments/PRGAssignmentRepository.php
  Modules/StudyProgramme/classes/model/Assignments/class.ilPRGAssignmentDBRepository.php
  Modules/StudyProgramme/test/prg_mocks.php
Labels: bugfix

#7418 Fix some typos
  Services/Mail/PRIVACY.md
Labels: improvement, documentation

#7333 Test: Testimport schlägt fehl (#40680)
  Modules/Test/classes/class.ilQuestionPageParser.php
Labels: bugfix, php

#7425 PRG: 41216, do not throw if ref_id is not found
  Modules/StudyProgramme/classes/class.ilStudyProgrammeUserTable.php
Labels: bugfix

#7421 Fix missing cast_spaces php-cs-fixer config
  CI/PHP-CS-Fixer/code-format.php_cs
Labels: improvement, php

#6777 Language: missing lang vars for obj permissions
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#7313 TA Lang_de Test ID
  lang/ilias_de.lang
Labels: bugfix, improvement

#7390 Release 9: Fix missing type cast
  Modules/Group/classes/class.ilGroupXMLParser.php
Labels: bugfix, php

#7392 Trunk: Fix missing type cast
  components/ILIAS/Group/classes/class.ilGroupXMLParser.php
Labels: bugfix, php

#7387 Release 8: Fix undefined array key access 'notifications'
  Modules/Group/classes/class.ilGroupXMLParser.php
Labels: bugfix, php

#7389 Release 9: Fix undefined array key access 'notifications'
  Modules/Group/classes/class.ilGroupXMLParser.php
Labels: bugfix, php

#7345 Course/Group: Fix undefined array key access in subscriber and waiting list…
  Services/Membership/classes/class.ilSubscriberTableGUI.php
  Services/Membership/classes/class.ilWaitingListTableGUI.php
Labels: bugfix, php

#7429 9 testrail ilias 73644
  Services/Tracking/classes/class.ilTrQuery.php
Labels: bugfix, php

#7322 T&A: 35998, Test Results in Points now showing correct value for current test pass
  Modules/Test/classes/class.ilTestEvaluationGUI.php
Labels: bugfix

#7327 T&A: 40962, Adjusted labelling for numeric gap combination in Cloze question
  Modules/TestQuestionPool/classes/Form/class.ilClozeGapInputBuilderGUI.php
  Modules/TestQuestionPool/templates/default/clozeQuestionGapBuilder.js
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#7431 T&A 41114: Fix "method on null" error during test import with skills.
  Modules/Test/classes/class.ilTestImporter.php
Labels: bugfix

#7432 Repository: redirect swallows parameters needed for tree to load
  components/ILIAS/Repository/classes/class.ilRepositoryGUI.php
Labels: bugfix

#7428 7 mantis ilias 41082
  Services/Calendar/classes/class.ilCalendarPresentationGUI.php
Labels: bugfix, php

#7442 Fix wrong permission check on mail lists
  Services/Contact/classes/class.ilMailingListsGUI.php
Labels: bugfix, php

#7024 UI: Update Drilldown to Show Filter and Two columns
  components/ILIAS/UI/resources/js/Menu/dist/drilldown.js
  components/ILIAS/UI/resources/js/Menu/rollup.config.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.factory.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.instances.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.main.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.mapping.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.model.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.persistence.js
  components/ILIAS/UI/src/Component/Menu/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Menu/Renderer.php
  components/ILIAS/UI/src/examples/Menu/Drilldown/drilldown.php
  components/ILIAS/UI/src/examples/Menu/Drilldown/multi_column_drilldown_in_modal.php
  components/ILIAS/UI/src/templates/default/Menu/tpl.drilldown.html
  components/ILIAS/UI/src/templates/default/Menu/tpl.menu.html
  components/ILIAS/UI/src/templates/default/Menu/tpl.menuitem.html
  components/ILIAS/UI/tests/Client/Menu/Drilldown/drilldown.test.js
  components/ILIAS/UI/tests/Component/MainControls/Slate/DrilldownSlateTest.php
  components/ILIAS/UI/tests/Component/Menu/Drilldown/drilldown_test.html
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/010-settings/_settings_layout.scss
  templates/default/050-layout/standardpage/_layout_standardpage.scss
  templates/default/070-components/UI-framework/Menu/_ui-component_drilldown.scss
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/delos.css
Labels: kitchen sink, improvement

#7422 UI: adjust rendering of main action button and dropdown button. (#41033)
  Modules/Forum/classes/class.ilObjForumGUI.php
  Modules/Forum/templates/default/tpl.forums_threads_view.html
  templates/default/070-components/legacy/Modules/_component_forum.scss
  templates/default/delos.css
Labels: bugfix

#7415 fixed 37158: A11Y/LoginPage: The A11Y info page cannot be requested o…
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#7445 Fix 41280: Modal::getCloseSignal not working
  components/ILIAS/UI/resources/js/Modal/modal.js
Labels: bugfix, kitchen sink

#7446 TermsOfService: Fix updating documents
  Services/TermsOfService/classes/Document/class.ilTermsOfServiceDocumentFormGUI.php
  Services/TermsOfService/test/gui/ilTermsOfServiceDocumentFormGUITest.php
Labels: bugfix, php

#7399 Authority Change DC
  docs/development/maintenance.md
Labels: authorities

#7409 Test: Add Thomas Joussen to Maintenance.md in Test
  docs/development/maintenance.md
Labels: authorities

#7385 Notifications: Change authority assignments
  docs/development/maintenance.md
Labels: improvement, technical board, documentation, authorities

#6909 LDAP: Fix possible non-strings when calling `readUserData`
  Services/LDAP/classes/class.ilLDAPAttributeToUser.php
  Services/LDAP/classes/class.ilLDAPQuery.php
Labels: bugfix, php

#7452 Fix #41227 - Forum’s statistics tab
  Modules/Forum/classes/class.ilForum.php
Labels: bugfix, php
