Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-09, with the labels that each got.

#7865 T&A Bugfix: Use new render for QuestioPoolSelect
  components/ILIAS/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
Labels: improvement

#8007 UI: Add standard icons for read and unread mail
  components/ILIAS/UI/resources/images/standard/icon_mailr.svg
  components/ILIAS/UI/resources/images/standard/icon_mailu.svg
  components/ILIAS/UI/src/Component/Symbol/Icon/Standard.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Icon/Standard.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: kitchen sink, improvement

#7999 File/Finder: Fix return type of `key` iterator method
  src/Filesystem/Finder/Iterator/RecursiveDirectoryIterator.php
Labels: bugfix, php

#8023 LegalDocuments: Annotation cleanup
  components/ILIAS/DataProtection/classes/Consumer.php
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  components/ILIAS/LegalDocuments/classes/Administration.php
  components/ILIAS/LegalDocuments/classes/Condition/Definitions/RoleDefinition.php
  components/ILIAS/LegalDocuments/classes/ConditionDefinition.php
  components/ILIAS/LegalDocuments/classes/Conductor.php
  components/ILIAS/LegalDocuments/classes/Consumer.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/Agreement.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/SelfRegistration.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/ShowOnLoginPage.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/WithdrawProcess.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Routing.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Slot.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/User.php
  components/ILIAS/LegalDocuments/classes/DefaultMappings.php
  components/ILIAS/LegalDocuments/classes/FileUpload/UploadHandler.php
  components/ILIAS/LegalDocuments/classes/HTMLPurifier.php
  components/ILIAS/LegalDocuments/classes/Legacy/Confirmation.php
  components/ILIAS/LegalDocuments/classes/Legacy/Table.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvideDocument.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvideHistory.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvidePublicPage.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvideWithdrawal.php
  components/ILIAS/LegalDocuments/classes/Repository/DatabaseDocumentRepository.php
  components/ILIAS/LegalDocuments/classes/Repository/DatabaseHistoryRepository.php
  components/ILIAS/LegalDocuments/classes/Repository/DeriveFieldTypes.php
  components/ILIAS/LegalDocuments/classes/Repository/DocumentRepositoryMeta.php
  components/ILIAS/LegalDocuments/classes/Repository/HistoryRepository.php
  components/ILIAS/LegalDocuments/classes/Repository/ReadOnlyDocumentRepository.php
  components/ILIAS/LegalDocuments/classes/SelectionMap.php
  components/ILIAS/LegalDocuments/classes/Setup/UpdateSteps.php
  components/ILIAS/LegalDocuments/classes/SlotConstructor.php
  components/ILIAS/LegalDocuments/classes/SmoothTableConfig.php
  components/ILIAS/LegalDocuments/classes/SmoothTableFilter.php
  components/ILIAS/LegalDocuments/classes/StartUpStep.php
  components/ILIAS/LegalDocuments/classes/Table.php
  components/ILIAS/LegalDocuments/classes/Table/DocumentModal.php
  components/ILIAS/LegalDocuments/classes/Table/DocumentTable.php
  components/ILIAS/LegalDocuments/classes/Table/EditableDocumentTable.php
  components/ILIAS/LegalDocuments/classes/Table/HistoryTable.php
  components/ILIAS/LegalDocuments/classes/TableConfig.php
  components/ILIAS/LegalDocuments/classes/UseSlot.php
  components/ILIAS/LegalDocuments/classes/ValidHTML.php
  components/ILIAS/LegalDocuments/classes/Wiring.php
  components/ILIAS/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/AgreementTest.php
  components/ILIAS/TermsOfService/classes/Consumer.php
  components/ILIAS/TermsOfService/classes/Settings.php
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: improvement, php

#8027 Composer: Upgrade `phpspreadsheet` and remove patch
  composer.json
  composer.lock
  libs/composer/patches/phpspreadsheet.patch
Labels: bugfix, dependencies

#8030 Chatroom: Bump NPM package version of express (9)
  Modules/Chatroom/chat/package-lock.json
  Modules/Chatroom/chat/package.json
Labels: dependencies, javascript

#8031 Chatroom: Bump NPM package version of express (trunk)
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: dependencies, javascript

#8032 DataCollection: Remove YUI and nodes JS
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: improvement, php, javascript

#6300 App: Support PHP 8.3
  .github/workflows/checks.yml
  .github/workflows/install-check-trunk-8.3.yml
  README.md
  composer.json
  composer.lock
  docs/configuration/install.md
Labels: improvement, dependencies, documentation, Looking for Shepherd

#8021 User Bugfix: Abandon Hits per Page fix for User Setup
  components/ILIAS/User/classes/Setup/DBUpdateSteps10.php
Labels: bugfix, php

#8042 Saml: Fix table. Fix config paths
  components/ILIAS/Saml/classes/class.ilSamlIdpTableGUI.php
  components/ILIAS/Saml/classes/class.ilSimpleSAMLphpWrapper.php
Labels: bugfix, php

#7936 Form: Fix restore condition on upload rebuild
  Services/Form/classes/class.ilPropertyFormGUI.php
Labels: bugfix, improvement, php

#8051 fix Mantis #41905: Option --plugin in setup führt zu Fehler und Abbruch
  Services/Language/classes/Setup/class.ilLanguagesInstalledAndUpdatedObjective.php
  Services/Language/classes/Setup/class.ilSetupLanguage.php
Labels: bugfix, php

#8020 Revise Content-Tab »Folder« in User Mail System
  components/ILIAS/Mail/classes/Folder/MailFilterData.php
  components/ILIAS/Mail/classes/Folder/MailFilterUI.php
  components/ILIAS/Mail/classes/Folder/MailFolderData.php
  components/ILIAS/Mail/classes/Folder/MailFolderSearch.php
  components/ILIAS/Mail/classes/Folder/MailFolderTableUI.php
  components/ILIAS/Mail/classes/Folder/MailFolderType.php
  components/ILIAS/Mail/classes/Message/MailBoxOrderColumn.php
  components/ILIAS/Mail/classes/Message/MailBoxQuery.php
  components/ILIAS/Mail/classes/Message/MailRecordData.php
  components/ILIAS/Mail/classes/class.ilMailBoxQuery.php
  components/ILIAS/Mail/classes/class.ilMailFolderGUI.php
  components/ILIAS/Mail/classes/class.ilMailFolderTableGUI.php
  components/ILIAS/Mail/classes/class.ilMailLuceneQueryParser.php
  components/ILIAS/Mail/classes/class.ilMailbox.php
  components/ILIAS/Mail/templates/default/tpl.mail_folder_row.html
  components/ILIAS/Mail/templates/default/tpl.mail_folder_title.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8062 DataCollection: Remove plugin field if no plugins exist
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Plugin/class.ilDclPluginFieldRepresentation.php
Labels: bugfix, php

#8019 HTTP: Fix sending `Set-Cookie` HTTP header
  src/HTTP/Response/Sender/DefaultResponseSenderStrategy.php
Labels: bugfix, php

#7788 UI/Modals: display modals using dialog-tag
  components/ILIAS/UI/UI.php
  components/ILIAS/UI/resources/js/Modal/dist/modal.min.js
  components/ILIAS/UI/resources/js/Modal/modal.js
  components/ILIAS/UI/resources/js/Modal/rollup.config.js
  components/ILIAS/UI/resources/js/Modal/src/Modal.js
  components/ILIAS/UI/resources/js/Modal/src/index.js
  components/ILIAS/UI/resources/js/Table/dist/table.min.js
  components/ILIAS/UI/resources/js/Table/src/datatable.class.js
  components/ILIAS/UI/src/Implementation/Component/Modal/Renderer.php
  components/ILIAS/UI/src/examples/Modal/LightboxImagePage/show_a_single_image.php
  components/ILIAS/UI/src/examples/Modal/LightboxImagePage/show_multiple_images.php
  components/ILIAS/UI/src/templates/default/Modal/tpl.interruptive.html
  components/ILIAS/UI/src/templates/default/Modal/tpl.lightbox.html
  components/ILIAS/UI/src/templates/default/Modal/tpl.roundtrip.html
  components/ILIAS/UI/src/templates/default/Table/tpl.datatable.html
  components/ILIAS/UI/tests/Component/Dropzone/File/StandardTest.php
  components/ILIAS/UI/tests/Component/Dropzone/File/WrapperTest.php
  components/ILIAS/UI/tests/Component/Launcher/LauncherInlineTest.php
  components/ILIAS/UI/tests/Component/MainControls/FooterTest.php
  components/ILIAS/UI/tests/Component/Modal/InterruptiveTest.php
  components/ILIAS/UI/tests/Component/Modal/LightboxTest.php
  components/ILIAS/UI/tests/Component/Modal/RoundTripTest.php
  components/ILIAS/UI/tests/Component/Table/DataRendererTest.php
  templates/default/030-tools/_tool_dialog-patterns.scss
  templates/default/060-elements/_elements_dialog.scss
  templates/default/060-elements/_index.scss
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink, javascript

#8066 hun - 20240913
  lang/ilias_hu.lang
Labels: improvement

#8068 Chatroom: Bump npm package express to v4.21.0 (ILIAS 9)
  Modules/Chatroom/chat/package-lock.json
  Modules/Chatroom/chat/package.json
Labels: dependencies, javascript

#8069 Chatroom: Bump npm package express to v4.21.0 (ILIAS 10)
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: dependencies, javascript

#7120 new language variable for removing members from a mailing list
  Services/Contact/classes/class.ilMailingListsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#7457 ILIAS 10: New Privacy.md for the Forum Component
  components/ILIAS/Forum/PRIVACY.md
Labels: improvement, documentation

#7430 ILIAS 10: Add Contact privacy paper
  components/ILIAS/Contact/PRIVACY.md
Labels: improvement, documentation

#7326 CI: Fix `php-cs-fixer` config
  CI/PHP-CS-Fixer/code-format.php_cs
Labels: bugfix

#7977 Deletion of the legacy overlay in TestRandomQuestionSetPoolDefinitionFormGUI
  components/ILIAS/Test/classes/Forms/class.ilTestRandomQuestionSetPoolDefinitionFormGUI.php
Labels: improvement, php

#7741 10/docu/add security process
  docs/development/security.md
Labels: documentation

#7987 Implement ability to use styles for login & logout page editor
  components/ILIAS/Authentication/classes/class.ilAuthLoginPageEditorGUI.php
  components/ILIAS/Authentication/classes/class.ilAuthLogoutPageEditorGUI.php
  components/ILIAS/Authentication/classes/class.ilObjAuthSettings.php
  components/ILIAS/Authentication/classes/class.ilObjAuthSettingsGUI.php
  components/ILIAS/Authentication/classes/class.ilSessionStatisticsGUI.php
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: improvement, php

#8017 Registration: Interpret code as invalid if absolute expiration date i…
  Services/Registration/classes/class.ilRegistrationCode.php
Labels: bugfix, php

#8005 [FIX] UI: remove for attribute of Field\Section component.
  components/ILIAS/Test/tests/Scoring/Settings/ScoreSettingsTest.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/tests/Component/Input/Field/SectionInputTest.php
Labels: kitchen sink, improvement

#8045 Container: switch to LOM API
  components/ILIAS/Container/Content/Filter/Service/class.RepoService.php
  components/ILIAS/Container/Content/Filter/class.FilterManager.php
  components/ILIAS/Container/Content/Filter/class.MetadataDBRepo.php
  components/ILIAS/Container/Content/Service/class.DomainService.php
  components/ILIAS/Container/Filter/classes/class.ilContainerFilterService.php
  components/ILIAS/Container/Filter/classes/class.ilContainerFilterUtil.php
  components/ILIAS/Container/Metadata/class.MetadataManager.php
  components/ILIAS/Container/Service/class.InternalDomainService.php
  components/ILIAS/Container/classes/class.ilContainerGUI.php
Labels: improvement, php

#8059 MediaPool: introduce LOM, switch to LOM API
  components/ILIAS/ILIASObject/classes/class.ilObjectMetaDataGUI.php
  components/ILIAS/MediaPool/LuceneObjectDefinition.xml
  components/ILIAS/MediaPool/MediaPool/MediaPoolManager.php
  components/ILIAS/MediaPool/Metadata/class.MetadataManager.php
  components/ILIAS/MediaPool/Service/class.InternalDomainService.php
  components/ILIAS/MediaPool/classes/class.MediaPoolRepository.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolDataSet.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolExporter.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolPage.php
  components/ILIAS/MediaPool/classes/class.ilObjMediaPool.php
  components/ILIAS/MediaPool/classes/class.ilObjMediaPoolGUI.php
Labels: improvement, php

#8047 InfoPage: switch to LOM API
  components/ILIAS/InfoScreen/classes/class.ilInfoScreenGUI.php
Labels: improvement, php

#7759 Calendar Bugfix: Calendar Global Usage despite having local Services
  components/ILIAS/Calendar/classes/class.ilCalendarUtil.php
  components/ILIAS/Calendar/classes/class.ilDatePresentation.php
Labels: bugfix, php

#8076 Search: Fix PHP type when calling `ilSearchAutoComplete::checkObjectP…
  Services/Search/classes/class.ilSearchAutoComplete.php
Labels: bugfix, php

#8057 Blog: introduce LOM, switch to LOM API
  components/ILIAS/Blog/Export/class.ilBlogDataSet.php
  components/ILIAS/Blog/Export/class.ilBlogExporter.php
  components/ILIAS/Blog/LuceneObjectDefinition.xml
  components/ILIAS/Blog/PRIVACY.md
  components/ILIAS/Blog/Posting/class.ilBlogPosting.php
  components/ILIAS/Blog/Posting/class.ilBlogPostingGUI.php
  components/ILIAS/Blog/classes/class.ilObjBlog.php
  components/ILIAS/Blog/classes/class.ilObjBlogGUI.php
  components/ILIAS/ILIASObject/classes/class.ilObjectMetaDataGUI.php
Labels: improvement, php, documentation

#8013 MediaObject: Make `WAC` checking instance more robust against indeter…
  Services/MediaObjects/classes/class.ilObjMediaObjectAccess.php
Labels: bugfix, php

#8050 LearningModule: switch to LOM API
  components/ILIAS/LearningModule/Presentation/class.ilLMPresentationGUI.php
  components/ILIAS/LearningModule/classes/class.ilLMObject.php
  components/ILIAS/LearningModule/classes/class.ilLMPageObject.php
  components/ILIAS/LearningModule/classes/class.ilObjContentObject.php
  components/ILIAS/LearningModule/classes/class.ilStructureObject.php
Labels: improvement, php

#8054 MediaCast: introduce LOM
  components/ILIAS/ILIASObject/classes/class.ilObjectMetaDataGUI.php
  components/ILIAS/MediaCast/LuceneObjectDefinition.xml
  components/ILIAS/MediaCast/PRIVACY.md
  components/ILIAS/MediaCast/classes/class.ilMediaCastDataSet.php
  components/ILIAS/MediaCast/classes/class.ilMediaCastExporter.php
  components/ILIAS/MediaCast/classes/class.ilObjMediaCast.php
  components/ILIAS/MediaCast/classes/class.ilObjMediaCastGUI.php
Labels: improvement, php, documentation

#8074 Test export plugins cause error during ILIAS setup (42070)
  Modules/Test/classes/class.ilTestExportPlugin.php
Labels: bugfix, php

#8088 Saml: Fix wrong baseurlpath in Saml README.md
  Services/Saml/README.md
  Services/Saml/lib/config.php.dist
Labels: bugfix, php, documentation

#8079 Fixes uri input throwing error when left empty but not required
  Services/Form/classes/class.ilUriInputGUI.php
Labels: bugfix, php, Looking for Shepherd

#8089 Saml: Fix wrong baseurlpath in Saml README.md
  components/ILIAS/Saml/README.md
Labels: bugfix

#8018 Plugins: for 10, move plugins to public/Customizing/
  components/ILIAS/Component/classes/Setup/class.ilComponentBuildPluginInfoObjective.php
  components/ILIAS/Component/classes/class.ilComponentRepository.php
  components/ILIAS/Component/tests/Setup/ilComponentBuildPluginInfoObjectiveTest.php
  composer.json
  docs/development/components-and-directories-process.md
Labels: documentation

#8092 LearningModule / T&A Feature: Disable ImageMap Question Answers after Solution provided
  Modules/Scorm2004/scripts/questions/question_handling.js
Labels: bugfix

#7760 Course Bugfix #0041637: Course Certificates aren't issued in the language of the receiving user in any case (month names)
  components/ILIAS/Course/classes/Certificate/CoursePlaceholderValues.php
Labels: bugfix, php

#7761 Exercise Bugfix #0041637: Course Certificates aren't issued in the language of the receiving user in any case (month names)
  components/ILIAS/Exercise/Certificate/ExercisePlaceholderValues.php
Labels: bugfix, php

#7978 MyStaff: Check feature activation before expensive database operations
  Services/MyStaff/classes/Provider/StaffMainBarProvider.php
  Services/MyStaff/classes/class.ilMyStaffAccess.php
Labels: bugfix, php

#8087 Fix some typos
  docs/configuration/settings/ini-file.md
  docs/development/code-examples/repository-pattern/00_base_classes/ilGeoLocationRepository.php
  docs/development/devguide/tutorial/04-coding/TodoExample/src/TodoItem.php
Labels: improvement, documentation

#8075 T&A: 41963, 41964, 41966 copy 'Content for Recapitulation' along with…
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix

#7973 UI: Fix Typo in StandardPanel Rules
  components/ILIAS/UI/src/Component/Panel/Factory.php
  components/ILIAS/UI/src/examples/Panel/Standard/with_view_controls.php
Labels: kitchen sink, improvement

#8094 Exercise Bugfix getDefaultPlaceholder Tests
  components/ILIAS/Exercise/tests/Certificate/ilExercisePlaceHolderValuesTest.php
Labels: bugfix, php

#8097 Exercise: Fix uninitialised GUI services
  Modules/Exercise/Service/classes/class.InternalGUIService.php
Labels: bugfix, php

#8098 DataCollection: Fix cloned field porperties from older ILIAS
  Modules/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps80.php
Labels: bugfix, php

#8102 User/WelcomeMail: Fix `pre_replace` in welcome mail migration
  Services/User/classes/Setup/Migration/class.ilUpdateNewAccountMailTemplatesForMustache.php
Labels: bugfix, php

#8107 Forum: Add default for max. notification age and fix query
  Modules/Forum/classes/class.ilForumCronNotification.php
Labels: bugfix, php

#8105 Update DataCollection Language Entries for the German Language File (Step 1)
  lang/ilias_de.lang
Labels: improvement

#8040 UI/UnitTests: Remove deprecated usage of `ASSERT_WARNING`
  components/ILIAS/UI/tests/Base.php
Labels: bugfix, kitchen sink, php

#7426 T&A: add metric to collect inconsistencies for #37759
  Modules/Test/classes/Setup/class.ilTestDatabaseInconsistencyMetricsCollectedObjective.php
  Modules/Test/classes/Setup/class.ilTestSetupAgent.php
Labels: bugfix, improvement

#8109 Certificate Bugfix: ilDatePresentation::setUser does not exist
  components/ILIAS/Certificate/classes/Helper/ilCertificateDateHelper.php
Labels: bugfix, php

#8039 Data/LanguageTag/UnitTests: Fix test provider
  components/ILIAS/Data/tests/LanguageTagTest.php
Labels: bugfix, php

#8086 Fix assFileUpload to prevent error message if files are deleted
  Modules/TestQuestionPool/classes/class.assFileUpload.php
Labels: bugfix, php

#7918 [FIX] increase max object import-id length to 255 characters.
  Services/Object/classes/Setup/class.ilObjectDBUpdateSteps.php
Labels: improvement, php

#8046 BibliographicListItem: Fix upload handling
  Modules/Bibliographic/classes/class.ilObjBibliographic.php
Labels: bugfix, php

#8044 FileServices: correct service locator check
  Services/FileServices/classes/class.ilFileServicesSettings.php
Labels: improvement, php

#8065 Authentication: Use `SameSite` cookie attribute
  Services/Http/classes/class.ilHTTPS.php
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
  Services/Utilities/classes/class.ilUtil.php
  composer.json
  composer.lock
  src/HTTP/Cookies/Cookie.php
  src/HTTP/Cookies/CookieWrapper.php
Labels: improvement

#7971 Replacement of the legacy modal in assLongMenuGUI
  components/ILIAS/TestQuestionPool/classes/class.assLongMenuGUI.php
  components/ILIAS/TestQuestionPool/resources/longMenuQuestion.js
  components/ILIAS/TestQuestionPool/templates/default/tpl.il_as_qpl_longmenu_question_gap.html
Labels: improvement, php

#8113 Auth/LDAP/SAML: Handle orphaned UD field ids when applying attribute …
  Services/LDAP/classes/class.ilLDAPAttributeToUser.php
  Services/Saml/classes/class.ilAuthProviderSaml.php
Labels: bugfix, php

#7975 SOAP: Fix wrong authentication frontend
  webservice/soap/classes/class.ilSoapUserAdministration.php
Labels: bugfix, php

#8106 UI/DataTable: initialize with Order and Range
  components/ILIAS/ResourceStorage/classes/Collections/View/RequestToDataTable.php
  components/ILIAS/ResourceStorage/classes/Container/View/RequestToDataTable.php
  components/ILIAS/UI/src/Component/Table/Data.php
  components/ILIAS/UI/src/Implementation/Component/Table/Data.php
  components/ILIAS/UI/src/Implementation/Component/Table/TableViewControlOrdering.php
  components/ILIAS/UI/src/Implementation/Component/Table/TableViewControlPagination.php
  components/ILIAS/UI/src/examples/Table/Data/base.php
  components/ILIAS/UI/tests/Component/Table/DataTest.php
  components/ILIAS/UI/tests/Component/Table/DataViewControlsTest.php
Labels: bugfix, kitchen sink, php
