Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-10, with the labels that each got.

#8131 Change Subject and Body 'orphaned' Mails
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#8126 LegalDocuments: Load ui factory and template later
  Services/DataProtection/classes/class.ilObjDataProtectionGUI.php
  Services/LegalDocuments/classes/ConsumerToolbox/Blocks.php
  Services/LegalDocuments/classes/ConsumerToolbox/UI.php
  Services/LegalDocuments/classes/DefaultMappings.php
  Services/LegalDocuments/classes/Provide/ProvideDocument.php
  Services/LegalDocuments/classes/Provide/ProvideHistory.php
  Services/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
  Services/LegalDocuments/test/ConsumerToolbox/BlocksTest.php
  Services/LegalDocuments/test/ConsumerToolbox/UITest.php
  Services/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8133 LegalDocuments: Load ui factory and template later (trunk)
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Blocks.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/UI.php
  components/ILIAS/LegalDocuments/classes/DefaultMappings.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvideDocument.php
  components/ILIAS/LegalDocuments/classes/Provide/ProvideHistory.php
  components/ILIAS/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/BlocksTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/UITest.php
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8135 LegalDocuments: Fix wrong Soap check (trunk)
  components/ILIAS/DataProtection/classes/Consumer.php
  components/ILIAS/LegalDocuments/classes/Conductor.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/PublicApi.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/PublicApiTest.php
  components/ILIAS/TermsOfService/classes/Consumer.php
Labels: bugfix, php

#8134 LegalDocuments: Fix wrong Soap check
  Services/DataProtection/classes/Consumer.php
  Services/LegalDocuments/classes/Conductor.php
  Services/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/PublicApi.php
  Services/LegalDocuments/test/ConsumerToolbox/ConsumerSlots/PublicApiTest.php
  Services/TermsOfService/classes/Consumer.php
Labels: bugfix, php

#8141 [FIX] 0042151: User is shown whoops instead of Dashboard after witching to tile view
  Services/Object/classes/Properties/CoreProperties/TileImage/class.ilObjectTileImageFlavourMachine.php
  src/ResourceStorage/Flavour/Machine/DefaultMachines/CropRectangle.php
Labels: bugfix

#8140 Update Dependencies after Release v8.15
  composer.lock
Labels: technical board, dependencies

#8125 DataCollection: Refactor plugin fields
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclDatatype.php
  Modules/DataCollection/classes/Fields/Plugin/class.ilDclFieldTypePlugin.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldEditGUI.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldFactory.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldListTableGUI.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionAgent.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps80.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionObjective.php
  Modules/DataCollection/classes/Table/class.ilDclTable.php
  Modules/DataCollection/classes/TableView/class.ilDclTableView.php
  Modules/DataCollection/classes/class.ilDataCollectionDataSet.php
Labels: bugfix, improvement, php

#7974 10/UI/allow view controls in reporting panels
  components/ILIAS/UI/src/Component/Panel/Factory.php
  components/ILIAS/UI/src/Component/Panel/Report.php
  components/ILIAS/UI/src/Implementation/Component/Panel/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Panel/Report.php
  components/ILIAS/UI/src/examples/Panel/Report/with_view_controls.php
  components/ILIAS/UI/src/templates/default/Panel/tpl.report.html
  components/ILIAS/UI/tests/Component/Panel/PanelTest.php
Labels: kitchen sink, improvement

#8148 UI: Fix Missing min in modal.js
  components/ILIAS/UI/src/Implementation/Component/Table/Renderer.php
Labels: kitchen sink, improvement

#8151 Badge: Update the last time the badge list has been seen correctly
  Services/Badge/classes/class.ilBadgeProfileGUI.php
Labels: bugfix, php

#8152 Badge: Update the last time the badge list has been seen correctly (trunk)
  components/ILIAS/Badge/classes/class.ilBadgeProfileGUI.php
Labels: bugfix, php

#8155 Forum: Fix misleading forum notification label
  Modules/Forum/classes/class.ilObjForumAdministrationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8156 Forum: Fix misleading forum notification label (trunk)
  components/ILIAS/Forum/classes/class.ilObjForumAdministrationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8157 DataCollection: Add content style
  components/ILIAS/DataCollection/classes/DetailedView/class.ilDclDetailedViewDefinitionGUI.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: improvement, php

#8144 [FIX] 0042161: Uploads via “Evaluation for many Participants” lead to…
  Modules/Exercise/IRSS/CollectionWrapper.php
Labels: bugfix

#8159 Dashboard: fix force-casted array keys
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: bugfix, php

#8078 Fix typo and clarify db-install in README.md
  Services/ActiveRecord/README.md
Labels: documentation

#7902 DataCollection: Refactor cast properties on image upload field for TRUNK
  components/ILIAS/DataCollection/classes/Fields/Mob/class.ilDclMobRecordFieldModel.php
Labels: bugfix

#8119 Docs: update member to security.md
  docs/development/security.md
Labels: documentation

#8165 LH: new data table
  components/ILIAS/Language/classes/Setup/class.ilLanguageSetupAgent.php
  components/ILIAS/Language/classes/class.ilDefaultLanguageDetector.php
  components/ILIAS/Language/classes/class.ilHttpRequestsLanguageDetector.php
  components/ILIAS/Language/classes/class.ilLanguageDetection.php
  components/ILIAS/Language/classes/class.ilLanguageDetectorFactory.php
  components/ILIAS/Language/classes/class.ilLanguageExtTableGUI.php
  components/ILIAS/Language/classes/class.ilLanguageFile.php
  components/ILIAS/Language/classes/class.ilLanguageFolderTable.php
  components/ILIAS/Language/classes/class.ilLanguageStatisticsTable.php
  components/ILIAS/Language/classes/class.ilLanguageTableGUI.php
  components/ILIAS/Language/classes/class.ilObjLanguage.php
  components/ILIAS/Language/classes/class.ilObjLanguageExtGUI.php
  components/ILIAS/Language/classes/class.ilObjLanguageFolderGUI.php
  components/ILIAS/Language/interfaces/interface.ilLanguageDetector.php
  components/ILIAS/Language/maintenance.json
  components/ILIAS/Language/tests/ilLanguageSetupAgentTest.php
  components/ILIAS/components/ILIAS/UICore/artifacts/ctrl_structure.php
  docs/development/language.md
  scripts/components/ILIAS/Component/artifacts/component_data.php
  scripts/components/ILIAS/UICore/artifacts/ctrl_structure.php
Labels: kitchen sink, improvement, php

#8170 UIComponent: replace legacy modal in repository picker (41921)
  components/ILIAS/Form/classes/class.ilRepositorySelector2InputGUI.php
  components/ILIAS/JavaScript/resources/Basic.js
  components/ILIAS/UIComponent/Explorer2/classes/class.ilExplorerSelectInputGUI.php
  components/ILIAS/UIComponent/resources/Explorer2.js
Labels: bugfix, php, Looking for Shepherd

#8168 [Bugfix - 42248]Add lang var for creation of ecs categories
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#8171 [FIX - 42249] fixed display issue in detailed results view of cloze questions
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
Labels: bugfix

#8154 Setup: rename plugin options to legacy
  components/ILIAS/Setup/src/CLI/HasAgent.php
  components/ILIAS/Setup/src/CLI/InstallCommand.php
  components/ILIAS/Setup/src/ImplementationOfAgentFinder.php
  components/ILIAS/Setup/tests/CLI/HasAgentTest.php
  components/ILIAS/Setup/tests/CLI/InstallCommandTest.php
  components/ILIAS/setup_/README.md
Labels: improvement, php

#8162 Update expert-groups.md
  docs/development/expert-groups.md
Labels: documentation

#8166 [FIX] Auth: pass arguments as correct data-type.
  Services/Authentication/classes/Provider/class.ilAuthProviderFactory.php
  Services/Authentication/classes/class.ilAuthModeDetermination.php
Labels: improvement, php

#8176 DataCollection: Unify fileuploads and remove deprecation
  Modules/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileFieldModel.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileFieldRepresentation.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadFieldModel.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Fileupload/class.ilDclFileuploadRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobFieldModel.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobRecordRepresentation.php
Labels: bugfix, improvement, php

#8185 RBAC: Fix ambiguous column 'ops_id' in field list in `\ilRbacReview::…
  Services/AccessControl/classes/class.ilRbacReview.php
Labels: bugfix, php

#7937 SCORM: remove code related to import/export of LOM
  components/ILIAS/Scorm2004/classes/class.ilSCORM13MDImporter.php
  components/ILIAS/Scorm2004/classes/ilSCORM13Package.php
  components/ILIAS/ScormAicc/classes/class.ilScormAiccDataSet.php
Labels: improvement, php

#7882 LTI: switch to LOM API
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
Labels: improvement, php

#7927 CmiXapi: switch to LOM API, LOM in export as tail dependency
  components/ILIAS/CmiXapi/classes/class.ilCmiXapiDataSet.php
  components/ILIAS/CmiXapi/classes/class.ilCmiXapiExporter.php
  components/ILIAS/CmiXapi/classes/class.ilObjCmiXapiGUI.php
Labels: improvement, php

#8169 Add NPM dependency linkify-element
  package-lock.json
  package.json
Labels: dependencies, javascript

#8175 Changes function signature ilDataset::setExportDirectories(string, string) to ilDataset::initByExporter(ilXMLExporter)
  components/ILIAS/Bibliographic/classes/class.ilBibliographicExporter.php
  components/ILIAS/Blog/Export/class.ilBlogExporter.php
  components/ILIAS/COPage/classes/class.ilCOPageExporter.php
  components/ILIAS/Calendar/classes/class.ilCalendarExporter.php
  components/ILIAS/CmiXapi/classes/class.ilCmiXapiExporter.php
  components/ILIAS/ContentPage/classes/class.ilContentPageExporter.php
  components/ILIAS/DataCollection/classes/class.ilDataCollectionExporter.php
  components/ILIAS/DataSet/classes/class.ilDataSet.php
  components/ILIAS/Exercise/classes/class.ilExerciseExporter.php
  components/ILIAS/Glossary/Export/class.ilGlossaryExporter.php
  components/ILIAS/HTMLLearningModule/classes/class.ilHTMLLearningModuleExporter.php
  components/ILIAS/Help/Export/class.ilHelpExporter.php
  components/ILIAS/ILIASObject/classes/class.ilObjectExporter.php
  components/ILIAS/IndividualAssessment/classes/class.ilIndividualAssessmentExporter.php
  components/ILIAS/ItemGroup/classes/class.ilItemGroupExporter.php
  components/ILIAS/LearningModule/classes/class.ilLearningModuleExporter.php
  components/ILIAS/MediaCast/classes/class.ilMediaCastExporter.php
  components/ILIAS/MediaObjects/classes/class.ilMediaObjectsExporter.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolExporter.php
  components/ILIAS/News/classes/class.ilNewsExporter.php
  components/ILIAS/Notes/Export/class.ilNotesExporter.php
  components/ILIAS/Poll/classes/class.ilPollExporter.php
  components/ILIAS/Portfolio/Export/class.ilPortfolioExporter.php
  components/ILIAS/Rating/classes/class.ilRatingExporter.php
  components/ILIAS/ScormAicc/classes/class.ilScormAiccExporter.php
  components/ILIAS/Session/classes/class.ilSessionExporter.php
  components/ILIAS/Skill/Export/class.ilSkillExporter.php
  components/ILIAS/Style/classes/class.ilStyleExporter.php
  components/ILIAS/Survey/Export/class.ilSurveyExporter.php
  components/ILIAS/Taxonomy/classes/class.ilTaxonomyExporter.php
  components/ILIAS/User/classes/class.ilUserExporter.php
  components/ILIAS/Wiki/classes/class.ilWikiExporter.php
Labels: improvement, php

#8183 Search: do not show relevance in search results (41910)
  components/ILIAS/Forum/classes/class.ilObjForumSearchResultTableGUI.php
  components/ILIAS/Search/classes/class.ilRepositoryObjectSearchGUI.php
  components/ILIAS/Search/classes/class.ilRepositoryObjectSearchResultTableGUI.php
  components/ILIAS/Search/classes/class.ilRepositoryUserResultTableGUI.php
  components/ILIAS/Search/classes/class.ilSearchResultPresentation.php
  components/ILIAS/Search/classes/class.ilSearchResultTableGUI.php
  components/ILIAS/Search/classes/trait.ilSearchResultTableHelper.php
  components/ILIAS/Search/templates/default/tpl.global_search_usr_result_row.html
  components/ILIAS/Search/templates/default/tpl.lucene_relevance.html
  components/ILIAS/Search/templates/default/tpl.lucene_sub_relevance.html
  components/ILIAS/Search/templates/default/tpl.repository_object_search_result_row.html
  components/ILIAS/Search/templates/default/tpl.search_result_row.html
  components/ILIAS/Wiki/classes/class.ilObjWikiSearchResultTableGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#7981 UI: Expose Toggle Signals on Presentation Table
  components/ILIAS/UI/src/Implementation/Component/Table/Presentation.php
Labels: kitchen sink, improvement

#8193 Forum: Don't support notifications for anonymous
  Modules/Forum/classes/class.ilForumAppEventListener.php
  Modules/Forum/classes/class.ilForumCronNotification.php
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#8190 Certificate: Abandon Latex
  components/ILIAS/Certificate/classes/File/Certificate/class.ilPdfGenerator.php
  components/ILIAS/Certificate/classes/File/Template/XLS/class.ilCertificateXlsFileLoader.php
  components/ILIAS/Certificate/classes/Form/class.ilFormFieldParser.php
  components/ILIAS/Certificate/classes/Helper/ilCertificateMathJaxHelper.php
  components/ILIAS/Certificate/classes/Template/Action/Preview/ilCertificateTemplatePreviewAction.php
  components/ILIAS/Certificate/tests/ilCertificateTemplatePreviewActionTest.php
  components/ILIAS/Certificate/tests/ilPdfGeneratorTest.php
Labels: improvement, php

#8122 T&A 42182 Fix scoring datetime handling by using the default server timezone
  Modules/Test/classes/class.ilObjTest.php
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilObjTestSettingsScoringResultsGUI.php
  Modules/Test/classes/class.ilTestPassesSelector.php
  Modules/Test/classes/class.ilTestResultsGUI.php
Labels: bugfix, php

#8112 Certificate: Add Chris Potter to "Authority to Curate Test Cases"
  docs/development/maintenance.md
Labels: improvement, documentation, authorities

#8163 Update Dependencies after Release v9.5
  composer.lock
Labels: technical board, dependencies

#7717 UI/Button: allow Glyphs as label #6922
  components/ILIAS/Init/classes/Dependencies/InitUIFramework.php
  components/ILIAS/UI/src/Component/Button/Bulky.php
  components/ILIAS/UI/src/Component/Button/Button.php
  components/ILIAS/UI/src/Component/Button/Factory.php
  components/ILIAS/UI/src/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Button/Bulky.php
  components/ILIAS/UI/src/Implementation/Component/Button/Button.php
  components/ILIAS/UI/src/Implementation/Component/Button/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Button/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Button/Tag.php
  components/ILIAS/UI/src/Implementation/Component/Button/Toggle.php
  components/ILIAS/UI/src/Implementation/Component/Link/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/ButtonContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/GlyphRendererFactory.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Icon/ButtonContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Icon/Icon.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Icon/IconRendererFactory.php
  components/ILIAS/UI/src/Implementation/Render/FSLoader.php
  components/ILIAS/UI/src/examples/Button/Bulky/base.php
  components/ILIAS/UI/src/examples/Button/Primary/with_glyph.php
  components/ILIAS/UI/src/examples/Button/Shy/with_glyph.php
  components/ILIAS/UI/src/examples/Button/Standard/with_glyph.php
  components/ILIAS/UI/src/examples/Button/Standard/with_load_anim.php
  components/ILIAS/UI/src/examples/Link/Bulky/base.php
  components/ILIAS/UI/src/templates/default/Button/tpl.bulky.html
  components/ILIAS/UI/src/templates/default/Button/tpl.primary.html
  components/ILIAS/UI/src/templates/default/Button/tpl.shy.html
  components/ILIAS/UI/src/templates/default/Button/tpl.standard.html
  components/ILIAS/UI/src/templates/default/Button/tpl.tag.html
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/Button/BulkyButtonTest.php
  components/ILIAS/UI/tests/Component/Button/ButtonTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/StandardFilterTest.php
  components/ILIAS/UI/tests/Component/MainControls/Slate/DrilldownSlateTest.php
  components/ILIAS/UI/tests/Component/Menu/Drilldown/drilldown_test.html
  templates/default/070-components/UI-framework/Button/_ui-component_button.scss
  templates/default/delos.css
Labels: improvement

#8184 SOAP: Fix extracting NULL when parsing XML
  webservice/soap/classes/class.ilObjectXMLParser.php
Labels: bugfix, php

#8197 UI/OrderingTable: 42306, move modal (with form) out of table-surrounding form
  components/ILIAS/UI/src/templates/default/Table/tpl.orderingtable.html
Labels: bugfix, kitchen sink

#8208 Export: readme, fixes url to example
  components/ILIAS/Export/README-CustomExportOptions.md
Labels: improvement, documentation

#8167 Refactoring login/logout screen PageEditor usage
  components/ILIAS/Authentication/classes/LogoutPage/LogoutPageLanguagesOverviewTable.php
  components/ILIAS/Authentication/classes/Pages/AuthPageEditorContext.php
  components/ILIAS/Authentication/classes/Pages/AuthPageLanguagesOverviewTable.php
  components/ILIAS/Authentication/classes/class.ilAuthLoginPageEditorGUI.php
  components/ILIAS/Authentication/classes/class.ilAuthLogoutPageEditorSettings.php
  components/ILIAS/Authentication/classes/class.ilAuthPageEditorGUI.php
  components/ILIAS/Authentication/classes/class.ilAuthPageEditorSettings.php
  components/ILIAS/Authentication/classes/class.ilLoginPage.php
  components/ILIAS/Authentication/classes/class.ilLoginPageConfig.php
  components/ILIAS/Authentication/classes/class.ilLoginPageGUI.php
  components/ILIAS/Authentication/classes/class.ilLogoutPage.php
  components/ILIAS/Authentication/classes/class.ilLogoutPageGUI.php
  components/ILIAS/Authentication/classes/class.ilObjAuthSettingsGUI.php
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: improvement, php

#8198 10/UI/modal min-width 42293
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/delos.css
Labels: bugfix

#8196 AdvancedMetadata: Fix problem with missing `decimals`
  Services/AdvancedMetaData/classes/Types/class.ilAdvancedMDFieldDefinitionFloat.php
Labels: bugfix, php

#8212 Init/PasswordAssistance: Fix `auth_mode` equals `12_[id]` (Saml)
  Services/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: bugfix, php

#8191 Auth/CoPage: Remove `[list-language-selection]` placeholder support f…
  Services/COPage/PC/Login/class.ilPCLoginPageElement.php
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#8214 fix Mantis #42278: Sortierung der Sprachen
  components/ILIAS/Language/classes/class.ilLanguageFolderTable.php
Labels: bugfix, php

#8215 fix Mantis #42278: Sortierung der Sprachen
  Services/Language/classes/class.ilLanguageTableGUI.php
Labels: bugfix, php

#8217 fix Mantis #42278: Sortierung der Sprachen
  Services/Language/classes/class.ilLanguageTableGUI.php
Labels: bugfix, php

#8077 T&A Abandon ILIAS-specific TinyMCE Plugins latex, pastelatex, ilimgupload
  components/ILIAS/TestQuestionPool/classes/class.assClozeTestGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assLongMenuGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionHintGUI.php
  components/ILIAS/TestQuestionPool/classes/feedback/class.ilAssQuestionFeedback.php
Labels: improvement, php

#8224 A space was missing in lang var for Notifications
  lang/ilias_en.lang
Labels: improvement

#8199 LTI: Fix Tests
  Modules/LTIConsumer/src/OAuth.php
Labels: bugfix

#8137 Removing of the gap modal from cloze question
  components/ILIAS/TestQuestionPool/classes/class.assClozeTestGUI.php
  components/ILIAS/TestQuestionPool/resources/clozeQuestionGapBuilder.js
  components/ILIAS/TestQuestionPool/templates/default/tpl.il_as_cloze_gap_builder.html
Labels: improvement, php, javascript

#8216 LTI: Adding the php-jwt dependency to the composer.json file and update the composer.lock file
  composer.json
  composer.lock
Labels: improvement, dependencies

#8189 Legacy UI: Remove `Panel` from code base
  components/ILIAS/UIComponent/Panel/classes/class.ilPanelGUI.php
  components/ILIAS/UIComponent/Panel/templates/default/tpl.panel.html
Labels: improvement, Looking for Shepherd

#8232 LTI: Adding LTI-PHP dependency to composer.json and update composer.lock
  composer.json
  composer.lock
Labels: improvement, dependencies

#8101 Export: Remove One More Check For Type Match
  components/ILIAS/Export/classes/ImportDirectory/class.ilExportImportDirectory.php
Labels: bugfix

#8239 DataCollection: fix datatype on field creation
  Modules/DataCollection/classes/Fields/class.ilDclFieldEditGUI.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldFactory.php
Labels: bugfix, php

#8241 Abandon System Style implementation
  components/ILIAS/Style/System/ROADMAP.md
  components/ILIAS/Style/System/classes/Config/class.ilSystemStyleConfigGUI.php
  components/ILIAS/Style/System/classes/Exceptions/class.ilSystemStyleColorException.php
  components/ILIAS/Style/System/classes/Exceptions/class.ilSystemStyleIconException.php
  components/ILIAS/Style/System/classes/Icons/class.ilSystemStyleIcon.php
  components/ILIAS/Style/System/classes/Icons/class.ilSystemStyleIconColor.php
  components/ILIAS/Style/System/classes/Icons/class.ilSystemStyleIconColorSet.php
  components/ILIAS/Style/System/classes/Icons/class.ilSystemStyleIconFolder.php
  components/ILIAS/Style/System/classes/Icons/class.ilSystemStyleIconsGUI.php
  components/ILIAS/Style/System/classes/Overview/class.ilSystemStyleDeleteGUI.php
  components/ILIAS/Style/System/classes/Overview/class.ilSystemStyleOverviewGUI.php
  components/ILIAS/Style/System/classes/Overview/class.ilSystemStylesTableGUI.php
  components/ILIAS/Style/System/classes/Scss/class.ilSystemStyleScssCategory.php
  components/ILIAS/Style/System/classes/Scss/class.ilSystemStyleScssComment.php
  components/ILIAS/Style/System/classes/Scss/class.ilSystemStyleScssGUI.php
  components/ILIAS/Style/System/classes/Scss/class.ilSystemStyleScssItem.php
  components/ILIAS/Style/System/classes/Scss/class.ilSystemStyleScssSettings.php
  components/ILIAS/Style/System/classes/Scss/class.ilSystemStyleScssSettingsFile.php
  components/ILIAS/Style/System/classes/Scss/class.ilSystemStyleScssVariable.php
  components/ILIAS/Style/System/classes/Style/class.ilSkinFactory.php
  components/ILIAS/Style/System/classes/Style/class.ilSkinStyleContainer.php
  components/ILIAS/Style/System/classes/Style/class.ilSystemStyleConfig.php
  components/ILIAS/Style/System/classes/Utilities/class.ilFileSystemHelper.php
  components/ILIAS/Style/System/classes/class.ilStyleDefinition.php
  components/ILIAS/Style/System/classes/class.ilSystemStyleMainGUI.php
  components/ILIAS/Style/System/test/Exceptions/ilSystemStyleColorExceptionTest.php
  components/ILIAS/Style/System/test/Exceptions/ilSystemStyleExceptionBaseUnit.php
  components/ILIAS/Style/System/test/Exceptions/ilSystemStyleExceptionTest.php
  components/ILIAS/Style/System/test/Exceptions/ilSystemStyleIconExceptionTest.php
  components/ILIAS/Style/System/test/Exceptions/ilSystemStyleMessageStackExceptionTest.php
  components/ILIAS/Style/System/test/Icons/ilSystemStyleIconColorSetTest.php
  components/ILIAS/Style/System/test/Icons/ilSystemStyleIconColorTest.php
  components/ILIAS/Style/System/test/Icons/ilSystemStyleIconFolderTest.php
  components/ILIAS/Style/System/test/Icons/ilSystemStyleIconTest.php
  components/ILIAS/Style/System/test/Icons/ilSystemStyleIconsGUITest.php
  components/ILIAS/Style/System/test/Overview/ilSystemStyleOverviewGUITest.php
  components/ILIAS/Style/System/test/Scss/ilSkinStyleScssCategoryTest.php
  components/ILIAS/Style/System/test/Scss/ilSkinStyleScssCommentTest.php
  components/ILIAS/Style/System/test/Scss/ilSystemStyleLessGUITest.php
  components/ILIAS/Style/System/test/Scss/ilSystemStyleSkinStyleScssCategoryTest.php
  components/ILIAS/Style/System/test/Scss/ilSystemStyleStyleScssFileTest.php
  components/ILIAS/Style/System/test/Scss/ilSystemStyleStyleScssTest.php
  components/ILIAS/Style/System/test/Scss/ilSystemStyleStyleScssVariableTest.php
  components/ILIAS/Style/System/test/Style/ilSkinFactoryTest.php
  components/ILIAS/Style/System/test/Style/ilSkinStyleContainerTest.php
  components/ILIAS/Style/System/test/fixtures/mocks/ilSystemStyleConfigMock.php
  components/ILIAS/Style/System/test/ilServicesStyleSystemSuite.php
  components/ILIAS/Style/System/test/ilSystemStyleBaseFS.php
  components/ILIAS/Utilities/classes/class.ilUtil.php
  templates/Readme.md
Labels: improvement

#8177 UI/Fields: JS binding on wrapping fieldset
  components/ILIAS/MetaData/resources/ilMetaCopyrightListener.js
  components/ILIAS/Test/tests/Scoring/Settings/ScoreSettingsTest.php
  components/ILIAS/UI/resources/js/Input/Field/dist/input.factory.min.js
  components/ILIAS/UI/resources/js/Input/Field/rollup.config.js
  components/ILIAS/UI/resources/js/Input/Field/src/Textarea/textarea.class.js
  components/ILIAS/UI/resources/js/Input/Field/src/input.factory.js
  components/ILIAS/UI/resources/js/Input/Field/tagInput.js
  components/ILIAS/UI/src/Implementation/Component/Input/Field/DateTimeFilterContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/FilterContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/src/templates/default/Input/tpl.context_form.html
  components/ILIAS/UI/src/templates/default/Input/tpl.duration.html
  components/ILIAS/UI/src/templates/default/Input/tpl.file.html
  components/ILIAS/UI/src/templates/default/Input/tpl.multiselect.html
  components/ILIAS/UI/src/templates/default/Input/tpl.optionalgroup_label.html
  components/ILIAS/UI/src/templates/default/Input/tpl.password.html
  components/ILIAS/UI/src/templates/default/Input/tpl.radio.html
  components/ILIAS/UI/src/templates/default/Input/tpl.rating.html
  components/ILIAS/UI/src/templates/default/Input/tpl.switchablegroup_label.html
  components/ILIAS/UI/src/templates/default/Input/tpl.tag_input.html
  components/ILIAS/UI/tests/Component/Input/Container/Filter/FilterInputTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/StandardFilterTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/StandardFormTest.php
  components/ILIAS/UI/tests/Component/Input/Field/CheckboxInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/ColorPickerInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/CommonFieldRendering.php
  components/ILIAS/UI/tests/Component/Input/Field/DateTimeInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/DurationInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/FileInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/HiddenInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/LinkInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/MarkdownTest.php
  components/ILIAS/UI/tests/Component/Input/Field/MultiSelectInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/NumericInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/OptionalGroupInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/PasswordInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/RadioInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/RatingInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/SectionInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/SelectInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/SwitchableGroupInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/TagInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/TextInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/TextareaTest.php
  components/ILIAS/UI/tests/Component/Input/Field/UrlInputTest.php
Labels: bugfix, php, javascript

#8200 Export: renames ilObjectExporter to ilILIASObjectExporter to adjust to changes made by the component revision
  components/ILIAS/ILIASObject/classes/class.ilILIASObjectExporter.php
Labels: bugfix, php

#8221 Forum: Extract reply-prefix building code for postings
  Modules/Forum/classes/Subject/PostingReplySubjectBuilder.php
  Modules/Forum/classes/class.ilForumAppEventListener.php
  Modules/Forum/classes/class.ilObjForumGUI.php
  Modules/Forum/test/PostingReplySubjectBuilderTest.php
  Modules/Forum/test/ilObjForumAdministrationTest.php
Labels: bugfix, php

#8246 Mantis 42375: Harden certificate id migration
  components/ILIAS/Certificate/classes/Setup/Migration/CertificateIdMigration.php
Labels: bugfix, php

#8248 LegalDocuments: Fix goto links. Add DataProtection goto link (ILIAS 10)
  components/ILIAS/DataProtection/classes/Consumer.php
  components/ILIAS/DataProtection/tests/ConsumerTest.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Blocks.php
  components/ILIAS/LegalDocuments/classes/UseSlot.php
  components/ILIAS/LegalDocuments/classes/Value/Target.php
  components/ILIAS/LegalDocuments/classes/Wiring.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/BlocksTest.php
  components/ILIAS/LegalDocuments/tests/WiringTest.php
  components/ILIAS/TermsOfService/classes/Consumer.php
  components/ILIAS/TermsOfService/tests/ConsumerTest.php
  components/ILIAS/User/classes/class.ilObjUserGUI.php
Labels: bugfix, php

#8249 LegalDocuments: Fix goto links. Add DataProtection goto link (ILIAS 9)
  Services/DataProtection/classes/Consumer.php
  Services/DataProtection/test/ConsumerTest.php
  Services/LegalDocuments/classes/ConsumerToolbox/Blocks.php
  Services/LegalDocuments/classes/UseSlot.php
  Services/LegalDocuments/classes/Value/Target.php
  Services/LegalDocuments/classes/Wiring.php
  Services/LegalDocuments/test/ConsumerToolbox/BlocksTest.php
  Services/LegalDocuments/test/WiringTest.php
  Services/TermsOfService/classes/Consumer.php
  Services/TermsOfService/test/ConsumerTest.php
  Services/User/classes/class.ilObjUserGUI.php
Labels: bugfix, php

#8053 DataCollection: introduce LOM
  components/ILIAS/DataCollection/LuceneObjectDefinition.xml
  components/ILIAS/DataCollection/classes/class.ilDataCollectionDataSet.php
  components/ILIAS/DataCollection/classes/class.ilDataCollectionExporter.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollection.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
  components/ILIAS/ILIASObject/classes/class.ilObjectMetaDataGUI.php
Labels: improvement, php, documentation

#8250 Bugfix: 42377 & 42369: UI/Fields: Fix undefined input in file inputs
  components/ILIAS/UI/resources/js/Input/Field/file.js
Labels: bugfix, kitchen sink

#8073 WebResource: Fix Creating Object
  components/ILIAS/WebResource/classes/class.ilObjLinkResourceGUI.php
Labels: bugfix

#8251 UI Components, New Glyphs for il-icons fonts see #41767
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.eot
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.json
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.svg
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.ttf
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.woff
  components/ILIAS/UI/src/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/ColumnSelection/columnSelection.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/Enlarge/enlarge.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/ListView/listView.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/Preview/preview.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/Sort/sort.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/TileView/tileView.php
  components/ILIAS/UI/src/templates/default/Symbol/tpl.glyph.html
  components/ILIAS/UI/tests/Component/Symbol/Glyph/GlyphFactoryTest.php
  components/ILIAS/UI/tests/Component/Symbol/Glyph/GlyphTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/070-components/UI-framework/Symbol/_ui-component_glyph.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#8258 LegacyForms/MultiSelect: Fix JavaScript based selection of options
  components/ILIAS/Form/templates/default/tpl.prop_multi_select.html
Labels: bugfix, javascript, Looking for Shepherd

#7045 UI/Prompt: use html dialog-tag for a modal prompt and introduce a Response Component
  components/ILIAS/Init/classes/Dependencies/InitUIFramework.php
  components/ILIAS/OrgUnit/tests/ilModulesOrgUnitTypeTest.php
  components/ILIAS/UI/UI.php
  components/ILIAS/UI/docs/ROADMAP.md
  components/ILIAS/UI/resources/js/Prompt/dist/prompt.min.js
  components/ILIAS/UI/resources/js/Prompt/rollup.config.js
  components/ILIAS/UI/resources/js/Prompt/src/prompt.class.js
  components/ILIAS/UI/resources/js/Prompt/src/prompt.factory.js
  components/ILIAS/UI/resources/js/Prompt/src/prompt.js
  components/ILIAS/UI/src/Component/Input/Container/Form/Standard.php
  components/ILIAS/UI/src/Component/MessageBox/MessageBox.php
  components/ILIAS/UI/src/Component/Modal/Factory.php
  components/ILIAS/UI/src/Component/Prompt/Factory.php
  components/ILIAS/UI/src/Component/Prompt/IsPromptContent.php
  components/ILIAS/UI/src/Component/Prompt/Prompt.php
  components/ILIAS/UI/src/Component/Prompt/State/Factory.php
  components/ILIAS/UI/src/Component/Prompt/State/State.php
  components/ILIAS/UI/src/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Divider/Horizontal.php
  components/ILIAS/UI/src/Implementation/Component/Dropzone/File/File.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Form.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/FormRendererFactory.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/FormWithoutSubmitButton.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/NoButtonsContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Standard.php
  components/ILIAS/UI/src/Implementation/Component/MessageBox/MessageBox.php
  components/ILIAS/UI/src/Implementation/Component/MessageBox/MessageBoxRendererFactory.php
  components/ILIAS/UI/src/Implementation/Component/MessageBox/PromptContextRenderer.php
  components/ILIAS/UI/src/Implementation/Component/Modal/RoundTrip.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/IsPromptContentInternal.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/Prompt.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/Standard.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/State/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/State/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Prompt/State/State.php
  components/ILIAS/UI/src/Implementation/Factory.php
  components/ILIAS/UI/src/Implementation/Render/FSLoader.php
  components/ILIAS/UI/src/examples/Prompt/Standard/base.php
  components/ILIAS/UI/src/examples/Prompt/Standard/form.php
  components/ILIAS/UI/src/examples/Prompt/Standard/parameters.php
  components/ILIAS/UI/src/examples/Prompt/State/Close/base.php
  components/ILIAS/UI/src/examples/Prompt/State/Redirect/base.php
  components/ILIAS/UI/src/examples/Prompt/State/Show/base.php
  components/ILIAS/UI/src/templates/default/Prompt/tpl.prompt.html
  components/ILIAS/UI/src/templates/default/Prompt/tpl.promptstate.html
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormFactoryTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/NoSubmitFormTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/StandardFormTest.php
  components/ILIAS/UI/tests/Renderer/ComponentRendererFSLoaderTest.php
  templates/default/070-components/UI-framework/Modal/_ui-component_modal.scss
  templates/default/delos.css
Labels: kitchen sink, improvement

#8226 Soap: Add Options to improve server to server requests
  components/ILIAS/WebServices/SOAP/classes/class.ilSoapClient.php
  components/ILIAS/WebServices/classes/Setup/class.ilWebServicesConfigStoredObjective.php
  components/ILIAS/WebServices/classes/Setup/class.ilWebServicesSetupAgent.php
  components/ILIAS/WebServices/classes/Setup/class.ilWebServicesSetupConfig.php
  components/ILIAS/setup_/README.md
  components/ILIAS/soap/classes/class.ilNusoapUserAdministrationAdapter.php
  components/ILIAS/soap/lib/nusoap.php
  components/ILIAS/soap/resources/soap/server.php
Labels: improvement, php

#8259 Dashboard: Add CO-Page
  components/ILIAS/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  components/ILIAS/Dashboard/classes/DataRetrieval/Language.php
  components/ILIAS/Dashboard/classes/class.ilDashboardGUI.php
  components/ILIAS/Dashboard/classes/class.ilDashboardPage.php
  components/ILIAS/Dashboard/classes/class.ilDashboardPageConfig.php
  components/ILIAS/Dashboard/classes/class.ilDashboardPageGUI.php
  components/ILIAS/Dashboard/classes/class.ilDashboardPageLanguageSelectGUI.php
  components/ILIAS/Dashboard/service.xml
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8242 Imprint: Fix `ilCtrl` issue that I keep constantly preaching about fi…
  components/ILIAS/Imprint/classes/class.ilObjLegalNoticeGUI.php
Labels: bugfix, php

#8233 T&A: Refactor ilTestTopList according to data table component
  components/ILIAS/Test/classes/Tables/class.ilTestTopListTableGUI.php
  components/ILIAS/Test/classes/class.ilTestResultsGUI.php
  components/ILIAS/Test/classes/class.ilTestToplistGUI.php
  components/ILIAS/Test/src/Results/Toplist/DataRetrieval.php
  components/ILIAS/Test/src/Results/Toplist/TestTopListRepository.php
  components/ILIAS/Test/src/Results/Toplist/TopListOrder.php
  components/ILIAS/Test/src/Results/Toplist/TopListType.php
  components/ILIAS/Test/tests/Scoring/Toplist/DataRetrievalTest.php
  components/ILIAS/Test/tests/Scoring/Toplist/TestTopListRepositoryTest.php
  components/ILIAS/Test/tests/ilTestToplistGUITest.php
  components/ILIAS/Test/tests/tables/ilTestTopListTableGUITest.php
Labels: improvement, php

#8253 DataCollection: Refactor table setting form for markdown
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableEditGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8254 DataCollection: Centralizing online/offline status
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: improvement, php

#8244 OIDC: Additional fields for OpenID Connect (OIDC) SSO (ILIAS 10)
  components/ILIAS/OpenIdConnect/classes/class.ilAuthFrontendCredentialsOpenIdConnect.php
  components/ILIAS/OpenIdConnect/classes/class.ilAuthProviderOpenIdConnect.php
  components/ILIAS/OpenIdConnect/classes/class.ilOpenIdAttributeMappingTemplates.php
  components/ILIAS/OpenIdConnect/classes/class.ilOpenIdConnectAppEventListener.php
  components/ILIAS/OpenIdConnect/classes/class.ilOpenIdConnectSettings.php
  components/ILIAS/OpenIdConnect/classes/class.ilOpenIdConnectSettingsGUI.php
  components/ILIAS/OpenIdConnect/classes/class.ilOpenIdConnectUserSync.php
  components/ILIAS/OpenIdConnect/exceptions/class.ilOpenIdConnectSyncForbiddenException.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8207 Test: export options
  components/ILIAS/Test/classes/class.ilTestExportGUI.php
  components/ILIAS/Test/classes/class.ilTestExportOptionARC.php
  components/ILIAS/Test/classes/class.ilTestExportOptionXML.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilTestQuestionPoolExportOptionXML.php
Labels: improvement, php

#8114 trunk Authentication:0041779 add a session max idle set objective
  components/ILIAS/App/tests/RootFolderTest.php
  components/ILIAS/Authentication/classes/Setup/class.ilAuthenticationSetupAgent.php
  components/ILIAS/Authentication/classes/Setup/class.ilAuthenticationSetupConfig.php
  components/ILIAS/Authentication/classes/Setup/class.ilSessionMaxIdleIsSetObjective.php
  components/ILIAS/Http_/classes/class.ilProxySettings.php
  components/ILIAS/WebServices/Curl/classes/class.ilCurlConnection.php
  components/ILIAS/setup_/README.md
Labels: bugfix, php

#8203 OrgUnit: export options
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportGUI.php
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportOptionXLS.php
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportOptionXML.php
Labels: improvement, php

#8003 [FEATURE] UI: introduce new `Progress\Bar` component.
  components/ILIAS/Init/classes/Dependencies/InitUIFramework.php
  components/ILIAS/UI/UI.php
  components/ILIAS/UI/resources/js/Core/src/AsyncRenderer.js
  components/ILIAS/UI/resources/js/Progress/dist/progress.min.js
  components/ILIAS/UI/resources/js/Progress/rollup.config.js
  components/ILIAS/UI/resources/js/Progress/src/GlobalProgressBarSignalDispatcher.js
  components/ILIAS/UI/resources/js/Progress/src/ProgressBar.js
  components/ILIAS/UI/resources/js/Progress/src/ProgressBarAsyncDecorator.js
  components/ILIAS/UI/resources/js/Progress/src/createAsyncProgressBar.js
  components/ILIAS/UI/resources/js/Progress/src/createProgressBar.js
  components/ILIAS/UI/resources/js/Progress/src/facade.js
  components/ILIAS/UI/src/Component/Progress/AsyncRefreshInterval.php
  components/ILIAS/UI/src/Component/Progress/Bar.php
  components/ILIAS/UI/src/Component/Progress/Factory.php
  components/ILIAS/UI/src/Component/Progress/State/Bar/Factory.php
  components/ILIAS/UI/src/Component/Progress/State/Bar/State.php
  components/ILIAS/UI/src/Component/Progress/State/Factory.php
  components/ILIAS/UI/src/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Progress/Bar.php
  components/ILIAS/UI/src/Implementation/Component/Progress/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Progress/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Progress/State/Bar/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Progress/State/Bar/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Progress/State/Bar/State.php
  components/ILIAS/UI/src/Implementation/Component/Progress/State/Bar/Status.php
  components/ILIAS/UI/src/Implementation/Component/Progress/State/Factory.php
  components/ILIAS/UI/src/Implementation/Factory.php
  components/ILIAS/UI/src/examples/Progress/Bar/client.php
  components/ILIAS/UI/src/examples/Progress/Bar/server.php
  components/ILIAS/UI/src/templates/default/Progress/tpl.progress_bar.html
  components/ILIAS/UI/src/templates/default/Progress/tpl.progress_bar_state.html
  components/ILIAS/UI/src/templates/default/Progressbar/tpl.progressbar.html
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/Progress/BarStateTest.php
  components/ILIAS/UI/tests/Component/Progress/BarTest.php
  components/ILIAS/UI/tests/Examples/ExamplesTest.php
  templates/default/070-components/UI-framework/Progress/_ui-component_progress_bar.scss
  templates/default/070-components/_index.scss
  templates/default/delos.css
Labels: kitchen sink, improvement, php

#8238 updated hun lang file
  lang/ilias_hu.lang
Labels: improvement

#7605 [PROPOSAL] Remove Cloud Data from ILIAS
  components/ILIAS/Cloud/Cloud.php
  components/ILIAS/Cloud/README.md
  components/ILIAS/Cloud/classes/Setup/ilObjCloudModuleMigration.php
  components/ILIAS/Cloud/classes/Setup/ilObjCloudModuleUpdateAgent.php
  components/ILIAS/Cloud/classes/class.ilObjCloud.php
  components/ILIAS/Cloud/classes/class.ilObjCloudAccess.php
  components/ILIAS/Cloud/classes/class.ilObjCloudGUI.php
  components/ILIAS/Cloud/classes/class.ilObjCloudListGUI.php
  components/ILIAS/Cloud/module.xml
  components/ILIAS/Cloud/src/Agent.php
  components/ILIAS/Cloud/src/RemoveCloudDBUpdate.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement

#8247 Integration of the dependency ceLTIc\LTI into LTI components
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumer.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIPlatform.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSettingGUI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTITool.php
  components/ILIAS/LTIProvider/classes/class.ilLTIAppEventListener.php
  components/ILIAS/LTIProvider/classes/class.ilLTIDataConnector.php
Labels: improvement

#8263 Docs/Authorities: Remove `nadia` from authorities
  docs/development/maintenance.md
Labels: jour fixe, documentation, authorities

#8272 enable fixed tile image
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix, improvement, php

#8268 [FIX] UI: stop fetching from async Progress\Bar endpoint on failure.
  components/ILIAS/UI/resources/js/Progress/dist/progress.min.js
  components/ILIAS/UI/resources/js/Progress/src/ProgressBarAsyncDecorator.js
Labels: kitchen sink, improvement, javascript

#8222 UI 42336: Fixes being unable to sort table records by columns that are not show…
  components/ILIAS/UI/src/Implementation/Component/Table/Data.php
Labels: bugfix, kitchen sink, php

#8274 Chatroom: Bump express & socket.io dependencies (ILIAS 9)
  Modules/Chatroom/chat/package-lock.json
  Modules/Chatroom/chat/package.json
Labels: dependencies, javascript

#8265 UI/Dropdowns: 42414, close all other Dropdowns
  components/ILIAS/UI/docs/ROADMAP.md
  components/ILIAS/UI/resources/js/Dropdown/dist/dropdown.js
  components/ILIAS/UI/resources/js/Dropdown/src/Dropdown.js
  components/ILIAS/UI/resources/js/Dropdown/src/index.js
Labels: bugfix, javascript

#8275 Chatroom: Bump express & socket.io dependencies (ILIAS 10)
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: dependencies, javascript

#8279 Chatroom: Bump express & socket.io dependencies (release 10)
  components/ILIAS/Chatroom/chat/package-lock.json
  components/ILIAS/Chatroom/chat/package.json
Labels: dependencies, javascript

#8282 Certificate Bugfix #42478: Fix Template Saving with not migrated global Background & Signed Paths
  components/ILIAS/Certificate/classes/File/Certificate/class.ilPdfGenerator.php
  components/ILIAS/Certificate/classes/Form/Repository/class.ilCertificateSettingsFormRepository.php
  components/ILIAS/Certificate/classes/Template/Action/Preview/ilCertificateTemplatePreviewAction.php
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateGUI.php
  components/ILIAS/Certificate/classes/class.ilCertificateGUI.php
  components/ILIAS/Certificate/classes/class.ilObjCertificateSettingsGUI.php
Labels: bugfix, php

#8278 UI/Button/Month: 42413, use month input
  components/ILIAS/UI/resources/js/Button/button.js
  components/ILIAS/UI/resources/js/Dropdown/dist/dropdown.js
  components/ILIAS/UI/src/Implementation/Component/Button/Renderer.php
  components/ILIAS/UI/src/examples/Button/Month/base.php
  components/ILIAS/UI/src/templates/default/Button/tpl.month.html
  components/ILIAS/UI/tests/Component/Button/ButtonMonthTest.php
Labels: bugfix

#8280 UI/Input/Tag: 42415, select from suggestions, use back-tab to navigate through tags
  components/ILIAS/UI/resources/js/Input/Field/tagInput.js
Labels: kitchen sink

#8281 Issue #42137: All pre tags gets font-family monospace.
  templates/default/delos.css
  templates/default/less/bootstrap/code.less
Labels: bugfix

#8284 LTI: Fix Version Needs To Be Enum
  components/ILIAS/LTIProvider/classes/class.ilLTIDataConnector.php
Labels: bugfix

#8277 Object: Remove Relevance from SubItem
  components/ILIAS/Exercise/classes/class.ilObjExerciseSubItemListGUI.php
  components/ILIAS/Forum/classes/class.ilObjForumSubItemListGUI.php
  components/ILIAS/Glossary/classes/class.ilObjGlossarySubItemListGUI.php
  components/ILIAS/ILIASObject/classes/class.ilSubItemListGUI.php
  components/ILIAS/ILIASObject/templates/default/tpl.subitem_list.html
  components/ILIAS/LearningModule/classes/class.ilObjLearningModuleSubItemListGUI.php
  components/ILIAS/MediaPool/classes/class.ilObjMediaPoolSubItemListGUI.php
  components/ILIAS/Search/classes/class.ilSearchSettings.php
  components/ILIAS/WebResource/classes/class.ilObjLinkResourceSubItemListGUI.php
  components/ILIAS/Wiki/classes/class.ilObjWikiSubItemListGUI.php
Labels: bugfix, improvement

#8287 LegalDocuments: Only Show Link When Accessible
  components/ILIAS/LegalDocuments/classes/Administration.php
Labels: improvement, php

#7866 Export: do not export tail dependencies if there are not entities
  Services/Export/classes/class.ilExport.php
Labels: improvement, php

#8286 UI/Modal/Lightbox: 42416, carousel navigation
  components/ILIAS/UI/resources/js/Modal/dist/modal.min.js
  components/ILIAS/UI/resources/js/Modal/src/LightBoxCarousel.js
  components/ILIAS/UI/resources/js/Modal/src/Modal.js
  components/ILIAS/UI/resources/js/Modal/src/index.js
Labels: bugfix, kitchen sink, javascript

#8117 LSO: 421621 fix control structure
  components/ILIAS/LearningSequence/classes/Content/class.ilObjLearningSequenceContentGUI.php
  components/ILIAS/LearningSequence/classes/Content/class.ilObjLearningSequenceContentTableGUI.php
  components/ILIAS/LearningSequence/classes/Members/class.ilLearningSequenceMembershipGUI.php
  components/ILIAS/LearningSequence/classes/class.ilObjLearningSequenceGUI.php
Labels: bugfix, php

#8295 Fix a typo in the German language file (missing comma before `um`)
  lang/ilias_de.lang
Labels: improvement

#8290 Fix Mantis #42472: The first access of the language administration throws an error
  components/ILIAS/Language/classes/class.ilLanguageFolderTable.php
Labels: bugfix, php

#8011 Init/PasswordAssistance: Refactor session handling
  cli/inc.pwassist_session_handler.php
  components/ILIAS/Authentication/tests/ilSessionTest.php
  components/ILIAS/Init/classes/PasswordAssistance/Entity/PasswordAssistanceSession.php
  components/ILIAS/Init/classes/PasswordAssistance/PasswordAssistanceRepository.php
  components/ILIAS/Init/classes/PasswordAssistance/Repository/PasswordAssistanceDbRepository.php
  components/ILIAS/Init/classes/PasswordAssistance/ValueObjects/PasswordAssistanceHash.php
  components/ILIAS/Init/classes/class.ilPasswordAssistanceGUI.php
Labels: improvement, php

#8301 User: Fix SQL query in `_getUserIdsByInactivationPeriod`
  components/ILIAS/User/classes/class.ilObjUser.php
Labels: bugfix, php

#8303 42513: Failed test: Enable/Disable Staff View
  components/ILIAS/OrgUnit/classes/Settings/class.ilOrgUnitGlobalSettingsGUI.php
Labels: bugfix

#8305 Contact: Fix broken buddy system relationship dropdowns (prev with bs) (ILIAS 11)
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_relation_table_listener.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_ignored_request.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_linked.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_requested.html
  components/ILIAS/Contact/resources/buddy_system.js
Labels: bugfix, javascript

#8304 Contact: Fix broken buddy system relationship dropdowns (prev with bs)
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_relation_table_listener.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_ignored_request.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_linked.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_requested.html
  components/ILIAS/Contact/resources/buddy_system.js
Labels: bugfix, javascript

#8307 Fix 0041372 - LTIConsumer: Modified URL sending from GET to POST
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
  Modules/LTIConsumer/ltiregstart.php
  Modules/LTIConsumer/templates/default/tpl.lti_dyn_reg_request.html
Labels: bugfix, php, javascript

#8309 Fix 0041372 - LTIConsumer: Modified URL sending from GET to POST
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
  Modules/LTIConsumer/ltiregstart.php
  Modules/LTIConsumer/templates/default/tpl.lti_dyn_reg_request.html
Labels: bugfix, php, javascript

#8164 Adapting the changes of Component Revision to docs/README.md and adding section for Templating
  docs/development/README.md
Labels: improvement, documentation

#8308 OrgU: 42512, init genericMultiLineInput and contextualize renderer for glyph
  components/ILIAS/OrgUnit/classes/Positions/Authorities/class.ilOrgUnitGenericMultiInputGUI.php
Labels: bugfix

#8269 Styles/TestRail Cases: separate objectives, build update or new import
  components/ILIAS/Style/classes/Setup/TestRailXMLWriter.php
  components/ILIAS/Style/classes/Setup/class.ilStyleSetupAgent.php
  components/ILIAS/Style/classes/Setup/class.ilUITestRailExampleTestCasesObjective.php
  components/ILIAS/Style/classes/Setup/templates/testrail.case_ids.php
Labels: improvement, php
