Repository ILIAS-eLearning/ILIAS, pull requests merged in 2024-11, with the labels that each got.

#8130 Container: Fix Clipboard
  Services/Container/classes/class.ilContainerGUI.php
Labels: bugfix, php

#8293 Administration/Benchmark: Fix undefined array indexes
  components/ILIAS/SystemFolder/classes/class.ilBenchmarkTableGUI.php
Labels: bugfix, php

#8311 DataProtection: Change initial `type` value
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
Labels: bugfix, improvement, php

#8313 DataProtection: Change initial `type` value (ILIAS 10)
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
Labels: bugfix, improvement, php

#8312 DataProtection: Change initial `type` value (ILIAS 9)
  Services/DataProtection/classes/class.ilObjDataProtectionGUI.php
Labels: bugfix, improvement, php

#8153 PRG, 42157: Acknowledge all courses, remove legacy UI
  Modules/StudyProgramme/classes/class.ilObjStudyProgramme.php
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
  Modules/StudyProgramme/classes/class.ilStudyProgrammeDIC.php
  Modules/StudyProgramme/templates/default/tpl.acknowledge_completed_courses.html
  Modules/StudyProgramme/templates/default/tpl.acknowledge_completed_courses_row.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8317 Contact: Add accessibility classes for `Community > Contacts` dropdowns (ILIAS 11)
  components/ILIAS/Contact/BuddySystem/classes/states/renderer/class.ilAbstractBuddySystemRelationStateButtonRenderer.php
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_relation_table_row.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_ignored_request.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_linked.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_requested.html
  components/ILIAS/Contact/resources/buddy_system.js
Labels: bugfix, javascript

#8316 Contact: Add accessibility classes for `Community > Contacts` dropdowns
  components/ILIAS/Contact/BuddySystem/classes/states/renderer/class.ilAbstractBuddySystemRelationStateButtonRenderer.php
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_relation_table_row.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_ignored_request.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_linked.html
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_state_requested.html
  components/ILIAS/Contact/resources/buddy_system.js
Labels: bugfix, javascript

#8318 Certificate Bugfix #0042529: Certificate Standard Icon signWAC Error
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateGUI.php
Labels: bugfix, php

#8298 Notifications: Don't delete all time-based settings on deactivation
  components/ILIAS/Notifications/classes/class.ilObjNotificationAdminGUI.php
Labels: improvement, php

#8328 Survey: Remove unused print template
  Modules/Survey/templates/default/tpl.il_svy_svy_printview.html
Labels: improvement

#8333 Auth: Fix wrong main bar items after forcing login via browser's back…
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#8334 Auth: Avoid unintended logouts
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#8093 Repository/PluginSlot: Add ability to use next_class in the derived class
  components/ILIAS/Component/classes/class.ilPluginConfigGUI.php
  components/ILIAS/Repository/PluginSlot/class.ilObjectPluginGUI.php
Labels: improvement, php

#8143 Content Style: Remove Paddings on Question Content
  Services/COPage/css/content.css
  Services/COPage/css/content.less
Labels: bugfix

#8150 [BUGXFIX/Refactor] Refactor booking event listener to disable a lot of initialisation without use(?) (Undefined Constant in non web context)
  Modules/BookingManager/classes/class.ilBookingManagerAppEventListener.php
Labels: bugfix, php

#8345 DataCollection: prevent error on old imports
  Modules/DataCollection/classes/class.ilDataCollectionDataSet.php
Labels: bugfix, improvement

#8346 Remaining routes have been renamed from LTI to LTIProvider
  components/ILIAS/Init/classes/class.ilInitialisation.php
  components/ILIAS/LTIProvider/LTIProvider.php
  components/ILIAS/LTIProvider/classes/Consumer/class.ilObjectConsumerTableGUI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderReleasedObjectsTableGUI.php
  components/ILIAS/LTIProvider/classes/Screen/LtiViewLayoutProvider.php
  components/ILIAS/LTIProvider/classes/class.ilLTIDataConnector.php
  scripts/Rector/ilUtils/ilutil_rector.php
Labels: bugfix, php

#8348 Remaining routes have been renamed from LTI to LTIProvider
  components/ILIAS/Init/classes/class.ilInitialisation.php
  components/ILIAS/LTIProvider/LTIProvider.php
  components/ILIAS/LTIProvider/classes/Consumer/class.ilObjectConsumerTableGUI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderReleasedObjectsTableGUI.php
  components/ILIAS/LTIProvider/classes/Screen/LtiViewLayoutProvider.php
  components/ILIAS/LTIProvider/classes/class.ilLTIDataConnector.php
  scripts/Rector/ilUtils/ilutil_rector.php
Labels: bugfix, php

#8322 T&A 41680: Fix sql data too long error by validating input parameter
  Modules/TestQuestionPool/classes/class.assKprimChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assTextQuestionGUI.php
  Modules/TestQuestionPool/classes/class.ilEssayKeywordWizardInputGUI.php
  Modules/TestQuestionPool/classes/class.ilKprimChoiceWizardInputGUI.php
  Modules/TestQuestionPool/classes/class.ilMultipleChoiceWizardInputGUI.php
  Modules/TestQuestionPool/classes/class.ilSingleChoiceWizardInputGUI.php
  Modules/TestQuestionPool/templates/default/tpl.prop_kprimchoicewizardinput.html
  Modules/TestQuestionPool/templates/default/tpl.prop_multiplechoicewizardinput.html
  Modules/TestQuestionPool/templates/default/tpl.prop_singlechoicewizardinput.html
  Services/Form/classes/class.ilTextWizardInputGUI.php
Labels: bugfix, php

#8340 UI: 42442, center toggle button.
  templates/default/070-components/UI-framework/Button/_ui-component_toggle.scss
  templates/default/delos.css
Labels: bugfix

#8321 T&A/9: 34365 Cloze Question Import (QPL) from 5.4 to 7 moves text from Question to Cloze Text
  Modules/TestQuestionPool/classes/import/qti12/class.assClozeTestImport.php
Labels: bugfix, php

#8349 Chatroom: Fix invite to chatroom for MyStaff and Meta Bar
  components/ILIAS/User/classes/Actions/class.ilChatUserActionProvider.php
Labels: bugfix, php

#8266 TA: 42251, result presentation uses full width if no best solution
  components/ILIAS/Test/src/Results/Presentation/AttemptResultsTable.php
Labels: bugfix

#8314 T&A Fix ilAssQuestion list duplicated join
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionList.php
Labels: bugfix, php

#8292 T&A: Participant Table Revision Adjustments
  components/ILIAS/Test/src/Participants/ParticipantRepository.php
  components/ILIAS/Test/src/Participants/ParticipantTableActions.php
  components/ILIAS/Test/src/Participants/ParticipantTableDeleteParticipantAction.php
  components/ILIAS/Test/src/Participants/ParticipantTableDeleteResultsAction.php
  components/ILIAS/Test/src/Participants/ParticipantTableExtraTimeAction.php
  components/ILIAS/Test/src/Participants/ParticipantTableFinishTestAction.php
  components/ILIAS/Test/src/Participants/ParticipantTableIpRangeAction.php
  components/ILIAS/Test/src/Participants/ParticipantTableShowResultsAction.php
  components/ILIAS/Test/src/Participants/TableAction.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#7932 T&A Bugfix #0029216: Missing Participant Results in Test Export/Import
  Modules/Test/classes/class.ilObjTestGUI.php
  Modules/Test/classes/class.ilTestImporter.php
Labels: bugfix, php

#8358 Bugfix tile view for badges for ILIAS 10, Mantis Issue #42599
  components/ILIAS/Badge/classes/Modal.php
  components/ILIAS/Badge/classes/Tile.php
  components/ILIAS/Badge/classes/class.ilBadgeImage.php
Labels: bugfix, php

#6936 Block Removal of obsolete Code regarding old rendering
  Modules/Poll/classes/BlockGUI/class.ilPollBlockGUI.php
  Modules/StudyProgramme/classes/class.ilPDStudyProgrammeSimpleListGUI.php
  Modules/Wiki/classes/class.ilWikiFunctionsBlockGUI.php
  Modules/Wiki/classes/class.ilWikiImportantPagesBlockGUI.php
  Services/Block/classes/class.ilBlockGUI.php
  Services/Calendar/classes/class.ilCalendarBlockGUI.php
  Services/Calendar/classes/class.ilCalendarSelectionBlockGUI.php
  Services/Calendar/classes/class.ilConsultationHoursCalendarBlockGUI.php
  Services/Calendar/templates/default/tpl.pd_event_list.html
  Services/Container/Classification/class.ilClassificationBlockGUI.php
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
  Services/Dashboard/ItemsBlock/classes/class.ilDashboardSidePanelSettingsRepository.php
  Services/InfoScreen/classes/class.ilInfoScreenGUI.php
  Services/Mail/classes/class.ilPDMailBlockGUI.php
  Services/Mail/templates/default/tpl.pd_mail_row.html
  Services/News/classes/class.ilNewsForContextBlockGUI.php
  Services/News/classes/class.ilPDNewsBlockGUI.php
  Services/Object/classes/class.ilObjectMetaDataBlockGUI.php
  Services/Search/classes/class.ilRepositoryObjectSearchBlockGUI.php
  Services/Tasks/classes/class.ilPDTasksBlockGUI.php
  Services/Tasks/templates/default/tpl.pd_tasks.html
Labels: improvement

#8364 Mail: Remove deprecated property
  components/ILIAS/Mail/classes/class.ilPDMailBlockGUI.php
Labels: bugfix, php

#8370 DataCollection: fix minor styles in settings
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableEditGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8368 ContainerReference: Add SaveObject for LegacyForm
  components/ILIAS/ContainerReference/classes/class.ilContainerReferenceGUI.php
Labels: bugfix, php

#8357 Auth: Stop incrementing login attempts if configured maximum is reached
  Services/Authentication/classes/Frontend/class.ilAuthFrontend.php
Labels: bugfix, php

#8297 User/Auth: Increase field size of `login_attempts` (ILIAS 10)
  components/ILIAS/PrivacySecurity/classes/class.ilSecuritySettings.php
  components/ILIAS/User/classes/class.ilObjUserFolderGUI.php
  components/ILIAS/User/src/Setup/DBUpdateSteps10.php
Labels: bugfix, php

#8335 IASS: 42482, render the record template content from the iass setting…
  components/ILIAS/IndividualAssessment/classes/class.ilIndividualAssessmentMemberGUI.php
  components/ILIAS/IndividualAssessment/classes/ilIndividualAssessmentUserGrading.php
  components/ILIAS/IndividualAssessment/tests/ilIndividualAssessmentUserGradingTest.php
Labels: bugfix, php

#8379 DataCollection: fix minor styles in field settings
  components/ILIAS/DataCollection/classes/Fields/IliasReference/class.ilDclIliasReferenceFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Mob/class.ilDclMobFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Selection/class.ilDclSelectionFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/class.ilDclFieldEditGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8383 updated hun file for ilias 10
  lang/ilias_hu.lang
Labels: improvement

#7762 LTI Bugfix #0041637: Course Certificates aren't issued in the language of the receiving user in any case (month names)
  components/ILIAS/LTIConsumer/classes/Certificate/class.ilLTIConsumerPlaceholderValues.php
Labels: bugfix, php

#7536 [41444] Display public key in LTI provider form
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
Labels: bugfix, php

#8389 Display public key in LTI provider form
  Modules/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
Labels: bugfix, php

#8390 Display public key in LTI provider form
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
Labels: bugfix, php

#8388 Badges: Remove unused language variables
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#8392 Badges: Add missing tables titles
  components/ILIAS/Badge/classes/class.ilBadgeImageTemplateTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeManagementGUI.php
  components/ILIAS/Badge/classes/class.ilBadgePersonalTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTypesTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeUserTableGUI.php
  components/ILIAS/Badge/classes/class.ilObjBadgeAdministrationGUI.php
  components/ILIAS/Badge/classes/class.ilObjectBadgeTableGUI.php
Labels: bugfix, php

#8391 Display public key in LTI provider form
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
Labels: bugfix, php

#8294 Auth/OpenIDConnect: Use `id_token` for claims
  Services/OpenIdConnect/classes/class.ilAuthProviderOpenIdConnect.php
Labels: bugfix, php

#7537 [41443] Allow using RSA key when saving LTI Content Selection
  Modules/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
Labels: bugfix, php

#8373 Dependencies: Add `jumbojett/openid-connect-php` v. `1.0.2`
  composer.json
  composer.lock
Labels: dependencies

#8405 Allow using RSA key when saving LTI Content Selection
  Modules/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
Labels: bugfix, php

#8406 Allow using RSA key when saving LTI Content Selection
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
Labels: bugfix, php

#8410 Fixed errors when saving an LTIConsumer
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIPlatform.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSettingGUI.php
  components/ILIAS/LTIProvider/classes/class.ilLTIDataConnector.php
Labels: bugfix, php

#8411 Fixed errors when saving an LTIConsumer
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIPlatform.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSettingGUI.php
  components/ILIAS/LTIProvider/classes/class.ilLTIDataConnector.php
Labels: bugfix, php

#8257 T&A: Replace legacy ilTable2GUI inheritance in ilTestRandomQuestionSet classes
  components/ILIAS/Course/classes/Objectives/class.ilCourseObjectivesGUI.php
  components/ILIAS/Course/classes/Objectives/class.ilLOTestAssignmentTableGUI.php
  components/ILIAS/Course/classes/Objectives/class.ilLOUtils.php
  components/ILIAS/Test/classes/Tables/class.ilTestRandomQuestionSetNonAvailablePoolsTableGUI.php
  components/ILIAS/Test/classes/Tables/class.ilTestRandomQuestionSetSourcePoolDefinitionListTableGUI.php
  components/ILIAS/Test/classes/class.ilObjTestGUI.php
  components/ILIAS/Test/classes/class.ilTestQuestionFilterLabelTranslator.php
  components/ILIAS/Test/classes/class.ilTestRandomQuestionSetBuilderWithAmountPerPool.php
  components/ILIAS/Test/classes/class.ilTestRandomQuestionSetConfigGUI.php
  components/ILIAS/Test/src/Questions/RandomQuestionSetNonAvailablePoolsTable.php
  components/ILIAS/Test/src/Questions/RandomQuestionSetSourcePoolDefinitionListTable.php
  components/ILIAS/Test/src/Settings/ScoreReporting/class.SettingsScoringGUI.php
  components/ILIAS/Test/templates/default/tpl.il_tst_non_avail_pools_row.html
  components/ILIAS/Test/tests/ilTestQuestionFilterLabelTranslatorTest.php
  components/ILIAS/Test/tests/ilTestRandomQuestionSetConfigGUITest.php
  components/ILIAS/Test/tests/tables/ilTestRandomQuestionSetNonAvailablePoolsTableGUITest.php
  components/ILIAS/Test/tests/tables/ilTestRandomQuestionSetSourcePoolDefinitionListTableGUITest.php
Labels: improvement

#8236 Registration: Fix confirmation of code deletion
  Services/Registration/classes/class.ilRegistrationSettingsGUI.php
Labels: bugfix, php

#7930 Auth: Improve login attempts handling
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontend.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendHTTP.php
Labels: bugfix, php

#8408 Style/TestCases: update path to KS Docu and drop references-tag
  components/ILIAS/Style/classes/Setup/TestRailXMLWriter.php
  components/ILIAS/Style/classes/Setup/templates/testrail.case.xml
Labels: improvement

#8361 PRG: 42596, include missing argument while building a membership sour…
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgramme.php
  components/ILIAS/StudyProgramme/classes/model/AutoMemberships/class.ilStudyProgrammeMembershipSourceReaderFactory.php
Labels: bugfix, php

#8414 Fix: 0042595
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderReleasedObjectsTableGUI.php
Labels: bugfix, php

#8415 Fix: 0042595
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderReleasedObjectsTableGUI.php
Labels: bugfix, php

#8202 [FIX] add scripts/PHPUnit/.phpunit.cache/ to .gitignore
  .gitignore
Labels: improvement, Looking for Shepherd

#8409 [BUGFIX 42668] Undefined Array Access when saving the ilObjLanguageExtGUI (Overwrite Language Variables GUI) with lanugage variables that contian a dot
  Services/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#8417 [FIX] add scripts/PHPUnit/.phpunit.cache/ to .gitignore
  .gitignore
Labels: improvement

#8374 UI: 41308, adjust rendering of symbols in breadcrumbs.
  components/ILIAS/UI/src/Implementation/Component/Breadcrumbs/Renderer.php
  components/ILIAS/UI/src/templates/default/Breadcrumbs/tpl.breadcrumbs.html
  components/ILIAS/UI/tests/Component/Breadcrumbs/BreadcrumbsTest.php
Labels: bugfix

#8425 Init/Auth: Init global user for "blocked authentication" state (fix f…
  components/ILIAS/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#8420 [Bugfix 42401]Lang Vars for Test-specific Placeholder Texts were bogus
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#8429 Contact: Close dropdown on other dropdown click (ILIAS 11)
  components/ILIAS/Contact/resources/buddy_system.js
Labels: bugfix, javascript

#8428 Contact: Close dropdown on other dropdown click
  components/ILIAS/Contact/resources/buddy_system.js
Labels: bugfix, javascript

#8431 Init: Fix URLs in language selection dropdown
  components/ILIAS/Init/classes/Provider/StartUpMetaBarProvider.php
Labels: bugfix, php

#8372 Calendar: fix css of recurrence inputs (42329)
  Services/Calendar/templates/default/tpl.recurrence_input.html
  templates/default/070-components/legacy/Services/_component_calendar.scss
  templates/default/delos.css
Labels: bugfix

#8385 Questions: Fix Questions LM
  components/ILIAS/COPage/PC/Question/class.ilPCQuestion.php
  components/ILIAS/LearningModule/Export/class.LMHtmlExport.php
  components/ILIAS/TestQuestionPool/TestQuestionPool.php
  components/ILIAS/TestQuestionPool/resources/js/dist/pure_rendering.js
  components/ILIAS/TestQuestionPool/resources/js/dist/question_handling.js
  components/ILIAS/TestQuestionPool/templates/default/question_handling.css
Labels: bugfix

#8149 TA: 42218 remove label from actions dropdown
  Modules/Test/classes/tables/class.ilParticipantsTestResultsTableGUI.php
  Modules/Test/classes/tables/class.ilTestExportTableGUI.php
  Modules/Test/classes/tables/class.ilTestParticipantsTableGUI.php
  Modules/Test/classes/tables/class.ilTestPassOverviewTableGUI.php
  Modules/Test/classes/tables/class.ilTestQuestionsTableGUI.php
  Modules/Test/classes/tables/class.ilTestRandomQuestionSetSourcePoolDefinitionListTableGUI.php
Labels: bugfix, php

#8430 42176: Shuffling Answer options does not work in Matching Questions in ILIAS Learning Modules
  Modules/TestQuestionPool/classes/class.assMatchingQuestion.php
Labels: bugfix, php

#8432 User/Fields/Registration: Make `email` mandatory for active passwo…
  components/ILIAS/User/classes/Profile/class.ilUserProfile.php
Labels: bugfix, improvement, php

#8229 Legacy UI: Remove `Tooltip` (with usages) from code base
  components/ILIAS/Table/classes/class.ilTable2GUI.php
  components/ILIAS/UIComponent/AdvancedSelectionList/classes/class.ilAdvancedSelectionListGUI.php
  components/ILIAS/UIComponent/GroupedList/classes/class.ilGroupedListGUI.php
  components/ILIAS/UIComponent/Tooltip/classes/class.ilTooltipGUI.php
Labels: improvement, php

#8438 Init/Auth: Revert PR #8425
  components/ILIAS/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#8440 T&A 42760 Fix has answered questions for scored attempt
  components/ILIAS/Test/src/Participants/Participant.php
Labels: bugfix, php

#8437 Form/Calendar: move datetime and duration inputs to native html (42458)
  components/ILIAS/Calendar/classes/class.ilCalendarUtil.php
  components/ILIAS/Form/classes/class.ilBirthdayInputGUI.php
  components/ILIAS/Form/classes/class.ilDateDurationInputGUI.php
  components/ILIAS/Form/classes/class.ilDateTimeInputGUI.php
  components/ILIAS/Form/resources/Form.js
  components/ILIAS/Form/templates/default/tpl.prop_datetime.html
  components/ILIAS/Form/templates/default/tpl.prop_datetime_duration.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php, javascript

#7813 0041741: SOAP function Ilias.addUserRoleEntry and Ilias.deleteUserRoleEntry always throw an error
  webservice/soap/classes/class.ilSoapRBACAdministration.php
Labels: bugfix

#7307 SOAP: Avoid `client.ini.php` change to make SOAP plugins work
  Services/WebServices/SOAP/classes/class.ilAbstractSoapMethod.php
  src/BackgroundTasks/Implementation/TaskManager/AsyncTaskManager.php
  webservice/soap/classes/class.ilSoapAdministration.php
Labels: bugfix, php

#8386 UI: 42443, adjust padding for centering the filter's labels.
  templates/default/070-components/UI-framework/Input/_ui-component_filter.scss
  templates/default/delos.css
Labels: bugfix

#8404 UI/Input/Viewcontrols: 42663, 42665 - use new glyphs for viewcontrols
  components/ILIAS/UI/src/templates/default/Input/tpl.viewcontrol_fieldselection.html
  components/ILIAS/UI/src/templates/default/Input/tpl.viewcontrol_sortation.html
  components/ILIAS/UI/tests/Component/Input/ViewControl/ViewControlFieldSelectionTest.php
  components/ILIAS/UI/tests/Component/Input/ViewControl/ViewControlSortationTest.php
Labels: bugfix

#8448 LSO: Fix Missing Type Property
  components/ILIAS/LearningSequence/classes/class.ilObjLearningSequenceGUI.php
Labels: bugfix, php

#8452 OnScreenChat: Remove unused JS includes
  components/ILIAS/OnScreenChat/classes/class.ilOnScreenChatGUI.php
Labels: bugfix, php, javascript

#8453 OnScreenChat: Remove unused JS includes
  components/ILIAS/OnScreenChat/classes/class.ilOnScreenChatGUI.php
Labels: bugfix, php, javascript

#8454 DataCollection: fix text field against JSON input
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextRecordFieldModel.php
Labels: bugfix, improvement, php

#8443 PRG: 42768, OrgUQueries for MembershipSourceReader
  components/ILIAS/StudyProgramme/classes/model/AutoMemberships/class.ilStudyProgrammeMembershipSourceReaderFactory.php
  components/ILIAS/StudyProgramme/classes/model/AutoMemberships/class.ilStudyProgrammeMembershipSourceReaderOrgu.php
Labels: bugfix

#8458 LegalDocuments: Show info message when no documents exist
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8459 LegalDocuments: Show info message when no documents exist
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8464 TermsOfService: Redirect to correct tab after reset cancellation
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8465 TermsOfService: Redirect to correct tab after reset cancellation (ILIAS 11)
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8447 RBAC: Document types of array of `ilRbacReview`
  components/ILIAS/AccessControl/classes/class.ilRbacReview.php
Labels: improvement, php

#8469 Notifications: Set default settings
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
Labels: improvement, php

#8463 Cache owner & object title lookup in building certificate overview table rows
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
Labels: improvement, php

#8418 IndAss: 42676, remove setCmd
  components/ILIAS/IndividualAssessment/classes/class.ilObjIndividualAssessmentGUI.php
Labels: bugfix

#8211 UI: Replace legacy modals in ilTestPlayerAbstractGUI
  components/ILIAS/Test/classes/class.ilTestPlayerAbstractGUI.php
  components/ILIAS/Test/classes/class.ilTestPlayerConfirmationModal.php
  components/ILIAS/Test/classes/class.ilTestQuestionNavigationGUI.php
  components/ILIAS/Test/js/ilTestPlayerDiscardSolutionModal.js
  components/ILIAS/Test/resources/ilTestPlayerQuestionEditControl.js
  components/ILIAS/Test/templates/default/tpl.il_as_tst_output.html
  components/ILIAS/Test/templates/default/tpl.tst_player_confirmation_modal.html
  components/ILIAS/Test/tests/ilTestPlayerConfirmationModalTest.php
  components/ILIAS/TestQuestionPool/src/RequestDataCollector.php
Labels: improvement, php

#8475 Auth/Init/A11Y: Prevent empty unordered list on logout page
  Services/Init/templates/default/tpl.startup_screen.html
Labels: bugfix

#8473 Update Dependencies after Release v8.16
  composer.lock
Labels: technical board, dependencies

#8483 TA: 41715, revert 27239f2
  components/ILIAS/Test/src/Questions/Presentation/QuestionsTableQuery.php
Labels: bugfix, php

#8461 CI: ignore deleted files in pipeline checks
  scripts/Import/Functions.sh
Labels: bugfix, Looking for Shepherd

#8478 LegalDocuments: Fix modal displayed in ilObjUserGUI
  components/ILIAS/LegalDocuments/classes/Conductor.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Blocks.php
  components/ILIAS/User/classes/class.ilObjUserGUI.php
Labels: bugfix, php

#8479 LegalDocuments: Fix modal displayed in ilObjUserGUI (ILIAS 11)
  components/ILIAS/LegalDocuments/classes/Conductor.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Blocks.php
  components/ILIAS/User/classes/class.ilObjUserGUI.php
Labels: bugfix, php

#8394 Docu: add authorities (Context, EventHandling)
  docs/development/maintenance.md
Labels: documentation, authorities

#8435 10 mantis ilias 42692
  components/ILIAS/Export/classes/ExportHandler/Manager/Handler.php
Labels: bugfix, php

#8367 Category: Add schema to support exports from version 4.3.0
  xml/SchemaValidation/ilias_cat_4_3.xsd
Labels: bugfix, php

#7517 Fixes array diff call, the structure of the compared arrays did not m…
  Services/Tracking/classes/class.ilLPStatus.php
Labels: bugfix, php

#8145 Course/SOAP: Fix that title defaults to `dummy` when using `(add|update)Course`
  webservice/soap/classes/class.ilSoapCourseAdministration.php
Labels: bugfix, php

#8451 Mantis 42807: Fix error if user has no initial test but final results
  Services/Container/Content/ObjectiveView/class.ObjectiveRenderer.php
Labels: bugfix, php

#8502 Auth/LoginForm: Show concrete messages for username/password fields
  Services/Init/classes/class.ilStartUpGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8491 User: Fix accessing undefined key `default_hits_per_page`
  Services/User/classes/class.ilObjUserFolderGUI.php
Labels: bugfix, php

#8503 Auth/LoginForm: Don't show `err_wrong_login` if form is invalid
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#8493 User: Fix self registration crashes if text fields are not required
  Services/User/classes/Profile/class.ilUserProfile.php
Labels: bugfix, php

#8504 Fix #42897
  components/ILIAS/Badge/classes/class.ilBadgeImage.php
Labels: bugfix, php

#8422 [FIX] UI: properly count inputs of `Field\HasDynamicInputs` templates.
  components/ILIAS/UI/resources/js/Input/Field/dynamic_inputs_renderer.js
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
Labels: kitchen sink, improvement, php, javascript

#8288 [FIX] remove `@uppy/core` and `@uppy/tus` npm packages
  package-lock.json
  package.json
Labels: dependencies, Looking for Shepherd

#8481 LegacyUI/Modals: Remove legacy modals
  components/ILIAS/UIComponent/Modal/classes/class.ilModalGUI.php
  components/ILIAS/UIComponent/Modal/templates/default/tpl.modal.html
Labels: improvement, php, Looking for Shepherd

#8484 DataCollection: Init copy field
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldModel.php
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyRecordRepresentation.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps80.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#8442 RBAC: Move getRolesByFilter to Generator
  Services/AccessControl/classes/class.ilRbacReview.php
  Services/AccessControl/classes/class.ilRoleTableGUI.php
  Services/User/classes/class.ilRoleAssignmentTableGUI.php
  Services/User/classes/class.ilUserTableGUI.php
Labels: bugfix

#8494 T&A/10 40791: Replaces superglobal usages in TestQuestionPool component with RequestDataCollector
  components/ILIAS/TestQuestionPool/classes/class.assClozeTest.php
  components/ILIAS/TestQuestionPool/classes/class.assClozeTestGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assErrorText.php
  components/ILIAS/TestQuestionPool/classes/class.assErrorTextGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assFileUpload.php
  components/ILIAS/TestQuestionPool/classes/class.assFileUploadGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assImagemapQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assKprimChoice.php
  components/ILIAS/TestQuestionPool/classes/class.assKprimChoiceGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assLongMenu.php
  components/ILIAS/TestQuestionPool/classes/class.assLongMenuGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assMultipleChoice.php
  components/ILIAS/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assNumeric.php
  components/ILIAS/TestQuestionPool/classes/class.assNumericGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assOrderingHorizontal.php
  components/ILIAS/TestQuestionPool/classes/class.assOrderingHorizontalGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assOrderingQuestion.php
  components/ILIAS/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assQuestion.php
  components/ILIAS/TestQuestionPool/classes/class.assQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assTextQuestion.php
  components/ILIAS/TestQuestionPool/classes/class.assTextQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assTextSubsetGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAnswerWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionHintAbstractGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionHintGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionHintRequestGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionHintsGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionPreviewGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionSkillAssignmentsGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilErrorTextWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilEssayKeywordWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilKprimChoiceWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilMatchingPairWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilMatchingWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilMultipleChoiceWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilSingleChoiceWizardInputGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilSuggestedSolutionSelectorGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilTestQuestionPoolImporter.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssAnswerCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssClozeTestCombinationVariantsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssErrorTextCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssMatchingPairCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssMultipleChoiceCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssOrderingFormValuesObjectsConverter.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssSingleChoiceCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilImagemapCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilImagemapFileInputGUI.php
  components/ILIAS/TestQuestionPool/classes/forms/class.ilKprimChoiceCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/ilTestLegacyFormsHelper.php
  components/ILIAS/TestQuestionPool/classes/tables/class.ilAssQuestionSkillAssignmentsTableGUI.php
  components/ILIAS/TestQuestionPool/src/RequestDataCollector.php
  components/ILIAS/TestQuestionPool/templates/default/tpl.il_as_cloze_gap_builder.html
  components/ILIAS/TestQuestionPool/tests/RequestValidationHelperTest.php
Labels: bugfix, php

#8441 TA: 38995, sort taxonomies in table and filter
  Modules/TestQuestionPool/classes/QuestionTable.php
Labels: bugfix, php

#8506 DataCollection: Fix link for alternative view
  Modules/DataCollection/classes/TableView/class.ilDclTableViewTableGUI.php
Labels: bugfix, php

#8508 T&A fix 42872: CharSelectorConfig::setDefinition TypeError
  Modules/Test/classes/class.ilObjTestSettingsGeneralGUI.php
  Services/UIComponent/CharSelector/classes/class.ilCharSelectorGUI.php
Labels: bugfix, php

#8515 Mail: show delete confirmation on single mail view
  components/ILIAS/Mail/classes/class.ilMailFolderGUI.php
Labels: bugfix, php

#8511 Certificate Bugfix #0042876: Fix Saving Certificate with <br> is no valid XHTML
  components/ILIAS/Certificate/classes/File/Template/XLS/class.ilXlsFoParser.php
  components/ILIAS/Certificate/classes/Form/class.ilFormFieldParser.php
Labels: bugfix, php

#8421 T&A/10 40791: Replaces superglobal usages in Test component with RequestDataCollector
  components/ILIAS/Test/classes/Confirmations/class.ilTestSettingsChangeConfirmationGUI.php
  components/ILIAS/Test/classes/class.ilObjTestGUI.php
  components/ILIAS/Test/classes/class.ilTestEvaluationGUI.php
  components/ILIAS/Test/classes/class.ilTestParticipantsGUI.php
  components/ILIAS/Test/classes/class.ilTestPasswordProtectionGUI.php
  components/ILIAS/Test/classes/class.ilTestPlayerAbstractGUI.php
  components/ILIAS/Test/classes/class.ilTestSkillAdministrationGUI.php
  components/ILIAS/Test/classes/class.ilTestSkillLevelThresholdsGUI.php
  components/ILIAS/Test/src/RequestDataCollector.php
  components/ILIAS/Test/tests/confirmations/ilTestSettingsChangeConfirmationGUITest.php
  components/ILIAS/Test/tests/ilTestSkillAdministrationGUITest.php
  components/ILIAS/Test/tests/ilTestSkillLevelThresholdsGUITest.php
Labels: bugfix, php

#8395 UI: remove novalidate-attribute from forms (#41392)
  components/ILIAS/UI/src/templates/default/Input/tpl.no_submit.html
  components/ILIAS/UI/src/templates/default/Input/tpl.standard.html
  components/ILIAS/UI/src/templates/default/Input/tpl.standard_filter.html
  components/ILIAS/UI/tests/Component/Dropzone/File/StandardTest.php
  components/ILIAS/UI/tests/Component/Dropzone/File/WrapperTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/StandardFilterTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/NoSubmitFormTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/StandardFormTest.php
  components/ILIAS/UI/tests/Component/Launcher/LauncherInlineTest.php
Labels: bugfix

#8514 Init webui-popover.min.js
  components/ILIAS/UI/UI.php
Labels: bugfix, kitchen sink

#8525 Nodejs: Update supported versions in `install.md`
  docs/configuration/install.md
Labels: javascript, documentation

#8526 Nodejs: Update supported versions in install.md (ILIAS 11)
  docs/configuration/install.md
Labels: javascript, documentation

#8505 IASS: 42882, adjust check of RBAC for users who only have read and wr…
  components/ILIAS/IndividualAssessment/classes/class.ilObjIndividualAssessmentGUI.php
Labels: bugfix

#8510 Trunk/42912 - Fix filtering by issue_date not working in CertificateOverview
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateRepository.php
Labels: bugfix, php

#8509 ILIAS 10/42912 - Fix filtering by issue_date not working in CertificateOverview
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateRepository.php
Labels: bugfix, php

#8535 Certificate Bugfix #0042878: Teil 2 no new certificate created - no values changed
  components/ILIAS/Certificate/classes/Form/Repository/class.ilCertificateSettingsFormRepository.php
  components/ILIAS/Certificate/classes/class.ilCertificateGUI.php
Labels: bugfix, php

#8558 Certificate: skip empty ul elements when translating to fo (43008)
  Services/Certificate/xml/xhtml2fo.xsl
Labels: bugfix

#7627 fix some functoins if optional parameters are omitted
  webservice/soap/classes/class.ilSoapObjectAdministration.php
  webservice/soap/include/inc.soap_functions.php
Labels: bugfix
