Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-02, with the labels that each got.

#8946 File: fix export paths
  components/ILIAS/File/classes/class.ilFileExporter.php
Labels: bugfix, php

#8888 UI Components #0043810 Adjustment Text Expected Output
  components/ILIAS/UI/src/examples/Image/Responsive/with_additional_high_resolution_source.php
Labels: bugfix, kitchen sink

#8942 add composer lib guzzlehttp/guzzle:^7.9
  composer.json
  composer.lock
Labels: dependencies

#8769 LSO: 43208, fix sending a globalScreen message after completing a lea…
  components/ILIAS/LearningSequence/classes/GlobalScreen/class.ilLSCompletionNotificationProvider.php
Labels: bugfix

#8800 OrgU: 42554, param handling when deleting position
  components/ILIAS/OrgUnit/classes/Positions/class.ilOrgUnitPositionGUI.php
  components/ILIAS/StudyProgramme/classes/model/AutoMemberships/class.ilStudyProgrammeMembershipSourceReaderOrgu.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#8859 ResourceStorage: Respect timezone in resource presentation
  Services/ResourceStorage/classes/Resources/UI/BaseToComponent.php
Labels: bugfix, php

#8955 _10/UI/scss-docs clarifications about compiling and custom system styles
  templates/Guidelines_SCSS-Coding.md
  templates/Readme.md
Labels: improvement, documentation

#8962 LTI Provider Functionality Fixes and Adaptations
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilAuthFrontendCredentialsLTI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilAuthProviderLTI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSetting.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSettingGUI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTITool.php
  components/ILIAS/LTIProvider/classes/Setup/class.ilLTIDatabaseUpdateSteps.php
  components/ILIAS/LTIProvider/classes/class.ilGlobalTemplate.php
  components/ILIAS/LTIProvider/classes/class.ilLTICronOutcomeService.php
  components/ILIAS/LTIProvider/classes/class.ilLTIDataConnector.php
  components/ILIAS/LTIProvider/classes/class.ilLTIRouterGUI.php
  components/ILIAS/LTIProvider/classes/class.ilLTIViewGUI.php
  components/ILIAS/LTIProvider/classes/class.ilObjLTIAdministration.php
  components/ILIAS/LTIProvider/classes/class.ilObjLTIAdministrationAccess.php
  components/ILIAS/LTIProvider/resources/lti.php
  components/ILIAS/LTIProvider/tests/bootstrap.php
  components/ILIAS/LTIProvider/tests/ilLTIToolConsumerTest.php
Labels: bugfix, php

#8698 Update legacy-ui.yml workflow to use actions/upload-artifact@v4
  .github/workflows/legacy-ui.yml
Labels: bugfix

#8969 LTIConsumer Resource Files and General Improvements
  components/ILIAS/LTIConsumer/LTIConsumer.php
  components/ILIAS/LTIConsumer/classes/Certificate/class.ilCertificateSettingsLTIConsumerFormRepository.php
  components/ILIAS/LTIConsumer/classes/Certificate/class.ilLTIConsumerPlaceholderDescription.php
  components/ILIAS/LTIConsumer/classes/Setup/class.ilLTIConsumerDatabaseUpdateSteps.php
  components/ILIAS/LTIConsumer/classes/Verification/class.ilLTIConsumerVerificationTableGUI.php
  components/ILIAS/LTIConsumer/classes/Verification/class.ilObjLTIConsumerVerification.php
  components/ILIAS/LTIConsumer/classes/Verification/class.ilObjLTIConsumerVerificationAccess.php
  components/ILIAS/LTIConsumer/classes/Verification/class.ilObjLTIConsumerVerificationGUI.php
  components/ILIAS/LTIConsumer/classes/Verification/class.ilObjLTIConsumerVerificationListGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProvider.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderIcon.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderSettingsGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerAccess.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerContentGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerGradeService.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerGradeServiceLineItem.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerGradeServiceLineItems.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerGradeServiceResults.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerGradeServiceScores.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerLP.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerLaunch.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerProviderSelectionFormTableGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerProviderTableGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerProviderUsageTableGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResourceBase.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResult.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResultService.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerScoringGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerScoringTableGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerServiceBase.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerServiceResponse.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerSettingsGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerXapiStatementsGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumer.php
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerAccess.php
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerListGUI.php
  components/ILIAS/LTIConsumer/exceptions/class.ilLtiConsumerException.php
  components/ILIAS/LTIConsumer/ltiservices.php
  components/ILIAS/LTIConsumer/resources/ltiauth.php
  components/ILIAS/LTIConsumer/resources/lticerts.php
  components/ILIAS/LTIConsumer/resources/lticonfig.php
  components/ILIAS/LTIConsumer/resources/ltiregend.php
  components/ILIAS/LTIConsumer/resources/ltiregistration.php
  components/ILIAS/LTIConsumer/resources/ltiregstart.php
  components/ILIAS/LTIConsumer/resources/ltitoken.php
  components/ILIAS/LTIConsumer/result.php
  components/ILIAS/LTIConsumer/src/OAuth.php
  components/ILIAS/LTIConsumer/src/TrivialOAuthDataStore.php
  components/ILIAS/LTIConsumer/templates/default/tpl.lti_dyn_reg_request.html
  components/ILIAS/LTIConsumer/tests/bootstrap.php
  components/ILIAS/LTIConsumer/tests/ilLTIConsumeProviderTest.php
Labels: bugfix, php

#8972 Dashboard: remove preview page from customization
  components/ILIAS/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  components/ILIAS/Dashboard/classes/class.ilDashboardPageGUI.php
Labels: improvement, php

#8890 10: UI/ViewControls/Sortation: 26634, mark selected option
  components/ILIAS/Badge/classes/TileView.php
  components/ILIAS/Badge/tests/TileViewTest.php
  components/ILIAS/Block/classes/class.ilBlockGUI.php
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateGUI.php
  components/ILIAS/Forum/classes/class.ilObjForumGUI.php
  components/ILIAS/IndividualAssessment/classes/class.ilIndividualAssessmentMembersGUI.php
  components/ILIAS/Notes/Note/class.ilNoteGUI.php
  components/ILIAS/Notes/Note/class.ilPDNotesGUI.php
  components/ILIAS/ResourceStorage/classes/Collections/View/ViewControlBuilder.php
  components/ILIAS/ResourceStorage/classes/Resources/UI/ResourceListingUI.php
  components/ILIAS/Test/src/Results/Presentation/AttemptResultsTable.php
  components/ILIAS/UI/resources/js/ViewControl/dist/viewcontrols.min.js
  components/ILIAS/UI/resources/js/ViewControl/rollup.config.js
  components/ILIAS/UI/resources/js/ViewControl/src/pagination.factory.js
  components/ILIAS/UI/resources/js/ViewControl/src/sortation.class.js
  components/ILIAS/UI/resources/js/ViewControl/src/sortation.factory.js
  components/ILIAS/UI/resources/js/ViewControl/src/viewcontrols.js
  components/ILIAS/UI/src/Component/ViewControl/Factory.php
  components/ILIAS/UI/src/Component/ViewControl/Sortation.php
  components/ILIAS/UI/src/Implementation/Component/Input/ViewControl/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/ViewControl/Factory.php
  components/ILIAS/UI/src/Implementation/Component/ViewControl/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/ViewControl/Sortation.php
  components/ILIAS/UI/src/examples/Panel/Listing/Standard/with_all_view_controls.php
  components/ILIAS/UI/src/examples/Panel/Secondary/Legacy/with_all_view_controls.php
  components/ILIAS/UI/src/examples/Panel/Secondary/Listing/with_all_view_controls.php
  components/ILIAS/UI/src/examples/Panel/Standard/with_view_controls.php
  components/ILIAS/UI/src/examples/ViewControl/Sortation/_Base.php
  components/ILIAS/UI/src/examples/ViewControl/Sortation/async.php
  components/ILIAS/UI/src/examples/ViewControl/Sortation/small.php
  components/ILIAS/UI/src/templates/default/ViewControl/tpl.sortation.html
  components/ILIAS/UI/tests/Component/Input/ViewControl/ViewControlSortationTest.php
  components/ILIAS/UI/tests/Component/Panel/PanelSecondaryLegacyTest.php
  components/ILIAS/UI/tests/Component/Panel/PanelSecondaryListingTest.php
  components/ILIAS/UI/tests/Component/Panel/PanelTest.php
  components/ILIAS/UI/tests/Component/ViewControl/SortationTest.php
  components/ILIAS/WorkspaceFolder/classes/class.ilWorkspaceContentGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/050-layout/_layout_container-query.scss
  templates/default/050-layout/basics/_index.scss
  templates/default/050-layout/basics/_layout_z-index.scss
  templates/default/070-components/UI-framework/Layout/_ui-component_standardpage.scss
  templates/default/070-components/UI-framework/ViewControl/_ui-component_viewcontrol.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#8907 Bugfix define $filtered variable
  Modules/MediaPool/classes/class.MediaPoolRepository.php
Labels: improvement

#8899 ContentStyle: Handle missing parameter/value for tags
  Services/Style/Content/classes/class.ilObjStyleSheet.php
Labels: bugfix, php

#8891 Exercise: Check correct permission when uploading tutor feedback files
  Modules/Exercise/Assignment/Service/class.GUIService.php
Labels: bugfix, php

#8360 Legacy Form: fix date range comparison for combination inputs
  Services/Form/classes/class.ilDateTimeInputGUI.php
Labels: bugfix, php

#8977 Badge: Cache records in tables for retrieval/counting
  components/ILIAS/Badge/classes/class.ilBadgeImageTemplateTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgePersonalTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTypesTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeUserTableGUI.php
  components/ILIAS/Badge/classes/class.ilObjectBadgeTableGUI.php
Labels: bugfix, improvement, php

#8980 LTI: Fixes #0044013 from Mantis
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerAdministrationGUI.php
  components/ILIAS/LTIProvider/classes/class.ilObjLTIAdministrationGUI.php
Labels: bugfix, php

#8983 PDF: Remove component
  components/ILIAS/PDFGeneration/PDFGeneration.php
  components/ILIAS/PDFGeneration/README.md
  components/ILIAS/PDFGeneration/Setup/class.ilPDFGenerationDB90.php
  components/ILIAS/PDFGeneration/Setup/class.ilPDFGenerationSetupAgent.php
  components/ILIAS/PDFGeneration/maintenance.json
  components/ILIAS/PDFGeneration/service.xml
Labels: bugfix, php

#8976 Throw exception for active id not found
  Modules/Test/classes/class.ilObjTest.php
  Services/Certificate/classes/Placeholder/Values/class.ilTestPlaceholderValues.php
Labels: bugfix

#8988 DataCollection: add markdown interpretation and remove richtext
  components/ILIAS/DataCollection/classes/Content/class.ilDclRecordListGUI.php
Labels: bugfix, improvement, php

#8982 [MathJax] Fix "Read only" für Administration
  components/ILIAS/Administration/classes/class.ilObjExternalToolsSettingsGUI.php
  components/ILIAS/MathJax/classes/class.ilMathJaxSettingsGUI.php
Labels: bugfix, php

#8993 LegalDocuments: Change submit buttons to refresh page when readonly (ILIAS 9)
  Services/DataProtection/classes/Settings.php
  Services/DataProtection/classes/class.ilObjDataProtectionGUI.php
  Services/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8992 LegalDocuments: Change submit buttons to refresh page when readonly
  components/ILIAS/DataProtection/classes/Settings.php
  components/ILIAS/DataProtection/classes/class.ilObjDataProtectionGUI.php
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#8995 LH: Fix Mantis Bugs #43437 #43438
  components/ILIAS/Language/classes/class.ilObjLanguageExt.php
  components/ILIAS/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#8985 Doc/CI: Fix branch for CI badge in README.md (ILIAS 10.x)
  README.md
Labels: bugfix, documentation

#8986 Doc/CI: Fix branch for CI badge in README.md (ILIAS 9.x)
  README.md
Labels: bugfix, documentation

#8997 [FIX] #44002 UI: render `Field\Markdown` action button glyphs properly.
  components/ILIAS/UI/resources/js/Input/Field/dist/input.factory.min.js
  components/ILIAS/UI/resources/js/Input/Field/src/Markdown/markdown.class.js
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
Labels: bugfix, kitchen sink

#8998 UI/Input/Rating: 0044003, validate HTML/missing aria-describedby
  components/ILIAS/UI/src/templates/default/Input/tpl.rating.html
  components/ILIAS/UI/tests/Component/Input/Field/RatingInputTest.php
Labels: bugfix, kitchen sink

#8984 RTE/TinyMCE: Fix font size and font family selection + block formats
  components/ILIAS/RTE/classes/class.ilTinyMCE.php
Labels: bugfix, php

#9000 UI/ViewControls: 44034, add dropdown.js to registry
  components/ILIAS/UI/src/Implementation/Component/ViewControl/Renderer.php
Labels: bugfix, kitchen sink

#9009 T&A 44037: Repository object plugins are not listed in "add new object" modal
  components/ILIAS/ILIASObject/classes/class.ilObjectGUI.php
Labels: bugfix, php

#8949 T&A 43749: Fixes checkboxes of multiple choice question (multiple answers) not being checked in detailed evaluation view
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
Labels: bugfix, php

#8948 T&A 43838: Redirects user to test tab when test attempt gets finished by administrator
  components/ILIAS/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix, php

#9021 Administration: Raise intead of throw error on permission denied (ILIAS 11)
  components/ILIAS/Administration/classes/class.ilAdministrationGUI.php
Labels: bugfix, php

#9019 Administration: Raise intead of throw error on permission denied
  components/ILIAS/Administration/classes/class.ilAdministrationGUI.php
Labels: bugfix, php

#9020 Administration: raise intead of throw error on permission denied (ILIAS 9)
  Services/Administration/classes/class.ilAdministrationGUI.php
Labels: bugfix, php

#9022 Test: Replace "Dashboard" with "Participants"
  lang/ilias_en.lang
Labels: improvement

#9023 Test: Replace "Dashboard" with "Participants"
  lang/ilias_en.lang
Labels: improvement

#8912 SOAP: Fix user is logged out when copying courses (in fallback mode)
  webservice/soap/classes/class.ilSoapAdministration.php
Labels: bugfix, php

#9027 Search: fix links in main menu search, get rid of search_last_class
  components/ILIAS/Search/classes/ObjGUI/class.ilObjSearchLuceneSettingsFormGUI.php
  components/ILIAS/Search/classes/ObjGUI/class.ilObjSearchSettingsFormGUI.php
  components/ILIAS/Search/classes/class.ilMainMenuSearchGUI.php
  components/ILIAS/Search/classes/class.ilSearchControllerGUI.php
Labels: bugfix, php

#9026 Session: disallow timing-action for objects on info screen (43327)
  components/ILIAS/Session/classes/class.ilObjSessionGUI.php
  components/ILIAS/Session/classes/class.ilSessionObjectListGUIFactory.php
Labels: bugfix, php

#9036 Object Service: Fix interpretation of favourite setting
  Services/Object/classes/class.ilObjectListGUI.php
Labels: bugfix, php

#8953 T&A 43837: allow multi select to finish pass only if processing time resett…
  components/ILIAS/Test/src/Participants/ParticipantTableFinishTestAction.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#8917 LDAP: Use UI table when listing LDAP servers
  components/ILIAS/LDAP/classes/class.ilLDAPRoleAssignmentRule.php
  components/ILIAS/LDAP/classes/class.ilLDAPServer.php
  components/ILIAS/LDAP/classes/class.ilLDAPServerTableGUI.php
  components/ILIAS/LDAP/classes/class.ilLDAPSettingsGUI.php
  components/ILIAS/LDAP/src/Server/UI/ServerTable.php
Labels: improvement, php

#8909 Mantis 38554: Forum: Get rid of ilForumThreadObjectTableGUI
  components/ILIAS/Forum/classes/Thread/ForumThreadTableSessionStorage.php
  components/ILIAS/Forum/classes/Thread/ThreadsPage.php
  components/ILIAS/Forum/classes/class.ilForumThreadObjectTableGUI.php
  components/ILIAS/Forum/classes/class.ilObjForumGUI.php
Labels: improvement, php

#9038 ZIP: Don't read/write ZIP archive from/into identical file / PHP Memory Issue
  src/Filesystem/Util/Archive/LegacyArchives.php
Labels: bugfix, php

#8146 File: Ensure version suffix on `appendStream`
  Modules/File/classes/class.ilObjFile.php
Labels: bugfix, php

#9043 LH: fixed Mantis #43732 and 43752: Failed test: Overview of Installed Languages Page translation
  components/ILIAS/Language/classes/class.ilLanguageFolderTable.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9044 LH: fixed Mantis #43747: Failed test: Refreshing All Languages
  components/ILIAS/Language/classes/class.ilObjLanguageFolderGUI.php
Labels: bugfix, php

#9018 Mantis #44141: Correct misspelled Variable
  Services/LTI/classes/class.ilLTIViewGUI.php
Labels: bugfix, php

#9050 LTI: Fixed mantis reports #44160 and #44163
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerContentGUI.php
Labels: bugfix, php

#9051 LTI: Fixed static calls to delos and jQuery files in the ilLTIConsumerContentGUI class
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerContentGUI.php
Labels: bugfix, php

#8940 SAML: KS Form for saml settings
  components/ILIAS/Saml/classes/class.ilSamlSettingsGUI.php
Labels: improvement, php

#8954 T&A 43728: Copy of a test looses Mark Schema
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, php

#8889 10/UI/form/section headings html tags
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Section.php
  components/ILIAS/UI/src/examples/Input/Field/Section/nested.php
  components/ILIAS/UI/src/templates/default/Input/tpl.headlines.html
  components/ILIAS/UI/tests/Component/Input/Field/CommonFieldRendering.php
  components/ILIAS/UI/tests/Component/Input/Field/SectionInputTest.php
  templates/default/070-components/UI-framework/Input/_ui-component_section.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#9001 LegacyForm: Implement Autocomplete in Legacy Forms
  components/ILIAS/Form/Form.php
  components/ILIAS/Form/classes/class.ilTextInputGUI.php
  components/ILIAS/Form/resources/autocomplete/dist/legacyAutocomplete.js
  components/ILIAS/Form/resources/autocomplete/rollup.config.js
  components/ILIAS/Form/resources/autocomplete/src/autocompleteHandler.js
  components/ILIAS/Form/resources/autocomplete/src/legacyAutocomplete.js
  components/ILIAS/Form/templates/default/tpl.prop_text_autocomplete.js
  templates/default/070-components/legacy/Services/_component_form.scss
  templates/default/delos.css
Labels: bugfix, php, javascript

#9031 Test: Remove Option to Disable Taxonomies from QPL
  components/ILIAS/TestQuestionPool/classes/Setup/class.ilTestQuestionPool10DBUpdateSteps.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPool.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPoolGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPoolSettingsGeneralGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPoolXMLParser.php
  components/ILIAS/TestQuestionPool/classes/tables/class.ilQuestionBrowserTableGUI.php
  components/ILIAS/TestQuestionPool/src/Presentation/QuestionTable.php
  components/ILIAS/TestQuestionPool/tests/ilQuestionBrowserTableGUITest.php
Labels: improvement, php

#9054 DataCollection: add migration to create LOM sets for pre-existing Data Collections (44066)
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionInitLOMMigration.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionSetupAgent.php
Labels: bugfix, php

#8952 T&A: 43819 Liste der Teilnehmerdaten anders sortieren
  components/ILIAS/Test/src/Participants/ParticipantTable.php
Labels: bugfix, php

#8945 T&A 43538: highlight a tab
  components/ILIAS/TestQuestionPool/classes/class.assQuestionGUI.php
Labels: bugfix, php

#9014 Mantis 43926:Fix thumbnail of certificate background iamge cropped incorrectly in object settings
  components/ILIAS/Certificate/classes/Form/Repository/class.ilCertificateSettingsFormRepository.php
Labels: bugfix, php

#9064 [Administration] Add ROADMAP.md
  components/ILIAS/Administration/ROADMAP.md
Labels: documentation

#9066 DataCollection: add missing comment field settings for copies
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  Modules/DataCollection/classes/Setup/class.ilDataCollection9HotfixDBUpdateSteps.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionObjective.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionSetupAgent.php
  Modules/DataCollection/classes/TableView/class.ilDclTableView.php
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix, php

#9061 T&A 25064: Fixes conceptual issue where users can estimate their result when viewing their learning progress in a test
  Modules/Test/classes/class.ilObjTestGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9073 Changed paths (SCORM)
  components/ILIAS/Scorm2004/classes/class.ilObjSCORM2004LearningModule.php
  components/ILIAS/Scorm2004/classes/class.ilSCORM13PlayerGUI.php
  components/ILIAS/ScormAicc/Editing/classes/class.ilSAHSEditGUI.php
  components/ILIAS/ScormAicc/classes/SCORM/class.ilObjSCORMTracking.php
  components/ILIAS/ScormAicc/classes/SCORM/class.ilSCORMPresentationGUI.php
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModule.php
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModuleGUI.php
  components/ILIAS/ScormAicc/classes/class.ilObjSCORMLearningModule.php
  components/ILIAS/ScormAicc/classes/class.ilSAHSPresentationGUI.php
  components/ILIAS/WebAccessChecker/classes/class.ilWACPath.php
Labels: php

#9075 T&A 43093: Fixes sorting of questionpool questions table
  components/ILIAS/TestQuestionPool/src/Presentation/QuestionTable.php
Labels: bugfix, php

#9076 Fix static URL handler
  Modules/File/classes/class.ilFileStaticURLHandler.php
Labels: bugfix, php

#9077 File: Fix wrong base class for workspace
  Modules/File/classes/Capabilities/Check/BaseCheck.php
Labels: bugfix, php

#9078 Blog: Fix permanent link handling in workspace context
  Modules/Blog/PermanentLink/StaticUrlHandler.php
Labels: bugfix, php

#9081 File: Fix capability permission handling in workspace context
  Modules/File/classes/Capabilities/Check/BaseCheck.php
  Modules/File/classes/Capabilities/Check/Info.php
  Modules/File/classes/Capabilities/Context.php
  Modules/File/classes/class.ilObjFileGUI.php
  Modules/File/classes/class.ilObjFileListGUI.php
Labels: bugfix, php

#9082 Badges Bugfixes IRSS...
  Customizing/global/plugins/.gitkeep
  components/ILIAS/Badge/classes/class.ilBadge.php
  components/ILIAS/Badge/classes/class.ilBadgeImage.php
  components/ILIAS/Badge/classes/class.ilBadgeImageTemplate.php
  components/ILIAS/Badge/classes/class.ilBadgeManagementGUI.php
Labels: bugfix, php

#9005 UI: 43428, adjust rendering of breadcrumb title.
  components/ILIAS/UI/src/Implementation/Component/Breadcrumbs/Renderer.php
Labels: bugfix

#9085 Test: Fix Removal of Inline Images
  Modules/TestQuestionPool/classes/class.ilAssHtmlPurifier.php
Labels: bugfix

#9080 The (int) cast on $course caused a fatal error because $course is an …
  components/ILIAS/WebServices/ECS/classes/Course/class.ilECSCourseCreationHandler.php
Labels: bugfix

#9033 Transfer authorities for ECS Interface
  docs/development/maintenance.md
Labels: authorities

#9089 LegalDocuments: Don't update last change date on ordering update (ILIAS 9)
  Services/LegalDocuments/classes/Repository/DatabaseDocumentRepository.php
Labels: bugfix, php

#9088 LegalDocuments: Don't update last change date on ordering update (ILIAS 11)
  components/ILIAS/LegalDocuments/classes/Repository/DatabaseDocumentRepository.php
Labels: bugfix, php

#8919 trunk ilSessionMaxIdlesSetObjective:0043901 avoid execution if no server is reachable on port 80
  components/ILIAS/Authentication/classes/Setup/class.ilSessionMaxIdleIsSetObjective.php
Labels: bugfix, php

#9047 Scorm: Add some fixes for former `ilCtrl` state mutations
  components/ILIAS/ScormAicc/Editing/classes/class.ilSAHSEditGUI.php
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModuleGUI.php
  components/ILIAS/ScormAicc/classes/class.ilSAHSPresentationGUI.php
Labels: bugfix, php

#8991 [FIX] #43712, #43711 UI: `Dropzone\File` test case descriptions.
  components/ILIAS/UI/src/examples/Dropzone/File/Standard/base.php
  components/ILIAS/UI/src/examples/Dropzone/File/Wrapper/with_clear_button.php
Labels: bugfix, kitchen sink

#9048 Scorm: Add some fixes for former `ilCtrl` state mutations / Part II
  components/ILIAS/ScormAicc/Editing/classes/class.ilSAHSEditGUI.php
Labels: bugfix, php

#9093 Object: fix id mapping on import (44072)
  components/ILIAS/ILIASObject/classes/class.ilObjectDataSet.php
Labels: bugfix, php

#9094 Notification: rename admin tab
  Services/Notifications/classes/class.ilObjNotificationAdminGUI.php
Labels: bugfix, php

#9098 LTI: Correction of invalid parameters and loading of the RSA-Key in the form of LTI 1.3
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderFormGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumer.php
Labels: bugfix, php

#9099 LTI: Fix for TestRail case T79661
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumeProviderSettingsGUI.php
Labels: bugfix, php

#9100 LTI: Fix for TestRail case T79653
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerProviderSelectionFormTableGUI.php
Labels: bugfix, php

#9102 DataProtection: Fix missing rbac lang vars
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#9103 DataProtection: Fix missing rbac lang vars (ILIAS 10)
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#9104 DataProtection: Fix missing rbac lang vars (ILIAS 11)
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix

#8616 IASS: 42941, check if irss resource id is null before running 'remove'.
  components/ILIAS/IndividualAssessment/classes/Members/class.ilIndividualAssessmentMembersStorageDB.php
Labels: bugfix, php

#8990 [FIX] #44019: provide `Input\UploadLimitResolver`
  components/ILIAS/Init/Init.php
  components/ILIAS/Init/src/AllModernComponents.php
  components/ILIAS/UI/UI.php
Labels: bugfix, kitchen sink

#9003 LSO: fix component names in export tail dependencies (44084)
  components/ILIAS/LearningSequence/classes/class.ilLearningSequenceExporter.php
Labels: bugfix, php

#9025 Mantis #44126 ILIAS 9: Only show a generic error message on error after auth failure
  Services/Authentication/classes/Frontend/class.ilAuthFrontend.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#9105 LTI: Fix for TestRail case T79692
  components/ILIAS/LTIProvider/classes/class.ilLTIRouterGUI.php
Labels: bugfix, php

#9090 Dashboard: fix minor bugs within the administration
  components/ILIAS/Dashboard/Administration/classes/class.ilDashboardSortationTableGUI.php
  components/ILIAS/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
  components/ILIAS/Dashboard/classes/DataRetrieval/Language.php
  components/ILIAS/Dashboard/classes/class.ilDashboardPageGUI.php
  components/ILIAS/Dashboard/classes/class.ilDashboardPageLanguageSelectGUI.php
Labels: bugfix, php

#9092 Dashboard: fix minor bugs within the administration for ILIAS 9
  Services/Dashboard/Administration/classes/class.ilDashboardSortationTableGUI.php
  Services/Dashboard/Administration/classes/class.ilObjDashboardSettingsGUI.php
Labels: bugfix, php

#9101 10/UI/tweaks drilldown
  components/ILIAS/UI/resources/js/Menu/dist/drilldown.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.factory.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.main.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.mapping.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.model.js
  components/ILIAS/UI/resources/js/Menu/src/drilldown.persistence.js
  templates/default/070-components/UI-framework/Menu/_ui-component_drilldown.scss
  templates/default/delos.css
Labels: bugfix

#9106 LTI: Fix for TestRail case T79619 and T79622
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerLaunch.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilAuthProviderLTI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSettingGUI.php
  components/ILIAS/LTIProvider/classes/class.ilLTIViewGUI.php
Labels: bugfix, php

#9007 Update ILIAS Installation Documentation
  docs/configuration/install.md
Labels: jour fixe, improvement, documentation

#9107 LTI: Removed oAuth classes to use the built-in classes of the Celtic LTI package.
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResultService.php
  components/ILIAS/LTIConsumer/src/LICENSE.txt
  components/ILIAS/LTIConsumer/src/OAuth.php
  components/ILIAS/LTIConsumer/src/TrivialOAuthDataStore.php
Labels: bugfix, php

#9074 Certificate Improvement: IRSS Migration Performance update user_cert with migrated template identification
  components/ILIAS/Certificate/classes/Setup/Migration/CertificateIRSSMigration.php
Labels: improvement, php

#8947 Mantis 0043928: Change translation to include info about not using any sign in front of value
  components/ILIAS/Form/classes/class.ilCSSRectInputGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php, Looking for Shepherd

#9119 LTI: Fix for TestRail case T79703
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerContentGUI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilAuthProviderLTI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTITool.php
Labels: bugfix, php

#9120 FIX: Redirection to settings from the context menu of LTI consumers in repository.
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerListGUI.php
Labels: bugfix, php

#9122 LTI: Fixed the context types sent by the provider platform to the tool. They now conform to the 1.3 specification.
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerLaunch.php
Labels: bugfix, php

#9028 [Course] Mantis #0043615: Initialize LOMServices
  components/ILIAS/Course/classes/class.ilECSCourseSettings.php
Labels: bugfix

#8881 Fix value presentation and allow combination input types
  Services/Form/classes/class.ilPropertyFormGUI.php
  Services/Form/js/ServiceFormMulti.js
Labels: bugfix, improvement, php, javascript, Looking for Shepherd

#9012 Export: Default to current ILIAS version if major version is missing in export
  Services/Export/classes/ImportHandler/File/XML/Schema/class.ilFactory.php
Labels: bugfix

#9011 Export: Default to current ILIAS version if major version is missing in export
  components/ILIAS/Export/classes/ImportHandler/File/XML/Export/Component/Handler.php
  components/ILIAS/Export/classes/ImportHandler/Schema/Handler.php
Labels: bugfix

#9128 T&A Bugfix: 44350: highlight tab after analyzing ErrorText Question
  components/ILIAS/TestQuestionPool/classes/class.assErrorTextGUI.php
Labels: bugfix

#8966 UI: remove indifferent aria label from viewcontrol
  components/ILIAS/UI/src/Component/ViewControl/Factory.php
  components/ILIAS/UI/src/Implementation/Component/ViewControl/Renderer.php
  components/ILIAS/UI/tests/Component/Panel/PanelTest.php
  components/ILIAS/UI/tests/Component/ViewControl/ViewControlTest.php
Labels: improvement, php

#9132 Dashboard: change presentation viewcontrol text to glyphs
  components/ILIAS/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: improvement, php

#9125 Add “How to Write a PRIVACY.md”
  docs/development/how-to-write-a-privacy.md
Labels: documentation

#9136 T&A Fix missing variable in TestOutputGUI
  Modules/Test/classes/class.ilTestOutputGUI.php
Labels: bugfix, php

#9138 T&A Fix instant_response picking error
  Modules/Test/classes/class.ilTestOutputGUI.php
Labels: bugfix, php

#9034 Update class.ilObjRemoteCourseGUI.php
  Modules/RemoteCourse/classes/class.ilObjRemoteCourseGUI.php
Labels: bugfix
