Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-09, with the labels that each got.

#8393 11/UI: Sequence Navigation
  components/ILIAS/Init/Init.php
  components/ILIAS/Init/src/AllModernComponents.php
  components/ILIAS/UI/UI.php
  components/ILIAS/UI/docs/ROADMAP.md
  components/ILIAS/UI/src/Component/Legacy/Factory.php
  components/ILIAS/UI/src/Component/Legacy/Segment.php
  components/ILIAS/UI/src/Component/Navigation/Factory.php
  components/ILIAS/UI/src/Component/Navigation/Sequence/Segment.php
  components/ILIAS/UI/src/Component/Navigation/Sequence/SegmentRetrieval.php
  components/ILIAS/UI/src/Component/Navigation/Sequence/Sequence.php
  components/ILIAS/UI/src/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Legacy/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Legacy/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Legacy/Segment.php
  components/ILIAS/UI/src/Implementation/Component/Navigation/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Navigation/Sequence/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Navigation/Sequence/Segment.php
  components/ILIAS/UI/src/Implementation/Component/Navigation/Sequence/Sequence.php
  components/ILIAS/UI/src/Implementation/Factory.php
  components/ILIAS/UI/src/Implementation/FactoryInternal.php
  components/ILIAS/UI/src/examples/Legacy/Segment/base.php
  components/ILIAS/UI/src/examples/Navigation/Sequence/base.php
  components/ILIAS/UI/src/templates/default/Navigation/tpl.sequence.html
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/Navigation/NavigationTest.php
  components/ILIAS/UI/tests/Component/Navigation/Sequence/SequenceTest.php
  components/ILIAS/UI/tests/InitUIFramework.php
  components/ILIAS/UI/tests/MainFactoryTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/030-tools/_tool_screen-reader-only.scss
  templates/default/050-layout/_layout_element-bar.scss
  templates/default/070-components/UI-framework/Button/_ui-component_button.scss
  templates/default/070-components/UI-framework/Navigation/_ui-component_sequence.scss
  templates/default/070-components/_index.scss
  templates/default/delos.css
Labels: kitchen sink, jour fixe

#9904 DataCollection: Add notification configuration
  components/ILIAS/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
  components/ILIAS/DataCollection/classes/Fields/Base/class.ilDclBaseRecordModel.php
  components/ILIAS/DataCollection/classes/Helpers/class.ilDclNotification.php
  components/ILIAS/DataCollection/classes/Helpers/class.ilDclNotificationType.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps11.php
  components/ILIAS/DataCollection/classes/class.ilDataCollectionMailNotification.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollection.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
  components/ILIAS/DataCollection/classes/ilDataCollectionAppEventListener.php
  components/ILIAS/DataCollection/module.xml
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#10013 Mantis id: 45655 Fix: initialize in ilDBUpdate to avoid crash
  Services/Component/classes/class.ilPluginDBUpdate.php
Labels: bugfix, php

#9997 Update Documentations and Deprecations of Removing LegacyUI Project
  components/ILIAS/Table/ROADMAP.md
  components/ILIAS/Table/classes/class.TableGUIRequest.php
  components/ILIAS/Table/classes/class.ilTable2GUI.php
  components/ILIAS/Table/classes/class.ilTableGUI.php
  components/ILIAS/Table/interfaces/interface.ilTableFilterItem.php
  components/ILIAS/UIComponent/Button/classes/class.ilButton.php
  components/ILIAS/UIComponent/Button/classes/class.ilButtonBase.php
  components/ILIAS/UIComponent/Button/classes/class.ilLinkButton.php
  components/ILIAS/UIComponent/Button/classes/class.ilSubmitButton.php
  components/ILIAS/UIComponent/CheckboxListOverlay/classes/class.ilCheckboxListOverlayGUI.php
  components/ILIAS/UIComponent/Confirmation/class.ilConfirmationGUI.php
  components/ILIAS/UIComponent/Confirmation/class.ilConfirmationTableGUI.php
  components/ILIAS/UIComponent/Explorer/classes/class.ilExplorer.php
  components/ILIAS/UIComponent/Explorer2/classes/class.ilExplorerBaseGUI.php
  components/ILIAS/UIComponent/Explorer2/classes/class.ilExplorerSelectInputGUI.php
  components/ILIAS/UIComponent/Explorer2/classes/class.ilTreeExplorerGUI.php
  components/ILIAS/UIComponent/NestedList/classes/class.ilNestedList.php
  components/ILIAS/UIComponent/ProgressBar/classes/class.ilProgressBar.php
  components/ILIAS/UIComponent/ROADMAP.md
  components/ILIAS/UIComponent/SyntaxHighlighter/classes/class.ilSyntaxHighlighter.php
  components/ILIAS/UIComponent/Tabs/classes/class.ilTabsGUI.php
  components/ILIAS/UIComponent/TextHighlighter/classes/class.ilTextHighlighterGUI.php
  components/ILIAS/UIComponent/Toolbar/classes/class.ilToolbarGUI.php
Labels: roadmap, documentation

#9927 Mantis #41081: Sanitize Mail Subject & Body for mb4 encoding
  Services/Mail/classes/BackgroundTask/class.ilMassMailTaskProcessor.php
  Services/Mail/classes/Object/MailPayloadEncoder.php
  Services/Mail/classes/Object/Mb3SafeMailEncoder.php
  Services/Mail/classes/Object/PureJsonMailEncoder.php
  Services/Mail/classes/Object/class.ilMailValueObjectJsonService.php
  Services/Mail/classes/Transformation/Utf8Mb4Sanitizer.php
  Services/Mail/classes/class.ilMail.php
  Services/Mail/test/ilMailTaskProcessorTest.php
Labels: bugfix, php

#10067 Forum Bugfix #0045728: detachModeratorRole uses forum_id for retrieving Participants
  Modules/Forum/classes/class.ilForumModeratorsGUI.php
Labels: bugfix, php

#10009 Certificate PHPUnit: CertificateDateHelper
  components/ILIAS/Certificate/classes/Helper/ilCertificateDateHelper.php
  components/ILIAS/Certificate/tests/ilApiUserCertificateRepositoryTest.php
  components/ILIAS/Certificate/tests/ilCertificateBaseTestCase.php
  components/ILIAS/Certificate/tests/ilCertificateDateHelperTest.php
  components/ILIAS/Certificate/tests/ilCertificateTypeClassMapTest.php
Labels: improvement, php

#9901 MediaObject: Respect proxy when determining preview image and duratio…
  Services/MediaObjects/classes/class.ilMediaItem.php
  Services/MediaObjects/classes/class.ilObjMediaObject.php
Labels: bugfix, php

#10063 Soap: Move internal soap URL into own Port. Ensure correct query params
  components/ILIAS/WebServices/SOAP/classes/class.ilSoapClient.php
  components/ILIAS/soap/lib/nusoap.php
Labels: bugfix, php

#9804 Achievements/Certificate: Provide permanent link for certificate overview
  components/ILIAS/Certificate/classes/User/class.ilUserCertificateGUI.php
  components/ILIAS/Certificate/src/StaticUrlHandler.php
Labels: improvement, php

#9322 UI11 44644: Fixes taxonomy filtering issue in question pool table
  components/ILIAS/UI/resources/js/Input/Container/dist/filter.js
  components/ILIAS/UI/resources/js/Input/Container/src/filter.main.js
Labels: bugfix, kitchen sink

#10090 DataCollection: fix copy field presentation on multiselect
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldRepresentation.php
Labels: bugfix, php

#10092 LearningSequence: Fix saving form when custom icons are not enabled
  Modules/LearningSequence/classes/Settings/class.ilObjLearningSequenceSettingsGUI.php
Labels: bugfix, php

#10089 CP 9/UI/dropdown/btn entry disabled state 45480
  src/UI/examples/Dropdown/Standard/with_buttons_and_links.php
  templates/default/070-components/UI-framework/Button/_ui-component_button.scss
  templates/default/070-components/UI-framework/Dropdown/_ui-component_dropdown.scss
  templates/default/delos.css
Labels: bugfix

#10055 T&A 45602: Fixes double page elements on error text question player view (ILIAS9)
  Modules/TestQuestionPool/classes/class.assErrorTextGUI.php
Labels: bugfix

#10054 T&A10 45602: Fixes double page elements on error text question player view
  components/ILIAS/TestQuestionPool/classes/class.assErrorTextGUI.php
Labels: bugfix

#10104 DataCollection: move selected entry of copy field to top
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldRepresentation.php
Labels: bugfix, improvement, php

#10082 T&A Fix: Ensure participants are sorted by their name in test result exports
  Modules/Test/classes/Evaluation/class.ilTestEvaluationData.php
Labels: improvement, php

#9957 Util: Fix unit test randomly fail
  components/ILIAS/Utilities/classes/class.ilUtil.php
  components/ILIAS/Utilities/tests/ilUtilTest.php
Labels: bugfix, php, Looking for Shepherd

#10124 Fix Mantis #40969: SCORM Offline/Online Status after Import
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModuleGUI.php
Labels: bugfix, php

#10122 Fix Mantis #40969: SCORM Offline/Online Status after Import
  Modules/ScormAicc/classes/class.ilObjSAHSLearningModuleGUI.php
Labels: bugfix, php

#10143 Test: Fix certificate command in tab manager
  Modules/Test/classes/class.ilTestTabsManager.php
Labels: bugfix, php

#10148 Filters: #45723
  src/UI/Implementation/Component/Input/Field/MultiSelect.php
Labels: bugfix

#10130 0045824: TypeError: ilUtil::yn2tf(): Argument #1 ($a_yn) must be of type string, null given
  Modules/ScormAicc/classes/class.ilObjSAHSLearningModule.php
Labels: bugfix, php

#10163 T&A 45856: Removes method call of resetRequestedHints
  components/ILIAS/TestQuestionPool/classes/class.assQuestionGUI.php
Labels: improvement

#9360 Feature: Add Support of Push Notification to the notifications component
  components/ILIAS/HTTP/src/StatusCode.php
  components/ILIAS/Init/Init.php
  components/ILIAS/Init/resources/service-worker.js
  components/ILIAS/JavaScript/resources/Basic.js
  components/ILIAS/Notifications/Notifications.php
  components/ILIAS/Notifications/PRIVACY.md
  components/ILIAS/Notifications/README.md
  components/ILIAS/Notifications/UserSettings/PushNotification.php
  components/ILIAS/Notifications/UserSettings/Settings.php
  components/ILIAS/Notifications/classes/Model/Push/PushQueueResult.php
  components/ILIAS/Notifications/classes/Model/Push/PushSubscription.php
  components/ILIAS/Notifications/classes/Model/ilNotificationObject.php
  components/ILIAS/Notifications/classes/Provider/NotificationsPushProvider.php
  components/ILIAS/Notifications/classes/Provider/PushNotificationMainBarProvider.php
  components/ILIAS/Notifications/classes/Provider/PushProviderInterface.php
  components/ILIAS/Notifications/classes/Repository/PushRepository.php
  components/ILIAS/Notifications/classes/Setup/PushNotificationConfig.php
  components/ILIAS/Notifications/classes/Setup/PushNotificationObjective.php
  components/ILIAS/Notifications/classes/Setup/ilNotificationUpdateAgent.php
  components/ILIAS/Notifications/classes/Setup/ilNotificationUpdateSteps11.php
  components/ILIAS/Notifications/classes/Setup/ilNotificationsSetupAgent.php
  components/ILIAS/Notifications/classes/class.ilNotificationGUI.php
  components/ILIAS/Notifications/classes/class.ilObjNotificationAdminGUI.php
  components/ILIAS/Notifications/classes/class.ilPersonalNotificationsSettingsGUI.php
  components/ILIAS/Notifications/classes/ilNotificationPushHandler.php
  components/ILIAS/Notifications/classes/ilNotificationsAppEventListener.php
  components/ILIAS/Notifications/resources/push-subscription.js
  components/ILIAS/Notifications/service.xml
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php, javascript

#10167 T&A 45712: Fix answering of essay question
  components/ILIAS/TestQuestionPool/classes/class.assTextQuestion.php
Labels: bugfix, php

#10171 Notifications: add missing user settings default
  components/ILIAS/Notifications/UserSettings/PushNotification.php
Labels: bugfix, improvement, php

#10059 Add `@rollup/plugin-node-resolve` as npm Dependency for ILIAS 11
  package-lock.json
  package.json
Labels: dependencies

#10034 [FEATURE] Docs: add information about `npm` cross-platform usage.
  docs/development/npm-cross-platform-usage.md
Labels: documentation

#10158 Add DStrassner as code authority
  docs/development/maintenance.md
Labels: technical board, documentation, authorities
