Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-03, with the labels that each got.

#9143 LTI: Fix for TestRail cases T79669 and T79650
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilAuthProviderLTI.php
Labels: bugfix, php

#9145 OrgU: 44010, check createable subobjects for empty
  components/ILIAS/OrgUnit/classes/class.ilObjOrgUnitGUI.php
Labels: bugfix

#9142 PRG: 44216, get selected standard userfields during assignment
  components/ILIAS/StudyProgramme/classes/model/Assignments/class.ilPRGAssignmentDBRepository.php
Labels: bugfix

#9057 ErrorHandling: Throw `RuntimeException` instead of `E_USER_ERROR` (PHP 8.4)
  components/ILIAS/Init/classes/class.ilErrorHandling.php
Labels: bugfix, php

#9156 LTI: Fix cookie set with same-site: None
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerContentGUI.php
Labels: bugfix, php

#9157 LTI: Removed client_id from request_uri
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTITool.php
Labels: bugfix, php

#9159 [LTI] Fix: send token correctly in outcome service (learning progress)
  components/ILIAS/LTIConsumer/LTIConsumer.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerContentGUI.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerGradeServiceScores.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResult.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResultService.php
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumer.php
  components/ILIAS/LTIConsumer/resources/ltiresult.php
  components/ILIAS/LTIConsumer/resources/ltiservices.php
  components/ILIAS/LTIProvider/classes/class.ilLTIAppEventListener.php
  components/ILIAS/LTIProvider/classes/class.ilLTICronOutcomeService.php
Labels: bugfix, php

#8597 Fix style_id type
  Services/COPage/PC/Section/class.ilPCSectionGUI.php
Labels: improvement

#8816 Object: Move Translation Table To System Folder
  components/ILIAS/SystemFolder/classes/class.ilInstallationHeadingTableGUI.php
  components/ILIAS/SystemFolder/classes/class.ilObjSystemFolderGUI.php
  components/ILIAS/SystemFolder/templates/default/tpl.installation_heading_table_row.html
Labels: improvement

#8900 COPage: 0042698, flagged drag-and-drop operation as move operation
  Services/COPage/Page/class.PageContentManager.php
Labels: bugfix

#9141 Repository: Remove InitCreation-Form
  components/ILIAS/Repository/PluginSlot/class.ilObjectPluginGUI.php
Labels: bugfix, php

#9037 Repository: Cleanup favourite setting save
  Services/Repository/Administration/class.ilObjRepositorySettingsGUI.php
Labels: bugfix, php

#9055 Survey: Reintroduce third state when checking `_lookupFinished`
  Modules/Survey/classes/class.ilObjSurveyAccess.php
Labels: bugfix, php

#9129 10 mantis ilias 43110
  components/ILIAS/SurveyQuestionPool/Export/class.SurveyImportParser.php
  components/ILIAS/SurveyQuestionPool/Export/class.ilSurveyQuestionPoolExporter.php
  components/ILIAS/SurveyQuestionPool/Export/class.ilSurveyQuestionPoolImporter.php
  components/ILIAS/SurveyQuestionPool/Export/class.ilSurveyQuestionpoolExport.php
  components/ILIAS/SurveyQuestionPool/Questions/class.ilSurveyQuestionsTableGUI.php
  components/ILIAS/SurveyQuestionPool/classes/class.ilObjSurveyQuestionPool.php
  components/ILIAS/SurveyQuestionPool/classes/class.ilObjSurveyQuestionPoolGUI.php
Labels: bugfix, php

#9113 remove residues of Workflow Engine
  components/ILIAS/WorkflowEngine/ROADMAP.md
  components/ILIAS/WorkflowEngine/Setup/class.ilWorkflowEngine9DBUpdateSteps.php
  components/ILIAS/WorkflowEngine/Setup/class.ilWorkflowEngineSetupAgent.php
  components/ILIAS/WorkflowEngine/WorkflowEngine.php
  components/ILIAS/WorkflowEngine/maintenance.json
  components/ILIAS/WorkflowEngine/service.xml
Labels: improvement

#8096 TextHandling: implement a tool to solve string-based text handling problems
  components/ILIAS/Data/src/Factory.php
  components/ILIAS/Data/src/Text/Factory.php
  components/ILIAS/Data/src/Text/HTML.php
  components/ILIAS/Data/src/Text/Markdown.php
  components/ILIAS/Data/src/Text/MarkdownFactory.php
  components/ILIAS/Data/src/Text/Markup.php
  components/ILIAS/Data/src/Text/Markup/Markdown.php
  components/ILIAS/Data/src/Text/Markup/MarkdownRegExps.php
  components/ILIAS/Data/src/Text/PlainText.php
  components/ILIAS/Data/src/Text/README.md
  components/ILIAS/Data/src/Text/Shape.php
  components/ILIAS/Data/src/Text/Shape/Markdown.php
  components/ILIAS/Data/src/Text/Shape/SimpleDocumentMarkdown.php
  components/ILIAS/Data/src/Text/Shape/WordOnlyMarkdown.php
  components/ILIAS/Data/src/Text/SimpleDocumentMarkdown.php
  components/ILIAS/Data/src/Text/Structure.php
  components/ILIAS/Data/src/Text/Text.php
  components/ILIAS/Data/src/Text/TextBase.php
  components/ILIAS/Data/src/Text/WordOnlyMarkdown.php
  components/ILIAS/Data/tests/Text/Shape/MarkdownShapeTest.php
  components/ILIAS/Data/tests/Text/Shape/SimpleDocumentMarkdownShapeTest.php
  components/ILIAS/Data/tests/Text/Shape/WordOnlyMarkdownShapeTest.php
  docs/development/text-representation.md
Labels: improvement, php

#9147 [FIX] 0044447: PermanentLink/HTTP/Cookies: Path based cookies goto.ph…
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#9170 DataCollection: fix view redirect and co style
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewDefinitionGUI.php
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  Modules/DataCollection/classes/TableView/class.ilDclTableViewEditGUI.php
Labels: bugfix, php

#9176 LTI: Updated ilLTIConsumerContentGUI to remove an unnecessary setcookie and ilLTITool to specify authentication via get.
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerContentGUI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTITool.php
Labels: bugfix, php

#9134 Update how-to-write-a-privacy.md
  docs/development/how-to-write-a-privacy.md
Labels: documentation

#9167 Add some additional rbac checks
  Modules/SystemFolder/classes/class.ilObjSystemFolderGUI.php
Labels: bugfix, php

#8964 Http: Make lists of hosts configurable in setup (ILIAS >= 10.x)
  components/ILIAS/Http_/classes/Setup/class.ilHttpConfigStoredObjective.php
  components/ILIAS/Http_/classes/Setup/class.ilHttpMetricsCollectedObjective.php
  components/ILIAS/Http_/classes/Setup/class.ilHttpSetupAgent.php
  components/ILIAS/Http_/classes/Setup/class.ilHttpSetupConfig.php
  components/ILIAS/Init/classes/class.ilInitialisation.php
  components/ILIAS/Init/src/Environment/HttpPathBuilder.php
  components/ILIAS/Init/tests/HttpPathBuilderTest.php
  components/ILIAS/setup_/README.md
Labels: bugfix, improvement, php, Looking for Shepherd

#9111 ErrorHandling/SOAP: Use SOAP exception handler for HTTP POST only
  Services/Init/classes/class.ilErrorHandling.php
Labels: bugfix, php

#9185 Saml: Security update simplesaml to 2.3.7
  composer.json
  composer.lock
Labels: dependencies, php

#9186 Saml: Security update simplesaml to 2.3.7
  composer.json
  composer.lock
Labels: dependencies, php

#9112 SOAP: Fix use of deprecated PHP filter
  components/ILIAS/soap/lib/nusoap.php
Labels: bugfix, php

#9192 Fix 44459: Cast code's type in the Initialization of SoapFault
  webservice/soap/classes/class.ilSoapAdministration.php
Labels: bugfix, php

#9194 Fix error calling LTI 1.3 tool due to typo in ilObjLTIConsumer
  Modules/LTIConsumer/classes/class.ilObjLTIConsumer.php
Labels: bugfix, php

#9175 ECS: Fixing accessing undefined key when reading assignments in cronjob
  Services/WebServices/ECS/classes/Course/class.ilECSCmsCourseMemberCommandQueueHandler.php
Labels: bugfix, php

#9179 LTI: Manage session in the LTI Protocol
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#9203 LTI: Fix correct path to get files and xml data extraction
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResultService.php
Labels: bugfix, php

#9204 ILIAS 11: Remove Certificate-Id Migration
  components/ILIAS/Certificate/classes/Setup/Migration/CertificateIdMigration.php
  components/ILIAS/Certificate/classes/Setup/class.ilCertificatSetupAgent.php
Labels: improvement, php

#9206 LTI: Fixed LTIView priority in LtiViewLayoutProvider.php
  components/ILIAS/LTIProvider/classes/Screen/LtiViewLayoutProvider.php
Labels: bugfix, php

#9199 UI: 43796, adjust section's label size for formulars.
  templates/default/070-components/UI-framework/Input/_ui-component_section.scss
  templates/default/delos.css
Labels: bugfix

#8981 Fix Failed Test: "Read only" für Administration
  components/ILIAS/Accessibility/classes/class.ilObjAccessibilitySettingsGUI.php
Labels: bugfix, php

#9215 Taking over authorities for HTML Learning Modules
  components/ILIAS/HTMLLearningModule/maintenance.json
  docs/development/maintenance.md
Labels: authorities

#7544 App: Use PHP core randomizer and remove `Randomization` component
  components/ILIAS/COPage/ID/class.ContentIdGenerator.php
  components/ILIAS/Cache_/classes/class.ilCache.php
  components/ILIAS/Calendar/classes/class.ilCalendarAppointmentColors.php
  components/ILIAS/Calendar/classes/class.ilCalendarAuthenticationToken.php
  components/ILIAS/MediaObjects/ImageMap/class.ilImageMapEditorGUI.php
  components/ILIAS/MetaData/classes/class.ilMDTaxon.php
  components/ILIAS/PrivacySecurity/classes/class.ilSecuritySettingsChecker.php
  components/ILIAS/Randomization/Randomization.php
  components/ILIAS/Randomization/classes/class.ilRandom.php
  components/ILIAS/Randomization/maintenance.json
  components/ILIAS/Randomization/phpunit.xml
  components/ILIAS/Randomization/service.xml
  components/ILIAS/Randomization/tests/ilRandomTest.php
  components/ILIAS/Style/Content/classes/class.ilObjStyleSheet.php
  components/ILIAS/TestQuestionPool/tests/ilAssQuestionSkillAssignmentRegistryTest.php
  components/ILIAS/WebAccessChecker/classes/class.ilWACToken.php
  components/ILIAS/Wiki/classes/class.ilWikiPage.php
Labels: improvement, php

#9225 LTI: Fixed consumer copying
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumer.php
Labels: bugfix, php

#9180 _10/UI/Chart/ProgressMeeter-match-goal-arrow-and-bar_43602
  components/ILIAS/UI/src/Implementation/Component/Chart/ProgressMeter/Renderer.php
  components/ILIAS/UI/tests/Component/Chart/ProgressMeter/ChartProgressMeterTest.php
  components/ILIAS/UI/tests/Component/Item/ItemTest.php
Labels: bugfix, kitchen sink

#9218 User Bugfix #0044535: Autofill of "Maximum Login Attempts" is invalid
  Services/User/classes/class.ilObjUserFolderGUI.php
Labels: bugfix, php

#9232 DataCollection: fix assignment of standard fields on xlsx export
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordModel.php
Labels: bugfix, php

#9201 Object: read out timings from crs timing view correctly (41946)
  Services/Object/classes/class.ilObjectActivation.php
Labels: bugfix, php

#9198 UI: 44402, adjust button's width in the correction table for cloze qu…
  Modules/TestQuestionPool/classes/tables/class.ilAnswerFrequencyStatisticTableGUI.php
Labels: bugfix

#9200 T&A Mantis #0044579: Participant Data are skipped during Excel Statistic Export
  Modules/Test/classes/class.ilExcelTestExport.php
  Modules/Test/classes/class.ilTestExportAbstract.php
Labels: bugfix, php

#9237 Fix regression error: use PHP core randomizer
  components/ILIAS/Init/classes/class.ilErrorHandling.php
Labels: bugfix, php

#9196 Test: Prevent "LOCK" situation for fixed questions
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/js/ilTestPlayerQuestionEditControl.js
Labels: bugfix, php

#9243 Dashboard: remove pagination from admin setting
  Services/Dashboard/Administration/classes/class.ilDashboardSortationTableGUI.php
Labels: bugfix, php

#9241 ILIAS 11: Use KS forms in ilMailMemberSearchGUI
  components/ILIAS/Contact/classes/class.ilMailMemberSearchGUI.php
Labels: improvement, php

#9239 ILIAS 11: Use KS forms in ilObjContactAdministrationGUI
  components/ILIAS/Contact/classes/class.ilObjContactAdministrationGUI.php
Labels: improvement, php

#9240 updated HUN lang file
  lang/ilias_hu.lang
Labels: improvement

#9109 T&A Bugfix: Import of Tests with Images takes exponentially longer than normal
  components/ILIAS/TestQuestionPool/classes/import/qti12/class.assQuestionImport.php
Labels: bugfix, php

#9230 Mantis #32086: Fix deleted objects (trashed) shown in role auto complete
  Services/AccessControl/classes/class.ilRoleAutoComplete.php
Labels: bugfix, php

#9226 LDAP: Make user defined pattern matching more robust if pattern contains RegEx delimiter
  Services/Authentication/classes/class.ilAuthModeDetermination.php
  Services/Authentication/classes/class.ilAuthUtils.php
  Services/LDAP/classes/class.ilLDAPRoleAssignmentRule.php
Labels: bugfix, php

#9221 T&A 44619: Fixes error on kprim question correction statistics page
  Modules/TestQuestionPool/classes/tables/class.ilKprimChoiceAnswerFreqStatTableGUI.php
Labels: bugfix, php

#9151 T&A9 43838: Redirects user to test tab when test attempt gets finished by administrator
  Modules/Test/classes/class.ilTestOutputGUI.php
Labels: bugfix, php

#9065 T&A 43423: Addition of optional working time column in participants table
  components/ILIAS/Test/src/Participants/ParticipantTable.php
  components/ILIAS/Test/src/Results/Data/AttemptOverview.php
  components/ILIAS/Test/src/Results/Data/Factory.php
Labels: improvement, php

#9227 T&A 44512: Fixes issue with pool_title column in tst_rnd_quest_set_qpls not being able to fit all data in some cases
  Modules/TestQuestionPool/classes/Setup/class.ilTestQuestionPool9DBUpdateSteps.php
Labels: bugfix, php

#9220 T&A 44580: Fixes wrong learning progress determination when passing second - Nth attempt/pass
  Modules/Test/classes/class.ilCronFinishUnfinishedTestPasses.php
  Modules/Test/classes/class.ilTestEvaluationGUI.php
  Modules/Test/classes/class.ilTestPassFinishTasks.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/test/ilTestPassFinishTasksTest.php
Labels: bugfix, php

#9096 T&A9 43729: Fixes error when trying to apply personal settings to a test
  Modules/Test/classes/MainSettings/class.ilObjTestSettingsMainGUI.php
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, php

#9250 LTI: Fix - Add redirection endpoint to access after the user accepts the "Terms of Service"
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#9242 Mantis #38284: Force local auth mode in local registration when not the default
  Services/Registration/classes/class.ilAccountRegistrationGUI.php
Labels: bugfix, php

#9252 Dashboard: fix sortation of entries sort-by-date
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: bugfix, php

#9228 T&A 44463: Fixes test exporting dates using incorrect timezone
  Modules/Test/classes/MainSettings/ilObjTestSettingsAccess.php
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, php

#9255 User/Import: Use `isset(...)` instead `is_null(...)`
  Services/User/classes/class.ilUserImportParser.php
Labels: improvement, php

#9052 XmlParsing: Fix PHP 8.4 deprecations
  components/ILIAS/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordParser.php
  components/ILIAS/Category/Export/class.ilCategoryImportParser.php
  components/ILIAS/Category/Export/class.ilCategoryXmlParser.php
  components/ILIAS/Chatroom/classes/class.ilChatroomXMLParser.php
  components/ILIAS/Component/classes/class.ilComponentDefinitionReader.php
  components/ILIAS/ContainerReference/classes/class.ilContainerReferenceXmlParser.php
  components/ILIAS/Exercise/classes/class.ilExerciseXMLParser.php
  components/ILIAS/Export/classes/class.ilExportFileParser.php
  components/ILIAS/Export/classes/class.ilManifestParser.php
  components/ILIAS/File/classes/class.ilFileXMLParser.php
  components/ILIAS/Folder/classes/class.ilFolderXmlParser.php
  components/ILIAS/Forum/classes/class.ilForumXMLParser.php
  components/ILIAS/ILIASObject/classes/class.ilObjectDefinition.php
  components/ILIAS/LearningSequence/classes/Export/class.ilLearningSequenceXMLParser.php
  components/ILIAS/MetaData/classes/class.ilMDSaxParser.php
  components/ILIAS/QTI/classes/class.ilQTIParser.php
  components/ILIAS/ScormAicc/classes/SCORM/class.ilSCORMPackageParser.php
  components/ILIAS/Style/Content/classes/class.ilStyleImportParser.php
  components/ILIAS/SurveyQuestionPool/Export/class.SurveyImportParser.php
  components/ILIAS/Test/classes/class.ilObjTestXMLParser.php
  components/ILIAS/Test/classes/class.ilTestResultsImportParser.php
  components/ILIAS/Test/classes/class.ilTestSkillLevelThresholdXmlParser.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPoolXMLParser.php
  components/ILIAS/TestQuestionPool/classes/class.ilQuestionPageParser.php
  components/ILIAS/TestQuestionPool/classes/questions/class.ilAssQuestionSkillAssignmentXmlParser.php
  components/ILIAS/User/classes/class.ilUserImportParser.php
  components/ILIAS/WebResource/classes/class.ilWebLinkXmlParser.php
  components/ILIAS/Xml/classes/class.ilSaxController.php
  components/ILIAS/soap/classes/class.ilCopyWizardSettingsXMLParser.php
  components/ILIAS/soap/classes/class.ilObjectXMLParser.php
  components/ILIAS/soap/classes/class.ilSoapMailXmlParser.php
  components/ILIAS/soap/classes/class.ilXMLResultSetParser.php
  components/ILIAS/soap/lib/nusoap.php
Labels: bugfix, php

#9015 10/UI/DataTable-Ordering mobile style 44049
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.eot
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.json
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.ttf
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.woff
  components/ILIAS/UI/src/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/Implementation/Component/Table/Renderer.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/DragHandle/dragHandle.php
  components/ILIAS/UI/src/templates/default/Symbol/tpl.glyph.html
  components/ILIAS/UI/src/templates/default/Table/tpl.orderingcell.html
  components/ILIAS/UI/src/templates/default/Table/tpl.orderingtable.html
  components/ILIAS/UI/tests/Component/Symbol/Glyph/GlyphTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
  templates/default/070-components/UI-framework/Symbol/_ui-component_glyph.scss
  templates/default/070-components/UI-framework/Table/_ui-component_table.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#9110 SOAP: Fix calling `getInstallationInfoXML`
  Services/Init/classes/class.ilInitialisation.php
Labels: bugfix, php

#9195 UI: 44282, add padding to .c-form in maincontrols-slate-content
  templates/default/070-components/UI-framework/MainControls/Slate/_ui-component_slate.scss
  templates/default/delos.css
Labels: bugfix

#9223 T&A 44644: Fixes taxonomy filtering issue in question pool table
  src/UI/templates/js/Input/Container/dist/filter.js
  src/UI/templates/js/Input/Container/src/filter.main.js
Labels: bugfix, javascript

#8812 introduce catamorphism for ui components
  components/ILIAS/UI/src/Component/Component.php
  components/ILIAS/UI/src/Implementation/Component/ComponentHelper.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Container.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Group.php
  components/ILIAS/UI/src/examples/Input/Container/Form/Standard/catamorph.php
  components/ILIAS/UI/src/examples/Input/Container/ViewControl/Standard/catamorph.php
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/ComponentHelperTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/FilterTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormTest.php
  components/ILIAS/UI/tests/Component/Modal/InterruptiveTest.php
  components/ILIAS/UI/tests/Component/Panel/PanelTest.php
Labels: improvement, php

#9258 User Bugfix #0044705: ilObjUser::_getUsersForFolder(ref_id) calculates wrong Users
  Services/User/classes/class.ilObjUser.php
Labels: bugfix, php

#8825 T&A: Ghost Attempts & correct detection of unfinished test passes
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix, php

#9266 Components revision SCORM paths
  components/ILIAS/Scorm2004/Scorm2004.php
  components/ILIAS/ScormAicc/ScormAicc.php
  components/ILIAS/ScormAicc/templates/default/tpl.sahs_pres_frameset_js_debug.html
  components/ILIAS/ScormAicc/templates/default/tpl.sahs_pres_frameset_js_debug_one_page.html
  components/ILIAS/ScormAicc/templates/default/tpl.sahs_pres_frameset_js_one_page.html
Labels: php

#9269 Shibboleth: allow tags in login page instructions
  Services/AuthShibboleth/classes/Config/class.ilShibbolethSettingsForm.php
Labels: bugfix, php

#9045 [PROPOSAL] deprecation of active record
  components/ILIAS/ActiveRecord/class.ActiveRecord.php
Labels: improvement

#9219 T&A 44486: Fixes umlaute not being displayed correctly in correction tab of text subset question
  Modules/Test/classes/class.ilTestCorrectionsGUI.php
  Modules/TestQuestionPool/classes/class.assTextSubsetGUI.php
  Modules/TestQuestionPool/classes/class.ilAnswerWizardInputGUI.php
  Modules/TestQuestionPool/classes/forms/class.ilAssAnswerCorrectionsInputGUI.php
Labels: bugfix, php

#9274 Test: Fix checking access for numeric-string
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#9256 Mantis 44504 (reopened): fix position write access
  Services/User/classes/class.ilObjUserGUI.php
Labels: bugfix

#9212 streamlining for import/export; fixes for event handling
  components/ILIAS/File/classes/class.ilFileExporter.php
  components/ILIAS/Forum/classes/class.ilForumExporter.php
  components/ILIAS/IndividualAssessment/classes/class.ilIndividualAssessmentExporter.php
  components/ILIAS/IndividualAssessment/tests/ilIndividualAssessmentExporterTest.php
  components/ILIAS/LearningSequence/classes/class.ilLearningSequenceAppEventListener.php
  components/ILIAS/LearningSequence/classes/class.ilLearningSequenceExporter.php
  components/ILIAS/LearningSequence/module.xml
  components/ILIAS/Notification/classes/class.ilNotificationAppEventListener.php
  components/ILIAS/Search/classes/class.ilSearchAppEventListener.php
  components/ILIAS/Search/service.xml
  components/ILIAS/Session/classes/class.ilSessionDataSet.php
  components/ILIAS/Session/classes/class.ilSessionExporter.php
  components/ILIAS/StudyProgramme/classes/class.ilStudyProgrammeAppEventListener.php
  components/ILIAS/StudyProgramme/module.xml
  components/ILIAS/Test/classes/class.ilTestExporter.php
  components/ILIAS/Tracking/classes/class.ilTrackingAppEventListener.php
  components/ILIAS/Tracking/service.xml
  components/ILIAS/User/classes/class.ilUserAppEventListener.php
  components/ILIAS/User/service.xml
  components/ILIAS/WebResource/classes/class.ilWebResourceExporter.php
Labels: bugfix, php

#9056 Math: Throw `DomainException` instead of `E_USER_ERROR` (PHP 8.4)
  components/ILIAS/Math/classes/class.ilMathBaseAdapter.php
Labels: bugfix, php

#8978 T&A 30750: Poor performance using "Corrections"
  Modules/Test/classes/Evaluation/class.ilTestEvaluationFactory.php
  Modules/Test/classes/class.ilTestCorrectionsGUI.php
  Modules/Test/classes/class.ilTestScoring.php
  Modules/Test/test/ilTestScoringTest.php
  Modules/TestQuestionPool/classes/class.assClozeTest.php
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
Labels: bugfix, php

#9277 T&A 30750/10: Poor performance using "Corrections"
  components/ILIAS/Test/classes/Evaluation/class.ilTestEvaluationFactory.php
  components/ILIAS/Test/classes/class.ilTestCorrectionsGUI.php
  components/ILIAS/Test/src/Scoring/Manual/TestScoring.php
  components/ILIAS/TestQuestionPool/classes/class.assClozeTest.php
  components/ILIAS/TestQuestionPool/classes/class.assClozeTestGUI.php
Labels: bugfix

#9249 PRG: 44473, do not offer 'relevant' for draft nodes
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgramme.php
  components/ILIAS/StudyProgramme/classes/class.ilStudyProgrammeIndividualPlanTableGUI.php
  components/ILIAS/StudyProgramme/classes/class.ilStudyProgrammeMembersTableGUI.php
  components/ILIAS/StudyProgramme/classes/class.ilStudyProgrammeUserTable.php
  components/ILIAS/StudyProgramme/classes/ilStudyProgrammeUserTableRow.php
Labels: bugfix

#9208 PRG, 44594: param might be null
  components/ILIAS/StudyProgramme/classes/model/AutoMemberships/class.ilStudyProgrammeMembershipSourceReaderOrgu.php
Labels: bugfix, php

#9270 T&A 35875: Prevents a multiple choice question to give negative points when answered fully correctly
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9148 PRG: 44213, standard tabs/behavior for delete
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgrammeGUI.php
Labels: bugfix

#9202 OrgU: 44587, add/remove staff only with edit permission
  components/ILIAS/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitUserAssignmentDBRepository.php
  components/ILIAS/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitUserAssignmentGUI.php
Labels: bugfix, php
