Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-06, with the labels that each got.

#9563 UI: 43333, adjust testcase for the UI element Date Time.
  components/ILIAS/UI/src/examples/Input/Field/DateTime/base.php
Labels: bugfix

#9602 Forum UI/DataTable: ilForumNotificationTableGUI
  components/ILIAS/Forum/classes/Notification/ForumNotificationTable.php
  components/ILIAS/Forum/classes/Notification/class.ilForumNotificationEventsFormGUI.php
  components/ILIAS/Forum/classes/Notification/class.ilForumNotificationTableGUI.php
  components/ILIAS/Forum/classes/class.ilForumSettingsGUI.php
  components/ILIAS/Forum/templates/default/tpl.forums_members_list.html
  components/ILIAS/Forum/templates/default/tpl.forums_members_row.html
Labels: improvement, php

#9647 Skill: move db calls from root to leaf of skill service tree
  Services/Skill/Service/classes/class.SkillInternalManagerService.php
  Services/Skill/Service/classes/class.SkillInternalService.php
  Services/Skill/Service/classes/class.SkillService.php
  Services/Skill/Tree/class.SkillTreeManager.php
Labels: bugfix

#9557 [FIX] #37528 UI: add `File\Dropzone` cancelation of uploads.
  src/UI/templates/js/Dropzone/File/dropzone.js
  src/UI/templates/js/Input/Field/file.js
Labels: bugfix, kitchen sink, javascript

#9643 T&A 44339: Fixes error when trying to apply old nr of tries in personal test settings
  Modules/Test/classes/class.ilObjTest.php
Labels: bugfix

#9646 TA: 45200, skip permission check for cmd='autosave' in ilObjTestGUI
  components/ILIAS/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#9656 CSS: Change Focus on btn-file to Make Perceivable
  templates/default/030-tools/_tool_focus-outline.scss
  templates/default/delos.css
Labels: bugfix

#9655 OrgUnit: simple xml export option was hidden, adjusts export option name
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportOptionXML.php
Labels: bugfix, php

#9588 StudyProgramme: Fix undefined ilObjectCustomIconFactory
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgramme.php
Labels: bugfix, php

#9664 TermsOfService: Fix "reset ToS" button
  Services/TermsOfService/classes/Settings.php
  Services/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#9665 TermsOfService: Fix "reset ToS" button (ILIAS 10)
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#9666 TermsOfService: Fix "reset ToS" button (ILIAS 11)
  components/ILIAS/TermsOfService/classes/class.ilObjTermsOfServiceGUI.php
Labels: bugfix, php

#9649 Create PRIVACY.md
  components/ILIAS/LTIProvider/PRIVACY.md
Labels: improvement

#9669 Export: Adds flag to constructor of export gui to allow the standard export option to be disabled
  components/ILIAS/Export/classes/class.ilExportGUI.php
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportGUI.php
Labels: improvement, php

#9675 LegalDocuments: Use default lang if user has no language set (ILIAS 11)
  components/ILIAS/LegalDocuments/classes/Condition/Definitions/UserLanguageDefinition.php
  components/ILIAS/LegalDocuments/classes/Condition/UserLanguage.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/UI.php
  components/ILIAS/LegalDocuments/tests/Condition/UserLanguageTest.php
Labels: bugfix, php

#9678 BookingManager: fix files in calendar (43574)
  components/ILIAS/BookingManager/Objects/class.ObjectsDBRepository.php
  components/ILIAS/BookingManager/Objects/class.ObjectsManager.php
  components/ILIAS/Calendar/classes/AppointmentPresentation/class.ilAppointmentPresentationBookingPoolGUI.php
  components/ILIAS/Calendar/classes/FileHandler/class.ilAppointmentBookingPoolFileHandler.php
Labels: bugfix, php

#9160 UI Improvement: Hierarchy Arrows Learning Progress
  components/ILIAS/Tracking/classes/repository_statistics/class.ilLPListOfSettingsGUI.php
  components/ILIAS/Tracking/templates/default/tpl.lp_obj_settings_tree_info.html
Labels: improvement

#9616 Auth: Fix issues reported by SCA tools (plus boyscouting)
  components/ILIAS/Authentication/classes/Cookie/class.ilCookie.php
  components/ILIAS/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserAttributeMapping.php
  components/ILIAS/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserAttributeMappingRule.php
  components/ILIAS/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserCreationAttributeMappingFilter.php
  components/ILIAS/Authentication/classes/External/UserAttributeMapping/class.ilExternalAuthUserUpdateAttributeMappingFilter.php
  components/ILIAS/Authentication/classes/Form/ApacheAuthSettingsForm.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontend.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendCredentials.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsApache.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsHTTP.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendCredentialsSoap.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendFactory.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendHTTP.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthFrontendWS.php
  components/ILIAS/Authentication/classes/Frontend/class.ilAuthStandardFormFrontend.php
  components/ILIAS/Authentication/classes/Logout/ConfigurableLogoutTarget.php
  components/ILIAS/Authentication/classes/Pages/AuthPageLanguagesOverviewTable.php
  components/ILIAS/Authentication/classes/Password/class.LocalUserPasswordEncoderFactory.php
  components/ILIAS/Authentication/classes/Password/class.LocalUserPasswordManager.php
  components/ILIAS/Authentication/classes/Password/class.ilLocalUserPasswordSettingsGUI.php
  components/ILIAS/Authentication/classes/Provider/class.ilAuthProvider.php
  components/ILIAS/Authentication/classes/Provider/class.ilAuthProviderCliFactory.php
  components/ILIAS/Authentication/classes/Provider/class.ilAuthProviderFactory.php
  components/ILIAS/Authentication/classes/Setup/class.ilSessionMaxIdleIsSetObjective.php
  components/ILIAS/Authentication/classes/StaticUrlHandler.php
  components/ILIAS/Authentication/classes/class.ilAuthFactory.php
  components/ILIAS/Authentication/classes/class.ilAuthModeDetermination.php
  components/ILIAS/Authentication/classes/class.ilAuthPageEditorGUI.php
  components/ILIAS/Authentication/classes/class.ilAuthPlugin.php
  components/ILIAS/Authentication/classes/class.ilAuthSession.php
  components/ILIAS/Authentication/classes/class.ilAuthStatus.php
  components/ILIAS/Authentication/classes/class.ilAuthUtils.php
  components/ILIAS/Authentication/classes/class.ilLoginPage.php
  components/ILIAS/Authentication/classes/class.ilLogoutPage.php
  components/ILIAS/Authentication/classes/class.ilObjAuthSettings.php
  components/ILIAS/Authentication/classes/class.ilObjAuthSettingsAccess.php
  components/ILIAS/Authentication/classes/class.ilObjAuthSettingsGUI.php
  components/ILIAS/Authentication/classes/class.ilSession.php
  components/ILIAS/Authentication/classes/class.ilSessionControl.php
  components/ILIAS/Authentication/classes/class.ilSessionDBHandler.php
  components/ILIAS/Authentication/classes/class.ilSessionIStorage.php
  components/ILIAS/Authentication/classes/class.ilSessionReminder.php
  components/ILIAS/Authentication/classes/class.ilSessionReminderCheck.php
  components/ILIAS/Authentication/classes/class.ilSessionReminderGUI.php
  components/ILIAS/Authentication/classes/class.ilSessionStatistics.php
  components/ILIAS/Authentication/classes/class.ilSessionStatisticsGUI.php
  components/ILIAS/Authentication/interfaces/interface.ilAuthCredentials.php
  components/ILIAS/Authentication/interfaces/interface.ilAuthDefinition.php
  components/ILIAS/Authentication/interfaces/interface.ilAuthFrontendInterface.php
  components/ILIAS/Authentication/interfaces/interface.ilAuthProviderAccountMigrationInterface.php
  components/ILIAS/Authentication/interfaces/interface.ilAuthProviderInterface.php
Labels: improvement, php

#9447 UI: adjust dropdown menu width and multi select checkboxes in dropdow…
  templates/default/070-components/UI-framework/Dropdown/_ui-component_dropdown.scss
  templates/default/070-components/UI-framework/Input/_ui-component_multiselect.scss
  templates/default/delos.css
Labels: bugfix

#9658 SurveyQuestionPool: Adds counter as prefix to titles of excel spreadsheets to avoid duplicated names
  Modules/Survey/Evaluation/class.ilSurveyEvaluationGUI.php
Labels: bugfix, php

#9642 ContentStyles: Fix usage of `ilRandom`
  components/ILIAS/Style/Content/Style/StyleRepo.php
Labels: bugfix, php

#9413 Exercise: Make migrations more robust if no step is left
  Modules/Exercise/classes/Setup/class.ilExerciseInstructionFilesMigration.php
  Modules/Exercise/classes/Setup/class.ilExerciseSampleSolutionMigration.php
  Modules/Exercise/classes/Setup/class.ilExerciseTutorFeedbackFileMigration.php
  Modules/Exercise/classes/Setup/class.ilExerciseTutorTeamFeedbackFileMigration.php
Labels: bugfix, php

#9355 Glossary: add migration to delete LOM remnants of definitions
  components/ILIAS/Glossary/ROADMAP.md
  components/ILIAS/Glossary/classes/Setup/class.ilGlossaryDeleteLOMOfDefinitionsMigration.php
  components/ILIAS/Glossary/classes/Setup/class.ilGlossarySetupAgent.php
Labels: improvement, php

#9476 Remove deprecated MetaData classes, last usages
  components/ILIAS/AdvancedMetaData/classes/class.ilAdvancedMDParser.php
  components/ILIAS/Export/xml/ilias_spl_11_0.xsd
  components/ILIAS/MediaObjects/MediaObject/class.ilObjMediaObject.php
  components/ILIAS/MetaData/ROADMAP.md
  components/ILIAS/MetaData/classes/Settings/Copyright/class.ilMDCopyrightSelectionEntry.php
  components/ILIAS/MetaData/classes/class.ilMD.php
  components/ILIAS/MetaData/classes/class.ilMD2XML.php
  components/ILIAS/MetaData/classes/class.ilMDAnnotation.php
  components/ILIAS/MetaData/classes/class.ilMDBase.php
  components/ILIAS/MetaData/classes/class.ilMDClassification.php
  components/ILIAS/MetaData/classes/class.ilMDContribute.php
  components/ILIAS/MetaData/classes/class.ilMDCreator.php
  components/ILIAS/MetaData/classes/class.ilMDDescription.php
  components/ILIAS/MetaData/classes/class.ilMDEducational.php
  components/ILIAS/MetaData/classes/class.ilMDEntity.php
  components/ILIAS/MetaData/classes/class.ilMDFormat.php
  components/ILIAS/MetaData/classes/class.ilMDGeneral.php
  components/ILIAS/MetaData/classes/class.ilMDIdentifier.php
  components/ILIAS/MetaData/classes/class.ilMDIdentifier_.php
  components/ILIAS/MetaData/classes/class.ilMDKeyword.php
  components/ILIAS/MetaData/classes/class.ilMDLanguage.php
  components/ILIAS/MetaData/classes/class.ilMDLanguageElement.php
  components/ILIAS/MetaData/classes/class.ilMDLanguageItem.php
  components/ILIAS/MetaData/classes/class.ilMDLifecycle.php
  components/ILIAS/MetaData/classes/class.ilMDLocation.php
  components/ILIAS/MetaData/classes/class.ilMDMetaMetadata.php
  components/ILIAS/MetaData/classes/class.ilMDOrComposite.php
  components/ILIAS/MetaData/classes/class.ilMDRelation.php
  components/ILIAS/MetaData/classes/class.ilMDRequirement.php
  components/ILIAS/MetaData/classes/class.ilMDRights.php
  components/ILIAS/MetaData/classes/class.ilMDSaxParser.php
  components/ILIAS/MetaData/classes/class.ilMDTaxon.php
  components/ILIAS/MetaData/classes/class.ilMDTaxonPath.php
  components/ILIAS/MetaData/classes/class.ilMDTechnical.php
  components/ILIAS/MetaData/classes/class.ilMDTypicalAgeRange.php
  components/ILIAS/MetaData/classes/class.ilMDUtilSelect.php
  components/ILIAS/MetaData/classes/class.ilMDUtils.php
  components/ILIAS/MetaData/classes/class.ilMDXMLCopier.php
  components/ILIAS/Survey/classes/class.ilObjSurveyGUI.php
  components/ILIAS/SurveyQuestionPool/Export/class.SurveyImportParser.php
  components/ILIAS/SurveyQuestionPool/classes/class.ilObjSurveyQuestionPool.php
  components/ILIAS/SurveyQuestionPool/classes/class.ilObjSurveyQuestionPoolGUI.php
  components/ILIAS/TestQuestionPool/classes/class.ilQuestionPageParser.php
Labels: improvement, php

#9628 Mantis 45178: Data in loc_user_results is stored wrong for qualifying tests, if multiple initial and qualifying tests are used
  Modules/Course/classes/Objectives/class.ilLOTestAssignments.php
Labels: bugfix, php

#9452 Statistics and Learning Progress: add Datacollection
  Services/Tracking/classes/class.ilLPTableBaseGUI.php
Labels: improvement, php

#9437 Tracking: Fix access to undefined array index on export
  Services/Tracking/classes/repository_statistics/class.ilTrObjectUsersPropsTableGUI.php
Labels: bugfix, php

#9405 [Mantis 44906] ilCalendarCategories should only cache instances that it…
  Services/Calendar/classes/class.ilCalendarCategories.php
Labels: bugfix, php

#9238 Group(-Reference): Bugfix 043739: Group Links in Dashboard Error
  Modules/GroupReference/classes/class.ilObjGroupReferenceListGUI.php
Labels: bugfix, php

#9695 OpenIDConnect: Support SCIM-like `roles` specification
  Services/OpenIdConnect/classes/class.ilOpenIdConnectUserSync.php
Labels: bugfix, improvement, php

#9696 Badge: Improve performance of objects table by preloading identificat…
  components/ILIAS/Badge/classes/class.ilObjectBadgeTableGUI.php
Labels: bugfix, improvement, php

#9701 [LTI] Fix: LP percentage of groups and courses
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResult.php
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerResultService.php
  components/ILIAS/LTIProvider/classes/class.ilLTIAppEventListener.php
Labels: bugfix, php

#9519 [FIX] 0044037: Repository object plugins are not listed in "add new object" modal
  components/ILIAS/Component/classes/class.ilComponentInfo.php
  components/ILIAS/Repository/Administration/class.ilObjRepositorySettings.php
Labels: bugfix

#9710 [LTI] Fix: user login fixed
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumer.php
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
Labels: bugfix, php

#9713 DataCollection: Fix Typo
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextRecordRepresentation.php
Labels: bugfix, php

#9721 0045247: Häufig auftretende Exceptions: Undefined array key "readPermissions"
  Modules/Scorm2004/classes/class.ilSCORM13PlayerGUI.php
Labels: php

#9749 Update example of Strict-Transport-Security header flag max_age to one year as required
  docs/configuration/secure.md
Labels: bugfix, documentation

#9732 IASS: 44489, declare property
  Modules/IndividualAssessment/classes/Setup/class.IndAssStorageMigration.php
Labels: bugfix

#9718 IRSS/Flavour/Engine: Don't use `Imagick` method if not "running"
  src/ResourceStorage/Flavour/Engine/ImagickEngine.php
Labels: bugfix, php

#9726 IASS: 44875, fix goto with only visible permission
  components/ILIAS/IndividualAssessment/classes/class.ilObjIndividualAssessmentGUI.php
Labels: bugfix

#9747 T&A10 45311: Fixes issue with malformed points in manual participant scoring
  components/ILIAS/Test/src/Scoring/Manual/class.TestScoringByParticipantGUI.php
Labels: bugfix, php

#9737 T&A9 45211: Fixes single choice answers throwing an exception when adding comma values for points
  Modules/TestQuestionPool/classes/class.assClozeTestGUI.php
  Modules/TestQuestionPool/classes/class.assQuestionGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
Labels: bugfix

#9736 T&A 44821: Fixes being able to change answers of Hotspot/Imagemap after correct submit
  components/ILIAS/TestQuestionPool/resources/js/dist/question_handling.js
Labels: bugfix

#9740 T&A 45341/45342: Fixes import of solution values in single, multiple and kprim choice questions and vertical order questions
  Modules/Test/classes/class.ilTestResultsImportParser.php
  Modules/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  Modules/TestQuestionPool/classes/class.assSingleChoiceGUI.php
Labels: bugfix

#9677 T&A 45201: Fixes undefined key when copying certain tests with multiple choice questions with feedback
  Modules/TestQuestionPool/classes/class.assMultipleChoice.php
Labels: bugfix, php

#9652 UI/RadioInput: 45176, add default constraint for required
  lang/ilias_de.lang
  lang/ilias_en.lang
  src/UI/Implementation/Component/Input/Field/Radio.php
Labels: bugfix
