Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-01, with the labels that each got.

#8779 Change Bylines respecting Mantis 43293
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement

#8782 UI/Viewcontrols: 43190, JS using factory
  components/ILIAS/UI/src/Implementation/Component/ViewControl/Renderer.php
Labels: bugfix, kitchen sink

#8786 Badges: Bugfixes after testing
  components/ILIAS/Badge/classes/class.ilBadgeGUIRequest.php
  components/ILIAS/Badge/classes/class.ilBadgeImageTemplateTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeManagementGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTypesTableGUI.php
  components/ILIAS/Badge/classes/class.ilObjBadgeAdministrationGUI.php
  components/ILIAS/Badge/classes/class.ilObjectBadgeTableGUI.php
Labels: bugfix, php

#8788 Auth: Fix static URL handler uses `ILIAS_HTTP_PATH`
  components/ILIAS/Authentication/classes/StaticUrlHandler.php
Labels: bugfix, php

#8793 CopyWizard: Fix duplicate copies (in 2nd - nth target) when selecting…
  Services/CopyWizard/classes/class.ilCopyWizardOptions.php
Labels: bugfix, php

#8776 Certificate Bugfix #0043386: Global Background Image not being saved to db
  components/ILIAS/Certificate/classes/class.ilCertificateGUI.php
Labels: bugfix, php

#8778 [FIX] Docs: enforce file extensions for ES6 import specifiers.
  .eslintrc.json
  docs/development/js-coding-style.md
Labels: documentation

#8797 changes to security.md for patch application
  docs/development/security.md
Labels: documentation

#8791 LegalDocuments: Fix duplicated onscreen message (ILIAS 11)
  components/ILIAS/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
Labels: bugfix, php

#8789 LegalDocuments: Fix duplicated onscreen message
  Services/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
Labels: bugfix, php

#8790 LegalDocuments: Fix duplicated onscreen message (ILIAS 10)
  components/ILIAS/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
Labels: bugfix, php

#8784 UI/Form: 43303, describedby not allowed on form, role='form' superflous
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Form/Renderer.php
  components/ILIAS/UI/src/templates/default/Input/tpl.standard.html
  components/ILIAS/UI/src/templates/default/Input/tpl.viewcontrol_container.html
  components/ILIAS/UI/src/templates/default/Input/tpl.without_submit_buttons.html
  components/ILIAS/UI/tests/Component/Dropzone/File/StandardTest.php
  components/ILIAS/UI/tests/Component/Dropzone/File/WrapperTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormWithoutSubmitButtonsTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/StandardFormTest.php
  components/ILIAS/UI/tests/Component/Launcher/LauncherInlineTest.php
Labels: bugfix, kitchen sink

#8804 LegalDocuments: Show error message on invalid order in Administration (ILIAS 9)
  Services/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8803 LegalDocuments: Show error message on invalid order in Administration
  components/ILIAS/LegalDocuments/classes/class.ilLegalDocumentsAdministrationGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#7789 privacy.md Learning Sequence
  components/ILIAS/LearningSequence/PRIVACY.md
Labels: documentation

#8568 Contact: Remove dependencies on jQuery
  components/ILIAS/Contact/BuddySystem/templates/default/tpl.buddy_system_relation_table_listener.html
  components/ILIAS/Contact/resources/buddy_system.js
  components/ILIAS/User/classes/Gallery/class.ilUsersGalleryGUI.php
Labels: improvement, php

#8794 Test: Fix Detailed evaluation show questions not answered
  Modules/Test/classes/Evaluation/class.ilTestEvaluationFactory.php
Labels: bugfix, php

#8807 Badges: Fix updating activity badge
  components/ILIAS/Badge/classes/class.ilBadgeManagementGUI.php
Labels: bugfix, php

#8806 Fix Mantis #43027: Comments in lang file entries are displayed
  components/ILIAS/Language/templates/default/tpl.lang_items_row.html
Labels: bugfix, php

#8633 Footer: Copy permalink to clipboard (ILIAS 10)
  components/ILIAS/UI/UI.php
  components/ILIAS/UI/resources/js/MainControls/dist/footer.min.js
  components/ILIAS/UI/resources/js/MainControls/rollup.config.js
  components/ILIAS/UI/resources/js/MainControls/src/footer.js
  components/ILIAS/UI/resources/js/MainControls/src/footer/permalink.js
  components/ILIAS/UI/src/Implementation/Component/MainControls/Renderer.php
  components/ILIAS/UI/src/templates/default/MainControls/tpl.permanent-link.html
  components/ILIAS/UI/tests/Client/MainControls/permalink.test.js
  components/ILIAS/UI/tests/Component/MainControls/FooterTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: kitchen sink, improvement, php, javascript

#8634 Footer: Copy permalink to clipboard (ILIAS 11)
  components/ILIAS/UI/UI.php
  components/ILIAS/UI/resources/js/MainControls/dist/footer.min.js
  components/ILIAS/UI/resources/js/MainControls/rollup.config.js
  components/ILIAS/UI/resources/js/MainControls/src/footer.js
  components/ILIAS/UI/resources/js/MainControls/src/footer/permalink.js
  components/ILIAS/UI/src/Implementation/Component/MainControls/Renderer.php
  components/ILIAS/UI/src/templates/default/MainControls/tpl.permanent-link.html
  components/ILIAS/UI/tests/Client/MainControls/permalink.test.js
  components/ILIAS/UI/tests/Component/MainControls/FooterTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: kitchen sink, improvement, php, javascript

#8592 DataCollection: deassign PerPascalSeeland from authority
  docs/development/maintenance.md
Labels: authorities

#8593 DataCollection: deassign PerPascalSeeland from authority for TRUNK
  docs/development/maintenance.md
Labels: authorities

#8553 Docs/Authorities: Add `tjoussen` to authorities for "Login, Auth & Registration"
  docs/development/maintenance.md
Labels: documentation, authorities

#8809 Datacollection: Fix file (inc. media) record upload changes and deletions
  Modules/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  Modules/DataCollection/classes/Fields/File/class.ilDclFileRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Mob/class.ilDclMobRecordFieldModel.php
  Modules/DataCollection/templates/default/tpl.record_list_row.html
Labels: bugfix, improvement, php

#8813 DataCollection:fix operator use
  components/ILIAS/DataCollection/classes/Table/class.ilDclTable.php
Labels: bugfix

#8808 Badges: Fix missing badge id in "Pagination" of data table
  components/ILIAS/Badge/classes/class.ilBadgeManagementGUI.php
Labels: bugfix, php

#8747 [FIX] UI: create client-side random ids in any context.
  components/ILIAS/UI/resources/js/Core/dist/core.js
  components/ILIAS/UI/resources/js/Core/rollup.config.js
  components/ILIAS/UI/resources/js/Core/src/TemplateRenderer.js
  components/ILIAS/UI/resources/js/Core/src/core.URLBuilderToken.js
  components/ILIAS/UI/resources/js/Core/src/createRandomString.js
Labels: kitchen sink, improvement, javascript

#8819 Certificate Bugfix: Add Missing Migration Certificate Global Background Image
  components/ILIAS/Certificate/classes/Setup/Migration/CertificateIRSSMigration.php
Labels: bugfix, php

#8826 DataCollection: Improve UI of listing and states
  components/ILIAS/DataCollection/classes/Fields/Boolean/class.ilDclBooleanRecordRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/class.ilDclFieldListTableGUI.php
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableEditGUI.php
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableListGUI.php
  components/ILIAS/DataCollection/classes/TableView/class.ilDclTableViewGUI.php
Labels: bugfix, improvement, php

#8830 DataCollection: fix import escaping
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableListGUI.php
  components/ILIAS/DataCollection/classes/class.ilDataCollectionDataSet.php
Labels: bugfix, php

#8822 T&A 43349: Allow empty values in modal to make an anonymous test available without login
  Modules/Test/classes/TestScreen/class.ilTestScreenGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8785 Obj (OrgU): 43252, load lang-module 'obj' in constructor of ilObjectGUI
  components/ILIAS/ILIASObject/classes/class.ilObjectGUI.php
Labels: bugfix

#8838 DataCollection: change single view item to enlarge
  components/ILIAS/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
Labels: bugfix, php

#8741 Badge: Don't execute initialization during IRSS migrations
  components/ILIAS/Badge/classes/Setup/class.ilBadgeTemplatesFilesMigration.php
  components/ILIAS/Badge/classes/Setup/class.ilBadgesFilesMigration.php
Labels: bugfix, php

#8497 UI/Mainbar: 42574, keep context and focus slate entries
  components/ILIAS/UI/resources/js/MainControls/dist/mainbar.js
  components/ILIAS/UI/resources/js/MainControls/rollup.config.js
  components/ILIAS/UI/resources/js/MainControls/src/mainbar.renderer.js
Labels: bugfix, kitchen sink, javascript

#8836 OrgUnit: fix saving of adv md dates (43385)
  components/ILIAS/OrgUnit/classes/class.ilObjOrgUnitGUI.php
Labels: bugfix, php

#8834 Remove phpmailer patch
  composer.json
  vendor/composer/patches/phpmailer.patch
Labels: improvement

#8844 Possible Fix for Mantis 43614: Fix duplicate global roles for FILTER_ALL
  Services/AccessControl/classes/class.ilRbacReview.php
Labels: bugfix, php

#8849 Badges Bugfix WAC
  components/ILIAS/Badge/classes/class.ilBadge.php
  components/ILIAS/Badge/classes/class.ilBadgeImage.php
  components/ILIAS/Badge/classes/class.ilBadgeImageTemplate.php
  components/ILIAS/Badge/classes/class.ilObjectBadgeTableGUI.php
  components/ILIAS/Badge/tests/TileTest.php
Labels: bugfix, php

#8624 Fix TestExport using own file system instead of irss
  components/ILIAS/Export/classes/class.ilExportGUI.php
  components/ILIAS/Test/classes/class.ilObjTest.php
  components/ILIAS/Test/classes/class.ilTestExportOptionXML.php
  components/ILIAS/Test/src/ExportImport/Export.php
  components/ILIAS/TestQuestionPool/classes/class.ilTestQuestionPoolExportOptionXML.php
Labels: bugfix

#8852 [FIX] Component: return `Component\EntryPoint` status
  components/ILIAS/Component/src/Dependencies/Renderer.php
  components/ILIAS/Component/tests/Dependencies/scenarios/result1.php
  components/ILIAS/Component/tests/Dependencies/scenarios/result2.php
  components/ILIAS/Component/tests/Dependencies/scenarios/result3.php
  components/ILIAS/Component/tests/Dependencies/scenarios/result4.php
  components/ILIAS/Component/tests/Dependencies/scenarios/result5.php
Labels: improvement, php

#8850 Forum: Fix export/import of attachments
  components/ILIAS/Forum/classes/class.ilForumExporter.php
  components/ILIAS/Forum/classes/class.ilForumXMLWriter.php
Labels: bugfix, php

#8857 UI/Legacy: legacy() returns factory, more fixing after merge
  components/ILIAS/Authentication/classes/class.ilObjAuthSettingsGUI.php
  components/ILIAS/COPage/Editor/Server/class.UIWrapper.php
  components/ILIAS/COPage/Page/class.PageQueryActionHandler.php
  components/ILIAS/Calendar/classes/ConsultationHours/BookingCancellationGUI.php
  components/ILIAS/Calendar/classes/class.ilCalendarBlockGUI.php
  components/ILIAS/Chatroom/classes/gui/class.ilChatroomViewGUI.php
  components/ILIAS/Exercise/PeerReview/class.ilExPeerReviewGUI.php
  components/ILIAS/Export/Print/class.PrintProcessGUI.php
  components/ILIAS/GlobalScreen_/classes/UI/Footer/Translation/class.ilFooterTranslationGUI.php
  components/ILIAS/Glossary/Flashcard/class.ilGlossaryFlashcardGUI.php
  components/ILIAS/Glossary/classes/class.ilObjGlossaryGUI.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/Blocks.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/WithdrawProcess.php
  components/ILIAS/LegalDocuments/classes/Table/DocumentTable.php
  components/ILIAS/Like/classes/class.ilLikeGUI.php
  components/ILIAS/MediaCast/Presentation/class.McstImageGalleryGUI.php
  components/ILIAS/MediaCast/Presentation/class.McstPodcastGUI.php
  components/ILIAS/MetaData/classes/Editor/class.ilMDEditorGUI.php
  components/ILIAS/Repository/GlobalScreen/classes/RepositoryMainBarProvider.php
  components/ILIAS/Skill/Personal/class.ilPersonalSkillsGUI.php
  components/ILIAS/Survey/Execution/class.LaunchGUI.php
  components/ILIAS/Survey/Execution/class.ilSurveyExecutionGUI.php
  components/ILIAS/SurveyQuestionPool/Questions/class.SurveyQuestionGUI.php
  components/ILIAS/SystemFolder/classes/class.ilSystemSupportContactsGUI.php
  components/ILIAS/Test/classes/Screen/class.ilTestPlayerLayoutProvider.php
  components/ILIAS/Test/classes/class.ilTestPlayerAbstractGUI.php
  components/ILIAS/Test/src/Scoring/Manual/class.TestScoringByQuestionGUI.php
  components/ILIAS/UI/src/examples/Layout/Page/Standard/ui.php
  components/ILIAS/UI/src/examples/Modal/Interruptive/show_modal_on_button_click.php
  components/ILIAS/User/classes/Gallery/class.ilUsersGalleryGUI.php
  components/ILIAS/WebResource/classes/class.ilObjLinkResourceGUI.php
  components/ILIAS/WebServices/ECS/classes/Consent/class.ilECSUserConsentModalGUI.php
  components/ILIAS/Wiki/classes/class.ilWikiStatGUI.php
Labels: kitchen sink, improvement

#8818 UI: move UI\Component\Table\Storage up to UI\Storage
  components/ILIAS/Authentication/Authentication.php
  components/ILIAS/UI/UI.php
  components/ILIAS/UI/src/Storage.php
Labels: kitchen sink

#8835 Export: fix export files missing content, mantis 43545, 43362
  components/ILIAS/Export/classes/ExportHandler/Manager/Handler.php
Labels: bugfix, php

#8867 Bugfix for irss clone in badges for ILIAS 10 & trunk
  components/ILIAS/Badge/classes/class.ilBadge.php
Labels: bugfix, php

#8864 DataCollection: removed page objects for `createviewtable` and `editviewtable`
  Modules/DataCollection/classes/CreateView/class.ilDclCreateViewDefinition.php
  Modules/DataCollection/classes/CreateView/class.ilDclCreateViewDefinitionConfig.php
  Modules/DataCollection/classes/CreateView/class.ilDclCreateViewDefinitionGUI.php
  Modules/DataCollection/classes/EditView/class.ilDclEditViewDefinition.php
  Modules/DataCollection/classes/EditView/class.ilDclEditViewDefinitionConfig.php
  Modules/DataCollection/classes/EditView/class.ilDclEditViewDefinitionGUI.php
Labels: improvement, php

#8862 Auth Mantis# 0043568: Error Shibboleth Auth Mode LocalPasswordSettingsGUI
  components/ILIAS/Authentication/classes/Password/class.ilLocalUserPasswordSettingsGUI.php
Labels: bugfix, php

#8815 Docs/Authorities: Remove `PerPascalSeeland` from authorities for "Log…
  docs/development/maintenance.md
Labels: jour fixe, documentation, authorities

#8403 Table/Overlays/Templates: Remove legacy overlays (and with this: tabl…
  components/ILIAS/DataCollection/classes/CreateView/class.ilDclCreateViewTableGUI.php
  components/ILIAS/DataCollection/classes/EditView/class.ilDclEditViewTableGUI.php
  components/ILIAS/DataCollection/classes/Fields/class.ilDclFieldListTableGUI.php
  components/ILIAS/DataCollection/classes/TableView/class.ilDclTableViewEditFieldsTableGUI.php
  components/ILIAS/Exercise/Submission/class.ilExerciseSubmissionTableGUI.php
  components/ILIAS/Scorm2004/classes/class.ilSCORM2004TrackingItemsTableGUI.php
  components/ILIAS/ScormAicc/classes/class.ilSCORMTrackingItemsTableGUI.php
  components/ILIAS/Table/Table.php
  components/ILIAS/Table/classes/class.TableGUIRequest.php
  components/ILIAS/Table/classes/class.ilTable2GUI.php
  components/ILIAS/Table/classes/class.ilTableTemplatesStorage.php
  components/ILIAS/Table/src/Setup/LegacyTableSetupAgent.php
  components/ILIAS/Table/src/Setup/LegacyTableUpdateSteps11.php
  components/ILIAS/Table/templates/default/tpl.table2.html
  components/ILIAS/UIComponent/Overlay/classes/class.ilOverlayGUI.php
  components/ILIAS/UIComponent/Overlay/dev.txt.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8870 Type error fixed
  components/ILIAS/Scorm2004/classes/class.ilObjSCORM2004LearningModule.php
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModule.php
Labels: bugfix, php

#8872 Type error fixed
  components/ILIAS/Scorm2004/classes/class.ilObjSCORM2004LearningModule.php
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModule.php
Labels: bugfix, php

#8869 UI/Mainbar: 42574, fix typo
  components/ILIAS/UI/resources/js/MainControls/dist/mainbar.js
  components/ILIAS/UI/resources/js/MainControls/src/mainbar.renderer.js
Labels: bugfix, kitchen sink, javascript

#8874 Type error fixed
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModule.php
Labels: bugfix, php

#8876 Type error fixed
  Modules/Scorm2004/classes/class.ilObjSCORM2004LearningModule.php
  Modules/ScormAicc/classes/class.ilObjSAHSLearningModule.php
Labels: bugfix, php

#8875 Type error fixed
  components/ILIAS/ScormAicc/classes/class.ilObjSAHSLearningModule.php
Labels: bugfix, php

#8860 T&A 43537: Fixes permission error when editing a question in page editor
  components/ILIAS/COPage/PC/Question/class.ilPCQuestionGUI.php
Labels: bugfix, php

#8847 Test: Remove Dependence on jQuery-UI from LongMenu
  components/ILIAS/TestQuestionPool/classes/class.assLongMenu.php
  components/ILIAS/TestQuestionPool/classes/class.assLongMenuGUI.php
  components/ILIAS/TestQuestionPool/resources/js/dist/longMenuQuestionPlayer.js
  components/ILIAS/TestQuestionPool/templates/default/tpl.il_as_qpl_longmenu_question_text_gap.html
  templates/default/070-components/legacy/Modules/_component_test_legacy.scss
  templates/default/delos.css
Labels: bugfix

#8843 Update Dependencies after Release v9.7
  composer.lock
Labels: technical board, dependencies

#8608 Privacy.md for Study Programme
  components/ILIAS/StudyProgramme/PRIVACY.md
Labels: documentation

#8772 Test: Fix `\ilTestEvaluationUserData::getAvailablePoints` accesses un…
  Modules/Test/classes/class.ilTestEvaluationUserData.php
Labels: bugfix, php

#8883 [FIX] CI: remove composer-autoload import from PHP-CS-Fixer config.
  scripts/PHP-CS-Fixer/code-format.php_cs
Labels: improvement

#8781 File, fix of #42633
  components/ILIAS/File/classes/Preview/class.ilObjFilePreviewRendererGUI.php
Labels: bugfix

#8885 DataCollection: fix collision of multiple datatype properties
  Modules/DataCollection/js/datacollection.js
Labels: bugfix, php

#8759 Obj: 43324, _lookupDeletedDate will return null for missing entry
  components/ILIAS/ILIASObject/classes/class.ilObject.php
Labels: bugfix

#8801 LegalDocuments: Fix label & dpro column in user administration table
  Services/User/classes/class.ilUserQuery.php
  Services/User/classes/class.ilUserTableGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8894 RTE: Fix Clean-Up of Existing Images
  components/ILIAS/Forum/classes/Purifier/class.ilHtmlForumPostPurifier.php
  components/ILIAS/RTE/classes/class.ilRTE.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssHtmlPurifier.php
Labels: bugfix

#8898 TinyMCE: Fix license warning when using TinyMCE editor
  components/ILIAS/RTE/templates/default/tpl.tinymce.js
  components/ILIAS/RTE/templates/default/tpl.tinymce_frm_post.js
  components/ILIAS/RTE/templates/default/tpl.usereditor.js
Labels: bugfix, javascript

#8868 T&A 43575: Removes additional time, when removing participant data
  components/ILIAS/Test/classes/class.ilObjTest.php
  components/ILIAS/Test/src/Participants/Participant.php
  components/ILIAS/Test/src/Participants/ParticipantRepository.php
  components/ILIAS/Test/src/Participants/ParticipantTableExtraTimeAction.php
Labels: bugfix, php

#8863 T&A 43576: Allows sorting of a tests participant list by matriculation number and test id
  components/ILIAS/Test/src/Participants/ParticipantTable.php
Labels: bugfix, php

#8829 Fix offset not in array if on last page and filter is applied.
  components/ILIAS/UI/src/Implementation/Component/Input/ViewControl/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Table/Data.php
Labels: bugfix, kitchen sink, php

#8861 T&A 43267: Fixes being able to save a question with no positive point answers (Matching question)
  components/ILIAS/TestQuestionPool/classes/forms/class.ilAssMatchingPairCorrectionsInputGUI.php
  components/ILIAS/TestQuestionPool/classes/ilTestLegacyFormsHelper.php
Labels: bugfix, php

#8846 Badge/User: Improve toggling hidden badges in public profile
  components/ILIAS/Badge/Badge.php
  components/ILIAS/Badge/js/ilBadge.js
  components/ILIAS/Badge/resources/PublicProfileBadges.js
  components/ILIAS/User/classes/Profile/class.ilPublicUserProfileGUI.php
  components/ILIAS/User/templates/default/tpl.usr_public_profile.html
Labels: bugfix, improvement, php, javascript

#8893 File: Fix undefined Variable
  components/ILIAS/ResourceStorage/src/Consumer/ContainerURIConsumer.php
Labels: bugfix

#8903 Saml: Add level.logger migration note to readme
  Services/Saml/README.md
Labels: documentation

#8904 Saml: Add level.logger migration note to readme (ILIAS 10)
  components/ILIAS/Saml/README.md
Labels: documentation

#8901 [Dependencies] Fix "lock file does not contain a compatible set of packages"
  composer.lock
Labels: technical board, dependencies

#8880 Setup: I want to allow plugins to have an Setup\Agent in src/ directory
  components/ILIAS/Setup/src/AbstractOfFinder.php
Labels: improvement

#8854 #0043452: getTreeChilds & getXMLTree: add checks for empty types and user_ids
  webservice/soap/classes/class.ilObjectXMLWriter.php
  webservice/soap/classes/class.ilSoapObjectAdministration.php
  webservice/soap/include/inc.soap_functions.php
Labels: bugfix, php

#8884 [Improvement] Check skipped major objective early on before updating the database
  components/ILIAS/Database/classes/Setup/class.ilDatabaseUpdateStepsExecutedObjective.php
Labels: improvement

#8206 DataCollection: export options
  components/ILIAS/DataCollection/classes/class.ilDataCollectionExportOptionsXLSX.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: improvement, php

#8916 File: Fix Missing Flavour in Tile
  Modules/File/classes/ObjectProperties/FileObjectPropertyProviders.php
Labels: bugfix

#8496 App: Support PHP 8.4
  .github/workflows/checks.yml
  .github/workflows/install-check-trunk-8.4.yml
  README.md
  components/ILIAS/setup_/classes/class.ilCommonSetupAgent.php
  composer.json
  composer.lock
  docs/configuration/install.md
Labels: improvement, dependencies, php, documentation, Looking for Shepherd

#8920 0043656: SCORM-Player is flooding the logs
  Modules/Scorm2004/classes/class.ilSCORM13PlayerGUI.php
Labels: bugfix, php

#8922 0043656: SCORM-Player is flooding the logs
  components/ILIAS/Scorm2004/classes/class.ilSCORM13PlayerGUI.php
Labels: bugfix, php

#8923 0042271: Scorm-Module lassen sich nicht kopieren
  Modules/ScormAicc/classes/SCORM/class.ilSCORMPackageParser.php
Labels: bugfix, php

#8924 0042271: Scorm-Module lassen sich nicht kopieren
  components/ILIAS/ScormAicc/classes/SCORM/class.ilSCORMPackageParser.php
Labels: bugfix, php

#8925 Trunk
  components/ILIAS/ScormAicc/classes/SCORM/class.ilSCORMPackageParser.php
Labels: bugfix, php

#8931 [FIX] UI: implicitly nullable parameter declarations (php8.4)
  components/ILIAS/UI/src/Component/Button/Factory.php
  components/ILIAS/UI/src/Component/Card/Factory.php
  components/ILIAS/UI/src/Component/Input/Field/Factory.php
  components/ILIAS/UI/src/Component/Input/Field/Radio.php
  components/ILIAS/UI/src/Component/Launcher/Launcher.php
  components/ILIAS/UI/src/Component/Layout/Page/Factory.php
  components/ILIAS/UI/src/Component/MainControls/MainBar.php
  components/ILIAS/UI/src/Component/Modal/Factory.php
  components/ILIAS/UI/src/Component/Modal/InterruptiveItem/Factory.php
  components/ILIAS/UI/src/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Component/Table/Column/Column.php
  components/ILIAS/UI/src/Component/Tree/Node/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Button/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Button/Toggle.php
  components/ILIAS/UI/src/Implementation/Component/Card/Card.php
  components/ILIAS/UI/src/Implementation/Component/Card/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Chart/ProgressMeter/ProgressMeter.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/ViewControl/ViewControl.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Radio.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/UploadLimitResolver.php
  components/ILIAS/UI/src/Implementation/Component/Launcher/Inline.php
  components/ILIAS/UI/src/Implementation/Component/Layout/Page/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Listing/Entity/EntityListing.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/MainBar.php
  components/ILIAS/UI/src/Implementation/Component/MainControls/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Modal/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Modal/InterruptiveItem/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Modal/InterruptiveItem/Standard.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/Implementation/Component/Table/Column/Column.php
  components/ILIAS/UI/src/Implementation/Component/Tree/Node/Bylined.php
  components/ILIAS/UI/src/Implementation/Component/Tree/Node/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Tree/Node/KeyValue.php
  components/ILIAS/UI/src/Implementation/Component/Tree/Node/Node.php
  components/ILIAS/UI/src/Implementation/Component/Tree/Node/Simple.php
  components/ILIAS/UI/src/Implementation/Crawler/Crawler.php
  components/ILIAS/UI/src/Implementation/Crawler/FactoriesCrawler.php
  components/ILIAS/UI/src/Implementation/Render/Template.php
  components/ILIAS/UI/src/Implementation/Render/ilTemplateWrapper.php
  components/ILIAS/UI/src/examples/Table/Data/base.php
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/MainControls/SystemInfoTest.php
  components/ILIAS/UI/tests/Component/Tree/Node/NodeTest.php
  components/ILIAS/UI/tests/Renderer/AbstractRendererTest.php
  components/ILIAS/UI/tests/Renderer/ilIndependentTemplate.php
  components/ILIAS/UI/tests/UITestHelper.php
Labels: kitchen sink, improvement

#8932 DataCollection: Typo
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#8895 DataCollection: Revision of the Placeholder Usage
  components/ILIAS/DataCollection/classes/Content/class.ilDclRecordListTableGUI.php
  components/ILIAS/DataCollection/classes/DetailedView/class.ilDclDetailedViewDefinition.php
  components/ILIAS/DataCollection/classes/DetailedView/class.ilDclDetailedViewDefinitionGUI.php
  components/ILIAS/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  components/ILIAS/DataCollection/classes/Fields/Mob/class.ilDclMobRecordRepresentation.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps9.php
  components/ILIAS/DataCollection/classes/Table/class.ilDclTable.php
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableHelper.php
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableListGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8930 Notifications: Use explicit nullable types
  components/ILIAS/Notifications/classes/Setup/ilNotificationUpdateAgent.php
  components/ILIAS/Notifications/classes/ilNotificationSettingsTable.php
  components/ILIAS/Notifications/classes/ilNotificationSystem.php
Labels: improvement, php

#8926 10/UI/Input/Section mobil layout shift 42785
  templates/default/070-components/UI-framework/Input/_ui-component_optionalgroups.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#8937 UI Components, fix validate issue, see #43609
  components/ILIAS/UI/src/Implementation/Component/Tree/Node/Renderer.php
  components/ILIAS/UI/src/templates/default/Tree/tpl.node.html
  components/ILIAS/UI/tests/Component/Tree/ExpandableTreeTest.php
  components/ILIAS/UI/tests/Component/Tree/Node/BylineNodeTest.php
  components/ILIAS/UI/tests/Component/Tree/Node/KeyValueNodeTest.php
  components/ILIAS/UI/tests/Component/Tree/Node/SimpleNodeTest.php
Labels: bugfix, kitchen sink

#8936 Fix typo in ilias_de.lang (ILIAS v10)
  lang/ilias_de.lang
Labels: improvement

#8935 Fix typo in ilias_de.lang (ILIAS v9)
  lang/ilias_de.lang
Labels: improvement

#8943 UI Components, fix validate issue, remove dialog from modal role 43609
  components/ILIAS/UI/src/templates/default/Modal/tpl.interruptive.html
  components/ILIAS/UI/src/templates/default/Modal/tpl.lightbox.html
  components/ILIAS/UI/src/templates/default/Modal/tpl.roundtrip.html
  components/ILIAS/UI/src/templates/default/Prompt/tpl.prompt.html
  components/ILIAS/UI/src/templates/default/Table/tpl.datatable.html
  components/ILIAS/UI/tests/Component/Dropzone/File/StandardTest.php
  components/ILIAS/UI/tests/Component/Dropzone/File/WrapperTest.php
  components/ILIAS/UI/tests/Component/Launcher/LauncherInlineTest.php
  components/ILIAS/UI/tests/Component/Modal/InterruptiveTest.php
  components/ILIAS/UI/tests/Component/Modal/LightboxTest.php
  components/ILIAS/UI/tests/Component/Modal/RoundTripTest.php
  components/ILIAS/UI/tests/Component/Table/DataRendererTest.php
Labels: bugfix, kitchen sink, improvement
