Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-07, with the labels that each got.

#9772 [LTI] Fix: add permission checks for provider table commands
  components/ILIAS/LTIConsumer/classes/class.ilLTIConsumerAdministrationGUI.php
Labels: bugfix, php

#9768 UI/Radio: 45401, value must be null or option (instead of empty string)
  Modules/Test/classes/ScoreReporting/ilObjTestSettingsGamification.php
  tests/UI/Component/Input/Field/RadioInputTest.php
Labels: bugfix, kitchen sink

#9769 UI/Radio: 45401, value must be null or option (instead of empty string)
  components/ILIAS/Test/src/Settings/ScoreReporting/SettingsGamification.php
  components/ILIAS/UI/tests/Component/Input/Field/RadioInputTest.php
Labels: bugfix

#9775 DataCollection: fix various bugs in copy, calculation and details
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  Modules/DataCollection/classes/Fields/Formula/FormulaParser/Result/MathResultResolver.php
  Modules/DataCollection/classes/TableView/class.ilDclTableViewFieldSetting.php
  Modules/DataCollection/classes/class.ilObjDataCollection.php
Labels: bugfix, php

#9783 Mants #45420: Fix Forum Post draft can't be published
  components/ILIAS/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#9784 DataCollection: refactor exceptions
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
  Modules/DataCollection/exceptions/ilDclException.php
  Modules/DataCollection/exceptions/ilDclInputException.php
  Modules/DataCollection/exceptions/ilDclNoTableviewException.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#9790 Certificate Bugfix: Adds missing Certificate Migration for UdpateSteps11
  components/ILIAS/Certificate/classes/Setup/class.ilCertificatSetupAgent.php
Labels: bugfix, php

#9760 PRG: 45394, sort assignment dates
  components/ILIAS/StudyProgramme/classes/class.ilStudyProgrammeUserTable.php
Labels: bugfix

#9730 LSO: 37065, search backwards _and also forwards_ to possible next item
  Modules/LearningSequence/classes/Player/class.ilLSCurriculumBuilder.php
  Modules/LearningSequence/classes/Player/class.ilLSPlayer.php
  Modules/LearningSequence/classes/Player/class.ilObjLearningSequenceLearnerGUI.php
  Modules/LearningSequence/test/Player/LSPlayerTest.php
  Modules/LearningSequence/test/ilModulesLearningSequenceSuite.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9567 DataCollection: Role-based View Limitation
  components/ILIAS/DataCollection/classes/Content/class.ilDclRecordEditGUI.php
  components/ILIAS/DataCollection/classes/CreateView/class.ilDclCreateViewTableGUI.php
  components/ILIAS/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
  components/ILIAS/DataCollection/classes/EditView/class.ilDclEditViewTableGUI.php
  components/ILIAS/DataCollection/classes/Fields/class.ilDclFieldListTableGUI.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps11.php
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableEditGUI.php
  components/ILIAS/DataCollection/classes/TableView/class.ilDclTableView.php
  components/ILIAS/DataCollection/classes/TableView/class.ilDclTableViewEditFieldsTableGUI.php
  components/ILIAS/DataCollection/classes/TableView/class.ilDclTableViewEditFormGUI.php
  components/ILIAS/DataCollection/classes/TableView/class.ilDclTableViewEditGUI.php
  components/ILIAS/DataCollection/classes/TableView/class.ilDclTableViewGUI.php
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionAccess.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#9797 Modules/File Mantis #0045376 Fix "open in external editor" action for Workspace
  Modules/File/classes/Capabilities/Check/EditContent.php
  Modules/File/classes/class.ilObjFileGUI.php
Labels: bugfix, php

#9799 Update Dependencies after Release v9.11
  composer.lock
Labels: technical board, dependencies

#9805 [LTI] Chore: Removed deprecated ilCtrl methods
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
  components/ILIAS/LTIProvider/resources/lti.php
Labels: php

#9771 Mantis #45338: Reduce permissions for "Forum Moderator" role template
  components/ILIAS/Forum/classes/Setup/class.ilForumDatabaseUpdateSteps11.php
  components/ILIAS/Forum/classes/Setup/class.ilForumSetupAgent.php
Labels: bugfix, php

#9765 UI: 42784, disable first level of switchable group
  components/ILIAS/UI/src/Component/Input/Field/SwitchableGroup.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/SwitchableGroup.php
  components/ILIAS/UI/src/examples/Input/Field/SwitchableGroup/base.php
  components/ILIAS/UI/src/examples/Input/Field/SwitchableGroup/with_disabled_group_switch.php
  components/ILIAS/UI/src/templates/default/Input/tpl.switchablegroup_label.html
  components/ILIAS/UI/tests/Component/Input/Field/SwitchableGroupInputTest.php
Labels: bugfix, kitchen sink, jour fixe, php

#9806 Export: adds export configs to the new export structure
  components/ILIAS/COPage/classes/class.ilCOPageExportConfig.php
  components/ILIAS/COPage/classes/class.ilCOPageExporter.php
  components/ILIAS/Export/classes/ExportHandler/Consumer/ExportConfig/BasicHandler.php
  components/ILIAS/Export/classes/ExportHandler/Consumer/ExportConfig/Collection.php
  components/ILIAS/Export/classes/ExportHandler/Consumer/ExportConfig/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Consumer/ExportOption/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Consumer/ExportWriter/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Consumer/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Consumer/Handler.php
  components/ILIAS/Export/classes/ExportHandler/I/Consumer/ExportConfig/CollectionInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Consumer/ExportConfig/FactoryInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Consumer/ExportConfig/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Consumer/ExportWriter/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Consumer/FactoryInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Consumer/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Info/Export/Component/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Info/Export/Container/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Info/Export/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Manager/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Part/Component/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/I/Repository/Element/Wrapper/IRSS/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/Info/Export/Component/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Info/Export/Container/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Info/Export/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Info/Export/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Info/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Manager/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Part/Component/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Repository/Element/Wrapper/IRSS/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Table/DataRetrieval/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Table/DataRetrieval/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Table/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Table/Handler.php
  components/ILIAS/Export/classes/ExportHandler/Target/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Wrapper/DataFactory/Factory.php
  components/ILIAS/Export/classes/ExportHandler/Wrapper/Factory.php
  components/ILIAS/Export/classes/Setup/BuildExportOptionsMapObjective.php
  components/ILIAS/Export/classes/class.ilExport.php
  components/ILIAS/Export/classes/class.ilExportGUI.php
  components/ILIAS/LearningModule/Export/class.ilContObjectExport.php
  components/ILIAS/LearningModule/Export/class.ilLearningModuleExportConfig.php
  components/ILIAS/LearningModule/Export/class.ilLearningModuleExporter.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolExportConfig.php
  components/ILIAS/MediaPool/classes/class.ilMediaPoolExporter.php
  components/ILIAS/MediaPool/classes/class.ilObjMediaPool.php
  components/ILIAS/Skill/Export/class.ilSkillExportConfig.php
  components/ILIAS/Skill/Export/class.ilSkillExporter.php
  components/ILIAS/Skill/Node/class.ilSkillTreeNodeGUI.php
  components/ILIAS/Skill/Profile/class.ilSkillProfileGUI.php
Labels: bugfix, php

#9818 DataCollection: fix plugin installation
  Modules/DataCollection/classes/Fields/Plugin/class.ilDclFieldTypePlugin.php
Labels: bugfix, php

#9831 Scorm: Readd Form to Import Tracking Data
  components/ILIAS/ScormAicc/classes/class.ilObjSCORMLearningModuleGUI.php
Labels: bugfix

#9838 BookingManager 42784: Disable group switch parent options only
  components/ILIAS/BookingManager/Service/Form/FormAdapterGUI.php
  components/ILIAS/BookingManager/Settings/class.SettingsGUI.php
Labels: bugfix, php

#9792 OrgU/Export: 45295, separate toolbar-building from content
  components/ILIAS/Export/classes/class.ilExportGUI.php
  components/ILIAS/OrgUnit/classes/class.ilOrgUnitExportGUI.php
Labels: bugfix, php

#9812 DataCollection: refactor text input field
  components/ILIAS/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/File/class.ilDclFileRecordQueryObject.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextRecordFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextRecordQueryObject.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextRecordRepresentation.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps10.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionObjective.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionSetupAgent.php
  components/ILIAS/DataCollection/classes/class.ilDataCollectionDataSet.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#9759 CSS: Transfer "Authority to (De-)Assign Authorities" to yvseiler
  docs/development/maintenance.md
Labels: technical board, documentation, authorities

#9690 T&A 44781: Fallback to first page and reset offset and range if out of bounds after filter
  src/UI/Implementation/Component/Input/ViewControl/Renderer.php
  src/UI/Implementation/Component/Table/Data.php
Labels: bugfix, php

#9689 T&A10 44781: Fallback to first page and reset offset and range if out of bounds after filter
  components/ILIAS/UI/src/Implementation/Component/Input/ViewControl/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Table/Data.php
Labels: bugfix

#9892 T&A 45249: add position of question to results (ILIAS 10)
  components/ILIAS/Test/src/Results/Data/Factory.php
  components/ILIAS/Test/src/Results/Data/QuestionResult.php
  components/ILIAS/Test/src/Results/Presentation/AttemptResultsTable.php
  components/ILIAS/Test/tests/Results/Data/QuestionResultTest.php
Labels: bugfix, improvement, php

#9865 BT 42920: Fixes error when trying to delete booking items in a no schedule booking pool
  components/ILIAS/BookingManager/Objects/class.ObjectsDBRepository.php
  components/ILIAS/BookingManager/Objects/class.ObjectsManager.php
Labels: bugfix, php

#9864 BT9 37436: Fixes issues where messagebox is not displayed, when adding already added participants to booking pool
  Modules/BookingManager/Participants/class.ilBookingParticipantGUI.php
Labels: bugfix, php

#9880 BT 44382: Fixes issues when trying to access additional booking information in specific cases
  Modules/BookingManager/BookingProcess/class.ProcessUtilGUI.php
Labels: bugfix

#9824 Update Dependencies after Release v9.12
  composer.lock
Labels: technical board, dependencies

#9814 Forum: Remove obsolete DBUpdateSteps9 class for ILIAS 11
  components/ILIAS/Forum/classes/Setup/class.ilForumDatabaseUpdateSteps9.php
  components/ILIAS/Forum/classes/Setup/class.ilForumSetupAgent.php
Labels: bugfix, php

#9898 OrgUnits/SOAP: Pull from local DI after initialization
  Modules/OrgUnit/classes/Webservices/SOAP/Base.php
Labels: bugfix, php

#9920 DataCollection: set missing table after creation
  components/ILIAS/DataCollection/classes/Table/class.ilDclTableEditGUI.php
Labels: bugfix, php
