Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-04, with the labels that each got.

#9283 PRG: 44283, cleanup selector-dom after use
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgrammeAutoCategoriesGUI.php
Labels: bugfix

#9284 LTI: Fix - Display only allowed breadcrumbs
  components/ILIAS/LTIProvider/classes/Screen/CustomBreadcrumbPagePartProvider.php
  components/ILIAS/LTIProvider/classes/Screen/LtiViewLayoutProvider.php
Labels: bugfix, php

#9285 LTI: Fix - Redirect to LTI settings page after registering an own provider
  components/ILIAS/LTIConsumer/classes/class.ilObjLTIConsumerGUI.php
Labels: bugfix, php

#9183 UI Improvement: MessageBox Implements IsPromptContentInternal
  components/ILIAS/UI/src/Implementation/Component/MessageBox/MessageBox.php
Labels: kitchen sink, improvement, php

#9188 Saml: Security update simplesaml to 2.3.7
  composer.json
  composer.lock
Labels: dependencies, php

#9287 LegalDocuments: Accept any document if after self registration no valid doc is available
  Services/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/SelfRegistration.php
  Services/LegalDocuments/classes/ConsumerToolbox/User.php
  Services/LegalDocuments/test/ConsumerToolbox/ConsumerSlots/SelfRegistrationTest.php
  Services/LegalDocuments/test/ConsumerToolbox/UserTest.php
Labels: bugfix, php

#9290 LegalDocuments: Accept any document if after self registration no valid doc is available
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/SelfRegistration.php
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/User.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/ConsumerSlots/SelfRegistrationTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/UserTest.php
Labels: bugfix, php

#9291 Remove deprecated ilCtrl calls in ilAdministrationGUI
  components/ILIAS/Administration/classes/class.ilAdministrationGUI.php
Labels: php

#9286 Fix page editor plugin copy in T&A
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix, php

#9296 SCORM/Certificate: Fix float value provided for placeholder
  components/ILIAS/ScormAicc/classes/Certificate/class.ilScormPlaceholderValues.php
Labels: php

#9267 Components revision SCORM paths
  components/ILIAS/ScormAicc/classes/Certificate/class.ilScormPlaceholderValues.php
Labels: php

#9295 Update Dependencies after Release v9.8
  composer.lock
Labels: technical board, dependencies

#9084 Add all accepted composer dependency PRs into composer.json
  components/ILIAS/Component/src/Dependencies/Reader.php
  components/ILIAS/File/tests/Capabilities/CapabilityTest.php
  components/ILIAS/LDAP/tests/ilLDAPServerTest.php
  components/ILIAS/Logging/classes/extensions/class.ilLineFormatter.php
  components/ILIAS/Mail/tests/ilMailTemplateContextTest.php
  composer.json
  composer.lock
  composer_new.json
Labels: technical board, dependencies

#9235 ECS: Fix missing typecast
  Services/WebServices/ECS/classes/Connectors/class.ilECSEnrolmentStatusConnector.php
Labels: bugfix

#9004 Mail: Use text for column header
  components/ILIAS/Mail/classes/Folder/MailFolderTableUI.php
Labels: bugfix, php

#9275 LearningSequence: Use ENUM type instead of constants for page types
  Modules/LearningSequence/classes/class.ilObjLearningSequence.php
Labels: bugfix, php

#9301 UI: Fix Missing Require In Mocha
  tests/UI/Client/Menu/Drilldown/drilldown.test.js
Labels: improvement

#9298 Fix: LTI icon in the menu for adding new repository objects.
  components/ILIAS/UI/src/Component/Symbol/Icon/Standard.php
Labels: bugfix, php

#9305 Logging: Fix monolog 3.9 compatibility issues
  components/ILIAS/Logging/classes/extensions/class.ilLineFormatter.php
  components/ILIAS/Logging/classes/extensions/class.ilTraceProcessor.php
  components/ILIAS/Logging/classes/public/class.ilLoggerFactory.php
Labels: bugfix, php

#8495 CSV: Explicitly pass `escape` argument (PHP 8.4)
  components/ILIAS/AuthApache/classes/class.ilAuthProviderApache.php
  components/ILIAS/CSV/classes/class.ilCSVReader.php
  components/ILIAS/Scorm2004/classes/class.ilObjSCORM2004LearningModule.php
  components/ILIAS/ScormAicc/classes/class.ilObjSCORMLearningModule.php
Labels: bugfix, php

#8709 Init/LoginPage: Don't show login item in "MetaBar" on "index" action
  Services/Init/classes/Provider/StartUpMetaBarProvider.php
Labels: bugfix, php

#9278 [FIX] 0042136: Members no longer able to download multiple files
  Services/Container/Content/class.ilContainerRenderer.php
Labels: bugfix

#9260 43611: Failed test: Test case issue - Chart - Bar/Vertical: show
  components/ILIAS/UI/src/examples/Chart/Bar/Vertical/base.php
  components/ILIAS/UI/src/examples/Chart/Bar/Vertical/custom.php
Labels: kitchen sink

#9293 PRG: 44220, decide goto by access permission
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgrammeGUI.php
  components/ILIAS/StudyProgrammeReference/classes/class.ilObjStudyProgrammeReferenceGUI.php
Labels: bugfix

#9288 PRG: resolve specific placeholders
  components/ILIAS/StudyProgramme/classes/class.ilStudyProgrammeMailTemplateContext.php
Labels: bugfix

#9292 PRG: 44359, check on equal src id in membership sources to prevent races
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgramme.php
Labels: bugfix

#9165 PRG: 44477 (44216): get userfields during assignment
  components/ILIAS/StudyProgramme/classes/model/Assignments/class.ilPRGAssignmentDBRepository.php
Labels: bugfix

#9309 T&A 44764: Fixes end datetime of availability period in test settings being rese…
  Modules/Test/classes/MainSettings/class.ilObjTestSettingsMainGUI.php
Labels: bugfix, php

#9308 T&A 44733: Fixes invalid data types in assFormulaQuestionResult::getReachedPoints method
  Modules/TestQuestionPool/classes/class.assFormulaQuestion.php
  Modules/TestQuestionPool/classes/class.assFormulaQuestionResult.php
  Modules/TestQuestionPool/classes/questions/LogicalAnswerCompare/ilAssLacCompositeEvaluator.php
  Modules/TestQuestionPool/test/assFormulaQuestionTest.php
Labels: bugfix, php

#9323 Auth: Don't hide login form if Shibboleth or CAS are default
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#9272 Glossary: remove some unused code, old public access export (bt-42313)
  components/ILIAS/Glossary/Metadata/class.ilGloAdvColSortInputGUI.php
  components/ILIAS/Glossary/Metadata/class.ilGlossaryAdvMetaDataAdapter.php
  components/ILIAS/Glossary/Presentation/class.PresentationGUIRequest.php
  components/ILIAS/Glossary/Presentation/class.ilGlossaryPresentationGUI.php
  components/ILIAS/Glossary/ROADMAP.md
  components/ILIAS/Glossary/Table/DownloadListTable.php
  components/ILIAS/Glossary/Table/class.TableManager.php
  components/ILIAS/Glossary/Term/class.ilGlossaryTerm.php
  components/ILIAS/Glossary/classes/class.ilObjGlossary.php
  components/ILIAS/Glossary/classes/class.ilObjGlossaryGUI.php
  components/ILIAS/Glossary/templates/default/tpl.adv_col_sort_input.html
  components/ILIAS/Glossary/templates/default/tpl.glo_export_file_row.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9330 [FIX] UICore: remove `bootstrap.min.js` includes.
  components/ILIAS/DataCollection/classes/class.ilDataCollectionGlobalTemplate.php
  components/ILIAS/RTE/classes/class.ilRTEGlobalTemplate.php
  components/ILIAS/UI/src/Implementation/Component/Layout/Page/Renderer.php
  components/ILIAS/UICore/classes/class.ilGlobalPageTemplate.php
  components/ILIAS/UICore/classes/class.ilGlobalTemplate.php
  components/ILIAS/UICore/classes/class.ilUIFramework.php
Labels: improvement

#9046 Scorm: Improve performance when deleting `cmi_correct_response` records
  Modules/Scorm2004/classes/class.ilSCORM2004StoreData.php
Labels: bugfix, php

#9334 Scorm: Fix checking if two items are equal (PHP type issue) when cloning collections
  components/ILIAS/Tracking/classes/collection/class.ilLPCollectionOfSCOs.php
Labels: php

#9337 Scorm: Fix writing learning progress (PHP type issue)
  components/ILIAS/ScormAicc/classes/SCORM/class.ilObjSCORMTracking.php
Labels: php

#9338 Glossary: remove unneeded db columns for legacy public access downloads
  components/ILIAS/Glossary/ROADMAP.md
  components/ILIAS/Glossary/classes/Setup/class.ilGlossaryDBUpdateSteps11.php
  components/ILIAS/Glossary/classes/Setup/class.ilGlossarySetupAgent.php
Labels: improvement, php

#9040 Scorm: Fix writing learning progress (PHP type issue)
  Modules/ScormAicc/classes/SCORM/class.ilObjSCORMTracking.php
Labels: bugfix, php

#9116 SCORM/Certificate: Fix float value provided for placeholder
  Modules/ScormAicc/classes/Certificate/class.ilScormPlaceholderValues.php
Labels: bugfix, php

#9310 IASS: 44574, migrate files according to db-entry
  Modules/IndividualAssessment/classes/Setup/class.IndAssStorageMigration.php
Labels: bugfix

#9328 [FIX] Help: handle undefined array offsets.
  components/ILIAS/Help/Map/MapDBRepository.php
Labels: improvement

#9345 changed german lang var test attempt
  lang/ilias_de.lang
Labels: bugfix

#9346 Auth: Add info for default authentication method configuration
  Services/Authentication/classes/class.ilObjAuthSettingsGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#9321 [FIX] 0037444: Drop zones can be activated with subtabs, container ttles and others
  src/UI/templates/js/Dropzone/File/dropzone.js
Labels: bugfix, kitchen sink, javascript

#9358 Chatroom: Fix dropdown style (trunk)
  templates/default/070-components/legacy/Modules/_component_chatroom.scss
  templates/default/delos.css
Labels: bugfix

#9357 Chatroom: Fix dropdown style
  templates/default/070-components/legacy/Modules/_component_chatroom.scss
  templates/default/delos.css
Labels: bugfix

#9013 PRG: 44130, 'completion_by' should point to course, not courselink
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
Labels: bugfix

#9359 [FIX]: Reorder CmiXapi getLaunchData Parameters for PHP 8 Compatibility
  components/ILIAS/CmiXapi/classes/class.ilCmiXapiLaunchGUI.php
  components/ILIAS/CmiXapi/classes/class.ilObjCmiXapi.php
Labels: bugfix, php

#9366 Wrong path in components/ILIAS/ScormAicc/scripts/basisAPI.js
  components/ILIAS/ScormAicc/scripts/basisAPI.js
Labels: javascript

#9368 [Fix] LTI: Cast added to ref_id in the handling of Breadcrumbs
  components/ILIAS/LTIProvider/classes/Screen/CustomBreadcrumbPagePartProvider.php
Labels: improvement, php

#9364 UI/Modal/Lightbox: Use proper event listener to ensure DOM is ready
  src/UI/templates/default/Modal/tpl.lightbox.html
  tests/UI/Component/Modal/LightboxTest.php
Labels: bugfix, javascript

#9369 UICore: Fix implicit nullable parameter in unit test
  components/ILIAS/UICore/tests/ilTemplateTest.php
Labels: bugfix, php

#9377 Cron: Fix `phpunit` issues
  components/ILIAS/Cron/tests/CronJobEntityTest.php
  components/ILIAS/Cron/tests/CronJobScheduleTest.php
Labels: bugfix, php

#9376 ContentPage: Fix `phpunit` issues
  components/ILIAS/ContentPage/tests/PageReadingTimeTest.php
Labels: bugfix, php

#9375 Chatroom: Fix `phpunit` issues
  components/ILIAS/Chatroom/tests/ilChatroomAbstractTaskTestBase.php
  components/ILIAS/Chatroom/tests/ilChatroomAbstractTestBase.php
  components/ILIAS/Chatroom/tests/ilChatroomServerSettingsTest.php
  components/ILIAS/Chatroom/tests/ilChatroomUserTest.php
  components/ILIAS/Chatroom/tests/ilObjChatroomAccessTest.php
  components/ILIAS/Chatroom/tests/ilObjChatroomAdminAccessTest.php
  components/ILIAS/Chatroom/tests/ilObjChatroomTest.php
Labels: bugfix, php

#9383 Html: Fix `phpunit` issues
  components/ILIAS/Html/tests/ilHtmlDomNodeIteratorTest.php
  components/ILIAS/Html/tests/ilHtmlPurifierCompositeTest.php
  components/ILIAS/Html/tests/ilHtmlPurifierLibWrapperTest.php
Labels: bugfix, php

#9380 Forum: Fix `phpunit` issues
  components/ILIAS/Forum/tests/ForumNotificationCacheTest.php
  components/ILIAS/Forum/tests/PostingReplySubjectBuilderTest.php
  components/ILIAS/Forum/tests/ilForumNotificationTest.php
  components/ILIAS/Forum/tests/ilForumTopicTest.php
Labels: bugfix, php

#9372 Password: Fix `phpunit` issues
  components/ILIAS/Password/tests/encoders/ilArgon2IdPasswordEncoderTest.php
  components/ILIAS/Password/tests/encoders/ilBcryptPasswordEncoderTest.php
  components/ILIAS/Password/tests/encoders/ilBcryptPhpPasswordEncoderTest.php
  components/ILIAS/Password/tests/encoders/ilMd5PasswordEncoderTest.php
  components/ILIAS/Password/tests/ilPasswordBaseTestCase.php
Labels: bugfix, php

#9384 Certificate: Fix `phpunit` issues
  components/ILIAS/Certificate/tests/UserCertificateAPITest.php
  components/ILIAS/Certificate/tests/bootstrap.php
  components/ILIAS/Certificate/tests/ilApiUserCertificateRepositoryTest.php
  components/ILIAS/Certificate/tests/ilCertificateActiveValidatorTest.php
  components/ILIAS/Certificate/tests/ilCertificateBaseTestCase.php
  components/ILIAS/Certificate/tests/ilCertificateCloneActionTest.php
  components/ILIAS/Certificate/tests/ilCertificateCronTest.php
  components/ILIAS/Certificate/tests/ilCertificateDownloadValidatorTest.php
  components/ILIAS/Certificate/tests/ilCertificateObjectsForUserPreloaderTest.php
  components/ILIAS/Certificate/tests/ilCertificatePdfActionTest.php
  components/ILIAS/Certificate/tests/ilCertificateQueueEntryTest.php
  components/ILIAS/Certificate/tests/ilCertificateQueueRepositoryTest.php
  components/ILIAS/Certificate/tests/ilCertificateTemplateDeleteActionTest.php
  components/ILIAS/Certificate/tests/ilCertificateTemplateExportActionTest.php
  components/ILIAS/Certificate/tests/ilCertificateTemplateImportActionTest.php
  components/ILIAS/Certificate/tests/ilCertificateTemplatePreviewActionTest.php
  components/ILIAS/Certificate/tests/ilCertificateTemplateRepositoryTest.php
  components/ILIAS/Certificate/tests/ilCertificateTypeClassMapTest.php
  components/ILIAS/Certificate/tests/ilCertificateUserForObjectPreloaderTest.php
  components/ILIAS/Certificate/tests/ilCertificateValueReplacementTest.php
  components/ILIAS/Certificate/tests/ilDefaultPlaceholderDescriptionTest.php
  components/ILIAS/Certificate/tests/ilDefaultPlaceholderValuesTest.php
  components/ILIAS/Certificate/tests/ilFormFieldParserTest.php
  components/ILIAS/Certificate/tests/ilPageFormatsTest.php
  components/ILIAS/Certificate/tests/ilPdfGeneratorTest.php
  components/ILIAS/Certificate/tests/ilUserCertificateApiGUITest.php
  components/ILIAS/Certificate/tests/ilUserCertificateRepositoryTest.php
  components/ILIAS/Certificate/tests/ilUserCertificateTableProviderTest.php
  components/ILIAS/Certificate/tests/ilUserCertificateTest.php
  components/ILIAS/Certificate/tests/ilXlsFoParserTest.php
  components/ILIAS/Certificate/tests/samples/ilCertificateTemplateTest.php
Labels: bugfix, php

#9381 Mail: Fix `phpunit` issues
  components/ILIAS/Mail/tests/gui/ilMailOptionsGUITest.php
  components/ILIAS/Mail/tests/ilGroupNameAsMailValidatorTest.php
  components/ILIAS/Mail/tests/ilMailAddressListTest.php
  components/ILIAS/Mail/tests/ilMailAddressParserTest.php
  components/ILIAS/Mail/tests/ilMailAddressTest.php
  components/ILIAS/Mail/tests/ilMailAddressTypesTest.php
  components/ILIAS/Mail/tests/ilMailAutoresponderServiceTest.php
  components/ILIAS/Mail/tests/ilMailBaseTestCase.php
  components/ILIAS/Mail/tests/ilMailBodyPurifierTest.php
  components/ILIAS/Mail/tests/ilMailErrorFormatterTest.php
  components/ILIAS/Mail/tests/ilMailMimeSubjectBuilderTest.php
  components/ILIAS/Mail/tests/ilMailMimeTest.php
  components/ILIAS/Mail/tests/ilMailOptionsTest.php
  components/ILIAS/Mail/tests/ilMailTaskProcessorTest.php
  components/ILIAS/Mail/tests/ilMailTemplateContextTest.php
  components/ILIAS/Mail/tests/ilMailTemplateRepositoryTest.php
  components/ILIAS/Mail/tests/ilMailTemplateServiceTest.php
  components/ILIAS/Mail/tests/ilMailTest.php
  components/ILIAS/Mail/tests/ilMailTransportSettingsTest.php
Labels: bugfix, php

#9329 [FIX] UI: remove `bootstrap-datetimepicker.min.js` includes.
  components/ILIAS/UI/src/Implementation/Component/Button/Renderer.php
Labels: bugfix, kitchen sink

#9326 [FIX] UI: call to `il.UI.page.isSmallScreen()` may be undefined.
  components/ILIAS/UI/resources/js/MainControls/dist/maincontrols.min.js
  components/ILIAS/UI/resources/js/MainControls/rollup.config.js
  components/ILIAS/UI/resources/js/MainControls/src/maincontrols.js
Labels: kitchen sink, improvement

#9325 [FIX] UI: use `Item\Notification` JavaScript ID as string.
  components/ILIAS/UI/src/Implementation/Component/Item/Renderer.php
Labels: kitchen sink, improvement

#9320 T&A 44781: Fallback to first page and reset offset and range if out of bounds after filter. (Backport)
  src/UI/Implementation/Component/Input/ViewControl/Renderer.php
  src/UI/Implementation/Component/Table/Data.php
Labels: bugfix, kitchen sink

#9146 OrgU: 44453, get _all_ orgus for getOrgUnitsByUserAndPosition
  components/ILIAS/OrgUnit/classes/Positions/UserAssignment/class.ilOrgUnitUserAssignmentDBRepository.php
  components/ILIAS/OrgUnit/classes/Positions/class.ilOrgUnitPositionDBRepository.php
Labels: bugfix

#9385 LegalDocuments: Fix `phpunit` issues
  components/ILIAS/LegalDocuments/tests/AdministrationEditLinksTest.php
  components/ILIAS/LegalDocuments/tests/ConductorTest.php
  components/ILIAS/LegalDocuments/tests/ConsumerToolbox/UserTest.php
  components/ILIAS/LegalDocuments/tests/ContainerMock.php
  components/ILIAS/LegalDocuments/tests/HTMLPurifierTest.php
  components/ILIAS/LegalDocuments/tests/LazyProvideTest.php
  components/ILIAS/LegalDocuments/tests/ValidHTMLTest.php
Labels: bugfix, php

#9374 Badge: Fix `phpunit` issues
  components/ILIAS/Badge/tests/BadgeManagementSessionRepositoryTest.php
  components/ILIAS/Badge/tests/ModalTest.php
  components/ILIAS/Badge/tests/PresentationHeaderTest.php
  components/ILIAS/Badge/tests/SortingTest.php
  components/ILIAS/Badge/tests/TileTest.php
Labels: bugfix, php

#9262 UI: introduce catamorphism for UI components
  components/ILIAS/UI/src/Component/Component.php
  components/ILIAS/UI/src/Implementation/Component/ComponentHelper.php
  components/ILIAS/UI/src/Implementation/Component/Input/Container/Container.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Group.php
  components/ILIAS/UI/src/examples/Input/Container/Form/Standard/reduce_with.php
  components/ILIAS/UI/src/examples/Input/Container/ViewControl/Standard/reduce_with.php
  components/ILIAS/UI/tests/Base.php
  components/ILIAS/UI/tests/Component/ComponentHelperTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Filter/FilterTest.php
  components/ILIAS/UI/tests/Component/Input/Container/Form/FormTest.php
  components/ILIAS/UI/tests/Component/Modal/InterruptiveTest.php
  components/ILIAS/UI/tests/Component/Panel/PanelTest.php
Labels: kitchen sink, improvement, php

#9386 Contact: Fix `phpunit` issues
  components/ILIAS/Contact/tests/ilAwarenessUserProviderApprovedContactsTestCase.php
  components/ILIAS/Contact/tests/ilAwarenessUserProviderContactRequestsTestCase.php
  components/ILIAS/Contact/tests/ilBuddyListTestCase.php
  components/ILIAS/Contact/tests/ilBuddySystemRelationCollectionTestCase.php
  components/ILIAS/Contact/tests/ilBuddySystemRelationRepositoryTestCase.php
  components/ILIAS/Contact/tests/ilBuddySystemRelationTestCase.php
  components/ILIAS/Contact/tests/states/ilBuddySystemBaseStateTestCase.php
  components/ILIAS/Contact/tests/states/ilBuddySystemLinkedStateRelationTest.php
  components/ILIAS/Contact/tests/states/ilBuddySystemRelationStateInitiatorShouldNotBeAbleToApproveIgnoredRequestRuleTestCase.php
  components/ILIAS/Contact/tests/states/ilBuddySystemRelationStateInitiatorShouldOnlyBeAbleToCancelRequestRuleTestCase.php
  components/ILIAS/Contact/tests/states/ilBuddySystemRelationStateNullFilterRuleTestCase.php
  components/ILIAS/Contact/tests/states/ilBuddySystemRelationStateReceiverShouldNotBeAbleToCancelRequestRuleTestCase.php
  components/ILIAS/Contact/tests/states/ilBuddySystemRelationStateReceiverShouldOnlyBeAbleToApproveIgnoredRequestRuleTestCase.php
  components/ILIAS/Contact/tests/states/ilBuddySystemRequestIgnoredStateRelationTest.php
  components/ILIAS/Contact/tests/states/ilBuddySystemRequestedStateRelationTest.php
  components/ILIAS/Contact/tests/states/ilBuddySystemUnlinkedStateRelationTest.php
Labels: bugfix, php

#9340 Add `sass` as npm Dependency for ILIAS 11
  package-lock.json
  package.json
Labels: dependencies

#9332 Setup: Async task handling requires SOAP to be enabled
  components/ILIAS/setup_/README.md
Labels: documentation

#9313 BackgroundTasks Bugfix #0044856: Character Limit Bucket Descriptions
  Modules/File/classes/class.ilObjFileUploadHandlerGUI.php
Labels: php

#9390 Data: Fix `phpunit` issues
  components/ILIAS/Data/tests/ClientIdTest.php
  components/ILIAS/Data/tests/DataSizeTest.php
  components/ILIAS/Data/tests/LanguageTagTest.php
  components/ILIAS/Data/tests/LinkTest.php
  components/ILIAS/Data/tests/OrderTest.php
  components/ILIAS/Data/tests/RangeTest.php
  components/ILIAS/Data/tests/Text/Shape/MarkdownShapeTest.php
  components/ILIAS/Data/tests/Text/Shape/SimpleDocumentMarkdownShapeTest.php
  components/ILIAS/Data/tests/Text/Shape/WordOnlyMarkdownShapeTest.php
  components/ILIAS/Data/tests/URITest.php
  components/ILIAS/Data/tests/UuidTest.php
  components/ILIAS/Data/tests/VersionTest.php
Labels: bugfix, php

#9356 #44772 regression fix in Test for ILIAS 8
  Modules/Test/classes/class.ilObjTestGUI.php
Labels: bugfix, php

#8626 11/UI/MainControls metabar keep open fix 42143
  components/ILIAS/UI/resources/js/MainControls/dist/maincontrols.min.js
  components/ILIAS/UI/resources/js/MainControls/src/metabar.class.js
Labels: bugfix, javascript

#9327 Update authorities for Competence Management, EmployeeTalk, Glossary, Staff
  docs/development/maintenance.md
Labels: technical board, documentation, authorities

#9131 DidacticTemplate: Adjust xsd to include 'excludePattern'
  xml/SchemaValidation/ilias_otpl_9.xsd
Labels: bugfix

#9393 Auth: Mimic behaviour of `onConsecutiveCalls` in test
  components/ILIAS/Authentication/tests/LocalUserPasswordTest.php
Labels: bugfix, php

#9343 Export: Fixes in migration of export files to IRSS, ...
  components/ILIAS/Export/Export.php
  components/ILIAS/Export/classes/Setup/ilExportFilesToIRSSMigration.php
  components/ILIAS/Export/classes/Setup/ilExportSetupAgent.php
Labels: bugfix, php

#9399 Export: The public access column can be deactivated when the export gui is used
  components/ILIAS/Export/classes/ExportHandler/I/Table/HandlerInterface.php
  components/ILIAS/Export/classes/ExportHandler/Table/Handler.php
  components/ILIAS/Export/classes/class.ilExportGUI.php
Labels: bugfix, php

#9406 DataCollection: refactor xlsx export controls
  Modules/DataCollection/classes/Content/class.ilDclContentExporter.php
  Modules/DataCollection/classes/Fields/class.ilDclFieldFactory.php
  Modules/DataCollection/classes/class.ilDclExportGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, improvement, php

#9410 DataCollection: fix translation typo
  Modules/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: bugfix

#9365 Auth/LoginForm: Use dedicated language variable for login form
  Services/Init/classes/class.ilStartUpGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9398 UI: 44282, add padding to .c-form in maincontrols-slate-content fixed class
  templates/default/070-components/UI-framework/MainControls/Slate/_ui-component_slate.scss
  templates/default/delos.css
Labels: bugfix

#9400 10/UI/footer/increase spacing to page 42597
  templates/default/080-hacks/_index.scss
  templates/default/delos.css
Labels: bugfix

#9417 UI/URLBuilder: Use correct type declaration for `acquireParameter`
  src/UI/URLBuilder.php
Labels: improvement, php

#9419 [FIX] LTI: logout LTI session
  components/ILIAS/LTIProvider/classes/Screen/CustomBreadcrumbPagePartProvider.php
Labels: bugfix, php

#9420 DataCollection: refactor field class paths to be absolute
  components/ILIAS/DataCollection/classes/Fields/class.ilDclFieldFactory.php
Labels: improvement, php

#9426 DataCollection: fix and unify regex and unique checks for text fields
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  Modules/DataCollection/classes/Fields/Text/class.ilDclTextFieldModel.php
Labels: bugfix, improvement, php

#9429 DataCollection: fix presentation mode of detail view copg
  Modules/DataCollection/classes/DetailedView/class.ilDclDetailedViewGUI.php
Labels: bugfix, php

#9316 fixed 44739: When exercises are deleted, submissions from deleted use…
  Modules/Exercise/Service/classes/class.InternalDomainService.php
  Modules/Exercise/User/UserEvent.php
  Modules/Exercise/classes/class.ilExerciseAppEventListener.php
  Modules/Exercise/module.xml
  Services/User/classes/class.ilObjUser.php
Labels: bugfix

#9434 [LTI] Fix: group's elements access
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilAuthProviderLTI.php
Labels: bugfix, php

#9362 SCORM: Fix date/time handling in raw data import
  Modules/Scorm2004/classes/class.ilObjSCORM2004LearningModule.php
  Modules/ScormAicc/classes/class.ilObjSCORMLearningModule.php
Labels: bugfix, php

#9438 Fix: LTI parent element's access
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilAuthProviderLTI.php
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSetting.php
Labels: bugfix, php

#9351 Course/Group/WebLink: abandon LOM in SOAP administration
  components/ILIAS/Course/classes/class.ilCourseExporter.php
  components/ILIAS/Course/classes/class.ilCourseXMLParser.php
  components/ILIAS/Course/classes/class.ilCourseXMLWriter.php
  components/ILIAS/Course/classes/class.ilObjCourse.php
  components/ILIAS/Export/xml/SchemaValidation/ilias_crs_11_0.xsd
  components/ILIAS/Export/xml/SchemaValidation/ilias_grp_11_0.xsd
  components/ILIAS/Export/xml/SchemaValidation/ilias_ws_crs_11_0.xsd
  components/ILIAS/Export/xml/SchemaValidation/ilias_ws_grp_11_0.xsd
  components/ILIAS/Group/classes/class.ilGroupExporter.php
  components/ILIAS/Group/classes/class.ilGroupXMLParser.php
  components/ILIAS/Group/classes/class.ilGroupXMLWriter.php
  components/ILIAS/WebResource/classes/class.ilObjLinkResource.php
  components/ILIAS/WebResource/classes/class.ilWebLinkXmlParser.php
  components/ILIAS/WebResource/classes/class.ilWebLinkXmlWriter.php
  components/ILIAS/WebResource/classes/class.ilWebResourceExporter.php
  components/ILIAS/WebResource/classes/class.ilWebResourceImporter.php
  components/ILIAS/soap/classes/class.ilNusoapUserAdministrationAdapter.php
  components/ILIAS/soap/classes/class.ilSoapCourseAdministration.php
  components/ILIAS/soap/classes/class.ilSoapWebLinkAdministration.php
Labels: improvement, php

#9404 Search: abandon advanced search
  components/ILIAS/AdvancedMetaData/classes/Record/class.ilAdvancedMDRecordGUI.php
  components/ILIAS/Search/ROADMAP.md
  components/ILIAS/Search/classes/Lucene/class.ilLuceneAdvancedQueryParser.php
  components/ILIAS/Search/classes/Lucene/class.ilLuceneAdvancedSearchActivationTableGUI.php
  components/ILIAS/Search/classes/Lucene/class.ilLuceneAdvancedSearchFields.php
  components/ILIAS/Search/classes/Lucene/class.ilLuceneAdvancedSearchGUI.php
  components/ILIAS/Search/classes/Lucene/class.ilLuceneAdvancedSearchSettings.php
  components/ILIAS/Search/classes/Lucene/class.ilLuceneSearchGUI.php
  components/ILIAS/Search/classes/Lucene/class.ilLuceneUserSearchGUI.php
  components/ILIAS/Search/classes/ObjGUI/class.ilObjSearchSettingsFormGUI.php
  components/ILIAS/Search/classes/ObjGUI/class.ilObjSearchSettingsGUI.php
  components/ILIAS/Search/classes/class.ilAdvancedSearchGUI.php
  components/ILIAS/Search/classes/class.ilSearchControllerGUI.php
  components/ILIAS/Search/classes/class.ilSearchGUI.php
  components/ILIAS/Search/classes/class.ilSearchResult.php
  components/ILIAS/Search/classes/class.ilSearchSettings.php
  components/ILIAS/Search/classes/class.ilUserSearchCache.php
  components/ILIAS/Search/templates/default/tpl.lucene_activation_row.html
  components/ILIAS/Search/templates/default/tpl.lucene_adv_search.html
  components/ILIAS/Search/templates/default/tpl.range_search.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#8915 Auth: Don't show public area link if "ANONYMOUS" has no permissions
  Services/Init/classes/class.ilInitialisation.php
  Services/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#9444 [LTI] Fix: breadcrumbs
  components/ILIAS/LTIProvider/classes/Screen/CustomBreadcrumbPagePartProvider.php
Labels: bugfix, php

#9448 [LTI] Fix: Adjustments to hide breadcrumbs when consuming LTI
  components/ILIAS/LTIProvider/classes/Screen/CustomBreadcrumbPagePartProvider.php
Labels: bugfix, php

#9455 [LTI] Fix: get selected breadcrumbs
  components/ILIAS/LTIProvider/classes/Screen/CustomBreadcrumbPagePartProvider.php
Labels: bugfix, php

#9457 [LTI] Fix: get correct breadcrumbs display
  components/ILIAS/LTIProvider/classes/Screen/CustomBreadcrumbPagePartProvider.php
Labels: bugfix, php

#9453 #44703 / Paths in rCopy do not inherit directory permissions
  Services/FileServices/classes/class.ilFileUtils.php
Labels: bugfix

#9469 [LTI] Fix: role assignation
  components/ILIAS/LTIProvider/classes/InternalProvider/class.ilLTIProviderObjectSetting.php
Labels: bugfix, php

#9467 Tracking: remove unused table (44940)
  Services/Tracking/classes/Setup/class.ilTrackingSetupAgent.php
  Services/Tracking/classes/Setup/class.ilTrackingUpdateSteps9.php
  Services/Tracking/classes/class.ilChangeEvent.php
Labels: bugfix, php

#9454 Auth/SessionReminder: Get rid of `jQuery`
  components/ILIAS/Authentication/Authentication.php
  components/ILIAS/Authentication/classes/class.ilSessionReminder.php
  components/ILIAS/Authentication/classes/class.ilSessionReminderCheck.php
  components/ILIAS/Authentication/classes/class.ilSessionReminderGUI.php
  components/ILIAS/Authentication/resources/js/dist/SessionReminder.min.js
  components/ILIAS/Authentication/resources/js/rollup.config.js
  components/ILIAS/Authentication/resources/js/src/Logger.js
  components/ILIAS/Authentication/resources/js/src/PeriodicalExecuter.js
  components/ILIAS/Authentication/resources/js/src/SessionReminder.js
  components/ILIAS/Authentication/resources/js/src/State.js
  components/ILIAS/Authentication/resources/js/src/Storage.js
  components/ILIAS/Authentication/resources/js/src/index.js
  components/ILIAS/Authentication/resources/session_reminder.js
  components/ILIAS/Authentication/resources/sessioncheck.php
  components/ILIAS/UICore/classes/class.ilGlobalPageTemplate.php
Labels: improvement, php, javascript

#9422 PRG: (43809), search for completed courses
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgramme.php
  components/ILIAS/StudyProgramme/classes/class.ilObjStudyProgrammeMembersGUI.php
Labels: php

#9473 DataCollection: remove old code and translations
  Modules/DataCollection/classes/Content/class.ilDclRecordListGUI.php
  Modules/DataCollection/classes/Fields/Datetime/class.ilDclDatetimeFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Plugin/class.ilDclPluginFieldRepresentation.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#9459 Notifications: Get rid of `jQuery`
  components/ILIAS/Notifications/Notifications.php
  components/ILIAS/Notifications/resources/browser_notifications.js
  components/ILIAS/Notifications/resources/js/dist/BrowserNotifications.min.js
  components/ILIAS/Notifications/resources/js/rollup.config.js
  components/ILIAS/Notifications/resources/js/src/BrowserNotification.js
  components/ILIAS/Notifications/resources/js/src/index.js
  components/ILIAS/OnScreenChat/classes/class.ilOnScreenChatGUI.php
  components/ILIAS/User/classes/Settings/class.ilUserPrivacySettingsGUI.php
Labels: improvement, php, javascript

#9436 UICore: Fix str_starts_with Does Not Accept Null
  components/ILIAS/UICore/classes/class.ilTemplate.php
Labels: bugfix, php

#9482 ECS: Fix Mantis #44591
  Services/WebServices/ECS/classes/Course/class.ilECSCmsCourseMemberCommandQueueHandler.php
  Services/WebServices/ECS/classes/Course/class.ilECSCourseCreationHandler.php
  Services/WebServices/ECS/classes/Course/class.ilECSCourseMemberAssignment.php
  Services/WebServices/ECS/classes/Setup/class.ilECSAgent.php
  Services/WebServices/ECS/classes/Setup/ilECSUpdateSteps9.php
Labels: bugfix, php

#9485 [LTI] Fix: send correct learning progress percentage
  components/ILIAS/LTIProvider/classes/class.ilLTIAppEventListener.php
Labels: bugfix, php

#9488 [LTI] Fix: save not attended status
  components/ILIAS/LTIProvider/classes/class.ilLTIAppEventListener.php
  components/ILIAS/Tracking/classes/status/class.ilLPStatusLtiOutcome.php
Labels: bugfix, php

#9492 Include autoloader
  components/ILIAS/Scorm2004/resources/storeScorm.php
  components/ILIAS/Scorm2004/resources/storeScorm2004.php
Labels: php

#9501 Dashboard: Add LP-Preload to all views
  Services/Dashboard/Block/classes/class.ilDashboardBlockGUI.php
Labels: bugfix, php
