Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-05, with the labels that each got.

#9493 Component: 42340, add AgentFinder as entry point (r10)
  components/ILIAS/Setup/Setup.php
  components/ILIAS/Setup/src/ImplementationOfAgentFinder.php
  components/ILIAS/SystemFolder/classes/class.ilObjSystemFolderGUI.php
Labels: bugfix

#9509 Filesystem: Fix path to row template
  components/ILIAS/Filesystem/classes/class.ilFileSystemTableGUI.php
Labels: bugfix, php

#9495 Certificate: Use best quality when uploading background images
  Services/Certificate/classes/Helper/ilCertificateUtilHelper.php
Labels: improvement, php

#9508 fixed 43557: Failed test: Anzahl Notizen... anzeigen
  components/ILIAS/ILIASObject/classes/class.ilObjectListGUI.php
Labels: bugfix

#9354 #44852 Log missing language module without halting the import process
  Services/Language/classes/class.ilObjLanguageExt.php
Labels: bugfix, php

#9517 UI: Tagify.js No Without min
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
Labels: improvement

#9518 UI: Add new centered ILIAS logo
  components/ILIAS/UI/resources/images/logo/ilias_logo_centered.png
Labels: kitchen sink, improvement

#9524 [Bugfix]45044 Small typo in test settings (English)
  lang/ilias_en.lang
Labels: bugfix

#9525 [Bugfix]45044 - Small typo in test settings (English) - Trunk
  lang/ilias_en.lang
Labels: bugfix

#9526 [Bugfix]45044 - ILIAS9
  lang/ilias_en.lang
Labels: bugfix

#9520 Mail: Use new centered ILIAS logo
  components/ILIAS/Mail/classes/Folder/MailFolderTableUI.php
  components/ILIAS/Mail/classes/class.ilMailFolderGUI.php
  components/ILIAS/Mail/classes/class.ilPDMailBlockGUI.php
Labels: improvement, php

#9529 Mail UI/DataTable: ilMailTemplateTableGUI
  components/ILIAS/Mail/classes/class.ilMailTemplateGUI.php
  components/ILIAS/Mail/classes/class.ilMailTemplateTable.php
  components/ILIAS/Mail/classes/class.ilMailTemplateTableGUI.php
  components/ILIAS/Mail/templates/default/tpl.mail_template_row.html
Labels: improvement, php

#9532 Fixed the links within the roadmap
  components/ILIAS/UI/docs/ROADMAP.md
Labels: improvement, documentation

#9442 UI: 44638, adjust color styling of dropdown breadcrumbs for small scr…
  templates/default/070-components/UI-framework/Layout/_ui-component_standardpage.scss
  templates/default/delos.css
Labels: bugfix

#9443 UI: 44775, adjust tag input field width.
  templates/default/070-components/UI-framework/Input/_ui-component_tag.scss
  templates/default/delos.css
Labels: bugfix

#9446 UI: adjust presentation table controls and content row on small screens.
  templates/default/070-components/UI-framework/Table/_ui-component_table.scss
  templates/default/delos.css
Labels: bugfix

#9477 [FIX] #44978 UI: accept `Field\File` mime-type wildcards.
  components/ILIAS/UI/resources/js/Input/Field/file.js
Labels: bugfix, kitchen sink, javascript

#9536 edited description for alt skin creation from templates
  templates/Readme.md
Labels: improvement

#9539 File: do not pass empty format to LOM (43236)
  components/ILIAS/File/classes/trait.ilObjFileMetadata.php
Labels: bugfix, php

#9480 UI: 43616, adjust selection field width in forms.
  templates/default/070-components/legacy/Services/_component_form.scss
  templates/default/delos.css
Labels: bugfix

#9416 10/UI/popover-scroll-and-mobile-fix 43704
  components/ILIAS/UI/resources/js/Popover/popover.js
  templates/default/060-elements/_elements_html-body.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#9533 Tree: Fix ilPathGUI Modifies ref_id
  Services/Tree/classes/class.ilPathGUI.php
Labels: bugfix

#9546 UI/Ordering/Tests: Fix unit test
  components/ILIAS/UI/tests/Component/Table/OrderingRendererTest.php
Labels: bugfix, php

#9402 Init: Suggest new authorities
  docs/development/maintenance.md
Labels: documentation, authorities

#9556 LegacyUI: Fix Missing JS on LastTab
  components/ILIAS/JavaScript/resources/Basic.js
  components/ILIAS/UIComponent/Tabs/classes/class.ilTabsGUI.php
  components/ILIAS/UIComponent/Tabs/templates/default/tpl.tabs.html
Labels: bugfix

#9347 Mantis #44839: Fix non-existent cmd used in form action
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix, php

#8879 ILIAS 11: Abandon CAS authentication
  components/ILIAS/Authentication/classes/Password/class.ilLocalUserPasswordSettingsGUI.php
  components/ILIAS/Authentication/classes/Provider/class.ilAuthProviderFactory.php
  components/ILIAS/Authentication/classes/Setup/AbandonCASAuthModeUpdateObjective.php
  components/ILIAS/Authentication/classes/Setup/class.ilAuthenticationSetupAgent.php
  components/ILIAS/Authentication/classes/class.ilAuthUtils.php
  components/ILIAS/Authentication/classes/class.ilObjAuthSettingsGUI.php
  components/ILIAS/CAS/CAS.php
  components/ILIAS/CAS/classes/class.ilAuthFrontendCredentialsCAS.php
  components/ILIAS/CAS/classes/class.ilAuthProviderCAS.php
  components/ILIAS/CAS/classes/class.ilCASAttributeToUser.php
  components/ILIAS/CAS/classes/class.ilCASSettings.php
  components/ILIAS/CAS/classes/class.ilCASSettingsGUI.php
  components/ILIAS/CAS/maintenance.json
  components/ILIAS/CAS/tests/ilCASSettingsTest.php
  components/ILIAS/COPage/PC/Login/class.ilPCLoginPageElement.php
  components/ILIAS/Export/xml/ilias_user_11.dtd
  components/ILIAS/Init/classes/class.ilInitialisation.php
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
  components/ILIAS/Init/templates/default/tpl.login.html
  components/ILIAS/Init/templates/default/tpl.login_form_cas.html
  components/ILIAS/LDAP/classes/class.ilLDAPUserSynchronisation.php
  components/ILIAS/UI/resources/images/auth/cas_login_button.png
  components/ILIAS/User/classes/class.ilUserImportParser.php
  lang/ilias_ar.lang
  lang/ilias_bg.lang
  lang/ilias_cs.lang
  lang/ilias_da.lang
  lang/ilias_de.lang
  lang/ilias_el.lang
  lang/ilias_en.lang
  lang/ilias_es.lang
  lang/ilias_et.lang
  lang/ilias_fa.lang
  lang/ilias_fr.lang
  lang/ilias_hr.lang
  lang/ilias_hu.lang
  lang/ilias_it.lang
  lang/ilias_ja.lang
  lang/ilias_ka.lang
  lang/ilias_lt.lang
  lang/ilias_nl.lang
  lang/ilias_pl.lang
  lang/ilias_pt.lang
  lang/ilias_ro.lang
  lang/ilias_ru.lang
  lang/ilias_sk.lang
  lang/ilias_sl.lang
  lang/ilias_sq.lang
  lang/ilias_sr.lang
  lang/ilias_sv.lang
  lang/ilias_tr.lang
  lang/ilias_uk.lang
  lang/ilias_vi.lang
  lang/ilias_zh.lang
Labels: improvement, php

#9559 Fix missing objective execution
  components/ILIAS/Authentication/classes/Setup/class.ilAuthenticationSetupAgent.php
Labels: bugfix, php

#9543 UI: Use `h2` as table header
  src/UI/templates/default/Table/tpl.datatable.html
  src/UI/templates/default/Table/tpl.orderingtable.html
Labels: bugfix, php

#9435 T&A Bugfix #0044944: Manual Scoring in Random Test doesnt update Reached Points
  Modules/Test/classes/class.ilTestScoringGUI.php
  Modules/TestQuestionPool/classes/class.assQuestion.php
Labels: bugfix

#9475 DataCollection: remove old code and translations for TRUNK
  components/ILIAS/DataCollection/classes/Content/class.ilDclRecordListGUI.php
  components/ILIAS/DataCollection/classes/Fields/Datetime/class.ilDclDatetimeFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Plugin/class.ilDclPluginFieldRepresentation.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#9561 Mail UI/DataTable Bugfix: ilMailTemplateGUI ALL_OBJECTS action
  components/ILIAS/Mail/classes/class.ilMailTemplateGUI.php
Labels: bugfix, php

#9542 UI: 43719, adjust language variable for closing...
  components/ILIAS/UI/src/Implementation/Component/Prompt/State/Renderer.php
  components/ILIAS/UI/src/examples/Prompt/Standard/parameters.php
Labels: bugfix

#9571 Dashboard: Add cleanup for deleted users (ILIAS 10)
  components/ILIAS/Dashboard/classes/Setup/ilDashboardUpdateSteps.php
  components/ILIAS/Dashboard/classes/ilDashboardAppEventListener.php
  components/ILIAS/Dashboard/service.xml
Labels: bugfix, php

#9572 Dashboard: Add cleanup for deleted users (ILIAS 11)
  components/ILIAS/Dashboard/classes/Setup/ilDashboardUpdateSteps.php
  components/ILIAS/Dashboard/classes/ilDashboardAppEventListener.php
  components/ILIAS/Dashboard/service.xml
Labels: bugfix, php

#9573 LegalDocuments: Fix ui factory legacy call
  components/ILIAS/LegalDocuments/classes/ConsumerToolbox/ConsumerSlots/Agreement.php
Labels: bugfix, php

#9521 ILIAS UI: add new glyphs to il-icon font
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.eot
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.json
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.svg
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.ttf
  components/ILIAS/UI/resources/fonts/Iconfont/il-icons.woff
  templates/default/070-components/UI-framework/Symbol/_ui-component_glyph.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink, improvement

#7697 ILIAS UI: add checked and unchecked to glyphs
  components/ILIAS/UI/src/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/Checked/checked.php
  components/ILIAS/UI/src/examples/Symbol/Glyph/Unchecked/unchecked.php
Labels: kitchen sink, improvement

#7722 ILIAS UI: add checked and unchecked to glyphs implementation
  components/ILIAS/UI/src/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Symbol/Glyph/Glyph.php
  components/ILIAS/UI/src/templates/default/Symbol/tpl.glyph.html
  components/ILIAS/UI/tests/Component/Symbol/Glyph/GlyphTest.php
Labels: improvement, php

#9578 style docu: added note for suffix-specific icons
  templates/Readme.md
Labels: improvement, documentation

#9554 [FIX] CI: apply copyright check to UI examples.
  scripts/Copyright-Checker/copyright-checker.sh
Labels: improvement

#9549 PRG: 35229, enable moving of PRGReferences
  components/ILIAS/StudyProgrammeReference/classes/class.ilObjStudyProgrammeReferenceListGUI.php
Labels: bugfix

#9547 PRG: 44219, remove displaying the page edit button for user with only…
  Modules/StudyProgramme/classes/class.ilObjStudyProgrammeGUI.php
Labels: bugfix

#9583 SCORM: Fix URLs to debugging tool
  components/ILIAS/Scorm2004/classes/class.ilSCORM13PlayerGUI.php
Labels: bugfix, php

#9574 DataCollection : Revision of Uniqueness of Field Entries
  components/ILIAS/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/Base/class.ilDclStandardField.php
  components/ILIAS/DataCollection/classes/Fields/Boolean/class.ilDclBooleanFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/Datetime/class.ilDclDatetimeFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/IliasReference/class.ilDclIliasReferenceFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/IliasReference/class.ilDclIliasReferenceFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Number/class.ilDclNumberFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/Selection/class.ilDclSelectionFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/Selection/class.ilDclSelectionFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextFieldModel.php
  components/ILIAS/DataCollection/classes/Fields/Text/class.ilDclTextFieldRepresentation.php
  components/ILIAS/DataCollection/classes/Fields/class.ilDclFieldEditGUI.php
  components/ILIAS/DataCollection/classes/Fields/class.ilDclFieldListTableGUI.php
  components/ILIAS/DataCollection/classes/Helpers/class.ilDclCache.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps11.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionObjective.php
  components/ILIAS/DataCollection/classes/Setup/class.ilDataCollectionSetupAgent.php
  components/ILIAS/DataCollection/classes/class.ilDataCollectionDataSet.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#9527 T&A Use htmlspecialchars for answer output in correction statistics gui
  Modules/TestQuestionPool/classes/tables/class.ilAnswerFrequencyStatisticTableGUI.php
Labels: bugfix, php

#9500 ContainerSettings: Limit mail prefix for subjects
  Services/Object/classes/class.ilObjectServiceSettingsGUI.php
Labels: bugfix, php

#9478 TA: 44901, single-encode questionlist titles
  components/ILIAS/Test/classes/class.ilTestPlayerAbstractGUI.php
Labels: bugfix, php

#9466 T&A 43220: Benachrichtigung - Keine E-Mail mit Excel wird generiert
  components/ILIAS/Test/classes/class.ilObjTest.php
Labels: bugfix

#9236 Test: Prevent navigation before control script is initialized
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/toolbars/class.ilTestNavigationToolbarGUI.php
Labels: bugfix, php, javascript

#9551 44970: Fix Shuffle for Cloze Question in ILIAS Learning Module
  Modules/Scorm2004/scripts/questions/question_handling.js
Labels: bugfix, javascript

#9537 T&A: fixes 44936
  Modules/Test/classes/class.ilTestCorrectionsGUI.php
Labels: bugfix

#9586 [LTI] Fix: save not attended status
  components/ILIAS/Tracking/classes/status/class.ilLPStatusLtiOutcome.php
Labels: bugfix, php

#9581 Remove glyph action testing obligation
  components/ILIAS/UI/tests/Component/Symbol/Glyph/GlyphTest.php
Labels: bugfix, improvement, php

#9589 DataCollection: Refactor date fields
  Modules/DataCollection/classes/Content/class.ilDclContentImporter.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclDatatype.php
  Modules/DataCollection/classes/Fields/Base/class.ilDclStandardField.php
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Date/class.ilDclDateFieldModel.php
  Modules/DataCollection/classes/Fields/Date/class.ilDclDateFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Date/class.ilDclDateRecordFieldModel.php
  Modules/DataCollection/classes/Fields/Date/class.ilDclDateRecordRepresentation.php
  Modules/DataCollection/classes/Fields/DateSelection/class.ilDclDateSelectionRecordRepresentation.php
  Modules/DataCollection/classes/Fields/Datetime/trait.ilDclDatetimeRecordDateFormatter.php
  Modules/DataCollection/classes/Fields/Formula/FormulaParser/Result/MathResultResolver.php
  Modules/DataCollection/classes/Fields/Formula/FormulaParser/Result/ResultFormatter.php
  Modules/DataCollection/classes/Fields/Formula/class.ilDclFormulaFieldModel.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldRepresentation.php
  Modules/DataCollection/classes/Setup/class.ilDataCollectionDBUpdateSteps9.php
  Modules/DataCollection/classes/class.ilDataCollectionDataSet.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: improvement, php

#9458 [FIX] 44703: Paths in rCopy do not inherit directory permissions
  src/Filesystem/Provider/FlySystem/FlySystemLocalFilesystemFactory.php
Labels: bugfix, php

#9596 Update Dependencies after Release v9.9
  composer.lock
Labels: technical board, dependencies

#9257 LearningModule: remove old public access export (42314)
  components/ILIAS/LearningModule/Presentation/class.ilLMPresentationGUI.php
  components/ILIAS/LearningModule/ROADMAP.md
  components/ILIAS/LearningModule/classes/class.ilLMDownloadTableGUI.php
  components/ILIAS/LearningModule/classes/class.ilLMMenuGUI.php
  components/ILIAS/LearningModule/classes/class.ilObjContentObject.php
  components/ILIAS/LearningModule/classes/class.ilObjContentObjectGUI.php
  components/ILIAS/LearningModule/templates/default/tpl.download_file_row.html
  components/ILIAS/LearningModule/templates/default/tpl.lm_download_list.html
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9598 Auth: Fix auth. plugins are listed twice in auth. sequence configuration
  Services/Authentication/classes/class.ilAuthModeDetermination.php
Labels: bugfix, php

#9604 Forum Bugfix: ForumThreadTableSessionStorage return value
  components/ILIAS/Forum/classes/Thread/ForumThreadTableSessionStorage.php
Labels: bugfix, php

#9460 Export: fix error on import when using symlinks
  components/ILIAS/Export/classes/class.ilImport.php
Labels: bugfix

#9611 Forum Bugfix: Undefined ui_factory in ilObjForumGUI
  components/ILIAS/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#9531 Changed the Links to the new location
  components/ILIAS/Refinery/docs/CONTRIBUTING.md
  docs/development/README.md
  docs/development/accessibility-process.md
  templates/Roadmap.md
Labels: documentation

#9613 (ILIAS 10) Forum Bugfix: moveThreadsObject Table in ilObjForumGUI isn't shown
  components/ILIAS/Forum/classes/class.ilObjForumGUI.php
  components/ILIAS/Forum/templates/default/tpl.forums_threads_move.html
Labels: bugfix, php

#9612 (ILIAS 9) Forum Bugfix: moveThreadsObject Table in ilObjForumGUI isn't shown
  Modules/Forum/classes/class.ilObjForumGUI.php
  Modules/Forum/templates/default/tpl.forums_threads_move.html
Labels: bugfix, php

#9608 (trunk) Forum Bugfix #0045142: Fix ForumNotification overwritten by setting from all_users
  components/ILIAS/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#9609 (ILIAS 9) Forum Bugfix #0045142: Fix ForumNotification overwritten by setting from all_users
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#9569 Give correct list of file formats for errors in ImageOutputOptions
  src/Filesystem/Util/Convert/ImageOutputOptions.php
Labels: improvement, php

#9530 WAC: Prevent sending HTTP cookies with invalid domain
  Services/WebAccessChecker/classes/class.ilWACSignedPath.php
Labels: bugfix, php

#9558 Mantis 45070 \ILIAS\FileDelivery\Services::getBaseURI swallows Port
  components/ILIAS/FileDelivery/src/Services.php
Labels: bugfix, php

#9511 UI: 44004, fix HTML validation error in ViewControl.
  components/ILIAS/UI/resources/js/Dropdown/dist/dropdown.js
  components/ILIAS/UI/resources/js/Dropdown/src/Dropdown.js
  components/ILIAS/UI/src/templates/default/Input/tpl.viewcontrol_fieldselection.html
  components/ILIAS/UI/tests/Component/Input/ViewControl/ViewControlFieldSelectionTest.php
  templates/default/070-components/UI-framework/Dropdown/_ui-component_dropdown.scss
  templates/default/delos.css
Labels: bugfix, kitchen sink

#9622 DataCollection: remove info screen artifact
  components/ILIAS/DataCollection/classes/class.ilObjDataCollectionGUI.php
Labels: improvement, php

#9623 ECS: Migrate missing commits present in 9
  components/ILIAS/WebServices/ECS/classes/Consent/class.ilECSUserConsentModalGUI.php
  components/ILIAS/WebServices/ECS/classes/Course/class.ilECSCmsCourseMemberCommandQueueHandler.php
  components/ILIAS/WebServices/ECS/classes/Course/class.ilECSCourseCreationHandler.php
  components/ILIAS/WebServices/ECS/classes/Course/class.ilECSCourseMemberAssignment.php
  components/ILIAS/WebServices/ECS/classes/Setup/class.ilECSAgent.php
  components/ILIAS/WebServices/ECS/classes/Setup/ilECSUpdateSteps9.php
  components/ILIAS/WebServices/ECS/classes/class.ilAuthProviderECS.php
  components/ILIAS/WebServices/ECS/classes/class.ilECSObjectSettings.php
  components/ILIAS/WebServices/ECS/classes/class.ilECSUser.php
  components/ILIAS/WebServices/ECS/classes/class.ilRemoteObjectBase.php
Labels: bugfix, improvement, php

#9620 updated hungarian lang file
  lang/ilias_hu.lang
Labels: improvement

#9352 Some missing ',' in german language for test
  lang/ilias_de.lang
Labels: improvement

#9545 Fixed Mantis #4502: Undefined array key "version"
  Services/Language/classes/class.ilLanguageFile.php
  lang/ilias_sk.lang
  lang/ilias_zh.lang
Labels: bugfix, php

#9479 Docs/Security: Document procedure for regressions caused by security …
  docs/development/security.md
Labels: improvement, technical board, documentation

#9627 Mantis #37447 - ECS: Add null handler for getOrganization()
  Services/WebServices/ECS/classes/class.ilRemoteObjectBase.php
Labels: bugfix, php

#8055 [ECS UI] Add language variable for consent modal button
  components/ILIAS/WebServices/ECS/classes/Consent/class.ilECSUserConsentModalGUI.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9579 Privacy/Security: Fix min/max values when requesting random value
  Services/PrivacySecurity/classes/class.ilSecuritySettingsChecker.php
Labels: bugfix, php

#9504 10/UI/Table Data & Ordering accessibility validation 44005 44065
  components/ILIAS/UI/src/Implementation/Component/Table/Renderer.php
  components/ILIAS/UI/src/templates/default/Table/tpl.datacell.html
  components/ILIAS/UI/src/templates/default/Table/tpl.datatable.html
  components/ILIAS/UI/src/templates/default/Table/tpl.orderingcell.html
  components/ILIAS/UI/src/templates/default/Table/tpl.orderingtable.html
  components/ILIAS/UI/tests/Component/Table/DataRendererTest.php
  components/ILIAS/UI/tests/Component/Table/OrderingRendererTest.php
Labels: bugfix, kitchen sink

#9597 [Metadata] performance issue with unnecessary query on il_meta_rights
  Services/MetaData/classes/Settings/Copyright/class.ilMDCopyrightSelectionEntry.php
Labels: bugfix, php

#9638 Centralize datetime format fetching
  components/ILIAS/Badge/classes/class.ilBadgePersonalTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeUserTableGUI.php
  components/ILIAS/Certificate/classes/Overview/CertificateOverviewTable.php
  components/ILIAS/Forum/classes/Drafts/ForumDraftsTable.php
Labels: improvement, php

#7763 SCORM Bugfix #0041637: Course Certificates aren't issued in the language of the receiving user in any case (month names)
  components/ILIAS/ScormAicc/classes/Certificate/class.ilScormPlaceholderValues.php
  components/ILIAS/ScormAicc/tests/ilScormPlaceholderValuesTest.php
Labels: bugfix, php
