Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-08, with the labels that each got.

#9580 UI, DataTable: 43621, show warning if URL too long
  components/ILIAS/Data/src/URI.php
  components/ILIAS/UI/resources/js/Core/dist/core.js
  components/ILIAS/UI/resources/js/Core/src/core.URLBuilder.js
  components/ILIAS/UI/resources/js/Table/dist/table.min.js
  components/ILIAS/UI/resources/js/Table/rollup.config.js
  components/ILIAS/UI/resources/js/Table/src/datatable.class.js
  components/ILIAS/UI/src/Implementation/Component/Table/Renderer.php
  components/ILIAS/UI/src/URLBuilder.php
  components/ILIAS/UI/src/examples/Table/Data/large.php
  components/ILIAS/UI/src/examples/Table/Ordering/large.php
  components/ILIAS/UI/src/templates/default/Table/tpl.datatable.html
  components/ILIAS/UI/src/templates/default/Table/tpl.orderingtable.html
  components/ILIAS/UI/tests/URLBuilderTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: bugfix, php

#9900 Change column order in T&A 'Participants' tab
  components/ILIAS/Test/src/Participants/ParticipantTable.php
Labels: bugfix

#9888 NW 43975: Fixes issue when trying to get newsfeed url
  Services/User/classes/class.ilObjUser.php
Labels: bugfix, php

#9938 NPM: Bump linkifyjs and linkify-element from 4.1.3 to 4.3.2
  package-lock.json
  package.json
Labels: dependencies, javascript

#9940 Admin: Show Access Denied Instead of Throwing
  components/ILIAS/Administration/classes/class.ilAdministrationGUI.php
Labels: bugfix

#9859 T&A 45373: Fixes wrong message being displayed in test launcher button when user used up all possible test passes
  Modules/Test/classes/TestScreen/class.ilTestScreenGUI.php
Labels: bugfix, php

#9916 T&A: Restore Latex Support in Test Questions
  components/ILIAS/TestQuestionPool/classes/class.assClozeTestGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assErrorTextGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assFileUploadGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assFormulaQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assImagemapQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assKprimChoiceGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assLongMenuGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assMatchingQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assMultipleChoiceGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assNumeric.php
  components/ILIAS/TestQuestionPool/classes/class.assNumericGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assOrderingHorizontalGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assOrderingQuestion.php
  components/ILIAS/TestQuestionPool/classes/class.assOrderingQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assSingleChoiceGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assTextQuestionGUI.php
  components/ILIAS/TestQuestionPool/classes/class.assTextSubsetGUI.php
  components/ILIAS/TestQuestionPool/classes/feedback/class.ilAssQuestionFeedback.php
  components/ILIAS/TestQuestionPool/classes/questions/class.ilAssSelfAssessmentQuestionFormatter.php
Labels: improvement, php

#9950 OnScreenChat: Don't remove conversation on abort modal
  components/ILIAS/OnScreenChat/resources/onscreenchat.js
Labels: bugfix, javascript

#9766 Mail/RoleRecipients: Always generate unique role recipient strings
  Services/Mail/classes/Address/Type/class.ilRoleMailboxAddress.php
Labels: bugfix, php

#9954 DataCollection: fix selection field presentation and copy field on copy
  Modules/DataCollection/classes/Fields/Base/class.ilDclBaseFieldModel.php
  Modules/DataCollection/classes/Fields/Copy/class.ilDclCopyFieldModel.php
  Modules/DataCollection/classes/Fields/Reference/class.ilDclReferenceFieldRepresentation.php
  Modules/DataCollection/classes/Fields/Selection/class.ilDclSelectionFieldRepresentation.php
Labels: bugfix, php

#9965 Mail: Allow placeholders within salutation placeholder
  Services/Mail/classes/class.ilAccountMail.php
Labels: bugfix, php

#9945 [FIX] #45446 UI: submission of multiple `Field\File` inputs in one form.
  src/UI/examples/Input/Field/File/multiple.php
  src/UI/templates/js/Input/Field/file.js
Labels: bugfix, kitchen sink, javascript

#9850 T&A 45355: Adds message to submission review view with remaining time
  Modules/Test/classes/Presentation/class.WorkingTime.php
  Modules/Test/classes/class.ilTestPlayerAbstractGUI.php
  Modules/Test/classes/class.ilTestSubmissionReviewGUI.php
  Modules/Test/templates/default/tpl.il_as_tst_output.html
  Modules/Test/templates/default/tpl.il_as_tst_question_summary.html
  Modules/Test/templates/default/tpl.workingtime.js
Labels: bugfix, php

#9960 Update e-mail-address in how-to-write-a-privacy.md
  docs/development/how-to-write-a-privacy.md
Labels: documentation

#9951 Course: ilCourseParticipantsGroupsTableGUI kitchensink implementation
  components/ILIAS/Course/classes/class.ilCourseParticipantsGroupsGUI.php
  components/ILIAS/Course/classes/class.ilCourseParticipantsGroupsTableDataRetrieval.php
  components/ILIAS/Course/classes/class.ilCourseParticipantsGroupsTableGUI.php
Labels: php

#9979 UI: Fix Dropzone Count
  components/ILIAS/UI/resources/js/Input/Field/file.js
Labels: bugfix, kitchen sink

#9929 Tracking: Fix access to undefined array key in CSV export of matrix t…
  Services/Tracking/classes/repository_statistics/class.ilTrMatrixTableGUI.php
Labels: bugfix, php

#9989 Fixed Mantis #45608: Wrong timestamp after updating language
  components/ILIAS/Language/classes/class.ilLanguageFolderTable.php
  components/ILIAS/Language/classes/class.ilObjLanguage.php
  components/ILIAS/Language/classes/class.ilObjLanguageDBAccess.php
  components/ILIAS/Language/classes/class.ilObjLanguageExt.php
  components/ILIAS/Language/classes/class.ilObjLanguageFolderGUI.php
Labels: bugfix, php

#9977 Update how-to-write-a-privacy.md
  docs/development/how-to-write-a-privacy.md
Labels: documentation

#9990 removed rf from security.md
  docs/development/security.md
Labels: documentation

#9851 UI: update coordinator-docu
  components/ILIAS/UI/docs/COMMUNITY.md
Labels: documentation

#9992 Forum/TinyMCE: Don't allow aligning/justifying text when answering
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#9993 Fixed Mantis #45608: Wrong timestamp after updating language Part 2: changed setup as well
  components/ILIAS/Language/classes/Setup/class.ilSetupLanguage.php
  components/ILIAS/Language/classes/class.ilLanguageFile.php
  components/ILIAS/Language/classes/class.ilObjLanguageExtGUI.php
Labels: bugfix, php

#9987 Badge: Add CSRF token check for table actions (ILIAS 10)
  components/ILIAS/Badge/classes/class.ilBadgeImageTemplateTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeManagementGUI.php
  components/ILIAS/Badge/classes/class.ilBadgePersonalTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeProfileGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTypesTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeUserTableGUI.php
  components/ILIAS/Badge/classes/class.ilObjBadgeAdministrationGUI.php
  components/ILIAS/Badge/classes/class.ilObjectBadgeTableGUI.php
Labels: bugfix, php

#9986 Badge: Add CSRF token check for table actions (ILIAS 11)
  components/ILIAS/Badge/classes/class.ilBadgeImageTemplateTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeManagementGUI.php
  components/ILIAS/Badge/classes/class.ilBadgePersonalTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeProfileGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeTypesTableGUI.php
  components/ILIAS/Badge/classes/class.ilBadgeUserTableGUI.php
  components/ILIAS/Badge/classes/class.ilObjBadgeAdministrationGUI.php
  components/ILIAS/Badge/classes/class.ilObjectBadgeTableGUI.php
Labels: bugfix, php

#9758 UI: Add ProblemBuilder to Select-Constraint
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Select.php
  components/ILIAS/UI/tests/Component/Input/Field/CommonFieldRendering.php
  components/ILIAS/UI/tests/Component/Input/Field/LinkInputTest.php
Labels: bugfix, kitchen sink

#9966 Certificate: Bugfix Remove integer type hint for DateHelper::formatDate
  components/ILIAS/Certificate/classes/Helper/ilCertificateDateHelper.php
  components/ILIAS/Certificate/classes/Placeholder/Values/class.ilDefaultPlaceholderValues.php
  components/ILIAS/Certificate/tests/ilDefaultPlaceholderValuesTest.php
Labels: bugfix, php

#9178 SystemCheck/Repository/Tree: Fix PHP 8.x issues
  Services/Repository/TreeValidator/class.ilValidator.php
Labels: bugfix, php

#9699 [FIX] 44658: Modules/Survey: Fix cron job 'Remind users to participate'
  Modules/Survey/classes/class.ilObjSurvey.php
Labels: bugfix

#9928 Container: fix rendering issue (#45551)
  components/ILIAS/Container/Content/class.ilContainerRenderer.php
Labels: bugfix, php

#9988 File/Workspace/WOPI: Fix return URL for workspace files
  Modules/File/classes/class.ilObjFileGUI.php
Labels: bugfix, php

#10023 45608: Wrong timestamp after updating language
  Services/Language/classes/Setup/class.ilSetupLanguage.php
  Services/Language/classes/class.ilLanguageTableGUI.php
  Services/Language/classes/class.ilObjLanguageDBAccess.php
  Services/Language/classes/class.ilObjLanguageExt.php
  Services/Language/classes/class.ilObjLanguageFolderGUI.php
Labels: bugfix, php

#10014 [Mantis 45656]Test: Question type plugin solution
  components/ILIAS/Test/classes/class.ilObjTest.php
  components/ILIAS/Test/classes/class.ilTestRandomQuestionSetStagingPoolQuestionList.php
  components/ILIAS/TestQuestionPool/classes/class.ilAssQuestionList.php
  components/ILIAS/TestQuestionPool/classes/class.ilObjQuestionPool.php
  components/ILIAS/TestQuestionPool/classes/questions/class.ilAssQuestionType.php
  components/ILIAS/TestQuestionPool/src/Questions/GeneralQuestionPropertiesRepository.php
Labels: bugfix, php

#10028 Update Dependencies after Release v9.13
  composer.lock
Labels: technical board, dependencies

#10001 Forum: #0045600: Refactor updateUserNotifications to ilObjForum
  Modules/Forum/classes/Notification/NotificationType.php
  Modules/Forum/classes/Notification/class.ilForumNotification.php
  Modules/Forum/classes/class.ilForumModeratorsGUI.php
  Modules/Forum/classes/class.ilForumProperties.php
  Modules/Forum/classes/class.ilForumSettingsGUI.php
  Modules/Forum/classes/class.ilForumXMLParser.php
  Modules/Forum/classes/class.ilObjForum.php
  Modules/Forum/classes/class.ilObjForumGUI.php
Labels: bugfix, php

#7339 [FEATURE] UI: Introduce dedicated image upload field
  components/ILIAS/Data/src/ImagePurpose.php
  components/ILIAS/File/classes/class.ilObjFileGUI.php
  components/ILIAS/UI/resources/js/Input/Field/file.js
  components/ILIAS/UI/src/Component/Input/Field/Factory.php
  components/ILIAS/UI/src/Component/Input/Field/Image.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Factory.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/File.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Image.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/Renderer.php
  components/ILIAS/UI/src/Implementation/Component/Input/Field/SwitchableGroup.php
  components/ILIAS/UI/src/examples/Input/Field/File/with_metadata.php
  components/ILIAS/UI/src/examples/Input/Field/Image/base.php
  components/ILIAS/UI/src/examples/Input/Field/Image/decorative.php
  components/ILIAS/UI/src/examples/Input/Field/Image/informative.php
  components/ILIAS/UI/src/examples/Input/Field/Image/user_defined.php
  components/ILIAS/UI/src/examples/Input/Field/Image/with_metadata.php
  components/ILIAS/UI/src/examples/Input/Field/Image/with_value.php
  components/ILIAS/UI/src/examples/Input/Field/SwitchableGroup/with_value.php
  components/ILIAS/UI/tests/Component/Input/Field/FileInputTest.php
  components/ILIAS/UI/tests/Component/Input/Field/SwitchableGroupInputTest.php
  lang/ilias_de.lang
  lang/ilias_en.lang
Labels: kitchen sink, php

#9810 Database: addForeignKey: Add `use` statement & fix sql syntax error
  Services/Database/classes/PDO/FieldDefinition/ForeignKeyConstraints.php
  Services/Database/classes/PDO/Manager/class.ilDBPdoManager.php
Labels: bugfix, php

#10039 DataCollection: fix double body in notification mail
  Modules/DataCollection/classes/class.ilDataCollectionMailNotification.php
Labels: bugfix, php
