Repository ILIAS-eLearning/ILIAS, pull requests merged in 2025-10, with the labels that each got.

#10136 CoPage: Fix fullscreen view (iframe) for media objects
  Modules/LearningModule/templates/default/tpl.fullscreen.html
Labels: bugfix, php

#9750 Mantis #45385: Truncate notifications in Survey CronJob to fit DB limit Fix
  Modules/Survey/classes/class.ilSurveyCronNotification.php
Labels: bugfix, php

#9896 Wiki: add LOM support
  components/ILIAS/ILIASObject/classes/class.ilObjectMetaDataGUI.php
  components/ILIAS/Wiki/LuceneObjectDefinition.xml
  components/ILIAS/Wiki/Setup/class.Agent.php
  components/ILIAS/Wiki/Setup/class.InitLOMForWikiMigration.php
  components/ILIAS/Wiki/classes/class.ilObjWiki.php
  components/ILIAS/Wiki/classes/class.ilObjWikiGUI.php
  components/ILIAS/Wiki/classes/class.ilWikiDataSet.php
  components/ILIAS/Wiki/classes/class.ilWikiExporter.php
Labels: improvement, php

#10189 Fix mantis #45858: Data too long for column 'c_timestamp' in table 'cmi_interaction'
  Modules/Scorm2004/classes/Setup/class.ilScorm2004DatabaseUpdateSteps.php
  Modules/Scorm2004/classes/Setup/class.ilScorm2004SetupAgent.php
Labels: bugfix, php

#10195 Fix Mantis #32511: Disabled links should not be focusable by keyboard
  Modules/Scorm2004/classes/buildRTE.php
  Modules/Scorm2004/scripts/buildrte/rte-min.js
  Modules/Scorm2004/scripts/buildrte/rte.js
  Modules/Scorm2004/scripts/rtemain/main.js
Labels: bugfix, javascript

#10168 T&A 45764: Error when recalling save url in test settings
  Modules/Test/classes/MainSettings/class.ilObjTestSettingsMainGUI.php
Labels: bugfix, php

#10198 [LTI] Fix: add doLTIAuthentication to safe commands
  components/ILIAS/Init/classes/class.ilStartUpGUI.php
Labels: bugfix, php

#10011 Remove ilOverlay
  components/ILIAS/COPage/xsl/page.xsl
  components/ILIAS/Form/templates/default/tpl.hierarchy_form_nodes.html
  components/ILIAS/Help/resources/ilHelp.js
  components/ILIAS/Notes/resources/ilNotes.js
  components/ILIAS/Rating/templates/default/tpl.rating_input.html
  components/ILIAS/Tagging/resources/ilTagging.js
  components/ILIAS/Tracking/resources/ilObjStat.js
  components/ILIAS/UIComponent/UIComponent.php
  components/ILIAS/UIComponent/resources/AdvancedSelectionList.js
  components/ILIAS/UIComponent/resources/ilOverlay.js
  components/ILIAS/YUI/ROADMAP.md
  scripts/PHPStan/Rules/NoLegacyOverlayUsagesRule.php
  scripts/PHPStan/legacy_ui.neon
  templates/default/070-components/_index.scss
  templates/default/070-components/legacy/Services/_component_table.scss
  templates/default/070-components/legacy/_component_overlay.scss
  templates/default/delos.css
Labels: improvement, php

#10187 fix typo in gitignore
  .gitignore
Labels: bugfix

#10197 UI: adjust tab dropdown expansion on click function in javascript.
  components/ILIAS/JavaScript/resources/Basic.js
Labels: bugfix

#10079 CourseReference: Also copy LP settings when copying a course reference
  Modules/CourseReference/classes/class.ilObjCourseReference.php
Labels: bugfix, php

#10211 Notifications: remove old cmds from ilNotificationGUI
  components/ILIAS/Notifications/classes/class.ilNotificationGUI.php
  components/ILIAS/Notifications/classes/ilNotificationSettingsTable.php
  components/ILIAS/Notifications/templates/default/tpl.type_line.html
Labels: improvement, php

#10212 T&A: Improve loading of test passes
  Modules/Test/classes/class.ilTestPassesSelector.php
Labels: improvement
